ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-01-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  723.9119  1404.1766  181.2057  2.0000  PL
    END-POINT  848.5520  1404.1771  181.1917  2.0000  PL
    ITEM-CODE  2032
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  849.4668  1404.1772  173.5465  1.0000  PL
    END-POINT  849.4672  1404.1772  179.8932  1.0000  PL
    ITEM-CODE  2033
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-ECCENTRIC-TEED
    END-POINT  849.4670  1404.1772  179.8932  1.0000  PL
    END-POINT  850.3820  1404.1771  181.1922  2.0000  PL
    BRANCH1-POINT  848.5520  1404.1772  181.1923  2.0000  PL
    SKEY EXFL
    ITEM-CODE  1914
    ITEM-DESCRIPTION  Tee CxCxC
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2965]
PIPE
    END-POINT  850.3820  1404.1771  181.1941  2.0000  PL
    END-POINT  928.7123  1404.1771  181.1857  2.0000  PL
    ITEM-CODE  2022
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2041]
MATERIALS
ITEM-CODE  1914
    DESCRIPTION  Tee CxCxC
ITEM-CODE  2022
    DESCRIPTION  Type L Hard Copper
ITEM-CODE  2032
ITEM-CODE  2033
