ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-01-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  866.0627  967.9148  176.4734  0.7500  PL
    END-POINT  866.0627  1099.5152  176.4734  0.7500  PL
    ITEM-CODE  2044
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  866.0627  1099.5152  176.4734  0.7500  PL
    END-POINT  866.0627  1100.5542  175.4344  0.7500  PL
    CENTRE-POINT  866.0627  1100.5542  176.4734
    SKEY ELPL
    ITEM-CODE  1929
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  866.0627  1100.5542  175.4344  0.7500  PL
    END-POINT  866.0630  1100.5542  172.9714  0.7500  PL
    ITEM-CODE  2046
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-ECCENTRIC-TEED
    END-POINT  866.0630  1100.5542  172.9714  0.7500  PL
    END-POINT  865.2190  1100.5543  172.2235  1.0000  PL
    BRANCH1-POINT  866.9070  1100.5541  172.2233  1.0000  PL
    SKEY EXFL
    ITEM-CODE  1930
    ITEM-DESCRIPTION  Tee CxCxC
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2965]
PIPE
    END-POINT  865.2190  1100.5543  172.2235  1.0000  PL
    END-POINT  830.3535  1100.5542  172.2294  1.0000  PL
    ITEM-CODE  2047
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  830.3535  1100.5542  172.2264  1.0000  PL
    END-POINT  829.0305  1101.8772  172.2267  1.0000  PL
    CENTRE-POINT  829.0305  1100.5542  172.2267
    SKEY ELPL
    ITEM-CODE  1931
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  829.0305  1101.8772  172.2267  1.0000  PL
    END-POINT  829.0305  1235.5893  172.2266  1.0000  PL
    ITEM-CODE  2048
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  949.4474  1001.7759  176.4686  0.7500  PL
    END-POINT  949.4474  1099.5152  176.4686  0.7500  PL
    ITEM-CODE  2041
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  949.4474  1099.5152  176.4686  0.7500  PL
    END-POINT  949.4474  1100.5542  175.4296  0.7500  PL
    CENTRE-POINT  949.4474  1100.5542  176.4686
    SKEY ELPL
    ITEM-CODE  1927
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  949.4474  1100.5542  175.4296  0.7500  PL
    END-POINT  949.4477  1100.5542  172.9666  0.7500  PL
    ITEM-CODE  2043
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-ECCENTRIC-TEED
    END-POINT  949.4477  1100.5542  172.9666  0.7500  PL
    END-POINT  948.6036  1100.5542  172.2186  1.0000  PL
    BRANCH1-POINT  950.2916  1100.5541  172.2185  1.0000  PL
    SKEY EXFL
    ITEM-CODE  1928
    ITEM-DESCRIPTION  Tee CxCxC
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2965]
PIPE
    END-POINT  948.6036  1100.5542  172.2186  1.0000  PL
    END-POINT  866.9070  1100.5541  172.2280  1.0000  PL
    ITEM-CODE  2045
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  1061.6110  1100.5541  172.2234  1.0000  PL
    END-POINT  950.2916  1100.5541  172.2137  1.0000  PL
    ITEM-CODE  2042
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  872.0627  975.9148  176.4729  0.7500  PL
    END-POINT  872.0627  1105.5152  176.4729  0.7500  PL
    ITEM-CODE  1881
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  872.0627  1105.5152  176.4729  0.7500  PL
    END-POINT  872.0627  1106.5542  175.4339  0.7500  PL
    CENTRE-POINT  872.0627  1106.5542  176.4729
    SKEY ELPL
    ITEM-CODE  1804
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  872.0627  1106.5542  175.4339  0.7500  PL
    END-POINT  872.0630  1106.5542  172.9708  0.7500  PL
    ITEM-CODE  1883
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-ECCENTRIC-TEED
    END-POINT  872.0630  1106.5542  172.9708  0.7500  PL
    END-POINT  871.2190  1106.5543  172.2229  1.0000  PL
    BRANCH1-POINT  872.9070  1106.5541  172.2227  1.0000  PL
    SKEY EXFL
    ITEM-CODE  1805
    ITEM-DESCRIPTION  Tee CxCxC
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2965]
PIPE
    END-POINT  871.2190  1106.5543  172.2229  1.0000  PL
    END-POINT  836.3535  1106.5542  172.2293  1.0000  PL
    ITEM-CODE  1884
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  836.3535  1106.5542  172.2261  1.0000  PL
    END-POINT  835.0305  1107.8772  172.2261  1.0000  PL
    CENTRE-POINT  835.0305  1106.5542  172.2261
    SKEY ELPL
    ITEM-CODE  1806
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  835.0305  1107.8772  172.2263  1.0000  PL
    END-POINT  835.0305  1229.5893  172.2262  1.0000  PL
    ITEM-CODE  1886
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  955.4474  1001.7759  176.4683  0.7500  PL
    END-POINT  955.4474  1105.5152  176.4683  0.7500  PL
    ITEM-CODE  1878
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  955.4474  1105.5152  176.4683  0.7500  PL
    END-POINT  955.4474  1106.5542  175.4293  0.7500  PL
    CENTRE-POINT  955.4474  1106.5542  176.4683
    SKEY ELPL
    ITEM-CODE  1802
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  955.4474  1106.5542  175.4293  0.7500  PL
    END-POINT  955.4477  1106.5542  172.9662  0.7500  PL
    ITEM-CODE  1880
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-ECCENTRIC-TEED
    END-POINT  955.4477  1106.5542  172.9662  0.7500  PL
    END-POINT  954.6036  1106.5542  172.2183  1.0000  PL
    BRANCH1-POINT  956.2916  1106.5541  172.2182  1.0000  PL
    SKEY EXFL
    ITEM-CODE  1803
    ITEM-DESCRIPTION  Tee CxCxC
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2965]
PIPE
    END-POINT  954.6036  1106.5542  172.2183  1.0000  PL
    END-POINT  872.9070  1106.5541  172.2272  1.0000  PL
    ITEM-CODE  1882
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  1067.6110  1106.5541  172.2228  1.0000  PL
    END-POINT  956.2916  1106.5541  172.2136  1.0000  PL
    ITEM-CODE  1879
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2041]
MATERIALS
ITEM-CODE  1802
    DESCRIPTION  Elbow 90 CxC Close Rough
ITEM-CODE  1803
    DESCRIPTION  Tee CxCxC
ITEM-CODE  1804
    DESCRIPTION  Elbow 90 CxC Close Rough
ITEM-CODE  1805
    DESCRIPTION  Tee CxCxC
ITEM-CODE  1806
    DESCRIPTION  Elbow 90 CxC Close Rough
ITEM-CODE  1878
    DESCRIPTION  Type L Hard Copper
ITEM-CODE  1879
ITEM-CODE  1880
ITEM-CODE  1881
ITEM-CODE  1882
ITEM-CODE  1883
ITEM-CODE  1884
ITEM-CODE  1886
ITEM-CODE  1927
    DESCRIPTION  Elbow 90 CxC Close Rough
ITEM-CODE  1928
    DESCRIPTION  Tee CxCxC
ITEM-CODE  1929
    DESCRIPTION  Elbow 90 CxC Close Rough
ITEM-CODE  1930
    DESCRIPTION  Tee CxCxC
ITEM-CODE  1931
    DESCRIPTION  Elbow 90 CxC Close Rough
ITEM-CODE  2041
    DESCRIPTION  Type L Hard Copper
ITEM-CODE  2042
ITEM-CODE  2043
ITEM-CODE  2044
ITEM-CODE  2045
ITEM-CODE  2046
ITEM-CODE  2047
ITEM-CODE  2048
