ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -887.1052  -2347.9965  2874.0000  0.7500  PL
    END-POINT  -887.1052  -2347.9965  2874.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  61
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -887.1052  -2347.9965  2874.0000  0.7500  PL
    END-POINT  -887.1052  -2332.7461  2874.0000  0.7500  PL
    ITEM-CODE  218
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -887.1052  -2332.7461  2874.0000  0.7500  PL
    END-POINT  -886.8011  -2332.0120  2874.0000  0.7500  PL
    CENTRE-POINT  -887.1052  -2332.3161  2874.0000
    SKEY ELPL
    ITEM-CODE  60
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -886.8011  -2332.0120  2874.0000  0.7500  PL
    END-POINT  -877.3243  -2322.5352  2874.0000  0.7500  PL
    ITEM-CODE  219
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -877.3243  -2322.5352  2874.0000  0.7500  PL
    END-POINT  -877.0202  -2321.8011  2874.0000  0.7500  PL
    CENTRE-POINT  -877.0202  -2322.2311  2874.0000
    SKEY ELPL
    ITEM-CODE  14
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -877.0202  -2321.8011  2874.0000  0.7500  PL
    END-POINT  -877.0202  -2295.9868  2874.0000  0.7500  PL
    ITEM-CODE  181
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -877.0202  -2295.9868  2874.0000  0.7500  PL
    END-POINT  -877.0202  -2295.4768  2874.5100  0.7500  PL
    CENTRE-POINT  -877.0202  -2295.4768  2874.0000
    SKEY ERPL
    ITEM-CODE  13
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -877.0202  -2295.4768  2874.5100  0.7500  PL
    END-POINT  -877.0202  -2295.4768  2880.8370  0.7500  PL
    ITEM-CODE  182
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC
    END-POINT  -877.0202  -2295.4768  2880.8370  1.0000  PL
    END-POINT  -877.0202  -2295.4768  2881.9470  0.7500  PL
    SKEY RCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2051]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -884.3081  -2281.8781  2882.4770  0.7500  PL
    END-POINT  -884.3081  -2281.8781  2882.4770  0.7500  PL
    SKEY KAPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -884.3081  -2281.8781  2882.4770  0.7500  PL
    END-POINT  -912.7379  -2281.8781  2882.4770  0.7500  PL
    ITEM-CODE  184
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -912.7379  -2281.8781  2882.4770  0.7500  PL
    END-POINT  -913.2479  -2282.3881  2882.4770  0.7500  PL
    CENTRE-POINT  -913.2479  -2281.8781  2882.4770
    SKEY ERPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -913.2479  -2282.3881  2882.4770  0.7500  PL
    END-POINT  -913.2479  -2294.9668  2882.4770  0.7500  PL
    ITEM-CODE  185
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -913.2479  -2294.9668  2882.4770  0.7500  PL
    END-POINT  -912.7379  -2295.4768  2882.4770  0.7500  PL
    CENTRE-POINT  -913.2479  -2295.4768  2882.4770
    SKEY ERPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -912.7379  -2295.4768  2882.4770  0.7500  PL
    END-POINT  -877.6602  -2295.4768  2882.4770  0.7500  PL
    ITEM-CODE  183
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -877.6602  -2295.4768  2882.4770  0.7500  PL
    END-POINT  -876.3902  -2295.4768  2882.4770  0.7500  PL
    CENTRE-POINT  -877.0202  -2295.4768  2882.4770
    BRANCH1-POINT  -877.0202  -2295.4768  2881.9470  1.0000  PL
    SKEY TEPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  NoWT-600 - Tee (Both Ends Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2884]
PIPE
    END-POINT  -876.3902  -2295.4768  2882.4770  0.7500  PL
    END-POINT  -802.2363  -2295.4768  2882.4770  0.7500  PL
    ITEM-CODE  256
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -802.2363  -2295.4768  2882.4770  0.7500  PL
    END-POINT  -801.7263  -2294.9668  2882.4770  0.7500  PL
    CENTRE-POINT  -801.7263  -2295.4768  2882.4770
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -801.7263  -2294.9668  2882.4770  0.7500  PL
    END-POINT  -801.7263  -2143.2923  2882.4770  0.7500  PL
    ITEM-CODE  255
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -801.7263  -2143.2923  2882.4770  0.7500  PL
    END-POINT  -801.7263  -2143.2923  2882.4770  0.7500  PL
    SKEY KAPL
    ITEM-CODE  101
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -815.2416  -1568.6868  2873.9901  2.0000  PL
    END-POINT  -815.2416  -1568.6868  2873.9901  2.0000  PL
    SKEY KAPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -815.2416  -1568.6868  2873.9901  2.0000  PL
    END-POINT  -815.2416  -1606.8588  2873.9901  2.0000  PL
    ITEM-CODE  208
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -815.2416  -1606.8588  2873.9901  2.0000  PL
    END-POINT  -815.2416  -1607.9818  2873.9901  2.0000  PL
    CENTRE-POINT  -815.2416  -1607.4188  2873.9901
    BRANCH1-POINT  -815.2416  -1607.4188  2875.1101  1.0000  PL
    SKEY TEPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -815.2416  -1607.9818  2873.9901  2.0000  PL
    END-POINT  -815.2416  -1673.5681  2873.9901  2.0000  PL
    ITEM-CODE  269
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -815.2416  -1673.5681  2873.9901  2.0000  PL
    END-POINT  -816.1962  -1674.9181  2874.9447  2.0000  PL
    CENTRE-POINT  -815.2416  -1674.9181  2873.9901
    SKEY ERPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -816.1962  -1674.9181  2874.9447  2.0000  PL
    END-POINT  -818.4678  -1674.9181  2877.2163  2.0000  PL
    ITEM-CODE  215
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -818.4678  -1674.9181  2877.2163  2.0000  PL
    END-POINT  -819.6798  -1674.9181  2877.7183  2.0000  PL
    CENTRE-POINT  -818.9698  -1674.9181  2877.7183
    SKEY ELPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -819.6798  -1674.9181  2877.7183  2.0000  PL
    END-POINT  -872.0326  -1674.9181  2877.7183  2.0000  PL
    ITEM-CODE  268
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -872.0326  -1674.9181  2877.7183  2.0000  PL
    END-POINT  -873.3826  -1676.2681  2877.7183  2.0000  PL
    CENTRE-POINT  -873.3826  -1674.9181  2877.7183
    SKEY ERPL
    ITEM-CODE  107
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -873.3826  -1676.2681  2877.7183  2.0000  PL
    END-POINT  -873.3826  -1713.6196  2877.7183  2.0000  PL
    ITEM-CODE  267
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -873.3826  -1713.6196  2877.7183  2.0000  PL
    END-POINT  -872.0326  -1714.9696  2877.7183  2.0000  PL
    CENTRE-POINT  -873.3826  -1714.9696  2877.7183
    SKEY ERPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -872.0326  -1714.9696  2877.7183  2.0000  PL
    END-POINT  -820.1861  -1714.9696  2877.7183  2.0000  PL
    ITEM-CODE  216
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -820.1861  -1714.9696  2877.7183  2.0000  PL
    END-POINT  -818.9741  -1714.9696  2877.2163  2.0000  PL
    CENTRE-POINT  -819.4761  -1714.9696  2877.7183
    SKEY ELPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -818.9741  -1714.9696  2877.2163  2.0000  PL
    END-POINT  -816.7025  -1714.9696  2874.9447  2.0000  PL
    ITEM-CODE  217
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -816.7025  -1714.9696  2874.9447  2.0000  PL
    END-POINT  -815.7479  -1716.3196  2873.9901  2.0000  PL
    CENTRE-POINT  -815.7479  -1714.9696  2873.9901
    SKEY ERPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -815.7479  -1716.3196  2873.9901  2.0000  PL
    END-POINT  -815.7479  -1816.1418  2873.9901  2.0000  PL
    ITEM-CODE  213
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -815.7479  -1816.1418  2873.9901  2.0000  PL
    END-POINT  -815.7479  -1816.9998  2873.9901  2.0000  PL
    CENTRE-POINT  -815.7479  -1816.5618  2873.9901
    BRANCH1-POINT  -815.7479  -1816.5618  2875.0901  0.7500  PL
    SKEY TEPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -815.7479  -1816.9998  2873.9901  2.0000  PL
    END-POINT  -815.7479  -1953.6912  2873.9901  2.0000  PL
    ITEM-CODE  266
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -815.2416  -1607.4188  2875.1101  1.0000  PL
    END-POINT  -815.2416  -1607.4188  2878.6081  1.0000  PL
    ITEM-CODE  209
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -815.2416  -1607.4188  2878.6081  1.0000  PL
    END-POINT  -815.9316  -1607.4188  2879.2981  1.0000  PL
    CENTRE-POINT  -815.2416  -1607.4188  2879.2981
    SKEY ERPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -815.9316  -1607.4188  2879.2981  1.0000  PL
    END-POINT  -961.8167  -1607.4188  2879.2981  1.0000  PL
    ITEM-CODE  207
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -961.8167  -1607.4188  2879.2981  1.0000  PL
    END-POINT  -962.5067  -1607.4188  2878.6081  1.0000  PL
    CENTRE-POINT  -962.5067  -1607.4188  2879.2981
    SKEY ERPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -962.5067  -1607.4188  2878.6081  1.0000  PL
    END-POINT  -962.5067  -1607.4188  2872.6900  1.0000  PL
    ITEM-CODE  201
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -962.5067  -1607.4188  2872.6900  1.0000  PL
    END-POINT  -963.1967  -1607.4188  2872.0000  1.0000  PL
    CENTRE-POINT  -962.5067  -1607.4188  2872.0000
    SKEY ERPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -963.1967  -1607.4188  2872.0000  1.0000  PL
    END-POINT  -1037.5250  -1607.4188  2872.0000  1.0000  PL
    ITEM-CODE  202
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1037.5250  -1607.4188  2872.0000  1.0000  PL
    END-POINT  -1038.4660  -1607.4188  2872.0000  1.0000  PL
    CENTRE-POINT  -1037.9950  -1607.4188  2872.0000
    BRANCH1-POINT  -1037.9950  -1607.4188  2872.6300  0.7500  PL
    SKEY TEPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1038.4660  -1607.4188  2872.0000  1.0000  PL
    END-POINT  -1073.8443  -1607.4188  2872.0000  1.0000  PL
    ITEM-CODE  190
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  -1073.8443  -1607.4188  2872.0000  1.0000  PL
    END-POINT  -1075.4953  -1607.4188  2872.0000  0.7500  PL
    BRANCH1-POINT  -1074.3043  -1607.4188  2871.3400  0.7500  PL
    SKEY CTFL
    ITEM-CODE  26
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1075.4953  -1607.4188  2872.0000  0.7500  PL
    END-POINT  -1250.1594  -1607.4188  2872.0000  0.7500  PL
    ITEM-CODE  205
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1250.1594  -1607.4188  2872.0000  0.7500  PL
    END-POINT  -1250.6694  -1607.9288  2872.0000  0.7500  PL
    CENTRE-POINT  -1250.6694  -1607.4188  2872.0000
    SKEY ERPL
    ITEM-CODE  44
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1250.6694  -1607.9288  2872.0000  0.7500  PL
    END-POINT  -1250.6694  -1643.0174  2872.0000  0.7500  PL
    ITEM-CODE  204
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1250.6694  -1643.0174  2872.0000  0.7500  PL
    END-POINT  -1250.6694  -1643.5274  2871.4900  0.7500  PL
    CENTRE-POINT  -1250.6694  -1643.5274  2872.0000
    SKEY ERPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -815.7479  -1816.5618  2875.0901  0.7500  PL
    END-POINT  -815.7479  -1816.5618  2878.4900  0.7500  PL
    ITEM-CODE  214
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -815.7479  -1816.5618  2878.4900  0.7500  PL
    END-POINT  -816.2579  -1816.5618  2879.0000  0.7500  PL
    CENTRE-POINT  -815.7479  -1816.5618  2879.0000
    SKEY ERPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -816.2579  -1816.5618  2879.0000  0.7500  PL
    END-POINT  -838.8768  -1816.5618  2879.0000  0.7500  PL
    ITEM-CODE  212
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -838.8768  -1816.5618  2879.0000  0.7500  PL
    END-POINT  -839.3868  -1816.0518  2879.0000  0.7500  PL
    CENTRE-POINT  -839.3868  -1816.5618  2879.0000
    SKEY ERPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -839.3868  -1816.0518  2879.0000  0.7500  PL
    END-POINT  -839.3868  -1809.4935  2879.0000  0.7500  PL
    ITEM-CODE  211
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -839.3868  -1809.4935  2879.0000  0.7500  PL
    END-POINT  -839.8968  -1808.9835  2879.0000  0.7500  PL
    CENTRE-POINT  -839.3868  -1808.9835  2879.0000
    SKEY ERPL
    ITEM-CODE  48
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -839.8968  -1808.9835  2879.0000  0.7500  PL
    END-POINT  -900.4066  -1808.9835  2879.0000  0.7500  PL
    ITEM-CODE  210
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -900.4066  -1808.9835  2879.0000  0.7500  PL
    END-POINT  -900.4066  -1808.9835  2879.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -1037.9950  -1607.4188  2872.6300  0.7500  PL
    END-POINT  -1037.9950  -1607.4188  2890.4900  0.7500  PL
    ITEM-CODE  191
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1037.9950  -1607.4188  2890.4900  0.7500  PL
    END-POINT  -1037.9950  -1607.9288  2891.0000  0.7500  PL
    CENTRE-POINT  -1037.9950  -1607.4188  2891.0000
    SKEY ERPL
    ITEM-CODE  24
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1037.9950  -1607.9288  2891.0000  0.7500  PL
    END-POINT  -1037.9950  -1810.1548  2891.0000  0.7500  PL
    ITEM-CODE  189
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1037.9950  -1810.1548  2891.0000  0.7500  PL
    END-POINT  -1037.9950  -1810.6648  2890.4900  0.7500  PL
    CENTRE-POINT  -1037.9950  -1810.6648  2891.0000
    SKEY ERPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1037.9950  -1810.6648  2890.4900  0.7500  PL
    END-POINT  -1037.9950  -1810.6648  2868.5100  0.7500  PL
    ITEM-CODE  187
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1037.9950  -1810.6648  2868.5100  0.7500  PL
    END-POINT  -1037.4850  -1810.6648  2868.0000  0.7500  PL
    CENTRE-POINT  -1037.9950  -1810.6648  2868.0000
    SKEY ERPL
    ITEM-CODE  22
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1037.4850  -1810.6648  2868.0000  0.7500  PL
    END-POINT  -1024.0491  -1810.6648  2868.0000  0.7500  PL
    ITEM-CODE  188
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -1024.0491  -1810.6648  2868.0000  0.7500  PL
    END-POINT  -1024.0491  -1810.6648  2868.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  23
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -1074.3043  -1607.4188  2871.3400  0.7500  PL
    END-POINT  -1074.3043  -1607.4188  2868.6485  0.7500  PL
    ITEM-CODE  206
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1074.3043  -1607.4188  2868.6485  0.7500  PL
    END-POINT  -1074.3043  -1607.9288  2868.1385  0.7500  PL
    CENTRE-POINT  -1074.3043  -1607.4188  2868.1385
    SKEY ERPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1074.3043  -1607.9288  2868.1385  0.7500  PL
    END-POINT  -1074.3043  -1642.4119  2868.1385  0.7500  PL
    ITEM-CODE  203
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1074.3043  -1642.4119  2868.1385  0.7500  PL
    END-POINT  -1074.3043  -1642.9219  2867.6285  0.7500  PL
    CENTRE-POINT  -1074.3043  -1642.9219  2868.1385
    SKEY ERPL
    ITEM-CODE  39
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -1504.9139  -2297.4581  2863.5000  2.0000  PL
    END-POINT  -1504.9139  -2297.4581  2863.5000  2.0000  PL
    SKEY KAPL
    ITEM-CODE  64
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
ELBOW-REDUCING
    END-POINT  -1504.9139  -2296.2446  2863.5000  2.0000  PL
    END-POINT  -1504.9139  -2294.8946  2864.8500  2.0000  PL
    CENTRE-POINT  -1504.9139  -2294.8946  2863.5000
    SKEY ERPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1504.9139  -2294.8946  2864.8500  2.0000  PL
    END-POINT  -1504.9139  -2294.8946  2884.0723  2.0000  PL
    ITEM-CODE  220
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1504.9139  -2294.8946  2884.0723  2.0000  PL
    END-POINT  -1504.9139  -2293.5446  2885.4223  2.0000  PL
    CENTRE-POINT  -1504.9139  -2294.8946  2885.4223
    SKEY ERPL
    ITEM-CODE  62
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1504.9139  -2293.5446  2885.4223  2.0000  PL
    END-POINT  -1504.9139  -2264.3438  2885.4223  2.0000  PL
    ITEM-CODE  222
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -1074.3043  -1642.9219  2867.0685  0.7500  PL
    END-POINT  -1074.3043  -1642.9219  2867.0685  0.7500  PL
    SKEY KAPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -1250.6694  -1643.5274  2870.9300  0.7500  PL
    END-POINT  -1250.6694  -1643.5274  2870.9300  0.7500  PL
    SKEY KAPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -1049.4996  -2069.8496  2870.9780  0.7500  PL
    END-POINT  -1049.4996  -2069.8496  2870.9780  0.7500  PL
    SKEY KAPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -1049.4996  -2069.8496  2870.9780  0.7500  PL
    END-POINT  -1049.4996  -2069.8496  2886.6127  0.7500  PL
    ITEM-CODE  232
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1049.4996  -2069.8496  2886.6127  0.7500  PL
    END-POINT  -1048.9896  -2069.8496  2887.1227  0.7500  PL
    CENTRE-POINT  -1049.4996  -2069.8496  2887.1227
    SKEY ERPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1048.9896  -2069.8496  2887.1227  0.7500  PL
    END-POINT  -1019.3537  -2069.8496  2887.1227  0.7500  PL
    ITEM-CODE  233
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1019.3537  -2069.8496  2887.1227  0.7500  PL
    END-POINT  -1018.8437  -2069.3396  2887.1227  0.7500  PL
    CENTRE-POINT  -1018.8437  -2069.8496  2887.1227
    SKEY ERPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1018.8437  -2069.3396  2887.1227  0.7500  PL
    END-POINT  -1018.8437  -2017.7919  2887.1227  0.7500  PL
    ITEM-CODE  235
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1018.8437  -2017.7919  2887.1227  0.7500  PL
    END-POINT  -1018.8437  -2017.2819  2886.6127  0.7500  PL
    CENTRE-POINT  -1018.8437  -2017.2819  2887.1227
    SKEY ERPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1018.8437  -2017.2819  2886.6127  0.7500  PL
    END-POINT  -1018.8437  -2017.2819  2883.6000  0.7500  PL
    ITEM-CODE  234
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
COUPLING
    END-POINT  -815.7479  -1961.6912  2873.9901  2.0000  PL
    END-POINT  -815.7479  -1961.8612  2873.9901  2.0000  PL
    SKEY COCP
    ITEM-CODE  265
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -815.7479  -1961.8612  2873.9901  2.0000  PL
    END-POINT  -815.7479  -2015.9319  2873.9901  2.0000  PL
    ITEM-CODE  264
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -815.7479  -2015.9319  2873.9901  2.0000  PL
    END-POINT  -816.7025  -2017.2819  2874.9447  2.0000  PL
    CENTRE-POINT  -815.7479  -2017.2819  2873.9901
    SKEY ERPL
    ITEM-CODE  106
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -816.7025  -2017.2819  2874.9447  2.0000  PL
    END-POINT  -823.7558  -2017.2819  2881.9980  2.0000  PL
    ITEM-CODE  263
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -823.7558  -2017.2819  2881.9980  2.0000  PL
    END-POINT  -824.9678  -2017.2819  2882.5000  2.0000  PL
    CENTRE-POINT  -824.2578  -2017.2819  2882.5000
    SKEY ELPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -824.9678  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -856.6588  -2017.2819  2882.5000  2.0000  PL
    ITEM-CODE  260
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -856.6588  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -857.7818  -2017.2819  2882.5000  2.0000  PL
    CENTRE-POINT  -857.2188  -2017.2819  2882.5000
    BRANCH1-POINT  -857.2188  -2017.2819  2883.6200  1.0000  PL
    SKEY TEPL
    ITEM-CODE  105
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -857.7818  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1018.4237  -2017.2819  2882.5000  2.0000  PL
    ITEM-CODE  261
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1018.4237  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1019.2817  -2017.2819  2882.5000  2.0000  PL
    CENTRE-POINT  -1018.8437  -2017.2819  2882.5000
    BRANCH1-POINT  -1018.8437  -2017.2819  2883.6000  0.7500  PL
    SKEY TEPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1019.2817  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1100.1449  -2017.2819  2882.5000  2.0000  PL
    ITEM-CODE  226
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1100.1449  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1101.0029  -2017.2819  2882.5000  2.0000  PL
    CENTRE-POINT  -1100.5649  -2017.2819  2882.5000
    BRANCH1-POINT  -1100.5649  -2016.1819  2882.5000  0.7500  PL
    SKEY TEPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1101.0029  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1114.7850  -2017.2819  2882.5000  2.0000  PL
    ITEM-CODE  237
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1114.7850  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1115.6430  -2017.2819  2882.5000  2.0000  PL
    CENTRE-POINT  -1115.2050  -2017.2819  2882.5000
    BRANCH1-POINT  -1115.2050  -2017.2819  2883.6000  0.7500  PL
    SKEY TEPL
    ITEM-CODE  11
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1115.6430  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1208.8135  -2017.2819  2882.5000  2.0000  PL
    ITEM-CODE  179
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1208.8135  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1209.6715  -2017.2819  2882.5000  2.0000  PL
    CENTRE-POINT  -1209.2335  -2017.2819  2882.5000
    BRANCH1-POINT  -1209.2335  -2017.2819  2883.6000  0.7500  PL
    SKEY TEPL
    ITEM-CODE  12
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1209.6715  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1284.8308  -2017.2819  2882.5000  2.0000  PL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1284.8308  -2017.2819  2882.5000  2.0000  PL
    END-POINT  -1286.0428  -2017.2819  2881.9980  2.0000  PL
    CENTRE-POINT  -1285.5408  -2017.2819  2882.5000
    SKEY ELPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1286.0428  -2017.2819  2881.9980  2.0000  PL
    END-POINT  -1287.7120  -2017.2819  2880.3288  2.0000  PL
    ITEM-CODE  225
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1287.7120  -2017.2819  2880.3288  2.0000  PL
    END-POINT  -1288.9240  -2017.2819  2879.8268  2.0000  PL
    CENTRE-POINT  -1288.2140  -2017.2819  2879.8268
    SKEY ELPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1288.9240  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1388.2184  -2017.2819  2879.8268  2.0000  PL
    ITEM-CODE  245
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1388.2184  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1389.0764  -2017.2819  2879.8268  2.0000  PL
    CENTRE-POINT  -1388.6384  -2017.2819  2879.8268
    BRANCH1-POINT  -1388.6384  -2017.2819  2878.7268  0.7500  PL
    SKEY TEPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1389.0764  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1427.1396  -2017.2819  2879.8268  2.0000  PL
    ITEM-CODE  198
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1427.1396  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1427.9976  -2017.2819  2879.8268  2.0000  PL
    CENTRE-POINT  -1427.5596  -2017.2819  2879.8268
    BRANCH1-POINT  -1427.5596  -2017.2819  2878.7268  0.7500  PL
    SKEY TEPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1427.9976  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1486.0886  -2017.2819  2879.8268  2.0000  PL
    ITEM-CODE  199
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1486.0886  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1486.9466  -2017.2819  2879.8268  2.0000  PL
    CENTRE-POINT  -1486.5086  -2017.2819  2879.8268
    BRANCH1-POINT  -1486.5086  -2017.2819  2880.9268  0.7500  PL
    SKEY TEPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1486.9466  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1503.5239  -2017.2819  2879.8268  2.0000  PL
    ITEM-CODE  240
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1503.5239  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1506.3039  -2017.2819  2879.8268  2.0000  PL
    CENTRE-POINT  -1504.9139  -2017.2819  2879.8268
    BRANCH1-POINT  -1504.9139  -2017.2819  2880.9968  2.5000  PL
    SKEY TEPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  NoWT-600 - Tee (Both Ends Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2884]
PIPE
    END-POINT  -1506.3039  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1532.9710  -2017.2819  2879.8268  2.0000  PL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -857.2188  -2017.2819  2883.6200  1.0000  PL
    END-POINT  -857.2188  -2017.2819  2889.0600  1.0000  PL
    ITEM-CODE  262
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -857.2188  -2017.2819  2889.0600  1.0000  PL
    END-POINT  -857.2188  -2017.9719  2889.7500  1.0000  PL
    CENTRE-POINT  -857.2188  -2017.2819  2889.7500
    SKEY ERPL
    ITEM-CODE  103
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -857.2188  -2017.9719  2889.7500  1.0000  PL
    END-POINT  -857.2188  -2101.2519  2889.7500  1.0000  PL
    ITEM-CODE  259
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -857.2188  -2101.2519  2889.7500  1.0000  PL
    END-POINT  -857.2188  -2102.1929  2889.7500  1.0000  PL
    CENTRE-POINT  -857.2188  -2101.7219  2889.7500
    BRANCH1-POINT  -857.2188  -2101.7219  2889.1200  0.7500  PL
    SKEY TEPL
    ITEM-CODE  94
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -857.2188  -2102.1929  2889.7500  1.0000  PL
    END-POINT  -857.2188  -2116.4463  2889.7500  1.0000  PL
    ITEM-CODE  251
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -857.2188  -2116.4463  2889.7500  1.0000  PL
    END-POINT  -857.2188  -2117.1363  2889.0600  1.0000  PL
    CENTRE-POINT  -857.2188  -2117.1363  2889.7500
    SKEY ERPL
    ITEM-CODE  95
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -857.2188  -2117.1363  2889.0600  1.0000  PL
    END-POINT  -857.2188  -2117.1363  2883.1670  1.0000  PL
    ITEM-CODE  257
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -857.2188  -2117.1363  2883.1670  1.0000  PL
    END-POINT  -856.5288  -2117.1363  2882.4770  1.0000  PL
    CENTRE-POINT  -857.2188  -2117.1363  2882.4770
    SKEY ERPL
    ITEM-CODE  102
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -856.5288  -2117.1363  2882.4770  1.0000  PL
    END-POINT  -802.4163  -2117.1363  2882.4770  1.0000  PL
    ITEM-CODE  258
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -802.4163  -2117.1363  2882.4770  1.0000  PL
    END-POINT  -801.7263  -2117.8263  2882.4770  1.0000  PL
    CENTRE-POINT  -801.7263  -2117.1363  2882.4770
    SKEY ERPL
    ITEM-CODE  98
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -801.7263  -2117.8263  2882.4770  1.0000  PL
    END-POINT  -801.7263  -2141.3413  2882.4770  1.0000  PL
    ITEM-CODE  254
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -801.7263  -2141.3413  2882.4770  1.0000  PL
    END-POINT  -801.7263  -2141.3413  2882.4770  1.0000  PL
    SKEY KAPL
    ITEM-CODE  99
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -1100.5649  -2016.1819  2882.5000  0.7500  PL
    END-POINT  -1100.5649  -1953.2480  2882.5000  0.7500  PL
    ITEM-CODE  227
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1100.5649  -1953.2480  2882.5000  0.7500  PL
    END-POINT  -1100.5649  -1952.7380  2881.9900  0.7500  PL
    CENTRE-POINT  -1100.5649  -1952.7380  2882.5000
    SKEY ERPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1115.2050  -2017.2819  2883.6000  0.7500  PL
    END-POINT  -1115.2050  -2017.2819  2886.6127  0.7500  PL
    ITEM-CODE  231
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1115.2050  -2017.2819  2886.6127  0.7500  PL
    END-POINT  -1115.2050  -2017.7919  2887.1227  0.7500  PL
    CENTRE-POINT  -1115.2050  -2017.2819  2887.1227
    SKEY ERPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1115.2050  -2017.7919  2887.1227  0.7500  PL
    END-POINT  -1115.2050  -2063.6193  2887.1227  0.7500  PL
    ITEM-CODE  228
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1115.2050  -2063.6193  2887.1227  0.7500  PL
    END-POINT  -1114.6950  -2064.1293  2887.1227  0.7500  PL
    CENTRE-POINT  -1115.2050  -2064.1293  2887.1227
    SKEY ERPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1114.6950  -2064.1293  2887.1227  0.7500  PL
    END-POINT  -1094.6307  -2064.1293  2887.1227  0.7500  PL
    ITEM-CODE  230
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1094.6307  -2064.1293  2887.1227  0.7500  PL
    END-POINT  -1094.1207  -2064.1293  2886.6127  0.7500  PL
    CENTRE-POINT  -1094.1207  -2064.1293  2887.1227
    SKEY ERPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1094.1207  -2064.1293  2886.6127  0.7500  PL
    END-POINT  -1094.1207  -2064.1293  2880.6323  0.7500  PL
    ITEM-CODE  229
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -1094.1207  -2064.1293  2880.6323  0.7500  PL
    END-POINT  -1094.1207  -2064.1293  2880.6323  0.7500  PL
    SKEY KAPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -1209.2335  -2017.2819  2883.6000  0.7500  PL
    END-POINT  -1209.2335  -2017.2819  2889.9900  0.7500  PL
    ITEM-CODE  180
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1209.2335  -2017.2819  2889.9900  0.7500  PL
    END-POINT  -1209.2335  -2017.7919  2890.5000  0.7500  PL
    CENTRE-POINT  -1209.2335  -2017.2819  2890.5000
    SKEY ERPL
    ITEM-CODE  10
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1209.2335  -2017.7919  2890.5000  0.7500  PL
    END-POINT  -1209.2335  -2063.6912  2890.5000  0.7500  PL
    ITEM-CODE  178
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1209.2335  -2063.6912  2890.5000  0.7500  PL
    END-POINT  -1209.2335  -2064.2012  2889.9900  0.7500  PL
    CENTRE-POINT  -1209.2335  -2064.2012  2890.5000
    SKEY ERPL
    ITEM-CODE  7
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1209.2335  -2064.2012  2889.9900  0.7500  PL
    END-POINT  -1209.2335  -2064.2012  2867.5100  0.7500  PL
    ITEM-CODE  176
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1209.2335  -2064.2012  2867.5100  0.7500  PL
    END-POINT  -1208.7235  -2064.2012  2867.0000  0.7500  PL
    CENTRE-POINT  -1209.2335  -2064.2012  2867.0000
    SKEY ERPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1208.7235  -2064.2012  2867.0000  0.7500  PL
    END-POINT  -1190.7939  -2064.2012  2867.0000  0.7500  PL
    ITEM-CODE  177
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -1190.7939  -2064.2012  2867.0000  0.7500  PL
    END-POINT  -1190.7939  -2064.2012  2867.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  9
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -1388.6384  -2017.2819  2878.7268  0.7500  PL
    END-POINT  -1388.6384  -2017.2819  2874.3368  0.7500  PL
    ITEM-CODE  244
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1388.6384  -2017.2819  2874.3368  0.7500  PL
    END-POINT  -1388.6384  -2017.7919  2873.8268  0.7500  PL
    CENTRE-POINT  -1388.6384  -2017.2819  2873.8268
    SKEY ERPL
    ITEM-CODE  87
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1388.6384  -2017.7919  2873.8268  0.7500  PL
    END-POINT  -1388.6384  -2063.3675  2873.8268  0.7500  PL
    ITEM-CODE  243
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1388.6384  -2063.3675  2873.8268  0.7500  PL
    END-POINT  -1388.1284  -2063.8775  2873.8268  0.7500  PL
    CENTRE-POINT  -1388.6384  -2063.8775  2873.8268
    SKEY ERPL
    ITEM-CODE  86
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1388.1284  -2063.8775  2873.8268  0.7500  PL
    END-POINT  -1350.4405  -2063.8775  2873.8268  0.7500  PL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1350.4405  -2063.8775  2873.8268  0.7500  PL
    END-POINT  -1349.9305  -2063.8775  2873.3168  0.7500  PL
    CENTRE-POINT  -1349.9305  -2063.8775  2873.8268
    SKEY ERPL
    ITEM-CODE  58
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1427.5596  -2017.2819  2878.7268  0.7500  PL
    END-POINT  -1427.5596  -2017.2819  2862.5100  0.7500  PL
    ITEM-CODE  200
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1427.5596  -2017.2819  2862.5100  0.7500  PL
    END-POINT  -1427.5596  -2016.7719  2862.0000  0.7500  PL
    CENTRE-POINT  -1427.5596  -2017.2819  2862.0000
    SKEY ERPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1427.5596  -2016.7719  2862.0000  0.7500  PL
    END-POINT  -1427.5596  -1860.9133  2862.0000  0.7500  PL
    ITEM-CODE  197
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1427.5596  -1860.9133  2862.0000  0.7500  PL
    END-POINT  -1428.0696  -1860.4033  2862.0000  0.7500  PL
    CENTRE-POINT  -1427.5596  -1860.4033  2862.0000
    SKEY ERPL
    ITEM-CODE  32
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1428.0696  -1860.4033  2862.0000  0.7500  PL
    END-POINT  -1470.0885  -1860.4033  2862.0000  0.7500  PL
    ITEM-CODE  196
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1470.0885  -1860.4033  2862.0000  0.7500  PL
    END-POINT  -1470.5985  -1859.8933  2862.0000  0.7500  PL
    CENTRE-POINT  -1470.5985  -1860.4033  2862.0000
    SKEY ERPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1470.5985  -1859.8933  2862.0000  0.7500  PL
    END-POINT  -1470.5985  -1813.8814  2862.0000  0.7500  PL
    ITEM-CODE  195
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1470.5985  -1813.8814  2862.0000  0.7500  PL
    END-POINT  -1471.1085  -1813.3714  2862.0000  0.7500  PL
    CENTRE-POINT  -1470.5985  -1813.3714  2862.0000
    SKEY ERPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1471.1085  -1813.3714  2862.0000  0.7500  PL
    END-POINT  -1522.9177  -1813.3714  2862.0000  0.7500  PL
    ITEM-CODE  194
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1522.9177  -1813.3714  2862.0000  0.7500  PL
    END-POINT  -1523.4277  -1812.8614  2862.0000  0.7500  PL
    CENTRE-POINT  -1523.4277  -1813.3714  2862.0000
    SKEY ERPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1523.4277  -1812.8614  2862.0000  0.7500  PL
    END-POINT  -1523.4277  -1768.2283  2862.0000  0.7500  PL
    ITEM-CODE  192
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1523.4277  -1768.2283  2862.0000  0.7500  PL
    END-POINT  -1522.9177  -1767.7183  2862.0000  0.7500  PL
    CENTRE-POINT  -1523.4277  -1767.7183  2862.0000
    SKEY ERPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1522.9177  -1767.7183  2862.0000  0.7500  PL
    END-POINT  -1515.0360  -1767.7183  2862.0000  0.7500  PL
    ITEM-CODE  193
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -1515.0360  -1767.7183  2862.0000  0.7500  PL
    END-POINT  -1515.0360  -1767.7183  2862.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -1486.5086  -2017.2819  2880.9268  0.7500  PL
    END-POINT  -1486.5086  -2017.2819  2885.3168  0.7500  PL
    ITEM-CODE  241
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1486.5086  -2017.2819  2885.3168  0.7500  PL
    END-POINT  -1486.5086  -2017.7919  2885.8268  0.7500  PL
    CENTRE-POINT  -1486.5086  -2017.2819  2885.8268
    SKEY ERPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1486.5086  -2017.7919  2885.8268  0.7500  PL
    END-POINT  -1486.5086  -2063.0997  2885.8268  0.7500  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1486.5086  -2063.0997  2885.8268  0.7500  PL
    END-POINT  -1485.9986  -2063.6097  2885.8268  0.7500  PL
    CENTRE-POINT  -1486.5086  -2063.6097  2885.8268
    SKEY ERPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1485.9986  -2063.6097  2885.8268  0.7500  PL
    END-POINT  -1480.6005  -2063.6097  2885.8268  0.7500  PL
    ITEM-CODE  239
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1480.6005  -2063.6097  2885.8268  0.7500  PL
    END-POINT  -1480.0905  -2063.6097  2885.3168  0.7500  PL
    CENTRE-POINT  -1480.0905  -2063.6097  2885.8268
    SKEY ERPL
    ITEM-CODE  66
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1480.0905  -2063.6097  2885.3168  0.7500  PL
    END-POINT  -1480.0905  -2063.6097  2866.3072  0.7500  PL
    ITEM-CODE  224
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -1480.0905  -2063.6097  2866.3072  0.7500  PL
    END-POINT  -1480.0905  -2063.6097  2866.3072  0.7500  PL
    SKEY KAPL
    ITEM-CODE  67
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2060]
REDUCER-CONCENTRIC
    END-POINT  -1504.9139  -2017.2819  2880.9968  2.5000  PL
    END-POINT  -1504.9139  -2017.2819  2883.0368  2.0000  PL
    SKEY RCPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -857.2188  -2101.7219  2889.1200  0.7500  PL
    END-POINT  -857.2188  -2101.7219  2882.5100  0.7500  PL
    ITEM-CODE  252
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -857.2188  -2101.7219  2882.5100  0.7500  PL
    END-POINT  -857.7288  -2101.7219  2882.0000  0.7500  PL
    CENTRE-POINT  -857.2188  -2101.7219  2882.0000
    SKEY ERPL
    ITEM-CODE  96
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -857.7288  -2101.7219  2882.0000  0.7500  PL
    END-POINT  -911.2535  -2101.7219  2882.0000  0.7500  PL
    ITEM-CODE  253
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -911.2535  -2101.7219  2882.0000  0.7500  PL
    END-POINT  -911.2535  -2101.7219  2882.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -816.8098  -2173.3296  2876.0000  0.7500  PL
    END-POINT  -816.8098  -2173.3296  2876.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  90
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -816.8098  -2173.3296  2876.0000  0.7500  PL
    END-POINT  -807.4724  -2173.3296  2876.0000  0.7500  PL
    ITEM-CODE  247
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -807.4724  -2173.3296  2876.0000  0.7500  PL
    END-POINT  -806.9624  -2172.8196  2876.0000  0.7500  PL
    CENTRE-POINT  -806.9624  -2173.3296  2876.0000
    SKEY ERPL
    ITEM-CODE  89
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -806.9624  -2172.8196  2876.0000  0.7500  PL
    END-POINT  -806.9624  -2142.7283  2876.0000  0.7500  PL
    ITEM-CODE  248
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -806.9624  -2142.7283  2876.0000  0.7500  PL
    END-POINT  -806.4524  -2142.2183  2876.0000  0.7500  PL
    CENTRE-POINT  -806.9624  -2142.2183  2876.0000
    SKEY ERPL
    ITEM-CODE  91
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -806.4524  -2142.2183  2876.0000  0.7500  PL
    END-POINT  -802.2363  -2142.2183  2876.0000  0.7500  PL
    ITEM-CODE  250
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -802.2363  -2142.2183  2876.0000  0.7500  PL
    END-POINT  -801.7263  -2142.2183  2876.5100  0.7500  PL
    CENTRE-POINT  -801.7263  -2142.2183  2876.0000
    SKEY ERPL
    ITEM-CODE  93
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -801.7263  -2142.2183  2876.5100  0.7500  PL
    END-POINT  -801.7263  -2142.2183  2881.6980  0.7500  PL
    ITEM-CODE  249
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -801.7263  -2142.2183  2881.6980  0.7500  PL
    END-POINT  -801.7263  -2142.2183  2881.6980  0.7500  PL
    SKEY KAPL
    ITEM-CODE  92
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -1349.9305  -2063.8775  2872.7568  0.7500  PL
    END-POINT  -1349.9305  -2063.8775  2872.7568  0.7500  PL
    SKEY KAPL
    ITEM-CODE  59
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
ELBOW-REDUCING
    END-POINT  -1504.9139  -2017.2819  2884.0723  2.0000  PL
    END-POINT  -1504.9139  -2018.6319  2885.4223  2.0000  PL
    CENTRE-POINT  -1504.9139  -2017.2819  2885.4223
    SKEY ERPL
    ITEM-CODE  65
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1504.9139  -2018.6319  2885.4223  2.0000  PL
    END-POINT  -1504.9139  -2052.3277  2885.4223  2.0000  PL
    ITEM-CODE  223
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
VALVE
    END-POINT  -1504.9139  -2052.3277  2885.4223  2.0000  PL
    END-POINT  -1504.9139  -2055.0377  2885.4223  2.0000  PL
    CENTRE-POINT  -1504.9139  -2053.6827  2885.4223
    SKEY VVPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  No9212 - Ball Valve (SLD)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[868]
PIPE
    END-POINT  -1504.9139  -2055.0377  2885.4223  2.0000  PL
    END-POINT  -1504.9139  -2256.1738  2885.4223  2.0000  PL
    ITEM-CODE  186
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1504.9139  -2256.1738  2885.4223  2.0000  PL
    END-POINT  -1504.9139  -2256.3438  2885.4223  2.0000  PL
    SKEY COCP
    ITEM-CODE  221
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -1506.3044  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1506.3044  -2017.2819  2879.8268  2.0000  PL
    SKEY KAPL
    ITEM-CODE  88
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
CAP
    END-POINT  -1100.5649  -1952.7380  2881.4300  0.7500  PL
    END-POINT  -1100.5649  -1952.7380  2881.4300  0.7500  PL
    SKEY KAPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2060]
MATERIALS
ITEM-CODE  7
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  8
ITEM-CODE  9
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  10
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  11
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  12
ITEM-CODE  13
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  14
    DESCRIPTION  NoWE-504 - Elbow 45 (C)
ITEM-CODE  15
    DESCRIPTION  NoWT-600 - Tee (Both Ends Red-C)
ITEM-CODE  16
    DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
ITEM-CODE  17
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  18
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  19
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  20
    DESCRIPTION  No9212 - Ball Valve (SLD)
ITEM-CODE  21
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  22
ITEM-CODE  23
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  24
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  25
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  26
ITEM-CODE  27
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  28
ITEM-CODE  29
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  30
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  31
ITEM-CODE  32
ITEM-CODE  33
ITEM-CODE  34
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  35
ITEM-CODE  36
ITEM-CODE  37
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  38
ITEM-CODE  39
ITEM-CODE  40
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  41
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  42
ITEM-CODE  43
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  44
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  45
ITEM-CODE  46
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  47
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  48
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  49
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  50
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  51
ITEM-CODE  52
ITEM-CODE  53
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  54
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  55
    DESCRIPTION  NoWE-504 - Elbow 45 (C)
ITEM-CODE  56
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  57
    DESCRIPTION  NoWE-504 - Elbow 45 (C)
ITEM-CODE  58
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  59
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  60
    DESCRIPTION  NoWE-504 - Elbow 45 (C)
ITEM-CODE  61
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  62
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  63
ITEM-CODE  64
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  65
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  66
ITEM-CODE  67
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  68
    DESCRIPTION  NoWE-504 - Elbow 45 (C)
ITEM-CODE  69
ITEM-CODE  70
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  71
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  72
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  73
ITEM-CODE  74
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  75
ITEM-CODE  76
ITEM-CODE  77
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  78
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  79
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  80
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  81
ITEM-CODE  82
ITEM-CODE  83
ITEM-CODE  84
    DESCRIPTION  NoWT-600 - Tee (Both Ends Red-C)
ITEM-CODE  85
    DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
ITEM-CODE  86
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  87
ITEM-CODE  88
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  89
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  90
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  91
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  92
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  93
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  94
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  95
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  96
ITEM-CODE  97
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  98
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  99
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  100
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  101
    DESCRIPTION  NoWC-415 - Cap (C)
ITEM-CODE  102
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  103
ITEM-CODE  104
    DESCRIPTION  NoWE-504 - Elbow 45 (C)
ITEM-CODE  105
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  106
    DESCRIPTION  NoWE-500 - Elbow 90 (C)
ITEM-CODE  107
ITEM-CODE  176
    DESCRIPTION  Type K-HL-20ft
ITEM-CODE  177
ITEM-CODE  178
ITEM-CODE  179
ITEM-CODE  180
ITEM-CODE  181
ITEM-CODE  182
ITEM-CODE  183
ITEM-CODE  184
ITEM-CODE  185
ITEM-CODE  186
ITEM-CODE  187
ITEM-CODE  188
ITEM-CODE  189
ITEM-CODE  190
ITEM-CODE  191
ITEM-CODE  192
ITEM-CODE  193
ITEM-CODE  194
ITEM-CODE  195
ITEM-CODE  196
ITEM-CODE  197
ITEM-CODE  198
ITEM-CODE  199
ITEM-CODE  200
ITEM-CODE  201
ITEM-CODE  202
ITEM-CODE  203
ITEM-CODE  204
ITEM-CODE  205
ITEM-CODE  206
ITEM-CODE  207
ITEM-CODE  208
ITEM-CODE  209
ITEM-CODE  210
ITEM-CODE  211
ITEM-CODE  212
ITEM-CODE  213
ITEM-CODE  214
ITEM-CODE  215
ITEM-CODE  216
ITEM-CODE  217
ITEM-CODE  218
ITEM-CODE  219
ITEM-CODE  220
ITEM-CODE  221
    DESCRIPTION  NoWC-400NS - Coupling (C)
ITEM-CODE  222
    DESCRIPTION  Type K-HL-20ft
ITEM-CODE  223
ITEM-CODE  224
ITEM-CODE  225
ITEM-CODE  226
ITEM-CODE  227
ITEM-CODE  228
ITEM-CODE  229
ITEM-CODE  230
ITEM-CODE  231
ITEM-CODE  232
ITEM-CODE  233
ITEM-CODE  234
ITEM-CODE  235
ITEM-CODE  236
ITEM-CODE  237
ITEM-CODE  238
ITEM-CODE  239
ITEM-CODE  240
ITEM-CODE  241
ITEM-CODE  242
ITEM-CODE  243
ITEM-CODE  244
ITEM-CODE  245
ITEM-CODE  246
ITEM-CODE  247
ITEM-CODE  248
ITEM-CODE  249
ITEM-CODE  250
ITEM-CODE  251
ITEM-CODE  252
ITEM-CODE  253
ITEM-CODE  254
ITEM-CODE  255
ITEM-CODE  256
ITEM-CODE  257
ITEM-CODE  258
ITEM-CODE  259
ITEM-CODE  260
ITEM-CODE  261
ITEM-CODE  262
ITEM-CODE  263
ITEM-CODE  264
ITEM-CODE  265
    DESCRIPTION  NoWC-400NS - Coupling (C)
ITEM-CODE  266
    DESCRIPTION  Type K-HL-20ft
ITEM-CODE  267
ITEM-CODE  268
ITEM-CODE  269
