ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  27/04/2016
REDUCER-CONCENTRIC-TEED
    END-POINT  -2115.2911  -2005.1874  2883.8000  1.2500  PL
    END-POINT  -2115.2911  -2005.1874  2886.0310  0.7500  PL
    BRANCH1-POINT  -2115.6892  -2005.7511  2884.5000  1.2500  PL
    SKEY CTFL
    ITEM-CODE  462
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2160]
MATERIALS
ITEM-CODE  462
    DESCRIPTION  NoWT-600 - Tee (Red-C)
