ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
PIPE
    END-POINT  -1506.3044  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1661.0010  -2017.2819  2879.8268  2.0000  PL
    ITEM-CODE  13
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1661.0010  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1662.6820  -2017.2819  2879.8268  2.0000  PL
    CENTRE-POINT  -1661.8410  -2017.2819  2879.8268
    BRANCH1-POINT  -1661.8410  -2017.2819  2880.8668  1.5000  PL
    SKEY TEPL
    ITEM-CODE  6
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1662.6820  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1679.8637  -2017.2819  2879.8268  2.0000  PL
    ITEM-CODE  14
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -1661.8410  -2017.2819  2880.8668  1.5000  PL
    END-POINT  -1661.8410  -2017.2819  2889.1600  1.5000  PL
    ITEM-CODE  15
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  -1661.8410  -2017.2819  2889.1600  1.5000  PL
    END-POINT  -1661.8410  -2017.2819  2891.9010  0.7500  PL
    BRANCH1-POINT  -1661.8410  -2016.4519  2890.0000  1.5000  PL
    SKEY CTFL
    ITEM-CODE  0
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -1661.8410  -2016.4519  2890.0000  1.5000  PL
    END-POINT  -1661.8410  -2004.9861  2890.0000  1.5000  PL
    ITEM-CODE  11
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
MISC_COMPONENT
    END-POINT  -1586.1527  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1586.1527  -2017.2819  2895.0768  24.0000  PL
    SKEY NCPL
    ITEM-CODE  10
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
MISC_COMPONENT
    END-POINT  -1511.3044  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1511.3044  -2017.2819  2895.0768  24.0000  PL
    SKEY NCPL
    ITEM-CODE  9
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
REDUCER-CONCENTRIC
    END-POINT  -1661.8410  -2017.2819  2891.4150  0.7500  PL
    END-POINT  -1661.8410  -2017.2819  2892.3650  0.5000  PL
    SKEY RCPL
    ITEM-CODE  3
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2051]
COUPLING
    END-POINT  -1661.8410  -2017.2819  2892.3650  0.7500  PL
    END-POINT  -1661.8410  -2017.2819  2892.4550  0.7500  PL
    SKEY COCP
    ITEM-CODE  12
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
MISC_COMPONENT
    END-POINT  -1667.6820  -2017.2819  2879.8268  2.0000  PL
    END-POINT  -1667.6820  -2017.2819  2895.0768  24.0000  PL
    SKEY NCPL
    ITEM-CODE  11
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  21/04/2016
MISC_COMPONENT
    END-POINT  -1661.8410  -2011.4519  2890.0000  1.2500  PL
    END-POINT  -1661.8410  -2011.4519  2904.7325  24.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MATERIALS
ITEM-CODE  0
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  3
    DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
ITEM-CODE  6
    DESCRIPTION  NoWT-600 - Tee (Red-C)
ITEM-CODE  8
    DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
ITEM-CODE  9
ITEM-CODE  10
ITEM-CODE  11
    DESCRIPTION  Type K-HL-20ft
ITEM-CODE  12
    DESCRIPTION  NoWC-400NS - Coupling (C)
ITEM-CODE  13
    DESCRIPTION  Type K-HL-20ft
ITEM-CODE  14
ITEM-CODE  15
