ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-01-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  1195.7500  1406.1253  162.6108  1.0000  PL
    END-POINT  1195.7500  1440.8542  162.6108  1.0000  PL
    ITEM-CODE  1866
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  1195.7500  1440.8542  162.6108  1.0000  PL
    END-POINT  1194.4270  1442.1772  162.6108  1.0000  PL
    CENTRE-POINT  1195.7500  1442.1772  162.6108
    SKEY ELPL
    ITEM-CODE  1794
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  1194.4270  1442.1772  162.6108  1.0000  PL
    END-POINT  1126.0023  1442.1772  162.6108  1.0000  PL
    ITEM-CODE  1867
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  1126.0023  1442.1772  162.6108  1.0000  PL
    END-POINT  1124.6793  1442.1772  163.9338  1.0000  PL
    CENTRE-POINT  1124.6793  1442.1772  162.6108
    SKEY ELPL
    ITEM-CODE  1795
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  1124.6793  1442.1772  163.9338  1.0000  PL
    END-POINT  1124.6793  1442.1772  166.3296  1.0000  PL
    ITEM-CODE  1868
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1124.6793  1442.1772  166.3296  1.0000  PL
    END-POINT  1124.6793  1442.1772  167.7896  1.0000  PL
    SKEY COCP
    ITEM-CODE  1870
    ITEM-DESCRIPTION  Adapter CxM
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1442.1772  167.6203  1.0000  PL
    END-POINT  1124.6793  1442.1772  167.6203  1.0000  PL
    SKEY COCP
    ITEM-CODE  3685
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1442.1772  167.6203  1.0000  PL
    END-POINT  1124.6793  1442.1772  167.2984  1.0000  PL
    SKEY COCP
    ITEM-CODE  3684
    ITEM-DESCRIPTION  125# THREADED BRASS COUPLING
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  1189.7500  1406.1253  162.6108  1.0000  PL
    END-POINT  1189.7500  1434.8542  162.6108  1.0000  PL
    ITEM-CODE  2014
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  1189.7500  1434.8542  162.6108  1.0000  PL
    END-POINT  1188.4270  1436.1772  162.6108  1.0000  PL
    CENTRE-POINT  1189.7500  1436.1772  162.6108
    SKEY ELPL
    ITEM-CODE  1906
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  1188.4270  1436.1772  162.6108  1.0000  PL
    END-POINT  1113.5100  1436.1772  162.6108  1.0000  PL
    ITEM-CODE  2015
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  1113.5100  1436.1772  162.6108  1.0000  PL
    END-POINT  1112.1870  1436.1772  163.9338  1.0000  PL
    CENTRE-POINT  1112.1870  1436.1772  162.6108
    SKEY ELPL
    ITEM-CODE  1907
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  1112.1870  1436.1772  163.9338  1.0000  PL
    END-POINT  1112.1870  1436.1772  166.3296  1.0000  PL
    ITEM-CODE  2016
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1112.1870  1436.1772  166.3296  1.0000  PL
    END-POINT  1112.1870  1436.1772  167.7896  1.0000  PL
    SKEY COCP
    ITEM-CODE  2018
    ITEM-DESCRIPTION  Adapter CxM
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1436.1772  167.6203  1.0000  PL
    END-POINT  1112.1870  1436.1772  171.6203  1.0000  PL
    SKEY COCP
    ITEM-CODE  3681
    ITEM-DESCRIPTION  Dielectric Nipple TExTE x4
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1436.1772  171.6203  1.0000  PL
    END-POINT  1112.1870  1436.1772  171.6203  1.0000  PL
    SKEY COCP
    ITEM-CODE  3682
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
TEE-SET-ON
    CENTRE-POINT  1112.1870  1436.1772  174.0000
    BRANCH1-POINT  1112.1870  1436.1772  171.1203  1.0000  PL
    SKEY TESO
    ITEM-CODE  3679
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-3
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE MP-01-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1112.1870  1436.1772  167.6203  1.0000  PL
    END-POINT  1112.1870  1436.1772  167.6203  1.0000  PL
    SKEY COCP
    ITEM-CODE  3685
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1436.1772  167.6203  1.0000  PL
    END-POINT  1112.1870  1436.1772  167.2984  1.0000  PL
    SKEY COCP
    ITEM-CODE  3684
    ITEM-DESCRIPTION  125# THREADED BRASS COUPLING
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1436.1772  167.2984  1.0000  PL
    END-POINT  1112.1870  1436.1772  167.2984  1.0000  PL
    SKEY COCP
    ITEM-CODE  3688
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  937.7201  1879.1741  186.0000  3.0000  PL
    END-POINT  937.7201  1879.0491  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  2994
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  937.7201  1879.0491  186.0000  3.0000  PL
    END-POINT  937.7201  1627.0491  186.0000  3.0000  PL
    ITEM-CODE  2993
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  937.7201  1627.0491  186.0000  3.0000  PL
    END-POINT  937.7201  1626.9241  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  2995
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  937.7201  1626.9241  186.0000  3.0000  PL
    END-POINT  937.7201  1574.2506  186.0000  3.0000  PL
    ITEM-CODE  2994
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  937.7201  1574.2506  186.0000  3.0000  PL
    END-POINT  937.7201  1574.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  2997
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  937.7201  1574.1256  186.0000  3.0000  PL
    END-POINT  942.2201  1569.6256  186.0000  3.0000  PL
    CENTRE-POINT  937.7201  1569.6256  186.0000
    SKEY ELPL
    ITEM-CODE  2996
    ITEM-DESCRIPTION  Long Radius 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  942.2201  1569.6256  186.0000  3.0000  PL
    END-POINT  942.3451  1569.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  2998
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  942.3451  1569.6256  186.0000  3.0000  PL
    END-POINT  1069.7000  1569.6256  186.0000  3.0000  PL
    ITEM-CODE  2997
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1069.7000  1569.6256  186.0000  3.0000  PL
    END-POINT  1069.8250  1569.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1791
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1069.8250  1569.6256  186.0000  3.0000  PL
    END-POINT  1072.5750  1569.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1792
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1072.5750  1569.6256  186.0000  3.0000  PL
    END-POINT  1072.5760  1569.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1793
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  1072.5760  1569.6256  186.0000  3.0000  PL
    END-POINT  1074.5160  1569.6256  186.0000  3.0000  PL
    CENTRE-POINT  1073.5460  1569.6256  186.0000
    SKEY VVPL
    ITEM-CODE  1790
    ITEM-DESCRIPTION  CL223E ButterFly Valve LH
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1074.5160  1569.6256  186.0000  3.0000  PL
    END-POINT  1074.5170  1569.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1796
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1074.5170  1569.6256  186.0000  3.0000  PL
    END-POINT  1077.2670  1569.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1797
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1077.2670  1569.6256  186.0000  3.0000  PL
    END-POINT  1077.3920  1569.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  3683
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1077.3920  1569.6256  186.0000  3.0000  PL
    END-POINT  1130.2993  1569.6256  186.0000  3.0000  PL
    ITEM-CODE  3682
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1130.2993  1569.6256  186.0000  3.0000  PL
    END-POINT  1130.4243  1569.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  3705
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  1130.4243  1569.6256  186.0000  3.0000  PL
    END-POINT  1134.9243  1569.6256  181.5000  3.0000  PL
    CENTRE-POINT  1134.9243  1569.6256  186.0000
    SKEY ELPL
    ITEM-CODE  3692
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  1134.9243  1569.6256  181.5000  3.0000  PL
    END-POINT  1134.9243  1569.6256  181.3750  3.0000  PL
    SKEY COCP
    ITEM-CODE  3704
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1134.9243  1569.6256  181.3750  3.0000  PL
    END-POINT  1134.9243  1569.6256  178.0050  3.0000  PL
    ITEM-CODE  3682
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1134.9243  1569.6256  178.0050  3.0000  PL
    END-POINT  1134.9243  1569.6256  177.8800  3.0000  PL
    SKEY COCP
    ITEM-CODE  3684
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1124.6793  1548.2486  174.0000  4.0000  PL
    END-POINT  1124.6793  1548.3736  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3672
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1548.3736  174.0000  4.0000  PL
    END-POINT  1124.6793  1551.3736  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3671
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1551.3736  174.0000  4.0000  PL
    END-POINT  1124.6793  1551.3746  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3670
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1551.3746  174.0000  4.0000  PL
    END-POINT  1124.6793  1551.4371  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3669
    ITEM-DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  1124.6793  1551.4371  174.0000  4.0000  PL
    END-POINT  1124.6793  1560.4371  174.0000  4.0000  PL
    CENTRE-POINT  1124.6793  1555.9371  174.0000
    SKEY VVPL
    ITEM-CODE  3666
    ITEM-DESCRIPTION  SMP Pumpsaver Flex Connector FLGxFLG
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1124.6793  1560.4371  174.0000  4.0000  PL
    END-POINT  1124.6793  1560.4381  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3668
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1560.4381  174.0000  4.0000  PL
    END-POINT  1124.6793  1560.5006  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3667
    ITEM-DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1560.5006  174.0000  4.0000  PL
    END-POINT  1124.6793  1563.5006  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3663
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1563.5006  174.0000  4.0000  PL
    END-POINT  1124.6793  1563.6256  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3664
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  1124.6793  1563.6256  174.0000  4.0000  PL
    END-POINT  1130.6793  1569.6256  174.0000  4.0000  PL
    CENTRE-POINT  1124.6793  1569.6256  174.0000
    SKEY ELPL
    ITEM-CODE  3661
    ITEM-DESCRIPTION  Long Radius 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  1130.6793  1569.6256  174.0000  4.0000  PL
    END-POINT  1130.8043  1569.6256  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3664
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  1130.8043  1569.6256  174.0000  4.0000  PL
    END-POINT  1139.0443  1569.6256  174.0000  4.0000  PL
    CENTRE-POINT  1134.9243  1569.6256  174.0000
    BRANCH1-POINT  1134.9243  1569.6256  177.8800  3.0000  PL
    SKEY TEPL
    ITEM-CODE  3663
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  1139.0443  1569.6256  174.0000  4.0000  PL
    END-POINT  1139.1693  1569.6256  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3666
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1139.1693  1569.6256  174.0000  4.0000  PL
    END-POINT  1382.8043  1569.6256  174.0000  4.0000  PL
    ITEM-CODE  3659
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  947.9122  1870.7303  186.0000  3.0000  PL
    END-POINT  947.9122  1870.6053  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1785
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  947.9122  1870.6053  186.0000  3.0000  PL
    END-POINT  947.9122  1618.6053  186.0000  3.0000  PL
    ITEM-CODE  1784
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  947.9122  1618.6053  186.0000  3.0000  PL
    END-POINT  947.9122  1618.4803  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1786
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  947.9122  1618.4803  186.0000  3.0000  PL
    END-POINT  947.9122  1586.7506  186.0000  3.0000  PL
    ITEM-CODE  1785
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  947.9122  1586.7506  186.0000  3.0000  PL
    END-POINT  947.9122  1586.6256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1788
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  947.9122  1586.6256  186.0000  3.0000  PL
    END-POINT  952.4122  1582.1256  186.0000  3.0000  PL
    CENTRE-POINT  947.9122  1582.1256  186.0000
    SKEY ELPL
    ITEM-CODE  1787
    ITEM-DESCRIPTION  Long Radius 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  952.4122  1582.1256  186.0000  3.0000  PL
    END-POINT  952.5372  1582.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1789
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  952.5372  1582.1256  186.0000  3.0000  PL
    END-POINT  1069.7000  1582.1256  186.0000  3.0000  PL
    ITEM-CODE  1788
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1069.7000  1582.1256  186.0000  3.0000  PL
    END-POINT  1069.8250  1582.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1791
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1069.8250  1582.1256  186.0000  3.0000  PL
    END-POINT  1072.5750  1582.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1792
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1072.5750  1582.1256  186.0000  3.0000  PL
    END-POINT  1072.5760  1582.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1793
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  1072.5760  1582.1256  186.0000  3.0000  PL
    END-POINT  1074.5160  1582.1256  186.0000  3.0000  PL
    CENTRE-POINT  1073.5460  1582.1256  186.0000
    SKEY VVPL
    ITEM-CODE  1790
    ITEM-DESCRIPTION  CL223E ButterFly Valve LH
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1074.5160  1582.1256  186.0000  3.0000  PL
    END-POINT  1074.5170  1582.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1796
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1074.5170  1582.1256  186.0000  3.0000  PL
    END-POINT  1077.2670  1582.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1797
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1077.2670  1582.1256  186.0000  3.0000  PL
    END-POINT  1077.3920  1582.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1952
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1077.3920  1582.1256  186.0000  3.0000  PL
    END-POINT  1117.8070  1582.1256  186.0000  3.0000  PL
    ITEM-CODE  1951
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1117.8070  1582.1256  186.0000  3.0000  PL
    END-POINT  1117.9320  1582.1256  186.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  1974
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  1117.9320  1582.1256  186.0000  3.0000  PL
    END-POINT  1122.4320  1582.1256  181.5000  3.0000  PL
    CENTRE-POINT  1122.4320  1582.1256  186.0000
    SKEY ELPL
    ITEM-CODE  1961
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  1122.4320  1582.1256  181.5000  3.0000  PL
    END-POINT  1122.4320  1582.1256  181.3750  3.0000  PL
    SKEY COCP
    ITEM-CODE  1973
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1122.4320  1582.1256  181.3750  3.0000  PL
    END-POINT  1122.4320  1582.1256  178.0051  3.0000  PL
    ITEM-CODE  1951
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1122.4320  1582.1256  178.0051  3.0000  PL
    END-POINT  1122.4320  1582.1256  177.8801  3.0000  PL
    SKEY COCP
    ITEM-CODE  1953
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1112.1870  1548.2486  174.0001  4.0000  PL
    END-POINT  1112.1870  1548.3736  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1939
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1548.3736  174.0001  4.0000  PL
    END-POINT  1112.1870  1551.3736  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1938
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1551.3736  174.0001  4.0000  PL
    END-POINT  1112.1870  1551.3746  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1937
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1551.3746  174.0001  4.0000  PL
    END-POINT  1112.1870  1551.4371  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1936
    ITEM-DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  1112.1870  1551.4371  174.0001  4.0000  PL
    END-POINT  1112.1870  1560.4371  174.0001  4.0000  PL
    CENTRE-POINT  1112.1870  1555.9371  174.0001
    SKEY VVPL
    ITEM-CODE  1933
    ITEM-DESCRIPTION  SMP Pumpsaver Flex Connector FLGxFLG
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1112.1870  1560.4371  174.0001  4.0000  PL
    END-POINT  1112.1870  1560.4381  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1937
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1560.4381  174.0001  4.0000  PL
    END-POINT  1112.1870  1560.5006  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1936
    ITEM-DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1560.5006  174.0001  4.0000  PL
    END-POINT  1112.1870  1563.5006  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1935
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1563.5006  174.0001  4.0000  PL
    END-POINT  1112.1870  1563.6256  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1934
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1112.1870  1563.6256  174.0001  4.0000  PL
    END-POINT  1112.1870  1576.0006  174.0001  4.0000  PL
    ITEM-CODE  1931
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1112.1870  1576.0006  174.0001  4.0000  PL
    END-POINT  1112.1870  1576.1256  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1932
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  1112.1870  1576.1256  174.0001  4.0000  PL
    END-POINT  1118.1870  1582.1256  174.0001  4.0000  PL
    CENTRE-POINT  1112.1870  1582.1256  174.0001
    SKEY ELPL
    ITEM-CODE  1930
    ITEM-DESCRIPTION  Long Radius 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  1118.1870  1582.1256  174.0001  4.0000  PL
    END-POINT  1118.3120  1582.1256  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1933
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  1118.3120  1582.1256  174.0001  4.0000  PL
    END-POINT  1126.5520  1582.1256  174.0001  4.0000  PL
    CENTRE-POINT  1122.4320  1582.1256  174.0001
    BRANCH1-POINT  1122.4320  1582.1256  177.8801  3.0000  PL
    SKEY TEPL
    ITEM-CODE  1932
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  1126.5520  1582.1256  174.0001  4.0000  PL
    END-POINT  1126.6770  1582.1256  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1935
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1126.6770  1582.1256  174.0001  4.0000  PL
    END-POINT  1371.8920  1582.1256  174.0001  4.0000  PL
    ITEM-CODE  1933
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1124.6793  1511.1363  174.0000  4.0000  PL
    END-POINT  1124.6793  1511.0113  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3664
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1511.0113  174.0000  4.0000  PL
    END-POINT  1124.6793  1508.0113  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3663
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1508.0113  174.0000  4.0000  PL
    END-POINT  1124.6793  1507.9488  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3667
    ITEM-DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1507.9488  174.0000  4.0000  PL
    END-POINT  1124.6793  1507.9478  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3668
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  1124.6793  1507.9478  174.0000  4.0000  PL
    END-POINT  1124.6793  1498.9478  174.0000  4.0000  PL
    CENTRE-POINT  1124.6793  1503.4478  174.0000
    SKEY VVPL
    ITEM-CODE  3666
    ITEM-DESCRIPTION  SMP Pumpsaver Flex Connector FLGxFLG
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1124.6793  1498.9478  174.0000  4.0000  PL
    END-POINT  1124.6793  1498.8853  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3669
    ITEM-DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1498.8853  174.0000  4.0000  PL
    END-POINT  1124.6793  1498.8843  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3670
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1498.8843  174.0000  4.0000  PL
    END-POINT  1124.6793  1495.8843  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3671
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1495.7593  174.0000  4.0000  PL
    END-POINT  1124.6793  1495.8843  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3674
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1495.8843  174.0000  4.0000  PL
    END-POINT  1124.6793  1495.7593  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3672
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1124.6793  1495.7593  174.0000  4.0000  PL
    END-POINT  1124.6793  1463.1009  174.0000  4.0000  PL
    ITEM-CODE  3673
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1124.6793  1463.1009  174.0000  4.0000  PL
    END-POINT  1124.6793  1462.9759  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3676
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1462.9759  174.0000  4.0000  PL
    END-POINT  1124.6793  1459.9759  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3677
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1459.9759  174.0000  4.0000  PL
    END-POINT  1124.6793  1459.9749  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3678
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  1124.6793  1459.9749  174.0000  4.0000  PL
    END-POINT  1124.6793  1457.7749  174.0000  4.0000  PL
    CENTRE-POINT  1124.6793  1458.8749  174.0000
    SKEY VVPL
    ITEM-CODE  3675
    ITEM-DESCRIPTION  CL223E ButterFly Valve LH
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1124.6793  1457.7749  174.0000  4.0000  PL
    END-POINT  1124.6793  1457.7739  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3681
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1457.7739  174.0000  4.0000  PL
    END-POINT  1124.6793  1454.7739  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3682
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1454.7739  174.0000  4.0000  PL
    END-POINT  1124.6793  1454.6489  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3683
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1124.6793  1454.6489  174.0000  4.0000  PL
    END-POINT  1124.6793  1373.3022  174.0000  4.0000  PL
    ITEM-CODE  3680
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1124.6793  1373.3022  174.0000  4.0000  PL
    END-POINT  1124.6793  1373.1772  174.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  3697
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  1124.6793  1373.1772  174.0000  4.0000  PL
    END-POINT  1124.6793  1367.1772  168.0000  4.0000  PL
    CENTRE-POINT  1124.6793  1367.1772  174.0000
    SKEY ELPL
    ITEM-CODE  3695
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  1124.6793  1367.1772  168.0000  4.0000  PL
    END-POINT  1124.6793  1367.1772  167.8750  4.0000  PL
    SKEY COCP
    ITEM-CODE  3698
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1124.6793  1367.1772  167.8750  4.0000  PL
    END-POINT  1124.6793  1367.1772  131.7500  4.0000  PL
    ITEM-CODE  3689
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1124.6793  1367.1772  131.7500  4.0000  PL
    END-POINT  1124.6793  1367.1772  131.6250  4.0000  PL
    SKEY COCP
    ITEM-CODE  3699
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  1124.6793  1367.1772  131.6250  4.0000  PL
    END-POINT  1118.6793  1367.1772  125.6250  4.0000  PL
    CENTRE-POINT  1124.6793  1367.1772  125.6250
    SKEY ELPL
    ITEM-CODE  3696
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  1118.6793  1367.1772  125.6250  4.0000  PL
    END-POINT  1118.5543  1367.1772  125.6250  4.0000  PL
    SKEY COCP
    ITEM-CODE  3700
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1118.5543  1367.1772  125.6250  4.0000  PL
    END-POINT  1037.0857  1367.1772  125.6250  4.0000  PL
    ITEM-CODE  3689
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1037.0857  1367.1772  125.6250  4.0000  PL
    END-POINT  1036.9607  1367.1772  125.6250  4.0000  PL
    SKEY COCP
    ITEM-CODE  3690
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  1036.9607  1367.1772  125.6250  4.0000  PL
    END-POINT  1032.9607  1367.1772  125.6250  3.0000  PL
    SKEY RCPL
    ITEM-CODE  3679
    ITEM-DESCRIPTION  Concentric Reducer
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2051]
COUPLING
    END-POINT  1032.9607  1367.1772  125.6250  3.0000  PL
    END-POINT  1032.8357  1367.1772  125.6250  3.0000  PL
    SKEY COCP
    ITEM-CODE  3680
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1032.8357  1367.1772  125.6250  3.0000  PL
    END-POINT  993.8085  1367.1772  125.6250  3.0000  PL
    ITEM-CODE  3677
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
TEE-SET-ON
    CENTRE-POINT  1049.0857  1367.1772  125.6250
    BRANCH1-POINT  1049.0857  1367.1772  128.3413  0.5000  PL
    SKEY TESO
    ITEM-CODE  3691
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-10
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE MP-01-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
TEE-SET-ON
    CENTRE-POINT  1066.1793  1377.1772  123.2453
    BRANCH1-POINT  1066.1793  1377.1772  125.6250  1.0000  PL
    SKEY TESO
    ITEM-CODE  3679
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-11
    ITEM-ATTRIBUTE0 CID=[2875]
COUPLING
    END-POINT  1066.1793  1377.1772  123.2453  1.0000  PL
    END-POINT  1066.1793  1377.1772  123.2453  1.0000  PL
    SKEY COCP
    ITEM-CODE  3682
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-11
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1066.1793  1377.1772  123.2453  1.0000  PL
    END-POINT  1066.1793  1377.1772  119.2453  1.0000  PL
    SKEY COCP
    ITEM-CODE  3681
    ITEM-DESCRIPTION  Dielectric Nipple TExTE x4
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-11
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1066.1793  1377.1772  119.2453  1.0000  PL
    END-POINT  1066.1793  1377.1772  118.9234  1.0000  PL
    SKEY COCP
    ITEM-CODE  3684
    ITEM-DESCRIPTION  125# THREADED BRASS COUPLING
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-11
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1066.1793  1377.1772  118.9234  1.0000  PL
    END-POINT  1066.1793  1377.1772  118.9234  1.0000  PL
    SKEY COCP
    ITEM-CODE  3688
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  1066.1793  1147.0753  114.2358  1.0000  PL
    END-POINT  1066.1793  1375.8542  114.2358  1.0000  PL
    ITEM-CODE  2017
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-12
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  1066.1793  1375.8542  114.2358  1.0000  PL
    END-POINT  1066.1793  1377.1772  115.5588  1.0000  PL
    CENTRE-POINT  1066.1793  1377.1772  114.2358
    SKEY ELPL
    ITEM-CODE  3692
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-12
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  1066.1793  1377.1772  115.5588  1.0000  PL
    END-POINT  1066.1793  1377.1772  117.9546  1.0000  PL
    ITEM-CODE  3690
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
TEE-SET-ON
    CENTRE-POINT  1072.1793  1367.1772  123.2453
    BRANCH1-POINT  1072.1793  1367.1772  125.6250  1.0000  PL
    SKEY TESO
    ITEM-CODE  3679
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-13
    ITEM-ATTRIBUTE0 CID=[2875]
COUPLING
    END-POINT  1072.1793  1367.1772  123.2453  1.0000  PL
    END-POINT  1072.1793  1367.1772  123.2453  1.0000  PL
    SKEY COCP
    ITEM-CODE  3682
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-13
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1072.1793  1367.1772  123.2453  1.0000  PL
    END-POINT  1072.1793  1367.1772  119.2453  1.0000  PL
    SKEY COCP
    ITEM-CODE  3681
    ITEM-DESCRIPTION  Dielectric Nipple TExTE x4
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-13
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1072.1793  1367.1772  119.2453  1.0000  PL
    END-POINT  1072.1793  1367.1772  118.9234  1.0000  PL
    SKEY COCP
    ITEM-CODE  3684
    ITEM-DESCRIPTION  125# THREADED BRASS COUPLING
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  1072.1793  1155.7523  113.6316  1.0000  PL
    END-POINT  1072.1793  1365.8542  113.6316  1.0000  PL
    ITEM-CODE  1869
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-14
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  1072.1793  1365.8542  113.6316  1.0000  PL
    END-POINT  1072.1793  1367.1772  114.9546  1.0000  PL
    CENTRE-POINT  1072.1793  1367.1772  113.6316
    SKEY ELPL
    ITEM-CODE  3692
    ITEM-DESCRIPTION  Elbow 90 CxC Close Rough
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-14
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  1072.1793  1367.1772  114.9546  1.0000  PL
    END-POINT  1072.1793  1367.1772  117.9546  1.0000  PL
    ITEM-CODE  3690
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1072.1793  1367.1772  117.9546  1.0000  PL
    END-POINT  1072.1793  1367.1772  119.4146  1.0000  PL
    SKEY COCP
    ITEM-CODE  3692
    ITEM-DESCRIPTION  Adapter CxM
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1112.1870  1511.1363  174.0001  4.0000  PL
    END-POINT  1112.1870  1511.0113  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1934
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1511.0113  174.0001  4.0000  PL
    END-POINT  1112.1870  1508.0113  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1935
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1508.0113  174.0001  4.0000  PL
    END-POINT  1112.1870  1507.9488  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1936
    ITEM-DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1507.9488  174.0001  4.0000  PL
    END-POINT  1112.1870  1507.9478  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1937
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  1112.1870  1507.9478  174.0001  4.0000  PL
    END-POINT  1112.1870  1498.9478  174.0001  4.0000  PL
    CENTRE-POINT  1112.1870  1503.4478  174.0001
    SKEY VVPL
    ITEM-CODE  1933
    ITEM-DESCRIPTION  SMP Pumpsaver Flex Connector FLGxFLG
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1112.1870  1498.9478  174.0001  4.0000  PL
    END-POINT  1112.1870  1498.8853  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1936
    ITEM-DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1498.8853  174.0001  4.0000  PL
    END-POINT  1112.1870  1498.8843  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1937
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1498.8843  174.0001  4.0000  PL
    END-POINT  1112.1870  1495.8843  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1938
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1495.8843  174.0001  4.0000  PL
    END-POINT  1112.1870  1495.7593  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  1939
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1112.1870  1495.7593  174.0001  4.0000  PL
    END-POINT  1112.1870  1475.1009  174.0001  4.0000  PL
    ITEM-CODE  3673
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1112.1870  1475.1009  174.0001  4.0000  PL
    END-POINT  1112.1870  1474.9759  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  3676
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1474.9759  174.0001  4.0000  PL
    END-POINT  1112.1870  1471.9759  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  3677
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1471.9759  174.0001  4.0000  PL
    END-POINT  1112.1870  1471.9749  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  3678
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  1112.1870  1471.9749  174.0001  4.0000  PL
    END-POINT  1112.1870  1469.7749  174.0001  4.0000  PL
    CENTRE-POINT  1112.1870  1470.8749  174.0001
    SKEY VVPL
    ITEM-CODE  3675
    ITEM-DESCRIPTION  CL223E ButterFly Valve LH
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1112.1870  1469.7749  174.0001  4.0000  PL
    END-POINT  1112.1870  1469.7739  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  3681
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1469.7739  174.0001  4.0000  PL
    END-POINT  1112.1870  1466.7739  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  3682
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1112.1870  1466.7739  174.0001  4.0000  PL
    END-POINT  1112.1870  1466.6489  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  3683
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1112.1870  1466.6489  174.0001  4.0000  PL
    END-POINT  1112.1870  1383.3022  174.0001  4.0000  PL
    ITEM-CODE  3680
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1112.1870  1383.3022  174.0001  4.0000  PL
    END-POINT  1112.1870  1383.1772  174.0001  4.0000  PL
    SKEY COCP
    ITEM-CODE  3697
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  1112.1870  1383.1772  174.0001  4.0000  PL
    END-POINT  1112.1870  1377.1772  168.0001  4.0000  PL
    CENTRE-POINT  1112.1870  1377.1772  174.0001
    SKEY ELPL
    ITEM-CODE  3695
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  1112.1870  1377.1772  168.0001  4.0000  PL
    END-POINT  1112.1870  1377.1772  167.8751  4.0000  PL
    SKEY COCP
    ITEM-CODE  3698
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1112.1870  1377.1772  167.8751  4.0000  PL
    END-POINT  1112.1870  1377.1772  131.7501  4.0000  PL
    ITEM-CODE  3689
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1112.1870  1377.1772  131.7501  4.0000  PL
    END-POINT  1112.1870  1377.1772  131.6251  4.0000  PL
    SKEY COCP
    ITEM-CODE  3699
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  1112.1870  1377.1772  131.6251  4.0000  PL
    END-POINT  1106.1870  1377.1772  125.6251  4.0000  PL
    CENTRE-POINT  1112.1870  1377.1772  125.6251
    SKEY ELPL
    ITEM-CODE  3696
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  1106.1870  1377.1772  125.6251  4.0000  PL
    END-POINT  1106.0620  1377.1772  125.6251  4.0000  PL
    SKEY COCP
    ITEM-CODE  3700
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1106.0620  1377.1772  125.6251  4.0000  PL
    END-POINT  1037.0857  1377.1772  125.6251  4.0000  PL
    ITEM-CODE  3689
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1037.0857  1377.1772  125.6251  4.0000  PL
    END-POINT  1036.9607  1377.1772  125.6251  4.0000  PL
    SKEY COCP
    ITEM-CODE  3690
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  1036.9607  1377.1772  125.6251  4.0000  PL
    END-POINT  1032.9607  1377.1772  125.6251  3.0000  PL
    SKEY RCPL
    ITEM-CODE  1948
    ITEM-DESCRIPTION  Concentric Reducer
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2051]
COUPLING
    END-POINT  1032.9607  1377.1772  125.6251  3.0000  PL
    END-POINT  1032.8357  1377.1772  125.6251  3.0000  PL
    SKEY COCP
    ITEM-CODE  1949
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1032.8357  1377.1772  125.6251  3.0000  PL
    END-POINT  985.8085  1377.1772  125.6251  3.0000  PL
    ITEM-CODE  1946
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1066.1793  1377.1772  119.2453  1.0000  PL
    END-POINT  1066.1793  1377.1772  119.2453  1.0000  PL
    SKEY COCP
    ITEM-CODE  3685
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-16
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
VALVE
    END-POINT  1080.3920  1569.6256  192.8254  0.7500  PL
    END-POINT  1080.3920  1569.6256  191.2668  0.7500  PL
    CENTRE-POINT  1080.3920  1569.6256  192.0461
    SKEY VVPL
    ITEM-CODE  950
    ITEM-DESCRIPTION  77C_100 Series Ball Valve
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-17
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1080.3920  1569.6256  191.2668  0.7500  PL
    END-POINT  1080.3920  1569.6256  191.2668  0.7500  PL
    SKEY COCP
    ITEM-CODE  951
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-17
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1080.3920  1569.6256  191.2668  0.7500  PL
    END-POINT  1080.3920  1569.6256  188.2668  0.7500  PL
    ITEM-CODE  947
    ITEM-DESCRIPTION  Sch 40 Blk Stl Nipple x 3
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-17
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1080.3920  1569.6256  188.2668  0.7500  PL
    END-POINT  1080.3920  1569.6256  188.2668  0.7500  PL
    SKEY COCP
    ITEM-CODE  948
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-17
    ITEM-ATTRIBUTE0 CID=[2522]
TEE-SET-ON
    CENTRE-POINT  1080.3920  1569.6256  186.0000
    BRANCH1-POINT  1080.3920  1569.6256  188.2668  0.7500  PL
    SKEY TESO
    ITEM-CODE  945
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-17
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE MP-01-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
TEE-SET-ON
    CENTRE-POINT  1049.0857  1377.1772  125.6250
    BRANCH1-POINT  1049.0857  1377.1772  128.3413  0.5000  PL
    SKEY TESO
    ITEM-CODE  3691
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-18
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE MP-01-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  1112.1870  1548.2486  174.5001  3.0000  PL
    END-POINT  1112.1870  1511.1363  174.5001  3.0000  PL
    ITEM-CODE  1937
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-19
    ITEM-ATTRIBUTE0 CID=[2041]
TEE-SET-ON
    CENTRE-POINT  1063.7000  1569.6256  183.7332
    BRANCH1-POINT  1063.7000  1569.6256  186.0000  0.7500  PL
    SKEY TESO
    ITEM-CODE  735
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-20
    ITEM-ATTRIBUTE0 CID=[2875]
PIPE
    END-POINT  1063.7000  1569.6256  183.7332  0.7500  PL
    END-POINT  1063.7000  1569.6256  180.7332  0.7500  PL
    ITEM-CODE  737
    ITEM-DESCRIPTION  Sch 40 Blk Stl Nipple x 3
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-20
    ITEM-ATTRIBUTE0 CID=[2041]
VALVE
    END-POINT  1063.7000  1569.6256  180.7332  0.7500  PL
    END-POINT  1063.7000  1569.6256  177.6189  0.7500  PL
    CENTRE-POINT  1063.7000  1569.6256  179.1760
    SKEY VVPL
    ITEM-CODE  740
    ITEM-DESCRIPTION  70_100_HC Series Ball Valve
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-20
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1063.7000  1569.6256  183.7332  0.7500  PL
    END-POINT  1063.7000  1569.6256  183.7332  0.7500  PL
    SKEY COCP
    ITEM-CODE  738
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-20
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1063.7000  1569.6256  180.7332  0.7500  PL
    END-POINT  1063.7000  1569.6256  180.7332  0.7500  PL
    SKEY COCP
    ITEM-CODE  741
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-21
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
VALVE
    END-POINT  1063.7000  1582.1256  177.6189  0.7500  PL
    END-POINT  1063.7000  1582.1256  180.7332  0.7500  PL
    CENTRE-POINT  1063.7000  1582.1256  179.1760
    SKEY VVPL
    ITEM-CODE  740
    ITEM-DESCRIPTION  70_100_HC Series Ball Valve
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-22
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  1063.7000  1582.1256  180.7332  0.7500  PL
    END-POINT  1063.7000  1582.1256  180.7332  0.7500  PL
    SKEY COCP
    ITEM-CODE  741
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-22
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1063.7000  1582.1256  180.7332  0.7500  PL
    END-POINT  1063.7000  1582.1256  183.7332  0.7500  PL
    ITEM-CODE  737
    ITEM-DESCRIPTION  Sch 40 Blk Stl Nipple x 3
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-22
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1063.7000  1582.1256  183.7332  0.7500  PL
    END-POINT  1063.7000  1582.1256  183.7332  0.7500  PL
    SKEY COCP
    ITEM-CODE  738
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-22
    ITEM-ATTRIBUTE0 CID=[2522]
TEE-SET-ON
    CENTRE-POINT  1063.7000  1582.1256  186.0000
    BRANCH1-POINT  1063.7000  1582.1256  183.7332  0.7500  PL
    SKEY TESO
    ITEM-CODE  735
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-22
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE MP-01-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
TEE-SET-ON
    CENTRE-POINT  1080.3920  1582.1256  188.2668
    BRANCH1-POINT  1080.3920  1582.1256  186.0000  0.7500  PL
    SKEY TESO
    ITEM-CODE  945
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-23
    ITEM-ATTRIBUTE0 CID=[2875]
COUPLING
    END-POINT  1080.3920  1582.1256  188.2668  0.7500  PL
    END-POINT  1080.3920  1582.1256  188.2668  0.7500  PL
    SKEY COCP
    ITEM-CODE  948
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-23
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1080.3920  1582.1256  188.2668  0.7500  PL
    END-POINT  1080.3920  1582.1256  191.2668  0.7500  PL
    ITEM-CODE  947
    ITEM-DESCRIPTION  Sch 40 Blk Stl Nipple x 3
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-23
    ITEM-ATTRIBUTE0 CID=[2041]
VALVE
    END-POINT  1080.3920  1582.1256  191.2668  0.7500  PL
    END-POINT  1080.3920  1582.1256  192.8254  0.7500  PL
    CENTRE-POINT  1080.3920  1582.1256  192.0461
    SKEY VVPL
    ITEM-CODE  950
    ITEM-DESCRIPTION  77C_100 Series Ball Valve
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-23
    ITEM-ATTRIBUTE0 CID=[868]
PIPELINE-REFERENCE MP-01-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
TEE-SET-ON
    CENTRE-POINT  1124.6793  1442.1772  174.0000
    BRANCH1-POINT  1124.6793  1442.1772  171.1203  1.0000  PL
    SKEY TESO
    ITEM-CODE  3679
    ITEM-DESCRIPTION  Thread-O-Let
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-24
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE MP-01-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
PIPE
    END-POINT  1124.6793  1548.2486  174.5000  3.0000  PL
    END-POINT  1124.6793  1511.1363  174.5000  3.0000  PL
    ITEM-CODE  3668
    ITEM-DESCRIPTION  A53 ERW Sch 40 Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-25
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-01-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1124.6793  1442.1772  171.6203  1.0000  PL
    END-POINT  1124.6793  1442.1772  171.6203  1.0000  PL
    SKEY COCP
    ITEM-CODE  3682
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-26
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  1124.6793  1442.1772  171.6203  1.0000  PL
    END-POINT  1124.6793  1442.1772  167.6203  1.0000  PL
    SKEY COCP
    ITEM-CODE  3681
    ITEM-DESCRIPTION  Dielectric Nipple TExTE x4
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-26
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-01-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  19/04/2016
COUPLING
    END-POINT  1080.3920  1582.1256  191.2668  0.7500  PL
    END-POINT  1080.3920  1582.1256  191.2668  0.7500  PL
    SKEY COCP
    ITEM-CODE  951
    ITEM-DESCRIPTION  Carbon FPT  x Copper MPT Joint
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  MP-01-27
    ITEM-ATTRIBUTE0 CID=[2522]
MATERIALS
ITEM-CODE  735
    DESCRIPTION  Thread-O-Let
ITEM-CODE  737
    DESCRIPTION  Sch 40 Blk Stl Nipple x 3
ITEM-CODE  738
    DESCRIPTION  Carbon FPT  x Copper MPT Joint
ITEM-CODE  740
    DESCRIPTION  70_100_HC Series Ball Valve
ITEM-CODE  741
    DESCRIPTION  Carbon FPT  x Copper MPT Joint
ITEM-CODE  945
    DESCRIPTION  Thread-O-Let
ITEM-CODE  947
    DESCRIPTION  Sch 40 Blk Stl Nipple x 3
ITEM-CODE  948
    DESCRIPTION  Carbon FPT  x Copper MPT Joint
ITEM-CODE  950
    DESCRIPTION  77C_100 Series Ball Valve
ITEM-CODE  951
    DESCRIPTION  Carbon FPT  x Copper MPT Joint
ITEM-CODE  1784
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  1785
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  1786
ITEM-CODE  1787
    DESCRIPTION  Long Radius 90 Elbow
ITEM-CODE  1788
    DESCRIPTION  A53 ERW Sch 40 Blk PE
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  1789
ITEM-CODE  1790
    DESCRIPTION  CL223E ButterFly Valve LH
ITEM-CODE  1791
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  1792
    DESCRIPTION  Raised Face Weld Neck Flange
ITEM-CODE  1793
    DESCRIPTION  150# Cap Screw Set
ITEM-CODE  1794
    DESCRIPTION  Elbow 90 CxC Close Rough
ITEM-CODE  1795
ITEM-CODE  1796
    DESCRIPTION  150# Cap Screw Set
ITEM-CODE  1797
    DESCRIPTION  Raised Face Weld Neck Flange
ITEM-CODE  1866
    DESCRIPTION  Type L Hard Copper
ITEM-CODE  1867
ITEM-CODE  1868
ITEM-CODE  1869
ITEM-CODE  1870
    DESCRIPTION  Adapter CxM
ITEM-CODE  1906
    DESCRIPTION  Elbow 90 CxC Close Rough
ITEM-CODE  1907
ITEM-CODE  1930
    DESCRIPTION  Long Radius 90 Elbow
ITEM-CODE  1931
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  1932
    DESCRIPTION  Butt Weld CS Std Wt
    DESCRIPTION  Reducing Tee
ITEM-CODE  1933
    DESCRIPTION  A53 ERW Sch 40 Blk PE
    DESCRIPTION  Butt Weld CS Std Wt
    DESCRIPTION  SMP Pumpsaver Flex Connector FLGxFLG
ITEM-CODE  1934
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  1935
    DESCRIPTION  Raised Face Weld Neck Flange
ITEM-CODE  1936
    DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
ITEM-CODE  1937
    DESCRIPTION  150 # Bolt Set
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  1938
    DESCRIPTION  Raised Face Weld Neck Flange
ITEM-CODE  1939
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  1946
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  1948
    DESCRIPTION  Concentric Reducer
ITEM-CODE  1949
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  1951
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  1952
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  1953
ITEM-CODE  1961
    DESCRIPTION  Long Radius 90
ITEM-CODE  1973
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  1974
ITEM-CODE  2014
    DESCRIPTION  Type L Hard Copper
ITEM-CODE  2015
ITEM-CODE  2016
ITEM-CODE  2017
ITEM-CODE  2018
    DESCRIPTION  Adapter CxM
ITEM-CODE  2993
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  2994
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  2995
ITEM-CODE  2996
    DESCRIPTION  Long Radius 90 Elbow
ITEM-CODE  2997
    DESCRIPTION  A53 ERW Sch 40 Blk PE
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  2998
ITEM-CODE  3659
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  3661
    DESCRIPTION  Long Radius 90 Elbow
ITEM-CODE  3663
    DESCRIPTION  Raised Face Weld Neck Flange
    DESCRIPTION  Reducing Tee
ITEM-CODE  3664
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  3666
    DESCRIPTION  SMP Pumpsaver Flex Connector FLGxFLG
ITEM-CODE  3667
    DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
ITEM-CODE  3668
    DESCRIPTION  150 # Bolt Set
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  3669
    DESCRIPTION  ST-5500 150# Ring Gasket x1-16th
ITEM-CODE  3670
    DESCRIPTION  150 # Bolt Set
ITEM-CODE  3671
    DESCRIPTION  Raised Face Weld Neck Flange
ITEM-CODE  3672
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  3673
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  3674
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  3675
    DESCRIPTION  CL223E ButterFly Valve LH
ITEM-CODE  3676
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  3677
    DESCRIPTION  A53 ERW Sch 40 Blk PE
    DESCRIPTION  Raised Face Weld Neck Flange
ITEM-CODE  3678
    DESCRIPTION  150# Cap Screw Set
ITEM-CODE  3679
    DESCRIPTION  Concentric Reducer
    DESCRIPTION  Thread-O-Let
ITEM-CODE  3680
    DESCRIPTION  A53 ERW Sch 40 Blk PE
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  3681
    DESCRIPTION  150# Cap Screw Set
    DESCRIPTION  Dielectric Nipple TExTE x4
ITEM-CODE  3682
    DESCRIPTION  A53 ERW Sch 40 Blk PE
    DESCRIPTION  Carbon FPT  x Copper MPT Joint
    DESCRIPTION  Raised Face Weld Neck Flange
ITEM-CODE  3683
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  3684
    DESCRIPTION  125# THREADED BRASS COUPLING
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  3685
    DESCRIPTION  Carbon FPT  x Copper MPT Joint
ITEM-CODE  3688
ITEM-CODE  3689
    DESCRIPTION  A53 ERW Sch 40 Blk PE
ITEM-CODE  3690
    DESCRIPTION  Butt Weld CS Std Wt
    DESCRIPTION  Type L Hard Copper
ITEM-CODE  3691
    DESCRIPTION  Thread-O-Let
ITEM-CODE  3692
    DESCRIPTION  Adapter CxM
    DESCRIPTION  Elbow 90 CxC Close Rough
    DESCRIPTION  Long Radius 90
ITEM-CODE  3695
ITEM-CODE  3696
ITEM-CODE  3697
    DESCRIPTION  Butt Weld CS Std Wt
ITEM-CODE  3698
ITEM-CODE  3699
ITEM-CODE  3700
ITEM-CODE  3704
ITEM-CODE  3705
