// global
var runInputs = function() {
$('input[type="checkbox"]').iCheck({
    checkboxClass: 'icheckbox_square-grey',
    increaseArea: '20%' // optional
  });
  $('input[type="radio"]').iCheck({
    radioClass: 'iradio_square-grey',
    increaseArea: '20%' // optional
  });
};
runInputs();
  $('.projects-table').tablesorter({
  	theme: 'fec',
    widgets : ['columns'],
    {if in_group_1_7}
    sortList: [[3,0]]
    {if:else}
    sortList: [[2,0]]
    {/if}
  });
{exp:loopee foreach="{embed:scripts}"}
{embed='admin-scripts/.{loopee_value}'}
{/exp:loopee}