ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Progressive Build Drains-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44674.4130  -2627.7246  184.3162  6.0000  PL
    END-POINT  44582.7588  -2627.7246  184.3162  6.0000  PL
    ITEM-CODE  258
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44957.9147  -2612.3936  368.9418  19.0000  PL
    END-POINT  44968.4147  -2612.3936  412.6100  19.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44957.9147  -2552.3936  368.9418  19.0000  PL
    END-POINT  44968.4147  -2552.3936  412.6100  19.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45027.9134  -2586.6631  368.9408  19.0000  PL
    END-POINT  45017.4134  -2586.6631  412.6100  19.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45028.4233  -2583.7806  386.7177  36.0000  PL
    END-POINT  45028.4233  -2602.7806  412.6100  36.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-5
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45000.4147  -2636.4041  367.9408  74.0000  PL
    END-POINT  45038.4147  -2636.4041  412.6100  74.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-6
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45014.4147  -2660.4041  368.9408  46.0000  PL
    END-POINT  45038.4147  -2660.4041  412.6100  46.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-7
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44988.9397  -2538.9436  386.7187  19.0000  PL
    END-POINT  44988.9397  -2549.4436  412.6100  19.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-8
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45253.0240  -2644.4436  409.4455  114.0000  PL
    END-POINT  45253.0240  -2586.4436  386.7177  114.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  45253.0240  -2586.4436  386.7177  114.0000  PL
    END-POINT  45253.0240  -2644.4436  412.6100  114.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45193.0240  -2644.4436  409.4455  114.0000  PL
    END-POINT  45193.0240  -2586.4436  386.7177  114.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-10
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  45193.0240  -2586.4436  386.7177  114.0000  PL
    END-POINT  45193.0240  -2644.4436  412.6100  114.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-10
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45073.0240  -2632.4436  409.4455  102.0000  PL
    END-POINT  45073.0240  -2580.4436  386.7177  102.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-11
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  45073.0240  -2580.4436  386.7177  102.0000  PL
    END-POINT  45073.0240  -2632.4436  412.6100  102.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-11
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45154.7890  -2619.3986  386.7177  45.0000  PL
    END-POINT  45154.7890  -2642.8986  412.6100  45.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-12
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45111.7890  -2609.2736  386.7177  45.0000  PL
    END-POINT  45111.7890  -2632.7736  412.6100  45.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-13
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44987.5941  -2689.2246  368.9408  42.0000  PL
    END-POINT  44987.5941  -2711.2246  412.6100  42.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-14
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  45127.0240  -2557.9436  386.7177  57.0000  PL
    END-POINT  45127.0240  -2587.4436  409.4455  57.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-15
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44598.6179  -2672.2246  184.9913  104.0000  PL
    END-POINT  44598.6179  -2725.2246  198.1875  104.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-16
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44647.0240  -2672.2246  184.9913  104.0000  PL
    END-POINT  44647.0240  -2725.2246  412.6100  104.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-17
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44773.0240  -2665.2246  367.9408  90.0000  PL
    END-POINT  44773.0240  -2711.2246  412.6100  90.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44576.5246  -2714.8453  186.3787  10.0000  PL
    END-POINT  44670.1923  -2714.8453  186.3787  10.0000  PL
    ITEM-CODE  575
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-19
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44670.1923  -2714.8453  186.3787  10.0000  PL
    END-POINT  44672.8383  -2713.7493  186.3787  10.0000  PL
    CENTRE-POINT  44671.7423  -2714.8453  186.3787
    SKEY ELPL
    ITEM-CODE  573
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-19
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44895.5335  -2686.7246  363.0393  8.0000  PL
    END-POINT  44895.5335  -2686.7246  203.3917  8.0000  PL
    ITEM-CODE  745
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-20
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44895.5335  -2686.7246  203.3917  8.0000  PL
    END-POINT  44894.9395  -2686.7246  201.9577  8.0000  PL
    CENTRE-POINT  44895.5335  -2686.7246  202.5517
    SKEY ELPL
    ITEM-CODE  747
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-20
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44894.9395  -2686.7246  201.9577  8.0000  PL
    END-POINT  44875.5017  -2686.7246  182.5199  8.0000  PL
    ITEM-CODE  749
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-20
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44833.0240  -2665.2246  367.9408  90.0000  PL
    END-POINT  44833.0240  -2711.2246  412.6100  90.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44827.3471  -2868.9335  127.2195  42.0000  PL
    END-POINT  44827.3471  -2890.9335  292.0000  42.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44713.0240  -2665.2246  367.9408  90.0000  PL
    END-POINT  44713.0240  -2711.2246  412.6100  90.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44872.2711  -2682.1559  179.2893  8.0000  PL
    END-POINT  44872.2711  -2442.1559  179.2893  8.0000  PL
    ITEM-CODE  753
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-24
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44872.2711  -2684.3846  179.2893  8.0000  PL
    END-POINT  44873.9257  -2686.7246  180.9439  8.0000  PL
    CENTRE-POINT  44872.2711  -2686.7246  179.2893
    SKEY ELPL
    ITEM-CODE  751
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-25
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44895.5335  -2648.7246  360.4743  8.0000  PL
    END-POINT  44895.5335  -2648.7246  187.8393  8.0000  PL
    ITEM-CODE  640
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-26
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44895.5211  -2648.7246  187.8393  8.0000  PL
    END-POINT  44895.5211  -2640.1746  179.2893  8.0000  PL
    CENTRE-POINT  44895.5211  -2648.7246  179.2893
    SKEY ELPL
    ITEM-CODE  643
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-26
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44895.5211  -2640.1746  179.2893  8.0000  PL
    END-POINT  44895.5211  -2618.2597  179.2893  8.0000  PL
    ITEM-CODE  645
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-26
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44894.5223  -2662.7246  344.5319  8.0000  PL
    END-POINT  44894.5223  -2662.7246  206.1967  8.0000  PL
    ITEM-CODE  497
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-27
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44894.5223  -2662.7246  206.1967  8.0000  PL
    END-POINT  44890.2796  -2662.7246  195.9541  8.0000  PL
    CENTRE-POINT  44894.5223  -2662.7246  200.1967
    SKEY ELPL
    ITEM-CODE  500
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-27
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44890.2796  -2662.7246  195.9541  8.0000  PL
    END-POINT  44889.1387  -2662.7246  194.8132  8.0000  PL
    ITEM-CODE  504
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-27
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44889.1387  -2662.7246  194.8132  8.0000  PL
    END-POINT  44884.8961  -2662.7246  184.5705  8.0000  PL
    CENTRE-POINT  44884.8961  -2662.7246  190.5705
    SKEY ELPL
    ITEM-CODE  502
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-27
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44884.8961  -2662.7246  184.5705  8.0000  PL
    END-POINT  44884.8961  -2662.7246  174.4168  8.0000  PL
    ITEM-CODE  508
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-27
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
TEE
    END-POINT  44884.8961  -2656.0296  167.7268  8.0000  PL
    END-POINT  44884.8961  -2669.4196  167.7268  8.0000  PL
    CENTRE-POINT  44884.8961  -2662.7246  167.7268
    BRANCH1-POINT  44884.8961  -2662.7246  174.4168  8.0000  PL
    SKEY TEPL
    ITEM-CODE  506
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-28
    ITEM-ATTRIBUTE0 CID=[2047]
PIPELINE-REFERENCE Progressive Build Drains-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44895.5335  -2676.7246  362.2518  8.0000  PL
    END-POINT  44895.5335  -2676.7246  185.9245  8.0000  PL
    ITEM-CODE  279
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-29
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44895.5335  -2676.7246  185.9245  8.0000  PL
    END-POINT  44895.5335  -2676.7246  174.4168  8.0000  PL
    ITEM-CODE  280
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-29
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
TEE
    END-POINT  44895.5335  -2683.4196  167.7268  8.0000  PL
    END-POINT  44895.5335  -2670.0296  167.7268  8.0000  PL
    CENTRE-POINT  44895.5335  -2676.7246  167.7268
    BRANCH1-POINT  44895.5335  -2676.7246  174.4168  8.0000  PL
    SKEY TEPL
    ITEM-CODE  287
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-30
    ITEM-ATTRIBUTE0 CID=[2047]
PIPELINE-REFERENCE Progressive Build Drains-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44893.4540  -2700.7246  361.8918  10.0000  PL
    END-POINT  44893.4540  -2700.7246  213.9909  10.0000  PL
    ITEM-CODE  565
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-31
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44893.4540  -2700.7246  213.9909  10.0000  PL
    END-POINT  44892.3579  -2700.7246  211.3449  10.0000  PL
    CENTRE-POINT  44893.4540  -2700.7246  212.4409
    SKEY ELPL
    ITEM-CODE  567
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-31
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44892.3579  -2700.7246  211.3449  10.0000  PL
    END-POINT  44873.3046  -2700.7246  192.2915  10.0000  PL
    ITEM-CODE  569
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-31
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44873.3046  -2700.7246  192.2915  10.0000  PL
    END-POINT  44872.2086  -2700.7246  189.6455  10.0000  PL
    CENTRE-POINT  44872.2086  -2700.7246  191.1955
    SKEY ELPL
    ITEM-CODE  571
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-31
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44872.2086  -2700.7246  189.6455  10.0000  PL
    END-POINT  44872.2086  -2700.7246  172.5468  10.0000  PL
    ITEM-CODE  573
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-31
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44872.2086  -2694.4047  166.2268  10.0000  PL
    END-POINT  44872.2086  -2642.5694  166.2268  10.0000  PL
    ITEM-CODE  577
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-32
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44872.2086  -2697.1047  166.2268  10.0000  PL
    END-POINT  44872.2086  -2700.7246  169.8468  10.0000  PL
    CENTRE-POINT  44872.2086  -2700.7246  166.2268
    SKEY ELPL
    ITEM-CODE  575
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-33
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44895.5335  -2627.7246  360.4543  6.0000  PL
    END-POINT  44895.5335  -2627.7246  217.4562  6.0000  PL
    ITEM-CODE  248
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44895.5335  -2627.7246  217.4562  6.0000  PL
    END-POINT  44890.9373  -2627.7246  206.3600  6.0000  PL
    CENTRE-POINT  44895.5335  -2627.7246  210.9562
    SKEY ELPL
    ITEM-CODE  251
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44890.9373  -2627.7246  206.3600  6.0000  PL
    END-POINT  44890.4923  -2627.7246  205.9151  6.0000  PL
    ITEM-CODE  255
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44890.4923  -2627.7246  205.9151  6.0000  PL
    END-POINT  44885.8961  -2627.7246  194.8189  6.0000  PL
    CENTRE-POINT  44885.8961  -2627.7246  201.3189
    SKEY ELPL
    ITEM-CODE  253
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44885.8961  -2627.7246  194.8189  6.0000  PL
    END-POINT  44885.8961  -2627.7246  189.7393  6.0000  PL
    ITEM-CODE  258
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44885.8961  -2627.7246  189.7393  6.0000  PL
    END-POINT  44885.8961  -2616.2746  178.2893  6.0000  PL
    CENTRE-POINT  44885.8961  -2627.7246  178.2893
    SKEY ELPL
    ITEM-CODE  256
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44885.8961  -2616.2746  178.2893  6.0000  PL
    END-POINT  44885.8961  -2136.2746  178.2893  6.0000  PL
    ITEM-CODE  258
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44677.2067  -2662.7246  185.0037  8.0000  PL
    END-POINT  44582.5305  -2662.7246  185.0036  8.0000  PL
    ITEM-CODE  507
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-35
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44677.2067  -2676.7246  185.0037  8.0000  PL
    END-POINT  44581.5713  -2676.7246  185.0037  8.0000  PL
    ITEM-CODE  289
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-36
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44677.3130  -2648.7246  185.3162  8.0000  PL
    END-POINT  44581.2588  -2648.7246  185.3162  8.0000  PL
    ITEM-CODE  652
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-37
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  30/07/2016
MISC_COMPONENT
    END-POINT  44908.1307  -2665.2246  367.9408  90.0000  PL
    END-POINT  44908.1307  -2711.2246  412.6100  90.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-38
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44681.2942  -2686.7246  185.3162  8.0000  PL
    END-POINT  44666.2942  -2686.7246  185.3162  8.0000  PL
    ITEM-CODE  751
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-39
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44666.2942  -2686.7246  185.3162  8.0000  PL
    END-POINT  44664.8602  -2687.3186  185.3162  8.0000  PL
    CENTRE-POINT  44665.4542  -2686.7246  185.3162
    SKEY ELPL
    ITEM-CODE  753
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-39
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44664.8602  -2687.3186  185.3162  8.0000  PL
    END-POINT  44655.1911  -2696.9877  185.3162  8.0000  PL
    ITEM-CODE  755
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-39
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44655.1911  -2696.9877  185.3162  8.0000  PL
    END-POINT  44653.7572  -2697.5817  185.3162  8.0000  PL
    CENTRE-POINT  44654.5972  -2697.5817  185.3162
    SKEY ELPL
    ITEM-CODE  757
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-39
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44653.7572  -2697.5817  185.3162  8.0000  PL
    END-POINT  44576.0988  -2697.5817  185.3162  8.0000  PL
    ITEM-CODE  759
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-39
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-  -1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
REDUCER-CONCENTRIC
    END-POINT  44894.5223  -2662.7246  344.5319  8.0000  PL
    END-POINT  44894.5223  -2662.7246  360.2819  10.0000  PL
    SKEY RCPL
    ITEM-CODE  494
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Conc Red
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-  -1
    ITEM-ATTRIBUTE0 CID=[2051]
PIPELINE-REFERENCE Progressive Build Drains-JWD-AWD-NM-SPOOL-H-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45275.5689  -2538.4042  386.0312  6.0000  PL
    END-POINT  44982.2064  -2538.4042  386.0312  6.0000  PL
    ITEM-CODE  231
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44982.2064  -2538.4042  386.0442  6.0000  PL
    END-POINT  44971.1102  -2538.4042  381.4480  6.0000  PL
    CENTRE-POINT  44975.7064  -2538.4042  386.0442
    SKEY ELPL
    ITEM-CODE  234
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44971.1092  -2538.4042  381.4489  6.0000  PL
    END-POINT  44966.0110  -2538.4042  376.3507  6.0000  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44966.0110  -2538.4042  376.3507  6.0000  PL
    END-POINT  44957.9147  -2549.8542  368.2543  6.0000  PL
    CENTRE-POINT  44957.9147  -2538.4042  368.2543
    SKEY ELPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44957.9147  -2549.8542  368.2543  6.0000  PL
    END-POINT  44957.9147  -2616.2746  368.2543  6.0000  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44957.9147  -2616.2746  368.2543  6.0000  PL
    END-POINT  44946.4647  -2627.7246  368.2543  6.0000  PL
    CENTRE-POINT  44957.9147  -2627.7246  368.2543
    SKEY ELPL
    ITEM-CODE  241
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44946.4647  -2627.7246  368.2543  6.0000  PL
    END-POINT  44904.4335  -2627.7246  368.2543  6.0000  PL
    ITEM-CODE  243
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  44904.4335  -2627.7246  368.2543  6.0000  PL
    END-POINT  44886.6335  -2627.7246  368.2543  6.0000  PL
    CENTRE-POINT  44895.5335  -2627.7246  368.2543
    BRANCH1-POINT  44895.5335  -2627.7246  360.4543  6.0000  PL
    SKEY TEPL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Con Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  44886.6335  -2627.7246  368.2543  6.0000  PL
    END-POINT  44697.3130  -2627.7246  368.2543  6.0000  PL
    ITEM-CODE  248
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-AWD-NM-SPOOL-J-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44674.4130  -2627.7246  184.3162  6.0000  PL
    END-POINT  44685.8630  -2627.7246  195.7662  6.0000  PL
    CENTRE-POINT  44685.8630  -2627.7246  184.3162
    SKEY ELPL
    ITEM-CODE  256
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44685.8630  -2627.7246  195.7662  6.0000  PL
    END-POINT  44685.8630  -2627.7246  356.8043  6.0000  PL
    ITEM-CODE  253
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44685.8630  -2627.7246  356.8043  6.0000  PL
    END-POINT  44697.3130  -2627.7246  368.2543  6.0000  PL
    CENTRE-POINT  44685.8630  -2627.7246  368.2543
    SKEY ELPL
    ITEM-CODE  251
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CHFWD-NM-SPOOL-H-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45023.6751  -2594.7806  386.7187  8.0000  PL
    END-POINT  45127.4476  -2594.7806  386.7187  8.0000  PL
    ITEM-CODE  259
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45127.4476  -2594.7806  386.7187  8.0000  PL
    END-POINT  45137.6902  -2599.0233  386.7187  8.0000  PL
    CENTRE-POINT  45133.4476  -2594.7806  386.7187
    SKEY ELPL
    ITEM-CODE  257
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45137.6902  -2599.0233  386.7187  8.0000  PL
    END-POINT  45139.8285  -2601.1616  386.7187  8.0000  PL
    ITEM-CODE  257
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45139.8285  -2601.1616  386.7187  8.0000  PL
    END-POINT  45150.0712  -2605.4042  386.7187  8.0000  PL
    CENTRE-POINT  45144.0712  -2605.4042  386.7187
    SKEY ELPL
    ITEM-CODE  255
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45150.0712  -2605.4042  386.7187  8.0000  PL
    END-POINT  45334.7376  -2605.4042  386.7187  8.0000  PL
    ITEM-CODE  252
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  45023.6751  -2594.7806  386.7121  8.0000  PL
    END-POINT  45013.4325  -2594.7806  382.4695  8.0000  PL
    CENTRE-POINT  45017.6751  -2594.7806  386.7121
    SKEY ELPL
    ITEM-CODE  262
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45013.4374  -2594.7806  382.4646  8.0000  PL
    END-POINT  45006.0355  -2594.7806  375.0627  8.0000  PL
    ITEM-CODE  264
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45006.0355  -2594.7806  375.0627  8.0000  PL
    END-POINT  44999.9147  -2603.4369  368.9418  8.0000  PL
    CENTRE-POINT  44999.9147  -2594.7806  368.9418
    SKEY ELPL
    ITEM-CODE  267
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44999.9147  -2603.4369  368.9418  8.0000  PL
    END-POINT  44999.9147  -2668.0684  368.9418  8.0000  PL
    ITEM-CODE  269
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44999.9147  -2668.0684  368.9418  8.0000  PL
    END-POINT  44991.2584  -2676.7246  368.9418  8.0000  PL
    CENTRE-POINT  44999.9147  -2676.7246  368.9418
    SKEY ELPL
    ITEM-CODE  272
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44991.2584  -2676.7246  368.9418  8.0000  PL
    END-POINT  44902.2285  -2676.7246  368.9418  8.0000  PL
    ITEM-CODE  274
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  44902.2285  -2676.7246  368.9418  8.0000  PL
    END-POINT  44888.8385  -2676.7246  368.9418  8.0000  PL
    CENTRE-POINT  44895.5335  -2676.7246  368.9418
    BRANCH1-POINT  44895.5335  -2676.7246  362.2518  8.0000  PL
    SKEY TEPL
    ITEM-CODE  277
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2047]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44884.8385  -2676.7246  368.9418  8.0000  PL
    END-POINT  44694.5192  -2676.7246  368.9418  8.0000  PL
    ITEM-CODE  279
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CHFWD-NM-SPOOL-J-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44694.5192  -2676.7246  368.9418  8.0000  PL
    END-POINT  44685.8630  -2676.7246  360.2856  8.0000  PL
    CENTRE-POINT  44685.8630  -2676.7246  368.9418
    SKEY ELPL
    ITEM-CODE  282
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44685.8630  -2676.7246  360.2856  8.0000  PL
    END-POINT  44685.8630  -2676.7246  193.6599  8.0000  PL
    ITEM-CODE  284
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44685.8630  -2676.7246  193.6599  8.0000  PL
    END-POINT  44677.2067  -2676.7246  185.0037  8.0000  PL
    CENTRE-POINT  44685.8630  -2676.7246  185.0037
    SKEY ELPL
    ITEM-CODE  287
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-H-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
COUPLING
    END-POINT  45221.0889  -2619.4042  387.0210  4.0000  PL
    END-POINT  45221.3039  -2619.4042  387.0210  4.0000  PL
    SKEY COCP
    ITEM-CODE  603
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  45221.3039  -2619.4042  387.0210  8.0000  PL
    END-POINT  45220.9289  -2619.4042  387.0210  8.0000  PL
    SKEY COCP
    ITEM-CODE  725
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  45220.9289  -2619.4042  387.0210  8.0000  PL
    END-POINT  45139.1122  -2619.4042  387.0210  8.0000  PL
    ITEM-CODE  728
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45139.1122  -2619.4042  387.0210  8.0000  PL
    END-POINT  45137.6782  -2618.8102  387.0210  8.0000  PL
    CENTRE-POINT  45138.2722  -2619.4042  387.0210
    SKEY ELPL
    ITEM-CODE  723
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45137.6782  -2618.8102  387.0210  8.0000  PL
    END-POINT  45128.2279  -2609.3599  387.0210  8.0000  PL
    ITEM-CODE  725
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45128.2279  -2609.3599  387.0210  8.0000  PL
    END-POINT  45126.7939  -2608.7659  387.0210  8.0000  PL
    CENTRE-POINT  45127.6339  -2608.7659  387.0210
    SKEY ELPL
    ITEM-CODE  727
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45126.7939  -2608.7659  387.0210  8.0000  PL
    END-POINT  45035.0464  -2608.7659  387.0210  8.0000  PL
    ITEM-CODE  729
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-I-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  45011.5747  -2686.7099  369.2543  8.0000  PL
    END-POINT  45013.9147  -2684.3699  369.2543  8.0000  PL
    CENTRE-POINT  45013.9147  -2686.7099  369.2543
    SKEY ELPL
    ITEM-CODE  739
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-I-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45009.3459  -2686.7099  369.2543  8.0000  PL
    END-POINT  44897.8935  -2686.7099  369.2543  8.0000  PL
    ITEM-CODE  741
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  44897.8935  -2686.7099  369.2543  8.0000  PL
    END-POINT  44893.1735  -2686.7099  369.2543  8.0000  PL
    CENTRE-POINT  44895.5335  -2686.7099  369.2543
    BRANCH1-POINT  44895.5335  -2686.7099  363.0393  8.0000  PL
    SKEY TEPL
    ITEM-CODE  743
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  44893.1735  -2686.7099  369.2543  8.0000  PL
    END-POINT  44690.4317  -2686.7099  369.2543  8.0000  PL
    ITEM-CODE  743
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-I-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45013.9147  -2613.3347  369.2543  8.0000  PL
    END-POINT  45013.9147  -2682.1412  369.2543  8.0000  PL
    ITEM-CODE  737
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-I-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-I-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  45013.9147  -2611.1059  369.2543  8.0000  PL
    END-POINT  45015.5693  -2608.7659  370.9090  8.0000  PL
    CENTRE-POINT  45013.9147  -2608.7659  369.2543
    SKEY ELPL
    ITEM-CODE  735
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-I-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-I-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  45032.5151  -2608.7659  387.0148  8.0000  PL
    END-POINT  45031.0812  -2608.7659  386.4208  8.0000  PL
    CENTRE-POINT  45031.6751  -2608.7659  387.0148
    SKEY ELPL
    ITEM-CODE  731
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-I-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45031.0812  -2608.7659  386.4208  8.0000  PL
    END-POINT  45017.1452  -2608.7659  372.4849  8.0000  PL
    ITEM-CODE  733
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-I-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-J-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44685.8630  -2686.7246  364.6856  8.0000  PL
    END-POINT  44685.8630  -2686.7246  189.8849  8.0000  PL
    ITEM-CODE  747
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-J-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44685.8630  -2686.7099  366.9143  8.0000  PL
    END-POINT  44688.2030  -2686.7099  369.2543  8.0000  PL
    CENTRE-POINT  44685.8630  -2686.7099  369.2543
    SKEY ELPL
    ITEM-CODE  745
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-J-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-NM-SPOOL-J-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44683.5230  -2686.7246  185.3162  8.0000  PL
    END-POINT  44685.8630  -2686.7246  187.6562  8.0000  PL
    CENTRE-POINT  44685.8630  -2686.7246  185.3162
    SKEY ELPL
    ITEM-CODE  749
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-NM-SPOOL-J-3
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-DHFWD-NM-SPOOL-H-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45329.9876  -2575.4042  387.7188  10.0000  PL
    END-POINT  45133.1751  -2575.4042  387.7188  10.0000  PL
    ITEM-CODE  477
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45133.1751  -2575.4042  387.7188  10.0000  PL
    END-POINT  45010.6818  -2575.4042  387.7188  10.0000  PL
    ITEM-CODE  478
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44694.5192  -2662.7247  368.9418  8.0000  PL
    END-POINT  44870.1473  -2662.7246  368.9419  8.0000  PL
    ITEM-CODE  497
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC
    END-POINT  44870.1473  -2662.7246  368.9419  8.0000  PL
    END-POINT  44885.8973  -2662.7246  368.9419  10.0000  PL
    SKEY RCPL
    ITEM-CODE  494
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Conc Red
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2051]
TEE
    END-POINT  44885.8973  -2662.7246  368.9419  10.0000  PL
    END-POINT  44903.1473  -2662.7246  368.9419  10.0000  PL
    CENTRE-POINT  44894.5223  -2662.7246  368.9419
    BRANCH1-POINT  44894.5223  -2662.7246  360.2819  10.0000  PL
    SKEY TEPL
    ITEM-CODE  492
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  44903.1473  -2662.7247  368.9548  10.0000  PL
    END-POINT  44974.5084  -2662.7246  368.9548  10.0000  PL
    ITEM-CODE  489
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44974.5084  -2662.7246  368.9548  10.0000  PL
    END-POINT  44985.9147  -2651.3184  368.9548  10.0000  PL
    CENTRE-POINT  44985.9147  -2662.7246  368.9548
    SKEY ELPL
    ITEM-CODE  487
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44985.9146  -2651.3184  368.9548  10.0000  PL
    END-POINT  44985.9146  -2586.8105  368.9548  10.0000  PL
    ITEM-CODE  484
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44985.9147  -2586.8105  368.9548  10.0000  PL
    END-POINT  44993.9801  -2575.4042  377.0202  10.0000  PL
    CENTRE-POINT  44985.9147  -2575.4042  368.9548
    SKEY ELPL
    ITEM-CODE  482
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44993.9801  -2575.4042  377.0202  10.0000  PL
    END-POINT  45000.4440  -2575.4042  383.4842  10.0000  PL
    ITEM-CODE  484
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45000.4391  -2575.4042  383.4890  10.0000  PL
    END-POINT  45010.6818  -2575.4042  387.7317  10.0000  PL
    CENTRE-POINT  45004.6818  -2575.4042  387.7317
    SKEY ELPL
    ITEM-CODE  480
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-DHFWD-NM-SPOOL-J-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44694.5192  -2662.7246  368.9548  8.0000  PL
    END-POINT  44685.8630  -2662.7246  360.2985  8.0000  PL
    CENTRE-POINT  44685.8630  -2662.7246  368.9548
    SKEY ELPL
    ITEM-CODE  500
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44685.8630  -2662.7246  360.2985  8.0000  PL
    END-POINT  44685.8630  -2662.7246  193.6599  8.0000  PL
    ITEM-CODE  502
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44685.8630  -2662.7246  193.6599  8.0000  PL
    END-POINT  44677.2067  -2662.7246  185.0037  8.0000  PL
    CENTRE-POINT  44685.8630  -2662.7246  185.0037
    SKEY ELPL
    ITEM-CODE  505
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-NH4WD-NM-SPOOL-H-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45364.8439  -2633.4042  387.0312  8.0000  PL
    END-POINT  45168.0314  -2633.4042  387.0312  8.0000  PL
    ITEM-CODE  617
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45168.0314  -2633.4042  387.0312  8.0000  PL
    END-POINT  45138.4732  -2633.4042  387.0312  8.0000  PL
    ITEM-CODE  618
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45138.4732  -2633.4042  387.0312  8.0000  PL
    END-POINT  45128.2305  -2629.1616  387.0312  8.0000  PL
    CENTRE-POINT  45132.4732  -2633.4042  387.0312
    SKEY ELPL
    ITEM-CODE  620
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45128.2305  -2629.1616  387.0312  8.0000  PL
    END-POINT  45126.0923  -2627.0233  387.0312  8.0000  PL
    ITEM-CODE  622
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45126.0923  -2627.0233  387.0312  8.0000  PL
    END-POINT  45115.8496  -2622.7806  387.0312  8.0000  PL
    CENTRE-POINT  45121.8496  -2622.7806  387.0312
    SKEY ELPL
    ITEM-CODE  622
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45115.8496  -2622.7806  387.0312  8.0000  PL
    END-POINT  44995.6819  -2622.7806  387.0312  8.0000  PL
    ITEM-CODE  624
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44882.7535  -2648.7246  369.2543  8.0000  PL
    END-POINT  44694.4130  -2648.7246  369.2543  8.0000  PL
    ITEM-CODE  640
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
TEE
    END-POINT  44886.7535  -2648.7246  369.2543  8.0000  PL
    END-POINT  44904.3135  -2648.7246  369.2543  8.0000  PL
    CENTRE-POINT  44895.5335  -2648.7246  369.2543
    BRANCH1-POINT  44895.5335  -2648.7246  360.4743  8.0000  PL
    SKEY TEPL
    ITEM-CODE  638
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  44904.3135  -2648.7246  369.2543  8.0000  PL
    END-POINT  44963.3647  -2648.7246  369.2543  8.0000  PL
    ITEM-CODE  635
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44963.3647  -2648.7246  369.2543  8.0000  PL
    END-POINT  44971.9147  -2640.1746  369.2543  8.0000  PL
    CENTRE-POINT  44971.9147  -2648.7246  369.2543
    SKEY ELPL
    ITEM-CODE  633
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44971.9147  -2640.1746  369.2543  8.0000  PL
    END-POINT  44971.9147  -2631.3306  369.2543  8.0000  PL
    ITEM-CODE  635
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44971.9147  -2631.3306  369.2543  8.0000  PL
    END-POINT  44977.9604  -2622.7806  375.3001  8.0000  PL
    CENTRE-POINT  44971.9147  -2622.7806  369.2543
    SKEY ELPL
    ITEM-CODE  631
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44977.9604  -2622.7806  375.3001  8.0000  PL
    END-POINT  44985.4441  -2622.7806  382.7838  8.0000  PL
    ITEM-CODE  629
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44985.4392  -2622.7806  382.7887  8.0000  PL
    END-POINT  44995.6819  -2622.7806  387.0313  8.0000  PL
    CENTRE-POINT  44989.6819  -2622.7806  387.0313
    SKEY ELPL
    ITEM-CODE  627
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-NH4WD-NM-SPOOL-J-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44677.3130  -2648.7246  185.3162  8.0000  PL
    END-POINT  44685.8630  -2648.7246  193.8662  8.0000  PL
    CENTRE-POINT  44685.8630  -2648.7246  185.3162
    SKEY ELPL
    ITEM-CODE  650
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  44685.8630  -2648.7246  193.8662  8.0000  PL
    END-POINT  44685.8630  -2648.7246  360.7043  8.0000  PL
    ITEM-CODE  647
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  44685.8630  -2648.7246  360.7043  8.0000  PL
    END-POINT  44694.4130  -2648.7246  369.2543  8.0000  PL
    CENTRE-POINT  44685.8630  -2648.7246  369.2543
    SKEY ELPL
    ITEM-CODE  645
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-H-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
COUPLING
    END-POINT  45265.6289  -2559.3812  388.0938  6.0000  PL
    END-POINT  45265.8989  -2559.3812  388.0938  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  45265.8989  -2559.3812  388.0938  10.0000  PL
    END-POINT  45263.3989  -2559.3812  388.0938  10.0000  PL
    SKEY COCP
    ITEM-CODE  550
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  45263.3989  -2559.3812  388.0938  10.0000  PL
    END-POINT  45047.2447  -2559.3812  388.0938  10.0000  PL
    ITEM-CODE  553
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45027.9241  -2565.7012  370.3173  10.0000  PL
    END-POINT  45027.9241  -2694.4047  370.3173  10.0000  PL
    ITEM-CODE  557
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  45024.2947  -2700.7246  370.3168  10.0000  PL
    END-POINT  45027.9147  -2697.1047  370.3168  10.0000  PL
    CENTRE-POINT  45027.9147  -2700.7246  370.3168
    SKEY ELPL
    ITEM-CODE  559
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45032.3930  -2559.3812  374.7863  10.0000  PL
    END-POINT  45044.5987  -2559.3812  386.9919  10.0000  PL
    ITEM-CODE  553
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45044.5987  -2559.3812  386.9919  10.0000  PL
    END-POINT  45047.2447  -2559.3812  388.0879  10.0000  PL
    CENTRE-POINT  45045.6947  -2559.3812  388.0879
    SKEY ELPL
    ITEM-CODE  551
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-3
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  45021.5947  -2700.7246  370.3168  10.0000  PL
    END-POINT  44897.0140  -2700.7246  370.3168  10.0000  PL
    ITEM-CODE  561
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-4
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  44897.0140  -2700.7246  370.3168  10.0000  PL
    END-POINT  44889.8940  -2700.7246  370.3168  10.0000  PL
    CENTRE-POINT  44893.4540  -2700.7246  370.3168
    BRANCH1-POINT  44893.4540  -2700.7246  361.8918  10.0000  PL
    SKEY TEPL
    ITEM-CODE  563
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-4
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  44889.8940  -2700.7246  370.3168  10.0000  PL
    END-POINT  44692.1829  -2700.7246  370.3168  10.0000  PL
    ITEM-CODE  563
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  45027.9241  -2563.0012  370.3173  10.0000  PL
    END-POINT  45030.4839  -2559.3812  372.8771  10.0000  PL
    CENTRE-POINT  45027.9241  -2559.3812  370.3173
    SKEY ELPL
    ITEM-CODE  555
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-I-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-J-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
PIPE
    END-POINT  44685.8630  -2700.7246  363.9969  10.0000  PL
    END-POINT  44685.8630  -2700.7246  192.6986  10.0000  PL
    ITEM-CODE  567
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-J-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-J-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44683.3032  -2703.2844  186.3787  10.0000  PL
    END-POINT  44685.8630  -2700.7246  189.9986  10.0000  PL
    CENTRE-POINT  44685.8630  -2700.7246  186.3787
    SKEY ELPL
    ITEM-CODE  569
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-J-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-NM-SPOOL-J-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  30/07/2016
ELBOW
    END-POINT  44685.8630  -2700.7246  366.6969  10.0000  PL
    END-POINT  44689.4829  -2700.7246  370.3168  10.0000  PL
    CENTRE-POINT  44685.8630  -2700.7246  370.3168
    SKEY ELPL
    ITEM-CODE  565
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-NM-SPOOL-J-3
    ITEM-ATTRIBUTE0 CID=[2523]