ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Progressive Build Drains-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47906.3989  -5445.2609  346.4687  10.0000  PL
    END-POINT  47910.0189  -5441.6409  346.4687  10.0000  PL
    CENTRE-POINT  47910.0189  -5445.2609  346.4687
    SKEY ELPL
    ITEM-CODE  455
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47910.0189  -5304.2614  346.4687  10.0000  PL
    END-POINT  47910.0189  -5438.9409  346.4687  10.0000  PL
    ITEM-CODE  453
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47903.6989  -5445.2609  346.4687  10.0000  PL
    END-POINT  47701.0414  -5445.2609  346.4687  10.0000  PL
    ITEM-CODE  457
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]