ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Progressive Build Drains-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  46781.9065  -4622.0514  392.0313  6.0000  PL
    END-POINT  46781.9065  -4622.3214  392.0313  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  46781.9065  -4622.3214  392.0313  10.0000  PL
    END-POINT  46781.9065  -4619.8214  392.0313  10.0000  PL
    SKEY COCP
    ITEM-CODE  516
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  46781.9065  -4619.8214  392.0313  10.0000  PL
    END-POINT  46781.9065  -4450.1716  392.0313  10.0000  PL
    ITEM-CODE  514
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46781.9065  -4450.1716  392.0313  10.0000  PL
    END-POINT  46781.9065  -4446.5516  388.4113  10.0000  PL
    CENTRE-POINT  46781.9065  -4446.5516  392.0313
    SKEY ELPL
    ITEM-CODE  515
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46781.9065  -4446.5516  388.4113  10.0000  PL
    END-POINT  46781.9065  -4446.5516  364.0363  10.0000  PL
    ITEM-CODE  517
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46781.9065  -4446.5516  364.0363  10.0000  PL
    END-POINT  46778.2865  -4446.5516  360.4163  10.0000  PL
    CENTRE-POINT  46781.9065  -4446.5516  360.4163
    SKEY ELPL
    ITEM-CODE  519
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46778.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46538.2865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  521
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  46538.2865  -4446.5516  360.4163  6.0000  PL
    END-POINT  46538.0165  -4446.5516  360.4163  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Progressive Build Drains-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  46781.9065  -5018.4128  392.0313  6.0000  PL
    END-POINT  46781.9065  -5018.6828  392.0313  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  46781.9065  -5018.6828  392.0313  10.0000  PL
    END-POINT  46781.9065  -5016.1828  392.0313  10.0000  PL
    SKEY COCP
    ITEM-CODE  495
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  46781.9065  -5016.1828  392.0313  10.0000  PL
    END-POINT  46781.9065  -4969.5614  392.0313  10.0000  PL
    ITEM-CODE  496
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46781.9065  -4969.5614  392.0313  10.0000  PL
    END-POINT  46785.5265  -4965.9414  392.0313  10.0000  PL
    CENTRE-POINT  46781.9065  -4965.9414  392.0313
    SKEY ELPL
    ITEM-CODE  497
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  45204.1289  -4432.1997  360.4163  6.0000  PL
    END-POINT  45204.3989  -4432.1997  360.4163  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  45204.3989  -4432.1997  360.4163  10.0000  PL
    END-POINT  45201.8989  -4432.1997  360.4163  10.0000  PL
    SKEY COCP
    ITEM-CODE  548
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  45201.8989  -4432.1997  360.4163  10.0000  PL
    END-POINT  44968.6396  -4432.1997  360.4163  10.0000  PL
    ITEM-CODE  546
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  45604.0165  -4446.5516  360.4163  6.0000  PL
    END-POINT  45604.2865  -4446.5516  360.4163  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  45604.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  45601.7865  -4446.5516  360.4163  10.0000  PL
    SKEY COCP
    ITEM-CODE  543
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  45601.7865  -4446.5516  360.4163  10.0000  PL
    END-POINT  45545.6389  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  541
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45545.6389  -4446.5516  360.4163  10.0000  PL
    END-POINT  45542.0189  -4450.1716  360.4163  10.0000  PL
    CENTRE-POINT  45542.0189  -4446.5516  360.4163
    SKEY ELPL
    ITEM-CODE  529
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45542.0189  -4450.1716  360.4163  10.0000  PL
    END-POINT  45542.0189  -4556.1214  360.4163  10.0000  PL
    ITEM-CODE  531
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  45810.5165  -4446.5516  360.4163  6.0000  PL
    END-POINT  45810.7865  -4446.5516  360.4163  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  45810.7865  -4446.5516  360.4163  10.0000  PL
    END-POINT  45808.2865  -4446.5516  360.4163  10.0000  PL
    SKEY COCP
    ITEM-CODE  538
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  45808.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  45604.2865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  541
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  46053.0165  -4446.5516  360.4163  6.0000  PL
    END-POINT  46053.2865  -4446.5516  360.4163  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  46053.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46050.7865  -4446.5516  360.4163  10.0000  PL
    SKEY COCP
    ITEM-CODE  532
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  46050.7865  -4446.5516  360.4163  10.0000  PL
    END-POINT  45810.7865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  535
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  46295.5165  -4446.5516  360.4163  6.0000  PL
    END-POINT  46295.7865  -4446.5516  360.4163  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-7
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  46295.7865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46293.2865  -4446.5516  360.4163  10.0000  PL
    SKEY COCP
    ITEM-CODE  526
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  46293.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46053.2865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  529
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  46839.4667  -5262.3028  392.0313  6.0000  PL
    END-POINT  46839.7367  -5262.3028  392.0313  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  46839.7367  -5262.3028  392.0313  10.0000  PL
    END-POINT  46837.2367  -5262.3028  392.0313  10.0000  PL
    SKEY COCP
    ITEM-CODE  489
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  46837.2367  -5262.3028  392.0313  10.0000  PL
    END-POINT  46785.5265  -5262.3028  392.0313  10.0000  PL
    ITEM-CODE  489
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46785.5265  -5262.3028  392.0313  10.0000  PL
    END-POINT  46781.9065  -5258.6828  392.0313  10.0000  PL
    CENTRE-POINT  46781.9065  -5262.3028  392.0313
    SKEY ELPL
    ITEM-CODE  491
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-8
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46781.9065  -5258.6828  392.0313  10.0000  PL
    END-POINT  46781.9065  -5018.6828  392.0313  10.0000  PL
    ITEM-CODE  493
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  47450.8314  -5255.0023  392.0313  6.0000  PL
    END-POINT  47451.1014  -5255.0023  392.0313  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  47451.1014  -5255.0023  392.0313  10.0000  PL
    END-POINT  47448.6014  -5255.0023  392.0313  10.0000  PL
    SKEY COCP
    ITEM-CODE  471
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  47448.6014  -5255.0023  392.0313  10.0000  PL
    END-POINT  47255.9767  -5255.0023  392.0313  10.0000  PL
    ITEM-CODE  474
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47255.9767  -5255.0023  392.0313  10.0000  PL
    END-POINT  47252.3567  -5251.3823  392.0313  10.0000  PL
    CENTRE-POINT  47252.3567  -5255.0023  392.0313
    SKEY ELPL
    ITEM-CODE  473
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-9
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  48165.4298  -5397.1719  346.4687  6.0000  PL
    END-POINT  48165.6998  -5397.1719  346.4687  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-10
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  48165.6998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48163.1998  -5397.1719  346.4687  10.0000  PL
    SKEY COCP
    ITEM-CODE  449
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  48163.1998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48111.6389  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  452
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-10
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  48111.6389  -5397.1719  346.4687  10.0000  PL
    END-POINT  48108.0189  -5393.5519  346.4687  10.0000  PL
    CENTRE-POINT  48108.0189  -5397.1719  346.4687
    SKEY ELPL
    ITEM-CODE  443
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-10
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  48407.9298  -5397.1719  346.4687  6.0000  PL
    END-POINT  48408.1998  -5397.1719  346.4687  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-11
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  48408.1998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48405.6998  -5397.1719  346.4687  10.0000  PL
    SKEY COCP
    ITEM-CODE  443
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  48405.6998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48165.6998  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  446
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  48650.4298  -5397.1719  346.4687  6.0000  PL
    END-POINT  48650.6998  -5397.1719  346.4687  6.0000  PL
    SKEY COCP
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-Sch 80 CPVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-12
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  48650.6998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48648.1998  -5397.1719  346.4687  10.0000  PL
    SKEY COCP
    ITEM-CODE  437
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  48648.1998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48408.1998  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  440
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
COUPLING
    END-POINT  46538.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46535.7865  -4446.5516  360.4163  10.0000  PL
    SKEY COCP
    ITEM-CODE  523
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  46535.7865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46295.7865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  524
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  45451.6389  -4562.4414  360.4163  10.0000  PL
    END-POINT  45448.0189  -4558.8214  360.4163  10.0000  PL
    CENTRE-POINT  45448.0189  -4562.4414  360.4163
    SKEY ELPL
    ITEM-CODE  537
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-14
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45448.0189  -4558.8214  360.4163  10.0000  PL
    END-POINT  45448.0189  -4435.8197  360.4163  10.0000  PL
    ITEM-CODE  539
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-14
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45448.0189  -4435.8197  360.4163  10.0000  PL
    END-POINT  45444.3989  -4432.1997  360.4163  10.0000  PL
    CENTRE-POINT  45448.0189  -4432.1997  360.4163
    SKEY ELPL
    ITEM-CODE  541
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-14
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45444.3989  -4432.1997  360.4163  10.0000  PL
    END-POINT  45204.3989  -4432.1997  360.4163  10.0000  PL
    ITEM-CODE  543
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  46785.5265  -4865.9414  392.0313  10.0000  PL
    END-POINT  46781.9065  -4862.3214  392.0313  10.0000  PL
    CENTRE-POINT  46781.9065  -4865.9414  392.0313
    SKEY ELPL
    ITEM-CODE  509
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-15
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46781.9065  -4862.3214  392.0313  10.0000  PL
    END-POINT  46781.9065  -4622.3214  392.0313  10.0000  PL
    ITEM-CODE  511
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47047.3567  -5141.1818  392.0313  10.0000  PL
    END-POINT  47047.3567  -5258.6828  392.0313  10.0000  PL
    ITEM-CODE  483
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-16
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47047.3567  -5258.6828  392.0313  10.0000  PL
    END-POINT  47043.7367  -5262.3028  392.0313  10.0000  PL
    CENTRE-POINT  47047.3567  -5262.3028  392.0313
    SKEY ELPL
    ITEM-CODE  485
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-16
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47043.7367  -5262.3028  392.0313  10.0000  PL
    END-POINT  46839.7367  -5262.3028  392.0313  10.0000  PL
    ITEM-CODE  487
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47694.7214  -5258.6223  392.0313  10.0000  PL
    END-POINT  47691.1014  -5255.0023  392.0313  10.0000  PL
    CENTRE-POINT  47694.7214  -5255.0023  392.0313
    SKEY ELPL
    ITEM-CODE  467
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-17
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47691.1014  -5255.0023  392.0313  10.0000  PL
    END-POINT  47451.1014  -5255.0023  392.0313  10.0000  PL
    ITEM-CODE  469
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  45535.6989  -4562.4414  360.4163  10.0000  PL
    END-POINT  45454.3389  -4562.4414  360.4163  10.0000  PL
    ITEM-CODE  535
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-18
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  45538.3989  -4562.4414  360.4163  10.0000  PL
    END-POINT  45542.0189  -4558.8214  360.4163  10.0000  PL
    CENTRE-POINT  45542.0189  -4562.4414  360.4163
    SKEY ELPL
    ITEM-CODE  533
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-19
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  46885.9489  -4865.9414  392.0313  10.0000  PL
    END-POINT  46788.2265  -4865.9414  392.0312  10.0000  PL
    ITEM-CODE  507
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-20
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  46888.6489  -4865.9414  392.0313  10.0000  PL
    END-POINT  46892.2689  -4869.5614  392.0313  10.0000  PL
    CENTRE-POINT  46892.2689  -4865.9414  392.0313
    SKEY ELPL
    ITEM-CODE  505
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-21
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  46892.2689  -4959.6214  392.0313  10.0000  PL
    END-POINT  46892.2689  -4872.2614  392.0313  10.0000  PL
    ITEM-CODE  503
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-22
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  46892.2689  -4962.3214  392.0313  10.0000  PL
    END-POINT  46888.6489  -4965.9414  392.0313  10.0000  PL
    CENTRE-POINT  46892.2689  -4965.9414  392.0313
    SKEY ELPL
    ITEM-CODE  501
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-23
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  46788.2265  -4965.9414  392.0313  10.0000  PL
    END-POINT  46885.9489  -4965.9414  392.0313  10.0000  PL
    ITEM-CODE  499
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-24
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47047.3567  -5138.4818  392.0313  10.0000  PL
    END-POINT  47050.9767  -5134.8618  392.0313  10.0000  PL
    CENTRE-POINT  47047.3567  -5134.8618  392.0313
    SKEY ELPL
    ITEM-CODE  481
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-25
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47246.0367  -5134.8618  392.0313  10.0000  PL
    END-POINT  47053.6767  -5134.8618  392.0313  10.0000  PL
    ITEM-CODE  479
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-26
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47248.7367  -5134.8618  392.0313  10.0000  PL
    END-POINT  47252.3567  -5138.4818  392.0313  10.0000  PL
    CENTRE-POINT  47252.3567  -5134.8618  392.0313
    SKEY ELPL
    ITEM-CODE  477
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-27
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47252.3567  -5248.6823  392.0313  10.0000  PL
    END-POINT  47252.3567  -5141.1818  392.0313  10.0000  PL
    ITEM-CODE  475
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-28
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47694.7214  -5438.9409  392.0313  10.0000  PL
    END-POINT  47694.7214  -5261.3223  392.0313  10.0000  PL
    ITEM-CODE  465
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-29
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47694.7214  -5441.6409  392.0313  10.0000  PL
    END-POINT  47694.7214  -5445.2609  388.4113  10.0000  PL
    CENTRE-POINT  47694.7214  -5445.2609  392.0313
    SKEY ELPL
    ITEM-CODE  463
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-30
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47694.7214  -5445.2609  388.4113  10.0000  PL
    END-POINT  47694.7214  -5445.2609  350.0887  10.0000  PL
    ITEM-CODE  461
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-30
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47694.7214  -5445.2609  350.0887  10.0000  PL
    END-POINT  47698.3414  -5445.2609  346.4687  10.0000  PL
    CENTRE-POINT  47694.7214  -5445.2609  346.4687
    SKEY ELPL
    ITEM-CODE  459
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-30
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47903.6989  -5445.2609  346.4687  10.0000  PL
    END-POINT  47701.0414  -5445.2609  346.4687  10.0000  PL
    ITEM-CODE  457
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-31
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47906.3989  -5445.2609  346.4687  10.0000  PL
    END-POINT  47910.0189  -5441.6409  346.4687  10.0000  PL
    CENTRE-POINT  47910.0189  -5445.2609  346.4687
    SKEY ELPL
    ITEM-CODE  455
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-32
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47910.0189  -5304.2614  346.4687  10.0000  PL
    END-POINT  47910.0189  -5438.9409  346.4687  10.0000  PL
    ITEM-CODE  453
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-33
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47910.0189  -5301.5614  346.4687  10.0000  PL
    END-POINT  47913.6389  -5297.9414  346.4687  10.0000  PL
    CENTRE-POINT  47910.0189  -5297.9414  346.4687
    SKEY ELPL
    ITEM-CODE  451
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  48101.6989  -5297.9414  346.4687  10.0000  PL
    END-POINT  47916.3389  -5297.9414  346.4687  10.0000  PL
    ITEM-CODE  449
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-35
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  48104.3989  -5297.9414  346.4687  10.0000  PL
    END-POINT  48108.0189  -5301.5614  346.4687  10.0000  PL
    CENTRE-POINT  48108.0189  -5297.9414  346.4687
    SKEY ELPL
    ITEM-CODE  447
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-36
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  48108.0189  -5390.8519  346.4687  10.0000  PL
    END-POINT  48108.0189  -5304.2614  346.4687  10.0000  PL
    ITEM-CODE  445
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-37
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  48650.6998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48884.6998  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-38
    ITEM-ATTRIBUTE0 CID=[2041]