ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Progressive Build Drains-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  18/05/2016
PIPE
    END-POINT  47357.9716  -3934.4491  388.0937  10.0000  PL
    END-POINT  47179.6389  -3934.4491  388.0937  10.0000  PL
    ITEM-CODE  470
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47179.6389  -3934.4491  388.0938  10.0000  PL
    END-POINT  47176.0189  -3930.8291  388.0937  10.0000  PL
    CENTRE-POINT  47176.0189  -3934.4491  388.0938
    SKEY ELPL
    ITEM-CODE  471
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  18/05/2016
PIPE
    END-POINT  47176.0189  -3928.1291  388.0937  10.0000  PL
    END-POINT  47176.0189  -3826.2614  388.0937  10.0000  PL
    ITEM-CODE  473
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  18/05/2016
ELBOW
    END-POINT  47172.3989  -3819.9414  388.0937  10.0000  PL
    END-POINT  47176.0189  -3823.5614  388.0938  10.0000  PL
    CENTRE-POINT  47176.0189  -3819.9414  388.0938
    SKEY ELPL
    ITEM-CODE  475
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  18/05/2016
PIPE
    END-POINT  47169.6989  -3819.9414  388.0937  10.0000  PL
    END-POINT  46992.3389  -3819.9414  388.0937  10.0000  PL
    ITEM-CODE  477
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  18/05/2016
ELBOW
    END-POINT  46986.0189  -3823.5614  388.0938  10.0000  PL
    END-POINT  46989.6389  -3819.9414  388.0938  10.0000  PL
    CENTRE-POINT  46986.0189  -3819.9414  388.0938
    SKEY ELPL
    ITEM-CODE  479
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  18/05/2016
PIPE
    END-POINT  46986.0189  -3826.2614  388.0938  10.0000  PL
    END-POINT  46986.0189  -3927.6214  388.0938  10.0000  PL
    ITEM-CODE  481
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  18/05/2016
ELBOW
    END-POINT  46986.0189  -3930.3214  388.0938  10.0000  PL
    END-POINT  46982.3989  -3933.9414  388.0937  10.0000  PL
    CENTRE-POINT  46986.0189  -3933.9414  388.0938
    SKEY ELPL
    ITEM-CODE  483
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-7
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46982.3989  -3933.9414  388.0937  10.0000  PL
    END-POINT  46742.3989  -3933.9414  388.0937  10.0000  PL
    ITEM-CODE  485
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-7
    ITEM-ATTRIBUTE0 CID=[2041]