ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Progressive Build Drains-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  46839.7367  -5262.3028  392.0313  10.0000  PL
    END-POINT  47043.7367  -5262.3028  392.0313  10.0000  PL
    ITEM-CODE  487
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47043.7367  -5262.3028  392.0313  10.0000  PL
    END-POINT  47047.3567  -5258.6828  392.0313  10.0000  PL
    CENTRE-POINT  47047.3567  -5262.3028  392.0313
    SKEY ELPL
    ITEM-CODE  485
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47047.3567  -5258.6828  392.0313  10.0000  PL
    END-POINT  47047.3567  -5141.1818  392.0313  10.0000  PL
    ITEM-CODE  483
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47047.3567  -5138.4818  392.0313  10.0000  PL
    END-POINT  47050.9767  -5134.8618  392.0313  10.0000  PL
    CENTRE-POINT  47047.3567  -5134.8618  392.0313
    SKEY ELPL
    ITEM-CODE  481
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47246.0367  -5134.8618  392.0313  10.0000  PL
    END-POINT  47053.6767  -5134.8618  392.0313  10.0000  PL
    ITEM-CODE  479
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47248.7367  -5134.8618  392.0313  10.0000  PL
    END-POINT  47252.3567  -5138.4818  392.0313  10.0000  PL
    CENTRE-POINT  47252.3567  -5134.8618  392.0313
    SKEY ELPL
    ITEM-CODE  477
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
PIPE
    END-POINT  47252.3567  -5248.6823  392.0313  10.0000  PL
    END-POINT  47252.3567  -5141.1818  392.0313  10.0000  PL
    ITEM-CODE  475
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/05/2016
ELBOW
    END-POINT  47252.3567  -5251.3823  392.0313  10.0000  PL
    END-POINT  47255.9767  -5255.0023  392.0313  10.0000  PL
    CENTRE-POINT  47252.3567  -5255.0023  392.0313
    SKEY ELPL
    ITEM-CODE  473
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-6
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47255.9767  -5255.0023  392.0313  10.0000  PL
    END-POINT  47448.6014  -5255.0023  392.0313  10.0000  PL
    ITEM-CODE  474
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-6
    ITEM-ATTRIBUTE0 CID=[2041]