ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Progressive Build Drains-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
MISC-COMPONENT
    END-POINT  47551.5320  -1691.7780  150.6425  4.0000  PL
    END-POINT  47551.5320  -1713.7780  150.6425  4.0000  PL
    CENTRE-POINT  47551.5320  -1702.7780  150.6425
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  489
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[928]
PIPE
    END-POINT  47551.5320  -1713.7780  150.6425  4.0000  PL
    END-POINT  47551.5320  -1826.1462  150.6425  4.0000  PL
    ITEM-CODE  488
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47551.5320  -1826.1462  150.6425  4.0000  PL
    END-POINT  47551.5320  -1830.8650  155.3613  4.0000  PL
    CENTRE-POINT  47551.5320  -1830.8650  150.6425
    SKEY ELPL
    ITEM-CODE  486
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47551.5320  -1830.8650  155.3613  4.0000  PL
    END-POINT  47551.5320  -1830.8650  183.0937  4.0000  PL
    ITEM-CODE  486
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47551.5320  -1830.8650  183.0937  4.0000  PL
    END-POINT  47546.8132  -1830.8650  187.8125  4.0000  PL
    CENTRE-POINT  47551.5320  -1830.8650  187.8125
    SKEY ELPL
    ITEM-CODE  484
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47546.8132  -1830.8650  187.8125  4.0000  PL
    END-POINT  47462.1386  -1830.8650  187.8125  4.0000  PL
    ITEM-CODE  481
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47462.1386  -1830.8650  187.8125  4.0000  PL
    END-POINT  47453.6031  -1827.3294  187.8125  4.0000  PL
    CENTRE-POINT  47457.1386  -1830.8650  187.8125
    SKEY ELPL
    ITEM-CODE  481
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47453.6031  -1827.3294  187.8125  4.0000  PL
    END-POINT  47450.1030  -1823.8293  187.8125  4.0000  PL
    ITEM-CODE  483
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47450.1030  -1823.8293  187.8125  4.0000  PL
    END-POINT  47446.7664  -1820.4927  192.5312  4.0000  PL
    CENTRE-POINT  47446.7664  -1820.4927  187.8125
    SKEY ELPL
    ITEM-CODE  479
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47446.7664  -1820.4927  192.5312  4.0000  PL
    END-POINT  47446.7664  -1820.4927  274.4512  4.0000  PL
    ITEM-CODE  476
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47446.7664  -1820.4927  274.4512  4.0000  PL
    END-POINT  47442.0476  -1820.4927  279.1700  4.0000  PL
    CENTRE-POINT  47446.7664  -1820.4927  279.1700
    SKEY ELPL
    ITEM-CODE  474
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47442.0476  -1820.4927  279.1700  4.0000  PL
    END-POINT  47280.3087  -1820.4927  279.1700  4.0000  PL
    ITEM-CODE  471
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47280.3087  -1820.4927  279.1700  4.0000  PL
    END-POINT  47275.5900  -1820.4927  274.4512  4.0000  PL
    CENTRE-POINT  47275.5900  -1820.4927  279.1700
    SKEY ELPL
    ITEM-CODE  469
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47275.5900  -1820.4927  274.4512  4.0000  PL
    END-POINT  47275.5900  -1820.4927  269.7188  4.0000  PL
    ITEM-CODE  469
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47275.5900  -1820.4927  269.7188  4.0000  PL
    END-POINT  47275.5900  -1825.2114  265.0000  4.0000  PL
    CENTRE-POINT  47275.5900  -1820.4927  265.0000
    SKEY ELPL
    ITEM-CODE  467
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47275.5900  -1825.2114  265.0000  4.0000  PL
    END-POINT  47275.5900  -1881.5287  265.0000  4.0000  PL
    ITEM-CODE  464
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -1881.5287  265.0000  4.0000  PL
    END-POINT  47275.5900  -2078.3412  265.0000  4.0000  PL
    ITEM-CODE  461
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -2078.3412  265.0000  4.0000  PL
    END-POINT  47275.5900  -2275.1537  265.0000  4.0000  PL
    ITEM-CODE  458
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -2275.1537  265.0000  4.0000  PL
    END-POINT  47275.5900  -2471.9662  265.0000  4.0000  PL
    ITEM-CODE  455
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -2471.9662  265.0000  4.0000  PL
    END-POINT  47275.5900  -2668.7787  265.0000  4.0000  PL
    ITEM-CODE  452
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -2668.7787  265.0000  4.0000  PL
    END-POINT  47275.5900  -2865.5912  265.0000  4.0000  PL
    ITEM-CODE  449
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -2865.5912  265.0000  4.0000  PL
    END-POINT  47275.5900  -3062.4037  265.0000  4.0000  PL
    ITEM-CODE  446
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -3062.4037  265.0000  4.0000  PL
    END-POINT  47275.5900  -3259.2162  265.0000  4.0000  PL
    ITEM-CODE  443
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -3259.2162  265.0000  4.0000  PL
    END-POINT  47275.5900  -3456.0287  265.0000  4.0000  PL
    ITEM-CODE  440
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  47275.5900  -3456.0287  265.0000  4.0000  PL
    END-POINT  47275.5900  -3464.4974  265.0000  4.0000  PL
    CENTRE-POINT  47275.5900  -3460.2631  265.0000
    BRANCH1-POINT  47275.5900  -3460.2631  260.7100  4.0000  PL
    SKEY TEPL
    ITEM-CODE  438
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  47275.5900  -3464.4974  265.0000  4.0000  PL
    END-POINT  47275.5900  -3534.2613  265.0000  4.0000  PL
    ITEM-CODE  437
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  47275.5900  -3534.2613  265.0000  4.0000  PL
    END-POINT  47275.5900  -3542.7301  265.0000  4.0000  PL
    CENTRE-POINT  47275.5900  -3538.4957  265.0000
    BRANCH1-POINT  47275.5900  -3538.4957  260.7100  4.0000  PL
    SKEY TEPL
    ITEM-CODE  435
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  47275.5900  -3542.7301  265.0000  4.0000  PL
    END-POINT  47275.5900  -3552.8783  265.0000  4.0000  PL
    ITEM-CODE  434
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -3552.8783  265.0000  4.0000  PL
    END-POINT  47275.5900  -3749.6908  265.0000  4.0000  PL
    ITEM-CODE  432
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -3749.6908  265.0000  4.0000  PL
    END-POINT  47275.5900  -3946.5033  265.0000  4.0000  PL
    ITEM-CODE  429
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47275.5900  -3946.5033  265.0000  4.0000  PL
    END-POINT  47280.3087  -3951.2220  265.0000  4.0000  PL
    CENTRE-POINT  47275.5900  -3951.2220  265.0000
    SKEY ELPL
    ITEM-CODE  427
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47280.3087  -3951.2220  265.0000  4.0000  PL
    END-POINT  47313.1698  -3951.2220  265.0000  4.0000  PL
    ITEM-CODE  424
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47275.5900  -3460.2631  260.7100  4.0000  PL
    END-POINT  47275.5900  -3460.2631  245.8760  4.0000  PL
    ITEM-CODE  440
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47275.5900  -3460.2631  245.8760  4.0000  PL
    END-POINT  47280.3087  -3460.2631  241.1572  4.0000  PL
    CENTRE-POINT  47275.5900  -3460.2631  241.1572
    SKEY ELPL
    ITEM-CODE  440
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47280.3087  -3460.2631  241.1572  4.0000  PL
    END-POINT  47375.5387  -3460.2631  241.1572  4.0000  PL
    ITEM-CODE  442
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[2041]
MISC-COMPONENT
    END-POINT  47375.5387  -3460.2631  241.1572  4.0000  PL
    END-POINT  47397.5387  -3460.2631  241.1572  4.0000  PL
    CENTRE-POINT  47386.5387  -3460.2631  241.1572
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  443
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE Progressive Build Drains-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
MISC-COMPONENT
    END-POINT  47159.5084  -3538.4957  241.1572  4.0000  PL
    END-POINT  47181.5084  -3538.4957  241.1572  4.0000  PL
    CENTRE-POINT  47170.5084  -3538.4957  241.1572
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  440
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[928]
PIPE
    END-POINT  47181.5084  -3538.4957  241.1572  4.0000  PL
    END-POINT  47270.8712  -3538.4957  241.1572  4.0000  PL
    ITEM-CODE  439
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  47270.8712  -3538.4957  241.1572  4.0000  PL
    END-POINT  47275.5900  -3538.4957  245.8760  4.0000  PL
    CENTRE-POINT  47275.5900  -3538.4957  241.1572
    SKEY ELPL
    ITEM-CODE  437
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  47275.5900  -3538.4957  245.8760  4.0000  PL
    END-POINT  47275.5900  -3538.4957  260.7100  4.0000  PL
    ITEM-CODE  439
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
MISC-COMPONENT
    END-POINT  45579.7464  -1634.4403  175.6323  4.0000  PL
    END-POINT  45579.7464  -1634.4403  197.6323  4.0000  PL
    CENTRE-POINT  45579.7464  -1634.4403  186.6323
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  506
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[928]
PIPE
    END-POINT  45579.7464  -1634.4403  197.6323  4.0000  PL
    END-POINT  45579.7464  -1634.4403  224.3842  4.0000  PL
    ITEM-CODE  505
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45579.7464  -1634.4403  224.3842  4.0000  PL
    END-POINT  45579.7464  -1637.9758  232.9197  4.0000  PL
    CENTRE-POINT  45579.7464  -1634.4403  229.3842
    SKEY ELPL
    ITEM-CODE  502
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  45579.7464  -1637.9758  232.9197  4.0000  PL
    END-POINT  45584.4652  -1641.3125  236.2564  4.0000  PL
    CENTRE-POINT  45579.7464  -1641.3125  236.2564
    SKEY ELPL
    ITEM-CODE  500
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45584.4652  -1641.3125  236.2564  4.0000  PL
    END-POINT  45676.2078  -1641.3125  236.2564  4.0000  PL
    ITEM-CODE  497
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45676.2078  -1641.3125  236.2564  4.0000  PL
    END-POINT  45873.0203  -1641.3125  236.2564  4.0000  PL
    ITEM-CODE  494
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45873.0203  -1641.3125  236.2564  4.0000  PL
    END-POINT  46045.8328  -1641.3125  236.2564  4.0000  PL
    ITEM-CODE  491
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  46045.8328  -1641.3125  236.2564  4.0000  PL
    END-POINT  46054.3016  -1641.3125  236.2564  4.0000  PL
    CENTRE-POINT  46050.0672  -1641.3125  236.2564
    BRANCH1-POINT  46050.0672  -1638.2790  233.2229  4.0000  PL
    SKEY TEPL
    ITEM-CODE  489
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  46054.3016  -1641.3125  236.2564  4.0000  PL
    END-POINT  46164.2209  -1641.3125  236.2564  4.0000  PL
    ITEM-CODE  486
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46164.2209  -1641.3125  236.2564  4.0000  PL
    END-POINT  46172.7565  -1637.7770  236.2564  4.0000  PL
    CENTRE-POINT  46169.2209  -1641.3125  236.2564
    SKEY ELPL
    ITEM-CODE  486
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  46172.7565  -1637.7770  236.2564  4.0000  PL
    END-POINT  46176.0931  -1634.4403  240.9751  4.0000  PL
    CENTRE-POINT  46176.0931  -1634.4403  236.2564
    SKEY ELPL
    ITEM-CODE  484
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46176.0931  -1634.4403  240.9751  4.0000  PL
    END-POINT  46176.0931  -1634.4403  294.5163  4.0000  PL
    ITEM-CODE  485
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46176.0931  -1634.4403  294.5163  4.0000  PL
    END-POINT  46179.6287  -1634.4403  303.0518  4.0000  PL
    CENTRE-POINT  46176.0931  -1634.4403  299.5163
    SKEY ELPL
    ITEM-CODE  485
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  46179.6287  -1634.4403  303.0518  4.0000  PL
    END-POINT  46182.9653  -1639.1591  306.3885  4.0000  PL
    CENTRE-POINT  46182.9653  -1634.4403  306.3885
    SKEY ELPL
    ITEM-CODE  483
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46182.9653  -1639.1591  306.3885  4.0000  PL
    END-POINT  46182.9653  -1757.7480  306.3885  4.0000  PL
    ITEM-CODE  481
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46182.9653  -1757.7480  306.3885  4.0000  PL
    END-POINT  46182.9653  -1954.5605  306.3885  4.0000  PL
    ITEM-CODE  478
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46182.9653  -1954.5605  306.3885  4.0000  PL
    END-POINT  46182.9653  -2151.3730  306.3885  4.0000  PL
    ITEM-CODE  475
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46182.9653  -2151.3730  306.3885  4.0000  PL
    END-POINT  46182.9653  -2348.1855  306.3885  4.0000  PL
    ITEM-CODE  472
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46182.9653  -2348.1855  306.3885  4.0000  PL
    END-POINT  46182.9653  -2544.9980  306.3885  4.0000  PL
    ITEM-CODE  469
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
MISC-COMPONENT
    END-POINT  46050.0672  -1634.7435  176.0611  4.0000  PL
    END-POINT  46050.0672  -1634.7435  198.0611  4.0000  PL
    CENTRE-POINT  46050.0672  -1634.7435  187.0611
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  506
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[928]
PIPE
    END-POINT  46050.0672  -1634.7435  198.0611  4.0000  PL
    END-POINT  46050.0672  -1634.7435  224.6874  4.0000  PL
    ITEM-CODE  494
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46050.0672  -1634.7435  224.6874  4.0000  PL
    END-POINT  46050.0672  -1638.2790  233.2229  4.0000  PL
    CENTRE-POINT  46050.0672  -1634.7435  229.6874
    SKEY ELPL
    ITEM-CODE  491
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 45
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Progressive Build Drains-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -1698.6114  308.3885  58.0000  PL
    END-POINT  46212.9653  -1698.6114  424.4192  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-5
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -1794.6114  308.3885  58.0000  PL
    END-POINT  46212.9653  -1794.6114  418.3833  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-6
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -1890.6114  308.3885  58.0000  PL
    END-POINT  46212.9653  -1890.6114  418.3833  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-7
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -1986.6114  308.3885  58.0000  PL
    END-POINT  46212.9653  -1986.6114  411.6100  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-8
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -2063.3973  308.3885  58.0000  PL
    END-POINT  46212.9653  -2063.3973  411.6100  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -2159.3973  308.3885  58.0000  PL
    END-POINT  46212.9653  -2159.3973  411.6100  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-10
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -2247.3144  308.3885  58.0000  PL
    END-POINT  46212.9653  -2247.3144  411.6100  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-11
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -2331.6935  308.3885  58.0000  PL
    END-POINT  46212.9653  -2331.6935  411.6100  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-12
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -2427.6935  308.3885  58.0000  PL
    END-POINT  46212.9653  -2427.6935  411.6100  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-13
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46182.9653  -2523.6935  308.3885  58.0000  PL
    END-POINT  46212.9653  -2523.6935  411.6100  58.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-14
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46033.0158  -1644.1250  219.5000  1.6250  PL
    END-POINT  46033.0158  -1644.1250  252.1250  1.6250  PL
    SKEY NCPL
    ITEM-CODE  151
    ITEM-DESCRIPTION  Unistrut (Vertical)
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-15
    ITEM-ATTRIBUTE0 CID=[910]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46153.0158  -1644.1250  219.5000  1.6250  PL
    END-POINT  46153.0158  -1644.1250  252.1250  1.6250  PL
    SKEY NCPL
    ITEM-CODE  151
    ITEM-DESCRIPTION  Unistrut (Vertical)
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-16
    ITEM-ATTRIBUTE0 CID=[910]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45913.0158  -1644.1250  219.5000  1.6250  PL
    END-POINT  45913.0158  -1644.1250  252.1250  1.6250  PL
    SKEY NCPL
    ITEM-CODE  151
    ITEM-DESCRIPTION  Unistrut (Vertical)
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-17
    ITEM-ATTRIBUTE0 CID=[910]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45793.0158  -1644.1250  219.5000  1.6250  PL
    END-POINT  45793.0158  -1644.1250  252.1250  1.6250  PL
    SKEY NCPL
    ITEM-CODE  151
    ITEM-DESCRIPTION  Unistrut (Vertical)
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-18
    ITEM-ATTRIBUTE0 CID=[910]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45673.0158  -1644.1250  219.5000  1.6250  PL
    END-POINT  45673.0158  -1644.1250  252.1250  1.6250  PL
    SKEY NCPL
    ITEM-CODE  151
    ITEM-DESCRIPTION  Unistrut (Vertical)
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-19
    ITEM-ATTRIBUTE0 CID=[910]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47435.5137  -1822.4927  281.1611  14.0000  PL
    END-POINT  47435.5137  -1830.4927  419.2082  14.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47353.0240  -1822.4927  281.1611  14.0000  PL
    END-POINT  47353.0240  -1830.4927  424.6799  14.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47293.0240  -1822.4927  281.1611  14.0000  PL
    END-POINT  47293.0240  -1830.4927  424.6799  14.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47551.5320  -1821.1484  152.6425  20.0000  PL
    END-POINT  47540.5320  -1821.1484  194.6500  20.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47551.5320  -1725.4983  152.6336  20.0000  PL
    END-POINT  47540.5320  -1725.4983  194.6500  20.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47540.5320  -1830.8650  189.8036  12.0000  PL
    END-POINT  47540.5320  -1837.8650  198.5536  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47464.7189  -1830.8650  189.8036  12.0000  PL
    END-POINT  47464.7189  -1837.8650  198.5536  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47226.3080  -3538.4957  243.1483  12.0000  PL
    END-POINT  47226.3080  -3545.4957  293.2500  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47327.5900  -3460.2631  243.1483  12.0000  PL
    END-POINT  47327.5900  -3467.2631  293.2500  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47372.5900  -3460.2631  243.1483  8.0000  PL
    END-POINT  47372.5900  -3465.2631  293.2500  8.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47184.0259  -3538.4957  243.1483  12.0000  PL
    END-POINT  47184.0259  -3545.4957  293.2500  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47282.5900  -3460.2631  243.1483  12.0000  PL
    END-POINT  47282.5900  -3467.2631  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47268.5900  -3538.4957  243.1483  12.0000  PL
    END-POINT  47268.5900  -3545.4957  293.2500  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -1841.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -1841.7652  424.6799  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -1898.7600  266.9911  12.0000  PL
    END-POINT  47268.5900  -1898.7600  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -1961.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -1961.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2021.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2021.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2081.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2081.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-37
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2141.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2141.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-38
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2201.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2201.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-39
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2261.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2261.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-40
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2321.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2321.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-41
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2381.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2381.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-42
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2441.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2441.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-43
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2501.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2501.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-44
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2561.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2561.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-45
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2621.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2621.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-46
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2681.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2681.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-47
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2741.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2741.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-48
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2801.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2801.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-49
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2861.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2861.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-50
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2921.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2921.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-51
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -2981.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -2981.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-52
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3041.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3041.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-53
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3101.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3101.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-54
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3161.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3161.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-55
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3221.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3221.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-56
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-57
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3281.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3281.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-57
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-58
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3341.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3341.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-58
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-59
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3401.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3401.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-59
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-60
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3469.3976  266.9911  12.0000  PL
    END-POINT  47268.5900  -3469.3976  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-60
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-61
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3521.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3521.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-61
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-62
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3581.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3581.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-62
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-63
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3641.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3641.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-63
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-64
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3701.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3701.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-64
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-65
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3761.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3761.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-65
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-66
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3821.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3821.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-66
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-67
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3881.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3881.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-67
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-68
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47275.5900  -3941.7652  266.9911  12.0000  PL
    END-POINT  47268.5900  -3941.7652  289.5250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-68
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-69
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  47309.0468  -3951.2220  266.9911  12.0000  PL
    END-POINT  47309.0468  -3958.2220  293.2500  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-69
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-70
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45984.8131  -3573.4688  400.7673  12.0000  PL
    END-POINT  45991.8131  -3573.4688  412.7673  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-70
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-71
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45984.8131  -3372.1640  400.7673  12.0000  PL
    END-POINT  45991.8131  -3372.1640  417.5532  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-71
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-72
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45984.8131  -3426.1640  400.7673  12.0000  PL
    END-POINT  45991.8131  -3426.1640  417.5532  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-72
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-73
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45984.8131  -3486.1640  400.7673  12.0000  PL
    END-POINT  45991.8131  -3486.1640  417.5532  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-73
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-74
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46010.4440  -3706.4322  400.7673  12.0000  PL
    END-POINT  46010.4440  -3713.4322  424.0894  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-74
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-75
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46010.4426  -3403.1955  400.7673  12.0000  PL
    END-POINT  46010.4426  -3410.1955  424.0894  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-75
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-76
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45984.8131  -3690.1640  400.7673  12.0000  PL
    END-POINT  45991.8131  -3690.1640  424.0894  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-76
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-77
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45984.8131  -3604.4688  400.7673  12.0000  PL
    END-POINT  45991.8131  -3604.4688  412.7673  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-77
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-78
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46026.5234  -3361.7541  409.7761  12.0000  PL
    END-POINT  46026.5234  -3368.7541  453.2629  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-78
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-79
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45439.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  45439.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-79
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-80
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45493.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  45493.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-80
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-81
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45553.0297  -3361.7541  409.7761  12.0000  PL
    END-POINT  45553.0297  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-81
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-82
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45613.0300  -3361.7541  409.7761  12.0000  PL
    END-POINT  45613.0300  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-82
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-83
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45673.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  45673.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-83
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-84
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45733.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  45733.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-84
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-85
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45793.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  45793.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-85
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-86
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45853.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  45853.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-86
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-87
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45913.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  45913.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-87
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-88
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  45973.0299  -3361.7541  409.7761  10.0000  PL
    END-POINT  45973.0299  -3367.7541  426.3950  10.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-88
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-89
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46093.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  46093.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-89
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-90
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46153.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  46153.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-90
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-91
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46213.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  46213.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-91
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-92
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46273.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  46273.0299  -3368.7541  421.7761  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-92
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-93
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46333.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  46333.0299  -3368.7541  426.3950  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-93
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-94
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46393.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  46393.0299  -3368.7541  426.3950  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-94
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-95
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  04/08/2016
MISC_COMPONENT
    END-POINT  46453.0299  -3361.7541  409.7761  12.0000  PL
    END-POINT  46453.0299  -3368.7541  426.3950  12.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-95
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-96
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
MISC-COMPONENT
    END-POINT  46022.8180  -3706.4322  217.8975  4.0000  PL
    END-POINT  46022.8180  -3706.4322  195.8975  4.0000  PL
    CENTRE-POINT  46022.8180  -3706.4322  206.8975
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  506
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-96
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE Progressive Build Drains-97
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
MISC-COMPONENT
    END-POINT  46022.7101  -3403.1955  240.4325  4.0000  PL
    END-POINT  46022.7101  -3403.1955  218.4325  4.0000  PL
    CENTRE-POINT  46022.7101  -3403.1955  229.4325
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  506
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-97
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE Progressive Build Drains-98
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
MISC-COMPONENT
    END-POINT  45600.6140  -3361.7541  161.1475  4.0000  PL
    END-POINT  45600.6140  -3361.7541  139.1475  4.0000  PL
    CENTRE-POINT  45600.6140  -3361.7541  150.1475
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  506
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-98
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE Progressive Build Drains-99
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
MISC-COMPONENT
    END-POINT  45429.6787  -3361.7541  161.1475  4.0000  PL
    END-POINT  45429.6787  -3361.7541  139.1475  4.0000  PL
    CENTRE-POINT  45429.6787  -3361.7541  150.1475
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  506
    ITEM-DESCRIPTION  2x4 PP04 Valve (BA-27)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-99
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE Progressive Build Drains-100
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  04/08/2016
PIPE
    END-POINT  46501.1043  -3361.7541  407.7850  4.0000  PL
    END-POINT  46304.2918  -3361.7541  407.7850  4.0000  PL
    ITEM-CODE  445
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46304.2918  -3361.7541  407.7850  4.0000  PL
    END-POINT  46107.4793  -3361.7541  407.7850  4.0000  PL
    ITEM-CODE  448
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46107.4793  -3361.7541  407.7850  4.0000  PL
    END-POINT  45989.0475  -3361.7541  407.7850  4.0000  PL
    ITEM-CODE  451
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  45989.0475  -3361.7541  407.7850  4.0000  PL
    END-POINT  45980.5787  -3361.7541  407.7850  4.0000  PL
    CENTRE-POINT  45984.8131  -3361.7541  407.7850
    BRANCH1-POINT  45984.8131  -3361.7541  403.4950  4.0000  PL
    SKEY TEPL
    ITEM-CODE  454
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  45980.5787  -3361.7541  407.7850  4.0000  PL
    END-POINT  45783.7662  -3361.7541  407.7850  4.0000  PL
    ITEM-CODE  456
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45783.7662  -3361.7541  407.7850  4.0000  PL
    END-POINT  45604.8484  -3361.7541  407.7850  4.0000  PL
    ITEM-CODE  459
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  45604.8484  -3361.7541  407.7850  4.0000  PL
    END-POINT  45596.3796  -3361.7541  407.7850  4.0000  PL
    CENTRE-POINT  45600.6140  -3361.7541  407.7850
    BRANCH1-POINT  45600.6140  -3361.7541  403.4950  4.0000  PL
    SKEY TEPL
    ITEM-CODE  462
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  45596.3796  -3361.7541  407.7850  4.0000  PL
    END-POINT  45434.3975  -3361.7541  407.7850  4.0000  PL
    ITEM-CODE  464
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45434.3975  -3361.7541  407.7850  4.0000  PL
    END-POINT  45429.6787  -3361.7541  403.0662  4.0000  PL
    CENTRE-POINT  45429.6787  -3361.7541  407.7850
    SKEY ELPL
    ITEM-CODE  467
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45429.6787  -3361.7541  403.0662  4.0000  PL
    END-POINT  45429.6787  -3361.7541  206.2537  4.0000  PL
    ITEM-CODE  469
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45429.6787  -3361.7541  206.2537  4.0000  PL
    END-POINT  45429.6787  -3361.7541  160.7188  4.0000  PL
    ITEM-CODE  472
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45984.8131  -3361.7541  403.4950  4.0000  PL
    END-POINT  45984.8131  -3366.4729  398.7762  4.0000  PL
    CENTRE-POINT  45984.8131  -3361.7541  398.7762
    SKEY ELPL
    ITEM-CODE  456
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45984.8131  -3366.4729  398.7762  4.0000  PL
    END-POINT  45984.8131  -3398.9611  398.7762  4.0000  PL
    ITEM-CODE  456
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  45984.8131  -3398.9611  398.7763  4.0000  PL
    END-POINT  45984.8131  -3407.4299  398.7762  4.0000  PL
    CENTRE-POINT  45984.8131  -3403.1955  398.7762
    BRANCH1-POINT  45989.1031  -3403.1955  398.7762  4.0000  PL
    SKEY TEPL
    ITEM-CODE  459
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  45984.8131  -3407.4299  398.7763  4.0000  PL
    END-POINT  45984.8131  -3604.2424  398.7762  4.0000  PL
    ITEM-CODE  461
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45984.8131  -3604.2424  398.7762  4.0000  PL
    END-POINT  45984.8131  -3701.7134  398.7762  4.0000  PL
    ITEM-CODE  462
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  45984.8131  -3701.7134  398.7763  4.0000  PL
    END-POINT  45989.5318  -3706.4322  398.7762  4.0000  PL
    CENTRE-POINT  45984.8131  -3706.4322  398.7762
    SKEY ELPL
    ITEM-CODE  464
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  45989.5318  -3706.4322  398.7762  4.0000  PL
    END-POINT  46018.0992  -3706.4322  398.7762  4.0000  PL
    ITEM-CODE  466
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46018.0992  -3706.4322  398.7762  4.0000  PL
    END-POINT  46022.8180  -3706.4322  394.0575  4.0000  PL
    CENTRE-POINT  46022.8180  -3706.4322  398.7762
    SKEY ELPL
    ITEM-CODE  468
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46022.8180  -3706.4322  394.0575  4.0000  PL
    END-POINT  46022.8180  -3706.4322  217.4688  4.0000  PL
    ITEM-CODE  480
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45989.1031  -3403.1955  398.7762  4.0000  PL
    END-POINT  46017.9914  -3403.1955  398.7762  4.0000  PL
    ITEM-CODE  461
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  46017.9914  -3403.1955  398.7762  4.0000  PL
    END-POINT  46022.7101  -3403.1955  394.0575  4.0000  PL
    CENTRE-POINT  46022.7101  -3403.1955  398.7762
    SKEY ELPL
    ITEM-CODE  467
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro 90
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  46022.7101  -3403.1955  394.0575  4.0000  PL
    END-POINT  46022.7101  -3403.1955  240.0037  4.0000  PL
    ITEM-CODE  469
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45600.6140  -3361.7541  403.4950  4.0000  PL
    END-POINT  45600.6140  -3361.7541  206.6825  4.0000  PL
    ITEM-CODE  464
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45600.6140  -3361.7541  206.6825  4.0000  PL
    END-POINT  45600.6140  -3361.7541  160.7188  4.0000  PL
    ITEM-CODE  467
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-100
    ITEM-ATTRIBUTE0 CID=[2041]