ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Progressive Build Drains-1
PIPE
    END-POINT  44965.0796  -4464.2927  335.6313  8.0000  PL
    END-POINT  44965.0796  -4464.2927  163.3389  8.0000  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-32
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44965.0796  -4418.2227  350.5538  6.0000  PL
    END-POINT  44965.0796  -4418.2227  157.7379  6.0000  PL
    ITEM-CODE  326
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-33
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46741.9070  -4505.9414  365.2463  6.0000  PL
    END-POINT  46741.9070  -4505.9414  272.6875  6.0000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46748.5945  -4505.9414  266.0000  6.0000  PL
    END-POINT  46802.1320  -4505.9414  266.0000  6.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46808.8195  -4499.2539  266.0000  6.0000  PL
    END-POINT  46808.8195  -4466.9053  266.0000  6.0000  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-34
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44965.0796  -4449.2611  331.4113  8.0000  PL
    END-POINT  44965.0796  -4449.2611  155.6316  8.0000  PL
    ITEM-CODE  468
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-35
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44965.0796  -4498.9348  155.8379  8.0000  PL
    END-POINT  44965.0796  -4498.9348  350.5738  8.0000  PL
    ITEM-CODE  624
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-36
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44965.0796  -4432.1997  351.9913  10.0000  PL
    END-POINT  44965.0796  -4432.1997  151.9704  10.0000  PL
    ITEM-CODE  549
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-37
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44965.0796  -4484.3453  334.5708  8.0000  PL
    END-POINT  44965.0796  -4476.1137  326.3392  8.0000  PL
    ITEM-CODE  730
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-38
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44965.0796  -4475.5197  324.9052  8.0000  PL
    END-POINT  44965.0796  -4475.5197  160.9831  8.0000  PL
    ITEM-CODE  725
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-38
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44965.0796  -4476.1137  159.5491  8.0000  PL
    END-POINT  44965.0796  -4486.7203  148.9425  8.0000  PL
    ITEM-CODE  729
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-38
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44965.0796  -4484.9393  337.3798  8.0000  PL
    END-POINT  44965.0796  -4484.9393  353.3563  8.0000  PL
    ITEM-CODE  735
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-39
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46817.8195  -4475.9053  266.0000  6.0000  PL
    END-POINT  46817.8195  -4513.1246  266.0000  6.0000  PL
    ITEM-CODE  446
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-141
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46811.1320  -4519.8121  266.0000  6.0000  PL
    END-POINT  46768.5940  -4519.8121  266.0000  6.0000  PL
    ITEM-CODE  441
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-141
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46761.9065  -4519.8121  272.6875  6.0000  PL
    END-POINT  46761.9065  -4519.8121  361.0262  6.0000  PL
    ITEM-CODE  435
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-141
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48123.0189  -5294.3914  344.4062  6.0000  PL
    END-POINT  48123.0189  -5371.7449  344.4062  6.0000  PL
    ITEM-CODE  274
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48134.4689  -5383.1949  344.4062  6.0000  PL
    END-POINT  48404.6998  -5383.1949  344.4062  6.0000  PL
    ITEM-CODE  270
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48404.6998  -5383.1949  344.4062  6.0000  PL
    END-POINT  48884.6998  -5383.1949  344.4062  6.0000  PL
    ITEM-CODE  268
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48111.5689  -5282.9414  344.4062  6.0000  PL
    END-POINT  47906.4689  -5282.9414  344.4062  6.0000  PL
    ITEM-CODE  279
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47895.0189  -5294.3914  344.4062  6.0000  PL
    END-POINT  47895.0189  -5419.8339  344.4062  6.0000  PL
    ITEM-CODE  283
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47883.5689  -5431.2839  344.4062  6.0000  PL
    END-POINT  47720.8668  -5431.2839  344.4062  6.0000  PL
    ITEM-CODE  280
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47709.4168  -5431.2839  355.8562  6.0000  PL
    END-POINT  47709.4168  -5431.2839  378.5188  6.0000  PL
    ITEM-CODE  285
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47267.3567  -5131.3118  389.9688  6.0000  PL
    END-POINT  47267.3567  -5229.5753  389.9688  6.0000  PL
    ITEM-CODE  300
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47278.8067  -5241.0253  389.9688  6.0000  PL
    END-POINT  47697.9668  -5241.0253  389.9688  6.0000  PL
    ITEM-CODE  295
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47709.4168  -5252.4753  389.9688  6.0000  PL
    END-POINT  47709.4168  -5419.8339  389.9688  6.0000  PL
    ITEM-CODE  290
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46808.1070  -5248.3258  389.9688  6.0000  PL
    END-POINT  47020.9067  -5248.3258  389.9688  6.0000  PL
    ITEM-CODE  314
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47032.3567  -5236.8758  389.9688  6.0000  PL
    END-POINT  47032.3567  -5131.3118  389.9688  6.0000  PL
    ITEM-CODE  309
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47043.8067  -5119.8618  389.9688  6.0000  PL
    END-POINT  47255.9067  -5119.8618  389.9688  6.0000  PL
    ITEM-CODE  305
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46907.2324  -4862.3914  389.9688  6.0000  PL
    END-POINT  46907.2324  -4969.4914  389.9688  6.0000  PL
    ITEM-CODE  312
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46895.7824  -4980.9414  389.9688  6.0000  PL
    END-POINT  46808.1070  -4980.9414  389.9688  6.0000  PL
    ITEM-CODE  307
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46796.6570  -4992.3914  389.9688  6.0000  PL
    END-POINT  46796.6570  -5236.8758  389.9688  6.0000  PL
    ITEM-CODE  303
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46796.6570  -4425.1762  369.8038  6.0000  PL
    END-POINT  46796.6570  -4425.1762  378.5188  6.0000  PL
    ITEM-CODE  310
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46796.6570  -4436.6262  389.9688  6.0000  PL
    END-POINT  46796.6570  -4839.4914  389.9688  6.0000  PL
    ITEM-CODE  305
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46808.1070  -4850.9414  389.9688  6.0000  PL
    END-POINT  46895.7824  -4850.9414  389.9688  6.0000  PL
    ITEM-CODE  317
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45527.0189  -4535.9914  358.3538  6.0000  PL
    END-POINT  45527.0189  -4436.6262  358.3538  6.0000  PL
    ITEM-CODE  322
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45538.4689  -4425.1762  358.3538  6.0000  PL
    END-POINT  45825.2070  -4425.1762  358.3538  6.0000  PL
    ITEM-CODE  313
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45825.2070  -4425.1762  358.3538  6.0000  PL
    END-POINT  46305.2070  -4425.1762  358.3538  6.0000  PL
    ITEM-CODE  310
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46305.2070  -4425.1762  358.3538  6.0000  PL
    END-POINT  46785.2070  -4425.1762  358.3538  6.0000  PL
    ITEM-CODE  308
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44973.9796  -4418.2227  358.3538  6.0000  PL
    END-POINT  45451.5689  -4418.2227  358.3538  6.0000  PL
    ITEM-CODE  321
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45463.0189  -4429.6727  358.3538  6.0000  PL
    END-POINT  45463.0189  -4535.9914  358.3538  6.0000  PL
    ITEM-CODE  332
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45474.4689  -4547.4414  358.3538  6.0000  PL
    END-POINT  45515.5689  -4547.4414  358.3538  6.0000  PL
    ITEM-CODE  327
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48884.6998  -5442.9414  346.0937  10.0000  PL
    END-POINT  48687.8873  -5442.9414  346.0937  10.0000  PL
    ITEM-CODE  10
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48687.8873  -5442.9414  346.0937  10.0000  PL
    END-POINT  48491.0748  -5442.9414  346.0937  10.0000  PL
    ITEM-CODE  12
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48491.0748  -5442.9414  346.0937  10.0000  PL
    END-POINT  48294.2623  -5442.9414  346.0937  10.0000  PL
    ITEM-CODE  14
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48294.2623  -5442.9414  346.0937  10.0000  PL
    END-POINT  48097.4498  -5442.9414  346.0937  10.0000  PL
    ITEM-CODE  17
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48097.4498  -5442.9414  346.0937  10.0000  PL
    END-POINT  48083.4251  -5442.9414  346.0937  10.0000  PL
    ITEM-CODE  19
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48072.0189  -5431.5351  346.0937  10.0000  PL
    END-POINT  48072.0189  -5344.3476  346.0937  10.0000  PL
    ITEM-CODE  22
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48060.6126  -5332.9414  346.0937  10.0000  PL
    END-POINT  47957.4251  -5332.9414  346.0937  10.0000  PL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47946.0189  -5344.3476  346.0937  10.0000  PL
    END-POINT  47946.0189  -5514.0313  346.0937  10.0000  PL
    ITEM-CODE  32
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47934.6126  -5525.4375  346.0937  10.0000  PL
    END-POINT  47737.8001  -5525.4375  346.0937  10.0000  PL
    ITEM-CODE  30
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47737.8001  -5525.4375  346.0937  10.0000  PL
    END-POINT  47713.1280  -5525.4375  346.0937  10.0000  PL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47701.7218  -5525.4375  357.4375  10.0000  PL
    END-POINT  47701.7218  -5525.4375  399.7526  10.0000  PL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47701.7218  -5514.0313  411.1589  10.0000  PL
    END-POINT  47701.7218  -5317.2188  411.1589  10.0000  PL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47701.7218  -5317.2188  411.1589  10.0000  PL
    END-POINT  47701.7218  -5312.6823  411.1589  10.0000  PL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47690.3155  -5301.2761  411.1589  10.0000  PL
    END-POINT  47650.5579  -5301.2761  411.1589  10.0000  PL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47640.3777  -5301.2761  406.9162  10.0000  PL
    END-POINT  47629.3291  -5301.2761  395.8676  10.0000  PL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47618.9927  -5301.2761  391.6562  10.0000  PL
    END-POINT  47422.1802  -5301.2761  391.6562  10.0000  PL
    ITEM-CODE  61
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47422.1802  -5301.2761  391.6562  10.0000  PL
    END-POINT  47225.7629  -5301.2761  391.6562  10.0000  PL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47214.3567  -5289.8698  391.6563  10.0000  PL
    END-POINT  47214.3567  -5185.2680  391.6563  10.0000  PL
    ITEM-CODE  68
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46753.3133  -5301.2761  391.6562  10.0000  PL
    END-POINT  46909.1379  -5301.2761  391.6562  10.0000  PL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46909.1379  -5301.2761  391.6562  10.0000  PL
    END-POINT  47072.9504  -5301.2761  391.6562  10.0000  PL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47084.3567  -5289.8698  391.6563  10.0000  PL
    END-POINT  47084.3567  -5185.2680  391.6562  10.0000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47095.7629  -5173.8618  391.6563  10.0000  PL
    END-POINT  47202.9504  -5173.8618  391.6562  10.0000  PL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46741.9070  -5289.8698  391.6563  10.0000  PL
    END-POINT  46741.9070  -5093.0573  391.6563  10.0000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46741.9070  -5093.0573  391.6563  10.0000  PL
    END-POINT  46741.9070  -4959.3476  391.6563  10.0000  PL
    ITEM-CODE  81
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46730.5008  -4947.9414  391.6563  10.0000  PL
    END-POINT  46634.8398  -4947.9414  391.6563  10.0000  PL
    ITEM-CODE  85
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46623.4336  -4936.5351  391.6563  10.0000  PL
    END-POINT  46623.4336  -4895.3476  391.6563  10.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46634.8398  -4883.9414  391.6563  10.0000  PL
    END-POINT  46730.5008  -4883.9414  391.6563  10.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46741.9070  -4872.5351  391.6563  10.0000  PL
    END-POINT  46741.9070  -4675.7226  391.6563  10.0000  PL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46741.9070  -4675.7226  391.6563  10.0000  PL
    END-POINT  46741.9070  -4514.5664  391.6563  10.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46741.9070  -4497.3164  391.6563  10.0000  PL
    END-POINT  46741.9070  -4491.9578  391.6563  10.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46741.9070  -4480.5516  380.2500  10.0000  PL
    END-POINT  46741.9070  -4480.5516  371.4475  10.0000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46730.5008  -4480.5516  360.0413  10.0000  PL
    END-POINT  46533.6883  -4480.5516  360.0413  10.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46533.6883  -4480.5516  360.0413  10.0000  PL
    END-POINT  46336.8758  -4480.5516  360.0413  10.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46336.8758  -4480.5516  360.0413  10.0000  PL
    END-POINT  46140.0633  -4480.5516  360.0413  10.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46140.0633  -4480.5516  360.0413  10.0000  PL
    END-POINT  45943.2508  -4480.5516  360.0413  10.0000  PL
    ITEM-CODE  103
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45943.2508  -4480.5516  360.0413  10.0000  PL
    END-POINT  45746.4383  -4480.5516  360.0413  10.0000  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45746.4383  -4480.5516  360.0413  10.0000  PL
    END-POINT  45589.4251  -4480.5516  360.0413  10.0000  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45578.0189  -4491.9578  360.0413  10.0000  PL
    END-POINT  45578.0189  -4587.0351  360.0413  10.0000  PL
    ITEM-CODE  114
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45566.6126  -4598.4414  360.0413  10.0000  PL
    END-POINT  45423.4251  -4598.4414  360.0413  10.0000  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45412.0189  -4587.0351  360.0413  10.0000  PL
    END-POINT  45412.0189  -4475.6990  360.0413  10.0000  PL
    ITEM-CODE  124
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45400.6126  -4464.2927  360.0413  10.0000  PL
    END-POINT  45203.8001  -4464.2927  360.0413  10.0000  PL
    ITEM-CODE  116
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45203.8001  -4464.2927  360.0413  10.0000  PL
    END-POINT  45006.9876  -4464.2927  360.0413  10.0000  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45006.9876  -4464.2927  360.0413  10.0000  PL
    END-POINT  44973.7046  -4464.2927  360.0413  10.0000  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48884.6998  -5458.9414  345.4062  8.0000  PL
    END-POINT  48650.6998  -5458.9414  345.4062  8.0000  PL
    ITEM-CODE  603
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48650.3248  -5458.9414  345.4062  8.0000  PL
    END-POINT  48410.3248  -5458.9414  345.4062  8.0000  PL
    ITEM-CODE  608
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48409.9498  -5458.9414  345.4062  8.0000  PL
    END-POINT  48169.9498  -5458.9414  345.4062  8.0000  PL
    ITEM-CODE  614
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48169.5748  -5458.9414  345.4062  8.0000  PL
    END-POINT  48058.3589  -5458.9414  345.4062  8.0000  PL
    ITEM-CODE  620
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48056.0189  -5349.7814  345.4062  8.0000  PL
    END-POINT  48056.0189  -5454.3726  345.4062  8.0000  PL
    ITEM-CODE  613
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-A-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47959.6789  -5539.4145  345.4062  8.0000  PL
    END-POINT  47743.6789  -5539.4145  345.4062  8.0000  PL
    ITEM-CODE  625
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47743.3039  -5539.4145  345.4062  8.0000  PL
    END-POINT  47687.0848  -5539.4145  345.4062  8.0000  PL
    ITEM-CODE  630
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47684.7448  -5539.4145  347.7462  8.0000  PL
    END-POINT  47684.7448  -5539.4145  408.1189  8.0000  PL
    ITEM-CODE  631
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47962.0189  -5349.7814  345.4062  8.0000  PL
    END-POINT  47962.0189  -5534.8458  345.4062  8.0000  PL
    ITEM-CODE  621
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-B-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48051.4501  -5347.4414  345.4062  8.0000  PL
    END-POINT  47966.5876  -5347.4414  345.4062  8.0000  PL
    ITEM-CODE  617
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-B-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47198.6967  -5315.2531  391.1875  8.0000  PL
    END-POINT  47383.3715  -5315.2531  391.1875  8.0000  PL
    ITEM-CODE  650
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47684.7448  -5534.8458  410.4589  8.0000  PL
    END-POINT  47684.7448  -5319.8218  410.4589  8.0000  PL
    ITEM-CODE  635
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-C-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47680.1760  -5315.2531  410.4589  8.0000  PL
    END-POINT  47644.6979  -5315.2531  410.4589  8.0000  PL
    ITEM-CODE  639
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-C-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47643.2640  -5315.2531  409.8650  8.0000  PL
    END-POINT  47625.1805  -5315.2531  391.7815  8.0000  PL
    ITEM-CODE  643
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-C-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47623.7465  -5315.2531  391.1875  8.0000  PL
    END-POINT  47383.7465  -5315.2531  391.1875  8.0000  PL
    ITEM-CODE  647
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-C-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47196.3567  -5310.6843  391.1862  8.0000  PL
    END-POINT  47196.3567  -5197.4305  391.1862  8.0000  PL
    ITEM-CODE  653
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-C-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47191.7879  -5192.8618  391.1862  8.0000  PL
    END-POINT  47106.9254  -5192.8618  391.1862  8.0000  PL
    ITEM-CODE  657
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47102.3567  -5197.4305  391.1862  8.0000  PL
    END-POINT  47102.3567  -5310.6843  391.1862  8.0000  PL
    ITEM-CODE  661
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-D-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46730.2470  -5315.2531  391.1862  8.0000  PL
    END-POINT  46859.6417  -5315.2531  391.1862  8.0000  PL
    ITEM-CODE  668
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-D-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46860.0167  -5315.2531  391.1862  8.0000  PL
    END-POINT  47100.0167  -5315.2531  391.1862  8.0000  PL
    ITEM-CODE  665
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-D-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46727.9070  -5312.9131  391.1862  8.0000  PL
    END-POINT  46727.9070  -5072.9131  391.1862  8.0000  PL
    ITEM-CODE  671
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46727.9070  -5072.5381  391.1862  8.0000  PL
    END-POINT  46727.9070  -4968.2814  391.1862  8.0000  PL
    ITEM-CODE  674
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-E-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46723.3383  -4965.9414  391.1862  8.0000  PL
    END-POINT  46610.0023  -4965.9414  391.1862  8.0000  PL
    ITEM-CODE  677
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-E-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46605.4336  -4961.3726  391.1862  8.0000  PL
    END-POINT  46605.4336  -4870.5101  391.1862  8.0000  PL
    ITEM-CODE  681
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-E-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46727.9070  -4863.6014  391.1862  8.0000  PL
    END-POINT  46727.9070  -4623.6014  391.1862  8.0000  PL
    ITEM-CODE  689
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46727.9070  -4623.2264  391.1862  8.0000  PL
    END-POINT  46727.9070  -4498.8916  391.1862  8.0000  PL
    ITEM-CODE  692
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46727.9070  -4496.5516  388.8463  8.0000  PL
    END-POINT  46727.9070  -4496.5516  362.0363  8.0000  PL
    ITEM-CODE  695
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46610.0023  -4865.9414  391.1862  8.0000  PL
    END-POINT  46723.3383  -4865.9414  391.1862  8.0000  PL
    ITEM-CODE  685
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-F-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46725.5670  -4496.5516  359.5713  8.0000  PL
    END-POINT  46485.5670  -4496.5516  359.5713  8.0000  PL
    ITEM-CODE  700
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46485.1920  -4496.5516  359.5713  8.0000  PL
    END-POINT  46245.1920  -4496.5516  359.5713  8.0000  PL
    ITEM-CODE  705
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46244.8170  -4496.5516  359.5713  8.0000  PL
    END-POINT  46004.8170  -4496.5516  359.5713  8.0000  PL
    ITEM-CODE  711
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45596.3589  -4496.5516  359.5713  8.0000  PL
    END-POINT  45764.0670  -4496.5516  359.5713  8.0000  PL
    ITEM-CODE  723
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-G-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45594.0189  -4501.1203  359.5713  8.0000  PL
    END-POINT  45594.0189  -4611.8726  359.5713  8.0000  PL
    ITEM-CODE  707
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-G-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46004.4420  -4496.5516  359.5713  8.0000  PL
    END-POINT  45764.4420  -4496.5516  359.5713  8.0000  PL
    ITEM-CODE  717
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-G-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45393.6789  -4484.9393  359.5713  8.0000  PL
    END-POINT  45153.6789  -4484.9393  359.5713  8.0000  PL
    ITEM-CODE  719
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45153.3039  -4484.9393  359.5713  8.0000  PL
    END-POINT  44967.4396  -4484.9393  359.5713  8.0000  PL
    ITEM-CODE  722
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-H-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45396.0189  -4614.1014  359.5713  8.0000  PL
    END-POINT  45396.0189  -4488.6543  359.5713  8.0000  PL
    ITEM-CODE  715
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-H-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45589.4501  -4616.4414  359.5713  8.0000  PL
    END-POINT  45400.5876  -4616.4414  359.5713  8.0000  PL
    ITEM-CODE  711
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-H-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48884.6998  -5419.1949  347.0937  12.0000  PL
    END-POINT  48687.8873  -5419.1949  347.0937  12.0000  PL
    ITEM-CODE  363
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48687.8873  -5419.1949  347.0937  12.0000  PL
    END-POINT  48491.0748  -5419.1949  347.0937  12.0000  PL
    ITEM-CODE  365
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48491.0748  -5419.1949  347.0937  12.0000  PL
    END-POINT  48294.2623  -5419.1949  347.0937  12.0000  PL
    ITEM-CODE  368
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48294.2623  -5419.1949  347.0937  12.0000  PL
    END-POINT  48103.3939  -5419.1949  347.0937  12.0000  PL
    ITEM-CODE  371
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48090.0189  -5405.8199  347.0937  12.0000  PL
    END-POINT  48090.0189  -5328.3164  347.0937  12.0000  PL
    ITEM-CODE  375
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48076.6439  -5314.9414  347.0937  12.0000  PL
    END-POINT  47941.3939  -5314.9414  347.0937  12.0000  PL
    ITEM-CODE  380
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47928.0189  -5328.3164  347.0937  12.0000  PL
    END-POINT  47928.0189  -5451.9089  347.0937  12.0000  PL
    ITEM-CODE  385
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47914.6439  -5465.2839  347.0937  12.0000  PL
    END-POINT  47717.8314  -5465.2839  347.0937  12.0000  PL
    ITEM-CODE  384
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47717.8314  -5465.2839  347.0937  12.0000  PL
    END-POINT  47690.1083  -5465.2839  347.0937  12.0000  PL
    ITEM-CODE  387
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47676.7333  -5465.2839  360.4687  12.0000  PL
    END-POINT  47676.7333  -5465.2839  379.2812  12.0000  PL
    ITEM-CODE  392
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47232.3567  -5169.2368  392.6562  12.0000  PL
    END-POINT  47232.3567  -5269.9278  392.6562  12.0000  PL
    ITEM-CODE  409
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47245.7317  -5283.3028  392.6562  12.0000  PL
    END-POINT  47269.7333  -5283.3028  392.6562  12.0000  PL
    ITEM-CODE  407
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47269.7333  -5283.3028  392.6562  12.0000  PL
    END-POINT  47466.5458  -5283.3028  392.6562  12.0000  PL
    ITEM-CODE  405
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47466.5458  -5283.3028  392.6562  12.0000  PL
    END-POINT  47663.3583  -5283.3028  392.6562  12.0000  PL
    ITEM-CODE  402
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47676.7333  -5296.6778  392.6562  12.0000  PL
    END-POINT  47676.7333  -5451.9089  392.6562  12.0000  PL
    ITEM-CODE  397
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47218.9817  -5155.8618  392.6562  12.0000  PL
    END-POINT  47079.7317  -5155.8618  392.6562  12.0000  PL
    ITEM-CODE  415
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47066.3567  -5169.2368  392.6562  12.0000  PL
    END-POINT  47066.3567  -5269.9278  392.6562  12.0000  PL
    ITEM-CODE  414
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47052.9817  -5283.3028  392.6562  12.0000  PL
    END-POINT  47029.6071  -5283.3028  392.6562  12.0000  PL
    ITEM-CODE  414
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47008.5471  -5283.3028  392.6562  12.0000  PL
    END-POINT  46819.7346  -5283.3028  392.6562  12.0000  PL
    ITEM-CODE  421
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46819.7346  -5283.3028  392.6562  12.0000  PL
    END-POINT  46775.2815  -5283.3028  392.6562  12.0000  PL
    ITEM-CODE  424
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46761.9065  -5269.9278  392.6562  12.0000  PL
    END-POINT  46761.9065  -5073.1153  392.6562  12.0000  PL
    ITEM-CODE  419
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46761.9065  -5073.1153  392.6562  12.0000  PL
    END-POINT  46761.9065  -4961.3164  392.6562  12.0000  PL
    ITEM-CODE  422
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46775.2815  -4947.9414  392.6562  12.0000  PL
    END-POINT  46860.8939  -4947.9414  392.6562  12.0000  PL
    ITEM-CODE  426
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46874.2689  -4934.5664  392.6562  12.0000  PL
    END-POINT  46874.2689  -4897.3164  392.6562  12.0000  PL
    ITEM-CODE  431
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46860.8939  -4883.9414  392.6562  12.0000  PL
    END-POINT  46775.2815  -4883.9414  392.6562  12.0000  PL
    ITEM-CODE  436
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46761.9065  -4870.5664  392.6562  12.0000  PL
    END-POINT  46761.9065  -4673.7539  392.6562  12.0000  PL
    ITEM-CODE  425
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46761.9065  -4673.7539  392.6562  12.0000  PL
    END-POINT  46761.9065  -4530.3421  392.6562  12.0000  PL
    ITEM-CODE  428
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46761.9065  -4509.2821  392.6562  12.0000  PL
    END-POINT  46761.9065  -4476.9266  392.6562  12.0000  PL
    ITEM-CODE  431
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46761.9065  -4463.5516  379.2813  12.0000  PL
    END-POINT  46761.9065  -4463.5516  374.4163  12.0000  PL
    ITEM-CODE  438
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45560.0189  -4567.0664  361.0413  12.0000  PL
    END-POINT  45560.0189  -4476.9266  361.0413  12.0000  PL
    ITEM-CODE  455
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45573.3939  -4463.5516  361.0413  12.0000  PL
    END-POINT  45764.4690  -4463.5516  361.0413  12.0000  PL
    ITEM-CODE  450
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45764.4690  -4463.5516  361.0413  12.0000  PL
    END-POINT  45961.2815  -4463.5516  361.0413  12.0000  PL
    ITEM-CODE  447
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45961.2815  -4463.5516  361.0413  12.0000  PL
    END-POINT  46158.0940  -4463.5516  361.0413  12.0000  PL
    ITEM-CODE  444
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46158.0940  -4463.5516  361.0413  12.0000  PL
    END-POINT  46354.9065  -4463.5516  361.0413  12.0000  PL
    ITEM-CODE  441
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46354.9065  -4463.5516  361.0413  12.0000  PL
    END-POINT  46551.7190  -4463.5516  361.0413  12.0000  PL
    ITEM-CODE  439
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46551.7190  -4463.5516  361.0413  12.0000  PL
    END-POINT  46748.5315  -4463.5516  361.0413  12.0000  PL
    ITEM-CODE  436
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45546.6439  -4580.4414  361.0413  12.0000  PL
    END-POINT  45443.3939  -4580.4414  361.0413  12.0000  PL
    ITEM-CODE  460
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45430.0189  -4567.0664  361.0413  12.0000  PL
    END-POINT  45430.0189  -4462.6361  361.0413  12.0000  PL
    ITEM-CODE  465
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45416.6439  -4449.2611  361.0413  12.0000  PL
    END-POINT  45219.8314  -4449.2611  361.0413  12.0000  PL
    ITEM-CODE  457
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45219.8314  -4449.2611  361.0413  12.0000  PL
    END-POINT  45035.0189  -4449.2611  361.0413  12.0000  PL
    ITEM-CODE  460
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45035.0189  -4449.2611  361.0413  12.0000  PL
    END-POINT  44975.6096  -4449.2611  361.0413  12.0000  PL
    ITEM-CODE  462
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48884.6998  -5473.9414  345.4062  8.0000  PL
    END-POINT  48687.8873  -5473.9414  345.4062  8.0000  PL
    ITEM-CODE  512
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48687.8873  -5473.9414  345.4062  8.0000  PL
    END-POINT  48491.0748  -5473.9414  345.4062  8.0000  PL
    ITEM-CODE  514
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48491.0748  -5473.9414  345.4062  8.0000  PL
    END-POINT  48294.2623  -5473.9414  345.4062  8.0000  PL
    ITEM-CODE  516
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48294.2623  -5473.9414  345.4062  8.0000  PL
    END-POINT  48097.4498  -5473.9414  345.4062  8.0000  PL
    ITEM-CODE  519
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48097.4498  -5473.9414  345.4062  8.0000  PL
    END-POINT  48049.5689  -5473.9414  345.4062  8.0000  PL
    ITEM-CODE  522
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48041.0189  -5465.3914  345.4062  8.0000  PL
    END-POINT  48041.0189  -5368.9914  345.4062  8.0000  PL
    ITEM-CODE  527
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48032.4689  -5360.4414  345.4062  8.0000  PL
    END-POINT  47985.5689  -5360.4414  345.4062  8.0000  PL
    ITEM-CODE  532
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47977.0189  -5368.9914  345.4062  8.0000  PL
    END-POINT  47977.0189  -5544.8875  345.4062  8.0000  PL
    ITEM-CODE  537
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47968.4689  -5553.4375  345.4062  8.0000  PL
    END-POINT  47771.6564  -5553.4375  345.4062  8.0000  PL
    ITEM-CODE  542
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47771.6564  -5553.4375  345.4062  8.0000  PL
    END-POINT  47677.2718  -5553.4375  345.4062  8.0000  PL
    ITEM-CODE  544
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47668.7218  -5553.4375  353.9562  8.0000  PL
    END-POINT  47668.7218  -5553.4375  401.9089  8.0000  PL
    ITEM-CODE  541
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47668.7218  -5544.8875  410.4589  8.0000  PL
    END-POINT  47668.7218  -5348.0750  410.4589  8.0000  PL
    ITEM-CODE  546
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47668.7218  -5348.0750  410.4589  8.0000  PL
    END-POINT  47668.7218  -5343.4449  410.4589  8.0000  PL
    ITEM-CODE  548
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47660.1718  -5334.8949  410.4589  8.0000  PL
    END-POINT  47649.8579  -5334.8949  410.4589  8.0000  PL
    ITEM-CODE  551
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47639.6153  -5334.8949  406.2163  8.0000  PL
    END-POINT  47628.6104  -5334.8949  395.2114  8.0000  PL
    ITEM-CODE  553
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47618.3677  -5334.8949  390.9687  8.0000  PL
    END-POINT  47592.2973  -5334.8949  390.9687  8.0000  PL
    ITEM-CODE  555
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47571.8120  -5326.4096  390.9687  8.0000  PL
    END-POINT  47374.9995  -5326.4096  390.9687  8.0000  PL
    ITEM-CODE  560
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47374.9995  -5326.4096  390.9687  8.0000  PL
    END-POINT  47189.9067  -5326.4096  390.9687  8.0000  PL
    ITEM-CODE  563
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47181.3567  -5317.8596  390.9687  8.0000  PL
    END-POINT  47181.3567  -5215.4118  390.9687  8.0000  PL
    ITEM-CODE  567
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47172.8067  -5206.8618  390.9687  8.0000  PL
    END-POINT  47125.9067  -5206.8618  390.9687  8.0000  PL
    ITEM-CODE  572
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47117.3567  -5215.4118  390.9687  8.0000  PL
    END-POINT  47117.3567  -5318.3596  390.9687  8.0000  PL
    ITEM-CODE  577
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47108.8067  -5326.9096  390.9687  8.0000  PL
    END-POINT  47075.8067  -5326.9096  390.9687  8.0000  PL
    ITEM-CODE  570
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47075.8067  -5326.9096  390.9687  8.0000  PL
    END-POINT  46878.9942  -5326.9096  390.9687  8.0000  PL
    ITEM-CODE  569
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46878.9942  -5326.9096  390.9687  8.0000  PL
    END-POINT  46722.4570  -5326.9096  390.9687  8.0000  PL
    ITEM-CODE  572
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46590.4336  -4859.4914  390.9687  8.0000  PL
    END-POINT  46590.4336  -4972.3914  390.9687  8.0000  PL
    ITEM-CODE  589
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46598.9836  -4980.9414  390.9687  8.0000  PL
    END-POINT  46705.3570  -4980.9414  390.9687  8.0000  PL
    ITEM-CODE  584
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46713.9070  -4989.4914  390.9688  8.0000  PL
    END-POINT  46713.9070  -5121.5471  390.9687  8.0000  PL
    ITEM-CODE  580
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46713.9070  -5121.5471  390.9687  8.0000  PL
    END-POINT  46713.9070  -5318.3596  390.9687  8.0000  PL
    ITEM-CODE  577
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46713.9070  -4510.5516  367.9038  8.0000  PL
    END-POINT  46713.9070  -4510.5516  382.4187  8.0000  PL
    ITEM-CODE  596
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46713.9070  -4519.1016  390.9687  8.0000  PL
    END-POINT  46713.9070  -4645.5789  390.9687  8.0000  PL
    ITEM-CODE  586
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46713.9070  -4645.5789  390.9687  8.0000  PL
    END-POINT  46713.9070  -4842.3914  390.9687  8.0000  PL
    ITEM-CODE  583
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46705.3570  -4850.9414  390.9687  8.0000  PL
    END-POINT  46598.9836  -4850.9414  390.9687  8.0000  PL
    ITEM-CODE  594
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-F-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46705.3570  -4510.5516  359.3538  8.0000  PL
    END-POINT  46508.5445  -4510.5516  359.3538  8.0000  PL
    ITEM-CODE  594
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46508.5445  -4510.5516  359.3538  8.0000  PL
    END-POINT  46311.7320  -4510.5516  359.3538  8.0000  PL
    ITEM-CODE  597
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46311.7320  -4510.5516  359.3538  8.0000  PL
    END-POINT  46114.9195  -4510.5516  359.3538  8.0000  PL
    ITEM-CODE  599
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46114.9195  -4510.5516  359.3538  8.0000  PL
    END-POINT  45918.1070  -4510.5516  359.3538  8.0000  PL
    ITEM-CODE  602
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45918.1070  -4510.5516  359.3538  8.0000  PL
    END-POINT  45721.2945  -4510.5516  359.3538  8.0000  PL
    ITEM-CODE  605
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45721.2945  -4510.5516  359.3538  8.0000  PL
    END-POINT  45617.5689  -4510.5516  359.3538  8.0000  PL
    ITEM-CODE  608
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45609.0189  -4519.1016  359.3538  8.0000  PL
    END-POINT  45609.0189  -4622.8914  359.3538  8.0000  PL
    ITEM-CODE  614
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45600.4689  -4631.4414  359.3538  8.0000  PL
    END-POINT  45403.6564  -4631.4414  359.3538  8.0000  PL
    ITEM-CODE  619
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45403.6564  -4631.4414  359.3538  8.0000  PL
    END-POINT  45389.5689  -4631.4414  359.3538  8.0000  PL
    ITEM-CODE  621
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45381.0189  -4622.8914  359.3538  8.0000  PL
    END-POINT  45381.0189  -4507.4848  359.3538  8.0000  PL
    ITEM-CODE  624
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45372.4689  -4498.9348  359.3538  8.0000  PL
    END-POINT  45175.6564  -4498.9348  359.3538  8.0000  PL
    ITEM-CODE  616
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45175.6564  -4498.9348  359.3538  8.0000  PL
    END-POINT  44978.8439  -4498.9348  359.3538  8.0000  PL
    ITEM-CODE  619
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  44978.8439  -4498.9348  359.3538  8.0000  PL
    END-POINT  44973.8596  -4498.9348  359.3538  8.0000  PL
    ITEM-CODE  621
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48165.6998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48405.6998  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  446
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48408.1998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48648.1998  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  440
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-A-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48650.6998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48884.6998  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-A-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48111.6389  -5397.1719  346.4687  10.0000  PL
    END-POINT  48163.1998  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  452
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-A-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48108.0189  -5390.8519  346.4687  10.0000  PL
    END-POINT  48108.0189  -5304.2614  346.4687  10.0000  PL
    ITEM-CODE  445
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-A-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47694.7214  -5445.2609  388.4113  10.0000  PL
    END-POINT  47694.7214  -5445.2609  350.0887  10.0000  PL
    ITEM-CODE  461
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-B-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47903.6989  -5445.2609  346.4687  10.0000  PL
    END-POINT  47701.0414  -5445.2609  346.4687  10.0000  PL
    ITEM-CODE  457
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-B-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47910.0189  -5304.2614  346.4687  10.0000  PL
    END-POINT  47910.0189  -5438.9409  346.4687  10.0000  PL
    ITEM-CODE  453
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-B-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48101.6989  -5297.9414  346.4687  10.0000  PL
    END-POINT  47916.3389  -5297.9414  346.4687  10.0000  PL
    ITEM-CODE  449
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-B-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47694.7214  -5438.9409  392.0313  10.0000  PL
    END-POINT  47694.7214  -5261.3223  392.0313  10.0000  PL
    ITEM-CODE  465
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-C-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47691.1014  -5255.0023  392.0313  10.0000  PL
    END-POINT  47451.1014  -5255.0023  392.0313  10.0000  PL
    ITEM-CODE  469
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-C-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47448.6014  -5255.0023  392.0313  10.0000  PL
    END-POINT  47255.9767  -5255.0023  392.0313  10.0000  PL
    ITEM-CODE  474
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-C-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47252.3567  -5248.6823  392.0313  10.0000  PL
    END-POINT  47252.3567  -5141.1818  392.0313  10.0000  PL
    ITEM-CODE  475
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-C-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46837.2367  -5262.3028  392.0313  10.0000  PL
    END-POINT  46785.5265  -5262.3028  392.0313  10.0000  PL
    ITEM-CODE  489
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-D-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47047.3567  -5141.1818  392.0313  10.0000  PL
    END-POINT  47047.3567  -5258.6828  392.0313  10.0000  PL
    ITEM-CODE  483
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-D-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47043.7367  -5262.3028  392.0313  10.0000  PL
    END-POINT  46839.7367  -5262.3028  392.0313  10.0000  PL
    ITEM-CODE  487
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-D-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  47246.0367  -5134.8618  392.0313  10.0000  PL
    END-POINT  47053.6767  -5134.8618  392.0313  10.0000  PL
    ITEM-CODE  479
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-D-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46781.9065  -5258.6828  392.0313  10.0000  PL
    END-POINT  46781.9065  -5018.6828  392.0313  10.0000  PL
    ITEM-CODE  493
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46781.9065  -5016.1828  392.0313  10.0000  PL
    END-POINT  46781.9065  -4969.5614  392.0313  10.0000  PL
    ITEM-CODE  496
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-E-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46892.2689  -4959.6214  392.0313  10.0000  PL
    END-POINT  46892.2689  -4872.2614  392.0313  10.0000  PL
    ITEM-CODE  503
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-E-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46788.2265  -4965.9414  392.0313  10.0000  PL
    END-POINT  46885.9489  -4965.9414  392.0313  10.0000  PL
    ITEM-CODE  499
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-E-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46885.9489  -4865.9414  392.0313  10.0000  PL
    END-POINT  46788.2265  -4865.9414  392.0312  10.0000  PL
    ITEM-CODE  507
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-F-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46781.9065  -4446.5516  364.0363  10.0000  PL
    END-POINT  46781.9065  -4446.5516  388.4113  10.0000  PL
    ITEM-CODE  517
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-F-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46781.9065  -4450.1716  392.0313  10.0000  PL
    END-POINT  46781.9065  -4619.8214  392.0313  10.0000  PL
    ITEM-CODE  514
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-F-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46781.9065  -4622.3214  392.0313  10.0000  PL
    END-POINT  46781.9065  -4862.3214  392.0313  10.0000  PL
    ITEM-CODE  511
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-F-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45601.7865  -4446.5516  360.4163  10.0000  PL
    END-POINT  45545.6389  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  541
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45542.0189  -4450.1716  360.4163  10.0000  PL
    END-POINT  45542.0189  -4556.1214  360.4163  10.0000  PL
    ITEM-CODE  531
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-G-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46535.7865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46295.7865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  524
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-G-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46050.7865  -4446.5516  360.4163  10.0000  PL
    END-POINT  45810.7865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  535
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-G-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45808.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  45604.2865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  541
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-G-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46293.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46053.2865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  529
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-G-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  46778.2865  -4446.5516  360.4163  10.0000  PL
    END-POINT  46538.2865  -4446.5516  360.4163  10.0000  PL
    ITEM-CODE  521
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-G-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45201.8989  -4432.1997  360.4163  10.0000  PL
    END-POINT  44968.6396  -4432.1997  360.4163  10.0000  PL

    ITEM-CODE  546
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-H-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45535.6989  -4562.4414  360.4163  10.0000  PL
    END-POINT  45454.3389  -4562.4414  360.4163  10.0000  PL
    ITEM-CODE  535
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-H-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45204.3989  -4432.1997  360.4163  10.0000  PL
    END-POINT  45444.3989  -4432.1997  360.4163  10.0000  PL
    ITEM-CODE  543
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-H-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  45448.0189  -4435.8197  360.4163  10.0000  PL
    END-POINT  45448.0189  -4558.8214  360.4163  10.0000  PL
    ITEM-CODE  539
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-H-3
    ITEM-ATTRIBUTE0 CID=[2041]