ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Progressive Build Drains-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  24/05/2016
MISC_COMPONENT
    END-POINT  48835.0000  -5422.9808  345.0937  120.0000  PL
    END-POINT  48835.0000  -5483.9808  410.1312  120.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-1
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  24/05/2016
MISC_COMPONENT
    END-POINT  48775.0000  -5422.9808  345.0937  120.0000  PL
    END-POINT  48775.0000  -5483.9808  410.1312  120.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-2
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Not Set
    DATE-DMY  24/05/2016
MISC_COMPONENT
    END-POINT  48715.0000  -5422.9808  345.0937  120.0000  PL
    END-POINT  48715.0000  -5483.9808  410.1312  120.0000  PL
    SKEY NCPL
    ITEM-CODE  513
    ITEM-DESCRIPTION  HR12 Unistrut Hanger 1.625
    ADDITIONAL-ITEM
    PIPING-SPEC  Not Set
    SPOOL-IDENTIFIER  Progressive Build Drains-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Progressive Build Drains-JWD-AWD-SM-SPOOL-A-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  24/05/2016
PIPE
    END-POINT  48404.6998  -5383.1949  344.4062  6.0000  PL
    END-POINT  48884.6998  -5383.1949  344.4062  6.0000  PL
    ITEM-CODE  268
    ITEM-DESCRIPTION  Asahi Fluid-Lok 11x17 HDPE Dbl Cont Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-AWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CHFWD-SM-SPOOL-A-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  24/05/2016
PIPE
    END-POINT  48687.8873  -5442.9414  346.0937  10.0000  PL
    END-POINT  48884.6998  -5442.9414  346.0937  10.0000  PL
    ITEM-CODE  10
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-CWD-SM-SPOOL-A-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  24/05/2016
PIPE
    END-POINT  48884.6998  -5458.9414  345.4062  8.0000  PL
    END-POINT  48650.6998  -5458.9414  345.4062  8.0000  PL
    ITEM-CODE  603
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  48650.6998  -5458.9414  345.4062  8.0000  PL
    END-POINT  48650.3248  -5458.9414  345.4062  8.0000  PL
    SKEY COCP
    ITEM-CODE  605
    ITEM-DESCRIPTION  IPEX- Sch 40 PVC Coupling (SxS)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  48650.3248  -5458.9414  345.4062  8.0000  PL
    END-POINT  48410.3248  -5458.9414  345.4062  8.0000  PL
    ITEM-CODE  608
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-CWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-DHFWD-SM-SPOOL-A-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  24/05/2016
PIPE
    END-POINT  48491.0748  -5419.1949  347.0937  12.0000  PL
    END-POINT  48687.8873  -5419.1949  347.0937  12.0000  PL
    ITEM-CODE  365
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48687.8873  -5419.1949  347.0937  12.0000  PL
    END-POINT  48884.6998  -5419.1949  347.0937  12.0000  PL
    ITEM-CODE  363
    ITEM-DESCRIPTION  Asahi DuoPro 150x45 - PolyPro Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-DHFWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  24/05/2016
PIPE
    END-POINT  48884.6998  -5473.9414  345.4062  8.0000  PL
    END-POINT  48687.8873  -5473.9414  345.4062  8.0000  PL
    ITEM-CODE  512
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  48687.8873  -5473.9414  345.4062  8.0000  PL
    END-POINT  48491.0748  -5473.9414  345.4062  8.0000  PL
    ITEM-CODE  514
    ITEM-DESCRIPTION  Asahi DuoPro PVDF x PVDF Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-NH4WD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Progressive Build Drains-JWD-RRWD-SM-SPOOL-A-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  24/05/2016
PIPE
    END-POINT  48650.6998  -5397.1719  346.4687  10.0000  PL
    END-POINT  48884.6998  -5397.1719  346.4687  10.0000  PL
    ITEM-CODE  435
    ITEM-DESCRIPTION  IPEX-CPVCxPVC Dbl Con Piping
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  Progressive Build Drains-JWD-RRWD-SM-SPOOL-A-1
    ITEM-ATTRIBUTE0 CID=[2041]