ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  3587.5177  -2526.0367  140.8793  4.0000  PL
    END-POINT  3587.5177  -2526.0367  140.8793  4.0000  PL
    SKEY KAPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  3587.5177  -2526.0367  140.8793  4.0000  PL
    END-POINT  3639.3046  -2424.7745  140.8793  4.0000  PL
    ITEM-CODE  88
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  3639.3046  -2424.7745  140.8793  4.0000  PL
    END-POINT  3640.5021  -2422.4329  143.5093  4.0000  PL
    CENTRE-POINT  3640.5021  -2422.4329  140.8793
    SKEY ERPL
    ITEM-CODE  22
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  3640.5021  -2422.4329  143.5093  4.0000  PL
    END-POINT  3640.5017  -2422.4319  157.7852  4.0000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  3640.5014  -2422.4327  157.7852  4.0000  PL
    END-POINT  3640.5014  -2422.4327  157.7852  4.0000  PL
    SKEY KAPL
    ITEM-CODE  23
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  3640.5013  -2422.4326  158.0042  4.0000  PL
    END-POINT  3640.5013  -2422.4326  158.0042  4.0000  PL
    SKEY KAPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  3944.4250  -1777.5500  193.4161  4.0000  PL
    END-POINT  3944.4250  -1777.5500  193.4161  4.0000  PL
    SKEY KAPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  3944.6310  -1777.6243  193.4161  4.0000  PL
    END-POINT  3944.6310  -1777.6243  193.4161  4.0000  PL
    SKEY KAPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  3944.6310  -1777.6243  193.4161  4.0000  PL
    END-POINT  4103.2725  -1834.7800  193.4161  4.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  4103.2725  -1834.7800  193.4161  4.0000  PL
    END-POINT  4103.2725  -1834.7800  193.4161  4.0000  PL
    SKEY KAPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  4105.6211  -1835.5829  404.2424  4.0000  PL
    END-POINT  4105.6211  -1835.5829  404.2424  4.0000  PL
    SKEY KAPL
    ITEM-CODE  11
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  4105.6211  -1835.5829  404.0235  4.0000  PL
    END-POINT  4105.6211  -1835.5829  404.0235  4.0000  PL
    SKEY KAPL
    ITEM-CODE  13
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  4105.6211  -1835.5829  404.0235  4.0000  PL
    END-POINT  4105.5993  -1835.5829  194.1038  4.0000  PL
    ITEM-CODE  86
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  4105.5993  -1835.5829  194.1038  4.0000  PL
    END-POINT  4105.5993  -1835.5829  194.1038  4.0000  PL
    SKEY KAPL
    ITEM-CODE  14
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  4105.5994  -1835.5811  193.8848  4.0000  PL
    END-POINT  4105.5994  -1835.5811  193.8848  4.0000  PL
    SKEY KAPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3703.0421  -2437.8968  172.7707  4.0000  PL
    END-POINT  3773.5498  -2244.3357  172.5398  4.0000  PL
    ITEM-CODE  85
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  3700.8153  -2444.0103  170.3447  4.0000  PL
    END-POINT  3700.8153  -2444.0103  170.3447  4.0000  PL
    SKEY KAPL
    ITEM-CODE  12
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  3700.8142  -2444.0134  170.1258  4.0000  PL
    END-POINT  3700.8142  -2444.0134  170.1258  4.0000  PL
    SKEY KAPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  3700.8142  -2444.0134  170.1258  4.0000  PL
    END-POINT  3700.7801  -2444.1097  163.1052  4.0000  PL
    ITEM-CODE  83
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  3700.7797  -2444.1095  163.1052  4.0000  PL
    END-POINT  3698.2924  -2443.2540  160.4755  4.0000  PL
    CENTRE-POINT  3700.7667  -2444.1455  160.4755
    SKEY ERPL
    ITEM-CODE  9
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  3698.2924  -2443.2540  160.4755  4.0000  PL
    END-POINT  3644.2645  -2423.7885  160.4731  4.0000  PL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  4105.6158  -590.0143  447.0812  4.0000  PL
    END-POINT  4105.6158  -590.0143  447.0812  4.0000  PL
    SKEY KAPL
    ITEM-CODE  7
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  4105.6158  -590.0143  447.0812  4.0000  PL
    END-POINT  4105.6158  -463.6746  448.2747  4.0000  PL
    ITEM-CODE  82
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4105.6158  -453.4885  448.5129  4.0000  PL
    END-POINT  4105.6158  -455.6769  448.4420  4.0000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4105.6158  -455.4560  448.3408  4.0000  PL
    END-POINT  4105.6158  -215.4593  449.6130  4.0000  PL
    ITEM-CODE  79
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4105.6158  -215.4593  449.6130  4.0000  PL
    END-POINT  4105.6158  -215.2494  449.6141  4.0000  PL
    SKEY COCP
    ITEM-CODE  80
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4105.6158  -215.2494  449.6141  4.0000  PL
    END-POINT  4105.6158  -175.8353  449.8230  4.0000  PL
    ITEM-CODE  81
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  4105.6158  -175.8353  449.8230  4.0000  PL
    END-POINT  4105.6158  -175.8353  449.8230  4.0000  PL
    SKEY KAPL
    ITEM-CODE  6
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  4034.6233  326.8301  454.4848  4.0000  PL
    END-POINT  4034.6233  326.8301  454.4848  4.0000  PL
    SKEY KAPL
    ITEM-CODE  5
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  4034.6233  326.8301  454.4848  4.0000  PL
    END-POINT  4061.9338  184.1236  454.0080  4.0000  PL
    ITEM-CODE  77
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4062.6847  176.1949  453.9843  4.0000  PL
    END-POINT  4062.6847  139.0854  453.8860  4.0000  PL
    ITEM-CODE  76
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4063.8938  129.6592  453.8240  4.0000  PL
    END-POINT  4097.6503  -14.0570  452.1137  4.0000  PL
    ITEM-CODE  75
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4101.4237  -20.7476  451.9941  4.0000  PL
    END-POINT  4103.8865  -23.1570  451.9310  4.0000  PL
    ITEM-CODE  74
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  4103.8865  -23.1570  451.9310  4.0000  PL
    END-POINT  4104.8151  -25.3317  451.8841  4.0000  PL
    CENTRE-POINT  4104.8013  -24.0520  451.9075
    SKEY ELPL
    ITEM-CODE  3
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  4104.8151  -25.3317  451.8841  4.0000  PL
    END-POINT  4106.4443  -175.9695  449.1250  4.0000  PL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  4106.4443  -175.9695  449.1250  4.0000  PL
    END-POINT  4106.4443  -175.9695  449.1250  4.0000  PL
    SKEY KAPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3775.7742  -2238.2295  178.9658  4.0000  PL
    END-POINT  3775.7672  -2238.2491  189.7585  4.0000  PL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  3775.7672  -2238.2491  189.7585  4.0000  PL
    END-POINT  3776.6571  -2235.7797  192.3936  4.0000  PL
    CENTRE-POINT  3775.7654  -2238.2539  192.3885
    SKEY ERPL
    ITEM-CODE  0
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  3776.6571  -2235.7797  192.3936  4.0000  PL
    END-POINT  3858.0286  -2009.9956  192.8965  4.0000  PL
    ITEM-CODE  68
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3858.0286  -2009.9956  192.8965  4.0000  PL
    END-POINT  3858.0998  -2009.7981  192.8969  4.0000  PL
    SKEY COCP
    ITEM-CODE  69
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3858.0998  -2009.7981  192.8969  4.0000  PL
    END-POINT  3939.4712  -1784.0140  193.3998  4.0000  PL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3939.4712  -1784.0140  193.3998  4.0000  PL
    END-POINT  3939.5424  -1783.8165  193.4002  4.0000  PL
    SKEY COCP
    ITEM-CODE  71
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3939.5424  -1783.8165  193.4002  4.0000  PL
    END-POINT  3940.7462  -1780.4763  193.4077  4.0000  PL
    ITEM-CODE  72
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  4105.6158  -590.2907  447.0722  4.0000  PL
    END-POINT  4105.6158  -590.2907  447.0722  4.0000  PL
    SKEY KAPL
    ITEM-CODE  1
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  4105.6158  -590.2907  447.0722  4.0000  PL
    END-POINT  4105.6158  -830.1649  439.3025  4.0000  PL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4105.6158  -830.1649  439.3025  4.0000  PL
    END-POINT  4105.6158  -830.3748  439.2957  4.0000  PL
    SKEY COCP
    ITEM-CODE  58
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4105.6158  -830.3748  439.2957  4.0000  PL
    END-POINT  4105.6158  -1070.2490  431.5260  4.0000  PL
    ITEM-CODE  59
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4105.6158  -1070.2490  431.5260  4.0000  PL
    END-POINT  4105.6158  -1070.4589  431.5192  4.0000  PL
    SKEY COCP
    ITEM-CODE  60
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4105.6158  -1070.4589  431.5192  4.0000  PL
    END-POINT  4105.6158  -1310.3331  423.7496  4.0000  PL
    ITEM-CODE  61
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4105.6158  -1310.3331  423.7496  4.0000  PL
    END-POINT  4105.6158  -1310.5430  423.7428  4.0000  PL
    SKEY COCP
    ITEM-CODE  62
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4105.6158  -1310.5430  423.7428  4.0000  PL
    END-POINT  4105.6158  -1550.4172  415.9731  4.0000  PL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4105.6158  -1550.4172  415.9731  4.0000  PL
    END-POINT  4105.6158  -1550.6271  415.9663  4.0000  PL
    SKEY COCP
    ITEM-CODE  64
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4105.6158  -1550.6271  415.9663  4.0000  PL
    END-POINT  4105.6158  -1790.5013  408.1966  4.0000  PL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4105.6158  -1790.5013  408.1966  4.0000  PL
    END-POINT  4105.6158  -1790.7112  408.1898  4.0000  PL
    SKEY COCP
    ITEM-CODE  66
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4105.6158  -1790.7112  408.1898  4.0000  PL
    END-POINT  4105.6158  -1831.4578  406.8700  4.0000  PL
    ITEM-CODE  67
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  4105.6158  -1831.4578  406.8700  4.0000  PL
    END-POINT  4105.6158  -1831.4578  406.8700  4.0000  PL
    SKEY KAPL
    ITEM-CODE  2
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  4103.2769  -1834.7438  191.4161  4.0000  PL
    END-POINT  4103.2769  -1834.7438  191.4161  4.0000  PL
    SKEY KAPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  4105.6213  -1833.1141  406.7112  4.0000  PL
    END-POINT  4105.6213  -1833.1141  406.7112  4.0000  PL
    SKEY KAPL
    ITEM-CODE  10
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2060]