ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4072.9555  5.6927  456.4035  10.0000  PL
    END-POINT  4081.5122  -27.1993  455.8766  10.0000  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4081.5436  -27.3201  455.8747  10.0000  PL
    END-POINT  4082.1100  -29.4974  455.8398  10.0000  PL
    ITEM-CODE  58
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4063.3919  42.4555  456.9924  10.0000  PL
    END-POINT  4070.9416  13.4341  456.5275  10.0000  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4046.0132  247.8848  402.8338  10.0000  PL
    END-POINT  4028.1394  326.7140  403.1373  10.0000  PL
    ITEM-CODE  111
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4064.7938  165.0320  402.5148  10.0000  PL
    END-POINT  4047.7819  240.0829  402.8037  10.0000  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4006.2698  331.2819  457.8690  10.0000  PL
    END-POINT  4025.7282  248.5190  457.6308  10.0000  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4027.5589  240.7313  457.6084  10.0000  PL
    END-POINT  4046.1250  161.7397  457.3810  10.0000  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4055.2460  98.1846  457.2011  10.0000  PL
    END-POINT  4061.8395  50.2888  457.0657  10.0000  PL
    ITEM-CODE  107
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4047.5852  153.8831  457.3586  10.0000  PL
    END-POINT  4054.1555  106.1099  457.2235  10.0000  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4080.4742  51.5207  402.0815  10.0000  PL
    END-POINT  4073.8664  100.4409  402.2696  10.0000  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4072.7962  108.3689  402.2999  10.0000  PL
    END-POINT  4066.2129  157.1669  402.4847  10.0000  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4099.9039  -18.1894  398.3927  10.0000  PL
    END-POINT  4099.3305  -16.0137  398.3977  10.0000  PL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4099.2973  -15.8934  398.4013  10.0000  PL
    END-POINT  4091.2595  11.9940  400.0121  10.0000  PL
    ITEM-CODE  103
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4089.0474  19.6693  400.4554  10.0000  PL
    END-POINT  4082.1157  43.7191  401.8446  10.0000  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3646.1348  -2465.6594  128.5231  10.0000  PL
    END-POINT  3624.8690  -2507.2417  128.5231  10.0000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3646.2351  -2437.5859  128.5200  10.0000  PL
    END-POINT  3626.0708  -2477.0281  128.5200  10.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -883.7411  383.0913  10.0000  PL
    END-POINT  4100.9232  -1079.7623  376.7420  10.0000  PL
    ITEM-CODE  99
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -1087.7581  376.4830  10.0000  PL
    END-POINT  4100.9232  -1283.7793  370.1338  10.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -1291.7751  369.8748  10.0000  PL
    END-POINT  4100.9232  -1487.7963  363.5255  10.0000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -883.3572  437.0890  10.0000  PL
    END-POINT  4083.0969  -1079.3784  430.7398  10.0000  PL
    ITEM-CODE  96
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -1087.3742  430.4808  10.0000  PL
    END-POINT  4083.0969  -1283.3954  424.1315  10.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -1291.3912  423.8725  10.0000  PL
    END-POINT  4083.0969  -1487.4124  417.5233  10.0000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4006.9921  -1762.4493  196.6875  10.0000  PL
    END-POINT  3924.3650  -1732.6802  196.6875  10.0000  PL
    ITEM-CODE  93
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4012.2378  -1785.0420  196.6875  10.0000  PL
    END-POINT  3934.7200  -1757.1137  196.6875  10.0000  PL
    ITEM-CODE  92
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -1691.4592  356.9287  10.0000  PL
    END-POINT  4100.9232  -1781.1818  354.0226  10.0000  PL
    ITEM-CODE  91
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -1495.7921  363.2665  10.0000  PL
    END-POINT  4100.9232  -1683.4634  357.1877  10.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4101.0985  -1817.0330  293.4330  10.0000  PL
    END-POINT  4101.0490  -1817.0330  200.6875  10.0000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4097.2836  -1815.6774  196.6875  10.0000  PL
    END-POINT  4019.7643  -1787.7534  196.6875  10.0000  PL
    ITEM-CODE  88
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9160  -1796.2811  271.2370  10.0000  PL
    END-POINT  4100.9106  -1796.2872  200.6875  10.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4097.1470  -1794.9262  196.6875  10.0000  PL
    END-POINT  4014.5186  -1765.1608  196.6875  10.0000  PL
    ITEM-CODE  86
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9229  -1796.2802  349.7866  10.0000  PL
    END-POINT  4100.9167  -1796.2873  279.2370  10.0000  PL
    ITEM-CODE  85
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -1781.2802  353.7864  10.0000  PL
    END-POINT  4100.9232  -1792.2802  353.7865  10.0000  PL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4086.1846  -1817.1747  404.3942  10.0000  PL
    END-POINT  4091.1328  -1817.0030  399.4459  10.0000  PL
    ITEM-CODE  83
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.1656  -1806.1477  407.3005  10.0000  PL
    END-POINT  4083.2882  -1813.2735  407.2501  10.0000  PL
    ITEM-CODE  82
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -1701.7505  410.5807  10.0000  PL
    END-POINT  4083.0969  -1798.1505  407.4583  10.0000  PL
    ITEM-CODE  81
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -1495.4082  417.2643  10.0000  PL
    END-POINT  4083.0969  -1693.7547  410.8397  10.0000  PL
    ITEM-CODE  80
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4101.1488  -1817.0330  385.4284  10.0000  PL
    END-POINT  4101.1029  -1817.0330  301.4330  10.0000  PL
    ITEM-CODE  79
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3735.9497  -2296.8914  176.2201  10.0000  PL
    END-POINT  3713.4345  -2359.3735  176.3686  10.0000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3741.2834  -2229.0164  176.0694  10.0000  PL
    END-POINT  3721.6788  -2283.4801  176.1954  10.0000  PL
    ITEM-CODE  77
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-37
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -537.7667  393.4530  10.0000  PL
    END-POINT  4100.9232  -702.7928  388.9326  10.0000  PL
    ITEM-CODE  76
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -710.7892  388.6936  10.0000  PL
    END-POINT  4100.9232  -875.7453  383.3503  10.0000  PL
    ITEM-CODE  75
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -541.9424  448.1487  10.0000  PL
    END-POINT  4083.0969  -692.5023  443.2713  10.0000  PL
    ITEM-CODE  74
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-40
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -464.1753  450.6679  10.0000  PL
    END-POINT  4083.0969  -533.9466  448.4077  10.0000  PL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-41
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -700.4981  443.0123  10.0000  PL
    END-POINT  4083.0969  -875.3614  437.3480  10.0000  PL
    ITEM-CODE  72
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3919.2459  -1735.0876  196.6805  10.0000  PL
    END-POINT  3880.9747  -1841.3133  196.4843  10.0000  PL
    ITEM-CODE  71
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-43
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3878.2630  -1848.8397  196.4686  10.0000  PL
    END-POINT  3810.4587  -2037.0375  196.0284  10.0000  PL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-44
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3807.7471  -2044.5639  196.0109  10.0000  PL
    END-POINT  3764.3375  -2165.0516  195.7314  10.0000  PL
    ITEM-CODE  69
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-45
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3929.6009  -1759.5211  196.6808  10.0000  PL
    END-POINT  3891.2614  -1865.9362  196.4904  10.0000  PL
    ITEM-CODE  68
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-46
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3888.5498  -1873.4626  196.4748  10.0000  PL
    END-POINT  3820.6442  -2061.9413  196.0285  10.0000  PL
    ITEM-CODE  67
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3817.9326  -2069.4677  196.0109  10.0000  PL
    END-POINT  3777.9161  -2180.5376  195.7533  10.0000  PL
    ITEM-CODE  66
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-48
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -152.3511  398.1796  10.0000  PL
    END-POINT  4100.9232  -346.0817  397.0392  10.0000  PL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-49
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -354.0809  396.9404  10.0000  PL
    END-POINT  4100.9232  -529.7689  393.6377  10.0000  PL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-50
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -386.5350  451.2788  10.0000  PL
    END-POINT  4083.0969  -456.1775  450.8236  10.0000  PL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-51
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -231.1257  452.0145  10.0000  PL
    END-POINT  4083.0969  -378.5351  451.3237  10.0000  PL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-52
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -153.3587  452.2427  10.0000  PL
    END-POINT  4083.0969  -223.1258  452.0446  10.0000  PL
    ITEM-CODE  61
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -98.4861  453.8436  10.0000  PL
    END-POINT  4083.0969  -145.3607  452.3790  10.0000  PL
    ITEM-CODE  60
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-54
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.0969  -43.6154  455.5580  10.0000  PL
    END-POINT  4083.0969  -90.4900  454.0934  10.0000  PL
    ITEM-CODE  59
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-55
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4100.9232  -26.0573  398.3782  10.0000  PL
    END-POINT  4100.9232  -144.3511  398.2088  10.0000  PL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-57
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3761.9721  -2224.7458  183.0514  10.0000  PL
    END-POINT  3760.5371  -2228.6866  178.8811  10.0000  PL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-57
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-58
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3758.2105  -2235.1150  176.0699  10.0000  PL
    END-POINT  3738.6617  -2289.3652  176.2020  10.0000  PL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-58
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-59
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3765.3269  -2215.4753  192.8705  10.0000  PL
    END-POINT  3763.9046  -2219.4157  188.6954  10.0000  PL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-59
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-60
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3775.2045  -2188.0640  195.7379  10.0000  PL
    END-POINT  3767.6446  -2209.0472  195.7008  10.0000  PL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-61
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3745.0291  -2218.6648  183.0296  10.0000  PL
    END-POINT  3743.6058  -2222.5865  178.8811  10.0000  PL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-62
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3748.3604  -2209.4090  192.8268  10.0000  PL
    END-POINT  3746.9534  -2213.3317  188.6736  10.0000  PL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-62
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-63
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3761.6258  -2172.5780  195.7155  10.0000  PL
    END-POINT  3750.6729  -2202.9790  195.6576  10.0000  PL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-64
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3678.7753  -2377.9757  128.5199  10.0000  PL
    END-POINT  3675.4252  -2382.2081  128.5200  10.0000  PL
    ITEM-CODE  48
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-64
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-65
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3671.1219  -2388.9061  128.5200  10.0000  PL
    END-POINT  3649.8766  -2430.4628  128.5200  10.0000  PL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-65
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-66
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3692.5176  -2360.6069  128.5198  10.0000  PL
    END-POINT  3683.7396  -2371.7023  128.5199  10.0000  PL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-66
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-67
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3694.9994  -2357.4700  148.4397  10.0000  PL
    END-POINT  3694.9994  -2357.4699  132.5197  10.0000  PL
    ITEM-CODE  45
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-67
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-68
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3695.0045  -2357.4556  172.3597  10.0000  PL
    END-POINT  3695.0004  -2357.4671  156.4397  10.0000  PL
    ITEM-CODE  44
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-68
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-69
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3718.9671  -2291.0065  176.2125  10.0000  PL
    END-POINT  3696.3625  -2353.6900  176.3514  10.0000  PL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-69
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-70
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3709.5860  -2366.2887  128.5223  10.0000  PL
    END-POINT  3692.8192  -2387.4655  128.5226  10.0000  PL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-70
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-71
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3712.0649  -2363.1727  148.4576  10.0000  PL
    END-POINT  3712.0681  -2363.1566  132.5222  10.0000  PL
    ITEM-CODE  41
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-71
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-72
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3712.0761  -2363.1434  172.3776  10.0000  PL
    END-POINT  3712.0665  -2363.1701  156.4576  10.0000  PL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-72
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-73
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3687.8515  -2393.7362  128.5227  10.0000  PL
    END-POINT  3676.4305  -2408.1443  128.5230  10.0000  PL
    ITEM-CODE  39
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-73
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-74
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3672.1244  -2414.8402  128.5231  10.0000  PL
    END-POINT  3649.7774  -2458.5368  128.5231  10.0000  PL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-74
    ITEM-ATTRIBUTE0 CID=[2041]