ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  3652.1137  -2478.6202  128.5200  4.0000  PL
    END-POINT  3652.1137  -2478.6202  128.5200  4.0000  PL
    SKEY KAPL
    ITEM-CODE  223
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  3652.1137  -2478.6202  128.5200  4.0000  PL
    END-POINT  3664.0510  -2455.2785  128.5200  4.0000  PL
    ITEM-CODE  222
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3664.0510  -2455.2785  128.5200  4.0000  PL
    END-POINT  3664.1466  -2455.0915  128.5200  4.0000  PL
    SKEY COCP
    ITEM-CODE  277
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3664.1466  -2455.0915  128.5200  4.0000  PL
    END-POINT  3677.5386  -2428.9053  128.5200  4.0000  PL
    ITEM-CODE  278
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  3677.5386  -2428.9053  128.5200  4.0000  PL
    END-POINT  3678.7771  -2426.4836  133.4600  4.0000  PL
    CENTRE-POINT  3678.7771  -2426.4836  128.5200
    SKEY ELPL
    ITEM-CODE  221
    ITEM-DESCRIPTION  NoWE-503 - Street Elbow 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  3678.7771  -2426.4836  133.4600  4.0000  PL
    END-POINT  3678.7771  -2426.4836  133.6700  4.0000  PL
    SKEY COCP
    ITEM-CODE  280
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4080.4291  -1846.4101  193.4404  4.0000  PL
    END-POINT  4018.5486  -1824.1077  193.4404  4.0000  PL
    ITEM-CODE  275
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4018.5486  -1824.1077  193.4404  4.0000  PL
    END-POINT  4018.3510  -1824.0365  193.4404  4.0000  PL
    SKEY COCP
    ITEM-CODE  274
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4018.3510  -1824.0365  193.4404  4.0000  PL
    END-POINT  3957.3548  -1802.0528  193.4404  4.0000  PL
    ITEM-CODE  220
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3957.3548  -1802.0528  193.4404  4.0000  PL
    END-POINT  3957.1573  -1801.9816  193.4404  4.0000  PL
    SKEY COCP
    ITEM-CODE  276
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3957.1548  -1801.9886  193.4404  4.0000  PL
    END-POINT  3951.5852  -1802.8731  193.4348  4.0000  PL
    CENTRE-POINT  3952.5072  -1800.3141  193.4404
    SKEY ELPL
    ITEM-CODE  206
    ITEM-DESCRIPTION  NoWE-503 - Street Elbow 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  3951.5852  -1802.8731  193.4348  4.0000  PL
    END-POINT  3913.2541  -1909.2651  193.2011  4.0000  PL
    ITEM-CODE  257
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3913.2541  -1909.2651  193.2011  4.0000  PL
    END-POINT  3913.1829  -1909.4627  193.2006  4.0000  PL
    SKEY COCP
    ITEM-CODE  256
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3913.1829  -1909.4627  193.2006  4.0000  PL
    END-POINT  3841.3902  -2108.7305  192.7629  4.0000  PL
    ITEM-CODE  204
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3841.3902  -2108.7305  192.7629  4.0000  PL
    END-POINT  3841.3190  -2108.9281  192.7625  4.0000  PL
    SKEY COCP
    ITEM-CODE  254
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3841.3190  -2108.9281  192.7381  4.0000  PL
    END-POINT  3800.8698  -2221.1989  192.4777  4.0000  PL
    ITEM-CODE  205
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3800.8698  -2221.1989  192.4777  4.0000  PL
    END-POINT  3800.7986  -2221.3965  192.4773  4.0000  PL
    SKEY COCP
    ITEM-CODE  255
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3800.7986  -2221.3965  192.4670  4.0000  PL
    END-POINT  3794.5634  -2238.7029  192.4253  4.0000  PL
    ITEM-CODE  191
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3794.5634  -2238.7029  192.4253  4.0000  PL
    END-POINT  3794.4923  -2238.9005  192.4249  4.0000  PL
    SKEY COCP
    ITEM-CODE  235
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3794.4835  -2238.8974  192.4492  4.0000  PL
    END-POINT  3792.8217  -2243.5467  189.7245  4.0000  PL
    CENTRE-POINT  3792.8068  -2243.5441  192.4444
    SKEY ELPL
    ITEM-CODE  189
    ITEM-DESCRIPTION  NoWE-503 - Street Elbow 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  3792.8217  -2243.5467  189.7245  4.0000  PL
    END-POINT  3792.8100  -2243.5365  183.0564  4.0000  PL
    ITEM-CODE  234
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3792.8096  -2243.5364  183.0564  4.0000  PL
    END-POINT  3792.8096  -2243.5362  182.8464  4.0000  PL
    SKEY COCP
    ITEM-CODE  233
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4084.2103  -575.7276  471.0733  4.0000  PL
    END-POINT  4084.2103  -673.4663  467.9075  4.0000  PL
    ITEM-CODE  259
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -673.4663  467.9075  4.0000  PL
    END-POINT  4084.2103  -673.6762  467.9007  4.0000  PL
    SKEY COCP
    ITEM-CODE  258
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -673.6762  467.9007  4.0000  PL
    END-POINT  4084.2103  -793.5147  464.0190  4.0000  PL
    ITEM-CODE  209
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -793.5147  464.0190  4.0000  PL
    END-POINT  4084.2103  -793.7246  464.0122  4.0000  PL
    SKEY COCP
    ITEM-CODE  260
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -793.7246  464.0122  4.0000  PL
    END-POINT  4084.2103  -931.5536  459.5478  4.0000  PL
    ITEM-CODE  207
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4084.2103  -931.7635  459.5410  4.0000  PL
    END-POINT  4084.2103  -1171.4278  451.7782  4.0000  PL
    ITEM-CODE  208
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -1171.4278  451.7782  4.0000  PL
    END-POINT  4084.2103  -1171.6377  451.7714  4.0000  PL
    SKEY COCP
    ITEM-CODE  272
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -1171.7624  451.7673  4.0000  PL
    END-POINT  4084.2103  -1411.6366  443.9976  4.0000  PL
    ITEM-CODE  219
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4084.2103  -1411.6366  443.9976  4.0000  PL
    END-POINT  4084.2103  -1647.3827  436.3617  4.0000  PL
    ITEM-CODE  217
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -1647.3827  436.3617  4.0000  PL
    END-POINT  4084.2103  -1647.5926  436.3549  4.0000  PL
    SKEY COCP
    ITEM-CODE  271
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -1647.5926  436.3549  4.0000  PL
    END-POINT  4084.2103  -1802.4669  431.3384  4.0000  PL
    ITEM-CODE  218
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -1802.4669  431.3384  4.0000  PL
    END-POINT  4084.2103  -1802.6768  431.3316  4.0000  PL
    SKEY COCP
    ITEM-CODE  273
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.1960  -1802.6768  431.3308  4.0000  PL
    END-POINT  4084.1960  -1843.7405  430.0007  4.0000  PL
    ITEM-CODE  216
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4084.1794  -1847.6185  419.8203  4.0000  PL
    END-POINT  4084.1794  -1847.6195  311.9028  4.0000  PL
    ITEM-CODE  270
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.1794  -1847.6195  311.9028  4.0000  PL
    END-POINT  4084.1794  -1847.6195  311.6928  4.0000  PL
    SKEY COCP
    ITEM-CODE  269
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.1794  -1847.6195  311.6928  4.0000  PL
    END-POINT  4084.1794  -1847.6204  203.5652  4.0000  PL
    ITEM-CODE  215
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
COUPLING
    END-POINT  3792.8096  -2243.5362  178.3984  4.0000  PL
    END-POINT  3792.8096  -2243.5362  178.1884  4.0000  PL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3792.8096  -2243.5362  178.1884  4.0000  PL
    END-POINT  3791.8877  -2246.0952  173.2484  4.0000  PL
    CENTRE-POINT  3792.8096  -2243.5362  173.2484
    SKEY ELPL
    ITEM-CODE  192
    ITEM-DESCRIPTION  NoWE-503 - Street Elbow 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  3791.8877  -2246.0952  173.2484  4.0000  PL
    END-POINT  3757.2620  -2342.1997  173.2480  4.0000  PL
    ITEM-CODE  237
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3757.2620  -2342.1997  173.2480  4.0000  PL
    END-POINT  3757.1908  -2342.3973  173.2480  4.0000  PL
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3757.1908  -2342.3973  173.2480  4.0000  PL
    END-POINT  3723.3177  -2436.4132  173.2477  4.0000  PL
    ITEM-CODE  193
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3723.3177  -2436.4132  173.2477  4.0000  PL
    END-POINT  3723.2465  -2436.6108  173.2477  4.0000  PL
    SKEY COCP
    ITEM-CODE  264
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3723.2465  -2436.6108  173.2476  4.0000  PL
    END-POINT  3721.5721  -2441.2584  170.5276  4.0000  PL
    CENTRE-POINT  3721.5720  -2441.2584  173.2476
    SKEY ELPL
    ITEM-CODE  213
    ITEM-DESCRIPTION  NoWE-503 - Street Elbow 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  3721.5721  -2441.2584  170.5276  4.0000  PL
    END-POINT  3721.5720  -2441.2584  166.2727  4.0000  PL
    ITEM-CODE  268
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3721.5720  -2441.2584  166.2727  4.0000  PL
    END-POINT  3721.5720  -2441.2584  166.0627  4.0000  PL
    SKEY COCP
    ITEM-CODE  267
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3721.5720  -2441.2584  166.0627  4.0000  PL
    END-POINT  3719.0010  -2440.3706  161.1227  4.0000  PL
    CENTRE-POINT  3721.5720  -2441.2583  161.1227
    SKEY ELPL
    ITEM-CODE  214
    ITEM-DESCRIPTION  NoWE-503 - Street Elbow 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  3719.0010  -2440.3706  161.1227  4.0000  PL
    END-POINT  3700.3731  -2433.9395  161.1227  4.0000  PL
    ITEM-CODE  266
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3700.3731  -2433.9395  161.1227  4.0000  PL
    END-POINT  3700.1746  -2433.8709  161.1227  4.0000  PL
    SKEY COCP
    ITEM-CODE  265
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3700.1746  -2433.8709  161.1227  4.0000  PL
    END-POINT  3683.6451  -2428.1643  161.1227  4.0000  PL
    ITEM-CODE  210
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3683.6451  -2428.1643  161.1227  4.0000  PL
    END-POINT  3683.4466  -2428.0957  161.1227  4.0000  PL
    SKEY COCP
    ITEM-CODE  261
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3683.4466  -2428.0957  161.1227  4.0000  PL
    END-POINT  3678.7771  -2426.4836  158.4027  4.0000  PL
    CENTRE-POINT  3678.7771  -2426.4836  161.1227
    SKEY ELPL
    ITEM-CODE  211
    ITEM-DESCRIPTION  NoWE-503 - Street Elbow 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  3678.7771  -2426.4836  158.4027  4.0000  PL
    END-POINT  3678.7771  -2426.4836  145.0313  4.0000  PL
    ITEM-CODE  263
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3678.7771  -2426.4836  145.0313  4.0000  PL
    END-POINT  3678.7771  -2426.4836  144.8213  4.0000  PL
    SKEY COCP
    ITEM-CODE  262
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4084.2103  -567.7317  471.4025  4.0000  PL
    END-POINT  4084.2103  -509.5297  472.1034  4.0000  PL
    ITEM-CODE  203
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -509.5297  472.1034  4.0000  PL
    END-POINT  4084.2103  -509.3197  472.1059  4.0000  PL
    SKEY COCP
    ITEM-CODE  253
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
COUPLING
    END-POINT  4084.2103  -373.1307  473.7453  4.0000  PL
    END-POINT  4084.2103  -373.3407  473.7436  4.0000  PL
    SKEY COCP
    ITEM-CODE  251
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -373.3407  473.7436  4.0000  PL
    END-POINT  4084.2103  -509.3227  472.6101  4.0000  PL
    ITEM-CODE  202
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -509.3227  472.6101  4.0000  PL
    END-POINT  4084.2103  -509.5327  472.6083  4.0000  PL
    SKEY COCP
    ITEM-CODE  252
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4084.2103  -29.8476  475.9725  4.0000  PL
    END-POINT  4084.2103  -88.2767  475.7299  4.0000  PL
    ITEM-CODE  248
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -88.2767  475.7299  4.0000  PL
    END-POINT  4084.2103  -88.4867  475.7291  4.0000  PL
    SKEY COCP
    ITEM-CODE  247
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -88.4867  475.7291  4.0000  PL
    END-POINT  4084.2103  -225.0297  475.1622  4.0000  PL
    ITEM-CODE  200
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -225.0297  475.1622  4.0000  PL
    END-POINT  4084.2103  -225.2397  475.1613  4.0000  PL
    SKEY COCP
    ITEM-CODE  249
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -225.2391  474.9781  4.0000  PL
    END-POINT  4084.2103  -373.1320  474.1659  4.0000  PL
    ITEM-CODE  201
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -373.1320  474.1659  4.0000  PL
    END-POINT  4084.2103  -373.3420  474.1647  4.0000  PL
    SKEY COCP
    ITEM-CODE  250
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4048.4629  113.0172  482.0266  4.0000  PL
    END-POINT  4048.4629  133.7608  482.0254  4.0000  PL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4048.4629  133.7608  482.0254  4.0000  PL
    END-POINT  4048.4629  133.9708  482.0254  4.0000  PL
    SKEY COCP
    ITEM-CODE  245
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4048.4629  133.9708  482.0254  4.0000  PL
    END-POINT  4048.4629  154.9244  482.0242  4.0000  PL
    ITEM-CODE  198
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4047.6772  162.8465  482.0237  4.0000  PL
    END-POINT  4032.1106  240.5585  482.0193  4.0000  PL
    ITEM-CODE  244
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4032.1106  240.5585  482.0193  4.0000  PL
    END-POINT  4032.0693  240.7645  482.0193  4.0000  PL
    SKEY COCP
    ITEM-CODE  243
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4032.0693  240.7645  482.0193  4.0000  PL
    END-POINT  4016.1914  320.0308  482.0149  4.0000  PL
    ITEM-CODE  197
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  4016.1914  320.0308  482.0149  4.0000  PL
    END-POINT  4016.1914  320.0308  482.0149  4.0000  PL
    SKEY KAPL
    ITEM-CODE  199
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
CAP
    END-POINT  4048.9551  106.5662  482.0269  4.0000  PL
    END-POINT  4048.9551  106.5662  482.0269  4.0000  PL
    SKEY KAPL
    ITEM-CODE  196
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  4048.8834  106.5361  482.2424  4.0000  PL
    END-POINT  4048.8834  106.5361  482.2424  4.0000  PL
    SKEY KAPL
    ITEM-CODE  195
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  4048.8834  106.5361  482.2424  4.0000  PL
    END-POINT  4066.1470  43.1253  479.1365  4.0000  PL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4066.1470  43.1253  479.1365  4.0000  PL
    END-POINT  4066.2021  42.9229  479.1266  4.0000  PL
    SKEY COCP
    ITEM-CODE  241
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4066.2021  42.9229  479.1266  4.0000  PL
    END-POINT  4082.4713  -16.8350  476.1996  4.0000  PL
    ITEM-CODE  194
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]