ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4048.9052  113.9493  402.2811  6.0000  PL
    END-POINT  4048.9052  127.4474  402.4978  6.0000  PL
    ITEM-CODE  376
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4048.7961  127.4474  402.4979  6.0000  PL
    END-POINT  4048.7961  127.5773  402.4999  6.0000  PL
    SKEY COCP
    ITEM-CODE  375
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4048.7961  127.5773  402.4999  6.0000  PL
    END-POINT  4048.7958  367.5469  406.3233  6.0000  PL
    ITEM-CODE  369
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4048.7958  367.5469  406.3233  6.0000  PL
    END-POINT  4048.7958  367.6769  406.3254  6.0000  PL
    SKEY COCP
    ITEM-CODE  377
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4048.7948  367.6769  406.3254  6.0000  PL
    END-POINT  4048.7946  543.8205  409.1545  6.0000  PL
    ITEM-CODE  378
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4082.5912  -23.0372  398.7379  6.0000  PL
    END-POINT  4066.6390  39.6784  400.3929  6.0000  PL
    ITEM-CODE  374
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4066.6390  39.6784  400.3929  6.0000  PL
    END-POINT  4066.6070  39.8043  400.3962  6.0000  PL
    SKEY COCP
    ITEM-CODE  373
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4066.6070  39.8043  400.3962  6.0000  PL
    END-POINT  4050.6548  102.5197  402.0511  6.0000  PL
    ITEM-CODE  368
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3735.3507  -2482.9686  128.5313  6.0000  PL
    END-POINT  3723.6022  -2505.9422  128.5257  6.0000  PL
    ITEM-CODE  367
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3723.6022  -2505.9422  128.5257  6.0000  PL
    END-POINT  3723.5430  -2506.0579  128.5256  6.0000  PL
    SKEY COCP
    ITEM-CODE  366
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3723.5430  -2506.0579  128.5256  6.0000  PL
    END-POINT  3711.7353  -2529.1473  128.5200  6.0000  PL
    ITEM-CODE  301
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3912.0117  -1715.8693  194.6026  6.0000  PL
    END-POINT  3921.1788  -1711.5581  194.6026  6.0000  PL
    ITEM-CODE  365
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3909.7478  -1713.8083  194.6026  6.0000  PL
    END-POINT  3913.3068  -1703.9299  194.6026  6.0000  PL
    ITEM-CODE  364
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3735.3264  -2476.8142  139.3777  6.0000  PL
    END-POINT  3728.7590  -2473.9550  146.5411  6.0000  PL
    ITEM-CODE  363
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3737.9196  -2477.9432  140.5491  6.0000  PL
    END-POINT  3737.9196  -2477.9432  151.1793  6.0000  PL
    ITEM-CODE  362
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3928.5617  -1711.2117  194.6026  6.0000  PL
    END-POINT  4011.5068  -1741.0954  194.6026  6.0000  PL
    ITEM-CODE  361
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4011.5068  -1741.0954  194.6026  6.0000  PL
    END-POINT  4011.6291  -1741.1394  194.6026  6.0000  PL
    SKEY COCP
    ITEM-CODE  360
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4011.6291  -1741.1394  194.6026  6.0000  PL
    END-POINT  4095.0445  -1771.1925  194.6026  6.0000  PL
    ITEM-CODE  300
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4081.2122  -1545.5681  362.5191  6.0000  PL
    END-POINT  4075.9622  -1538.3354  368.0305  6.0000  PL
    ITEM-CODE  359
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.2122  -1544.3259  360.5621  6.0000  PL
    END-POINT  4083.2122  -1533.8326  360.9366  6.0000  PL
    ITEM-CODE  358
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4101.1343  -1773.4075  198.6026  6.0000  PL
    END-POINT  4101.1343  -1773.4075  266.4007  6.0000  PL
    ITEM-CODE  357
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4101.1343  -1773.4075  266.4007  6.0000  PL
    END-POINT  4101.1343  -1773.4075  266.5307  6.0000  PL
    SKEY COCP
    ITEM-CODE  356
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4101.1343  -1773.4075  266.5307  6.0000  PL
    END-POINT  4101.1343  -1773.4075  331.4587  6.0000  PL
    ITEM-CODE  294
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4094.8056  -1771.6732  194.6026  6.0000  PL
    END-POINT  4097.2765  -1772.3503  194.6026  6.0000  PL
    ITEM-CODE  355
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4082.9232  -1533.6806  360.1010  6.0000  PL
    END-POINT  4082.9232  -1431.8640  363.3990  6.0000  PL
    ITEM-CODE  354
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4082.9232  -1431.8640  363.3990  6.0000  PL
    END-POINT  4082.9232  -1431.7341  363.4032  6.0000  PL
    SKEY COCP
    ITEM-CODE  353
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4082.9232  -1431.7341  363.4032  6.0000  PL
    END-POINT  4082.9232  -1227.8408  370.0074  6.0000  PL
    ITEM-CODE  298
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4082.9232  -1227.8408  370.0074  6.0000  PL
    END-POINT  4082.9232  -1227.7109  370.0116  6.0000  PL
    SKEY COCP
    ITEM-CODE  351
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4082.9232  -1227.7109  370.0116  6.0000  PL
    END-POINT  4082.9232  -1039.4282  376.1102  6.0000  PL
    ITEM-CODE  299
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4082.9232  -1039.4282  376.1102  6.0000  PL
    END-POINT  4082.9232  -1039.2983  376.1144  6.0000  PL
    SKEY COCP
    ITEM-CODE  352
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4082.9232  -1039.2983  376.1144  6.0000  PL
    END-POINT  4082.9232  -952.9623  378.9109  6.0000  PL
    ITEM-CODE  297
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4082.9239  -952.8365  379.0624  6.0000  PL
    END-POINT  4082.9239  -903.6106  380.6211  6.0000  PL
    ITEM-CODE  290
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4082.9252  -903.6039  380.4241  6.0000  PL
    END-POINT  4082.9252  -903.4740  380.4284  6.0000  PL
    SKEY COCP
    ITEM-CODE  336
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4082.9252  -903.4740  380.4284  6.0000  PL
    END-POINT  4082.9252  -752.3056  385.4119  6.0000  PL
    ITEM-CODE  287
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4082.8948  -752.3048  385.3872  6.0000  PL
    END-POINT  4082.8948  -752.1749  385.3915  6.0000  PL
    SKEY COCP
    ITEM-CODE  328
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4082.8948  -752.1749  385.3915  6.0000  PL
    END-POINT  4082.8948  -557.3457  391.8380  6.0000  PL
    ITEM-CODE  286
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4082.8948  -557.3457  391.8380  6.0000  PL
    END-POINT  4082.8948  -557.2157  391.8423  6.0000  PL
    SKEY COCP
    ITEM-CODE  326
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4082.8774  -557.2157  391.8423  6.0000  PL
    END-POINT  4082.8774  -464.8307  394.8986  6.0000  PL
    ITEM-CODE  327
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4083.2122  -1763.9159  353.4243  6.0000  PL
    END-POINT  4083.2122  -1659.9974  356.7903  6.0000  PL
    ITEM-CODE  350
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4083.2122  -1659.9974  356.7903  6.0000  PL
    END-POINT  4083.2122  -1659.8675  356.7945  6.0000  PL
    SKEY COCP
    ITEM-CODE  349
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4083.2122  -1659.8675  356.7945  6.0000  PL
    END-POINT  4083.2122  -1552.3209  360.2780  6.0000  PL
    ITEM-CODE  296
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4098.3063  -1773.4047  338.2875  6.0000  PL
    END-POINT  4093.0194  -1773.3755  343.5757  6.0000  PL
    ITEM-CODE  348
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4093.0194  -1773.3755  343.5757  6.0000  PL
    END-POINT  4092.9275  -1773.3750  343.6676  6.0000  PL
    SKEY COCP
    ITEM-CODE  347
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3722.5001  -2471.2252  149.3697  6.0000  PL
    END-POINT  3688.3465  -2456.3098  149.3698  6.0000  PL
    ITEM-CODE  344
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3688.3465  -2456.3098  149.3698  6.0000  PL
    END-POINT  3688.2273  -2456.2578  149.3698  6.0000  PL
    SKEY COCP
    ITEM-CODE  343
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3688.2273  -2456.2578  149.3698  6.0000  PL
    END-POINT  3652.1217  -2440.4900  149.3699  6.0000  PL
    ITEM-CODE  292
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3649.8121  -2435.1253  173.9195  6.0000  PL
    END-POINT  3688.0315  -2329.0471  174.1516  6.0000  PL
    ITEM-CODE  340
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3688.0315  -2329.0471  174.1516  6.0000  PL
    END-POINT  3688.0756  -2328.9247  174.1518  6.0000  PL
    SKEY COCP
    ITEM-CODE  339
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3688.0756  -2328.9247  174.1518  6.0000  PL
    END-POINT  3725.6612  -2224.6058  174.3800  6.0000  PL
    ITEM-CODE  293
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3648.4559  -2438.8893  153.3698  6.0000  PL
    END-POINT  3648.4561  -2438.8890  161.5105  6.0000  PL
    ITEM-CODE  338
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3648.4560  -2438.8890  161.5105  6.0000  PL
    END-POINT  3648.4560  -2438.8890  161.6405  6.0000  PL
    SKEY COCP
    ITEM-CODE  337
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
COUPLING
    END-POINT  4084.0188  -33.7063  398.0948  6.0000  PL
    END-POINT  4084.0188  -33.8363  398.0937  6.0000  PL
    SKEY COCP
    ITEM-CODE  331
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.0188  -33.8363  398.0937  6.0000  PL
    END-POINT  4084.0187  -120.0479  397.3752  6.0000  PL
    ITEM-CODE  288
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.0187  -120.0479  397.3752  6.0000  PL
    END-POINT  4084.0187  -120.1779  397.3741  6.0000  PL
    SKEY COCP
    ITEM-CODE  335
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
COUPLING
    END-POINT  4083.3277  -326.3607  395.6622  6.0000  PL
    END-POINT  4083.3277  -326.2307  395.6625  6.0000  PL
    SKEY COCP
    ITEM-CODE  332
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4083.3277  -326.2307  395.6625  6.0000  PL
    END-POINT  4083.3277  -120.2005  396.2479  6.0000  PL
    ITEM-CODE  289
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4083.3277  -120.2005  396.2479  6.0000  PL
    END-POINT  4083.3277  -120.0705  396.2482  6.0000  PL
    SKEY COCP
    ITEM-CODE  334
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4082.9386  -442.3359  395.3338  6.0000  PL
    END-POINT  4082.9386  -326.3607  395.6622  6.0000  PL
    ITEM-CODE  333
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4075.6616  -450.7035  402.4867  6.0000  PL
    END-POINT  4080.8863  -458.0386  397.0876  6.0000  PL
    ITEM-CODE  330
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  4082.8900  -456.8337  395.1113  6.0000  PL
    END-POINT  4082.8900  -450.3351  395.2420  6.0000  PL
    ITEM-CODE  329
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3727.9798  -2218.1896  177.2352  6.0000  PL
    END-POINT  3730.2325  -2211.9822  183.8673  6.0000  PL
    ITEM-CODE  325
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3730.2325  -2211.9822  183.8673  6.0000  PL
    END-POINT  3730.2638  -2211.8959  183.9595  6.0000  PL
    SKEY COCP
    ITEM-CODE  324
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  15/12/2016
PIPE
    END-POINT  3734.8737  -2199.1888  193.5270  6.0000  PL
    END-POINT  3736.9138  -2193.5264  193.5401  6.0000  PL
    ITEM-CODE  318
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3736.9138  -2193.5264  193.5401  6.0000  PL
    END-POINT  3736.9579  -2193.4041  193.5404  6.0000  PL
    SKEY COCP
    ITEM-CODE  317
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3736.9579  -2193.4041  193.5404  6.0000  PL
    END-POINT  3779.8419  -2074.3752  193.8164  6.0000  PL
    ITEM-CODE  282
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3779.8419  -2074.3752  193.8164  6.0000  PL
    END-POINT  3779.8859  -2074.2529  193.8167  6.0000  PL
    SKEY COCP
    ITEM-CODE  316
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3779.8859  -2074.2529  193.8167  6.0000  PL
    END-POINT  3861.2349  -1848.4608  194.3404  6.0000  PL
    ITEM-CODE  283
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3861.2349  -1848.4608  194.3404  6.0000  PL
    END-POINT  3861.2789  -1848.3385  194.3407  6.0000  PL
    SKEY COCP
    ITEM-CODE  319
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3861.2789  -1848.3385  194.3407  6.0000  PL
    END-POINT  3863.8602  -1841.1741  194.3573  6.0000  PL
    ITEM-CODE  321
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3863.8602  -1841.1741  194.3573  6.0000  PL
    END-POINT  3863.9042  -1841.0518  194.3576  6.0000  PL
    SKEY COCP
    ITEM-CODE  320
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3863.9042  -1841.0518  194.3576  6.0000  PL
    END-POINT  3907.0361  -1721.3348  194.6352  6.0000  PL
    ITEM-CODE  284
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2041]