{embed="includes/doctype"}
{embed="includes/head" entryid="1" title="Pipe Stress Analysis & Support Design Services" description="Engineering and consulting services specializing in pipe support engineering/design and pipe flexibility analysis for major piping installations"}
<body id="home">
<div id="container">
{embed="includes/header"}
    <div id="container-body">
        <div id="home-featured-container">
        <div id="home-featured-holder">
        	<div id="home-featured">
           	  <div class="home-featured-info">
            	<h1>Pipe Stress Analysis &amp; Support Design Services</h1>
                <p><strong>Fenny Engineering Company </strong>provides engineering and consulting services specializing in pipe support engineering/design and pipe flexibility analysis for major piping installations including:</p>
                <ul>
                	<li><strong>Power Generating <br>
               	    Stations</strong></li>
                	<li><strong>Cogeneration Plants</strong></li>
               	  <li><strong>Paper Mills</strong></li>
                </ul>
                <ul>
                	<li><strong>Water/Waste Treatment Plants</strong></li>
               	  <li><strong>Commercial Boiler Plants </strong></li>
               	  <li><strong> Commercial HVAC &amp; Plumbing Systems </strong></li>
                </ul>
                </div>
                <div class="home-featured-features">
                	<ul class="home-featured-content">
                    	<li class="featured-content" style="display:block;">
                        	<div class="feature-image">
                            <img src="/i/featured/home-01.png" width="461" height="317" alt="Isometric Pipe Design" />
                            </div>
                        </li>
                    	<li class="featured-content">
                        	<div class="feature-image">
                            <img src="/i/featured/home-02.png" width="461" height="317" alt="Isometric Pipe Design" />
                            </div>
                        </li>
                    	<li class="featured-content">
                        	<div class="feature-image">
                            <img src="/i/featured/home-03.png" width="461" height="317" alt="Isometric Pipe Design" />
                            </div>
                        </li>
                        
                    </ul>
                            <div class="tag">
                                <p><strong>Stress Analysis Design:</strong>  State-of-the art modeling, analysis and highest quality standards&hellip; <a href="/services/">More</a></p>
                           		<span class="notch">&nbsp;</span>
                            </div>
                </div>
            </div>
          </div>
        </div>
        <div class="home-secondary">
        	<div class="home-intro">
           	  <h2>Company and it's principle with decades of applications</h2>
                <p> <strong>Fenny Engineering Company</strong> has been providing solutions for the analysis and support design for all types of piping systems for over 26 years. This experience makes Fenny Engineering Company a proven leader in the piping analysis industry. Learn more <a href="/company/">about our company</a></p>
          </div>
          {!--
          <div class="home-projects">
          	<h2>Recent Projects</h2>
            <div class="title">Waste Water Treatment Plants</div>
            <div class="date">2004</div>
            <img src="http://placehold.it/200x100" />
            <p style="padding-top:4px;"><a href="#">View More Projects</a></p>
          </div>
          --}
          <div class="home-contact">
          	<h2>Contact Us Today</h2>
            <p><strong>Fenny Engineering Company </strong><br />
            104 Gondola Park Drive <br />
            Venice, FL 34292 </p>
            <p>Phone: 941-488-7188 <br />
            {!--Fax: 928-438-3300 <br />--}
            Email: <a href="mailto:jack@fenny.com">jack@fenny.com</a></p>
</div>
        </div>
    </div>
{embed="includes/footer"}
</div>
{embed="includes/pages-bottom" script="home"}
</body>
</html>
