{embed="admin/head"}
<body>
{embed="admin/header"}
<div class="container">
	<div class="container-content">
    <div class="page-header">
        <div class="crumbs">
            <a href="/admin/projects/">Projects</a> &raquo; <span>New Project &nbsp;</span>
        </div>
        <h1 class="page-title">New Project</h1>
    </div>
    <div class="page-content">
    	<div class="new-project-form">
        
        {exp:channel:form channel="projects" return="/admin/success/" }
   <input name="title" type="text">
   <input type="submit" value="Submit">
{/exp:channel:form}
        
        
        
        
        	{exp:channel:form channel="projects" return="/admin/projects/" datepicker="no" include_jquery="no" include_assets="no"}
            {field_errors}{error}{/field_errors}
            {global_errors}{error}{/global_errors}
            <input type="hidden" name="status" value="Active" />
            <div class="form-main">
            	<div class="form-row">
                	<label class="field-label field-row-header">Job Ordered:</label>
                    {!--<span class="label-desc">When was the job received?</span>--}
                    <div class="form-fields">
                    <span class="date-field">
                    	<input type="text" class="field-date" name="" id="field-jobordered" value="{current_time format='%m/%d/%Y'}" />
                        
                    </span>
                        <input type="hidden" value="" name="date_order_received" id="field-jobordered" />
                    </div>
                </div>
            
            
            
            	<div class="form-row">
                	<div class="inline-field">
                        <label for="field-customer" class="field-label field-row-header">Customer:</label>
                        <div class="form-fields">
                            <select name="customer" id="field-customer" class="field-dropdown" placeholder="Select a customer">
                                <option value="">Select a Customer</option>
                                <optgroup label="Current Customers">
                                {embed="admin/field-clients"}
                                </optgroup>
                                {!--
                                <optgroup label="New Clients">
                                    <option value="create">Create New[+]</option>
                                </optgroup>
                                --}
                            </select>
                            <br /><a href="/admin/clients/new/" class="field-link" target="_blank">New Client[+]</a>
                        </div>
                    </div>
                	<div class="inline-field">
                        <label for="field-jobnum" class="field-label field-row-header">Job #:</label>
                        <div class="form-fields">
                            <input type="text" class="field-text" name="job_number" id="field-jobnum" placeholder="i.e. {current_time format='%y'}01" />
                        </div>
                    </div>
                </div>
            	<div class="form-row">
                	<label for="field-title" class="field-label field-row-header">Project Title:</label>
                    <div class="form-fields">
                    	<input type="text" class="field-text" name="title" id="field-title" placeholder="What are you calling this project?" />
                    </div>
                </div>
            	<div class="form-row">
                	<label for="field-customercontact" class="field-label field-row-header">Customer Contact:</label>
                    <div class="form-fields">
                    	<textarea class="field-textbox" name="customer_contact" id="field-customercontact" rows="7" cols="40"></textarea>
                    </div>
                </div>
            	<div class="form-row">
                	<label for="field-contractor" class="field-label field-row-header">Contractor:</label>
                    <div class="form-fields">
                    	<textarea class="field-textbox" name="contractor" id="field-contractor" rows="7" cols="40"></textarea>
                    </div>
                </div>
            	<div class="form-row">
                	<label for="field-projectnotes" class="field-label field-row-header">Project Notes:</label>
                    <div class="form-fields">
                    	<textarea class="field-textbox" name="project_notes" id="field-projectnotes" rows="7" cols="40"></textarea>
                    </div>
                </div>
            	<div class="form-row">
                <input type="submit" name="submit" value="Submit Project" class="field-submit" />
                </div>
                
            </div>
            <div class="form-side">
            	<div class="form-row">
                	<label for="field-fecpm" class="field-label field-row-header">FEC Project Manager:</label>
                    <div class="form-fields">
                            <select name="fec_project_manager" id="field-fecpm" class="field-dropdown" placeholder="Select a Team Member">
                                <option value="">Select a Team Member</option>
                                    {options:fec_project_manager}
                                        <option value="{option_value}"{selected}>{option_name}</option>
                                    {/options:fec_project_manager}
                            </select>
                    </div>
                </div>
            	<div class="form-row">
                	<label class="field-label field-row-header">Job Pricing:</label>
                    <div class="form-fields">
                    	<div class="field-item">
                            <label><input type="radio" name="job_pricing" value="LS" id="field-pricingls"> LS (Lump Sum)</label>
                        </div>
                    	<div class="field-item">
                            <label><input type="radio" name="job_pricing" value="UP" id="field-pricingup"> UP (Unit Price)</label>
                        </div>
                    </div>
                </div>
                
                
            </div>
          {/exp:channel:form}
           
        </div>
    </div>

</div>
</div>
{embed="admin/pages-bottom" script="new-project"}
</html>
