<div class="remodal" data-remodal-id="history">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h3 class="modal-header">Status History</h3>
  <div class="modal-content">
  <ul class="history-list">
    {exp:channel:entries dynamic="off" entry_id="{segment_3}" channel="projects" status="not closed" limit="1" orderby="date_order_received" sort="asc" disable="categories|category_fields|member_data|pagination"}
                    {project_status sort='desc' orderby='status_date' limit='1000'}
                    <li>{status_date format='%m/%d/%Y'} @ {status_date format='%h:%i %A'} by {status_member}{embed='admin/status-member' entry_id='{entry_id}'}{/status_member}<br />
                    &ldquo;{status_memo}&rdquo;</li>
                    {/project_status}

	{/exp:channel:entries}
    </ul>
    </div>
</div>