<div class="remodal" data-remodal-id="help-statusmemo">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h3 class="modal-header">What&rsquo;s This? - Status Memo</h3>
  <div class="help-content">
      <p>This field is used to provide a brief status update on our scope of work. This might just say that we contacted the client, or that we have a percentage of the model completed. This will build a status history that one can view to see where we made progress on the project.</p>
  </div>
</div>