<div class="remodal" data-remodal-id="help-scopetitle">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h3 class="modal-header">What&rsquo;s This? - Scope Title/Description</h3>
  <div class="help-content">
      <p>This field is used to provide a title or description for the scope being performed. This would typically be used on larger projects where our scope is a smaller part of the overall project. This allows us to use the Project Title to identify the overall project that our scope applies to and the Scope Title/Description properly identifies what we are scoped to do. </p>
  </div>
</div>