ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE SCJ_MP_PAB_01-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  25/05/2017
COUPLING
    END-POINT  359.0759  -1552.8674  141.1445  1.5000  PL
    END-POINT  359.0759  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  108
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  359.0759  -1552.8674  141.1445  0.7500  PL
    END-POINT  358.4178  -1551.7279  141.1445  1.5000  PL
    BRANCH1-POINT  357.7598  -1552.8674  141.1445  1.5000  PL
    SKEY CTFL
    ITEM-CODE  107
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  358.4178  -1551.7279  141.1445  0.7500  PL
    END-POINT  358.4178  -1551.7279  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  110
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  358.4178  -1551.7279  141.1445  0.7500  PL
    END-POINT  358.4178  -1549.6079  141.1445  0.7500  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  358.4178  -1549.6079  141.1445  0.7500  PL
    END-POINT  358.4178  -1549.6079  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  115
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  358.4178  -1549.6079  141.1445  0.7500  PL
    END-POINT  357.6583  -1548.8484  141.1445  0.7500  PL
    CENTRE-POINT  358.4178  -1548.8484  141.1445
    SKEY ELPL
    ITEM-CODE  114
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  357.6583  -1548.8484  141.1445  0.7500  PL
    END-POINT  357.6583  -1548.8484  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  118
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  357.6583  -1548.8484  141.1445  0.7500  PL
    END-POINT  330.8959  -1548.8484  141.1445  0.7500  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  357.7598  -1552.8674  141.1445  1.5000  PL
    END-POINT  357.7598  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  111
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  357.7598  -1552.8674  141.1445  1.5000  PL
    END-POINT  351.0758  -1552.8674  141.1445  1.5000  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  351.0758  -1552.8674  141.1445  1.5000  PL
    END-POINT  351.0758  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  113
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  351.0758  -1552.8674  141.1445  0.7500  PL
    END-POINT  350.4178  -1552.8674  140.0050  1.5000  PL
    BRANCH1-POINT  349.7598  -1552.8674  141.1445  1.5000  PL
    SKEY CTFL
    ITEM-CODE  112
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  350.4178  -1552.8674  140.0050  0.7500  PL
    END-POINT  350.4178  -1552.8674  140.0050  0.7500  PL
    SKEY COCP
    ITEM-CODE  115
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  350.4178  -1552.8674  140.0050  0.7500  PL
    END-POINT  350.4178  -1552.8674  137.0050  0.7500  PL
    ITEM-CODE  114
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  350.4178  -1552.8674  137.0050  0.7500  PL
    END-POINT  350.4178  -1552.8674  137.0050  0.7500  PL
    SKEY COCP
    ITEM-CODE  117
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  350.4178  -1552.8674  137.0050  0.7500  PL
    END-POINT  350.4178  -1553.6269  136.2455  0.7500  PL
    CENTRE-POINT  350.4178  -1552.8674  136.2455
    SKEY ELPL
    ITEM-CODE  116
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  350.4178  -1553.6269  136.2455  0.7500  PL
    END-POINT  350.4178  -1553.6269  136.2455  0.7500  PL
    SKEY COCP
    ITEM-CODE  120
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  350.4178  -1553.6269  136.2455  0.7500  PL
    END-POINT  350.4178  -1564.1269  136.2455  0.7500  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  350.4178  -1564.1269  136.2455  0.7500  PL
    END-POINT  350.4178  -1564.1269  136.2455  0.7500  PL
    SKEY COCP
    ITEM-CODE  120
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  350.4178  -1564.1269  136.2455  0.7500  PL
    END-POINT  349.6583  -1564.8864  136.2455  0.7500  PL
    CENTRE-POINT  350.4178  -1564.8864  136.2455
    SKEY ELPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  349.6583  -1564.8864  136.2455  0.7500  PL
    END-POINT  349.6583  -1564.8864  136.2455  0.7500  PL
    SKEY COCP
    ITEM-CODE  123
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  349.6583  -1564.8864  136.2455  0.7500  PL
    END-POINT  330.8959  -1564.8864  136.2455  0.7500  PL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  349.7598  -1552.8674  141.1445  1.5000  PL
    END-POINT  349.7598  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  116
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  349.7598  -1552.8674  141.1445  1.5000  PL
    END-POINT  242.9658  -1552.8674  141.1445  1.5000  PL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  242.9658  -1552.8674  141.1445  1.5000  PL
    END-POINT  242.9658  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  118
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  242.9658  -1552.8674  141.1445  0.7500  PL
    END-POINT  242.3079  -1551.7279  141.1445  1.5000  PL
    BRANCH1-POINT  241.6499  -1552.8674  141.1445  1.5000  PL
    SKEY CTFL
    ITEM-CODE  117
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  242.3079  -1551.7279  141.1445  0.7500  PL
    END-POINT  242.3079  -1551.7279  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  124
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  242.3079  -1551.7279  141.1445  0.7500  PL
    END-POINT  242.3079  -1529.6337  141.1445  0.7500  PL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  242.3079  -1529.6332  141.1445  0.7500  PL
    END-POINT  242.3079  -1529.6332  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  125
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  242.3079  -1529.6332  141.1445  0.7500  PL
    END-POINT  241.5484  -1528.8737  141.1445  0.7500  PL
    CENTRE-POINT  242.3079  -1528.8737  141.1445
    SKEY ELPL
    ITEM-CODE  124
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  241.5484  -1528.8737  141.1445  0.7500  PL
    END-POINT  241.5484  -1528.8737  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  128
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  241.5484  -1528.8737  141.1445  0.7500  PL
    END-POINT  237.5484  -1528.8737  141.1445  0.7500  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  241.6499  -1552.8674  141.1445  1.5000  PL
    END-POINT  241.6499  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  121
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  241.6499  -1552.8674  141.1445  1.5000  PL
    END-POINT  157.1875  -1552.8674  141.1445  1.5000  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  157.1875  -1552.8674  141.1445  1.5000  PL
    END-POINT  157.1875  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  128
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  157.1875  -1552.8674  141.1445  1.5000  PL
    END-POINT  156.0595  -1552.8674  140.0165  1.5000  PL
    BRANCH1-POINT  154.9315  -1552.8674  141.1445  1.5000  PL
    SKEY CTFL
    ITEM-CODE  127
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  156.0595  -1552.8674  140.0165  1.5000  PL
    END-POINT  156.0595  -1552.8674  140.0165  1.5000  PL
    SKEY COCP
    ITEM-CODE  130
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  156.0595  -1552.8674  140.0165  1.5000  PL
    END-POINT  156.0595  -1554.1554  137.2165  1.5000  PL
    CENTRE-POINT  156.0595  -1552.8674  137.2165
    SKEY ELPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  M2916-1 ProPress 90 FTGxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  156.0595  -1554.1554  137.2165  1.5000  PL
    END-POINT  156.0595  -1554.1554  137.2165  1.5000  PL
    SKEY COCP
    ITEM-CODE  133
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  156.0595  -1554.1554  137.2165  1.5000  PL
    END-POINT  156.0595  -1730.7413  137.2165  1.5000  PL
    ITEM-CODE  132
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  154.9315  -1552.8674  141.1445  1.5000  PL
    END-POINT  105.5885  -1552.8674  141.1445  1.5000  PL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  105.5885  -1552.8674  141.1445  1.5000  PL
    END-POINT  105.5885  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  123
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  105.5885  -1552.8674  141.1445  0.7500  PL
    END-POINT  104.9205  -1551.7079  141.1445  1.5000  PL
    BRANCH1-POINT  103.5310  -1552.8674  141.1445  1.0000  PL
    SKEY CTFL
    ITEM-CODE  122
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  104.9205  -1551.7079  141.1445  0.7500  PL
    END-POINT  104.9205  -1551.7079  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  129
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  104.9205  -1551.7079  141.1445  0.7500  PL
    END-POINT  104.9205  -1544.6079  141.1445  0.7500  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  104.9205  -1544.6079  141.1445  0.7500  PL
    END-POINT  104.9205  -1544.6079  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  130
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  104.9205  -1544.6079  141.1445  0.7500  PL
    END-POINT  105.6800  -1543.8484  141.1445  0.7500  PL
    CENTRE-POINT  104.9205  -1543.8484  141.1445
    SKEY ELPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  105.6800  -1543.8484  141.1445  0.7500  PL
    END-POINT  105.6800  -1543.8484  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  133
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  105.6800  -1543.8484  141.1445  0.7500  PL
    END-POINT  133.6800  -1543.8484  141.1445  0.7500  PL
    ITEM-CODE  132
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  103.5310  -1552.8674  141.1445  1.0000  PL
    END-POINT  103.5310  -1552.8674  141.1445  1.0000  PL
    SKEY COCP
    ITEM-CODE  125
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  103.5310  -1552.8674  141.1445  1.0000  PL
    END-POINT  102.1115  -1552.8674  141.1445  0.7500  PL
    SKEY RCPL
    ITEM-CODE  124
    ITEM-DESCRIPTION  M2915-1 ProPress Reducer FTGxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2051]
COUPLING
    END-POINT  102.1115  -1552.8674  141.1445  0.7500  PL
    END-POINT  102.1115  -1552.8674  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  128
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  102.1115  -1552.8674  141.1445  0.7500  PL
    END-POINT  -137.8885  -1552.8674  141.1445  0.7500  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -137.8885  -1552.8674  141.1445  0.7500  PL
    END-POINT  -138.0875  -1552.8674  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  132
    ITEM-DESCRIPTION  M2915 ProPress Stop Coupling PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  -138.0875  -1552.8674  141.1445  0.7500  PL
    END-POINT  -138.0875  -1552.8674  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  133
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  -137.8885  -1552.8674  141.1445  0.7500  PL
    END-POINT  -137.8885  -1552.8674  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  131
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE SCJ_MP_PAB_01-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  25/05/2017
PIPE
    END-POINT  330.8959  -1544.8484  136.2455  0.7500  PL
    END-POINT  369.6583  -1544.8484  136.2455  0.7500  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  369.6583  -1544.8484  136.2455  0.7500  PL
    END-POINT  369.6583  -1544.8484  136.2455  0.7500  PL
    SKEY COCP
    ITEM-CODE  113
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  369.6583  -1544.8484  136.2455  0.7500  PL
    END-POINT  370.4178  -1545.6079  136.2455  0.7500  PL
    CENTRE-POINT  370.4178  -1544.8484  136.2455
    SKEY ELPL
    ITEM-CODE  109
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  370.4178  -1545.6079  136.2455  0.7500  PL
    END-POINT  370.4178  -1545.6079  136.2455  0.7500  PL
    SKEY COCP
    ITEM-CODE  110
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  370.4178  -1545.6079  136.2455  0.7500  PL
    END-POINT  370.4178  -1560.1079  136.2455  0.7500  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  370.4178  -1560.1079  136.2455  0.7500  PL
    END-POINT  370.4178  -1560.1079  136.2455  0.7500  PL
    SKEY COCP
    ITEM-CODE  110
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  370.4178  -1560.1079  136.2455  0.7500  PL
    END-POINT  370.4178  -1560.8674  137.0050  0.7500  PL
    CENTRE-POINT  370.4178  -1560.8674  136.2455
    SKEY ELPL
    ITEM-CODE  106
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  370.4178  -1560.8674  137.0050  0.7500  PL
    END-POINT  370.4178  -1560.8674  137.0050  0.7500  PL
    SKEY COCP
    ITEM-CODE  107
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  370.4178  -1560.8674  137.0050  0.7500  PL
    END-POINT  370.4178  -1560.8674  140.0050  0.7500  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  370.4178  -1560.8674  140.0050  0.7500  PL
    END-POINT  370.4178  -1560.8674  140.0050  0.7500  PL
    SKEY COCP
    ITEM-CODE  105
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  370.4178  -1560.8674  140.0050  0.7500  PL
    END-POINT  371.0759  -1560.8674  141.1445  1.5000  PL
    BRANCH1-POINT  369.7598  -1560.8674  141.1445  1.5000  PL
    SKEY CTFL
    ITEM-CODE  102
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  371.0759  -1560.8674  141.1445  1.5000  PL
    END-POINT  371.0759  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  103
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  369.7598  -1560.8674  141.1445  1.5000  PL
    END-POINT  369.7598  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  106
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  369.7338  -1560.8674  141.1445  1.5000  PL
    END-POINT  363.0758  -1560.8674  141.1445  1.5000  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  363.0758  -1560.8674  141.1445  1.5000  PL
    END-POINT  363.0758  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  108
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  363.0758  -1560.8674  141.1445  0.7500  PL
    END-POINT  362.4178  -1562.0069  141.1445  1.5000  PL
    BRANCH1-POINT  361.7598  -1560.8674  141.1445  1.5000  PL
    SKEY CTFL
    ITEM-CODE  107
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  362.4178  -1562.0069  141.1445  0.7500  PL
    END-POINT  362.4178  -1562.0069  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  110
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  362.4178  -1562.0069  141.1445  0.7500  PL
    END-POINT  362.4178  -1568.1319  141.1445  0.7500  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  362.4178  -1568.1319  141.1445  0.7500  PL
    END-POINT  362.4178  -1568.1319  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  115
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  362.4178  -1568.1319  141.1445  0.7500  PL
    END-POINT  361.6583  -1568.8914  141.1445  0.7500  PL
    CENTRE-POINT  362.4178  -1568.8914  141.1445
    SKEY ELPL
    ITEM-CODE  114
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  361.6583  -1568.8914  141.1445  0.7500  PL
    END-POINT  361.6583  -1568.8914  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  118
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  361.6583  -1568.8914  141.1445  0.7500  PL
    END-POINT  330.8959  -1568.8914  141.1445  0.7500  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  361.7598  -1560.8674  141.1445  1.5000  PL
    END-POINT  361.7598  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  111
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  361.7598  -1560.8674  141.1445  1.5000  PL
    END-POINT  250.9658  -1560.8674  141.1445  1.5000  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  250.9658  -1560.8674  141.1445  1.5000  PL
    END-POINT  250.9658  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  113
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  250.9658  -1560.8674  141.1445  0.7500  PL
    END-POINT  250.3079  -1560.8674  140.0050  1.5000  PL
    BRANCH1-POINT  249.6499  -1560.8674  141.1445  1.5000  PL
    SKEY CTFL
    ITEM-CODE  112
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  250.3079  -1560.8674  140.0050  0.7500  PL
    END-POINT  250.3079  -1560.8674  140.0050  0.7500  PL
    SKEY COCP
    ITEM-CODE  115
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  250.3079  -1560.8674  140.0050  0.7500  PL
    END-POINT  250.3079  -1560.1079  138.1750  0.7500  PL
    CENTRE-POINT  250.3079  -1560.8674  138.1750
    SKEY ELPL
    ITEM-CODE  114
    ITEM-DESCRIPTION  M2916-1 ProPress 90 FTGxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  250.3079  -1560.1079  138.1750  0.7500  PL
    END-POINT  250.3079  -1560.1079  138.1750  0.7500  PL
    SKEY COCP
    ITEM-CODE  118
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  250.3079  -1560.1079  138.1750  0.7500  PL
    END-POINT  250.3079  -1523.6342  138.1750  0.7500  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  250.3079  -1523.6337  138.1750  0.7500  PL
    END-POINT  250.3079  -1523.6337  138.1750  0.7500  PL
    SKEY COCP
    ITEM-CODE  120
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  250.3079  -1523.6337  138.1750  0.7500  PL
    END-POINT  249.5484  -1522.8742  138.1750  0.7500  PL
    CENTRE-POINT  250.3079  -1522.8742  138.1750
    SKEY ELPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  249.5484  -1522.8742  138.1750  0.7500  PL
    END-POINT  249.5484  -1522.8742  138.1750  0.7500  PL
    SKEY COCP
    ITEM-CODE  123
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  249.5484  -1522.8742  138.1750  0.7500  PL
    END-POINT  237.5484  -1522.8742  138.1750  0.7500  PL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  249.6499  -1560.8674  141.1445  1.5000  PL
    END-POINT  249.6499  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  116
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  249.6499  -1560.8674  141.1445  1.5000  PL
    END-POINT  165.1875  -1560.8674  141.1445  1.5000  PL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  165.1875  -1560.8674  141.1445  1.5000  PL
    END-POINT  165.1875  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  123
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  165.1875  -1560.8674  141.1445  1.5000  PL
    END-POINT  164.0595  -1560.8674  140.0165  1.5000  PL
    BRANCH1-POINT  162.9315  -1560.8674  141.1445  1.5000  PL
    SKEY CTFL
    ITEM-CODE  122
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  164.0595  -1560.8674  140.0165  1.5000  PL
    END-POINT  164.0595  -1560.8674  140.0165  1.5000  PL
    SKEY COCP
    ITEM-CODE  125
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  164.0595  -1560.8674  140.0165  1.5000  PL
    END-POINT  164.0595  -1562.1554  137.2165  1.5000  PL
    CENTRE-POINT  164.0595  -1560.8674  137.2165
    SKEY ELPL
    ITEM-CODE  124
    ITEM-DESCRIPTION  M2916-1 ProPress 90 FTGxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  164.0595  -1562.1554  137.2165  1.5000  PL
    END-POINT  164.0595  -1562.1554  137.2165  1.5000  PL
    SKEY COCP
    ITEM-CODE  128
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  164.0595  -1562.1554  137.2165  1.5000  PL
    END-POINT  164.0595  -1738.7413  137.2165  1.5000  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  162.9315  -1560.8674  141.1445  1.5000  PL
    END-POINT  113.5885  -1560.8674  141.1445  1.5000  PL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  113.5885  -1560.8674  141.1445  1.5000  PL
    END-POINT  113.5885  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  124
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  113.5885  -1560.8674  141.1445  0.7500  PL
    END-POINT  112.9205  -1560.8674  139.9850  1.5000  PL
    BRANCH1-POINT  111.5310  -1560.8674  141.1445  1.0000  PL
    SKEY CTFL
    ITEM-CODE  117
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  112.9205  -1560.8674  139.9850  0.7500  PL
    END-POINT  112.9205  -1560.8674  139.9850  0.7500  PL
    SKEY COCP
    ITEM-CODE  120
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  112.9205  -1560.8674  139.9850  0.7500  PL
    END-POINT  112.9205  -1560.8674  136.9850  0.7500  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  112.9205  -1560.8674  136.9850  0.7500  PL
    END-POINT  112.9205  -1560.8674  136.9850  0.7500  PL
    SKEY COCP
    ITEM-CODE  122
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  112.9205  -1560.8674  136.9850  0.7500  PL
    END-POINT  112.9205  -1560.1079  136.2255  0.7500  PL
    CENTRE-POINT  112.9205  -1560.8674  136.2255
    SKEY ELPL
    ITEM-CODE  121
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  112.9205  -1560.1079  136.2255  0.7500  PL
    END-POINT  112.9205  -1560.1079  136.2255  0.7500  PL
    SKEY COCP
    ITEM-CODE  125
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  112.9205  -1560.1079  136.2255  0.7500  PL
    END-POINT  112.9205  -1549.6079  136.2255  0.7500  PL
    ITEM-CODE  124
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  112.9205  -1549.6079  136.2255  0.7500  PL
    END-POINT  112.9205  -1549.6079  136.2255  0.7500  PL
    SKEY COCP
    ITEM-CODE  125
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  112.9205  -1549.6079  136.2255  0.7500  PL
    END-POINT  113.6800  -1548.8484  136.2255  0.7500  PL
    CENTRE-POINT  112.9205  -1548.8484  136.2255
    SKEY ELPL
    ITEM-CODE  124
    ITEM-DESCRIPTION  M2916 ProPress 90 PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  113.6800  -1548.8484  136.2255  0.7500  PL
    END-POINT  113.6800  -1548.8484  136.2255  0.7500  PL
    SKEY COCP
    ITEM-CODE  128
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  113.6800  -1548.8484  136.2255  0.7500  PL
    END-POINT  133.6800  -1548.8484  136.2255  0.7500  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  111.5310  -1560.8674  141.1445  1.0000  PL
    END-POINT  111.5310  -1560.8674  141.1445  1.0000  PL
    SKEY COCP
    ITEM-CODE  120
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  111.5310  -1560.8674  141.1445  1.0000  PL
    END-POINT  110.1115  -1560.8674  141.1445  0.7500  PL
    SKEY RCPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  M2915-1 ProPress Reducer FTGxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2051]
COUPLING
    END-POINT  110.1115  -1560.8674  141.1445  0.7500  PL
    END-POINT  110.1115  -1560.8674  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  123
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  110.1115  -1560.8674  141.1445  0.7500  PL
    END-POINT  -129.8885  -1560.8674  141.1445  0.7500  PL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -129.8885  -1560.8674  141.1445  0.7500  PL
    END-POINT  -130.0875  -1560.8674  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  127
    ITEM-DESCRIPTION  M2915 ProPress Stop Coupling PxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  -130.0875  -1560.8674  141.1445  0.7500  PL
    END-POINT  -130.0875  -1560.8674  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  128
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  -129.8885  -1560.8674  141.1445  0.7500  PL
    END-POINT  -129.8885  -1560.8674  141.1445  0.7500  PL
    SKEY COCP
    ITEM-CODE  126
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  162.9315  -1560.8674  141.1445  1.5000  PL
    END-POINT  162.9315  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  126
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  154.9315  -1552.8674  141.1445  1.5000  PL
    END-POINT  154.9315  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  131
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE SCJ_MP_PAB_01-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  25/05/2017
COUPLING
    END-POINT  112.2725  -1560.8674  141.1445  1.5000  PL
    END-POINT  112.2725  -1560.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  121
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE SCJ_MP_PAB_01-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  25/05/2017
COUPLING
    END-POINT  104.2725  -1552.8674  141.1445  1.5000  PL
    END-POINT  104.2725  -1552.8674  141.1445  1.5000  PL
    SKEY COCP
    ITEM-CODE  126
    ITEM-DESCRIPTION  Shop Press Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  SCJ_MP_PAB_01-4
    ITEM-ATTRIBUTE0 CID=[2522]