ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE EXPORT_PCF-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
VALVE
    END-POINT  7996.8500  6038.2450  2526.6524  12.0000  PL
    END-POINT  7993.8500  6038.2450  2526.6524  12.0000  PL
    CENTRE-POINT  7995.3500  6038.2450  2526.6524
    SKEY VVPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  31H Lug BFV GearOp
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  7993.8500  6038.2450  2526.6524  12.0000  PL
    END-POINT  7993.8490  6038.2450  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  32
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  7993.8490  6038.2450  2526.6524  12.0000  PL
    END-POINT  7989.3490  6038.2450  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  31
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange 150# (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  7989.3490  6038.2450  2526.6524  12.0000  PL
    END-POINT  7989.2240  6038.2450  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  30
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  7989.2240  6038.2450  2526.6524  12.0000  PL
    END-POINT  7971.2240  6056.2450  2526.6524  12.0000  PL
    CENTRE-POINT  7971.2240  6038.2450  2526.6524
    SKEY ELPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Long Radius 90 (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  7971.2240  6056.2450  2526.6524  12.0000  PL
    END-POINT  7971.2240  6056.3700  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  28
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7971.2240  6056.3700  2526.6524  12.0000  PL
    END-POINT  7971.2240  6079.8700  2526.6524  12.0000  PL
    ITEM-CODE  24
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7971.2240  6079.8700  2526.6524  12.0000  PL
    END-POINT  7971.2240  6079.9950  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  25
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  7971.2240  6079.9950  2526.6524  12.0000  PL
    END-POINT  7971.2240  6097.9950  2544.6524  12.0000  PL
    CENTRE-POINT  7971.2240  6097.9950  2526.6524
    SKEY ELPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Long Radius 90 (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  7971.2240  6097.9950  2544.6524  12.0000  PL
    END-POINT  7971.2240  6097.9950  2544.7774  12.0000  PL
    SKEY COCP
    ITEM-CODE  22
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7971.2240  6097.9950  2544.7774  12.0000  PL
    END-POINT  7971.2240  6097.9950  3024.7774  12.0000  PL
    ITEM-CODE  19
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7971.2240  6097.9950  3024.7774  12.0000  PL
    END-POINT  7971.2240  6097.9950  3024.9024  12.0000  PL
    SKEY COCP
    ITEM-CODE  22
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7971.2240  6097.9950  3024.9024  12.0000  PL
    END-POINT  7971.2240  6097.9950  3504.9024  12.0000  PL
    ITEM-CODE  21
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7971.2240  6097.9950  3504.9024  12.0000  PL
    END-POINT  7971.2240  6097.9950  3505.0274  12.0000  PL
    SKEY COCP
    ITEM-CODE  24
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7971.2240  6097.9950  3505.0274  12.0000  PL
    END-POINT  7971.2240  6097.9950  3985.0274  12.0000  PL
    ITEM-CODE  23
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7971.2240  6097.9950  3985.0274  12.0000  PL
    END-POINT  7971.2240  6097.9950  3985.1524  12.0000  PL
    SKEY COCP
    ITEM-CODE  26
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7971.2240  6097.9950  3985.1524  12.0000  PL
    END-POINT  7971.2240  6097.9950  4237.1524  12.0000  PL
    ITEM-CODE  25
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7971.2240  6097.9950  4237.1524  12.0000  PL
    END-POINT  7971.2240  6097.9950  4237.2774  12.0000  PL
    SKEY COCP
    ITEM-CODE  27
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7971.2240  6097.9950  4237.2774  12.0000  PL
    END-POINT  7971.2240  6097.9950  4357.8750  12.0000  PL
    ITEM-CODE  26
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7971.2240  6097.9950  4357.8750  12.0000  PL
    END-POINT  7971.2240  6097.9950  4358.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  22
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  7971.2240  6097.9950  4358.0000  12.0000  PL
    END-POINT  7971.2240  6079.9950  4376.0000  12.0000  PL
    CENTRE-POINT  7971.2240  6097.9950  4376.0000
    SKEY ELPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Long Radius 90 (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  7971.2240  6079.9950  4376.0000  12.0000  PL
    END-POINT  7971.2240  6079.8700  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  24
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  7971.2240  6079.8700  4376.0000  12.0000  PL
    END-POINT  7953.2240  6061.8700  4376.0000  12.0000  PL
    CENTRE-POINT  7971.2240  6061.8700  4376.0000
    SKEY ELPL
    ITEM-CODE  23
    ITEM-DESCRIPTION  Long Radius 90 (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  7953.2240  6061.8700  4376.0000  12.0000  PL
    END-POINT  7953.0990  6061.8700  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  26
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  7953.0990  6061.8700  4376.0000  12.0000  PL
    END-POINT  7948.5990  6061.8700  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  27
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange 150# (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  7948.5990  6061.8700  4376.0000  12.0000  PL
    END-POINT  7948.5980  6061.8700  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  28
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  7948.5980  6061.8700  4376.0000  12.0000  PL
    END-POINT  7945.5980  6061.8700  4376.0000  12.0000  PL
    CENTRE-POINT  7947.0980  6061.8700  4376.0000
    SKEY VVPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  31H Lug BFV GearOp
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-1
    ITEM-ATTRIBUTE0 CID=[868]
PIPELINE-REFERENCE EXPORT_PCF-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
VALVE
    END-POINT  8016.8500  6056.2450  2526.6524  12.0000  PL
    END-POINT  8013.8500  6056.2450  2526.6524  12.0000  PL
    CENTRE-POINT  8015.3500  6056.2450  2526.6524
    SKEY VVPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  31H Lug BFV GearOp
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  8013.8500  6056.2450  2526.6524  12.0000  PL
    END-POINT  8013.8490  6056.2450  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  32
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  8013.8490  6056.2450  2526.6524  12.0000  PL
    END-POINT  8009.3490  6056.2450  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  31
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange 150# (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  8009.3490  6056.2450  2526.6524  12.0000  PL
    END-POINT  8009.2240  6056.2450  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  37
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  8009.2240  6056.2450  2526.6524  12.0000  PL
    END-POINT  7991.2240  6074.2450  2526.6524  12.0000  PL
    CENTRE-POINT  7991.2240  6056.2450  2526.6524
    SKEY ELPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Long Radius 90 (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  7991.2240  6074.2450  2526.6524  12.0000  PL
    END-POINT  7991.2240  6074.3700  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  28
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7991.2240  6074.3700  2526.6524  12.0000  PL
    END-POINT  7991.2240  6079.8700  2526.6524  12.0000  PL
    ITEM-CODE  23
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7991.2240  6079.8700  2526.6524  12.0000  PL
    END-POINT  7991.2240  6079.9950  2526.6524  12.0000  PL
    SKEY COCP
    ITEM-CODE  24
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  7991.2240  6079.9950  2526.6524  12.0000  PL
    END-POINT  7991.2240  6097.9950  2544.6524  12.0000  PL
    CENTRE-POINT  7991.2240  6097.9950  2526.6524
    SKEY ELPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Long Radius 90 (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  7991.2240  6097.9950  2544.6524  12.0000  PL
    END-POINT  7991.2240  6097.9950  2544.7774  12.0000  PL
    SKEY COCP
    ITEM-CODE  22
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7991.2240  6097.9950  2544.7774  12.0000  PL
    END-POINT  7991.2240  6097.9950  3024.7774  12.0000  PL
    ITEM-CODE  19
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7991.2240  6097.9950  3024.7774  12.0000  PL
    END-POINT  7991.2240  6097.9950  3024.9024  12.0000  PL
    SKEY COCP
    ITEM-CODE  22
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7991.2240  6097.9950  3024.9024  12.0000  PL
    END-POINT  7991.2240  6097.9950  3504.9024  12.0000  PL
    ITEM-CODE  21
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7991.2240  6097.9950  3504.9024  12.0000  PL
    END-POINT  7991.2240  6097.9950  3505.0274  12.0000  PL
    SKEY COCP
    ITEM-CODE  24
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7991.2240  6097.9950  3505.0274  12.0000  PL
    END-POINT  7991.2240  6097.9950  3985.0274  12.0000  PL
    ITEM-CODE  23
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7991.2240  6097.9950  3985.0274  12.0000  PL
    END-POINT  7991.2240  6097.9950  3985.1524  12.0000  PL
    SKEY COCP
    ITEM-CODE  26
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7991.2240  6097.9950  3985.1524  12.0000  PL
    END-POINT  7991.2240  6097.9950  4237.1524  12.0000  PL
    ITEM-CODE  25
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7991.2240  6097.9950  4237.1524  12.0000  PL
    END-POINT  7991.2240  6097.9950  4237.2774  12.0000  PL
    SKEY COCP
    ITEM-CODE  27
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7991.2240  6097.9950  4237.2774  12.0000  PL
    END-POINT  7991.2240  6097.9950  4357.8750  12.0000  PL
    ITEM-CODE  26
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7991.2240  6097.9950  4357.8750  12.0000  PL
    END-POINT  7991.2240  6097.9950  4358.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  22
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  7991.2240  6097.9950  4358.0000  12.0000  PL
    END-POINT  7991.2240  6079.9950  4376.0000  12.0000  PL
    CENTRE-POINT  7991.2240  6097.9950  4376.0000
    SKEY ELPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Long Radius 90 (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  7991.2240  6079.9950  4376.0000  12.0000  PL
    END-POINT  7991.2240  6079.8700  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  25
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  7991.2240  6079.8700  4376.0000  12.0000  PL
    END-POINT  7991.2240  6057.2450  4376.0000  12.0000  PL
    ITEM-CODE  24
    ITEM-DESCRIPTION  A106 Seamless XH Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7991.2240  6057.2450  4376.0000  12.0000  PL
    END-POINT  7991.2240  6057.1200  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  27
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  7991.2240  6057.1200  4376.0000  12.0000  PL
    END-POINT  7973.2240  6039.1200  4376.0000  12.0000  PL
    CENTRE-POINT  7991.2240  6039.1200  4376.0000
    SKEY ELPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  Long Radius 90 (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  7973.2240  6039.1200  4376.0000  12.0000  PL
    END-POINT  7973.0990  6039.1200  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  29
    ITEM-DESCRIPTION  Butt Weld CS Std Wt
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  7973.0990  6039.1200  4376.0000  12.0000  PL
    END-POINT  7968.5990  6039.1200  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  30
    ITEM-DESCRIPTION  Raised Face Weld Neck Flange 150# (XH)
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  7968.5990  6039.1200  4376.0000  12.0000  PL
    END-POINT  7968.5980  6039.1200  4376.0000  12.0000  PL
    SKEY COCP
    ITEM-CODE  31
    ITEM-DESCRIPTION  150# Cap Screw Set
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  7968.5980  6039.1200  4376.0000  12.0000  PL
    END-POINT  7965.5980  6039.1200  4376.0000  12.0000  PL
    CENTRE-POINT  7967.0980  6039.1200  4376.0000
    SKEY VVPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  31H Lug BFV GearOp
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-2
    ITEM-ATTRIBUTE0 CID=[868]
PIPELINE-REFERENCE EXPORT_PCF-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  7999.0967  6077.1200  2553.0000  0.0000  PL
    END-POINT  7999.0967  6077.1200  2553.0313  0.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  SFH-Springs
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-3
    ITEM-ATTRIBUTE0 CID=[1049]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  7983.2865  6077.1200  2553.0000  0.0000  PL
    END-POINT  7983.2865  6077.1200  2553.0313  0.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  SFH-Springs
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-4
    ITEM-ATTRIBUTE0 CID=[1049]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  7979.0967  6068.1200  2553.0000  0.0000  PL
    END-POINT  7979.0967  6068.1200  2553.0313  0.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  SFH-Springs
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-5
    ITEM-ATTRIBUTE0 CID=[1049]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  7963.2865  6068.1200  2553.0000  0.0000  PL
    END-POINT  7963.2865  6068.1200  2553.0313  0.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  SFH-Springs
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-6
    ITEM-ATTRIBUTE0 CID=[1049]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  7991.2240  6077.1200  2526.6524  12.0000  PL
    END-POINT  7983.2865  6077.1200  2561.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  3-4 Double Rod Roll
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-7
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  7971.2240  6068.1200  2526.6524  12.0000  PL
    END-POINT  7963.2865  6068.1200  2561.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  3-4 Double Rod Roll
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-8
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  7991.2240  6082.8700  2528.1524  18.0000  PL
    END-POINT  7991.2240  6087.8700  2528.1524  18.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Wall Sleeve - 5in - #40 BLK
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-9
    ITEM-ATTRIBUTE0 CID=[149]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6082.8700  2489.5185  4.0000  PL
    END-POINT  8006.2240  6087.8700  2489.5185  4.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Wall Sleeve - 5in - #40 BLK
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-10
    ITEM-ATTRIBUTE0 CID=[149]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6082.8700  2489.5185  4.0000  PL
    END-POINT  8014.2240  6087.8700  2489.5185  4.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Wall Sleeve - 5in - #40 BLK
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-11
    ITEM-ATTRIBUTE0 CID=[149]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  Piping Materials
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  7971.2240  6082.8700  2528.1524  18.0000  PL
    END-POINT  7971.2240  6087.8700  2528.1524  18.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Wall Sleeve - 5in - #40 BLK
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  EXPORT_PCF-12
    ITEM-ATTRIBUTE0 CID=[149]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
ELBOW
    END-POINT  8014.2240  6091.9950  2492.0810  2.0000  PL
    END-POINT  8014.2240  6089.4325  2489.5185  2.0000  PL
    CENTRE-POINT  8014.2240  6091.9950  2489.5185
    SKEY ELPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Elbow 90 Close Rough PxP M2916
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-13
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  8014.2240  6089.4325  2489.5185  2.0000  PL
    END-POINT  8014.2240  6067.8075  2489.5185  2.0000  PL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-13
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  8014.2240  6067.8075  2489.5185  2.0000  PL
    END-POINT  8011.6615  6065.2450  2489.5185  2.0000  PL
    CENTRE-POINT  8014.2240  6065.2450  2489.5185
    SKEY ELPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Elbow 90 Close Rough PxP M2916
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-13
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  8011.6615  6065.2450  2489.5185  2.0000  PL
    END-POINT  7988.1108  6065.2450  2489.5185  2.0000  PL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  7988.1108  6065.2450  2489.5185  2.0000  PL
    END-POINT  7986.4545  6065.2450  2489.5185  2.0000  PL
    SKEY COCP
    ITEM-CODE  31
    ITEM-DESCRIPTION  Adapter PxMPT M2911
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-13
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  7986.4545  6065.2450  2489.5185  2.0000  PL
    END-POINT  7983.7175  6065.2450  2489.5185  2.0000  PL
    CENTRE-POINT  7985.0860  6065.2450  2489.5185
    SKEY VVPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  T-255 Ball Valve
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-13
    ITEM-ATTRIBUTE0 CID=[868]
PIPELINE-REFERENCE EXPORT_PCF-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
ELBOW
    END-POINT  8006.2240  6091.9950  2492.0810  2.0000  PL
    END-POINT  8006.2240  6089.4325  2489.5185  2.0000  PL
    CENTRE-POINT  8006.2240  6091.9950  2489.5185
    SKEY ELPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Elbow 90 Close Rough PxP M2916
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-14
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  8006.2240  6089.4325  2489.5185  2.0000  PL
    END-POINT  8006.2240  6076.8075  2489.5185  2.0000  PL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-14
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  8006.2240  6076.8075  2489.5185  2.0000  PL
    END-POINT  8003.6615  6074.2450  2489.5185  2.0000  PL
    CENTRE-POINT  8006.2240  6074.2450  2489.5185
    SKEY ELPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Elbow 90 Close Rough PxP M2916
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-14
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  8003.6615  6074.2450  2489.5185  2.0000  PL
    END-POINT  8000.1108  6074.2450  2489.5185  2.0000  PL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  8000.1108  6074.2450  2489.5185  2.0000  PL
    END-POINT  7998.4545  6074.2450  2489.5185  2.0000  PL
    SKEY COCP
    ITEM-CODE  31
    ITEM-DESCRIPTION  Adapter PxMPT M2911
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-14
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  7998.4545  6074.2450  2489.5185  2.0000  PL
    END-POINT  7995.7175  6074.2450  2489.5185  2.0000  PL
    CENTRE-POINT  7997.0860  6074.2450  2489.5185
    SKEY VVPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  T-255 Ball Valve
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-14
    ITEM-ATTRIBUTE0 CID=[868]
PIPELINE-REFERENCE EXPORT_PCF-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
PIPE
    END-POINT  8014.2240  6091.9950  2491.5810  2.0000  PL
    END-POINT  8014.2240  6091.9950  2564.9367  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  2565.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  2692.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  2693.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  2820.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  2821.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  2948.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  2949.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  3076.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  3077.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  3204.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  3205.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  3332.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  3333.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  3460.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  3461.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  3588.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  3589.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  3728.0000  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  3728.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  3881.0000  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  3881.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  4102.0000  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  4102.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  4256.0000  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8014.2240  6091.9950  4256.0000  2.0000  PL
    END-POINT  8014.2240  6091.9950  4357.8750  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE EXPORT_PCF-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
PIPE
    END-POINT  8006.2240  6091.9950  2491.5810  2.0000  PL
    END-POINT  8006.2240  6091.9950  2564.9367  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  2565.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  2692.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  2693.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  2820.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  2821.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  2948.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  2949.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  3076.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  3077.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  3204.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  3205.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  3332.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  3333.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  3460.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  3461.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  3588.9378  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  3589.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  3728.0000  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  3728.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  3881.0000  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  3881.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  4102.0000  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  4102.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  4256.0000  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8006.2240  6091.9950  4256.0000  2.0000  PL
    END-POINT  8006.2240  6091.9950  4357.8750  2.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE EXPORT_PCF-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
PIPE
    END-POINT  8025.2240  6099.0575  2384.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  2564.9377  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  2565.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  2692.9378  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  2693.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  2820.9378  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  2821.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  2948.9378  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  2949.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  3076.9378  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  3077.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  3204.9378  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  3205.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  3332.9378  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  3333.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  3460.9378  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  3461.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  3588.9378  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  3589.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  3728.0000  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  3728.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  3881.0000  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  3881.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  4102.0000  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  4102.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  4256.0000  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  8025.2240  6099.0575  4256.0000  6.0000  PL
    END-POINT  8025.2240  6099.0575  4357.8750  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  A53 ERW Gr-B Sch 10 Blk Stl Pipe PE
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE EXPORT_PCF-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  4258.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  4258.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  4258.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  4258.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  4258.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  4258.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  4104.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  4104.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  4104.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  4104.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  4104.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  4104.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  3883.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  3883.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  3883.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  3883.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  3883.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  3883.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  3730.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  3730.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  3730.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  3730.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  3730.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  3730.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  3591.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  3591.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  3591.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  3591.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  3591.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  3591.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  3463.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  3463.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  3463.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  3463.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  3463.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  3463.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  3335.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  3335.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  3335.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  3335.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-37
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  3335.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  3335.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-38
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  3207.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  3207.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-39
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  3207.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  3207.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-40
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  3207.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  3207.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-41
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  3079.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  3079.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-42
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  3079.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  3079.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-43
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  3079.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  3079.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-44
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  2951.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  2951.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-45
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  2951.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  2951.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-46
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  2951.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  2951.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-47
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  2823.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  2823.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-48
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  2823.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  2823.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-49
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  2823.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  2823.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-50
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  2695.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  2695.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-51
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  2695.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  2695.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-52
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  2695.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  2695.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-53
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8025.2240  6099.0575  2567.4377  6.0000  PL
    END-POINT  8028.8678  6099.0575  2567.4377  36.0000  PL
    SKEY NCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Fig 550 Riser Clamp Plain Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-54
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8014.2240  6091.9950  2567.1878  2.0000  PL
    END-POINT  8064.4665  6091.9950  2567.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-55
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE EXPORT_PCF-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [353700 - The Point]Level 18
    PIPING-SPEC  BuildingData
    DATE-DMY  05/08/2016
MISC_COMPONENT
    END-POINT  8006.2240  6091.9950  2567.1878  2.0000  PL
    END-POINT  8056.4665  6091.9950  2567.1878  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Fig 552 Riser Clamp CU Finish
    FABRICATION-ITEM
    PIPING-SPEC  BuildingData
    SPOOL-IDENTIFIER  EXPORT_PCF-56
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!