{embed="admin/head"}
<body>
{embed="admin/header"}
<div class="container">
	<div class="container-content">
    <div class="page-header">
        <div class="crumbs">
        </div>
        <h1 class="page-title">Login &gt; Forgot Password</h1>
    </div>
    <div class="page-content">
    {exp:freemember:forgot_password return="/admin/login/sent/" reset="/admin/reset-password/"}
    <p>Please enter your email address and an email will be sent containing instructions on resetting your password.</p><br>
<br>

            	<div class="form-row">
                	<label class="field-label field-row-header" for="field-username">Email Address:</label>
                    <div class="form-fields">
                    	<input type="text" class="field-text field-email" name="email" id="field-username" placeholder="Please enter your email address" value="" />
                    </div>
                </div>
            	<div class="form-row">
                <input type="submit" name="submit" value="Submit" class="field-submit" /> &nbsp; <a href="/admin/login/">Cancel, Go Back to Login</a>
                </div>
    </div>
{/exp:freemember:forgot_password}
</div>
</div>
{embed="admin/pages-bottom"}
</html>
