{embed="admin/head"}
<body>
{embed="admin/header"}
<div class="container">
	<div class="container-content">
    <div class="page-header">
        <div class="crumbs">
        </div>
        <h1 class="page-title">Login &gt; Reset Password</h1>
    </div>
    <div class="page-content">
    {exp:freemember:reset_password return="/admin/login/updated/"}
    <p>Please enter a new password below to set a new password. After submitting, you will be redirect to the login page.</p><br>
<br>

            	<div class="form-row">
                	<label class="field-label field-row-header" for="field-password">New Password:</label>
                    <div class="form-fields">
                    	<input type="password" class="field-text field-password" name="password" id="field-password" value="" />
                    </div>
                </div>
            	<div class="form-row">
                	<label class="field-label field-row-header" for="field-password">Re-type New Password:</label>
                    <div class="form-fields">
                    	<input type="password" class="field-text field-password" name="password_confirm" id="field-password-confirm" value="" />
                    </div>
                </div>
            	<div class="form-row">
                <input type="submit" name="submit" value="Submit" class="field-submit" /> &nbsp; <a href="/admin/login/">Cancel, Go Back to Login</a>
                </div>
    </div>
{/exp:freemember:reset_password}
</div>
</div>
{embed="admin/pages-bottom"}
</html>
