ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-02S-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
PIPE
    END-POINT  -1922.0426  -5155.1682  156.4610  20.0000  PL
    END-POINT  -1910.0426  -5155.1682  156.4610  20.0000  PL
    ITEM-CODE  34
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1910.0426  -5155.1682  156.4610  20.0000  PL
    END-POINT  -1909.9489  -5155.1682  156.4610  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1909.9489  -5155.1682  156.4610  20.0000  PL
    END-POINT  -1888.6100  -5155.1682  147.6221  20.0000  PL
    CENTRE-POINT  -1897.4489  -5155.1682  156.4610
    SKEY ELPL
    ITEM-CODE  4632
    ITEM-DESCRIPTION  CS 45 Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1888.6100  -5155.1682  147.6221  20.0000  PL
    END-POINT  -1888.5437  -5155.1682  147.5558  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
PIPE
    END-POINT  -1877.9371  -5016.1986  136.9492  20.0000  PL
    END-POINT  -1877.9371  -5140.0744  136.9492  20.0000  PL
    ITEM-CODE  4631
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1877.9371  -5140.0744  136.9492  20.0000  PL
    END-POINT  -1877.9371  -5140.1682  136.9492  20.0000  PL
    SKEY COCP
    ITEM-CODE  4631
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  -1877.9371  -5140.1682  136.9492  20.0000  PL
    END-POINT  -1877.9371  -5170.1682  136.9492  20.0000  PL
    CENTRE-POINT  -1877.9371  -5155.1682  136.9492
    BRANCH1-POINT  -1888.5437  -5155.1682  147.5558  20.0000  PL
    SKEY TEPL
    ITEM-CODE  4630
    ITEM-DESCRIPTION  CS Straight Tee STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  -1877.9371  -5170.1682  136.9492  20.0000  PL
    END-POINT  -1877.9371  -5170.2619  136.9492  20.0000  PL
    SKEY COCP
    ITEM-CODE  4636
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-ECCENTRIC
    END-POINT  -1877.9371  -5170.2619  136.9492  20.0000  PL
    END-POINT  -1877.9371  -5190.2619  133.9492  14.0000  PL
    SKEY REPL
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Eccentric Reducer STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2071]
COUPLING
    END-POINT  -1877.9371  -5190.2619  133.9492  14.0000  PL
    END-POINT  -1877.9371  -5190.3557  133.9492  14.0000  PL
    SKEY COCP
    ITEM-CODE  4636
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1877.9371  -5190.3557  133.9492  14.0000  PL
    END-POINT  -1877.9371  -5249.8557  133.9492  14.0000  PL
    ITEM-CODE  4635
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
PIPE
    END-POINT  -1898.4515  -5193.1682  156.4610  20.0000  PL
    END-POINT  -1886.4515  -5193.1682  156.4610  20.0000  PL
    ITEM-CODE  41
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1886.4515  -5193.1682  156.4610  20.0000  PL
    END-POINT  -1886.3577  -5193.1682  156.4610  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-3
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1886.3577  -5193.1682  156.4610  20.0000  PL
    END-POINT  -1865.0189  -5193.1682  147.6221  20.0000  PL
    CENTRE-POINT  -1873.8577  -5193.1682  156.4610
    SKEY ELPL
    ITEM-CODE  4632
    ITEM-DESCRIPTION  CS 45 Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-3
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1865.0189  -5193.1682  147.6221  20.0000  PL
    END-POINT  -1864.9526  -5193.1682  147.5558  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
PIPE
    END-POINT  -1854.3460  -5016.1986  136.9492  20.0000  PL
    END-POINT  -1854.3460  -5178.0744  136.9492  20.0000  PL
    ITEM-CODE  4632
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1854.3460  -5178.0744  136.9492  20.0000  PL
    END-POINT  -1854.3460  -5178.1682  136.9492  20.0000  PL
    SKEY COCP
    ITEM-CODE  4631
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  -1854.3460  -5178.1682  136.9492  20.0000  PL
    END-POINT  -1854.3460  -5208.1682  136.9492  20.0000  PL
    CENTRE-POINT  -1854.3460  -5193.1682  136.9492
    BRANCH1-POINT  -1864.9526  -5193.1682  147.5558  20.0000  PL
    SKEY TEPL
    ITEM-CODE  4630
    ITEM-DESCRIPTION  CS Straight Tee STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  -1854.3460  -5208.1682  136.9492  20.0000  PL
    END-POINT  -1854.3460  -5208.2619  136.9492  20.0000  PL
    SKEY COCP
    ITEM-CODE  4636
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-ECCENTRIC
    END-POINT  -1854.3460  -5208.2619  136.9492  20.0000  PL
    END-POINT  -1854.3460  -5228.2619  133.9492  14.0000  PL
    SKEY REPL
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Eccentric Reducer STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[2071]
PIPE
    END-POINT  -1854.3460  -5228.3557  133.9492  14.0000  PL
    END-POINT  -1854.3460  -5249.8557  133.9492  14.0000  PL
    ITEM-CODE  4635
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
COUPLING
    END-POINT  -1854.3460  -5228.3557  134.8867  14.0000  PL
    END-POINT  -1854.3460  -5228.2619  134.8867  14.0000  PL
    SKEY COCP
    ITEM-CODE  4636
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
COUPLING
    END-POINT  -1854.3460  -5250.1057  133.9492  14.0000  PL
    END-POINT  -1854.3460  -5250.1057  133.9492  14.0000  PL
    SKEY COCP
    ITEM-CODE  4639
    ITEM-DESCRIPTION  Field Vic Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1854.3460  -5250.1057  133.9492  14.0000  PL
    END-POINT  -1854.3460  -5502.1057  133.9492  14.0000  PL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
PIPE
    END-POINT  -2098.1053  -5193.1744  156.4610  20.0000  PL
    END-POINT  -1898.7015  -5193.1685  156.4610  20.0000  PL
    ITEM-CODE  40
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1898.7015  -5193.1682  156.4610  20.0000  PL
    END-POINT  -1898.7015  -5193.1682  156.4610  20.0000  PL
    SKEY COCP
    ITEM-CODE  45
    ITEM-DESCRIPTION  Field Vic Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
COUPLING
    END-POINT  -1922.2926  -5155.1682  156.4610  20.0000  PL
    END-POINT  -1922.2926  -5155.1682  156.4610  20.0000  PL
    SKEY COCP
    ITEM-CODE  38
    ITEM-DESCRIPTION  Field Vic Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1922.2926  -5155.1686  156.4610  20.0000  PL
    END-POINT  -2098.1064  -5155.1740  156.4610  20.0000  PL
    ITEM-CODE  33
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/01/2017
MISC_COMPONENT
    END-POINT  -2001.4423  -5155.1682  156.4492  24.0000  PL
    END-POINT  -2001.4423  -5155.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4638
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -2001.4423  -5155.1682  181.7501  1.0000  PL
    END-POINT  -2001.4423  -5155.1682  181.7501  1.0000  PL
    CENTRE-POINT  -2001.4423  -5155.1682  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-9
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/01/2017
MISC_COMPONENT
    END-POINT  -2001.7194  -5193.1682  156.4492  24.0000  PL
    END-POINT  -2001.7194  -5193.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4604
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -2001.7194  -5193.1682  181.7501  1.0000  PL
    END-POINT  -2001.7194  -5193.1682  181.7501  1.0000  PL
    CENTRE-POINT  -2001.7194  -5193.1682  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4605
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
COUPLING
    END-POINT  -1877.9371  -5250.1057  133.9492  14.0000  PL
    END-POINT  -1877.9371  -5250.1057  133.9492  14.0000  PL
    SKEY COCP
    ITEM-CODE  4639
    ITEM-DESCRIPTION  Field Vic Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1877.9371  -5250.1057  133.9492  14.0000  PL
    END-POINT  -1877.9371  -5502.1057  133.9492  14.0000  PL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
PIPE
    END-POINT  -1922.9996  -5013.0111  135.6787  10.0000  PL
    END-POINT  -1922.9996  -5115.4328  135.6787  10.0000  PL
    ITEM-CODE  153
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1922.9996  -5115.4328  135.6787  10.0000  PL
    END-POINT  -1922.9996  -5115.5266  135.6787  10.0000  PL
    SKEY COCP
    ITEM-CODE  130
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  -1922.9996  -5115.5266  135.6787  10.0000  PL
    END-POINT  -1922.9996  -5132.5266  135.6787  10.0000  PL
    CENTRE-POINT  -1922.9996  -5124.0266  135.6787
    BRANCH1-POINT  -1929.0100  -5124.0266  141.6891  10.0000  PL
    SKEY TEPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  CS Straight Tee STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  -1929.0100  -5124.0266  141.6891  10.0000  PL
    END-POINT  -1929.0763  -5124.0266  141.7554  10.0000  PL
    SKEY COCP
    ITEM-CODE  2579
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1929.0763  -5124.0266  141.7554  10.0000  PL
    END-POINT  -1935.1477  -5124.0266  147.8268  10.0000  PL
    ITEM-CODE  2580
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1935.2140  -5124.0266  147.8931  10.0000  PL
    END-POINT  -1945.8835  -5124.0266  152.3125  10.0000  PL
    CENTRE-POINT  -1939.6335  -5124.0266  152.3125
    SKEY ELPL
    ITEM-CODE  2577
    ITEM-DESCRIPTION  CS 45 Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1945.8835  -5124.0266  152.3125  10.0000  PL
    END-POINT  -1945.9772  -5124.0266  152.3125  10.0000  PL
    SKEY COCP
    ITEM-CODE  2577
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1945.9772  -5124.0266  152.3125  10.0000  PL
    END-POINT  -1957.9772  -5124.0266  152.3125  10.0000  PL
    ITEM-CODE  27
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -1958.1022  -5124.0266  152.3125  10.0000  PL
    END-POINT  -2103.1287  -5124.0266  152.3125  10.0000  PL
    ITEM-CODE  26
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
COUPLING
    END-POINT  -1958.1022  -5124.0266  152.3125  10.0000  PL
    END-POINT  -1958.1022  -5124.0266  152.3125  10.0000  PL
    SKEY COCP
    ITEM-CODE  31
    ITEM-DESCRIPTION  Field Vic Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/01/2017
MISC_COMPONENT
    END-POINT  -2001.4423  -5124.0266  152.3125  10.0000  PL
    END-POINT  -2001.4423  -5124.0266  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4623
    ITEM-DESCRIPTION  HR78 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -2001.4423  -5124.0266  181.7501  1.0000  PL
    END-POINT  -2001.4423  -5124.0266  181.7501  1.0000  PL
    CENTRE-POINT  -2001.4423  -5124.0266  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4624
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
PIPE
    END-POINT  -1938.9996  -5014.2845  135.6787  10.0000  PL
    END-POINT  -1938.9996  -5079.4328  135.6787  10.0000  PL
    ITEM-CODE  152
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1938.9996  -5079.4328  135.6787  10.0000  PL
    END-POINT  -1938.9996  -5079.5266  135.6787  10.0000  PL
    SKEY COCP
    ITEM-CODE  130
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  -1938.9996  -5079.5266  135.6787  10.0000  PL
    END-POINT  -1938.9996  -5096.5266  135.6787  10.0000  PL
    CENTRE-POINT  -1938.9996  -5088.0266  135.6787
    BRANCH1-POINT  -1945.0100  -5088.0266  141.6891  10.0000  PL
    SKEY TEPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  CS Straight Tee STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  -1938.9996  -5096.5266  135.6787  10.0000  PL
    END-POINT  -1938.9996  -5096.6203  135.6787  10.0000  PL
    SKEY COCP
    ITEM-CODE  141
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-ECCENTRIC
    END-POINT  -1938.9996  -5096.6203  135.6787  10.0000  PL
    END-POINT  -1938.9996  -5103.6203  134.6162  8.0000  PL
    SKEY REPL
    ITEM-CODE  139
    ITEM-DESCRIPTION  CS Eccentric Reducer STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2071]
COUPLING
    END-POINT  -1938.9996  -5103.6203  134.6162  8.0000  PL
    END-POINT  -1938.9996  -5103.7141  134.6162  8.0000  PL
    SKEY COCP
    ITEM-CODE  137
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1938.9996  -5103.7141  134.6162  8.0000  PL
    END-POINT  -1938.9996  -5115.7141  134.6162  8.0000  PL
    ITEM-CODE  136
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
PIPE
    END-POINT  -2103.1287  -5088.0266  152.3125  10.0000  PL
    END-POINT  -1974.1022  -5088.0266  152.3125  10.0000  PL
    ITEM-CODE  19
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -1973.9772  -5088.0266  152.3125  10.0000  PL
    END-POINT  -1961.9772  -5088.0266  152.3125  10.0000  PL
    ITEM-CODE  20
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1961.9772  -5088.0266  152.3125  10.0000  PL
    END-POINT  -1961.8835  -5088.0266  152.3125  10.0000  PL
    SKEY COCP
    ITEM-CODE  2577
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1961.8835  -5088.0266  152.3125  10.0000  PL
    END-POINT  -1951.2140  -5088.0266  147.8931  10.0000  PL
    CENTRE-POINT  -1955.6335  -5088.0266  152.3125
    SKEY ELPL
    ITEM-CODE  2577
    ITEM-DESCRIPTION  CS 45 Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1951.2140  -5088.0266  147.8931  10.0000  PL
    END-POINT  -1951.1477  -5088.0266  147.8268  10.0000  PL
    SKEY COCP
    ITEM-CODE  2578
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1951.1477  -5088.0266  147.8268  10.0000  PL
    END-POINT  -1945.0763  -5088.0266  141.7554  10.0000  PL
    ITEM-CODE  2580
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/01/2017
COUPLING
    END-POINT  -1974.1022  -5088.0266  152.3125  10.0000  PL
    END-POINT  -1974.1022  -5088.0266  152.3125  10.0000  PL
    SKEY COCP
    ITEM-CODE  24
    ITEM-DESCRIPTION  Field Vic Joint
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-17
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/01/2017
MISC_COMPONENT
    END-POINT  -2000.7317  -5088.0266  152.3125  10.0000  PL
    END-POINT  -2000.7317  -5088.0266  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  2579
    ITEM-DESCRIPTION  HR78 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -2000.7317  -5088.0266  181.7501  1.0000  PL
    END-POINT  -2000.7317  -5088.0266  181.7501  1.0000  PL
    CENTRE-POINT  -2000.7317  -5088.0266  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  2580
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-18
    ITEM-ATTRIBUTE0 CID=[928]