ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-02S-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  28/01/2017
PIPE
    END-POINT  -5930.3736  -6878.7850  182.9300  4.0000  PL
    END-POINT  -5930.3736  -7047.7163  182.9300  4.0000  PL
    ITEM-CODE  4456
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -5930.3736  -7047.7163  182.9537  4.0000  PL
    END-POINT  -5930.3736  -7047.8663  182.9537  4.0000  PL
    SKEY COCP
    ITEM-CODE  4463
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -5930.3736  -7047.8663  182.9300  4.0000  PL
    END-POINT  -5930.3736  -7052.8663  177.9300  4.0000  PL
    CENTRE-POINT  -5930.3736  -7052.8663  182.9300
    SKEY ELPL
    ITEM-CODE  4460
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5930.3736  -7052.8663  177.9300  4.0000  PL
    END-POINT  -5930.3736  -7052.8663  177.7800  4.0000  PL
    SKEY COCP
    ITEM-CODE  4461
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  -5930.3736  -7052.8663  177.7800  4.0000  PL
    END-POINT  -5930.3736  -7052.8663  173.1500  4.0000  PL
    CENTRE-POINT  -5930.3736  -7052.8663  175.4650
    SKEY VVPL
    ITEM-CODE  4458
    ITEM-DESCRIPTION  VIC 761 300MS BFV (LH)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  -5930.3736  -7052.8663  173.1500  4.0000  PL
    END-POINT  -5930.3736  -7052.8663  173.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  4459
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  -5930.3736  -7052.8663  173.0000  4.0000  PL
    END-POINT  -5936.8736  -7052.8663  166.5000  6.0000  PL
    BRANCH1-POINT  -5923.8736  -7052.8663  166.5000  6.0000  PL
    SKEY CTFL
    ITEM-CODE  4456
    ITEM-DESCRIPTION  VIC 25 Red Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  -5936.8736  -7052.8663  166.5000  6.0000  PL
    END-POINT  -5937.0236  -7052.8663  166.5000  6.0000  PL
    SKEY COCP
    ITEM-CODE  4458
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -5937.0236  -7052.8663  166.5000  6.0000  PL
    END-POINT  -5969.7859  -7052.8663  166.5000  6.0000  PL
    ITEM-CODE  4458
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -5969.7859  -7052.8663  166.5000  6.0000  PL
    END-POINT  -5969.9359  -7052.8663  166.5000  6.0000  PL
    SKEY COCP
    ITEM-CODE  5370
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  28/01/2017
PIPE
    END-POINT  -5976.4359  -7062.2216  151.6800  3.0000  PL
    END-POINT  -5976.4359  -7057.2663  151.6800  3.0000  PL
    ITEM-CODE  5505
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -5976.4359  -7057.2663  151.6800  3.0000  PL
    END-POINT  -5976.4359  -7057.1163  151.6800  3.0000  PL
    SKEY COCP
    ITEM-CODE  4468
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -5976.4359  -7057.1163  151.6800  3.0000  PL
    END-POINT  -5976.4359  -7052.8663  155.9300  3.0000  PL
    CENTRE-POINT  -5976.4359  -7052.8663  151.6800
    SKEY ELPL
    ITEM-CODE  4466
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5976.4359  -7052.8663  155.9300  3.0000  PL
    END-POINT  -5976.4359  -7052.8663  156.0800  3.0000  PL
    SKEY COCP
    ITEM-CODE  4467
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  -5976.4359  -7052.8663  156.0800  3.0000  PL
    END-POINT  -5976.4359  -7052.8663  159.8500  3.0000  PL
    CENTRE-POINT  -5976.4359  -7052.8663  157.9650
    SKEY VVPL
    ITEM-CODE  4464
    ITEM-DESCRIPTION  VIC 761 300MS BFV (LH)
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  -5976.4359  -7052.8663  159.8500  3.0000  PL
    END-POINT  -5976.4359  -7052.8663  160.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  4462
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  -5976.4359  -7052.8663  160.0000  3.0000  PL
    END-POINT  -5982.9359  -7052.8663  166.5000  6.0000  PL
    BRANCH1-POINT  -5969.9359  -7052.8663  166.5000  6.0000  PL
    SKEY CTFL
    ITEM-CODE  4459
    ITEM-DESCRIPTION  VIC 25 Red Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  -5982.9359  -7052.8663  166.5000  6.0000  PL
    END-POINT  -5983.0859  -7052.8663  166.5000  6.0000  PL
    SKEY COCP
    ITEM-CODE  4462
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -5983.0859  -7052.8663  166.5000  6.0000  PL
    END-POINT  -6001.9564  -7052.8663  166.5000  6.0000  PL
    ITEM-CODE  4469
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -6001.9564  -7052.8663  166.5000  6.0000  PL
    END-POINT  -6002.1064  -7052.8663  166.5000  6.0000  PL
    SKEY COCP
    ITEM-CODE  4465
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC-TEED
    END-POINT  -6002.1064  -7052.8663  166.5000  6.0000  PL
    END-POINT  -6008.6064  -7052.8663  160.0000  6.0000  PL
    BRANCH1-POINT  -6015.1064  -7052.8663  166.5000  6.0000  PL
    SKEY CTFL
    ITEM-CODE  4461
    ITEM-DESCRIPTION  VIC 20 Tee
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2966]
COUPLING
    END-POINT  -6008.6064  -7052.8663  160.0000  6.0000  PL
    END-POINT  -6008.6064  -7052.8663  159.8500  6.0000  PL
    SKEY COCP
    ITEM-CODE  4464
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -6008.6064  -7052.8663  159.8500  6.0000  PL
    END-POINT  -6002.6011  -7050.3789  153.3500  6.0000  PL
    CENTRE-POINT  -6008.6064  -7052.8663  153.3500
    SKEY ELPL
    ITEM-CODE  4463
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -6002.6011  -7050.3789  153.3500  6.0000  PL
    END-POINT  -6002.4626  -7050.3215  153.3500  6.0000  PL
    SKEY COCP
    ITEM-CODE  4465
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -6002.4621  -7050.3225  153.3331  6.0000  PL
    END-POINT  -5991.3039  -7045.7006  153.3331  6.0000  PL
    ITEM-CODE  4465
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -5923.8736  -7052.8663  166.5000  6.0000  PL
    END-POINT  -5923.7236  -7052.8663  166.5000  6.0000  PL
    SKEY COCP
    ITEM-CODE  4458
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -5923.7236  -7052.8663  166.5000  6.0000  PL
    END-POINT  -5726.7764  -7052.8663  166.5000  6.0000  PL
    ITEM-CODE  5389
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -5726.7764  -7052.8663  166.5000  6.0000  PL
    END-POINT  -5726.6264  -7052.8663  166.5000  6.0000  PL
    SKEY COCP
    ITEM-CODE  5392
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -5726.6264  -7052.8663  166.5000  6.0000  PL
    END-POINT  -5720.1264  -7046.3663  166.5000  6.0000  PL
    CENTRE-POINT  -5720.1264  -7052.8663  166.5000
    SKEY ELPL
    ITEM-CODE  5391
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5720.1264  -7046.3663  166.5000  6.0000  PL
    END-POINT  -5720.1264  -7046.2163  166.5000  6.0000  PL
    SKEY COCP
    ITEM-CODE  5395
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -5720.1264  -7046.2163  166.5000  6.0000  PL
    END-POINT  -5720.1264  -6794.2163  166.5000  6.0000  PL
    ITEM-CODE  5397
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -6015.1064  -7052.8663  166.5000  6.0000  PL
    END-POINT  -6015.2564  -7052.8663  166.5000  6.0000  PL
    SKEY COCP
    ITEM-CODE  4460
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-ECCENTRIC
    END-POINT  -6015.2564  -7052.8663  166.5000  6.0000  PL
    END-POINT  -6020.7564  -7052.8663  164.9375  3.0000  PL
    SKEY REPL
    ITEM-CODE  4462
    ITEM-DESCRIPTION  VIC 51 Eccentric Reducer
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2071]
COUPLING
    END-POINT  -6020.7564  -7052.8663  164.9375  3.0000  PL
    END-POINT  -6020.9064  -7052.8663  164.9375  3.0000  PL
    SKEY COCP
    ITEM-CODE  4464
    ITEM-DESCRIPTION  VIC 107N QuickVic Rigid Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -6020.9064  -7052.8663  164.9375  3.0000  PL
    END-POINT  -6272.9064  -7052.8663  164.9375  3.0000  PL
    ITEM-CODE  4466
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[2041]