{embed="includes/doctype"}
{embed="includes/head" title="Projects" description="Engineering and consulting services specializing in pipe support engineering/design and pipe flexibility analysis for major piping installations"}
<body>
<div id="container">
{embed="includes/header"}
    <div id="container-body">
        <div id="banner-featured-container">
        <div id="banner-featured-holder">
        	<div id="banner-featured">
           	  <div class="banner-featured-info">
            	<h1>Projects</h1>
                {!--<div class="page-subheading"><strong>Featured </strong></div>--}
                </div>
            </div>
          </div>
        </div>
        <div id="container-content">
        {!--
        <div id="side-col">
        &nbsp;
        </div>
        --}
      <div id="main">
       	<h2>Clients and Projects</h2>
       	<ul class="project-list">
       	  <li>AECOM Technology Corp <em>(Engineering &amp; Construction)</em></li>
       	  <li>Albany County Sewer <em>(Utility) </em></li>
       	  <li>American Pipe Supports, Inc <em>(Pipe Support Manufacturer)</em></li>
       	  <li>Anvil Int'l (formally Grinnell Corp.) <em>(Pipe Support Manufacturer)</em></li>
       	  <li>Babcock Borsig Power <em>(Engineering &amp; Construction)</em></li>
       	  <li>Bergen-Power Pipe Supports, Inc<em> (Pipe Support Manufacturer)</em></li>
       	  <li>Brown &amp; Caldwell <em>(Engineers &amp; Construction) </em></li>
       	  <li>Carpenter &amp; Paterson, Inc <em>(Pipe Support Manufacturer)</em></li>
       	  <li>CDM Smith, Inc. (Camp Dresser McKee) <em>(Engineering &amp; Construction)</em></li>
       	  <li>Crowder Construction Co. <em>(Construction Services) </em></li>
       	  <li>Encore Construction Co. <em>(Construction Services) </em></li>
       	  <li>Engineering Associates Services <em>(Consulting Engineers)</em></li>
       	  <li>General Electric Co. <em>(Design &amp; Manufacturing)</em></li>
       	  <li>Gulf States Hangers <em>(Pipe Support Manufacturer)</em></li>
       	  <li>Hamel &amp; McAlister, Inc <em>(Mechanical Contractor)</em></li>
       	  <li>Hesnor Engineering Associates PLLC <em>(Engineering &amp; Construction) </em></li>
       	  <li>HDR Engineering <em>(Engineering &amp; Construction)</em></li>
       	  <li>J.C. Cannistraro, LLC <em>(Mechanical Contractor)</em></li>
       	  <li>Lisega, USA, Inc <em>(Pipe Support Manufacturer)</em></li>
       	  <li>Newman Associates <em>(Pipe Support Supplier)</em></li>
       	  <li>PHS Industries <em>(Pipe Support Manufacturer)</em></li>
       	  <li>PC Construction, Inc <em>(Engineering &amp; Construction)</em></li>
       	  <li>PCL Constructors Inc. <em>(Construction Services) </em></li>
       	  <li>Premier Energy <em>(Engineering &amp; Construction) </em></li>
       	  <li>Poole &amp; Kent Corp. <em>(Mechanical Contractor)</em></li>
       	  <li>Spectrum Energy, Inc <em>(Engineering &amp; Construction)</em></li>
       	  <li>United HVAC, Inc <em>(Mechanical Contractor)</em></li>
       	</ul>
      </div>
        {embed="includes/sidebar"}
        </div>
    </div>
{embed="includes/footer"}
</div>
{embed="includes/pages-bottom"}
</body>
</html>
