ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4105.6158  -465.6422  448.1192  4.0000  PL
    END-POINT  4105.6158  -463.4538  448.1901  4.0000  PL
    ITEM-CODE  286
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4105.6158  -463.6746  448.2747  4.0000  PL
    END-POINT  4105.6158  -590.0143  447.0812  4.0000  PL
    ITEM-CODE  292
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3833.1642  724.3135  451.6137  4.0000  PL
    END-POINT  3776.3154  809.6091  449.1010  4.0000  PL
    ITEM-CODE  291
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3930.1189  578.8431  455.8814  4.0000  PL
    END-POINT  3837.7161  717.4838  451.8145  4.0000  PL
    ITEM-CODE  285
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3837.7161  717.4838  451.8145  4.0000  PL
    END-POINT  3837.5997  717.6585  451.8094  4.0000  PL
    SKEY COCP
    ITEM-CODE  290
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4105.6158  -175.8353  449.8230  4.0000  PL
    END-POINT  4105.6158  -415.8320  448.5508  4.0000  PL
    ITEM-CODE  287
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4105.6158  -415.8320  448.5508  4.0000  PL
    END-POINT  4105.6158  -416.0420  448.5497  4.0000  PL
    SKEY COCP
    ITEM-CODE  288
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4105.6158  -416.0420  448.5497  4.0000  PL
    END-POINT  4105.6158  -455.4560  448.3408  4.0000  PL
    ITEM-CODE  289
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4032.7953  332.0601  454.5652  4.0000  PL
    END-POINT  3967.0727  491.3347  457.0699  4.0000  PL
    ITEM-CODE  284
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3964.0215  498.7292  457.0752  4.0000  PL
    END-POINT  3933.8622  571.8184  456.0318  4.0000  PL
    ITEM-CODE  283
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3770.1868  816.8796  448.7057  4.0000  PL
    END-POINT  3607.1239  981.6849  433.5730  4.0000  PL
    ITEM-CODE  282
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3601.5570  987.4062  433.0520  4.0000  PL
    END-POINT  3590.1571  999.3201  431.9757  4.0000  PL
    ITEM-CODE  281
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3582.8123  1005.3285  431.3240  4.0000  PL
    END-POINT  3384.3560  1139.1387  413.7196  4.0000  PL
    ITEM-CODE  278
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3384.3560  1139.1387  413.7196  4.0000  PL
    END-POINT  3384.1824  1139.2558  413.7042  4.0000  PL
    SKEY COCP
    ITEM-CODE  279
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3384.1824  1139.2558  413.7042  4.0000  PL
    END-POINT  3372.7445  1146.9679  412.6896  4.0000  PL
    ITEM-CODE  280
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3365.7705  1150.7697  412.0999  4.0000  PL
    END-POINT  3150.1525  1243.1993  394.6804  4.0000  PL
    ITEM-CODE  277
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3142.5827  1245.5956  394.0965  4.0000  PL
    END-POINT  2908.3741  1295.0750  376.8306  4.0000  PL
    ITEM-CODE  274
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2908.3741  1295.0750  376.8306  4.0000  PL
    END-POINT  2908.1691  1295.1182  376.8155  4.0000  PL
    SKEY COCP
    ITEM-CODE  275
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2908.1691  1295.1182  376.8155  4.0000  PL
    END-POINT  2882.2208  1300.6001  374.9026  4.0000  PL
    ITEM-CODE  276
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2874.3253  1301.4858  374.3696  4.0000  PL
    END-POINT  2707.9884  1304.0286  364.1529  4.0000  PL
    ITEM-CODE  273
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2701.5486  1304.1272  279.2922  4.0000  PL
    END-POINT  2701.5806  1304.1267  241.7237  4.0000  PL
    ITEM-CODE  269
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2701.5806  1304.1267  241.7237  4.0000  PL
    END-POINT  2698.9529  1304.1267  239.0937  4.0000  PL
    CENTRE-POINT  2701.5829  1304.1267  239.0937
    SKEY ERPL
    ITEM-CODE  210
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2698.9529  1304.1267  239.0937  4.0000  PL
    END-POINT  2458.9529  1304.1267  239.0937  4.0000  PL
    ITEM-CODE  270
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2458.9529  1304.1267  239.0937  4.0000  PL
    END-POINT  2458.7429  1304.1267  239.0937  4.0000  PL
    SKEY COCP
    ITEM-CODE  271
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2458.7429  1304.1267  239.0937  4.0000  PL
    END-POINT  2453.7908  1304.1267  239.0937  4.0000  PL
    ITEM-CODE  272
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2453.7908  1304.1267  239.0937  4.0000  PL
    END-POINT  2451.1608  1301.4967  239.0937  4.0000  PL
    CENTRE-POINT  2451.1608  1304.1267  239.0937
    SKEY ERPL
    ITEM-CODE  205
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2451.1608  1301.4967  239.0937  4.0000  PL
    END-POINT  2451.1608  1061.4967  239.0937  4.0000  PL
    ITEM-CODE  257
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2451.1608  1061.4967  239.0937  4.0000  PL
    END-POINT  2451.1608  1061.2867  239.0937  4.0000  PL
    SKEY COCP
    ITEM-CODE  258
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2451.1608  1061.2867  239.0937  4.0000  PL
    END-POINT  2451.1608  821.2867  239.0937  4.0000  PL
    ITEM-CODE  259
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2451.1608  821.2867  239.0937  4.0000  PL
    END-POINT  2451.1608  821.0767  239.0937  4.0000  PL
    SKEY COCP
    ITEM-CODE  260
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2451.1608  821.0767  239.0937  4.0000  PL
    END-POINT  2451.1608  750.2308  239.0937  4.0000  PL
    ITEM-CODE  261
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2451.1608  750.2308  239.0937  4.0000  PL
    END-POINT  2451.1608  747.6008  241.7237  4.0000  PL
    CENTRE-POINT  2451.1608  747.6008  239.0937
    SKEY ERPL
    ITEM-CODE  206
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2451.1608  747.6008  241.7237  4.0000  PL
    END-POINT  2451.1608  747.6008  376.4950  4.0000  PL
    ITEM-CODE  265
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2451.1608  747.6008  376.4950  4.0000  PL
    END-POINT  2451.1608  744.9708  379.1250  4.0000  PL
    CENTRE-POINT  2451.1608  747.6008  379.1250
    SKEY ERPL
    ITEM-CODE  207
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2451.1608  744.9708  379.1250  4.0000  PL
    END-POINT  2451.1608  504.9708  379.1250  4.0000  PL
    ITEM-CODE  262
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2451.1608  504.9708  379.1250  4.0000  PL
    END-POINT  2451.1608  504.7608  379.1250  4.0000  PL
    SKEY COCP
    ITEM-CODE  263
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2451.1608  504.7608  379.1250  4.0000  PL
    END-POINT  2451.1608  457.8194  379.1250  4.0000  PL
    ITEM-CODE  264
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2451.1608  457.8194  379.1250  4.0000  PL
    END-POINT  2448.5308  455.1894  379.1250  4.0000  PL
    CENTRE-POINT  2451.1608  455.1894  379.1250
    SKEY ERPL
    ITEM-CODE  208
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2448.5308  455.1894  379.1250  4.0000  PL
    END-POINT  2423.4709  455.1894  379.1250  4.0000  PL
    ITEM-CODE  267
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2423.4709  455.1894  379.1250  4.0000  PL
    END-POINT  2423.2609  455.1894  379.1250  4.0000  PL
    SKEY COCP
    ITEM-CODE  266
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2423.2609  455.1894  379.1250  4.0000  PL
    END-POINT  2397.8298  455.1894  379.1250  4.0000  PL
    ITEM-CODE  209
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2701.6017  1304.1264  357.3644  4.0000  PL
    END-POINT  2701.5481  1304.1272  287.5022  4.0000  PL
    ITEM-CODE  251
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2701.5481  1304.1272  287.5022  4.0000  PL
    END-POINT  2701.5478  1304.1272  287.2922  4.0000  PL
    SKEY COCP
    ITEM-CODE  268
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4061.9336  184.1235  454.0085  4.0000  PL
    END-POINT  4035.0729  324.4343  454.4935  4.0000  PL
    ITEM-CODE  256
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4062.6751  139.0854  453.8860  4.0000  PL
    END-POINT  4062.6751  176.1949  453.9843  4.0000  PL
    ITEM-CODE  255
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4097.6503  -14.0570  452.1137  4.0000  PL
    END-POINT  4063.8938  129.6592  453.8240  4.0000  PL
    ITEM-CODE  254
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4106.4443  -175.9695  449.1250  4.0000  PL
    END-POINT  4104.8151  -25.3317  451.8841  4.0000  PL
    ITEM-CODE  252
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  4104.8151  -25.3317  451.8841  4.0000  PL
    END-POINT  4103.8865  -23.1570  451.9310  4.0000  PL
    CENTRE-POINT  4104.8013  -24.0520  451.9075
    SKEY ELPL
    ITEM-CODE  204
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  4103.8865  -23.1570  451.9310  4.0000  PL
    END-POINT  4101.4237  -20.7476  451.9941  4.0000  PL
    ITEM-CODE  253
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4105.6158  -529.3444  447.6543  4.0000  PL
    END-POINT  4105.6158  -529.3444  464.7793  24.0000  PL
    SKEY NCPL
    ITEM-CODE  251
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4105.6158  -468.6746  448.2275  4.0000  PL
    END-POINT  4105.6158  -468.6746  465.3525  24.0000  PL
    SKEY NCPL
    ITEM-CODE  250
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4105.6158  -378.1457  448.7506  4.0000  PL
    END-POINT  4105.6158  -378.1457  465.8756  24.0000  PL
    SKEY NCPL
    ITEM-CODE  249
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4105.6158  -258.1457  449.3867  4.0000  PL
    END-POINT  4105.6158  -258.1457  466.5117  24.0000  PL
    SKEY NCPL
    ITEM-CODE  248
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4105.6158  -180.8353  449.7965  4.0000  PL
    END-POINT  4105.6158  -180.8353  466.9215  24.0000  PL
    SKEY NCPL
    ITEM-CODE  247
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3882.5310  650.2438  453.7870  4.0000  PL
    END-POINT  3882.5310  650.2438  470.9120  24.0000  PL
    SKEY NCPL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3927.3459  583.0037  455.7594  4.0000  PL
    END-POINT  3927.3459  583.0037  472.8844  24.0000  PL
    SKEY NCPL
    ITEM-CODE  245
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3998.9804  414.0084  455.8539  4.0000  PL
    END-POINT  3998.9804  414.0084  472.9789  24.0000  PL
    SKEY NCPL
    ITEM-CODE  244
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4030.8881  336.6821  454.6379  4.0000  PL
    END-POINT  4030.8881  336.6821  471.7629  24.0000  PL
    SKEY NCPL
    ITEM-CODE  243
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3962.1143  503.3512  457.0093  4.0000  PL
    END-POINT  3962.1143  503.3512  474.1343  24.0000  PL
    SKEY NCPL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3686.8970  901.0594  440.9762  4.0000  PL
    END-POINT  3686.8970  901.0594  458.1012  24.0000  PL
    SKEY NCPL
    ITEM-CODE  241
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3766.6701  820.4339  448.3794  4.0000  PL
    END-POINT  3766.6701  820.4339  465.5044  24.0000  PL
    SKEY NCPL
    ITEM-CODE  240
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3598.1003  991.0188  432.7256  4.0000  PL
    END-POINT  3598.1003  991.0188  449.8506  24.0000  PL
    SKEY NCPL
    ITEM-CODE  239
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3425.9575  1111.0887  417.4099  4.0000  PL
    END-POINT  3425.9575  1111.0887  434.5349  24.0000  PL
    SKEY NCPL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3525.4537  1044.0029  426.2359  4.0000  PL
    END-POINT  3525.4537  1044.0029  443.3609  24.0000  PL
    SKEY NCPL
    ITEM-CODE  237
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3578.6667  1008.1237  430.9562  4.0000  PL
    END-POINT  3578.6667  1008.1237  448.0812  24.0000  PL
    SKEY NCPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3255.6638  1197.9695  403.2046  4.0000  PL
    END-POINT  3255.6638  1197.9695  420.3296  24.0000  PL
    SKEY NCPL
    ITEM-CODE  235
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3361.1750  1152.7397  411.7287  4.0000  PL
    END-POINT  3361.1750  1152.7397  428.8537  24.0000  PL
    SKEY NCPL
    ITEM-CODE  234
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2951.2515  1286.0166  379.9915  4.0000  PL
    END-POINT  2951.2515  1286.0166  397.1165  24.0000  PL
    SKEY NCPL
    ITEM-CODE  233
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-37
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3068.6600  1261.2127  388.6469  4.0000  PL
    END-POINT  3068.6600  1261.2127  405.7719  24.0000  PL
    SKEY NCPL
    ITEM-CODE  232
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3137.6907  1246.6291  393.7358  4.0000  PL
    END-POINT  3137.6907  1246.6291  410.8608  24.0000  PL
    SKEY NCPL
    ITEM-CODE  231
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2788.6572  1302.7955  369.1077  4.0000  PL
    END-POINT  2788.6572  1302.7955  386.2327  24.0000  PL
    SKEY NCPL
    ITEM-CODE  230
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-40
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2869.3259  1301.5623  374.0625  4.0000  PL
    END-POINT  2869.3259  1301.5623  391.1875  24.0000  PL
    SKEY NCPL
    ITEM-CODE  229
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-41
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2573.8718  1304.1267  239.0937  4.0000  PL
    END-POINT  2573.8718  1304.1267  256.2187  24.0000  PL
    SKEY NCPL
    ITEM-CODE  228
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2693.9529  1304.1267  239.0937  4.0000  PL
    END-POINT  2693.9529  1304.1267  256.2187  24.0000  PL
    SKEY NCPL
    ITEM-CODE  227
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-43
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2443.5308  455.1894  379.1250  4.0000  PL
    END-POINT  2443.5308  455.1894  396.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  226
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-44
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2451.1608  538.8951  379.1250  4.0000  PL
    END-POINT  2451.1608  538.8951  396.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  225
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-45
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2451.1608  658.8951  379.1250  4.0000  PL
    END-POINT  2451.1608  658.8951  396.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  224
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-46
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2451.1608  739.9708  379.1250  4.0000  PL
    END-POINT  2451.1608  739.9708  396.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  223
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2451.1608  843.3637  239.0937  4.0000  PL
    END-POINT  2451.1608  843.3637  256.2187  24.0000  PL
    SKEY NCPL
    ITEM-CODE  222
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-48
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2451.1608  963.3637  239.0937  4.0000  PL
    END-POINT  2451.1608  963.3637  256.2187  24.0000  PL
    SKEY NCPL
    ITEM-CODE  221
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-49
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2451.1608  1083.3637  239.0937  4.0000  PL
    END-POINT  2451.1608  1083.3637  256.2187  24.0000  PL
    SKEY NCPL
    ITEM-CODE  220
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-50
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2451.1608  1203.3637  239.0937  4.0000  PL
    END-POINT  2451.1608  1203.3637  256.2187  24.0000  PL
    SKEY NCPL
    ITEM-CODE  219
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-51
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2451.1608  1296.4967  239.0937  4.0000  PL
    END-POINT  2451.1608  1296.4967  256.2187  24.0000  PL
    SKEY NCPL
    ITEM-CODE  218
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-52
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4048.0332  256.7343  454.2595  4.0000  PL
    END-POINT  4048.0332  256.7343  471.3845  24.0000  PL
    SKEY NCPL
    ITEM-CODE  217
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4060.9935  189.0344  454.0254  4.0000  PL
    END-POINT  4060.9935  189.0344  471.1504  24.0000  PL
    SKEY NCPL
    ITEM-CODE  216
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-54
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4062.6751  144.0854  453.8992  4.0000  PL
    END-POINT  4062.6751  144.0854  471.0242  24.0000  PL
    SKEY NCPL
    ITEM-CODE  215
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-55
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4080.2004  60.2349  452.9978  4.0000  PL
    END-POINT  4080.2004  60.2349  470.1228  24.0000  PL
    SKEY NCPL
    ITEM-CODE  214
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-57
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4096.5070  -9.1895  452.1716  4.0000  PL
    END-POINT  4096.5070  -9.1895  469.2966  24.0000  PL
    SKEY NCPL
    ITEM-CODE  213
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-57
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-58
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4105.6027  -98.1508  450.5503  4.0000  PL
    END-POINT  4105.6027  -98.1508  467.6753  24.0000  PL
    SKEY NCPL
    ITEM-CODE  212
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-58
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-59
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4106.3902  -170.9698  449.2166  4.0000  PL
    END-POINT  4106.3902  -170.9698  466.3416  24.0000  PL
    SKEY NCPL
    ITEM-CODE  211
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-59
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!