ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4063.3919  42.4555  456.9924  10.0000  PL
    END-POINT  4081.5122  -27.1993  455.8766  10.0000  PL
    ITEM-CODE  143
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4081.5436  -27.3201  455.8747  10.0000  PL
    END-POINT  4082.1100  -29.4974  455.8398  10.0000  PL
    ITEM-CODE  77
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3950.4825  476.2210  460.4303  10.0000  PL
    END-POINT  4004.8332  335.0144  457.9349  10.0000  PL
    ITEM-CODE  142
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3899.2586  581.7637  459.2266  10.0000  PL
    END-POINT  3947.2887  483.5466  460.4514  10.0000  PL
    ITEM-CODE  141
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3839.0234  682.4366  457.1892  10.0000  PL
    END-POINT  3895.4379  588.7827  459.1115  10.0000  PL
    ITEM-CODE  140
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3694.6827  866.4033  446.3108  10.0000  PL
    END-POINT  3770.3612  781.8067  452.6911  10.0000  PL
    ITEM-CODE  139
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  3770.4346  781.7059  452.6960  10.0000  PL
    END-POINT  3790.3700  754.3257  454.0094  10.0000  PL
    ITEM-CODE  75
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3610.3807  948.0029  437.6320  10.0000  PL
    END-POINT  3689.1468  872.1468  445.7888  10.0000  PL
    ITEM-CODE  138
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3519.3216  1021.9723  428.9726  10.0000  PL
    END-POINT  3604.4038  953.2759  437.0402  10.0000  PL
    ITEM-CODE  137
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3422.1574  1087.7171  420.3466  10.0000  PL
    END-POINT  3512.9073  1026.7040  428.3851  10.0000  PL
    ITEM-CODE  136
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3319.6288  1144.7364  411.6914  10.0000  PL
    END-POINT  3415.3548  1091.8714  419.7590  10.0000  PL
    ITEM-CODE  135
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3212.5176  1192.5951  403.0653  10.0000  PL
    END-POINT  3312.4898  1148.2814  411.1038  10.0000  PL
    ITEM-CODE  134
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3101.6400  1230.9287  394.4101  10.0000  PL
    END-POINT  3205.0965  1195.5040  402.4778  10.0000  PL
    ITEM-CODE  133
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2987.8415  1259.4448  385.7841  10.0000  PL
    END-POINT  3093.9935  1233.1792  393.8226  10.0000  PL
    ITEM-CODE  132
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2871.9898  1277.9261  377.3707  10.0000  PL
    END-POINT  2980.0272  1261.0198  385.2050  10.0000  PL
    ITEM-CODE  131
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2754.9718  1286.2346  371.0800  10.0000  PL
    END-POINT  2864.0628  1278.8140  376.8732  10.0000  PL
    ITEM-CODE  130
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4026.7028  330.4463  403.2150  10.0000  PL
    END-POINT  3963.9470  493.4903  406.6118  10.0000  PL
    ITEM-CODE  129
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3960.7533  500.8157  406.6447  10.0000  PL
    END-POINT  3912.7232  599.0328  405.4199  10.0000  PL
    ITEM-CODE  128
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3908.9024  606.0518  405.3048  10.0000  PL
    END-POINT  3852.4880  699.7057  403.3814  10.0000  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3778.7644  800.9365  398.8887  10.0000  PL
    END-POINT  3706.8423  883.4650  392.3868  10.0000  PL
    ITEM-CODE  126
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3701.3458  889.2422  391.8521  10.0000  PL
    END-POINT  3622.5797  965.0983  383.6953  10.0000  PL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3616.6028  970.3713  383.1035  10.0000  PL
    END-POINT  3531.5205  1039.0677  375.0359  10.0000  PL
    ITEM-CODE  124
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3525.1062  1043.7994  374.4484  10.0000  PL
    END-POINT  3434.3564  1104.8126  366.4099  10.0000  PL
    ITEM-CODE  123
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3427.5537  1108.9668  365.8224  10.0000  PL
    END-POINT  3331.8278  1161.8318  357.7547  10.0000  PL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3324.6887  1165.3768  357.1671  10.0000  PL
    END-POINT  3224.7166  1209.6905  349.1287  10.0000  PL
    ITEM-CODE  121
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3217.2955  1212.5994  348.5411  10.0000  PL
    END-POINT  3113.8390  1248.0241  340.4734  10.0000  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3106.1925  1250.2746  339.8859  10.0000  PL
    END-POINT  3000.0404  1276.5402  331.8474  10.0000  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2992.2262  1278.1152  331.2683  10.0000  PL
    END-POINT  2884.1888  1295.0215  323.4340  10.0000  PL
    ITEM-CODE  118
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3848.0710  706.3629  403.1684  10.0000  PL
    END-POINT  3783.7411  794.6949  399.2685  10.0000  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3817.2543  715.5634  455.7345  10.0000  PL
    END-POINT  3818.6022  713.5317  455.8292  10.0000  PL
    ITEM-CODE  76
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  3818.6022  713.5317  455.8292  10.0000  PL
    END-POINT  3834.7501  689.1931  456.9637  10.0000  PL
    ITEM-CODE  116
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3818.1580  716.1670  455.8428  10.0000  PL
    END-POINT  3791.8053  752.3547  454.1041  10.0000  PL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2876.2693  1296.0250  322.9795  10.0000  PL
    END-POINT  2747.9517  1308.4982  317.5383  10.0000  PL
    ITEM-CODE  114
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2729.1317  1310.3276  313.0541  10.0000  PL
    END-POINT  2729.2786  1310.3134  306.0557  10.0000  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2739.9937  1309.2718  317.2852  10.0000  PL
    END-POINT  2733.0281  1309.9489  317.1376  10.0000  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2725.3621  1310.3052  218.4684  10.0000  PL
    END-POINT  2485.3621  1310.3052  218.4684  10.0000  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2485.3621  1310.3052  218.4684  10.0000  PL
    END-POINT  2454.0121  1310.3052  218.4684  10.0000  PL
    ITEM-CODE  111
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2729.3625  1310.3052  298.0566  10.0000  PL
    END-POINT  2729.3617  1310.3052  222.4684  10.0000  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2450.0121  1306.3052  218.4678  10.0000  PL
    END-POINT  2450.0121  1066.3052  218.4682  10.0000  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2450.0121  1066.3052  218.4682  10.0000  PL
    END-POINT  2450.0121  826.3052  218.4686  10.0000  PL
    ITEM-CODE  107
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2450.0121  826.3052  218.4686  10.0000  PL
    END-POINT  2450.0121  733.6084  218.4687  10.0000  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2712.5650  1287.7701  368.8317  10.0000  PL
    END-POINT  2746.9943  1286.6371  370.6568  10.0000  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2693.8781  1288.3857  357.1022  10.0000  PL
    END-POINT  2693.6911  1288.3919  364.2245  10.0000  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-37
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2697.5825  1288.2636  368.3289  10.0000  PL
    END-POINT  2704.5763  1288.0331  368.5142  10.0000  PL
    ITEM-CODE  103
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2693.9829  1288.3823  246.4687  10.0000  PL
    END-POINT  2693.9829  1288.3823  349.1036  10.0000  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2449.9796  393.1736  360.7035  10.0000  PL
    END-POINT  2449.9796  375.3303  378.5466  10.0000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-40
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2445.9796  372.5019  381.3750  10.0000  PL
    END-POINT  2392.7500  372.5019  381.3750  10.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-41
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2450.0067  725.6084  357.8750  10.0000  PL
    END-POINT  2450.0067  485.6084  357.8750  10.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2450.0067  485.6084  357.8750  10.0000  PL
    END-POINT  2450.0067  400.0020  357.8751  10.0000  PL
    ITEM-CODE  99
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2450.0070  729.6084  222.4687  10.0000  PL
    END-POINT  2450.0070  729.6084  353.8750  10.0000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-43
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2392.7500  392.5019  381.3750  10.0000  PL
    END-POINT  2424.5384  392.4952  381.3750  10.0000  PL
    ITEM-CODE  96
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-44
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2431.3701  395.3195  381.3750  10.0000  PL
    END-POINT  2464.1716  428.0466  381.3750  10.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-45
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2467.0070  747.6190  377.3750  10.0000  PL
    END-POINT  2467.0070  747.6190  246.4687  10.0000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-46
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2467.0070  751.6190  242.4687  10.0000  PL
    END-POINT  2467.0070  991.6190  242.4687  10.0000  PL
    ITEM-CODE  91
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2467.0070  991.6190  242.4687  10.0000  PL
    END-POINT  2467.0070  1231.6190  242.4687  10.0000  PL
    ITEM-CODE  92
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2467.0070  1231.6190  242.4687  10.0000  PL
    END-POINT  2467.0070  1284.3823  242.4687  10.0000  PL
    ITEM-CODE  93
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2467.0033  434.8718  381.3750  10.0000  PL
    END-POINT  2467.0033  674.8718  381.3750  10.0000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-48
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2467.0033  674.8718  381.3750  10.0000  PL
    END-POINT  2467.0033  743.6190  381.3750  10.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-48
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2471.0070  1288.3823  242.4687  10.0000  PL
    END-POINT  2689.9829  1288.3823  242.4687  10.0000  PL
    ITEM-CODE  88
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-49
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4064.7937  165.0319  402.5148  10.0000  PL
    END-POINT  4029.0238  322.8130  403.1223  10.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-50
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4007.1852  327.3880  457.8578  10.0000  PL
    END-POINT  4046.1249  161.7396  457.3810  10.0000  PL
    ITEM-CODE  86
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-51
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4047.5855  153.8831  457.3586  10.0000  PL
    END-POINT  4061.8397  50.2888  457.0657  10.0000  PL
    ITEM-CODE  85
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-52
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4100.9232  -431.7683  396.0000  10.0000  PL
    END-POINT  4100.9232  -191.7724  397.3964  10.0000  PL
    ITEM-CODE  83
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4100.9232  -191.7724  397.3964  10.0000  PL
    END-POINT  4100.9232  -26.0573  398.3606  10.0000  PL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4080.4745  51.5207  402.0814  10.0000  PL
    END-POINT  4066.2132  157.1669  402.4846  10.0000  PL
    ITEM-CODE  82
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-54
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4098.1912  -12.0558  398.6230  10.0000  PL
    END-POINT  4082.1157  43.7191  401.8446  10.0000  PL
    ITEM-CODE  81
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-55
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4083.0969  -153.3587  452.2353  10.0000  PL
    END-POINT  4083.0969  -393.3560  451.1106  10.0000  PL
    ITEM-CODE  79
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4083.0969  -393.3560  451.1106  10.0000  PL
    END-POINT  4083.0969  -460.1774  450.7974  10.0000  PL
    ITEM-CODE  80
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-57
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4083.0969  -43.6154  455.5580  10.0000  PL
    END-POINT  4083.0969  -145.3607  452.3790  10.0000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-57
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-58
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3792.8144  753.0682  454.1041  10.0000  PL
    END-POINT  3791.4312  755.0760  454.0094  10.0000  PL
    ITEM-CODE  74
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(GR)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-58
    ITEM-ATTRIBUTE0 CID=[2041]