ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3820.0743  710.3407  478.8916  4.0000  PL
    END-POINT  3813.7860  719.7540  478.6777  4.0000  PL
    ITEM-CODE  203
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3909.2576  576.8367  481.9242  4.0000  PL
    END-POINT  3824.6340  703.5151  479.0466  4.0000  PL
    ITEM-CODE  195
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3824.6340  703.5151  479.0466  4.0000  PL
    END-POINT  3824.5173  703.6897  479.0426  4.0000  PL
    SKEY COCP
    ITEM-CODE  202
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2672.3729  1330.0013  299.9294  4.0000  PL
    END-POINT  2672.3729  1330.0013  239.4737  4.0000  PL
    ITEM-CODE  174
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2672.3729  1330.0013  239.4737  4.0000  PL
    END-POINT  2669.7429  1330.0013  236.8437  4.0000  PL
    CENTRE-POINT  2672.3729  1330.0013  236.8437
    SKEY ERPL
    ITEM-CODE  117
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2669.7429  1330.0013  236.8437  4.0000  PL
    END-POINT  2441.4609  1330.0013  236.8437  4.0000  PL
    ITEM-CODE  175
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2441.4609  1330.0013  236.8437  4.0000  PL
    END-POINT  2438.8309  1327.3713  236.8437  4.0000  PL
    CENTRE-POINT  2438.8309  1330.0013  236.8437
    SKEY ERPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2438.8309  1327.3713  236.8437  4.0000  PL
    END-POINT  2438.8309  1087.3713  236.8437  4.0000  PL
    ITEM-CODE  166
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2438.8309  1087.3713  236.8437  4.0000  PL
    END-POINT  2438.8309  1087.1613  236.8437  4.0000  PL
    SKEY COCP
    ITEM-CODE  167
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2438.8309  1087.1613  236.8437  4.0000  PL
    END-POINT  2438.8309  847.1613  236.8437  4.0000  PL
    ITEM-CODE  168
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2438.8309  847.1613  236.8437  4.0000  PL
    END-POINT  2438.8309  846.9513  236.8437  4.0000  PL
    SKEY COCP
    ITEM-CODE  169
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2438.8309  846.9513  236.8437  4.0000  PL
    END-POINT  2438.8309  750.2564  236.8437  4.0000  PL
    ITEM-CODE  170
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2438.8309  750.2564  236.8437  4.0000  PL
    END-POINT  2438.8309  747.6264  239.4737  4.0000  PL
    CENTRE-POINT  2438.8309  747.6264  236.8437
    SKEY ERPL
    ITEM-CODE  116
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2438.8309  747.6264  239.4737  4.0000  PL
    END-POINT  2438.8309  747.6264  382.6825  4.0000  PL
    ITEM-CODE  171
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2438.8309  747.6264  382.6825  4.0000  PL
    END-POINT  2438.8309  744.9964  385.3125  4.0000  PL
    CENTRE-POINT  2438.8309  747.6264  385.3125
    SKEY ERPL
    ITEM-CODE  113
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2438.8309  744.9964  385.3125  4.0000  PL
    END-POINT  2438.8309  504.9964  385.3125  4.0000  PL
    ITEM-CODE  163
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2438.8309  504.9964  385.3125  4.0000  PL
    END-POINT  2438.8309  504.7864  385.3125  4.0000  PL
    SKEY COCP
    ITEM-CODE  164
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2438.8309  504.7864  385.3125  4.0000  PL
    END-POINT  2438.8309  475.8194  385.3125  4.0000  PL
    ITEM-CODE  165
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2438.8309  475.8194  385.3125  4.0000  PL
    END-POINT  2436.2009  473.1894  385.3125  4.0000  PL
    CENTRE-POINT  2438.8309  473.1894  385.3125
    SKEY ERPL
    ITEM-CODE  114
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2436.2009  473.1894  385.3125  4.0000  PL
    END-POINT  2398.2979  473.1894  385.3125  4.0000  PL
    ITEM-CODE  201
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4084.2103  -29.8475  475.9541  4.0000  PL
    END-POINT  4084.2103  -269.8383  473.8511  4.0000  PL
    ITEM-CODE  196
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -269.8383  473.8511  4.0000  PL
    END-POINT  4084.2103  -270.0482  473.8493  4.0000  PL
    SKEY COCP
    ITEM-CODE  197
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -270.0482  473.8493  4.0000  PL
    END-POINT  4084.2103  -510.0390  471.7463  4.0000  PL
    ITEM-CODE  198
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4084.2103  -510.0390  471.7463  4.0000  PL
    END-POINT  4084.2103  -510.2490  471.7445  4.0000  PL
    SKEY COCP
    ITEM-CODE  199
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4084.2103  -510.2490  471.7445  4.0000  PL
    END-POINT  4084.2103  -571.6049  471.2068  4.0000  PL
    ITEM-CODE  200
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4014.1488  326.3015  482.0145  4.0000  PL
    END-POINT  3922.5226  548.1227  482.0012  4.0000  PL
    ITEM-CODE  192
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3922.5226  548.1227  482.0012  4.0000  PL
    END-POINT  3922.4425  548.3168  482.0012  4.0000  PL
    SKEY COCP
    ITEM-CODE  193
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3922.4425  548.3168  482.0012  4.0000  PL
    END-POINT  3914.4643  567.6315  482.0001  4.0000  PL
    ITEM-CODE  194
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3807.6409  728.9530  478.4260  4.0000  PL
    END-POINT  3763.0650  795.6814  475.0577  4.0000  PL
    ITEM-CODE  191
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3564.4006  997.3694  456.9214  4.0000  PL
    END-POINT  3378.0893  1123.5995  440.9975  4.0000  PL
    ITEM-CODE  190
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3371.1156  1127.3988  440.4154  4.0000  PL
    END-POINT  3150.8859  1221.0759  422.4298  4.0000  PL
    ITEM-CODE  187
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3150.8859  1221.0759  422.4298  4.0000  PL
    END-POINT  3150.6932  1221.1578  422.4141  4.0000  PL
    SKEY COCP
    ITEM-CODE  188
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3150.6932  1221.1578  422.4141  4.0000  PL
    END-POINT  3140.3394  1225.5619  421.5685  4.0000  PL
    ITEM-CODE  189
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3756.1788  803.6946  474.5469  4.0000  PL
    END-POINT  3588.1511  974.3627  459.0853  4.0000  PL
    ITEM-CODE  184
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3588.1511  974.3627  459.0853  4.0000  PL
    END-POINT  3588.0041  974.5121  459.0717  4.0000  PL
    SKEY COCP
    ITEM-CODE  185
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3588.0041  974.5121  459.0717  4.0000  PL
    END-POINT  3570.5043  992.2869  457.4614  4.0000  PL
    ITEM-CODE  186
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3132.7622  1227.9340  420.9845  4.0000  PL
    END-POINT  2898.3644  1276.5831  403.9281  4.0000  PL
    ITEM-CODE  181
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2898.3644  1276.5831  403.9281  4.0000  PL
    END-POINT  2898.1593  1276.6257  403.9132  4.0000  PL
    SKEY COCP
    ITEM-CODE  182
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2898.1593  1276.6257  403.9132  4.0000  PL
    END-POINT  2863.1136  1283.8994  401.3630  4.0000  PL
    ITEM-CODE  183
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2852.5913  1284.7583  400.7370  4.0000  PL
    END-POINT  2678.4908  1286.0253  392.7798  4.0000  PL
    ITEM-CODE  180
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2678.3651  1286.0312  393.0485  4.0000  PL
    END-POINT  2674.9986  1286.0250  392.8948  4.0000  PL
    ITEM-CODE  179
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2674.9986  1286.0250  392.8948  4.0000  PL
    END-POINT  2672.3768  1288.6522  392.6549  4.0000  PL
    CENTRE-POINT  2672.3713  1286.0250  392.7748
    SKEY ERPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2097]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2672.3771  1296.1435  392.4984  4.0000  PL
    END-POINT  2672.3771  1327.3713  392.5002  4.0000  PL
    ITEM-CODE  176
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2672.3733  1327.3713  392.5002  4.0000  PL
    END-POINT  2672.3729  1330.0011  389.8700  4.0000  PL
    CENTRE-POINT  2672.3729  1330.0013  392.5000
    SKEY ERPL
    ITEM-CODE  118
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2672.3729  1330.0011  389.8700  4.0000  PL
    END-POINT  2672.3729  1330.0013  329.4144  4.0000  PL
    ITEM-CODE  178
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
COUPLING
    END-POINT  2672.3729  1330.0013  307.9294  4.0000  PL
    END-POINT  2672.3729  1330.0013  308.1394  4.0000  PL
    SKEY COCP
    ITEM-CODE  173
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2672.3729  1330.0013  308.1394  4.0000  PL
    END-POINT  2672.3729  1330.0013  321.2044  4.0000  PL
    ITEM-CODE  172
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2672.3729  1330.0013  321.2044  4.0000  PL
    END-POINT  2672.3729  1330.0013  321.4144  4.0000  PL
    SKEY COCP
    ITEM-CODE  177
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4047.6772  162.8465  482.0237  4.0000  PL
    END-POINT  4016.4615  318.6824  482.0149  4.0000  PL
    ITEM-CODE  162
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4048.4629  113.0172  482.0265  4.0000  PL
    END-POINT  4048.4629  154.9244  482.0242  4.0000  PL
    ITEM-CODE  161
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4048.8834  106.5361  482.2424  4.0000  PL
    END-POINT  4082.4713  -16.8350  476.1996  4.0000  PL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2431.2009  473.1894  385.3125  4.0000  PL
    END-POINT  2431.2009  473.1894  402.4375  24.0000  PL
    SKEY NCPL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4084.2103  -483.2262  471.9813  4.0000  PL
    END-POINT  4084.2103  -483.2262  489.1063  24.0000  PL
    SKEY NCPL
    ITEM-CODE  159
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4084.2103  -363.2262  473.0328  4.0000  PL
    END-POINT  4084.2103  -363.2262  490.1578  24.0000  PL
    SKEY NCPL
    ITEM-CODE  158
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4084.2103  -243.2262  474.0843  4.0000  PL
    END-POINT  4084.2103  -243.2262  491.2093  24.0000  PL
    SKEY NCPL
    ITEM-CODE  157
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4084.2103  -123.2262  475.1358  4.0000  PL
    END-POINT  4084.2103  -123.2262  492.2608  24.0000  PL
    SKEY NCPL
    ITEM-CODE  156
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4084.2103  -34.8475  475.9102  4.0000  PL
    END-POINT  4084.2103  -34.8475  493.0352  24.0000  PL
    SKEY NCPL
    ITEM-CODE  155
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3865.5571  642.2547  480.4382  4.0000  PL
    END-POINT  3865.5571  642.2547  497.5632  24.0000  PL
    SKEY NCPL
    ITEM-CODE  154
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3906.4802  580.9943  481.8297  4.0000  PL
    END-POINT  3906.4802  580.9943  498.9547  24.0000  PL
    SKEY NCPL
    ITEM-CODE  153
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3940.4455  504.7325  482.0038  4.0000  PL
    END-POINT  3940.4452  504.7333  499.1288  24.0000  PL
    SKEY NCPL
    ITEM-CODE  152
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3986.2586  393.8219  482.0105  4.0000  PL
    END-POINT  3986.2583  393.8227  499.1355  24.0000  PL
    SKEY NCPL
    ITEM-CODE  151
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4012.2399  330.9228  482.0142  4.0000  PL
    END-POINT  4012.2395  330.9237  499.1392  24.0000  PL
    SKEY NCPL
    ITEM-CODE  150
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3804.8635  733.1106  478.2161  4.0000  PL
    END-POINT  3804.8635  733.1106  495.3411  24.0000  PL
    SKEY NCPL
    ITEM-CODE  149
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3469.1753  1061.8867  448.7825  4.0000  PL
    END-POINT  3469.1753  1061.8867  465.9075  24.0000  PL
    SKEY NCPL
    ITEM-CODE  148
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3560.2612  1000.1739  456.5676  4.0000  PL
    END-POINT  3560.2612  1000.1739  473.6926  24.0000  PL
    SKEY NCPL
    ITEM-CODE  147
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3198.2142  1200.9442  426.2950  4.0000  PL
    END-POINT  3198.2142  1200.9442  443.4200  24.0000  PL
    SKEY NCPL
    ITEM-CODE  146
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3308.6396  1153.9736  435.3131  4.0000  PL
    END-POINT  3308.6396  1153.9736  452.4381  24.0000  PL
    SKEY NCPL
    ITEM-CODE  145
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3366.5145  1129.3559  440.0396  4.0000  PL
    END-POINT  3366.5145  1129.3559  457.1646  24.0000  PL
    SKEY NCPL
    ITEM-CODE  144
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3619.4933  942.5281  461.9693  4.0000  PL
    END-POINT  3619.4933  942.5281  479.0943  24.0000  PL
    SKEY NCPL
    ITEM-CODE  143
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3703.6820  857.0163  469.7163  4.0000  PL
    END-POINT  3703.6820  857.0163  486.8413  24.0000  PL
    SKEY NCPL
    ITEM-CODE  142
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3752.6710  807.2576  474.2242  4.0000  PL
    END-POINT  3752.6710  807.2576  491.3492  24.0000  PL
    SKEY NCPL
    ITEM-CODE  141
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-37
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2936.7420  1268.6178  406.7207  4.0000  PL
    END-POINT  2936.7420  1268.6178  423.8457  24.0000  PL
    SKEY NCPL
    ITEM-CODE  140
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3054.2381  1244.2316  415.2705  4.0000  PL
    END-POINT  3054.2381  1244.2316  432.3955  24.0000  PL
    SKEY NCPL
    ITEM-CODE  139
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3127.8666  1228.9501  420.6283  4.0000  PL
    END-POINT  3127.8666  1228.9501  437.7533  24.0000  PL
    SKEY NCPL
    ITEM-CODE  138
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-40
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2763.0411  1285.4100  396.6441  4.0000  PL
    END-POINT  2763.0411  1285.4100  413.7691  24.0000  PL
    SKEY NCPL
    ITEM-CODE  137
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-41
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2847.5914  1284.7947  400.5085  4.0000  PL
    END-POINT  2847.5914  1284.7947  417.6335  24.0000  PL
    SKEY NCPL
    ITEM-CODE  136
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2672.3771  1301.1435  392.4987  4.0000  PL
    END-POINT  2672.3771  1301.1425  409.6237  24.0000  PL
    SKEY NCPL
    ITEM-CODE  135
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-43
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2553.1019  1330.0013  236.8437  4.0000  PL
    END-POINT  2553.1019  1330.0013  253.9687  24.0000  PL
    SKEY NCPL
    ITEM-CODE  134
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-44
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2664.7429  1330.0013  236.8437  4.0000  PL
    END-POINT  2664.7429  1330.0013  253.9687  24.0000  PL
    SKEY NCPL
    ITEM-CODE  133
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-45
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2438.8309  856.3138  236.8437  4.0000  PL
    END-POINT  2438.8309  856.3138  253.9687  24.0000  PL
    SKEY NCPL
    ITEM-CODE  132
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-46
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2438.8309  976.3138  236.8437  4.0000  PL
    END-POINT  2438.8309  976.3138  253.9687  24.0000  PL
    SKEY NCPL
    ITEM-CODE  131
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2438.8309  1096.3138  236.8437  4.0000  PL
    END-POINT  2438.8309  1096.3138  253.9687  24.0000  PL
    SKEY NCPL
    ITEM-CODE  130
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-48
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2438.8309  1216.3138  236.8437  4.0000  PL
    END-POINT  2438.8309  1216.3138  253.9687  24.0000  PL
    SKEY NCPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-49
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2438.8309  1322.3713  236.8437  4.0000  PL
    END-POINT  2438.8309  1322.3713  253.9687  24.0000  PL
    SKEY NCPL
    ITEM-CODE  128
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-50
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2438.8309  547.9079  385.3125  4.0000  PL
    END-POINT  2438.8309  547.9079  402.4375  24.0000  PL
    SKEY NCPL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-51
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2438.8309  667.9079  385.3125  4.0000  PL
    END-POINT  2438.8309  667.9079  402.4375  24.0000  PL
    SKEY NCPL
    ITEM-CODE  126
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-52
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2438.8309  739.9964  385.3125  4.0000  PL
    END-POINT  2438.8309  739.9964  402.4375  24.0000  PL
    SKEY NCPL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4031.5783  243.2158  482.0192  4.0000  PL
    END-POINT  4031.5781  243.2167  499.1442  24.0000  PL
    SKEY NCPL
    ITEM-CODE  124
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-54
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4046.6951  167.7491  482.0234  4.0000  PL
    END-POINT  4046.6950  167.7500  499.1484  24.0000  PL
    SKEY NCPL
    ITEM-CODE  123
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-55
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4048.4629  118.0172  482.0263  4.0000  PL
    END-POINT  4048.4629  118.0182  499.1513  24.0000  PL
    SKEY NCPL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-57
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4066.3341  42.4383  479.1029  4.0000  PL
    END-POINT  4066.3341  42.4383  496.2279  24.0000  PL
    SKEY NCPL
    ITEM-CODE  121
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-57
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-58
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4050.1969  101.7117  482.0061  4.0000  PL
    END-POINT  4050.1969  101.7117  499.1311  24.0000  PL
    SKEY NCPL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-58
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!