ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2813.7050  1290.5371  319.3113  6.0000  PL
    END-POINT  2755.0664  1291.0873  316.5425  6.0000  PL
    ITEM-CODE  396
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2892.8160  1274.9914  324.3685  6.0000  PL
    END-POINT  2825.0336  1288.9856  319.9216  6.0000  PL
    ITEM-CODE  395
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2948.1447  1273.6993  328.2790  6.0000  PL
    END-POINT  2900.7151  1274.1466  324.9085  6.0000  PL
    ITEM-CODE  394
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3044.1125  1254.6720  335.3672  6.0000  PL
    END-POINT  2956.0416  1272.8550  328.8516  6.0000  PL
    ITEM-CODE  393
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3108.0242  1228.6537  339.6312  6.0000  PL
    END-POINT  3051.7005  1252.3188  335.9001  6.0000  PL
    ITEM-CODE  392
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3178.0569  1213.4082  345.5958  6.0000  PL
    END-POINT  3119.0296  1225.5949  340.4279  6.0000  PL
    ITEM-CODE  391
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3279.1107  1171.7833  353.6457  6.0000  PL
    END-POINT  3185.6379  1211.0571  346.2293  6.0000  PL
    ITEM-CODE  390
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3332.1945  1137.0194  358.3013  6.0000  PL
    END-POINT  3286.0991  1168.0121  354.2299  6.0000  PL
    ITEM-CODE  389
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3406.8615  1104.8122  364.2402  6.0000  PL
    END-POINT  3339.1830  1133.2482  358.8848  6.0000  PL
    ITEM-CODE  388
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3536.6241  1018.4926  375.6457  6.0000  PL
    END-POINT  3413.8501  1101.0410  364.8231  6.0000  PL
    ITEM-CODE  387
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3581.7884  974.3534  380.2708  6.0000  PL
    END-POINT  3542.7536  1013.4438  376.2294  6.0000  PL
    ITEM-CODE  386
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3619.3019  948.2032  383.6212  6.0000  PL
    END-POINT  3587.9179  969.3046  380.8545  6.0000  PL
    ITEM-CODE  385
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3683.0460  885.4587  390.2662  6.0000  PL
    END-POINT  3625.4312  943.1546  384.2094  6.0000  PL
    ITEM-CODE  384
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3696.9303  866.1281  391.8897  6.0000  PL
    END-POINT  3688.0869  879.3209  390.8290  6.0000  PL
    ITEM-CODE  383
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3772.3220  789.5404  398.3246  6.0000  PL
    END-POINT  3701.9739  859.9875  392.3941  6.0000  PL
    ITEM-CODE  382
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3826.7274  709.7606  401.8913  6.0000  PL
    END-POINT  3779.3147  780.4923  398.9099  6.0000  PL
    ITEM-CODE  381
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3841.5087  676.4394  402.9218  6.0000  PL
    END-POINT  3830.4969  702.7516  402.1407  6.0000  PL
    ITEM-CODE  380
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3915.8321  564.1761  405.0932  6.0000  PL
    END-POINT  3845.2793  669.4287  403.0943  6.0000  PL
    ITEM-CODE  379
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3947.1752  491.2826  405.9951  6.0000  PL
    END-POINT  3919.6032  557.1642  405.2007  6.0000  PL
    ITEM-CODE  378
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2747.0712  1291.1631  316.3539  6.0000  PL
    END-POINT  2733.5112  1291.2930  316.3135  6.0000  PL
    ITEM-CODE  374
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2733.5112  1291.2930  316.3135  6.0000  PL
    END-POINT  2729.2613  1291.3337  312.1441  6.0000  PL
    CENTRE-POINT  2729.3016  1291.3333  316.3539
    SKEY ERPL
    ITEM-CODE  341
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2729.2613  1291.3337  312.1441  6.0000  PL
    END-POINT  2729.3016  1291.3333  220.8037  6.0000  PL
    ITEM-CODE  375
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2729.3016  1291.3333  220.8037  6.0000  PL
    END-POINT  2725.0916  1291.3333  216.5937  6.0000  PL
    CENTRE-POINT  2729.3016  1291.3333  216.5937
    SKEY ERPL
    ITEM-CODE  342
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2725.0916  1291.3333  216.5937  6.0000  PL
    END-POINT  2485.0916  1291.3333  216.5937  6.0000  PL
    ITEM-CODE  376
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2485.0916  1291.3333  216.5937  6.0000  PL
    END-POINT  2484.9616  1291.3333  216.5937  6.0000  PL
    SKEY COCP
    ITEM-CODE  377
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4047.1041  152.5419  402.8645  6.0000  PL
    END-POINT  4010.2932  322.2083  403.8579  6.0000  PL
    ITEM-CODE  373
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4048.9052  113.9493  402.2811  6.0000  PL
    END-POINT  4048.9052  141.2054  402.7188  6.0000  PL
    ITEM-CODE  372
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4082.5911  -23.0372  398.7380  6.0000  PL
    END-POINT  4050.6519  102.5190  402.0538  6.0000  PL
    ITEM-CODE  371
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2808.7052  1290.5840  319.0753  6.0000  PL
    END-POINT  2808.7052  1290.5840  337.5753  24.0000  PL
    SKEY NCPL
    ITEM-CODE  371
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2887.9193  1276.0023  324.0473  6.0000  PL
    END-POINT  2887.9193  1276.0023  342.5473  24.0000  PL
    SKEY NCPL
    ITEM-CODE  370
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2943.1449  1273.7465  327.9237  6.0000  PL
    END-POINT  2943.1449  1273.7465  346.4237  24.0000  PL
    SKEY NCPL
    ITEM-CODE  369
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3039.2158  1255.6830  335.0049  6.0000  PL
    END-POINT  3039.2158  1255.6830  353.5049  24.0000  PL
    SKEY NCPL
    ITEM-CODE  368
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3103.4146  1230.5905  339.3258  6.0000  PL
    END-POINT  3103.4146  1230.5905  357.8258  24.0000  PL
    SKEY NCPL
    ITEM-CODE  367
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3173.1602  1214.4192  345.1671  6.0000  PL
    END-POINT  3173.1602  1214.4192  363.6671  24.0000  PL
    SKEY NCPL
    ITEM-CODE  366
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3274.5010  1173.7201  353.2799  6.0000  PL
    END-POINT  3274.5010  1173.7201  371.7799  24.0000  PL
    SKEY NCPL
    ITEM-CODE  365
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3328.0451  1139.8093  357.9348  6.0000  PL
    END-POINT  3328.0451  1139.8093  376.4348  24.0000  PL
    SKEY NCPL
    ITEM-CODE  364
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3402.2519  1106.7490  363.8755  6.0000  PL
    END-POINT  3402.2519  1106.7490  382.3755  24.0000  PL
    SKEY NCPL
    ITEM-CODE  363
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3473.1624  1061.1617  370.0515  6.0000  PL
    END-POINT  3473.1624  1061.1617  388.5515  24.0000  PL
    SKEY NCPL
    ITEM-CODE  362
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3532.4748  1021.2824  375.2799  6.0000  PL
    END-POINT  3532.4748  1021.2824  393.7799  24.0000  PL
    SKEY NCPL
    ITEM-CODE  361
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3578.2554  977.8915  379.9050  6.0000  PL
    END-POINT  3578.2554  977.8915  398.4050  24.0000  PL
    SKEY NCPL
    ITEM-CODE  360
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3615.1526  950.9930  383.2554  6.0000  PL
    END-POINT  3615.1526  950.9930  401.7554  24.0000  PL
    SKEY NCPL
    ITEM-CODE  359
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3679.5130  888.9967  389.8948  6.0000  PL
    END-POINT  3679.5130  888.9967  408.3948  24.0000  PL
    SKEY NCPL
    ITEM-CODE  358
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-37
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3694.1463  870.2814  391.5558  6.0000  PL
    END-POINT  3694.1463  870.2814  410.0558  24.0000  PL
    SKEY NCPL
    ITEM-CODE  357
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3768.7890  793.0784  398.0268  6.0000  PL
    END-POINT  3768.7890  793.0784  416.5268  24.0000  PL
    SKEY NCPL
    ITEM-CODE  356
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3823.9434  713.9139  401.7162  6.0000  PL
    END-POINT  3823.9434  713.9139  420.2162  24.0000  PL
    SKEY NCPL
    ITEM-CODE  355
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-40
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3839.5784  681.0518  402.7849  6.0000  PL
    END-POINT  3839.5784  681.0518  421.2849  24.0000  PL
    SKEY NCPL
    ITEM-CODE  354
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-41
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3879.1637  618.8790  404.0543  6.0000  PL
    END-POINT  3879.1637  618.8790  422.5543  24.0000  PL
    SKEY NCPL
    ITEM-CODE  353
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3913.0481  568.3293  405.0143  6.0000  PL
    END-POINT  3913.0481  568.3293  423.5143  24.0000  PL
    SKEY NCPL
    ITEM-CODE  352
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-43
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3945.2449  495.8949  405.9395  6.0000  PL
    END-POINT  3945.2449  495.8949  424.4395  24.0000  PL
    SKEY NCPL
    ITEM-CODE  351
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-44
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2602.3044  1291.3333  216.5937  6.0000  PL
    END-POINT  2602.3044  1291.3333  235.0937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  350
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-45
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2720.0916  1291.3333  216.5937  6.0000  PL
    END-POINT  2720.0916  1291.3333  235.0937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  349
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-46
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2742.0715  1291.2110  316.3390  6.0000  PL
    END-POINT  2742.0715  1291.2110  334.8390  24.0000  PL
    SKEY NCPL
    ITEM-CODE  348
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4028.1686  239.8183  403.3755  6.0000  PL
    END-POINT  4028.1686  239.8183  421.8755  24.0000  PL
    SKEY NCPL
    ITEM-CODE  347
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-48
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4046.0440  157.4282  402.8931  6.0000  PL
    END-POINT  4046.0440  157.4282  421.3931  24.0000  PL
    SKEY NCPL
    ITEM-CODE  346
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-49
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4048.9052  118.9492  402.3614  6.0000  PL
    END-POINT  4048.9052  118.9492  420.8614  24.0000  PL
    SKEY NCPL
    ITEM-CODE  345
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-50
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4066.0052  42.1637  400.4599  6.0000  PL
    END-POINT  4066.0052  42.1637  418.9599  24.0000  PL
    SKEY NCPL
    ITEM-CODE  344
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-51
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4081.3585  -18.1915  398.8660  6.0000  PL
    END-POINT  4081.3585  -18.1915  417.3660  24.0000  PL
    SKEY NCPL
    ITEM-CODE  343
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-52
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2468.0670  1246.2575  216.5938  6.0000  PL
    END-POINT  2468.0670  1006.2575  216.5938  6.0000  PL
    ITEM-CODE  338
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2468.0670  1006.2575  216.5938  6.0000  PL
    END-POINT  2468.0670  1006.1275  216.5938  6.0000  PL
    SKEY COCP
    ITEM-CODE  339
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2468.0670  1006.1275  216.5938  6.0000  PL
    END-POINT  2468.0670  779.4005  216.5938  6.0000  PL
    ITEM-CODE  340
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2468.0670  779.4005  216.5938  6.0000  PL
    END-POINT  2468.0670  779.2705  216.5938  6.0000  PL
    SKEY COCP
    ITEM-CODE  337
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2468.0670  779.2705  216.5938  6.0000  PL
    END-POINT  2468.0670  733.7932  216.5938  6.0000  PL
    ITEM-CODE  303
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2468.0670  733.7932  216.5938  6.0000  PL
    END-POINT  2468.0670  729.5832  220.8037  6.0000  PL
    CENTRE-POINT  2468.0670  729.5832  216.5938
    SKEY ERPL
    ITEM-CODE  299
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2468.0670  729.5832  220.8037  6.0000  PL
    END-POINT  2468.0670  729.5832  286.1419  6.0000  PL
    ITEM-CODE  327
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2468.0670  729.5832  286.1419  6.0000  PL
    END-POINT  2468.0670  729.5832  286.2719  6.0000  PL
    SKEY COCP
    ITEM-CODE  326
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2468.0670  729.5832  286.2719  6.0000  PL
    END-POINT  2468.0670  729.5832  351.7400  6.0000  PL
    ITEM-CODE  300
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2468.0670  729.5832  351.7400  6.0000  PL
    END-POINT  2468.0670  725.3732  355.9500  6.0000  PL
    CENTRE-POINT  2468.0670  729.5832  355.9500
    SKEY ERPL
    ITEM-CODE  296
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2468.0670  725.3732  355.9500  6.0000  PL
    END-POINT  2468.0670  670.3572  355.9500  6.0000  PL
    ITEM-CODE  323
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2468.0670  670.3572  355.9500  6.0000  PL
    END-POINT  2468.0670  670.2272  355.9500  6.0000  PL
    SKEY COCP
    ITEM-CODE  322
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2468.0670  670.2272  355.9500  6.0000  PL
    END-POINT  2468.0670  501.7511  355.9500  6.0000  PL
    ITEM-CODE  294
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2468.0670  501.6211  355.9500  6.0000  PL
    END-POINT  2468.0670  380.1909  355.9500  6.0000  PL
    ITEM-CODE  295
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  2468.0670  380.1909  355.9500  6.0000  PL
    END-POINT  2468.0670  376.4353  357.5056  6.0000  PL
    CENTRE-POINT  2468.0670  377.9909  355.9500
    SKEY ELPL
    ITEM-CODE  297
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  2468.0670  376.4353  357.5056  6.0000  PL
    END-POINT  2468.0670  368.9036  365.0373  6.0000  PL
    ITEM-CODE  325
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2468.0670  368.9036  365.0373  6.0000  PL
    END-POINT  2468.0670  368.8116  365.1292  6.0000  PL
    SKEY COCP
    ITEM-CODE  324
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2468.0670  1274.5133  216.5937  6.0000  PL
    END-POINT  2468.0670  1254.3875  216.5937  6.0000  PL
    ITEM-CODE  335
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-54
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2468.0670  1254.3875  216.5937  6.0000  PL
    END-POINT  2468.0670  1254.2575  216.5937  6.0000  PL
    SKEY COCP
    ITEM-CODE  336
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-54
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4082.9256  -446.2057  395.3251  6.0000  PL
    END-POINT  4082.9257  -206.2140  397.3185  6.0000  PL
    ITEM-CODE  332
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-55
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4082.9257  -206.2140  397.3185  6.0000  PL
    END-POINT  4082.9257  -206.0840  397.3196  6.0000  PL
    SKEY COCP
    ITEM-CODE  333
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-55
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4082.9257  -206.0840  397.3196  6.0000  PL
    END-POINT  4082.9257  -33.8401  398.7503  6.0000  PL
    ITEM-CODE  334
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-55
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
ELBOW-REDUCING
    END-POINT  2468.0670  357.4828  376.4581  6.0000  PL
    END-POINT  2463.8570  354.5059  379.4350  6.0000  PL
    CENTRE-POINT  2468.0670  354.5059  379.4350
    SKEY ERPL
    ITEM-CODE  301
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2463.8570  354.5059  379.4350  6.0000  PL
    END-POINT  2423.8790  354.5059  379.4350  6.0000  PL
    ITEM-CODE  329
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2423.8790  354.5059  379.4350  6.0000  PL
    END-POINT  2423.7490  354.5059  379.4350  6.0000  PL
    SKEY COCP
    ITEM-CODE  328
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2423.7490  354.5059  379.4350  6.0000  PL
    END-POINT  2390.3112  354.5059  379.4350  6.0000  PL
    ITEM-CODE  302
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-57
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  3949.4483  484.0369  406.0774  6.0000  PL
    END-POINT  3953.8663  462.4861  406.1875  6.0000  PL
    ITEM-CODE  321
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-57
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-58
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  4007.3412  332.8938  404.0000  6.0000  PL
    END-POINT  3955.9968  455.5812  406.2260  6.0000  PL
    ITEM-CODE  320
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-58
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-59
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
ELBOW
    END-POINT  2483.0870  1291.3333  216.5937  6.0000  PL
    END-POINT  2479.3314  1289.7777  216.5937  6.0000  PL
    CENTRE-POINT  2480.8870  1291.3333  216.5937
    SKEY ELPL
    ITEM-CODE  293
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-59
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  2479.3314  1289.7777  216.5937  6.0000  PL
    END-POINT  2470.8955  1281.3417  216.5937  6.0000  PL
    ITEM-CODE  319
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-59
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-60
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  2468.0670  1282.5133  216.5937  6.0000  PL
    END-POINT  2468.0670  1293.0133  216.5937  6.0000  PL
    ITEM-CODE  318
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-61
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2468.0670  892.8290  216.5938  6.0000  PL
    END-POINT  2468.0670  892.8290  235.0938  24.0000  PL
    SKEY NCPL
    ITEM-CODE  318
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-62
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2468.0670  1012.8290  216.5938  6.0000  PL
    END-POINT  2468.0670  1012.8290  235.0938  24.0000  PL
    SKEY NCPL
    ITEM-CODE  317
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-62
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-63
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2468.0670  1132.8290  216.5938  6.0000  PL
    END-POINT  2468.0670  1132.8290  235.0938  24.0000  PL
    SKEY NCPL
    ITEM-CODE  316
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-64
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2468.0670  1269.5133  216.5937  6.0000  PL
    END-POINT  2468.0670  1269.5133  235.0937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  315
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-64
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-65
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4082.9257  -117.5236  398.0552  6.0000  PL
    END-POINT  4082.9257  -117.5236  416.5552  24.0000  PL
    SKEY NCPL
    ITEM-CODE  314
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-65
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-66
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4082.9256  -237.5230  397.0585  6.0000  PL
    END-POINT  4082.9256  -237.5230  415.5585  24.0000  PL
    SKEY NCPL
    ITEM-CODE  313
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-66
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-67
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4082.9256  -357.5223  396.0617  6.0000  PL
    END-POINT  4082.9256  -357.5223  414.5617  24.0000  PL
    SKEY NCPL
    ITEM-CODE  312
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-67
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-68
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4082.9256  -441.2058  395.3666  6.0000  PL
    END-POINT  4082.9256  -441.2058  413.8666  24.0000  PL
    SKEY NCPL
    ITEM-CODE  311
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-68
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-69
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2458.8570  354.5059  379.4350  6.0000  PL
    END-POINT  2458.8570  354.5059  397.9350  24.0000  PL
    SKEY NCPL
    ITEM-CODE  310
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-69
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-70
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2468.0670  720.3732  355.9500  6.0000  PL
    END-POINT  2468.0670  720.3732  374.4500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  309
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-70
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-71
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3950.4525  479.1387  406.1025  6.0000  PL
    END-POINT  3950.4525  479.1387  424.6025  24.0000  PL
    SKEY NCPL
    ITEM-CODE  308
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-71
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-72
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  3980.7039  396.5437  405.1548  6.0000  PL
    END-POINT  3980.7039  396.5437  423.6548  24.0000  PL
    SKEY NCPL
    ITEM-CODE  307
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-72
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-73
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  4005.4109  337.5062  404.0837  6.0000  PL
    END-POINT  4005.4109  337.5062  422.5837  24.0000  PL
    SKEY NCPL
    ITEM-CODE  306
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-73
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-74
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2475.7959  1286.2421  216.5937  6.0000  PL
    END-POINT  2475.7959  1286.2421  235.0937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  305
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-74
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-75
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  2468.0670  1287.5133  216.5937  6.0000  PL
    END-POINT  2468.0670  1287.5133  235.0937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  304
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-75
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!