ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
COUPLING
    END-POINT  2689.9029  1341.9820  291.9062  6.0000  PL
    END-POINT  2689.9029  1341.9820  291.7762  6.0000  PL
    SKEY COCP
    ITEM-CODE  66
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2689.9029  1341.9820  291.7762  6.0000  PL
    END-POINT  2689.9029  1341.9820  272.1743  6.0000  PL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2689.9029  1341.9820  272.1743  6.0000  PL
    END-POINT  2689.9029  1341.9820  272.0443  6.0000  PL
    SKEY COCP
    ITEM-CODE  64
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2689.9029  1341.9820  272.0443  6.0000  PL
    END-POINT  2689.9029  1341.9820  244.7725  6.0000  PL
    ITEM-CODE  16
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2689.9029  1341.9820  244.7725  6.0000  PL
    END-POINT  2685.6929  1341.9820  240.5625  6.0000  PL
    CENTRE-POINT  2689.9029  1341.9820  240.5625
    SKEY ERPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2685.6929  1341.9820  240.5625  6.0000  PL
    END-POINT  2559.8707  1341.9820  240.5625  6.0000  PL
    ITEM-CODE  69
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2559.8707  1341.9820  240.5625  6.0000  PL
    END-POINT  2559.7407  1341.9820  240.5625  6.0000  PL
    SKEY COCP
    ITEM-CODE  68
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2559.7407  1341.9820  240.5625  6.0000  PL
    END-POINT  2433.7886  1341.9820  240.5625  6.0000  PL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2433.7886  1341.9820  240.5625  6.0000  PL
    END-POINT  2429.5786  1337.7720  240.5625  6.0000  PL
    CENTRE-POINT  2429.5786  1341.9820  240.5625
    SKEY ERPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2429.5786  1337.7720  240.5625  6.0000  PL
    END-POINT  2429.5786  1285.0529  240.5625  6.0000  PL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2429.5786  1285.0529  240.5625  6.0000  PL
    END-POINT  2429.5786  1284.9229  240.5625  6.0000  PL
    SKEY COCP
    ITEM-CODE  54
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2429.5786  1284.9229  240.5625  6.0000  PL
    END-POINT  2429.5786  1118.7438  240.5625  6.0000  PL
    ITEM-CODE  5
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2429.5786  1118.7438  240.5625  6.0000  PL
    END-POINT  2429.5786  1118.6138  240.5625  6.0000  PL
    SKEY COCP
    ITEM-CODE  57
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2429.5786  1118.6138  240.5625  6.0000  PL
    END-POINT  2429.5786  878.6138  240.5625  6.0000  PL
    ITEM-CODE  6
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2429.5786  878.6138  240.5625  6.0000  PL
    END-POINT  2429.5786  878.4838  240.5625  6.0000  PL
    SKEY COCP
    ITEM-CODE  56
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2429.5786  878.4836  240.5625  6.0000  PL
    END-POINT  2429.5786  751.8134  240.5625  6.0000  PL
    ITEM-CODE  7
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2429.5786  751.8134  240.5625  6.0000  PL
    END-POINT  2429.5786  747.6034  244.7725  6.0000  PL
    CENTRE-POINT  2429.5786  747.6034  240.5625
    SKEY ERPL
    ITEM-CODE  9
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2429.5786  747.6034  244.7725  6.0000  PL
    END-POINT  2429.5786  747.6034  310.3400  6.0000  PL
    ITEM-CODE  59
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2429.5786  747.6034  310.3400  6.0000  PL
    END-POINT  2429.5786  747.6034  310.4700  6.0000  PL
    SKEY COCP
    ITEM-CODE  58
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2429.5786  747.6034  310.4700  6.0000  PL
    END-POINT  2429.5786  747.6034  376.1675  6.0000  PL
    ITEM-CODE  10
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  2429.5786  747.6034  376.1675  6.0000  PL
    END-POINT  2429.5786  743.3934  380.3775  6.0000  PL
    CENTRE-POINT  2429.5786  747.6034  380.3775
    SKEY ERPL
    ITEM-CODE  11
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2429.5786  743.3934  380.3775  6.0000  PL
    END-POINT  2429.5786  619.5264  380.3775  6.0000  PL
    ITEM-CODE  61
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2429.5786  619.5264  380.3775  6.0000  PL
    END-POINT  2429.5786  619.3964  380.3775  6.0000  PL
    SKEY COCP
    ITEM-CODE  60
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2429.5786  619.3964  380.3775  6.0000  PL
    END-POINT  2429.5786  495.3994  380.3775  6.0000  PL
    ITEM-CODE  12
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  2429.5786  495.3994  380.3775  6.0000  PL
    END-POINT  2425.3686  491.1894  380.3775  6.0000  PL
    CENTRE-POINT  2429.5786  491.1894  380.3775
    SKEY ERPL
    ITEM-CODE  13
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2425.3686  491.1894  380.3775  6.0000  PL
    END-POINT  2408.7202  491.1894  380.3775  6.0000  PL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2408.7202  491.1894  380.3775  6.0000  PL
    END-POINT  2408.5902  491.1894  380.3775  6.0000  PL
    SKEY COCP
    ITEM-CODE  62
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2408.5902  491.1894  380.3775  6.0000  PL
    END-POINT  2168.5902  491.1894  380.3775  6.0000  PL
    ITEM-CODE  14
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2168.5902  491.1894  380.3775  6.0000  PL
    END-POINT  2168.4602  491.1894  380.3775  6.0000  PL
    SKEY COCP
    ITEM-CODE  111
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2168.4602  491.1894  380.3775  6.0000  PL
    END-POINT  2067.5084  491.1894  380.3775  6.0000  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3816.2773  746.6295  479.2891  6.0000  PL
    END-POINT  3881.8824  648.8106  481.6044  6.0000  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3881.8824  648.8106  481.6044  6.0000  PL
    END-POINT  3881.9548  648.7027  481.6070  6.0000  PL
    SKEY COCP
    ITEM-CODE  109
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3881.9548  648.7027  481.6070  6.0000  PL
    END-POINT  3925.3222  584.0407  483.1375  6.0000  PL
    ITEM-CODE  30
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  4062.8284  177.3973  482.3420  6.0000  PL
    END-POINT  4062.8284  158.3795  482.3296  6.0000  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4062.8613  158.3795  482.3296  6.0000  PL
    END-POINT  4062.8613  158.2495  482.3295  6.0000  PL
    SKEY COCP
    ITEM-CODE  107
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  4034.1600  324.2028  483.0315  6.0000  PL
    END-POINT  4048.0716  254.8884  482.6981  6.0000  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4048.0716  254.8884  482.6981  6.0000  PL
    END-POINT  4048.0972  254.7609  482.6975  6.0000  PL
    SKEY COCP
    ITEM-CODE  105
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4048.0972  254.7609  482.6975  6.0000  PL
    END-POINT  4062.0344  185.3191  482.3634  6.0000  PL
    ITEM-CODE  34
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
COUPLING
    END-POINT  4000.9122  406.1110  483.4252  6.0000  PL
    END-POINT  4000.9622  405.9910  483.4251  6.0000  PL
    SKEY COCP
    ITEM-CODE  99
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4000.9622  405.9910  483.4251  6.0000  PL
    END-POINT  4030.5912  334.8074  483.3710  6.0000  PL
    ITEM-CODE  32
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4030.5912  334.8074  483.3710  6.0000  PL
    END-POINT  4030.6412  334.6874  483.3709  6.0000  PL
    SKEY COCP
    ITEM-CODE  102
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3932.1353  571.3468  483.2705  6.0000  PL
    END-POINT  3950.1639  528.0333  483.5171  6.0000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3950.1639  528.0333  483.5171  6.0000  PL
    END-POINT  3950.2139  527.9133  483.5178  6.0000  PL
    SKEY COCP
    ITEM-CODE  100
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3950.2139  527.9133  483.5178  6.0000  PL
    END-POINT  4000.9095  406.1175  484.2112  6.0000  PL
    ITEM-CODE  31
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4000.9095  406.1175  484.2112  6.0000  PL
    END-POINT  4000.9595  405.9974  484.2119  6.0000  PL
    SKEY COCP
    ITEM-CODE  98
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3779.7560  803.0646  477.1281  6.0000  PL
    END-POINT  3795.7776  778.2506  478.1010  6.0000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3795.7776  778.2506  478.1010  6.0000  PL
    END-POINT  3795.8481  778.1414  478.1053  6.0000  PL
    SKEY COCP
    ITEM-CODE  96
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3795.8481  778.1414  478.1053  6.0000  PL
    END-POINT  3811.8812  753.3095  479.0788  6.0000  PL
    ITEM-CODE  29
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3697.6942  888.4039  470.2355  6.0000  PL
    END-POINT  3734.1432  851.4488  473.3826  6.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3734.1432  851.4488  473.3826  6.0000  PL
    END-POINT  3734.2343  851.3565  473.3904  6.0000  PL
    SKEY COCP
    ITEM-CODE  94
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3734.2343  851.3565  473.3904  6.0000  PL
    END-POINT  3770.7743  814.3091  476.5453  6.0000  PL
    ITEM-CODE  28
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3584.9885  1002.6746  458.2902  6.0000  PL
    END-POINT  3638.4479  948.4729  463.9837  6.0000  PL
    ITEM-CODE  93
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3638.4479  948.4729  463.9837  6.0000  PL
    END-POINT  3638.5390  948.3806  463.9934  6.0000  PL
    SKEY COCP
    ITEM-CODE  92
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3638.5390  948.3806  463.9934  6.0000  PL
    END-POINT  3692.0894  894.0865  469.6966  6.0000  PL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3391.2419  1135.6327  440.7889  6.0000  PL
    END-POINT  3482.4849  1073.8205  448.9949  6.0000  PL
    ITEM-CODE  91
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3482.4849  1073.8205  448.9949  6.0000  PL
    END-POINT  3482.5923  1073.7478  449.0045  6.0000  PL
    SKEY COCP
    ITEM-CODE  90
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3482.5923  1073.7478  449.0045  6.0000  PL
    END-POINT  3573.9427  1011.8629  457.2201  6.0000  PL
    ITEM-CODE  26
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3161.5330  1233.9161  425.4687  6.0000  PL
    END-POINT  3271.7409  1187.4972  432.7368  6.0000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3271.7409  1187.4972  432.7368  6.0000  PL
    END-POINT  3271.8604  1187.4469  432.7447  6.0000  PL
    SKEY COCP
    ITEM-CODE  88
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3271.8604  1187.4469  432.7447  6.0000  PL
    END-POINT  3378.6083  1142.4853  439.7845  6.0000  PL
    ITEM-CODE  25
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3159.6884  1225.7974  425.9486  6.0000  PL
    END-POINT  3152.2144  1228.9454  425.2258  6.0000  PL
    ITEM-CODE  85
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3152.2144  1228.9454  425.2258  6.0000  PL
    END-POINT  3152.0951  1228.9957  425.2142  6.0000  PL
    SKEY COCP
    ITEM-CODE  84
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  3134.3723  1235.0026  423.6313  6.0000  PL
    END-POINT  3022.3466  1259.9595  415.2664  6.0000  PL
    ITEM-CODE  83
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3022.3466  1259.9595  415.2664  6.0000  PL
    END-POINT  3022.2200  1259.9877  415.2570  6.0000  PL
    SKEY COCP
    ITEM-CODE  82
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3022.2200  1259.9877  415.2570  6.0000  PL
    END-POINT  2886.6599  1290.1875  405.1347  6.0000  PL
    ITEM-CODE  22
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2886.6599  1290.1875  405.1347  6.0000  PL
    END-POINT  2886.5333  1290.2157  405.1253  6.0000  PL
    SKEY COCP
    ITEM-CODE  79
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  2856.3041  1295.5077  402.9881  6.0000  PL
    END-POINT  2780.4648  1297.2319  398.5497  6.0000  PL
    ITEM-CODE  77
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2780.4648  1297.2319  398.5497  6.0000  PL
    END-POINT  2780.3351  1297.2349  398.5421  6.0000  PL
    SKEY COCP
    ITEM-CODE  76
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2780.3351  1297.2349  398.5421  6.0000  PL
    END-POINT  2693.9553  1299.1987  393.4868  6.0000  PL
    ITEM-CODE  20
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2693.9547  1299.1955  393.4955  6.0000  PL
    END-POINT  2689.8479  1303.4998  393.2500  6.0000  PL
    CENTRE-POINT  2689.7529  1299.2908  393.2500
    SKEY ERPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2689.8479  1303.4998  393.2500  6.0000  PL
    END-POINT  2689.9082  1306.1693  393.2500  6.0000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  2689.9825  1314.1682  393.2500  6.0000  PL
    END-POINT  2689.9825  1320.5050  393.2500  6.0000  PL
    ITEM-CODE  75
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2689.9567  1320.5050  393.2500  6.0000  PL
    END-POINT  2689.9567  1320.6350  393.2500  6.0000  PL
    SKEY COCP
    ITEM-CODE  74
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
ELBOW-REDUCING
    END-POINT  2689.9135  1337.7720  393.2500  6.0000  PL
    END-POINT  2689.9029  1341.9820  389.0400  6.0000  PL
    CENTRE-POINT  2689.9029  1341.9820  393.2500
    SKEY ERPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2689.9029  1341.9820  389.0400  6.0000  PL
    END-POINT  2689.9029  1341.9820  361.7932  6.0000  PL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2689.9029  1341.9820  361.7932  6.0000  PL
    END-POINT  2689.9029  1341.9820  361.6632  6.0000  PL
    SKEY COCP
    ITEM-CODE  72
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2689.9029  1341.9820  361.6632  6.0000  PL
    END-POINT  2689.9029  1341.9820  341.8263  6.0000  PL
    ITEM-CODE  15
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  2689.9029  1341.9820  333.8263  6.0000  PL
    END-POINT  2689.9029  1341.9820  299.9062  6.0000  PL
    ITEM-CODE  67
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  4064.2021  130.2315  482.0210  6.0000  PL
    END-POINT  4081.4499  56.1112  479.4472  6.0000  PL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4081.4499  56.1112  479.4472  6.0000  PL
    END-POINT  4081.4794  55.9847  479.4428  6.0000  PL
    SKEY COCP
    ITEM-CODE  52
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4081.4794  55.9847  479.4428  6.0000  PL
    END-POINT  4098.7861  -18.3888  476.8602  6.0000  PL
    ITEM-CODE  3
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  4100.1523  -28.2305  476.6999  6.0000  PL
    END-POINT  4100.1523  -146.2291  476.1325  6.0000  PL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4100.3555  -146.2291  476.1325  6.0000  PL
    END-POINT  4100.3555  -146.3591  476.1319  6.0000  PL
    SKEY COCP
    ITEM-CODE  50
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4100.3555  -146.3591  476.1319  6.0000  PL
    END-POINT  4100.3555  -269.0434  475.5409  6.0000  PL
    ITEM-CODE  0
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4100.3555  -269.0434  475.5409  6.0000  PL
    END-POINT  4100.3555  -269.1734  475.5403  6.0000  PL
    SKEY COCP
    ITEM-CODE  47
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4100.5667  -269.1736  475.5413  6.0000  PL
    END-POINT  4100.5667  -341.8464  475.1912  6.0000  PL
    ITEM-CODE  1
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4100.5667  -341.8464  475.1912  6.0000  PL
    END-POINT  4100.5667  -341.9764  475.1906  6.0000  PL
    SKEY COCP
    ITEM-CODE  48
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
PIPE
    END-POINT  4100.6919  -411.9599  473.1119  6.0000  PL
    END-POINT  4100.6919  -341.9746  474.3037  6.0000  PL
    ITEM-CODE  2
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4100.6919  -341.9746  474.3037  6.0000  PL
    END-POINT  4100.6919  -341.8446  474.3059  6.0000  PL
    SKEY COCP
    ITEM-CODE  49
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  3819.0623  742.4769  479.3874  6.0000  PL
    END-POINT  3819.0623  742.4769  497.8874  24.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  4062.8284  172.3973  482.3387  6.0000  PL
    END-POINT  4062.8284  172.3973  500.8387  24.0000  PL
    SKEY NCPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  4035.1439  319.3005  483.0079  6.0000  PL
    END-POINT  4035.1439  319.3005  501.5079  24.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  3166.1410  1231.9752  425.7726  6.0000  PL
    END-POINT  3166.1410  1231.9752  444.2726  24.0000  PL
    SKEY NCPL
    ITEM-CODE  44
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  3155.0805  1227.7383  425.5030  6.0000  PL
    END-POINT  3155.0805  1227.7383  444.0030  24.0000  PL
    SKEY NCPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  3129.4920  1236.0898  423.2669  6.0000  PL
    END-POINT  3129.4920  1236.0898  441.7669  24.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  2689.9825  1319.1682  393.2500  6.0000  PL
    END-POINT  2689.9825  1319.1682  411.7500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  2680.6929  1341.9820  240.5625  6.0000  PL
    END-POINT  2680.6929  1341.9820  259.0625  24.0000  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  2420.3686  491.1894  380.3775  6.0000  PL
    END-POINT  2420.3686  491.1894  398.8775  24.0000  PL
    SKEY NCPL
    ITEM-CODE  39
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  2429.5786  738.3934  380.3775  6.0000  PL
    END-POINT  2429.5786  738.3934  398.8775  24.0000  PL
    SKEY NCPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  2429.5786  1332.7720  240.5625  6.0000  PL
    END-POINT  2429.5786  1332.7720  259.0625  24.0000  PL
    SKEY NCPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  4065.3353  125.3616  481.8519  6.0000  PL
    END-POINT  4065.3353  125.3616  500.3519  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  01/09/2016
MISC_COMPONENT
    END-POINT  4100.1523  -33.2305  476.6759  6.0000  PL
    END-POINT  4100.1523  -33.2305  495.1759  24.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!