ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -2198.9787  -4828.1893  1134.4784  6.0000  PL
    END-POINT  -2198.9787  -4830.1893  1134.4704  6.0000  PL
    ITEM-CODE  58
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -2198.9769  -4830.1893  1134.4379  6.0000  PL
    END-POINT  -2198.9769  -4763.3538  1134.1639  6.0000  PL
    ITEM-CODE  71
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2198.9470  -4763.3538  1134.1639  6.0000  PL
    END-POINT  -2198.9470  -4763.2238  1134.1633  6.0000  PL
    SKEY COCP
    ITEM-CODE  5
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2198.9470  -4763.2238  1134.1633  6.0000  PL
    END-POINT  -2198.9470  -4531.3550  1133.2326  6.0000  PL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2198.9433  -4531.3550  1133.2326  6.0000  PL
    END-POINT  -2198.9433  -4531.2250  1133.2321  6.0000  PL
    SKEY COCP
    ITEM-CODE  6
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2198.9433  -4531.2250  1133.2321  6.0000  PL
    END-POINT  -2198.9433  -4294.8689  1132.2833  6.0000  PL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2198.9395  -4294.8689  1132.2833  6.0000  PL
    END-POINT  -2198.9395  -4294.7389  1132.2828  6.0000  PL
    SKEY COCP
    ITEM-CODE  0
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2198.9395  -4294.7389  1132.2828  6.0000  PL
    END-POINT  -2198.9395  -4054.7408  1131.3193  6.0000  PL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2198.9395  -4054.7408  1131.3193  6.0000  PL
    END-POINT  -2198.9395  -4054.6108  1131.3188  6.0000  PL
    SKEY COCP
    ITEM-CODE  39
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2198.9395  -4054.6108  1131.3188  6.0000  PL
    END-POINT  -2198.9395  -4048.0527  1131.2925  6.0000  PL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2198.9355  -4048.0527  1131.2925  6.0000  PL
    END-POINT  -2198.9355  -4047.9227  1131.2920  6.0000  PL
    SKEY COCP
    ITEM-CODE  1
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2198.9355  -4047.9227  1131.2920  6.0000  PL
    END-POINT  -2198.9355  -3807.9247  1130.3286  6.0000  PL
    ITEM-CODE  41
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2198.9355  -3807.9247  1130.3286  6.0000  PL
    END-POINT  -2198.9355  -3807.7947  1130.3280  6.0000  PL
    SKEY COCP
    ITEM-CODE  42
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -2194.9788  -5024.2437  1149.9873  6.0000  PL
    END-POINT  -1954.9803  -5024.1786  1150.8342  6.0000  PL
    ITEM-CODE  60
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1954.9803  -5024.1786  1150.8342  6.0000  PL
    END-POINT  -1954.8503  -5024.1786  1150.8346  6.0000  PL
    SKEY COCP
    ITEM-CODE  61
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1954.8503  -5024.1786  1150.8346  6.0000  PL
    END-POINT  -1905.3722  -5024.1651  1151.0092  6.0000  PL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1905.3722  -5024.1651  1151.0092  6.0000  PL
    END-POINT  -1901.1633  -5028.3751  1151.0410  6.0000  PL
    CENTRE-POINT  -1901.1622  -5024.1651  1151.0241
    SKEY ERPL
    ITEM-CODE  10
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1901.1633  -5028.3751  1151.0410  6.0000  PL
    END-POINT  -1901.1633  -5115.9800  1151.3927  6.0000  PL
    ITEM-CODE  68
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1901.1626  -5115.9800  1151.3927  6.0000  PL
    END-POINT  -1896.9527  -5120.1899  1151.4265  6.0000  PL
    CENTRE-POINT  -1901.1626  -5120.1899  1151.4096
    SKEY ERPL
    ITEM-CODE  11
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1896.9527  -5120.1899  1151.4265  6.0000  PL
    END-POINT  -1805.0751  -5120.1905  1151.7953  6.0000  PL
    ITEM-CODE  69
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1805.0751  -5120.1905  1151.7953  6.0000  PL
    END-POINT  -1800.8651  -5115.9806  1151.8291  6.0000  PL
    CENTRE-POINT  -1800.8651  -5120.1905  1151.8122
    SKEY ERPL
    ITEM-CODE  12
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1800.8651  -5115.9806  1151.8291  6.0000  PL
    END-POINT  -1800.8651  -5060.1317  1152.0533  6.0000  PL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -1883.3844  -4812.7097  1055.9997  8.0000  PL
    END-POINT  -1883.3844  -4777.4135  1055.9997  8.0000  PL
    ITEM-CODE  67
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -1883.3844  -4818.6897  1055.9997  8.0000  PL
    END-POINT  -1883.3844  -4836.4389  1055.9997  8.0000  PL
    ITEM-CODE  66
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1883.3844  -4836.4389  1055.9997  8.0000  PL
    END-POINT  -1883.3844  -4841.1889  1060.7497  8.0000  PL
    CENTRE-POINT  -1883.3844  -4841.1889  1055.9997
    SKEY ERPL
    ITEM-CODE  7
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1883.3844  -4841.1889  1060.7497  8.0000  PL
    END-POINT  -1883.6852  -4841.1891  1130.9419  8.0000  PL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1883.6852  -4841.1891  1130.9419  8.0000  PL
    END-POINT  -1888.4542  -4841.1891  1135.6728  8.0000  PL
    CENTRE-POINT  -1883.7043  -4841.1891  1135.6918
    SKEY ERPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1888.4542  -4841.1891  1135.6728  8.0000  PL
    END-POINT  -2128.4523  -4841.1891  1134.7093  8.0000  PL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2128.4523  -4841.1891  1134.7093  8.0000  PL
    END-POINT  -2128.9223  -4841.1891  1134.7075  8.0000  PL
    SKEY COCP
    ITEM-CODE  56
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2128.9223  -4841.1891  1134.7075  8.0000  PL
    END-POINT  -2194.9788  -4841.1891  1134.4423  8.0000  PL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -1800.8677  -5056.1356  1156.0693  6.0000  PL
    END-POINT  -1800.9009  -5056.1781  1200.0267  6.0000  PL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -2198.9787  -4852.1892  1134.3821  6.0000  PL
    END-POINT  -2198.9787  -5021.0323  1133.7043  6.0000  PL
    ITEM-CODE  59
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -2198.9787  -5021.0323  1133.7043  6.0000  PL
    END-POINT  -2198.9787  -5027.3923  1133.6788  6.0000  PL
    CENTRE-POINT  -2198.9787  -5024.2123  1133.6915
    BRANCH1-POINT  -2198.9787  -5024.2254  1136.9515  6.0000  PL
    SKEY TEPL
    ITEM-CODE  9
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -2198.9787  -5027.3923  1133.6788  6.0000  PL
    END-POINT  -2198.9787  -5050.1878  1133.5872  6.0000  PL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -2198.9787  -5024.2254  1136.9515  6.0000  PL
    END-POINT  -2198.9787  -5024.2368  1145.9732  6.0000  PL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -2198.9276  -3557.8386  1133.3247  6.0000  PL
    END-POINT  -2198.9276  -3557.8386  1140.4483  6.0000  PL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -2194.9276  -3557.8387  1144.4330  6.0000  PL
    END-POINT  -1954.9294  -3557.8425  1143.5132  6.0000  PL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1954.9294  -3557.8425  1143.5132  6.0000  PL
    END-POINT  -1954.7994  -3557.8425  1143.5127  6.0000  PL
    SKEY COCP
    ITEM-CODE  50
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
ELBOW
    END-POINT  -1953.4097  -3557.8425  1143.5074  6.0000  PL
    END-POINT  -1949.6540  -3556.2870  1143.4901  6.0000  PL
    CENTRE-POINT  -1951.2097  -3557.8426  1143.4990
    SKEY ELPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1949.6540  -3556.2870  1143.4901  6.0000  PL
    END-POINT  -1906.8234  -3513.4578  1143.2470  6.0000  PL
    ITEM-CODE  48
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1906.8234  -3513.4578  1143.2470  6.0000  PL
    END-POINT  -1903.0678  -3511.9022  1143.2293  6.0000  PL
    CENTRE-POINT  -1905.2678  -3511.9022  1143.2382
    SKEY ELPL
    ITEM-CODE  3
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1903.0678  -3511.9022  1143.2293  6.0000  PL
    END-POINT  -1802.8653  -3511.9038  1142.8271  6.0000  PL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
PIPE
    END-POINT  -1798.8654  -3511.9039  1146.8110  6.0000  PL
    END-POINT  -1798.8654  -3511.9039  1200.0000  6.0000  PL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
COUPLING
    END-POINT  -2198.9316  -3806.0539  1130.3211  6.0000  PL
    END-POINT  -2198.9316  -3805.9239  1130.3205  6.0000  PL
    SKEY COCP
    ITEM-CODE  2
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2198.9316  -3805.9239  1130.3205  6.0000  PL
    END-POINT  -2198.9316  -3565.9259  1129.3571  6.0000  PL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2198.9316  -3565.9259  1129.3571  6.0000  PL
    END-POINT  -2198.9316  -3565.7959  1129.3566  6.0000  PL
    SKEY COCP
    ITEM-CODE  44
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2198.9316  -3565.7959  1129.3566  6.0000  PL
    END-POINT  -2198.9316  -3561.8386  1129.3407  6.0000  PL
    ITEM-CODE  45
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9769  -4825.1893  1134.4174  6.0000  PL
    END-POINT  -2198.9769  -4825.1893  1152.9174  24.0000  PL
    SKEY NCPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1800.8651  -5110.9806  1151.8491  6.0000  PL
    END-POINT  -1800.8651  -5110.9806  1170.3491  24.0000  PL
    SKEY NCPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1891.9527  -5120.1899  1151.4465  6.0000  PL
    END-POINT  -1891.9527  -5120.1899  1169.9465  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1901.1633  -5033.3751  1151.0611  6.0000  PL
    END-POINT  -1901.1633  -5033.3751  1169.5611  24.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1883.3844  -4807.7097  1055.9997  8.0000  PL
    END-POINT  -1883.3844  -4807.7097  1076.2497  24.0000  PL
    SKEY NCPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1883.3844  -4823.6897  1055.9997  8.0000  PL
    END-POINT  -1883.3844  -4823.6897  1076.2497  24.0000  PL
    SKEY NCPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9787  -5032.3923  1133.6587  6.0000  PL
    END-POINT  -2198.9787  -5032.3923  1152.1587  24.0000  PL
    SKEY NCPL
    ITEM-CODE  32
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1987.6755  -5024.1875  1150.7188  6.0000  PL
    END-POINT  -1987.6755  -5024.1875  1169.2188  24.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2107.6755  -5024.2200  1150.2954  6.0000  PL
    END-POINT  -2107.6755  -5024.2200  1168.7954  24.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2189.9788  -5024.2424  1150.0049  6.0000  PL
    END-POINT  -2189.9788  -5024.2424  1168.5049  24.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9787  -4936.6107  1134.0432  6.0000  PL
    END-POINT  -2198.9787  -4936.6107  1152.5432  24.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2104.2165  -4841.1891  1134.8066  8.0000  PL
    END-POINT  -2104.2165  -4841.1891  1155.0566  24.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1984.2165  -4841.1891  1135.2883  8.0000  PL
    END-POINT  -1984.2165  -4841.1891  1155.5383  24.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1893.4542  -4841.1891  1135.6527  8.0000  PL
    END-POINT  -1893.4542  -4841.1891  1155.9027  24.0000  PL
    SKEY NCPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9433  -4413.0469  1132.7577  6.0000  PL
    END-POINT  -2198.9433  -4413.0469  1151.2577  24.0000  PL
    SKEY NCPL
    ITEM-CODE  24
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9470  -4647.2894  1133.6980  6.0000  PL
    END-POINT  -2198.9470  -4647.2894  1152.1980  24.0000  PL
    SKEY NCPL
    ITEM-CODE  23
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2071.6687  -3557.8407  1143.9606  6.0000  PL
    END-POINT  -2071.6687  -3557.8407  1162.4606  24.0000  PL
    SKEY NCPL
    ITEM-CODE  22
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2189.9276  -3557.8388  1144.4138  6.0000  PL
    END-POINT  -2189.9276  -3557.8388  1162.9138  24.0000  PL
    SKEY NCPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1946.1185  -3552.7515  1143.4701  6.0000  PL
    END-POINT  -1946.1185  -3552.7515  1161.9701  24.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -1898.0678  -3511.9023  1143.2093  6.0000  PL
    END-POINT  -1898.0678  -3511.9023  1161.7093  24.0000  PL
    SKEY NCPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9316  -3623.8813  1129.5898  6.0000  PL
    END-POINT  -2198.9316  -3623.8813  1148.0898  24.0000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9316  -3743.8813  1130.0715  6.0000  PL
    END-POINT  -2198.9316  -3743.8813  1148.5715  24.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9355  -3866.9883  1130.5657  6.0000  PL
    END-POINT  -2198.9355  -3866.9883  1149.0657  24.0000  PL
    SKEY NCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9355  -3986.9883  1131.0474  6.0000  PL
    END-POINT  -2198.9355  -3986.9883  1149.5474  24.0000  PL
    SKEY NCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9395  -4111.3958  1131.5468  6.0000  PL
    END-POINT  -2198.9395  -4111.3958  1150.0468  24.0000  PL
    SKEY NCPL
    ITEM-CODE  14
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  29/08/2016
MISC_COMPONENT
    END-POINT  -2198.9395  -4231.3958  1132.0285  6.0000  PL
    END-POINT  -2198.9395  -4231.3958  1150.5285  24.0000  PL
    SKEY NCPL
    ITEM-CODE  13
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-37
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!