ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  -2 WG
    DATE-DMY  30/08/2016
MISC-COMPONENT
    END-POINT  0.0000  0.0000  0.0000  0.0000  PL
    END-POINT  0.0000  0.0000  0.0000  0.0000  PL
    SKEY OBPL
    ITEM-CODE 
    ITEM-DESCRIPTION 
    ITEM-ATTRIBUTE0 !!! BAD ITEM !!!
    ITEM-ATTRIBUTE1 CID=[928]
    ITEM-CODE  197
    ITEM-DESCRIPTION  MAPS_SOLID
    ADDITIONAL-ITEM
    PIPING-SPEC  -2 WG
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1709.8344  -3067.6552  136.4500  6.0000  PL
    END-POINT  -1469.8349  -3067.6552  135.9500  6.0000  PL
    ITEM-CODE  191
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1469.8349  -3067.6552  135.9500  6.0000  PL
    END-POINT  -1469.7049  -3067.6552  135.9497  6.0000  PL
    SKEY COCP
    ITEM-CODE  192
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1469.7049  -3067.6552  135.9497  6.0000  PL
    END-POINT  -1229.7054  -3067.6552  135.4497  6.0000  PL
    ITEM-CODE  193
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1229.7054  -3067.6552  135.4497  6.0000  PL
    END-POINT  -1229.5754  -3067.6552  135.4495  6.0000  PL
    SKEY COCP
    ITEM-CODE  194
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1229.5754  -3067.6552  135.4495  6.0000  PL
    END-POINT  -1099.7528  -3067.6552  135.1790  6.0000  PL
    ITEM-CODE  195
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1091.7528  -3067.6552  135.1623  6.0000  PL
    END-POINT  -1052.6329  -3067.6552  135.0808  6.0000  PL
    ITEM-CODE  173
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1052.6329  -3067.6552  135.0806  6.0000  PL
    END-POINT  -1052.5029  -3067.6552  135.0806  6.0000  PL
    SKEY COCP
    ITEM-CODE  172
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -1052.5029  -3067.6552  135.0806  6.0000  PL
    END-POINT  -1047.9529  -3067.6552  135.0806  4.0000  PL
    SKEY RCPL
    ITEM-CODE  116
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -1047.9529  -3067.6552  135.0806  4.0000  PL
    END-POINT  -836.7164  -3067.6552  134.6310  4.0000  PL
    ITEM-CODE  190
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  179.5272  -3067.6535  151.0763  4.0000  PL
    END-POINT  179.5148  -3067.6412  122.1356  4.0000  PL
    ITEM-CODE  189
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  162.0610  -3067.6558  159.1127  3.0000  PL
    END-POINT  162.0652  -3067.6570  166.4706  3.0000  PL
    ITEM-CODE  188
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  166.0587  -3067.6552  155.1044  4.0000  PL
    END-POINT  175.5289  -3067.6552  155.0847  4.0000  PL
    ITEM-CODE  187
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  162.0675  -3071.6576  170.4612  3.0000  PL
    END-POINT  162.0675  -3089.7562  170.4190  3.0000  PL
    ITEM-CODE  186
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
VALVE
    END-POINT  162.0675  -3089.7562  170.4190  3.0000  PL
    END-POINT  162.0675  -3093.6062  170.4100  3.0000  PL
    CENTRE-POINT  162.0675  -3091.6812  170.4145
    SKEY VVPL
    ITEM-CODE  117
    ITEM-DESCRIPTION  No9212 - Ball Valve (SLD)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[868]
PIPE
    END-POINT  162.0675  -3093.6062  170.4100  3.0000  PL
    END-POINT  162.0675  -3110.1578  170.3760  3.0000  PL
    ITEM-CODE  185
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -828.6694  -3067.6552  157.1767  4.0000  PL
    END-POINT  -588.6699  -3067.6552  156.6768  4.0000  PL
    ITEM-CODE  176
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -588.6699  -3067.6552  156.6768  4.0000  PL
    END-POINT  -588.4599  -3067.6552  156.6763  4.0000  PL
    SKEY COCP
    ITEM-CODE  177
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -588.4599  -3067.6552  156.6763  4.0000  PL
    END-POINT  -348.4605  -3067.6552  156.1763  4.0000  PL
    ITEM-CODE  178
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -348.4605  -3067.6552  156.1763  4.0000  PL
    END-POINT  -348.2505  -3067.6552  156.1759  4.0000  PL
    SKEY COCP
    ITEM-CODE  179
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -348.2505  -3067.6552  156.1759  4.0000  PL
    END-POINT  -108.2510  -3067.6552  155.6759  4.0000  PL
    ITEM-CODE  180
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -108.2510  -3067.6552  155.6759  4.0000  PL
    END-POINT  -108.0410  -3067.6552  155.6754  4.0000  PL
    SKEY COCP
    ITEM-CODE  181
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -108.0410  -3067.6552  155.6754  4.0000  PL
    END-POINT  131.9585  -3067.6552  155.1754  4.0000  PL
    ITEM-CODE  182
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  131.9585  -3067.6552  155.1754  4.0000  PL
    END-POINT  132.1685  -3067.6552  155.1750  4.0000  PL
    SKEY COCP
    ITEM-CODE  183
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  132.1685  -3067.6552  155.1750  4.0000  PL
    END-POINT  158.0587  -3067.6552  155.1211  4.0000  PL
    ITEM-CODE  184
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -832.7188  -3067.6552  130.6227  4.0000  PL
    END-POINT  -832.7285  -3067.6552  114.0042  4.0000  PL
    ITEM-CODE  175
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -832.7081  -3067.6552  138.6227  4.0000  PL
    END-POINT  -832.6777  -3067.6552  153.1851  4.0000  PL
    ITEM-CODE  174
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1095.7367  -3067.6552  147.2695  3.0000  PL
    END-POINT  -1095.7367  -3067.6552  167.1597  3.0000  PL
    ITEM-CODE  171
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1095.7359  -3063.6552  171.1680  3.0000  PL
    END-POINT  -1095.7359  -2890.7204  171.5283  3.0000  PL
    ITEM-CODE  159
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1095.7359  -2890.7204  171.5283  3.0000  PL
    END-POINT  -1093.6759  -2888.6604  171.5368  3.0000  PL
    CENTRE-POINT  -1095.7359  -2888.6604  171.5326
    SKEY ERPL
    ITEM-CODE  111
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1093.6759  -2888.6604  171.5368  3.0000  PL
    END-POINT  -1051.6750  -2888.6604  171.6222  3.0000  PL
    ITEM-CODE  170
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1047.6747  -2888.6604  167.6304  3.0000  PL
    END-POINT  -1047.6726  -2888.6625  134.7109  3.0000  PL
    ITEM-CODE  169
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1047.6753  -2888.6604  175.6304  3.0000  PL
    END-POINT  -1047.6773  -2888.6625  204.0000  3.0000  PL
    ITEM-CODE  168
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  179.5309  -3067.6586  159.0763  4.0000  PL
    END-POINT  179.5375  -3067.6655  167.4323  4.0000  PL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  179.5375  -3067.6655  167.4323  4.0000  PL
    END-POINT  179.5380  -3065.0377  170.0678  4.0000  PL
    CENTRE-POINT  179.5367  -3067.6677  170.0623
    SKEY ERPL
    ITEM-CODE  109
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  179.5380  -3065.0377  170.0678  4.0000  PL
    END-POINT  179.5380  -3055.0993  170.0885  4.0000  PL
    ITEM-CODE  158
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  179.5367  -3055.0993  170.0885  4.0000  PL
    END-POINT  179.5367  -3054.8893  170.0889  4.0000  PL
    SKEY COCP
    ITEM-CODE  157
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  179.5367  -3054.8893  170.0889  4.0000  PL
    END-POINT  179.5367  -3051.9193  170.0951  3.0000  PL
    SKEY RCPL
    ITEM-CODE  110
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  179.5367  -3051.9193  170.0951  3.0000  PL
    END-POINT  179.5367  -3049.4593  170.1002  3.0000  PL
    ITEM-CODE  167
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  179.5367  -3049.4593  170.1002  3.0000  PL
    END-POINT  181.5967  -3047.3994  170.1088  3.0000  PL
    CENTRE-POINT  179.5367  -3047.3994  170.1045
    SKEY ERPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  181.5967  -3047.3994  170.1088  3.0000  PL
    END-POINT  219.1615  -3047.3994  170.1871  3.0000  PL
    ITEM-CODE  166
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  219.1615  -3047.3994  170.1871  3.0000  PL
    END-POINT  221.2215  -3045.3394  170.1957  3.0000  PL
    CENTRE-POINT  221.2215  -3047.3994  170.1914
    SKEY ERPL
    ITEM-CODE  114
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  221.2215  -3045.3394  170.1957  3.0000  PL
    END-POINT  221.2215  -2930.4278  170.4351  3.0000  PL
    ITEM-CODE  165
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  221.2216  -2930.4278  170.4351  3.0000  PL
    END-POINT  219.1616  -2928.3678  170.4436  3.0000  PL
    CENTRE-POINT  221.2216  -2928.3678  170.4393
    SKEY ERPL
    ITEM-CODE  113
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  219.1616  -2928.3678  170.4436  3.0000  PL
    END-POINT  181.6204  -2928.3677  170.5218  3.0000  PL
    ITEM-CODE  164
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  181.6204  -2928.3677  170.5218  3.0000  PL
    END-POINT  179.5604  -2926.3077  170.5304  3.0000  PL
    CENTRE-POINT  179.5604  -2928.3677  170.5261
    SKEY ERPL
    ITEM-CODE  112
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  179.5604  -2926.3077  170.5304  3.0000  PL
    END-POINT  179.5604  -2893.4464  170.6012  3.0000  PL
    ITEM-CODE  163
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  179.5553  -2889.4335  166.6098  3.0000  PL
    END-POINT  179.5157  -2889.3301  134.6490  3.0000  PL
    ITEM-CODE  162
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  179.5653  -2889.4594  174.6098  3.0000  PL
    END-POINT  179.6132  -2889.5846  213.2982  3.0000  PL
    ITEM-CODE  161
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1733.7357  -3128.2033  136.6259  6.0000  PL
    END-POINT  -1717.8342  -3128.2033  136.5928  6.0000  PL
    ITEM-CODE  156
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1713.8343  -3124.2033  136.5761  6.0000  PL
    END-POINT  -1713.8343  -3071.6552  136.4667  6.0000  PL
    ITEM-CODE  155
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1737.7348  -3494.4037  137.3972  6.0000  PL
    END-POINT  -1737.7348  -3254.4042  136.8972  6.0000  PL
    ITEM-CODE  152
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1737.7348  -3254.4042  136.8972  6.0000  PL
    END-POINT  -1737.7348  -3254.2742  136.8969  6.0000  PL
    SKEY COCP
    ITEM-CODE  153
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1737.7348  -3254.2742  136.8969  6.0000  PL
    END-POINT  -1737.7348  -3132.2033  136.6426  6.0000  PL
    ITEM-CODE  154
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1803.3953  -3498.4039  131.5423  6.0000  PL
    END-POINT  -1803.3912  -3498.4039  133.5423  6.0000  PL
    ITEM-CODE  151
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1799.3828  -3498.4039  137.5339  6.0000  PL
    END-POINT  -1741.7347  -3498.4037  137.4139  6.0000  PL
    ITEM-CODE  150
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1162.2936  -3067.6552  135.3093  6.0000  PL
    END-POINT  -1162.2936  -3067.6552  153.8093  24.0000  PL
    SKEY NCPL
    ITEM-CODE  150
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1282.2936  -3067.6552  135.5593  6.0000  PL
    END-POINT  -1282.2936  -3067.6552  154.0593  24.0000  PL
    SKEY NCPL
    ITEM-CODE  149
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1402.2936  -3067.6552  135.8093  6.0000  PL
    END-POINT  -1402.2936  -3067.6552  154.3093  24.0000  PL
    SKEY NCPL
    ITEM-CODE  148
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1522.2936  -3067.6552  136.0593  6.0000  PL
    END-POINT  -1522.2936  -3067.6552  154.5593  24.0000  PL
    SKEY NCPL
    ITEM-CODE  147
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1642.2936  -3067.6552  136.3093  6.0000  PL
    END-POINT  -1642.2936  -3067.6552  154.8093  24.0000  PL
    SKEY NCPL
    ITEM-CODE  146
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1704.8344  -3067.6552  136.4396  6.0000  PL
    END-POINT  -1704.8344  -3067.6552  154.9396  24.0000  PL
    SKEY NCPL
    ITEM-CODE  145
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -942.3346  -3067.6552  134.8558  4.0000  PL
    END-POINT  -942.3346  -3067.6552  151.9808  24.0000  PL
    SKEY NCPL
    ITEM-CODE  144
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  171.0587  -3067.6552  155.0940  4.0000  PL
    END-POINT  171.0587  -3067.6552  172.2190  24.0000  PL
    SKEY NCPL
    ITEM-CODE  143
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  162.0675  -3076.6576  170.4496  3.0000  PL
    END-POINT  162.0675  -3076.6576  186.6371  24.0000  PL
    SKEY NCPL
    ITEM-CODE  142
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  87.1947  -3067.6552  155.2687  4.0000  PL
    END-POINT  87.1947  -3067.6552  172.3937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  141
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -32.8053  -3067.6552  155.5187  4.0000  PL
    END-POINT  -32.8053  -3067.6552  172.6437  24.0000  PL
    SKEY NCPL
    ITEM-CODE  140
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -152.8053  -3067.6552  155.7687  4.0000  PL
    END-POINT  -152.8053  -3067.6552  172.8937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  139
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -272.8053  -3067.6552  156.0187  4.0000  PL
    END-POINT  -272.8053  -3067.6552  173.1437  24.0000  PL
    SKEY NCPL
    ITEM-CODE  138
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -392.8053  -3067.6552  156.2687  4.0000  PL
    END-POINT  -392.8053  -3067.6552  173.3937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  137
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -512.8053  -3067.6552  156.5187  4.0000  PL
    END-POINT  -512.8053  -3067.6552  173.6437  24.0000  PL
    SKEY NCPL
    ITEM-CODE  136
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-37
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -632.8053  -3067.6552  156.7687  4.0000  PL
    END-POINT  -632.8053  -3067.6552  173.8937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  135
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -752.8053  -3067.6552  157.0187  4.0000  PL
    END-POINT  -752.8053  -3067.6552  174.1437  24.0000  PL
    SKEY NCPL
    ITEM-CODE  134
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -823.6694  -3067.6552  157.1663  4.0000  PL
    END-POINT  -823.6694  -3067.6552  174.2913  24.0000  PL
    SKEY NCPL
    ITEM-CODE  133
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-40
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1086.7528  -3067.6552  135.1519  6.0000  PL
    END-POINT  -1086.7528  -3067.6552  153.6519  24.0000  PL
    SKEY NCPL
    ITEM-CODE  132
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-41
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1088.6759  -2888.6604  171.5470  3.0000  PL
    END-POINT  -1088.6759  -2888.6604  187.7345  24.0000  PL
    SKEY NCPL
    ITEM-CODE  131
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  186.5967  -3047.3994  170.1192  3.0000  PL
    END-POINT  186.5967  -3047.3994  186.3067  24.0000  PL
    SKEY NCPL
    ITEM-CODE  130
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-43
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  221.2215  -3040.3394  170.2061  3.0000  PL
    END-POINT  221.2215  -3040.3394  186.3936  24.0000  PL
    SKEY NCPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-44
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  214.1616  -2928.3678  170.4541  3.0000  PL
    END-POINT  214.1616  -2928.3678  186.6416  24.0000  PL
    SKEY NCPL
    ITEM-CODE  128
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-45
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  179.5604  -2921.3077  170.5412  3.0000  PL
    END-POINT  179.5604  -2921.3077  186.7287  24.0000  PL
    SKEY NCPL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-46
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1095.7359  -2974.6878  171.3534  3.0000  PL
    END-POINT  -1095.7359  -2974.6878  187.5409  24.0000  PL
    SKEY NCPL
    ITEM-CODE  126
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1095.7359  -3058.6552  171.1784  3.0000  PL
    END-POINT  -1095.7359  -3058.6552  187.3659  24.0000  PL
    SKEY NCPL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-48
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  179.5380  -3060.0377  170.0782  4.0000  PL
    END-POINT  179.5380  -3060.0377  187.2032  24.0000  PL
    SKEY NCPL
    ITEM-CODE  124
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-49
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1728.7357  -3128.2033  136.6155  6.0000  PL
    END-POINT  -1728.7357  -3128.2033  155.1155  24.0000  PL
    SKEY NCPL
    ITEM-CODE  123
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-50
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1713.8343  -3119.2033  136.5657  6.0000  PL
    END-POINT  -1713.8343  -3119.2033  155.0657  24.0000  PL
    SKEY NCPL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-51
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1737.7348  -3250.8035  136.8897  6.0000  PL
    END-POINT  -1737.7348  -3250.8035  155.3897  24.0000  PL
    SKEY NCPL
    ITEM-CODE  121
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-52
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1737.7348  -3370.8035  137.1397  6.0000  PL
    END-POINT  -1737.7348  -3370.8035  155.6397  24.0000  PL
    SKEY NCPL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-53
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1737.7348  -3489.4037  137.3868  6.0000  PL
    END-POINT  -1737.7348  -3489.4037  155.8868  24.0000  PL
    SKEY NCPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-54
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1794.3828  -3498.4039  137.5235  6.0000  PL
    END-POINT  -1794.3828  -3498.4039  156.0235  24.0000  PL
    SKEY NCPL
    ITEM-CODE  118
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-55
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
COUPLING
    END-POINT  184.6518  -5442.1421  158.5530  4.0000  PL
    END-POINT  184.6518  -5442.1421  158.7630  4.0000  PL
    SKEY COCP
    ITEM-CODE  72
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  184.6518  -5442.1421  158.7630  4.0000  PL
    END-POINT  184.6518  -5442.1421  161.7330  3.0000  PL
    SKEY RCPL
    ITEM-CODE  12
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  184.6518  -5442.1421  161.7330  3.0000  PL
    END-POINT  184.6702  -5442.1421  167.5931  3.0000  PL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  184.6702  -5442.1421  167.5931  3.0000  PL
    END-POINT  184.6702  -5444.2021  169.6499  3.0000  PL
    CENTRE-POINT  184.6745  -5442.1421  169.6531
    SKEY ERPL
    ITEM-CODE  11
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  184.6702  -5444.2021  169.6499  3.0000  PL
    END-POINT  184.6702  -5524.6337  169.5265  3.0000  PL
    ITEM-CODE  69
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  184.5920  -5524.6337  169.5265  3.0000  PL
    END-POINT  183.8682  -5526.3734  169.5228  3.0000  PL
    CENTRE-POINT  184.5909  -5525.6537  169.5249
    SKEY ELPL
    ITEM-CODE  1
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  183.8682  -5526.3734  169.5228  3.0000  PL
    END-POINT  180.1382  -5530.0880  169.5119  3.0000  PL
    ITEM-CODE  59
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  180.1382  -5530.0880  169.5119  3.0000  PL
    END-POINT  179.4134  -5531.8278  169.5077  3.0000  PL
    CENTRE-POINT  179.4154  -5530.8078  169.5097
    SKEY ELPL
    ITEM-CODE  2
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  179.4134  -5531.8278  169.5077  3.0000  PL
    END-POINT  179.4134  -5660.9417  169.2458  3.0000  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-56
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-57
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  179.1457  -5664.9414  165.2377  3.0000  PL
    END-POINT  179.1458  -5664.9395  134.0372  3.0000  PL
    ITEM-CODE  107
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-57
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-58
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  179.1457  -5664.9418  173.2377  3.0000  PL
    END-POINT  179.1456  -5664.9439  215.8627  3.0000  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-58
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-59
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1799.1293  -5050.6567  161.3854  6.0000  PL
    END-POINT  -1784.4991  -5050.6567  161.3549  6.0000  PL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-59
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1784.4991  -5050.6567  161.3549  6.0000  PL
    END-POINT  -1780.7435  -5052.2123  161.3457  6.0000  PL
    CENTRE-POINT  -1782.2991  -5050.6567  161.3503
    SKEY ELPL
    ITEM-CODE  0
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-59
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1780.7435  -5052.2123  161.3457  6.0000  PL
    END-POINT  -1774.3277  -5058.6281  161.3268  6.0000  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-59
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-60
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1758.5747  -5074.3810  161.2804  6.0000  PL
    END-POINT  -1755.8633  -5077.0924  161.2724  6.0000  PL
    ITEM-CODE  82
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1755.8633  -5077.0924  161.2724  6.0000  PL
    END-POINT  -1752.1077  -5078.6480  161.2633  6.0000  PL
    CENTRE-POINT  -1754.3077  -5078.6480  161.2679
    SKEY ELPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1752.1077  -5078.6480  161.2633  6.0000  PL
    END-POINT  -1608.9477  -5078.6477  160.9650  6.0000  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1608.9477  -5078.6477  160.9650  6.0000  PL
    END-POINT  -1604.7377  -5082.8577  160.9475  6.0000  PL
    CENTRE-POINT  -1604.7377  -5078.6477  160.9562
    SKEY ERPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1604.7377  -5082.8577  160.9475  6.0000  PL
    END-POINT  -1604.7377  -5322.8572  160.4475  6.0000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1604.7377  -5322.8572  160.4475  6.0000  PL
    END-POINT  -1604.7377  -5322.9872  160.4472  6.0000  PL
    SKEY COCP
    ITEM-CODE  102
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1604.7377  -5322.9872  160.4472  6.0000  PL
    END-POINT  -1604.7377  -5466.4503  160.1483  6.0000  PL
    ITEM-CODE  103
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1604.7370  -5466.4503  160.1483  6.0000  PL
    END-POINT  -1600.5270  -5470.6602  160.1308  6.0000  PL
    CENTRE-POINT  -1604.7370  -5470.6602  160.1396
    SKEY ERPL
    ITEM-CODE  24
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1600.5270  -5470.6602  160.1308  6.0000  PL
    END-POINT  -1360.5276  -5470.6598  159.6308  6.0000  PL
    ITEM-CODE  96
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1360.5276  -5470.6598  159.6308  6.0000  PL
    END-POINT  -1360.3976  -5470.6598  159.6305  6.0000  PL
    SKEY COCP
    ITEM-CODE  97
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1360.3976  -5470.6598  159.6305  6.0000  PL
    END-POINT  -1120.3981  -5470.6594  159.1305  6.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1120.3981  -5470.6594  159.1305  6.0000  PL
    END-POINT  -1120.2681  -5470.6594  159.1302  6.0000  PL
    SKEY COCP
    ITEM-CODE  99
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1120.2681  -5470.6594  159.1302  6.0000  PL
    END-POINT  -1087.9826  -5470.6593  159.0630  6.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1087.9826  -5470.6593  159.0630  6.0000  PL
    END-POINT  -1081.6226  -5470.6593  159.0497  6.0000  PL
    CENTRE-POINT  -1084.8026  -5470.6593  159.0564
    BRANCH1-POINT  -1084.7958  -5470.6593  162.3164  6.0000  PL
    SKEY TEPL
    ITEM-CODE  9
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -1081.6226  -5470.6593  159.0497  6.0000  PL
    END-POINT  -1079.3126  -5470.6593  159.0449  6.0000  PL
    ITEM-CODE  66
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1079.3126  -5470.6593  159.0447  6.0000  PL
    END-POINT  -1079.1826  -5470.6593  159.0447  6.0000  PL
    SKEY COCP
    ITEM-CODE  65
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -1079.1826  -5470.6593  159.0447  6.0000  PL
    END-POINT  -1074.6326  -5470.6593  159.0447  4.0000  PL
    SKEY RCPL
    ITEM-CODE  10
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -1074.6326  -5470.6593  159.0447  4.0000  PL
    END-POINT  -1072.4621  -5470.6593  159.0307  4.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1072.4621  -5470.6593  159.0307  4.0000  PL
    END-POINT  -1070.2770  -5469.7542  159.0253  4.0000  PL
    CENTRE-POINT  -1071.1821  -5470.6593  159.0280
    SKEY ELPL
    ITEM-CODE  23
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1070.2770  -5469.7542  159.0253  4.0000  PL
    END-POINT  -1051.0461  -5450.5232  158.9687  4.0000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1051.0461  -5450.5232  158.9687  4.0000  PL
    END-POINT  -1048.8610  -5449.6181  158.9633  4.0000  PL
    CENTRE-POINT  -1050.1410  -5449.6181  158.9660
    SKEY ELPL
    ITEM-CODE  22
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1048.8610  -5449.6181  158.9633  4.0000  PL
    END-POINT  -1046.4210  -5449.6181  158.9582  4.0000  PL
    ITEM-CODE  93
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1046.4210  -5449.6181  158.9582  4.0000  PL
    END-POINT  -1044.2378  -5449.6200  158.0486  4.0000  PL
    CENTRE-POINT  -1045.1410  -5449.6181  158.9556
    SKEY ELPL
    ITEM-CODE  6
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1044.2378  -5449.6200  158.0486  4.0000  PL
    END-POINT  -1037.8350  -5449.6181  151.6190  4.0000  PL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1037.8350  -5449.6181  151.6190  4.0000  PL
    END-POINT  -1035.6518  -5449.6181  150.7089  4.0000  PL
    CENTRE-POINT  -1036.9318  -5449.6181  150.7120
    SKEY ELPL
    ITEM-CODE  5
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1035.6518  -5449.6181  150.7089  4.0000  PL
    END-POINT  -945.8486  -5449.6180  150.4910  4.0000  PL
    ITEM-CODE  61
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -945.8657  -5449.6180  150.2726  4.0000  PL
    END-POINT  -943.7857  -5449.6180  150.2683  4.0000  PL
    ITEM-CODE  81
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-60
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-61
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -719.2354  -5449.8698  177.4988  4.0000  PL
    END-POINT  -939.0579  -5449.6210  178.0055  4.0000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -939.0579  -5449.6210  178.0055  4.0000  PL
    END-POINT  -941.6964  -5449.6119  175.3846  4.0000  PL
    CENTRE-POINT  -941.6879  -5449.6180  178.0146
    SKEY ERPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -941.6964  -5449.6119  175.3846  4.0000  PL
    END-POINT  -941.7413  -5449.6180  152.3741  4.0000  PL
    ITEM-CODE  80
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -941.7413  -5449.6180  152.3741  4.0000  PL
    END-POINT  -941.7501  -5449.6180  148.1541  4.0000  PL
    CENTRE-POINT  -941.7457  -5449.6180  150.2641
    BRANCH1-POINT  -943.7857  -5449.6180  150.2683  4.0000  PL
    SKEY TEPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -941.7501  -5449.6180  148.1541  4.0000  PL
    END-POINT  -941.8179  -5449.6180  115.6029  4.0000  PL
    ITEM-CODE  79
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -1084.7958  -5470.6593  162.3164  6.0000  PL
    END-POINT  -1084.7912  -5470.6593  164.5463  6.0000  PL
    ITEM-CODE  68
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1084.7909  -5470.6593  164.5463  6.0000  PL
    END-POINT  -1084.7909  -5470.6593  164.6763  6.0000  PL
    SKEY COCP
    ITEM-CODE  67
    ITEM-DESCRIPTION  NoWC-400S - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -1084.7909  -5470.6593  164.6763  6.0000  PL
    END-POINT  -1084.7909  -5470.6593  169.7363  3.0000  PL
    SKEY RCPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -1084.7909  -5470.6593  169.7363  3.0000  PL
    END-POINT  -1084.7633  -5470.6593  177.9400  3.0000  PL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1084.7633  -5470.6593  177.9400  3.0000  PL
    END-POINT  -1084.7633  -5472.7193  180.0000  3.0000  PL
    CENTRE-POINT  -1084.7590  -5470.6593  180.0000
    SKEY ERPL
    ITEM-CODE  7
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1084.7633  -5472.7193  180.0000  3.0000  PL
    END-POINT  -1084.7633  -5475.1593  180.0000  3.0000  PL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-61
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-62
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -707.5744  -5449.8743  169.8284  4.0000  PL
    END-POINT  -712.4070  -5449.8743  174.6611  4.0000  PL
    ITEM-CODE  92
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-62
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-63
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  184.5732  -5442.1421  121.0820  4.0000  PL
    END-POINT  184.6388  -5442.1421  152.5330  4.0000  PL
    ITEM-CODE  71
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  184.6388  -5442.1421  152.5330  4.0000  PL
    END-POINT  184.6476  -5442.1421  156.7530  4.0000  PL
    CENTRE-POINT  184.6432  -5442.1421  154.6430
    BRANCH1-POINT  182.6032  -5442.1400  154.6473  4.0000  PL
    SKEY TEPL
    ITEM-CODE  13
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  182.6032  -5442.1400  154.6473  4.0000  PL
    END-POINT  150.9343  -5442.1083  154.7133  4.0000  PL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  150.9343  -5442.1083  154.7133  4.0000  PL
    END-POINT  148.7473  -5443.0088  154.7186  4.0000  PL
    CENTRE-POINT  149.6543  -5442.1056  154.7159
    SKEY ELPL
    ITEM-CODE  3
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  148.7473  -5443.0088  154.7186  4.0000  PL
    END-POINT  141.8872  -5449.8566  154.7388  4.0000  PL
    ITEM-CODE  60
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  141.8872  -5449.8566  154.7388  4.0000  PL
    END-POINT  139.7011  -5450.7594  154.7441  4.0000  PL
    CENTRE-POINT  140.9811  -5450.7607  154.7415
    SKEY ELPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  139.7011  -5450.7594  154.7441  4.0000  PL
    END-POINT  112.8498  -5450.7314  154.8001  4.0000  PL
    ITEM-CODE  76
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  112.8498  -5450.7314  154.8001  4.0000  PL
    END-POINT  108.6298  -5450.7270  154.8089  4.0000  PL
    CENTRE-POINT  110.7398  -5450.7292  154.8045
    BRANCH1-POINT  110.7440  -5450.7292  156.8445  4.0000  PL
    SKEY TEPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  108.6298  -5450.7270  154.8089  4.0000  PL
    END-POINT  82.5918  -5450.6999  154.8645  4.0000  PL
    ITEM-CODE  83
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  82.5918  -5450.6999  154.8645  4.0000  PL
    END-POINT  80.4077  -5450.6995  155.7719  4.0000  PL
    CENTRE-POINT  81.3118  -5450.6985  154.8658
    SKEY ELPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  80.4077  -5450.6995  155.7719  4.0000  PL
    END-POINT  71.7470  -5450.6892  164.4697  4.0000  PL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  71.7470  -5450.6892  164.4697  4.0000  PL
    END-POINT  69.5642  -5450.6863  165.3805  4.0000  PL
    CENTRE-POINT  70.8442  -5450.6876  165.3772
    SKEY ELPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  69.5642  -5450.6863  165.3805  4.0000  PL
    END-POINT  -170.4351  -5450.4346  165.8825  4.0000  PL
    ITEM-CODE  85
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -170.4351  -5450.4346  165.8825  4.0000  PL
    END-POINT  -170.6451  -5450.4344  165.8829  4.0000  PL
    SKEY COCP
    ITEM-CODE  86
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -170.6451  -5450.4344  165.8829  4.0000  PL
    END-POINT  -410.6444  -5450.1827  166.3849  4.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -410.6444  -5450.1827  166.3849  4.0000  PL
    END-POINT  -410.8544  -5450.1825  166.3853  4.0000  PL
    SKEY COCP
    ITEM-CODE  88
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -410.8544  -5450.1825  166.3853  4.0000  PL
    END-POINT  -650.8538  -5449.9308  166.8873  4.0000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -650.8538  -5449.9308  166.8873  4.0000  PL
    END-POINT  -651.0638  -5449.9306  166.8877  4.0000  PL
    SKEY COCP
    ITEM-CODE  90
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -651.0638  -5449.9306  166.8877  4.0000  PL
    END-POINT  -700.7459  -5449.8785  166.9916  4.0000  PL
    ITEM-CODE  91
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-63
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-64
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  110.7739  -5446.2292  169.1262  3.0000  PL
    END-POINT  110.7739  -5448.6692  169.1262  3.0000  PL
    ITEM-CODE  74
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-64
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  110.7739  -5448.6692  169.1262  3.0000  PL
    END-POINT  110.7653  -5450.7292  167.0662  3.0000  PL
    CENTRE-POINT  110.7696  -5450.7292  169.1262
    SKEY ERPL
    ITEM-CODE  14
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-64
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  110.7653  -5450.7292  167.0662  3.0000  PL
    END-POINT  110.7483  -5450.7292  161.8945  3.0000  PL
    ITEM-CODE  75
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-64
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC
    END-POINT  110.7483  -5450.7292  161.8945  4.0000  PL
    END-POINT  110.7483  -5450.7292  158.9245  3.0000  PL
    SKEY RCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-64
    ITEM-ATTRIBUTE0 CID=[2051]
COUPLING
    END-POINT  110.7483  -5450.7292  158.9245  4.0000  PL
    END-POINT  110.7483  -5450.7292  158.7145  4.0000  PL
    SKEY COCP
    ITEM-CODE  77
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-64
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-65
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
PIPE
    END-POINT  -1803.1535  -5050.6567  0.0000  6.0000  PL
    END-POINT  -1803.1299  -5050.6567  157.3937  6.0000  PL
    ITEM-CODE  58
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-65
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-66
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  179.4134  -5598.8847  169.3717  3.0000  PL
    END-POINT  179.4134  -5598.8847  185.5592  24.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-66
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-67
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  179.4134  -5536.8278  169.4975  3.0000  PL
    END-POINT  179.4134  -5536.8278  185.6850  24.0000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-67
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-68
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1777.2080  -5055.7478  161.3353  6.0000  PL
    END-POINT  -1777.2080  -5055.7478  179.8353  24.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-68
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-69
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1678.0277  -5078.6479  161.1089  6.0000  PL
    END-POINT  -1678.0277  -5078.6479  179.6089  24.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-69
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-70
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1747.1077  -5078.6480  161.2529  6.0000  PL
    END-POINT  -1747.1077  -5078.6480  179.7529  24.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-70
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-71
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1604.7377  -5397.1540  160.2927  6.0000  PL
    END-POINT  -1604.7377  -5397.1540  178.7927  24.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-71
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-72
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1604.7377  -5277.1540  160.5427  6.0000  PL
    END-POINT  -1604.7377  -5277.1540  179.0427  24.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-72
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-73
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1604.7377  -5157.1540  160.7927  6.0000  PL
    END-POINT  -1604.7377  -5157.1540  179.2927  24.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-73
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-74
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1604.7377  -5087.8577  160.9371  6.0000  PL
    END-POINT  -1604.7377  -5087.8577  179.4371  24.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-74
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-75
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1161.7548  -5470.6595  159.2167  6.0000  PL
    END-POINT  -1161.7548  -5470.6595  177.7167  24.0000  PL
    SKEY NCPL
    ITEM-CODE  48
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-75
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-76
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1281.7548  -5470.6597  159.4667  6.0000  PL
    END-POINT  -1281.7548  -5470.6597  177.9667  24.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-76
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-77
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1401.7548  -5470.6599  159.7167  6.0000  PL
    END-POINT  -1401.7548  -5470.6599  178.2167  24.0000  PL
    SKEY NCPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-77
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-78
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1521.7548  -5470.6601  159.9667  6.0000  PL
    END-POINT  -1521.7548  -5470.6601  178.4667  24.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-78
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-79
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1595.5270  -5470.6602  160.1204  6.0000  PL
    END-POINT  -1595.5270  -5470.6602  178.6204  24.0000  PL
    SKEY NCPL
    ITEM-CODE  44
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-79
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-80
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1066.7415  -5466.2187  159.0149  4.0000  PL
    END-POINT  -1066.7415  -5466.2187  176.1399  24.0000  PL
    SKEY NCPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-80
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-81
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -618.0907  -5449.9652  166.8188  4.0000  PL
    END-POINT  -618.0907  -5449.9652  183.9438  24.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-81
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-82
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -498.0908  -5450.0910  166.5678  4.0000  PL
    END-POINT  -498.0908  -5450.0910  183.6928  24.0000  PL
    SKEY NCPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-82
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-83
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -378.0908  -5450.2168  166.3168  4.0000  PL
    END-POINT  -378.0908  -5450.2168  183.4418  24.0000  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-83
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-84
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -258.0909  -5450.3427  166.0658  4.0000  PL
    END-POINT  -258.0909  -5450.3427  183.1908  24.0000  PL
    SKEY NCPL
    ITEM-CODE  39
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-84
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-85
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -138.0909  -5450.4685  165.8148  4.0000  PL
    END-POINT  -138.0909  -5450.4685  182.9398  24.0000  PL
    SKEY NCPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-85
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-86
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -18.0910  -5450.5943  165.5638  4.0000  PL
    END-POINT  -18.0910  -5450.5943  182.6888  24.0000  PL
    SKEY NCPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-86
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-87
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  64.5642  -5450.6810  165.3910  4.0000  PL
    END-POINT  64.5642  -5450.6810  182.5160  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-87
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-88
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  103.6298  -5450.7218  154.8196  4.0000  PL
    END-POINT  103.6298  -5450.7218  171.9446  24.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-88
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-89
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -831.6467  -5449.7425  177.7579  4.0000  PL
    END-POINT  -831.6467  -5449.7425  194.8829  24.0000  PL
    SKEY NCPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-89
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-90
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -724.2354  -5449.8641  177.5103  4.0000  PL
    END-POINT  -724.2354  -5449.8641  194.6353  24.0000  PL
    SKEY NCPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-90
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-91
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  134.7011  -5450.7542  154.7546  4.0000  PL
    END-POINT  134.7011  -5450.7542  171.8796  24.0000  PL
    SKEY NCPL
    ITEM-CODE  32
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-91
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-92
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  177.6032  -5442.1350  154.6577  4.0000  PL
    END-POINT  177.6032  -5442.1350  171.7827  24.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-92
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-93
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  184.6702  -5449.2021  169.6423  3.0000  PL
    END-POINT  184.6702  -5449.2021  185.8298  24.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-93
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-94
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1030.6518  -5449.6181  150.6968  4.0000  PL
    END-POINT  -1030.6518  -5449.6181  167.8218  24.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-94
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-95
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  145.2086  -5446.5411  154.7290  4.0000  PL
    END-POINT  145.2086  -5446.5411  171.8540  24.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-95
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-96
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  180.3253  -5529.9016  169.5124  3.0000  PL
    END-POINT  180.3253  -5529.9016  185.6999  24.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-96
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-97
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  30/08/2016
MISC_COMPONENT
    END-POINT  -1794.1293  -5050.6567  161.3750  6.0000  PL
    END-POINT  -1794.1293  -5050.6567  179.8750  24.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-97
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!