ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/05/2016
CAP
    END-POINT  -3874.0722  318.8314  1120.0000  3.0000  PL
    END-POINT  -3874.0722  318.8314  1120.0000  3.0000  PL
    SKEY KAPL
    ITEM-CODE  11534
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -3874.0722  318.8314  1120.0000  3.0000  PL
    END-POINT  -3874.0722  556.0214  1120.0000  3.0000  PL
    ITEM-CODE  11547
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -3874.0722  556.0214  1120.0000  3.0000  PL
    END-POINT  -3876.1322  558.0814  1120.0000  3.0000  PL
    CENTRE-POINT  -3874.0722  558.0814  1120.0000
    SKEY ERPL
    ITEM-CODE  11535
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -3876.1322  558.0814  1120.0000  3.0000  PL
    END-POINT  -3881.1504  558.0814  1120.0000  3.0000  PL
    ITEM-CODE  11548
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -3881.1504  558.0814  1120.0000  3.0000  PL
    END-POINT  -3883.2104  560.1414  1120.0000  3.0000  PL
    CENTRE-POINT  -3883.2104  558.0814  1120.0000
    SKEY ERPL
    ITEM-CODE  11530
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -3883.2104  560.1414  1120.0000  3.0000  PL
    END-POINT  -3883.2104  577.3061  1120.0000  3.0000  PL
    ITEM-CODE  11546
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -3883.2104  577.3061  1120.0000  3.0000  PL
    END-POINT  -3883.2104  578.5271  1120.0000  3.0000  PL
    CENTRE-POINT  -3883.2104  577.9161  1120.0000
    BRANCH1-POINT  -3883.2104  577.9161  1121.6100  1.0000  PL
    SKEY TEPL
    ITEM-CODE  11531
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -3883.2104  578.5271  1120.0000  3.0000  PL
    END-POINT  -3883.2104  801.0614  1120.0000  3.0000  PL
    ITEM-CODE  11552
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -3883.2104  801.0614  1120.0000  3.0000  PL
    END-POINT  -3883.2104  801.0614  1120.0000  3.0000  PL
    SKEY KAPL
    ITEM-CODE  11539
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2060]
REDUCER-CONCENTRIC
    END-POINT  -3883.2104  577.9161  1121.6100  1.0000  PL
    END-POINT  -3883.2104  577.9161  1122.7200  0.7500  PL
    SKEY RCPL
    ITEM-CODE  11532
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2051]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/05/2016
CAP
    END-POINT  -3883.4238  318.8314  1120.0000  2.5000  PL
    END-POINT  -3883.4238  318.8314  1120.0000  2.5000  PL
    SKEY KAPL
    ITEM-CODE  11558
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -3883.4238  318.8314  1120.0000  2.5000  PL
    END-POINT  -3883.4238  547.0928  1120.0000  2.5000  PL
    ITEM-CODE  11571
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -3883.4238  547.0928  1120.0000  2.5000  PL
    END-POINT  -3885.1438  548.8128  1120.0000  2.5000  PL
    CENTRE-POINT  -3883.4238  548.8128  1120.0000
    SKEY ERPL
    ITEM-CODE  11559
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -3885.1438  548.8128  1120.0000  2.5000  PL
    END-POINT  -3891.3704  548.8128  1120.0000  2.5000  PL
    ITEM-CODE  11572
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -3891.3704  548.8128  1120.0000  2.5000  PL
    END-POINT  -3893.0904  550.5328  1120.0000  2.5000  PL
    CENTRE-POINT  -3893.0904  548.8128  1120.0000
    SKEY ERPL
    ITEM-CODE  11555
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -3893.0904  550.5328  1120.0000  2.5000  PL
    END-POINT  -3893.0904  571.7008  1120.0000  2.5000  PL
    ITEM-CODE  11570
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -3893.0904  571.7008  1120.0000  2.5000  PL
    END-POINT  -3893.0904  572.9218  1120.0000  2.5000  PL
    CENTRE-POINT  -3893.0904  572.3108  1120.0000
    BRANCH1-POINT  -3893.0904  572.3108  1121.2600  1.0000  PL
    SKEY TEPL
    ITEM-CODE  11556
    ITEM-DESCRIPTION  NoWT-600 - Tee (Red-C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  -3893.0904  572.9218  1120.0000  2.5000  PL
    END-POINT  -3893.0904  790.4252  1120.0000  2.5000  PL
    ITEM-CODE  11573
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -3893.0904  790.4252  1120.0000  2.5000  PL
    END-POINT  -3893.0904  790.4252  1120.0000  2.5000  PL
    SKEY KAPL
    ITEM-CODE  11560
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  -3893.0904  572.3108  1121.1562  0.7500  PL
    END-POINT  -3893.0904  572.3108  1121.2462  0.7500  PL
    SKEY COCP
    ITEM-CODE  11561
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -3893.0904  572.3108  1121.2462  0.7500  PL
    END-POINT  -3893.0904  572.3108  1139.4900  0.7500  PL
    ITEM-CODE  11574
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -3893.0904  572.3108  1139.4900  0.7500  PL
    END-POINT  -3892.5804  572.3108  1140.0000  0.7500  PL
    CENTRE-POINT  -3893.0904  572.3108  1140.0000
    SKEY ERPL
    ITEM-CODE  11562
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -3892.5804  572.3108  1140.0000  0.7500  PL
    END-POINT  -3872.8018  572.3108  1140.0000  0.7500  PL
    ITEM-CODE  11575
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
VALVE
    END-POINT  -3872.8018  572.3108  1140.0000  0.7500  PL
    END-POINT  -3871.5418  572.3108  1140.0000  0.7500  PL
    CENTRE-POINT  -3872.1718  572.3108  1140.0000
    SKEY VVPL
    ITEM-CODE  11553
    ITEM-DESCRIPTION  No9212 - Ball Valve (SLD)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[868]
PIPE
    END-POINT  -3871.5418  572.3108  1140.0000  0.7500  PL
    END-POINT  -3775.9233  572.3108  1140.0000  0.7500  PL
    ITEM-CODE  11569
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -3775.9233  572.3108  1140.0000  0.7500  PL
    END-POINT  -3775.9233  572.3108  1140.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  11554
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2060]
REDUCER-CONCENTRIC
    END-POINT  -3893.0904  572.3108  1121.2600  1.0000  PL
    END-POINT  -3893.0904  572.3108  1122.3700  0.7500  PL
    SKEY RCPL
    ITEM-CODE  11557
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2051]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/05/2016
COUPLING
    END-POINT  -3883.2104  577.9161  1121.3125  0.7500  PL
    END-POINT  -3883.2104  577.9161  1121.4025  0.7500  PL
    SKEY COCP
    ITEM-CODE  11533
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -3883.2104  577.9161  1121.4025  0.7500  PL
    END-POINT  -3883.2104  577.9161  1139.4900  0.7500  PL
    ITEM-CODE  11549
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -3883.2104  577.9161  1139.4900  0.7500  PL
    END-POINT  -3882.7004  577.9161  1140.0000  0.7500  PL
    CENTRE-POINT  -3883.2104  577.9161  1140.0000
    SKEY ERPL
    ITEM-CODE  11536
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -3882.7004  577.9161  1140.0000  0.7500  PL
    END-POINT  -3872.8018  577.9161  1140.0000  0.7500  PL
    ITEM-CODE  11550
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
VALVE
    END-POINT  -3872.8018  577.9161  1140.0000  0.7500  PL
    END-POINT  -3871.5418  577.9161  1140.0000  0.7500  PL
    CENTRE-POINT  -3872.1718  577.9161  1140.0000
    SKEY VVPL
    ITEM-CODE  11537
    ITEM-DESCRIPTION  No9212 - Ball Valve (SLD)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[868]
PIPE
    END-POINT  -3871.5418  577.9161  1140.0000  0.7500  PL
    END-POINT  -3775.9233  577.9161  1140.0000  0.7500  PL
    ITEM-CODE  11551
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -3775.9233  577.9161  1140.0000  0.7500  PL
    END-POINT  -3775.9233  577.9161  1140.0000  0.7500  PL
    SKEY KAPL
    ITEM-CODE  11538
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]