<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{if segment_1 == ''}
<meta name="google-site-verification" content="Zb57AWpSadpFlu1rxsrjXU85_NCbxCDeXy9TjPhYmtI" />
{/if}

<title>{exp:surgeeo:title entry_id='{embed:entryid}' fallback='{embed:title}'}</title>
<meta name="description" content="{exp:surgeeo:description entry_id='{embed:entryid}' fallback='{embed:description}'}" />


<link type="text/css" rel="stylesheet" href="/styles/main.css" />
<link type="text/css" rel="stylesheet" href="/styles/home.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,700,600,800' rel='stylesheet' type='text/css'>
<style>
html, body, #container p {
font-family:'Open Sans',Arial, Helvetica, sans-serif;
font-weight:600;
}
html strong {
font-weight:800;
}
#home-featured {
padding-top:35px;	
}
.home-intro p {
font-size:15px;	
line-height:26px;
}
#container .section p,#container .section ul,#container .section ol,#container .section li {
font-size:15px;	
line-height:26px;
}
#sidebar p {
line-height:21px;
font-size:13px !important;
padding-right:15px;	
}
.home-featured-features {
top:8px;	
}
</style>
</head>
