{embed="includes/doctype"}
{embed="includes/head" title="Company" description="Engineering and consulting services specializing in pipe support engineering/design and pipe flexibility analysis for major piping installations"}
<body>
<div id="container">
{embed="includes/header"}
    <div id="container-body">
        <div id="banner-featured-container">
        <div id="banner-featured-holder">
        	<div id="banner-featured">
           	  <div class="banner-featured-info">
            	<h1>Company</h1>
                <div class="page-subheading"><strong>Over 40 Years of Experience in Engineering of Pipe Support Systems</strong></div>
                </div>
            </div>
          </div>
        </div>
        <div id="container-content">
        {!--
        <div id="side-col">
        &nbsp;
        </div>
        --}

      <div id="main">
               	<h2>About Fenny Engineering Company</h2>
       	<p>Fenny  Engineering was founded in 1988 by John W. Fenny, P.E.  in E. Providence, Rhode  Island to provide engineering services for the power and waste/water treatment  industries – specifically piping stress analysis and pipe support design.  In 1991 a software group was added which specialized in the software development  of pipe support design and detailing. This  company produced the first PC based software which created automated support  design and detailing complete with bills of materials utilizing AutoCAD as the  end product for the final detail drawing.   In 2000 Fenny Engineering relocated it's main office to Venice, Florida.  </p>
       	<h3>The company has engineering support personnel  in the following locations.</h3>
       	<p>Venice,  Florida<br>
       	  Billerica,  Massachusetts<br>
       	  Montgomery,  Texas<br>
       	  Little  Compton, Rhode Island<br>
       	  Cary, North  Carolina<br>
   	    Diamond Bar,  California<br>
   	    Derry, New 
       	Hampshire</p>
      </div>
        {embed="includes/sidebar"}
    </div>
{embed="includes/footer"}
</div>
{embed="includes/pages-bottom"}
</body>
</html>
