    <div id="container-footer">
    {if segment_1 == ''}
    	<div id="registration">
        	<div class="reg-title">
                <h4>Professional Engineering Registration</h4>
            </div>
            <div class="reg-info">
                <h4>Licensed in Many States</h4>
                <p> California, Connecticut, Florida, Georgia, Louisiana, Massachusetts, New York, <br />
                North Carolina, Rhode Island, Tennessee, Texas, Virginia </p>
            </div>
            <div class="reg-states">
            <img src="/i/fenny_license2.gif" width="136" height="81" alt="Licensed in Multiple States" />
            </div>
        </div>
        {/if}
        <!--
        <div id="locations">
        	<p align="center"> Venice, Florida &nbsp;|&nbsp; Little Compton, Rhode Island &nbsp;|&nbsp; Montgomery, Texas </p>
        </div>
        -->
    	<div id="footer">
        	<p align="center">Locations: Venice, Florida &nbsp;|&nbsp; Billerica, Massachusetts &nbsp;|&nbsp; Little Compton, Rhode Island &nbsp;|&nbsp; Montgomery, Texas &nbsp;|&nbsp; Cary, North Carolina</p>
        	<p align="center">&copy;{current_time format="%Y"} Fenny Engineering Company &nbsp;|&nbsp;  104 Gondola Park Drive Venice, FL 34292 &nbsp;|&nbsp; 941-488-7188</p>
        	<p align="center">All Rights Reserved. </p>
        </div>
    </div>
