	<div id="container-header">
    	<div id="header">
        	<h1 id="branding"><a href="/" title="Home">Fenny Engineering Company</a></h1>
        </div>
        <div id="container-nav">
        	<div id="navigation">
            	<ul id="nav-main">
                	<li class="nav-item{if segment_1 == ''} active{/if}"><a href="/" class="nav-link" title="Home"><span>Home</span></a></li>
                    <li class="nav-item{if segment_1 == 'services'} current{/if}"><a href="/services/" class="nav-link" title="Services"><span>Services</span></a></li>
                    <li class="nav-item{if segment_1 == 'company'} current{/if}"><a href="/company/" class="nav-link" title="Company"><span>Company</span></a></li>
                    <li class="nav-item{if segment_1 == 'projects'} current{/if}"><a href="/projects/" class="nav-link" title="Projects"><span>Projects</span></a></li>
                    {!--<li class="nav-item{if segment_1 == 'clients'} current{/if}"><a href="/clients/" class="nav-link" title="Clients"><span>Clients</span></a></li>--}
                    <li class="nav-item{if segment_1 == 'contact'} current{/if}" style="border:0;"><a href="/contact/" class="nav-link" title="Contact"><span>Contact</span></a></li>
                    <li class="nav-item nav-right">1-941-488-7188 &nbsp;|&nbsp; <a href="mailto:jack@fenny.com" style="text-transform:uppercase;">jack@fenny.com</a></li>
                </ul>
                
            </div>
        </div>
    </div>
