        <div id="sidebar">
            <div class="block">
        <h4>Licensed in many states</h4>
        <p><strong>Professional Engineering Licenses</strong> in the following states:</p>
       	<ul>
       	  <li><strong>California</strong></li>
       	  <li><strong>Connecticut</strong></li>
       	  <li><strong>Florida</strong></li>
       	  <li><strong>Georgia</strong></li>
       	  <li><strong>Louisiana</strong></li>
       	  <li><strong>Massachusetts</strong></li>
       	  <li><strong>New York</strong></li>
       	  <li><strong>North Carolina</strong></li>
       	  <li><strong>Rhode Island</strong></li>
       	  <li><strong>Tennessee</strong></li>
       	  <li><strong>Texas</strong></li>
       	  <li><strong>Virginia</strong></li>
   	    </ul>
            </div>
        	<div class="block">
                <h4>Contact Us Today</h4>
                <p>Tell us about your project's piping analysis &amp; piping support needs. </p>
                <p><a href="/contact/">Contact Us</a></p>
        	</div>
        </div>
