{embed="includes/doctype"}
{embed="includes/head" 
	title="Services" 
    description="Engineering and consulting services specializing in pipe support engineering/design and pipe flexibility analysis for major piping installations"
}
<body>
<div id="container">
{embed="includes/header"}
    <div id="container-body">
        <div id="banner-featured-container">
        <div id="banner-featured-holder">
        	<div id="banner-featured">
           	  <div class="banner-featured-info">
            	<h1>Pipe Stress Analysis &amp; Support Design Services</h1>
                <div class="page-subheading"><strong>A leader in pipe stress analysis and pipe support design</strong></div>
                </div>
            </div>
          </div>
        </div>
        <div id="container-content">
      <div id="main">
      <article class="section">
       	<h2>Pipe Flexibility/Stress Analysis </h2>
       	<p>Most project specifications now require their piping layout and support configurations be analyzed for flexibility and ANSI code compliance. These projects also require the specific loading conditions that piping will place on the building structures. The most important function in the analysis of any piping system is to determine the most efficient pipe support arrangement. Our goal is to insure that the piping system has the lowest possible stresses, be within ANSI code allowable stresses, and design a pipe support arrangement that will impose the least amount of load on the  building structure and mechanical equipment connections. Most piping systems must be analyzed for a multiple of load cases – such as those listed below.</p>
          <ul>
            <li><strong>Deadweight</strong></li>
            <li><strong>Thermal</strong></li>
            <li><strong>Pressure</strong></li>
            <li><strong>Seismic</strong></li>
            <li><strong>Wind</strong></li>
            <li><strong>Steam/Water Hammer</strong></li>
            <li><strong>Underground Piping</strong></li>
          </ul>
<p>The software used for our  piping analysis is always the latest version of Bentley Systems&rsquo; AutoPIPE  program.  This software is considered the leader in  this industry.</p>
          </article>
      <article class="section">
          <h2>Pipe Support Engineering &amp; Design</h2>
          <p>We provide full  engineering services for the design and detailing of pipe supports and restraints. Our designs will utilize standard MSS products whenever possible and the client can select their  preferred manufacturer such as: American Pipe Supports, Anvil Int'l, Bergen Pipe Supports,  Carpenter &amp; Paterson, Cooper B-line, and Piping Technology. We have extensive knowledge of the costs of catalog products and steel fabrication, and design our supports and restraints to provide our client with a least cost support system.</p>
          <p>All pipe support designs  are fully detailed using Autodesk's AutoCAD software and can be shown on 8 ½&rdquo;x11&rdquo;, 11&rdquo;x17&rdquo;  or any large drawing format. Each design is completely detailed for shop fabrication and ease of installation.  Such designs include, rigid and spring  supports, guides, anchors, and thrust restraints. For less complex piping systems &quot;typical&quot; support assemblies can be utilized.</p>
      </article>
      </div>
        {embed="includes/sidebar"}
        </div>
    </div>
{embed="includes/footer"}
</div>
{embed="includes/pages-bottom"}
</body>
</html>
