ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE GMU_03_MP-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
COUPLING
    END-POINT  3479.0424  -956.8842  126.8678  1.5000  PL
    END-POINT  3478.9387  -956.9541  126.8678  1.5000  PL
    SKEY COCP
    ITEM-CODE  105
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3478.9387  -956.9541  126.8678  1.5000  PL
    END-POINT  3370.6492  -1029.9083  126.8678  1.5000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  3370.6536  -1029.9148  126.8678  1.5000  PL
    END-POINT  3369.6683  -1030.5786  126.8678  1.5000  PL
    CENTRE-POINT  3370.1609  -1030.2467  126.8678
    BRANCH1-POINT  3370.1609  -1030.2467  127.8058  0.7500  PL
    SKEY TEPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  3369.6639  -1030.5721  126.8678  1.5000  PL
    END-POINT  3269.9426  -1097.7540  126.8678  1.5000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3269.9426  -1097.7540  126.8678  1.5000  PL
    END-POINT  3269.8389  -1097.8238  126.8678  1.5000  PL
    SKEY COCP
    ITEM-CODE  102
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3269.8389  -1097.8238  126.8678  1.5000  PL
    END-POINT  3060.8428  -1238.6237  126.8678  1.5000  PL
    ITEM-CODE  99
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  3060.8428  -1238.6237  126.8678  1.5000  PL
    END-POINT  3059.4117  -1238.3447  126.8678  1.5000  PL
    CENTRE-POINT  3059.9877  -1239.1997  126.8678
    SKEY ERPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  3059.4117  -1238.3447  126.8678  1.5000  PL
    END-POINT  3040.4675  -1210.2249  126.8678  1.5000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3040.4675  -1210.2249  126.8678  1.5000  PL
    END-POINT  3040.3976  -1210.1213  126.8678  1.5000  PL
    SKEY COCP
    ITEM-CODE  96
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3040.3976  -1210.1213  126.8678  1.5000  PL
    END-POINT  2918.9939  -1029.9157  126.8678  1.5000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2918.9920  -1029.9170  126.8678  1.5000  PL
    END-POINT  2918.3283  -1028.9317  126.8678  1.5000  PL
    CENTRE-POINT  2918.6601  -1029.4244  126.8678
    BRANCH1-POINT  2918.6601  -1029.4244  127.8058  0.7500  PL
    SKEY TEPL
    ITEM-CODE  96
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2918.3301  -1028.9305  126.8678  1.5000  PL
    END-POINT  2907.1244  -1012.2973  126.8678  1.5000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2907.1244  -1012.2973  126.8678  1.5000  PL
    END-POINT  2906.1120  -1010.7945  126.8678  1.5000  PL
    CENTRE-POINT  2906.6182  -1011.5459  126.8678
    BRANCH1-POINT  2906.6182  -1011.5459  127.8678  1.2500  PL
    SKEY TEPL
    ITEM-CODE  96
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2906.1120  -1010.7945  126.8678  1.5000  PL
    END-POINT  2899.5978  -1001.1251  126.8678  1.5000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2899.5978  -1001.1251  126.8678  1.5000  PL
    END-POINT  2899.5279  -1001.0214  126.8678  1.5000  PL
    SKEY COCP
    ITEM-CODE  95
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2899.5279  -1001.0214  126.8678  1.5000  PL
    END-POINT  2758.7280  -792.0253  126.8678  1.5000  PL
    ITEM-CODE  93
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2758.7280  -792.0253  126.8678  1.5000  PL
    END-POINT  2759.0070  -790.5942  126.8678  1.5000  PL
    CENTRE-POINT  2758.1520  -791.1702  126.8678
    SKEY ERPL
    ITEM-CODE  95
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2759.0070  -790.5942  126.8678  1.5000  PL
    END-POINT  2836.9136  -738.1088  126.8678  1.5000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2836.9336  -738.0942  126.8678  1.5000  PL
    END-POINT  2837.2126  -736.6630  126.8678  1.5000  PL
    CENTRE-POINT  2837.7886  -737.5181  126.8678
    SKEY ERPL
    ITEM-CODE  99
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2837.2126  -736.6630  126.8678  1.5000  PL
    END-POINT  2811.5047  -698.5920  126.8678  1.5000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2811.5047  -698.5920  126.8678  1.5000  PL
    END-POINT  2810.0733  -698.3146  126.8678  1.5000  PL
    CENTRE-POINT  2810.9277  -697.7376  126.8678
    SKEY ERPL
    ITEM-CODE  99
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2810.0727  -698.3137  126.8678  1.5000  PL
    END-POINT  2732.2226  -750.8829  126.8678  1.5000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2732.2226  -750.8829  126.8678  1.5000  PL
    END-POINT  2730.7912  -750.6054  126.8678  1.5000  PL
    CENTRE-POINT  2731.3682  -751.4598  126.8678
    SKEY ERPL
    ITEM-CODE  95
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2730.7912  -750.6054  126.8678  1.5000  PL
    END-POINT  2706.0919  -714.0280  126.8678  1.5000  PL
    ITEM-CODE  93
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2706.0919  -714.0280  126.8678  2.0000  PL
    END-POINT  2704.4304  -711.5675  126.8678  1.5000  PL
    BRANCH1-POINT  2705.1300  -712.6034  127.5868  0.7500  PL
    SKEY CTFL
    ITEM-CODE  91
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2704.4304  -711.5675  126.8678  2.0000  PL
    END-POINT  2689.5868  -689.5854  126.8678  2.0000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2689.5868  -689.5854  126.8678  2.0000  PL
    END-POINT  2689.5169  -689.4818  126.8678  2.0000  PL
    SKEY COCP
    ITEM-CODE  90
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2689.5169  -689.4818  126.8678  2.0000  PL
    END-POINT  2548.4922  -480.6372  126.8678  2.0000  PL
    ITEM-CODE  88
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2548.4922  -480.6372  126.8678  2.0000  PL
    END-POINT  2548.4223  -480.5336  126.8678  2.0000  PL
    SKEY COCP
    ITEM-CODE  89
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2548.4223  -480.5336  126.8678  2.0000  PL
    END-POINT  2487.9180  -390.9322  126.8678  2.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2487.9015  -390.9434  126.8678  2.0000  PL
    END-POINT  2487.4120  -390.2169  126.8678  2.0000  PL
    CENTRE-POINT  2487.6567  -390.5801  126.8678
    BRANCH1-POINT  2487.6567  -390.5801  128.1178  0.7500  PL
    SKEY TEPL
    ITEM-CODE  89
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2487.4277  -390.2063  126.8678  2.0000  PL
    END-POINT  2478.5782  -377.1008  126.8678  2.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2478.5615  -377.1121  126.8678  2.0000  PL
    END-POINT  2478.0721  -376.3856  126.8678  2.0000  PL
    CENTRE-POINT  2478.3168  -376.7488  126.8678
    BRANCH1-POINT  2478.3168  -376.7488  128.1178  0.7500  PL
    SKEY TEPL
    ITEM-CODE  89
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2478.0879  -376.3749  126.8678  2.0000  PL
    END-POINT  2407.3977  -271.6891  126.8678  2.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2407.3977  -271.6891  126.8678  2.0000  PL
    END-POINT  2407.3277  -271.5855  126.8678  2.0000  PL
    SKEY COCP
    ITEM-CODE  88
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2407.3277  -271.5855  126.8678  2.0000  PL
    END-POINT  2400.2948  -261.1704  126.8678  2.0000  PL
    ITEM-CODE  86
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2400.2948  -261.1704  126.8678  2.0000  PL
    END-POINT  2399.3516  -259.7705  126.8678  2.0000  PL
    CENTRE-POINT  2399.8232  -260.4704  126.8678
    BRANCH1-POINT  2399.8232  -260.4704  128.1178  1.0000  PL
    SKEY TEPL
    ITEM-CODE  88
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2399.3502  -259.7715  126.8678  2.0000  PL
    END-POINT  2266.3031  -62.7409  126.8678  2.0000  PL
    ITEM-CODE  86
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2266.3031  -62.7409  126.8678  2.0000  PL
    END-POINT  2266.2332  -62.6373  126.8678  2.0000  PL
    SKEY COCP
    ITEM-CODE  87
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2266.2332  -62.6373  126.8678  2.0000  PL
    END-POINT  2215.2845  12.8131  126.8678  2.0000  PL
    ITEM-CODE  85
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2215.2845  12.8131  126.8678  2.0000  PL
    END-POINT  2214.7943  13.5390  126.8678  2.0000  PL
    CENTRE-POINT  2215.0394  13.1760  126.8678
    BRANCH1-POINT  2215.0394  13.1760  128.1178  0.7500  PL
    SKEY TEPL
    ITEM-CODE  87
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2214.7943  13.5390  126.8678  2.0000  PL
    END-POINT  2134.0099  133.1733  126.8678  2.0000  PL
    ITEM-CODE  85
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2134.0099  133.1733  126.8678  2.0000  PL
    END-POINT  2133.2231  134.3385  128.2738  2.0000  PL
    CENTRE-POINT  2133.2231  134.3385  126.8678
    SKEY ERPL
    ITEM-CODE  87
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2133.2231  134.3385  128.2738  2.0000  PL
    END-POINT  2133.2231  134.3385  133.4618  2.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2133.2231  134.3385  133.4618  2.0000  PL
    END-POINT  2132.4363  135.5037  134.8678  2.0000  PL
    CENTRE-POINT  2133.2231  134.3385  134.8678
    SKEY ERPL
    ITEM-CODE  107
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2132.4363  135.5037  134.8678  2.0000  PL
    END-POINT  2125.2086  146.2073  134.8678  2.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2125.2086  146.2073  134.8678  2.0000  PL
    END-POINT  2124.5966  147.1135  134.8678  2.0000  PL
    SKEY COCP
    ITEM-CODE  86
    ITEM-DESCRIPTION  No604 - Adapter (CxM)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2124.5966  147.1135  134.8678  2.0000  PL
    END-POINT  2123.5384  148.6807  134.8678  2.0000  PL
    SKEY COCP
    ITEM-CODE  83
    ITEM-DESCRIPTION  No603-2 - Fitting Adapter (FtgxF)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2123.5384  148.6807  134.8678  2.0000  PL
    END-POINT  2123.0328  149.4295  134.8678  2.0000  PL
    SKEY COCP
    ITEM-CODE  81
    ITEM-DESCRIPTION  Dielectric Union LF 3001A
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2123.0328  149.4295  134.8678  2.0000  PL
    END-POINT  2120.7943  152.7445  134.8678  2.0000  PL
    SKEY COCP
    ITEM-CODE  79
    ITEM-DESCRIPTION  No320 - Pipe Nipple (Sch 40)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2120.7943  152.7445  134.8678  2.0000  PL
    END-POINT  2119.8931  154.0789  133.2575  2.0000  PL
    CENTRE-POINT  2119.8931  154.0789  134.8678
    SKEY ELPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  No1101 - Elbow 90
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  2119.8931  154.0789  133.2575  2.0000  PL
    END-POINT  2119.8931  154.0789  128.5010  2.0000  PL
    SKEY COCP
    ITEM-CODE  74
    ITEM-DESCRIPTION  Nipple T.O.E. xMPT
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2119.8931  154.0789  128.5010  2.0000  PL
    END-POINT  2119.8931  154.0789  128.3760  2.0000  PL
    SKEY COCP
    ITEM-CODE  75
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3370.1609  -1030.2467  127.8058  0.7500  PL
    END-POINT  3370.1609  -1030.2467  131.8058  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  3370.1609  -1030.2467  131.8058  0.7500  PL
    END-POINT  3369.7067  -1029.5724  132.3058  0.7500  PL
    CENTRE-POINT  3370.1609  -1030.2467  132.3058
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  3369.7067  -1029.5724  132.3058  0.7500  PL
    END-POINT  3339.5351  -984.7914  132.3058  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2918.6601  -1029.4244  127.8058  0.7500  PL
    END-POINT  2918.6601  -1029.4244  131.8058  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2918.6601  -1029.4244  131.8058  0.7500  PL
    END-POINT  2917.9859  -1029.8786  132.3058  0.7500  PL
    CENTRE-POINT  2918.6601  -1029.4244  132.3058
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2917.9859  -1029.8786  132.3058  0.7500  PL
    END-POINT  2909.2456  -1035.7675  132.3058  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2909.2456  -1035.7675  132.3058  0.7500  PL
    END-POINT  2909.2852  -1036.7211  132.3058  0.7500  PL
    CENTRE-POINT  2908.8310  -1036.0468  132.3058
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2909.2852  -1036.7211  132.3058  0.7500  PL
    END-POINT  2918.6099  -1050.5608  132.3058  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2906.6182  -1011.5459  127.8678  1.2500  PL
    END-POINT  2906.6182  -1011.5459  131.8678  1.2500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2906.6182  -1011.5459  131.8678  1.2500  PL
    END-POINT  2905.8403  -1012.0700  132.8058  1.2500  PL
    CENTRE-POINT  2906.6182  -1011.5459  132.8058
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2905.8403  -1012.0700  132.8058  1.2500  PL
    END-POINT  2804.0603  -1080.6388  132.8058  1.2500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2804.0603  -1080.6388  132.8058  1.2500  PL
    END-POINT  2803.8064  -1081.9408  132.8058  1.2500  PL
    CENTRE-POINT  2803.2824  -1081.1628  132.8058
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2803.8064  -1081.9408  132.8058  1.2500  PL
    END-POINT  2859.6562  -1164.8413  132.8058  1.2500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2705.1300  -712.6034  127.5868  0.7500  PL
    END-POINT  2705.1300  -712.6034  131.5868  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2705.1300  -712.6034  131.5868  0.7500  PL
    END-POINT  2704.4557  -713.0577  132.0868  0.7500  PL
    CENTRE-POINT  2705.1300  -712.6034  132.0868
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2704.4557  -713.0577  132.0868  0.7500  PL
    END-POINT  2695.7154  -718.9465  132.0868  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2695.7154  -718.9465  132.0868  0.7500  PL
    END-POINT  2695.7551  -719.9001  132.0868  0.7500  PL
    CENTRE-POINT  2695.3008  -719.2259  132.0868
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2695.7551  -719.9001  132.0868  0.7500  PL
    END-POINT  2705.0797  -733.7398  132.0868  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2487.6567  -390.5801  128.1178  0.7500  PL
    END-POINT  2487.6567  -390.5801  132.1178  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2487.6567  -390.5801  132.1178  0.7500  PL
    END-POINT  2488.3310  -390.1258  132.6178  0.7500  PL
    CENTRE-POINT  2487.6567  -390.5801  132.6178
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2488.3310  -390.1258  132.6178  0.7500  PL
    END-POINT  2603.5021  -312.5286  132.6178  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2603.5021  -312.5286  132.6178  0.7500  PL
    END-POINT  2604.2285  -312.0391  132.6178  0.7500  PL
    CENTRE-POINT  2603.8653  -312.2838  132.6178
    BRANCH1-POINT  2603.8653  -312.2838  133.0558  0.7500  PL
    SKEY TEPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2604.2285  -312.0391  132.6178  0.7500  PL
    END-POINT  2724.5822  -230.9501  132.6178  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2724.5822  -230.9501  132.6178  0.7500  PL
    END-POINT  2725.4511  -231.3449  132.6178  0.7500  PL
    CENTRE-POINT  2724.9968  -230.6707  132.6178
    SKEY ERPL
    ITEM-CODE  108
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2725.4511  -231.3449  132.6178  0.7500  PL
    END-POINT  2754.4266  -274.3508  132.6178  0.7500  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2478.3168  -376.7488  128.1178  0.7500  PL
    END-POINT  2478.3168  -376.7488  132.1178  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2478.3168  -376.7488  132.1178  0.7500  PL
    END-POINT  2477.6425  -377.2031  132.6178  0.7500  PL
    CENTRE-POINT  2478.3168  -376.7488  132.6178
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2477.6425  -377.2031  132.6178  0.7500  PL
    END-POINT  2460.1620  -388.9807  132.6178  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2399.8232  -260.4704  128.1178  1.0000  PL
    END-POINT  2399.8232  -260.4704  132.1178  1.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2399.8232  -260.4704  132.1178  1.0000  PL
    END-POINT  2400.3673  -260.1039  132.7738  1.0000  PL
    CENTRE-POINT  2399.8232  -260.4704  132.7738
    SKEY ERPL
    ITEM-CODE  92
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2400.3673  -260.1039  132.7738  1.0000  PL
    END-POINT  2472.0690  -211.7944  132.7738  1.0000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2472.0690  -211.7944  132.7738  1.0000  PL
    END-POINT  2473.0543  -211.1306  132.7738  1.0000  PL
    CENTRE-POINT  2472.5616  -211.4625  132.7738
    BRANCH1-POINT  2472.5616  -211.4625  133.4928  0.7500  PL
    SKEY TEPL
    ITEM-CODE  96
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2473.0543  -211.1306  132.7738  1.0000  PL
    END-POINT  2522.0336  -178.1304  132.7738  1.0000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2522.0336  -178.1304  132.7738  1.0000  PL
    END-POINT  2523.1482  -177.3795  132.7738  0.7500  PL
    BRANCH1-POINT  2522.5005  -177.8158  133.4928  0.7500  PL
    SKEY CTFL
    ITEM-CODE  96
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2523.1482  -177.3795  132.7738  0.7500  PL
    END-POINT  2537.5268  -167.6918  132.7738  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2537.5268  -167.6918  132.7738  0.7500  PL
    END-POINT  2537.9414  -167.4124  133.5868  0.7500  PL
    CENTRE-POINT  2537.9414  -167.4124  132.7738
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2537.9414  -167.4124  133.5868  0.7500  PL
    END-POINT  2537.9414  -167.4124  137.5868  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2537.9414  -167.4124  137.5868  0.7500  PL
    END-POINT  2537.9414  -166.9124  138.3998  0.7500  PL
    CENTRE-POINT  2537.9414  -167.4124  138.3998
    SKEY ERPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2537.9414  -166.9124  138.3998  0.7500  PL
    END-POINT  2537.9414  -121.7495  138.3998  0.7500  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2537.9414  -121.7495  138.3998  0.7500  PL
    END-POINT  2538.7544  -121.2495  138.3998  0.7500  PL
    CENTRE-POINT  2537.9414  -121.2495  138.3998
    SKEY ERPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2538.7544  -121.2495  138.3998  0.7500  PL
    END-POINT  2576.9746  -121.2495  138.3998  0.7500  PL
    ITEM-CODE  99
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2215.0394  13.1760  128.1178  0.7500  PL
    END-POINT  2215.0394  13.1760  131.6807  0.7500  PL
    ITEM-CODE  99
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2215.0394  13.1760  131.6807  0.7500  PL
    END-POINT  2215.7130  13.6313  132.1807  0.7500  PL
    CENTRE-POINT  2215.0394  13.1760  132.1807
    SKEY ERPL
    ITEM-CODE  108
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2215.7113  13.6338  132.1807  0.7500  PL
    END-POINT  2251.4287  37.7545  132.1807  0.7500  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2603.8653  -312.2838  133.0558  0.7500  PL
    END-POINT  2603.8653  -312.2838  137.0558  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2603.8653  -312.2838  137.0558  0.7500  PL
    END-POINT  2604.3196  -312.9581  137.5558  0.7500  PL
    CENTRE-POINT  2603.8653  -312.2838  137.5558
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2604.3196  -312.9581  137.5558  0.7500  PL
    END-POINT  2636.1351  -360.1793  137.5558  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2472.5616  -211.4625  133.4928  0.7500  PL
    END-POINT  2472.5616  -211.4625  137.4928  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2472.5616  -211.4625  137.4928  0.7500  PL
    END-POINT  2472.1074  -210.7882  137.9928  0.7500  PL
    CENTRE-POINT  2472.5616  -211.4625  137.9928
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2472.1074  -210.7882  137.9928  0.7500  PL
    END-POINT  2435.8353  -156.9527  137.9928  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2522.5005  -177.8158  133.4928  0.7500  PL
    END-POINT  2522.5005  -177.8158  137.4928  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2522.5005  -177.8158  137.4928  0.7500  PL
    END-POINT  2522.0462  -177.1416  137.9928  0.7500  PL
    CENTRE-POINT  2522.5005  -177.8158  137.9928
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2522.0462  -177.1416  137.9928  0.7500  PL
    END-POINT  2491.4756  -131.7682  137.9928  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2491.4756  -131.7682  137.9928  0.7500  PL
    END-POINT  2491.8704  -130.8993  137.9928  0.7500  PL
    CENTRE-POINT  2491.1962  -131.3535  137.9928
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2491.8704  -130.8993  137.9928  0.7500  PL
    END-POINT  2501.8224  -124.1941  137.9928  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
COUPLING
    END-POINT  3520.8770  -919.0597  126.8678  1.5000  PL
    END-POINT  3520.7734  -919.1295  126.8678  1.5000  PL
    SKEY COCP
    ITEM-CODE  114
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3520.7734  -919.1295  126.8678  1.5000  PL
    END-POINT  3371.1543  -1019.9273  126.8678  1.5000  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  3371.1543  -1019.9273  126.8678  1.5000  PL
    END-POINT  3370.1690  -1020.5911  126.8678  1.5000  PL
    CENTRE-POINT  3370.6616  -1020.2592  126.8678
    BRANCH1-POINT  3370.6616  -1020.2592  127.8058  0.7500  PL
    SKEY TEPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  3370.1690  -1020.5911  126.8678  1.5000  PL
    END-POINT  3311.7772  -1059.9294  126.8678  1.5000  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3311.7772  -1059.9294  126.8678  1.5000  PL
    END-POINT  3311.6735  -1059.9993  126.8678  1.5000  PL
    SKEY COCP
    ITEM-CODE  117
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3311.6785  -1060.0067  126.8678  1.5000  PL
    END-POINT  3102.6824  -1200.8066  126.8678  1.5000  PL
    ITEM-CODE  116
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3102.6774  -1200.7991  126.8678  1.5000  PL
    END-POINT  3102.5737  -1200.8690  126.8678  1.5000  PL
    SKEY COCP
    ITEM-CODE  118
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3102.5737  -1200.8690  126.8678  1.5000  PL
    END-POINT  3063.0065  -1227.5253  126.8678  1.5000  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  3063.0065  -1227.5253  126.8678  1.5000  PL
    END-POINT  3061.5754  -1227.2462  126.8678  1.5000  PL
    CENTRE-POINT  3062.1515  -1228.1013  126.8678
    SKEY ERPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  3061.5754  -1227.2462  126.8678  1.5000  PL
    END-POINT  2922.2701  -1020.4686  126.8678  1.5000  PL
    ITEM-CODE  99
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2922.2701  -1020.4686  126.8678  1.5000  PL
    END-POINT  2921.6063  -1019.4833  126.8678  1.5000  PL
    CENTRE-POINT  2921.9382  -1019.9760  126.8678
    BRANCH1-POINT  2921.9382  -1019.9760  127.8058  0.7500  PL
    SKEY TEPL
    ITEM-CODE  101
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2921.6063  -1019.4833  126.8678  1.5000  PL
    END-POINT  2910.4358  -1002.9024  126.8678  1.5000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2910.4358  -1002.9024  126.8678  1.5000  PL
    END-POINT  2909.2832  -1001.1914  126.8677  1.2500  PL
    BRANCH1-POINT  2909.8944  -1002.0987  127.8367  1.2500  PL
    SKEY CTFL
    ITEM-CODE  102
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2909.2832  -1001.1914  126.8677  1.2500  PL
    END-POINT  2769.7745  -794.1119  126.8677  1.2500  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2769.7756  -794.1112  126.8677  1.2500  PL
    END-POINT  2770.0294  -792.8092  126.8677  1.2500  PL
    CENTRE-POINT  2769.2515  -793.3333  126.8677
    SKEY ERPL
    ITEM-CODE  106
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2770.0294  -792.8092  126.8677  1.2500  PL
    END-POINT  2848.0907  -740.2197  126.8677  1.2500  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2848.0907  -740.2198  126.8677  1.2500  PL
    END-POINT  2848.3446  -738.9178  126.8677  1.2500  PL
    CENTRE-POINT  2848.8687  -739.6957  126.8677
    SKEY ERPL
    ITEM-CODE  110
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2848.3446  -738.9178  126.8677  1.2500  PL
    END-POINT  2813.6259  -687.3831  126.8677  1.2500  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2813.6259  -687.3831  126.8677  1.2500  PL
    END-POINT  2812.3236  -687.1307  126.8677  1.2500  PL
    CENTRE-POINT  2813.1009  -686.6058  126.8677
    SKEY ERPL
    ITEM-CODE  110
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2812.3237  -687.1308  126.8677  1.2500  PL
    END-POINT  2734.2925  -739.8270  126.8677  1.2500  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2734.2925  -739.8270  126.8677  1.2500  PL
    END-POINT  2732.9902  -739.5746  126.8677  1.2500  PL
    CENTRE-POINT  2733.5151  -740.3519  126.8677
    SKEY ERPL
    ITEM-CODE  106
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2732.9891  -739.5753  126.8677  1.2500  PL
    END-POINT  2708.7651  -703.7049  126.8677  1.2500  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2708.7651  -703.7049  126.8677  1.2500  PL
    END-POINT  2708.0308  -702.6177  126.8677  1.2500  PL
    CENTRE-POINT  2708.3979  -703.1613  126.8677
    BRANCH1-POINT  2708.3979  -703.1613  127.6177  0.7500  PL
    SKEY TEPL
    ITEM-CODE  107
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2708.0308  -702.6177  126.8677  1.2500  PL
    END-POINT  2591.9558  -530.7366  126.8677  1.2500  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2591.9558  -530.7366  126.8677  1.2500  PL
    END-POINT  2591.8859  -530.6330  126.8677  1.2500  PL
    SKEY COCP
    ITEM-CODE  106
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2591.8859  -530.6330  126.8677  1.2500  PL
    END-POINT  2498.0096  -391.6232  126.8677  1.2500  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2498.0096  -391.6232  126.8677  1.2500  PL
    END-POINT  2497.2753  -390.5359  126.8677  1.2500  PL
    CENTRE-POINT  2497.6424  -391.0796  126.8677
    BRANCH1-POINT  2497.6424  -391.0796  127.6177  0.7500  PL
    SKEY TEPL
    ITEM-CODE  107
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2497.2753  -390.5359  126.8677  1.2500  PL
    END-POINT  2488.6703  -377.7939  126.8677  1.2500  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2488.6703  -377.7939  126.8677  1.2500  PL
    END-POINT  2487.9360  -376.7066  126.8677  1.2500  PL
    CENTRE-POINT  2488.3032  -377.2502  126.8677
    BRANCH1-POINT  2488.3032  -377.2502  127.6177  0.7500  PL
    SKEY TEPL
    ITEM-CODE  107
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2487.9360  -376.7066  126.8677  1.2500  PL
    END-POINT  2450.8526  -321.7943  126.8677  1.2500  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2450.8526  -321.7943  126.8677  1.2500  PL
    END-POINT  2450.7826  -321.6907  126.8677  1.2500  PL
    SKEY COCP
    ITEM-CODE  107
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2450.7826  -321.6907  126.8677  1.2500  PL
    END-POINT  2403.5116  -251.6928  126.8677  1.2500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2403.5116  -251.6928  126.8677  1.2500  PL
    END-POINT  2402.4795  -250.1647  126.8677  0.7500  PL
    BRANCH1-POINT  2403.0745  -251.0456  127.7737  1.0000  PL
    SKEY CTFL
    ITEM-CODE  108
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2402.4795  -250.1647  126.8677  0.7500  PL
    END-POINT  2261.4463  -41.3260  126.8677  0.7500  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2261.4463  -41.3260  126.8677  0.7500  PL
    END-POINT  2261.3936  -41.2481  126.8677  0.7500  PL
    SKEY COCP
    ITEM-CODE  112
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2261.3936  -41.2481  126.8677  0.7500  PL
    END-POINT  2225.2688  12.2448  126.8677  0.7500  PL
    ITEM-CODE  111
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2225.2688  12.2448  126.8677  0.7500  PL
    END-POINT  2224.9889  12.6591  127.6807  0.7500  PL
    CENTRE-POINT  2224.9889  12.6591  126.8677
    SKEY ERPL
    ITEM-CODE  113
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2224.9889  12.6591  127.6807  0.7500  PL
    END-POINT  2224.9889  12.6591  131.6808  0.7500  PL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2224.9889  12.6591  131.6807  0.7500  PL
    END-POINT  2225.6627  13.1141  132.1807  0.7500  PL
    CENTRE-POINT  2224.9889  12.6591  132.1807
    SKEY ERPL
    ITEM-CODE  117
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2225.6627  13.1141  132.1807  0.7500  PL
    END-POINT  2254.7839  32.7803  132.1807  0.7500  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  3370.6616  -1020.2592  127.8058  0.7500  PL
    END-POINT  3370.6616  -1020.2592  131.8058  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  3370.6616  -1020.2592  131.8058  0.7500  PL
    END-POINT  3370.2074  -1019.5850  132.3058  0.7500  PL
    CENTRE-POINT  3370.6616  -1020.2592  132.3058
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  3370.2074  -1019.5850  132.3058  0.7500  PL
    END-POINT  3343.3867  -979.7773  132.3058  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2921.9281  -1019.9823  127.8367  0.7500  PL
    END-POINT  2921.9281  -1019.9823  131.8368  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2921.9281  -1019.9823  131.8367  0.7500  PL
    END-POINT  2921.2539  -1020.4365  132.3367  0.7500  PL
    CENTRE-POINT  2921.9281  -1019.9823  132.3367
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2921.2539  -1020.4365  132.3367  0.7500  PL
    END-POINT  2900.9120  -1034.1420  132.3367  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2900.9163  -1034.1484  132.3058  0.7500  PL
    END-POINT  2900.9559  -1035.1020  132.3058  0.7500  PL
    CENTRE-POINT  2900.5016  -1034.4278  132.3058
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2900.9559  -1035.1020  132.3058  0.7500  PL
    END-POINT  2913.6313  -1053.9151  132.3058  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2909.8944  -1002.0987  127.8367  1.2500  PL
    END-POINT  2909.8944  -1002.0987  131.8367  1.2500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2909.8944  -1002.0987  131.8367  1.2500  PL
    END-POINT  2909.1165  -1002.6228  132.7747  1.2500  PL
    CENTRE-POINT  2909.8944  -1002.0987  132.7747
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2909.1165  -1002.6228  132.7747  1.2500  PL
    END-POINT  2795.7265  -1079.0132  132.7747  1.2500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2795.7309  -1079.0197  132.8058  1.2500  PL
    END-POINT  2795.4771  -1080.3217  132.8058  1.2500  PL
    CENTRE-POINT  2794.9530  -1079.5438  132.8058
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2795.4771  -1080.3217  132.8058  1.2500  PL
    END-POINT  2854.6773  -1168.1956  132.8058  1.2500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2708.3979  -703.1613  127.6177  0.7500  PL
    END-POINT  2708.3979  -703.1613  131.6178  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2708.3979  -703.1613  131.6177  0.7500  PL
    END-POINT  2707.7237  -703.6156  132.1177  0.7500  PL
    CENTRE-POINT  2708.3979  -703.1613  132.1177
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2707.7237  -703.6156  132.1177  0.7500  PL
    END-POINT  2687.3818  -717.3211  132.1177  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2687.3861  -717.3274  132.0868  0.7500  PL
    END-POINT  2687.4257  -718.2810  132.0868  0.7500  PL
    CENTRE-POINT  2686.9714  -717.6068  132.0868
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2687.4257  -718.2810  132.0868  0.7500  PL
    END-POINT  2700.1011  -737.0942  132.0868  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2497.6424  -391.0796  127.6177  0.7500  PL
    END-POINT  2497.6424  -391.0796  131.6178  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2497.6424  -391.0796  131.6177  0.7500  PL
    END-POINT  2498.3167  -390.6253  132.1177  0.7500  PL
    CENTRE-POINT  2497.6424  -391.0796  132.1177
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2498.3167  -390.6253  132.1177  0.7500  PL
    END-POINT  2601.8778  -320.8503  132.1177  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2601.8778  -320.8503  132.1177  0.7500  PL
    END-POINT  2602.6043  -320.3608  132.1177  0.7500  PL
    CENTRE-POINT  2602.2411  -320.6056  132.1177
    BRANCH1-POINT  2602.2411  -320.6056  132.5557  0.7500  PL
    SKEY TEPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2602.6043  -320.3608  132.1177  0.7500  PL
    END-POINT  2722.9579  -239.2718  132.1177  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2722.9579  -239.2718  132.1177  0.7500  PL
    END-POINT  2723.8269  -239.6666  132.1177  0.7500  PL
    CENTRE-POINT  2723.3726  -238.9924  132.1177
    SKEY ERPL
    ITEM-CODE  108
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2723.8269  -239.6666  132.1177  0.7500  PL
    END-POINT  2749.4532  -277.7016  132.1177  0.7500  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2488.3032  -377.2502  127.6177  0.7500  PL
    END-POINT  2488.3032  -377.2502  131.6178  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2488.3032  -377.2502  131.6177  0.7500  PL
    END-POINT  2487.6289  -377.7045  132.1177  0.7500  PL
    CENTRE-POINT  2488.3032  -377.2502  132.1177
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2487.6289  -377.7045  132.1177  0.7500  PL
    END-POINT  2458.5389  -397.3041  132.1177  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2458.5389  -397.3041  132.1177  0.7500  PL
    END-POINT  2457.6700  -396.9092  132.1177  0.7500  PL
    CENTRE-POINT  2458.1242  -397.5835  132.1177
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2457.6700  -396.9092  132.1177  0.7500  PL
    END-POINT  2440.9053  -372.0269  132.1177  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2403.0745  -251.0456  127.7737  1.0000  PL
    END-POINT  2403.0745  -251.0456  132.1178  1.0000  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2403.0745  -251.0456  132.1178  1.0000  PL
    END-POINT  2403.6185  -250.6791  132.7738  1.0000  PL
    CENTRE-POINT  2403.0745  -251.0456  132.7738
    SKEY ERPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2403.6185  -250.6791  132.7738  1.0000  PL
    END-POINT  2463.7390  -210.1743  132.7738  1.0000  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2463.7396  -210.1753  132.7738  1.0000  PL
    END-POINT  2464.7249  -209.5115  132.7738  1.0000  PL
    CENTRE-POINT  2464.2323  -209.8434  132.7738
    BRANCH1-POINT  2464.2323  -209.8434  133.4928  0.7500  PL
    SKEY TEPL
    ITEM-CODE  96
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2464.7242  -209.5105  132.7738  1.0000  PL
    END-POINT  2513.7042  -176.5114  132.7738  1.0000  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2513.7042  -176.5114  132.7738  1.0000  PL
    END-POINT  2514.8188  -175.7604  132.7738  0.7500  PL
    BRANCH1-POINT  2514.1711  -176.1968  133.4928  0.7500  PL
    SKEY CTFL
    ITEM-CODE  96
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2514.8188  -175.7604  132.7738  0.7500  PL
    END-POINT  2531.5276  -164.5027  132.7738  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2531.5268  -164.5015  132.7738  0.7500  PL
    END-POINT  2531.9414  -164.2221  133.5868  0.7500  PL
    CENTRE-POINT  2531.9414  -164.2221  132.7738
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2531.9414  -164.2221  133.5868  0.7500  PL
    END-POINT  2531.9414  -164.2221  137.5868  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2531.9414  -164.2221  137.5868  0.7500  PL
    END-POINT  2531.9414  -160.9338  138.3998  0.7500  PL
    CENTRE-POINT  2531.9414  -164.2221  138.3998
    SKEY ERPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2602.2411  -320.6056  132.5557  0.7500  PL
    END-POINT  2602.2411  -320.6056  136.5558  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2602.2411  -320.6056  136.5557  0.7500  PL
    END-POINT  2602.6953  -321.2798  137.0557  0.7500  PL
    CENTRE-POINT  2602.2411  -320.6056  137.0557
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2602.6953  -321.2798  137.0557  0.7500  PL
    END-POINT  2631.1618  -363.5301  137.0557  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2464.2323  -209.8434  133.4928  0.7500  PL
    END-POINT  2464.2323  -209.8434  137.4928  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2464.2323  -209.8434  137.4928  0.7500  PL
    END-POINT  2463.7780  -209.1691  137.9928  0.7500  PL
    CENTRE-POINT  2464.2323  -209.8434  137.9928
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2463.7780  -209.1691  137.9928  0.7500  PL
    END-POINT  2430.8568  -160.3070  137.9928  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2514.1711  -176.1968  133.4928  0.7500  PL
    END-POINT  2514.1711  -176.1968  137.4928  0.7500  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2514.1711  -176.1968  137.4928  0.7500  PL
    END-POINT  2513.7168  -175.5225  137.9928  0.7500  PL
    CENTRE-POINT  2514.1711  -176.1968  137.9928
    SKEY ERPL
    ITEM-CODE  100
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2513.7168  -175.5225  137.9928  0.7500  PL
    END-POINT  2483.1462  -130.1491  137.9928  0.7500  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2483.1462  -130.1491  137.9928  0.7500  PL
    END-POINT  2483.5410  -129.2802  137.9928  0.7500  PL
    CENTRE-POINT  2482.8668  -129.7345  137.9928
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2483.5410  -129.2802  137.9928  0.7500  PL
    END-POINT  2498.4715  -119.2207  137.9928  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
ELBOW-REDUCING
    END-POINT  2460.1580  -388.9747  132.1177  0.7500  PL
    END-POINT  2459.2890  -388.5799  132.1177  0.7500  PL
    CENTRE-POINT  2459.7433  -389.2541  132.1177
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2459.2890  -388.5799  132.1177  0.7500  PL
    END-POINT  2445.8787  -368.6760  132.1177  0.7500  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
PIPE
    END-POINT  2531.9414  -163.7221  138.3998  0.7500  PL
    END-POINT  2531.9414  -115.7495  138.3998  0.7500  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2531.9414  -115.7495  138.3998  0.7500  PL
    END-POINT  2532.7544  -115.2495  138.3998  0.7500  PL
    CENTRE-POINT  2531.9414  -115.2495  138.3998
    SKEY ERPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2532.7544  -115.2495  138.3998  0.7500  PL
    END-POINT  2580.7544  -115.2495  138.3998  0.7500  PL
    ITEM-CODE  99
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP-4
    ITEM-ATTRIBUTE0 CID=[2041]