ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE GMU_03_MP_surojit-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
COUPLING
    END-POINT  2670.3279  520.0000  6288.1563  2.5000  PL
    END-POINT  2670.4529  520.0000  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  81
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2670.4529  520.0000  6288.1563  2.5000  PL
    END-POINT  2674.2029  516.2500  6288.1563  2.5000  PL
    CENTRE-POINT  2674.2029  520.0000  6288.1563
    SKEY ELPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  Elbow 90 LR
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  2674.2029  516.2500  6288.1563  2.5000  PL
    END-POINT  2674.2029  516.1250  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  83
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2674.2029  516.1250  6288.1563  2.5000  PL
    END-POINT  2674.2029  291.4630  6288.1563  2.5000  PL
    ITEM-CODE  82
    ITEM-DESCRIPTION  Pipe-A53-CS-(A-ERW)-SCH40-BLK(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2674.2029  291.4630  6288.1563  2.5000  PL
    END-POINT  2674.2029  291.3380  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  85
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2674.2029  291.3380  6288.1563  2.5000  PL
    END-POINT  2674.2029  291.4630  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  85
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2674.2029  291.4630  6288.1563  2.5000  PL
    END-POINT  2674.2029  291.3380  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  85
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  2674.2029  291.3380  6288.1563  2.5000  PL
    END-POINT  2674.2029  285.3380  6288.1563  2.5000  PL
    CENTRE-POINT  2674.2029  288.3380  6288.1563
    BRANCH1-POINT  2676.9529  288.3380  6288.1563  2.0000  PL
    SKEY TEPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Tee Reducing
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  2674.2029  285.3380  6288.1563  2.5000  PL
    END-POINT  2674.2029  285.2130  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  87
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  2674.2029  285.2130  6288.1563  2.5000  PL
    END-POINT  2674.2029  281.7130  6288.1563  2.0000  PL
    SKEY RCPL
    ITEM-CODE  86
    ITEM-DESCRIPTION  Reducer Concentric
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2051]
COUPLING
    END-POINT  2674.2029  281.7130  6288.1563  2.0000  PL
    END-POINT  2674.2029  281.5880  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  90
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2674.2029  281.5880  6288.1563  2.0000  PL
    END-POINT  2674.2029  276.8315  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  89
    ITEM-DESCRIPTION  Nipple T.O.E. xMPT
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2674.2029  276.8315  6288.1563  2.0000  PL
    END-POINT  2674.2029  275.9280  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  92
    ITEM-DESCRIPTION  Dielectric Union LF 3001A
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2674.2029  275.9280  6288.1563  2.0000  PL
    END-POINT  2674.2029  273.1775  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  94
    ITEM-DESCRIPTION  No604-2 - Fitting Adapter (FtgxM)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2674.2029  273.1775  6288.1563  2.0000  PL
    END-POINT  2674.2029  272.2740  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  97
    ITEM-DESCRIPTION  Dielectric Union LF 3001A
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2674.2029  272.2740  6288.1563  2.0000  PL
    END-POINT  2674.2029  168.8791  6288.1563  2.0000  PL
    ITEM-CODE  96
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2674.2029  168.8791  6288.1563  2.0000  PL
    END-POINT  2674.2029  167.1911  6288.1563  2.0000  PL
    CENTRE-POINT  2674.2029  168.0351  6288.1563
    BRANCH1-POINT  2675.4529  168.0351  6288.1563  1.0000  PL
    SKEY TEPL
    ITEM-CODE  98
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2674.2029  167.1911  6288.1563  2.0000  PL
    END-POINT  2674.2029  139.1843  6288.1563  2.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2674.2029  139.1843  6288.1563  2.0000  PL
    END-POINT  2672.7969  137.7783  6288.1563  2.0000  PL
    CENTRE-POINT  2674.2029  137.7783  6288.1563
    SKEY ERPL
    ITEM-CODE  98
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2672.7969  137.7783  6288.1563  2.0000  PL
    END-POINT  2655.3285  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2655.3285  137.7783  6288.1563  2.0000  PL
    END-POINT  2655.2035  137.7783  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  102
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2655.2035  137.7783  6288.1563  2.0000  PL
    END-POINT  2403.2035  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2403.2035  137.7783  6288.1563  2.0000  PL
    END-POINT  2403.0785  137.7783  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  102
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2403.0785  137.7783  6288.1563  2.0000  PL
    END-POINT  2390.2237  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2390.2237  137.7783  6288.1563  2.0000  PL
    END-POINT  2389.3477  137.7783  6288.1563  2.0000  PL
    CENTRE-POINT  2389.7857  137.7783  6288.1563
    BRANCH1-POINT  2389.7857  137.7783  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  103
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2389.3477  137.7783  6288.1563  2.0000  PL
    END-POINT  2360.3959  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2360.3959  137.7783  6288.1563  2.0000  PL
    END-POINT  2359.5199  137.7783  6288.1563  2.0000  PL
    CENTRE-POINT  2359.9579  137.7783  6288.1563
    BRANCH1-POINT  2359.9579  137.7783  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  107
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2359.5199  137.7783  6288.1563  2.0000  PL
    END-POINT  2336.3160  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2336.3160  137.7783  6288.1563  2.0000  PL
    END-POINT  2335.4400  137.7783  6288.1563  2.0000  PL
    CENTRE-POINT  2335.8780  137.7783  6288.1563
    BRANCH1-POINT  2335.8780  137.7783  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  111
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2335.4400  137.7783  6288.1563  2.0000  PL
    END-POINT  2264.3959  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2264.3959  137.7783  6288.1563  2.0000  PL
    END-POINT  2263.5199  137.7783  6288.1563  2.0000  PL
    CENTRE-POINT  2263.9579  137.7783  6288.1563
    BRANCH1-POINT  2263.9579  137.7783  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  111
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2263.5199  137.7783  6288.1563  2.0000  PL
    END-POINT  2133.3160  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2133.3160  137.7783  6288.1563  2.0000  PL
    END-POINT  2132.4400  137.7783  6288.1563  2.0000  PL
    CENTRE-POINT  2132.8780  137.7783  6288.1563
    BRANCH1-POINT  2132.8780  137.7783  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2132.4400  137.7783  6288.1563  2.0000  PL
    END-POINT  1989.8566  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1989.8566  137.7783  6288.1563  2.0000  PL
    END-POINT  1988.9806  137.7783  6288.1563  2.0000  PL
    CENTRE-POINT  1989.4186  137.7783  6288.1563
    BRANCH1-POINT  1989.4186  137.7783  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1988.9806  137.7783  6288.1563  2.0000  PL
    END-POINT  1869.6696  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  121
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1869.6696  137.7783  6288.1563  2.0000  PL
    END-POINT  1868.7936  137.7783  6288.1563  2.0000  PL
    CENTRE-POINT  1869.2316  137.7783  6288.1563
    BRANCH1-POINT  1869.2316  137.7783  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  123
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1868.7936  137.7783  6288.1563  2.0000  PL
    END-POINT  1616.7936  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1616.7936  137.7783  6288.1563  2.0000  PL
    END-POINT  1616.6686  137.7783  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  128
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1616.6686  137.7783  6288.1563  2.0000  PL
    END-POINT  1414.9197  137.7783  6288.1563  2.0000  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1414.9197  137.7783  6288.1563  2.0000  PL
    END-POINT  1413.5137  139.1843  6288.1563  2.0000  PL
    CENTRE-POINT  1413.5137  137.7783  6288.1563
    SKEY ERPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1413.5137  139.1843  6288.1563  2.0000  PL
    END-POINT  1413.5137  232.5598  6288.1563  2.0000  PL
    ITEM-CODE  131
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1413.5137  232.5598  6288.1563  2.0000  PL
    END-POINT  1412.1077  233.9658  6288.1563  2.0000  PL
    CENTRE-POINT  1413.5137  233.9658  6288.1563
    SKEY ERPL
    ITEM-CODE  133
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1412.1077  233.9658  6288.1563  2.0000  PL
    END-POINT  1354.9197  233.9658  6288.1563  2.0000  PL
    ITEM-CODE  135
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1354.9197  233.9658  6288.1563  2.0000  PL
    END-POINT  1353.5137  232.5598  6288.1563  2.0000  PL
    CENTRE-POINT  1353.5137  233.9658  6288.1563
    SKEY ERPL
    ITEM-CODE  137
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1353.5137  232.5598  6288.1563  2.0000  PL
    END-POINT  1353.5137  139.3453  6288.1563  2.0000  PL
    ITEM-CODE  139
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1353.5137  139.3453  6288.1563  2.0000  PL
    END-POINT  1352.1077  137.9393  6288.1563  2.0000  PL
    CENTRE-POINT  1353.5137  137.9393  6288.1563
    SKEY ERPL
    ITEM-CODE  141
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1352.1077  137.9393  6288.1563  2.0000  PL
    END-POINT  1100.1077  137.9393  6288.1563  2.0000  PL
    ITEM-CODE  143
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1100.1077  137.9393  6288.1563  2.0000  PL
    END-POINT  1099.9827  137.9393  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  145
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1099.9827  137.9393  6288.1563  2.0000  PL
    END-POINT  974.4380  137.9393  6288.1563  2.0000  PL
    ITEM-CODE  147
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  974.4380  137.9393  6288.1563  2.0000  PL
    END-POINT  973.5620  137.9393  6288.1563  2.0000  PL
    CENTRE-POINT  974.0000  137.9393  6288.1563
    BRANCH1-POINT  974.0000  137.9393  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  146
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  973.5620  137.9393  6288.1563  2.0000  PL
    END-POINT  736.8383  137.9393  6288.1563  2.0000  PL
    ITEM-CODE  148
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  736.8383  137.9393  6288.1563  2.0000  PL
    END-POINT  735.9623  137.9393  6288.1563  2.0000  PL
    CENTRE-POINT  736.4003  137.9393  6288.1563
    BRANCH1-POINT  736.4003  137.9393  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  150
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  735.9623  137.9393  6288.1563  2.0000  PL
    END-POINT  546.8383  137.9393  6288.1563  2.0000  PL
    ITEM-CODE  152
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  546.8383  137.9393  6288.1563  2.0000  PL
    END-POINT  545.9623  137.9393  6288.1563  2.0000  PL
    CENTRE-POINT  546.4003  137.9393  6288.1563
    BRANCH1-POINT  546.4003  137.9393  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  154
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  545.9623  137.9393  6288.1563  2.0000  PL
    END-POINT  420.8383  137.9393  6288.1563  2.0000  PL
    ITEM-CODE  156
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  420.8383  137.9393  6288.1563  2.0000  PL
    END-POINT  419.9623  137.9393  6288.1563  2.0000  PL
    CENTRE-POINT  420.4003  137.9393  6288.1563
    BRANCH1-POINT  420.4003  137.9393  6289.4063  0.7500  PL
    SKEY TEPL
    ITEM-CODE  158
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  419.9623  137.9393  6288.1563  2.0000  PL
    END-POINT  375.0327  137.9393  6288.1563  2.0000  PL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  375.0327  137.9393  6288.1563  2.0000  PL
    END-POINT  373.6267  139.3453  6288.1563  2.0000  PL
    CENTRE-POINT  373.6267  137.9393  6288.1563
    SKEY ERPL
    ITEM-CODE  162
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  373.6267  139.3453  6288.1563  2.0000  PL
    END-POINT  373.6267  176.9514  6288.1563  2.0000  PL
    ITEM-CODE  164
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  373.6267  176.9514  6288.1563  2.0000  PL
    END-POINT  373.6267  178.6394  6288.1563  2.0000  PL
    CENTRE-POINT  373.6267  177.7954  6288.1563
    BRANCH1-POINT  373.6267  177.7954  6289.4063  1.0000  PL
    SKEY TEPL
    ITEM-CODE  166
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  373.6267  178.6394  6288.1563  2.0000  PL
    END-POINT  373.6267  238.8723  6288.1563  2.0000  PL
    ITEM-CODE  168
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  373.6267  238.8723  6288.1563  2.0000  PL
    END-POINT  372.2207  240.2783  6288.1563  2.0000  PL
    CENTRE-POINT  373.6267  240.2783  6288.1563
    SKEY ERPL
    ITEM-CODE  170
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  372.2207  240.2783  6288.1563  2.0000  PL
    END-POINT  304.7499  240.2783  6288.1563  2.0000  PL
    ITEM-CODE  172
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  304.7499  240.2783  6288.1563  2.0000  PL
    END-POINT  303.3439  241.6843  6288.1563  2.0000  PL
    CENTRE-POINT  303.3439  240.2783  6288.1563
    SKEY ERPL
    ITEM-CODE  174
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  303.3439  241.6843  6288.1563  2.0000  PL
    END-POINT  303.3439  486.1696  6288.1563  2.0000  PL
    ITEM-CODE  176
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  303.3439  486.1696  6288.1563  2.0000  PL
    END-POINT  303.3439  489.8886  6288.1563  1.5000  PL
    BRANCH1-POINT  303.3439  488.1076  6290.0313  1.2500  PL
    SKEY CTFL
    ITEM-CODE  178
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  303.3439  489.8886  6288.1563  1.5000  PL
    END-POINT  303.3439  594.4282  6288.1563  1.5000  PL
    ITEM-CODE  180
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  303.3439  594.4282  6288.1563  1.5000  PL
    END-POINT  303.3439  595.6162  6288.1563  1.5000  PL
    CENTRE-POINT  303.3439  595.0222  6288.1563
    BRANCH1-POINT  303.3439  595.0222  6289.0943  0.7500  PL
    SKEY TEPL
    ITEM-CODE  182
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2132.8780  137.7783  6289.4063  0.7500  PL
    END-POINT  2132.8780  137.7783  6293.4063  0.7500  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2132.8780  137.7783  6293.4063  0.7500  PL
    END-POINT  2132.8780  138.5913  6293.9063  0.7500  PL
    CENTRE-POINT  2132.8780  137.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2132.8780  138.5913  6293.9063  0.7500  PL
    END-POINT  2132.8780  161.7415  6293.9063  0.7500  PL
    ITEM-CODE  121
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2132.8780  161.7415  6293.9063  0.7500  PL
    END-POINT  2132.0650  162.2415  6293.9063  0.7500  PL
    CENTRE-POINT  2132.8780  162.2415  6293.9063
    SKEY ERPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2132.0650  162.2415  6293.9063  0.7500  PL
    END-POINT  2106.8208  162.2415  6293.9063  0.7500  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2676.9529  288.3380  6288.1563  2.0000  PL
    END-POINT  2680.9529  288.3380  6288.1563  2.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Pipe-A53-CS-(B)-SCH40-BLK(TC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2680.9529  288.3380  6288.1563  2.0000  PL
    END-POINT  2681.8564  288.3380  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  92
    ITEM-DESCRIPTION  Dielectric Union LF 3001A
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2681.8564  288.3380  6288.1563  2.0000  PL
    END-POINT  2683.7474  288.3380  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  94
    ITEM-DESCRIPTION  No603-2 - Fitting Adapter (FtgxF)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2683.7474  288.3380  6288.1563  2.0000  PL
    END-POINT  2684.8409  288.3380  6288.1563  2.0000  PL
    SKEY COCP
    ITEM-CODE  97
    ITEM-DESCRIPTION  No604 - Adapter (CxM)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2684.8409  288.3380  6288.0312  2.0000  PL
    END-POINT  2721.5620  288.3380  6288.0312  2.0000  PL
    ITEM-CODE  96
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2721.5620  288.3380  6288.0312  2.0000  PL
    END-POINT  2722.4380  288.3380  6288.0312  2.0000  PL
    CENTRE-POINT  2722.0000  288.3380  6288.0312
    BRANCH1-POINT  2722.0000  288.3380  6289.2812  0.7500  PL
    SKEY TEPL
    ITEM-CODE  98
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2722.4380  288.3380  6288.0312  2.0000  PL
    END-POINT  2969.2042  288.3380  6288.0312  2.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2969.2042  288.3380  6288.0312  2.0000  PL
    END-POINT  2970.6102  289.7440  6288.0312  2.0000  PL
    CENTRE-POINT  2970.6102  288.3380  6288.0312
    SKEY ERPL
    ITEM-CODE  102
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2970.6102  289.7440  6288.0312  2.0000  PL
    END-POINT  2970.6102  460.9896  6288.0312  2.0000  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2970.6102  460.9896  6288.0312  2.0000  PL
    END-POINT  2970.6102  463.9586  6288.0312  1.5000  PL
    BRANCH1-POINT  2970.6102  462.2396  6288.7502  0.7500  PL
    SKEY CTFL
    ITEM-CODE  106
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2970.6102  463.9586  6288.0312  1.5000  PL
    END-POINT  2970.6102  592.7475  6288.0312  1.5000  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2970.6102  592.7475  6288.0312  1.5000  PL
    END-POINT  2969.5792  593.6575  6288.0312  1.5000  PL
    CENTRE-POINT  2970.6102  593.6575  6288.0312
    SKEY ERPL
    ITEM-CODE  110
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2969.5792  593.6575  6288.0312  1.5000  PL
    END-POINT  2717.5792  593.6575  6288.0312  1.5000  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2717.5792  593.6575  6288.0312  1.5000  PL
    END-POINT  2717.4542  593.6575  6288.0312  1.5000  PL
    SKEY COCP
    ITEM-CODE  115
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2675.4529  168.0351  6288.1563  1.0000  PL
    END-POINT  2679.4529  168.0351  6288.1563  1.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2389.7857  137.7783  6289.4063  0.7500  PL
    END-POINT  2389.7857  137.7783  6293.4063  0.7500  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2389.7857  137.7783  6293.4063  0.7500  PL
    END-POINT  2389.7857  138.5913  6293.9063  0.7500  PL
    CENTRE-POINT  2389.7857  137.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  107
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2389.7857  138.5913  6293.9063  0.7500  PL
    END-POINT  2389.7857  195.6708  6293.9063  0.7500  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2389.7857  195.6708  6293.9063  0.7500  PL
    END-POINT  2389.7857  196.1708  6294.7193  0.7500  PL
    CENTRE-POINT  2389.7857  196.1708  6293.9063
    SKEY ERPL
    ITEM-CODE  111
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2389.7857  196.1708  6294.7193  0.7500  PL
    END-POINT  2389.7857  196.1708  6384.0320  0.7500  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2359.9579  137.7783  6289.4063  0.7500  PL
    END-POINT  2359.9579  137.7783  6293.4063  0.7500  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2359.9579  137.7783  6293.4063  0.7500  PL
    END-POINT  2359.9579  138.5913  6293.9063  0.7500  PL
    CENTRE-POINT  2359.9579  137.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  111
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2359.9579  138.5913  6293.9063  0.7500  PL
    END-POINT  2359.9579  171.5000  6293.9063  0.7500  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2359.9579  171.5000  6293.9063  0.7500  PL
    END-POINT  2359.1449  172.0000  6293.9063  0.7500  PL
    CENTRE-POINT  2359.9579  172.0000  6293.9063
    SKEY ERPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2359.1449  172.0000  6293.9063  0.7500  PL
    END-POINT  2323.5810  172.0000  6293.9063  0.7500  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2335.8780  137.7783  6289.4063  0.7500  PL
    END-POINT  2335.8780  137.7783  6293.4063  0.7500  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2335.8780  137.7783  6293.4063  0.7500  PL
    END-POINT  2335.8780  136.9653  6293.9063  0.7500  PL
    CENTRE-POINT  2335.8780  137.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2335.8780  136.9653  6293.9063  0.7500  PL
    END-POINT  2335.8780  92.2783  6293.9063  0.7500  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2335.8780  92.2783  6293.9063  0.7500  PL
    END-POINT  2335.0650  91.7783  6293.9063  0.7500  PL
    CENTRE-POINT  2335.8780  91.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  244
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2335.0650  91.7783  6293.9063  0.7500  PL
    END-POINT  2310.8978  91.7783  6293.9063  0.7500  PL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2263.9579  137.7783  6289.4063  0.7500  PL
    END-POINT  2263.9579  137.7783  6293.4063  0.7500  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2263.9579  137.7783  6293.4063  0.7500  PL
    END-POINT  2263.9579  138.5913  6293.9063  0.7500  PL
    CENTRE-POINT  2263.9579  137.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2263.9579  138.5913  6293.9063  0.7500  PL
    END-POINT  2263.9579  216.5283  6293.9063  0.7500  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  1989.4186  137.7783  6289.4063  0.7500  PL
    END-POINT  1989.4186  137.7783  6293.4063  0.7500  PL
    ITEM-CODE  121
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1989.4186  137.7783  6293.4063  0.7500  PL
    END-POINT  1989.4186  138.5913  6293.9063  0.7500  PL
    CENTRE-POINT  1989.4186  137.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  123
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1989.4186  138.5913  6293.9063  0.7500  PL
    END-POINT  1989.4186  152.6079  6293.9063  0.7500  PL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  1869.2316  137.7783  6289.4063  0.7500  PL
    END-POINT  1869.2316  137.7783  6293.4063  0.7500  PL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1869.2316  137.7783  6293.4063  0.7500  PL
    END-POINT  1869.2316  138.5913  6293.9063  0.7500  PL
    CENTRE-POINT  1869.2316  137.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  127
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1869.2316  138.5913  6293.9063  0.7500  PL
    END-POINT  1869.2316  152.9073  6293.9063  0.7500  PL
    ITEM-CODE  129
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1869.2316  152.9073  6293.9063  0.7500  PL
    END-POINT  1868.4186  153.4073  6293.9063  0.7500  PL
    CENTRE-POINT  1869.2316  153.4073  6293.9063
    SKEY ERPL
    ITEM-CODE  131
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1868.4186  153.4073  6293.9063  0.7500  PL
    END-POINT  1839.0131  153.4073  6293.9063  0.7500  PL
    ITEM-CODE  133
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  974.0000  137.9393  6289.4063  0.7500  PL
    END-POINT  974.0000  137.9393  6293.4063  0.7500  PL
    ITEM-CODE  148
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  974.0000  137.9393  6293.4063  0.7500  PL
    END-POINT  974.0000  138.7523  6293.9063  0.7500  PL
    CENTRE-POINT  974.0000  137.9393  6293.9063
    SKEY ERPL
    ITEM-CODE  150
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  974.0000  138.7523  6293.9063  0.7500  PL
    END-POINT  974.0000  160.2832  6293.9063  0.7500  PL
    ITEM-CODE  152
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  974.0000  160.2832  6293.9063  0.7500  PL
    END-POINT  973.1870  160.7832  6293.9063  0.7500  PL
    CENTRE-POINT  974.0000  160.7832  6293.9063
    SKEY ERPL
    ITEM-CODE  154
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  973.1870  160.7832  6293.9063  0.7500  PL
    END-POINT  947.1870  160.7832  6293.9063  0.7500  PL
    ITEM-CODE  156
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  736.4003  137.9393  6289.4063  0.7500  PL
    END-POINT  736.4003  137.9393  6293.4063  0.7500  PL
    ITEM-CODE  152
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  736.4003  137.9393  6293.4063  0.7500  PL
    END-POINT  736.4003  138.7523  6293.9063  0.7500  PL
    CENTRE-POINT  736.4003  137.9393  6293.9063
    SKEY ERPL
    ITEM-CODE  154
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  736.4003  138.7523  6293.9063  0.7500  PL
    END-POINT  736.4003  167.2783  6293.9063  0.7500  PL
    ITEM-CODE  156
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  736.4003  167.2783  6293.9063  0.7500  PL
    END-POINT  737.2133  167.7783  6293.9063  0.7500  PL
    CENTRE-POINT  736.4003  167.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  158
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  737.2133  167.7783  6293.9063  0.7500  PL
    END-POINT  759.4101  167.7783  6293.9063  0.7500  PL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  546.4003  137.9393  6289.4063  0.7500  PL
    END-POINT  546.4003  137.9393  6293.4063  0.7500  PL
    ITEM-CODE  156
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  546.4003  137.9393  6293.4063  0.7500  PL
    END-POINT  546.4003  138.7523  6293.9063  0.7500  PL
    CENTRE-POINT  546.4003  137.9393  6293.9063
    SKEY ERPL
    ITEM-CODE  158
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  546.4003  138.7523  6293.9063  0.7500  PL
    END-POINT  546.4003  201.0068  6293.9063  0.7500  PL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  420.4003  137.9393  6289.4063  0.7500  PL
    END-POINT  420.4003  137.9393  6293.4063  0.7500  PL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  420.4003  137.9393  6293.4063  0.7500  PL
    END-POINT  420.4003  138.7523  6293.9063  0.7500  PL
    CENTRE-POINT  420.4003  137.9393  6293.9063
    SKEY ERPL
    ITEM-CODE  162
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  420.4003  138.7523  6293.9063  0.7500  PL
    END-POINT  420.4003  167.2783  6293.9063  0.7500  PL
    ITEM-CODE  164
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  420.4003  167.2783  6293.9063  0.7500  PL
    END-POINT  421.2133  167.7783  6293.9063  0.7500  PL
    CENTRE-POINT  420.4003  167.7783  6293.9063
    SKEY ERPL
    ITEM-CODE  166
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  421.2133  167.7783  6293.9063  0.7500  PL
    END-POINT  446.1700  167.7783  6293.9063  0.7500  PL
    ITEM-CODE  168
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2722.0000  288.3380  6289.2812  0.7500  PL
    END-POINT  2722.0000  288.3380  6293.2812  0.7500  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2722.0000  288.3380  6293.2812  0.7500  PL
    END-POINT  2722.0000  287.5250  6293.7812  0.7500  PL
    CENTRE-POINT  2722.0000  288.3380  6293.7812
    SKEY ERPL
    ITEM-CODE  102
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2722.0000  287.5250  6293.7812  0.7500  PL
    END-POINT  2722.0000  233.7130  6293.7812  0.7500  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2970.6102  462.2396  6288.7502  0.7500  PL
    END-POINT  2970.6102  462.2396  6292.7502  0.7500  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2970.6102  462.2396  6292.7502  0.7500  PL
    END-POINT  2969.7972  462.2396  6293.2502  0.7500  PL
    CENTRE-POINT  2970.6102  462.2396  6293.2502
    SKEY ERPL
    ITEM-CODE  110
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2969.7972  462.2396  6293.2502  0.7500  PL
    END-POINT  2826.1263  462.2396  6293.2502  0.7500  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP_surojit-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
ELBOW-REDUCING
    END-POINT  2830.0000  161.0716  6293.3753  0.7500  PL
    END-POINT  2829.1870  161.5716  6293.3753  0.7500  PL
    CENTRE-POINT  2830.0000  161.5716  6293.3753
    SKEY ERPL
    ITEM-CODE  118
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2829.1870  161.5716  6293.3753  0.7500  PL
    END-POINT  2814.3373  161.5716  6293.3753  0.7500  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP_surojit-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
TEE
    END-POINT  297.3439  589.4602  6288.0938  2.0000  PL
    END-POINT  297.3439  588.5842  6288.0938  2.0000  PL
    CENTRE-POINT  297.3439  589.0222  6288.0938
    BRANCH1-POINT  297.3439  589.0222  6289.3438  0.7500  PL
    SKEY TEPL
    ITEM-CODE  160
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  297.3439  588.5842  6288.0938  2.0000  PL
    END-POINT  297.3439  483.3886  6288.0938  2.0000  PL
    ITEM-CODE  162
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  297.3439  483.3886  6288.0938  2.0000  PL
    END-POINT  297.3439  480.8266  6288.0938  2.0000  PL
    CENTRE-POINT  297.3439  482.1076  6288.0938
    BRANCH1-POINT  297.3439  482.1076  6289.9378  1.2500  PL
    SKEY TEPL
    ITEM-CODE  164
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  297.3439  480.8266  6288.0938  2.0000  PL
    END-POINT  297.3439  235.6843  6288.0938  2.0000  PL
    ITEM-CODE  166
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  297.3499  235.6843  6288.0938  2.0000  PL
    END-POINT  298.7559  234.2783  6288.0938  2.0000  PL
    CENTRE-POINT  297.3499  234.2783  6288.0938
    SKEY ERPL
    ITEM-CODE  168
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  298.7559  234.2783  6288.0938  2.0000  PL
    END-POINT  366.2207  234.2783  6288.0938  2.0000  PL
    ITEM-CODE  170
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  366.2207  234.2783  6288.0938  2.0000  PL
    END-POINT  367.6267  232.8723  6288.0938  2.0000  PL
    CENTRE-POINT  367.6267  234.2783  6288.0938
    SKEY ERPL
    ITEM-CODE  172
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  367.6267  232.8723  6288.0938  2.0000  PL
    END-POINT  367.6267  172.6843  6288.0938  2.0000  PL
    ITEM-CODE  174
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  367.6267  172.6843  6288.0938  2.0000  PL
    END-POINT  367.6267  170.6533  6288.0938  1.5000  PL
    BRANCH1-POINT  367.6267  171.7783  6289.3128  1.0000  PL
    SKEY CTFL
    ITEM-CODE  176
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  367.6267  170.6533  6288.0938  1.5000  PL
    END-POINT  367.6267  133.0042  6288.0938  1.5000  PL
    ITEM-CODE  178
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  367.6267  133.0042  6288.0938  1.5000  PL
    END-POINT  368.6577  131.9732  6288.0938  1.5000  PL
    CENTRE-POINT  367.6267  131.9732  6288.0938
    SKEY ERPL
    ITEM-CODE  180
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  368.6577  131.9732  6288.0938  1.5000  PL
    END-POINT  413.8063  131.9732  6288.0938  1.5000  PL
    ITEM-CODE  182
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  413.8063  131.9732  6288.0938  1.5000  PL
    END-POINT  414.9943  131.9732  6288.0938  1.5000  PL
    CENTRE-POINT  414.4003  131.9732  6288.0938
    BRANCH1-POINT  414.4003  131.9732  6289.0318  0.7500  PL
    SKEY TEPL
    ITEM-CODE  184
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  414.9943  131.9732  6288.0938  1.5000  PL
    END-POINT  539.8063  131.9732  6288.0938  1.5000  PL
    ITEM-CODE  186
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  539.8063  131.9732  6288.0938  1.5000  PL
    END-POINT  540.9943  131.9732  6288.0938  1.5000  PL
    CENTRE-POINT  540.4003  131.9732  6288.0938
    BRANCH1-POINT  540.4003  131.9732  6289.0318  0.7500  PL
    SKEY TEPL
    ITEM-CODE  188
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  540.9943  131.9732  6288.0938  1.5000  PL
    END-POINT  729.8063  131.9732  6288.0938  1.5000  PL
    ITEM-CODE  190
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  729.8063  131.9393  6288.0938  1.5000  PL
    END-POINT  730.9943  131.9393  6288.0938  1.5000  PL
    CENTRE-POINT  730.4003  131.9393  6288.0938
    BRANCH1-POINT  730.4003  131.9393  6289.0318  0.7500  PL
    SKEY TEPL
    ITEM-CODE  192
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  730.9943  131.9393  6288.0938  1.5000  PL
    END-POINT  967.4060  131.9393  6288.0938  1.5000  PL
    ITEM-CODE  194
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  967.4060  131.9393  6288.0938  1.5000  PL
    END-POINT  968.5940  131.9393  6288.0938  1.5000  PL
    CENTRE-POINT  968.0000  131.9393  6288.0938
    BRANCH1-POINT  968.0000  131.9393  6289.0318  0.7500  PL
    SKEY TEPL
    ITEM-CODE  196
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  968.5940  131.9393  6288.0938  1.5000  PL
    END-POINT  1220.5940  131.9393  6288.0938  1.5000  PL
    ITEM-CODE  198
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1220.5940  131.9393  6288.0938  1.5000  PL
    END-POINT  1220.7190  131.9393  6288.0938  1.5000  PL
    SKEY COCP
    ITEM-CODE  201
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1220.7190  131.9393  6288.0938  1.5000  PL
    END-POINT  1358.4827  131.9393  6288.0938  1.5000  PL
    ITEM-CODE  200
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1358.4827  131.9393  6288.0938  1.5000  PL
    END-POINT  1359.5137  132.9703  6288.0938  1.5000  PL
    CENTRE-POINT  1359.5137  131.9393  6288.0938
    SKEY ERPL
    ITEM-CODE  202
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1359.5137  132.9703  6288.0938  1.5000  PL
    END-POINT  1359.5137  226.9348  6288.0938  1.5000  PL
    ITEM-CODE  204
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1359.5137  226.9348  6288.0938  1.5000  PL
    END-POINT  1360.5447  227.9658  6288.0938  1.5000  PL
    CENTRE-POINT  1359.5137  227.9658  6288.0938
    SKEY ERPL
    ITEM-CODE  206
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1360.5447  227.9658  6288.0938  1.5000  PL
    END-POINT  1406.4827  227.9658  6288.0938  1.5000  PL
    ITEM-CODE  208
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1406.4827  227.9728  6288.0938  1.5000  PL
    END-POINT  1407.5137  226.9418  6288.0938  1.5000  PL
    CENTRE-POINT  1407.5137  227.9728  6288.0938
    SKEY ERPL
    ITEM-CODE  210
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1407.5137  226.9418  6288.0938  1.5000  PL
    END-POINT  1407.5137  132.8093  6288.0938  1.5000  PL
    ITEM-CODE  212
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1407.5137  132.8093  6288.0938  1.5000  PL
    END-POINT  1408.5447  131.7783  6288.0938  1.5000  PL
    CENTRE-POINT  1407.5137  131.7783  6288.0938
    SKEY ERPL
    ITEM-CODE  214
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1408.5447  131.7783  6288.0938  1.5000  PL
    END-POINT  1660.5447  131.7783  6288.0938  1.5000  PL
    ITEM-CODE  216
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1660.5447  131.7783  6288.0938  1.5000  PL
    END-POINT  1660.6697  131.7783  6288.0938  1.5000  PL
    SKEY COCP
    ITEM-CODE  219
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1660.6697  131.7783  6288.0938  1.5000  PL
    END-POINT  1862.6376  131.7783  6288.0938  1.5000  PL
    ITEM-CODE  218
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  1862.6376  131.7783  6288.0938  1.5000  PL
    END-POINT  1864.1376  131.7783  6288.0938  1.2500  PL
    BRANCH1-POINT  1863.2316  131.7783  6289.0318  0.7500  PL
    SKEY CTFL
    ITEM-CODE  220
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1864.1376  131.7783  6288.0938  1.2500  PL
    END-POINT  1982.7626  131.7783  6288.0938  1.2500  PL
    ITEM-CODE  222
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1982.7626  131.7783  6288.0938  1.2500  PL
    END-POINT  1984.0746  131.7783  6288.0938  1.2500  PL
    CENTRE-POINT  1983.4186  131.7783  6288.0938
    BRANCH1-POINT  1983.4186  131.7783  6288.8438  0.7500  PL
    SKEY TEPL
    ITEM-CODE  224
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1984.0746  131.7783  6288.0938  1.2500  PL
    END-POINT  2126.2220  131.7783  6288.0938  1.2500  PL
    ITEM-CODE  226
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2126.2220  131.7783  6288.0938  1.2500  PL
    END-POINT  2127.5340  131.7783  6288.0938  1.2500  PL
    CENTRE-POINT  2126.8780  131.7783  6288.0938
    BRANCH1-POINT  2126.8780  131.7783  6288.8438  0.7500  PL
    SKEY TEPL
    ITEM-CODE  228
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2127.5340  131.7783  6288.0938  1.2500  PL
    END-POINT  2257.3019  131.7783  6288.0938  1.2500  PL
    ITEM-CODE  230
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2257.3019  131.7783  6288.0938  1.2500  PL
    END-POINT  2258.6139  131.7783  6288.0938  1.2500  PL
    CENTRE-POINT  2257.9579  131.7783  6288.0938
    BRANCH1-POINT  2257.9579  131.7783  6288.8438  0.7500  PL
    SKEY TEPL
    ITEM-CODE  232
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2258.6139  131.7783  6288.0938  1.2500  PL
    END-POINT  2329.2220  131.7783  6288.0938  1.2500  PL
    ITEM-CODE  234
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2329.2220  131.7783  6288.0938  1.2500  PL
    END-POINT  2330.5340  131.7783  6288.0938  1.2500  PL
    CENTRE-POINT  2329.8780  131.7783  6288.0938
    BRANCH1-POINT  2329.8780  131.7783  6288.8438  0.7500  PL
    SKEY TEPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2330.5340  131.7783  6288.0938  1.2500  PL
    END-POINT  2353.3019  131.7783  6288.0938  1.2500  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2353.3019  131.7783  6288.0938  1.2500  PL
    END-POINT  2354.6139  131.7783  6288.0938  1.2500  PL
    CENTRE-POINT  2353.9579  131.7783  6288.0938
    BRANCH1-POINT  2353.9579  131.7783  6288.8438  0.7500  PL
    SKEY TEPL
    ITEM-CODE  240
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2354.6139  131.7783  6288.0938  1.2500  PL
    END-POINT  2395.1297  131.7783  6288.0938  1.2500  PL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2395.1297  131.7783  6288.0938  1.2500  PL
    END-POINT  2396.5987  131.7783  6288.0938  1.0000  PL
    BRANCH1-POINT  2395.7857  131.7783  6288.8747  0.7500  PL
    SKEY CTFL
    ITEM-CODE  244
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2396.5987  131.7783  6288.0938  1.0000  PL
    END-POINT  2648.5987  131.7783  6288.0938  1.0000  PL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2648.5987  131.7783  6288.0938  1.0000  PL
    END-POINT  2648.6927  131.7783  6288.0938  1.0000  PL
    SKEY COCP
    ITEM-CODE  248
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2648.6927  131.7783  6288.0938  1.0000  PL
    END-POINT  2655.6215  131.7783  6288.0938  1.0000  PL
    ITEM-CODE  247
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2655.6215  131.7783  6288.0938  1.0000  PL
    END-POINT  2655.7155  131.7783  6288.0938  1.0000  PL
    SKEY COCP
    ITEM-CODE  248
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2655.7155  131.7783  6288.0938  1.0000  PL
    END-POINT  2823.4060  131.7783  6288.0938  1.0000  PL
    ITEM-CODE  248
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2823.4060  131.7783  6288.0938  1.0000  PL
    END-POINT  2824.5940  131.7783  6288.0938  1.0000  PL
    CENTRE-POINT  2824.0000  131.7783  6288.0938
    BRANCH1-POINT  2824.0000  131.7783  6288.8128  0.7500  PL
    SKEY TEPL
    ITEM-CODE  250
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2824.5940  131.7783  6288.0938  1.0000  PL
    END-POINT  2970.4060  131.7783  6288.0938  1.0000  PL
    ITEM-CODE  252
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2970.4060  131.7783  6288.0938  1.0000  PL
    END-POINT  2971.7500  131.7783  6288.0938  0.7500  PL
    BRANCH1-POINT  2970.9690  131.7783  6288.8128  0.7500  PL
    SKEY CTFL
    ITEM-CODE  254
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2971.7500  131.7783  6288.0938  0.7500  PL
    END-POINT  3148.4148  131.7783  6288.0938  0.7500  PL
    ITEM-CODE  256
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  3148.4148  131.7783  6288.0938  0.7500  PL
    END-POINT  3149.2908  131.7783  6288.0938  0.7500  PL
    CENTRE-POINT  3148.8528  131.7783  6288.0938
    BRANCH1-POINT  3148.8528  131.7783  6288.5318  0.7500  PL
    SKEY TEPL
    ITEM-CODE  258
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  3149.2908  131.7783  6288.0938  0.7500  PL
    END-POINT  3303.6667  131.7783  6288.0938  0.7500  PL
    ITEM-CODE  260
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2329.8780  131.7783  6288.8438  0.7500  PL
    END-POINT  2329.8780  131.7783  6292.8438  0.7500  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2329.8780  131.7783  6292.8438  0.7500  PL
    END-POINT  2329.8780  131.7783  6288.8438  0.7500  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  730.4003  131.9393  6289.0318  0.7500  PL
    END-POINT  730.4003  131.9393  6293.0318  0.7500  PL
    ITEM-CODE  194
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  730.4003  131.9393  6293.0318  0.7500  PL
    END-POINT  730.4003  132.7523  6293.5318  0.7500  PL
    CENTRE-POINT  730.4003  131.9393  6293.5318
    SKEY ERPL
    ITEM-CODE  196
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  730.4003  132.7523  6293.5318  0.7500  PL
    END-POINT  730.4003  173.2783  6293.5318  0.7500  PL
    ITEM-CODE  198
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  730.4003  173.2783  6293.5318  0.7500  PL
    END-POINT  731.2133  173.7783  6293.5318  0.7500  PL
    CENTRE-POINT  730.4003  173.7783  6293.5318
    SKEY ERPL
    ITEM-CODE  200
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  731.2133  173.7783  6293.5318  0.7500  PL
    END-POINT  759.3705  173.7783  6293.5318  0.7500  PL
    ITEM-CODE  202
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  414.4003  131.9732  6289.0318  0.7500  PL
    END-POINT  414.4003  131.9732  6293.0318  0.7500  PL
    ITEM-CODE  186
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  414.4003  131.9732  6293.0318  0.7500  PL
    END-POINT  414.4003  132.7862  6293.5318  0.7500  PL
    CENTRE-POINT  414.4003  131.9732  6293.5318
    SKEY ERPL
    ITEM-CODE  188
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  414.4003  132.7862  6293.5318  0.7500  PL
    END-POINT  414.4003  173.2783  6293.5318  0.7500  PL
    ITEM-CODE  190
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  414.4042  173.2783  6293.5318  0.7500  PL
    END-POINT  415.2172  173.7783  6293.5318  0.7500  PL
    CENTRE-POINT  414.4042  173.7783  6293.5318
    SKEY ERPL
    ITEM-CODE  192
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  415.2172  173.7783  6293.5318  0.7500  PL
    END-POINT  446.1700  173.7783  6293.5318  0.7500  PL
    ITEM-CODE  194
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  540.4003  131.9732  6289.0318  0.7500  PL
    END-POINT  540.4003  131.9732  6293.0318  0.7500  PL
    ITEM-CODE  190
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  540.4003  131.9732  6293.0318  0.7500  PL
    END-POINT  540.4003  132.7862  6293.5318  0.7500  PL
    CENTRE-POINT  540.4003  131.9732  6293.5318
    SKEY ERPL
    ITEM-CODE  192
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  540.4003  132.7862  6293.5318  0.7500  PL
    END-POINT  540.4003  201.0068  6293.5318  0.7500  PL
    ITEM-CODE  194
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  968.0000  131.9393  6289.0318  0.7500  PL
    END-POINT  968.0000  131.9393  6293.0318  0.7500  PL
    ITEM-CODE  198
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  968.0000  131.9393  6293.0318  0.7500  PL
    END-POINT  968.0000  132.7523  6293.5318  0.7500  PL
    CENTRE-POINT  968.0000  131.9393  6293.5318
    SKEY ERPL
    ITEM-CODE  200
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  968.0000  132.7523  6293.5318  0.7500  PL
    END-POINT  968.0000  154.5000  6293.5318  0.7500  PL
    ITEM-CODE  202
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  968.0000  154.5000  6293.5318  0.7500  PL
    END-POINT  967.1870  155.0000  6293.5318  0.7500  PL
    CENTRE-POINT  968.0000  155.0000  6293.5318
    SKEY ERPL
    ITEM-CODE  204
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  967.1870  155.0000  6293.5318  0.7500  PL
    END-POINT  947.1870  155.0000  6293.5318  0.7500  PL
    ITEM-CODE  206
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  1863.2316  131.7783  6289.0318  0.7500  PL
    END-POINT  1863.2316  131.7783  6293.0318  0.7500  PL
    ITEM-CODE  222
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1863.2316  131.7783  6293.0318  0.7500  PL
    END-POINT  1863.2316  132.5913  6293.5318  0.7500  PL
    CENTRE-POINT  1863.2316  131.7783  6293.5318
    SKEY ERPL
    ITEM-CODE  224
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1863.2316  132.5913  6293.5318  0.7500  PL
    END-POINT  1863.2316  146.9073  6293.5318  0.7500  PL
    ITEM-CODE  226
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1863.2316  146.9073  6293.5318  0.7500  PL
    END-POINT  1862.4186  147.4073  6293.5318  0.7500  PL
    CENTRE-POINT  1863.2316  147.4073  6293.5318
    SKEY ERPL
    ITEM-CODE  228
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1862.4186  147.4073  6293.5318  0.7500  PL
    END-POINT  1839.0131  147.4073  6293.5318  0.7500  PL
    ITEM-CODE  230
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  1983.4186  131.7783  6288.8438  0.7500  PL
    END-POINT  1983.4186  131.7783  6292.8438  0.7500  PL
    ITEM-CODE  226
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1983.4186  131.7783  6292.8438  0.7500  PL
    END-POINT  1983.4186  132.5913  6293.3438  0.7500  PL
    CENTRE-POINT  1983.4186  131.7783  6293.3438
    SKEY ERPL
    ITEM-CODE  228
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1983.4186  132.5913  6293.3438  0.7500  PL
    END-POINT  1983.4186  146.9073  6293.3438  0.7500  PL
    ITEM-CODE  230
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1983.4186  146.9073  6293.3438  0.7500  PL
    END-POINT  1982.6056  147.4073  6293.3438  0.7500  PL
    CENTRE-POINT  1983.4186  147.4073  6293.3438
    SKEY ERPL
    ITEM-CODE  232
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1982.6056  147.4073  6293.3438  0.7500  PL
    END-POINT  1958.4366  147.4073  6293.3438  0.7500  PL
    ITEM-CODE  234
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2126.8780  131.7783  6288.8438  0.7500  PL
    END-POINT  2126.8780  131.7783  6292.8438  0.7500  PL
    ITEM-CODE  230
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2126.8780  131.7783  6292.8438  0.7500  PL
    END-POINT  2126.8780  132.5913  6293.3438  0.7500  PL
    CENTRE-POINT  2126.8780  131.7783  6293.3438
    SKEY ERPL
    ITEM-CODE  232
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2126.8780  132.5913  6293.3438  0.7500  PL
    END-POINT  2126.8780  155.7415  6293.3438  0.7500  PL
    ITEM-CODE  234
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2126.8780  155.7415  6293.3438  0.7500  PL
    END-POINT  2126.0650  156.2415  6293.3438  0.7500  PL
    CENTRE-POINT  2126.8780  156.2415  6293.3438
    SKEY ERPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2126.0650  156.2415  6293.3438  0.7500  PL
    END-POINT  2106.4919  156.2415  6293.3438  0.7500  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2257.9579  131.7783  6288.8438  0.7500  PL
    END-POINT  2257.9579  131.7783  6292.8438  0.7500  PL
    ITEM-CODE  234
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2257.9579  131.7783  6292.8438  0.7500  PL
    END-POINT  2257.9579  132.5913  6293.3438  0.7500  PL
    CENTRE-POINT  2257.9579  131.7783  6293.3438
    SKEY ERPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2257.9579  132.5913  6293.3438  0.7500  PL
    END-POINT  2257.9579  216.5283  6293.3438  0.7500  PL
    ITEM-CODE  238
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2353.9579  131.7783  6288.8438  0.7500  PL
    END-POINT  2353.9579  131.7783  6292.8438  0.7500  PL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2353.9579  131.7783  6292.8438  0.7500  PL
    END-POINT  2353.9579  132.5913  6293.3438  0.7500  PL
    CENTRE-POINT  2353.9579  131.7783  6293.3438
    SKEY ERPL
    ITEM-CODE  244
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2353.9579  132.5913  6293.3438  0.7500  PL
    END-POINT  2353.9579  165.5000  6293.3438  0.7500  PL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2353.9579  165.5000  6293.3438  0.7500  PL
    END-POINT  2353.1449  166.0000  6293.3438  0.7500  PL
    CENTRE-POINT  2353.9579  166.0000  6293.3438
    SKEY ERPL
    ITEM-CODE  248
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2353.1449  166.0000  6293.3438  0.7500  PL
    END-POINT  2323.2611  166.0000  6293.3438  0.7500  PL
    ITEM-CODE  250
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2395.7857  131.7783  6288.8747  0.7500  PL
    END-POINT  2395.7857  131.7783  6292.8748  0.7500  PL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2395.7857  131.7783  6292.8747  0.7500  PL
    END-POINT  2395.7857  132.5913  6293.3747  0.7500  PL
    CENTRE-POINT  2395.7857  131.7783  6293.3747
    SKEY ERPL
    ITEM-CODE  248
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2395.7857  132.5913  6293.3747  0.7500  PL
    END-POINT  2395.7857  195.6708  6293.3747  0.7500  PL
    ITEM-CODE  250
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2395.7857  195.6708  6293.3747  0.7500  PL
    END-POINT  2395.7857  196.1708  6294.1878  0.7500  PL
    CENTRE-POINT  2395.7857  196.1708  6293.3747
    SKEY ERPL
    ITEM-CODE  252
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2395.7857  196.1708  6294.1878  0.7500  PL
    END-POINT  2395.7857  196.1708  6384.0320  0.7500  PL
    ITEM-CODE  254
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP_surojit-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
ELBOW-REDUCING
    END-POINT  1989.4186  152.9073  6293.9063  0.7500  PL
    END-POINT  1988.6056  153.4073  6293.9063  0.7500  PL
    CENTRE-POINT  1989.4186  153.4073  6293.9063
    SKEY ERPL
    ITEM-CODE  127
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1988.6056  153.4073  6293.9063  0.7500  PL
    END-POINT  1958.4366  153.4073  6293.9063  0.7500  PL
    ITEM-CODE  129
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP_surojit-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
PIPE
    END-POINT  2670.5779  520.0000  6288.1563  2.5000  PL
    END-POINT  2502.8715  520.0000  6288.1563  2.5000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Pipe-A53-CS-(A-ERW)-SCH40-BLK(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2502.8715  520.0000  6288.1563  2.5000  PL
    END-POINT  2502.7465  520.0000  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  79
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2502.7465  520.0000  6288.1563  2.5000  PL
    END-POINT  2262.7465  520.0000  6288.1563  2.5000  PL
    ITEM-CODE  75
    ITEM-DESCRIPTION  Pipe-A53-CS-(A-ERW)-SCH40-BLK(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2262.7465  520.0000  6288.1563  2.5000  PL
    END-POINT  2262.6215  520.0000  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  76
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2262.6215  520.0000  6288.1563  2.5000  PL
    END-POINT  2258.8715  516.2500  6288.1563  2.5000  PL
    CENTRE-POINT  2258.8715  520.0000  6288.1563
    SKEY ELPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Elbow 90 LR
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  2258.8715  516.2500  6288.1563  2.5000  PL
    END-POINT  2258.8715  516.1250  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  74
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2258.8715  516.1250  6288.1563  2.5000  PL
    END-POINT  2258.8715  486.7831  6288.1563  2.5000  PL
    ITEM-CODE  71
    ITEM-DESCRIPTION  Pipe-A53-CS-(A-ERW)-SCH40-BLK(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2258.8715  486.7831  6288.1563  2.5000  PL
    END-POINT  2258.8715  486.6581  6288.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  72
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2258.8715  486.6581  6288.1563  2.5000  PL
    END-POINT  2258.8715  482.9081  6284.4063  2.5000  PL
    CENTRE-POINT  2258.8715  482.9081  6288.1563
    SKEY ELPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  Elbow 90 LR
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  2258.8715  482.9081  6284.4063  2.5000  PL
    END-POINT  2258.8715  482.9081  6284.2813  2.5000  PL
    SKEY COCP
    ITEM-CODE  69
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2258.8715  482.9081  6284.4063  2.5000  PL
    END-POINT  2258.8715  482.9081  6277.2813  2.5000  PL
    ITEM-CODE  66
    ITEM-DESCRIPTION  Pipe-A53-CS-(A-ERW)-SCH40-BLK(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2258.8715  482.9081  6277.2813  2.5000  PL
    END-POINT  2258.8715  482.9081  6277.1563  2.5000  PL
    SKEY COCP
    ITEM-CODE  67
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2522]
TEE-SET-ON
    CENTRE-POINT  2258.8715  482.9081  6272.2188
    BRANCH1-POINT  2258.8715  482.9081  6277.1563  2.5000  PL
    SKEY TESO
    ITEM-CODE  64
    ITEM-DESCRIPTION  Stab-in (Plain)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-5
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE GMU_03_MP_surojit-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
ELBOW-REDUCING
    END-POINT  2824.0000  155.5000  6293.3128  0.7500  PL
    END-POINT  2823.1870  156.0000  6293.3128  0.7500  PL
    CENTRE-POINT  2824.0000  156.0000  6293.3128
    SKEY ERPL
    ITEM-CODE  258
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-6
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2823.1870  156.0000  6293.3128  0.7500  PL
    END-POINT  2814.2976  156.0000  6293.3128  0.7500  PL
    ITEM-CODE  260
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP_surojit-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
ELBOW-REDUCING
    END-POINT  2329.8780  131.7783  6292.8438  0.7500  PL
    END-POINT  2329.8780  130.9653  6293.3438  0.7500  PL
    CENTRE-POINT  2329.8780  131.7783  6293.3438
    SKEY ERPL
    ITEM-CODE  240
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-7
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2329.8780  130.9653  6293.3438  0.7500  PL
    END-POINT  2329.8780  98.2783  6293.3438  0.7500  PL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-7
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2329.8780  98.2783  6293.3438  0.7500  PL
    END-POINT  2329.0650  97.7783  6293.3438  0.7500  PL
    CENTRE-POINT  2329.8780  97.7783  6293.3438
    SKEY ERPL
    ITEM-CODE  244
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-7
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2329.0650  97.7783  6293.3438  0.7500  PL
    END-POINT  2310.8978  97.7783  6293.3438  0.7500  PL
    ITEM-CODE  246
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP_surojit-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
COUPLING
    END-POINT  2886.0407  587.6575  6287.4062  1.2500  PL
    END-POINT  2886.1657  587.6575  6287.4062  1.2500  PL
    SKEY COCP
    ITEM-CODE  120
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2886.1657  587.6575  6287.4062  1.2500  PL
    END-POINT  2963.6722  587.6575  6287.4062  1.2500  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2963.6722  587.6575  6287.4062  1.2500  PL
    END-POINT  2964.6102  586.7195  6287.4062  1.2500  PL
    CENTRE-POINT  2964.6102  587.6575  6287.4062
    SKEY ERPL
    ITEM-CODE  121
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2964.6102  586.7195  6287.4062  1.2500  PL
    END-POINT  2964.6102  468.8948  6287.4062  1.2500  PL
    ITEM-CODE  123
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2964.6102  468.8948  6287.4062  1.2500  PL
    END-POINT  2964.6102  467.3008  6287.4062  0.7500  PL
    BRANCH1-POINT  2964.6102  468.2388  6288.1562  0.7500  PL
    SKEY CTFL
    ITEM-CODE  125
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2964.6102  467.3008  6287.4062  0.7500  PL
    END-POINT  2964.6102  294.8380  6287.4062  0.7500  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2964.6102  294.8380  6287.4062  0.7500  PL
    END-POINT  2963.7972  294.3380  6287.4062  0.7500  PL
    CENTRE-POINT  2964.6102  294.3380  6287.4062
    SKEY ERPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2963.7972  294.3380  6287.4062  0.7500  PL
    END-POINT  2728.5000  294.3380  6287.4062  0.7500  PL
    ITEM-CODE  131
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2728.5000  294.3380  6287.4062  0.7500  PL
    END-POINT  2728.0000  294.3380  6288.2192  0.7500  PL
    CENTRE-POINT  2728.0000  294.3380  6287.4062
    SKEY ERPL
    ITEM-CODE  133
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2728.0000  294.3380  6288.2192  0.7500  PL
    END-POINT  2728.0000  294.3380  6292.2192  0.7500  PL
    ITEM-CODE  135
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2728.0000  294.3380  6292.2192  0.7500  PL
    END-POINT  2728.0000  293.5250  6292.7192  0.7500  PL
    CENTRE-POINT  2728.0000  294.3380  6292.7192
    SKEY ERPL
    ITEM-CODE  137
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2728.0000  293.5250  6292.7192  0.7500  PL
    END-POINT  2728.0000  229.3578  6292.7192  0.7500  PL
    ITEM-CODE  139
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2964.6102  468.2388  6288.1562  0.7500  PL
    END-POINT  2964.6102  468.2388  6292.1562  0.7500  PL
    ITEM-CODE  127
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2964.6102  468.2388  6292.1562  0.7500  PL
    END-POINT  2963.7972  468.2388  6292.6562  0.7500  PL
    CENTRE-POINT  2964.6102  468.2388  6292.6562
    SKEY ERPL
    ITEM-CODE  129
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2963.7972  468.2388  6292.6562  0.7500  PL
    END-POINT  2824.2857  468.2388  6292.6562  0.7500  PL
    ITEM-CODE  131
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-8
    ITEM-ATTRIBUTE0 CID=[2041]