ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE GMU_03_MP_surojit-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
COUPLING
    END-POINT  2656.9376  411.6430  710.3438  2.0000  PL
    END-POINT  2656.9376  410.5495  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  80
    ITEM-DESCRIPTION  No604 - Adapter (CxM)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2656.9376  410.5495  710.3438  2.0000  PL
    END-POINT  2656.9376  158.5495  710.3438  2.0000  PL
    ITEM-CODE  79
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2656.9376  158.5495  710.3438  2.0000  PL
    END-POINT  2656.9376  156.8615  710.3438  2.0000  PL
    CENTRE-POINT  2656.9376  157.7055  710.3438
    BRANCH1-POINT  2656.9376  157.7055  711.5938  1.0000  PL
    SKEY TEPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2656.9376  156.8615  710.3438  2.0000  PL
    END-POINT  2656.9376  151.5868  710.3438  2.0000  PL
    ITEM-CODE  83
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2656.9376  151.5868  710.3438  2.0000  PL
    END-POINT  2655.5316  150.1808  710.3438  2.0000  PL
    CENTRE-POINT  2656.9376  150.1808  710.3438
    SKEY ERPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2655.5316  150.1808  710.3438  2.0000  PL
    END-POINT  2403.5316  150.1808  710.3438  2.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2403.5316  150.1808  710.3438  2.0000  PL
    END-POINT  2403.4066  150.1808  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  89
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2403.4066  150.1808  710.3438  2.0000  PL
    END-POINT  2198.9691  150.1808  710.3438  2.0000  PL
    ITEM-CODE  88
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2198.9691  150.1808  710.3438  2.0000  PL
    END-POINT  2198.0931  150.1808  710.3438  2.0000  PL
    CENTRE-POINT  2198.5311  150.1808  710.3438
    BRANCH1-POINT  2198.5311  150.1808  711.5938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  90
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2198.0931  150.1808  710.3438  2.0000  PL
    END-POINT  2151.4066  150.1808  710.3438  2.0000  PL
    ITEM-CODE  88
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2151.4066  150.1808  710.3438  2.0000  PL
    END-POINT  2151.2816  150.1808  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  90
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2151.2816  150.1808  710.3438  2.0000  PL
    END-POINT  2000.8497  150.1808  710.3438  2.0000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2000.8497  150.1808  710.3438  2.0000  PL
    END-POINT  1999.9737  150.1808  710.3438  2.0000  PL
    CENTRE-POINT  2000.4117  150.1808  710.3438
    BRANCH1-POINT  2000.4117  150.1808  711.5938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  91
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1999.9737  150.1808  710.3438  2.0000  PL
    END-POINT  1899.2816  150.1808  710.3438  2.0000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1899.2816  150.1808  710.3438  2.0000  PL
    END-POINT  1899.1566  150.1808  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  91
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1899.1566  150.1808  710.3438  2.0000  PL
    END-POINT  1852.6256  150.1808  710.3438  2.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1852.6256  150.1808  710.3438  2.0000  PL
    END-POINT  1851.7496  150.1808  710.3438  2.0000  PL
    CENTRE-POINT  1852.1876  150.1808  710.3438
    BRANCH1-POINT  1852.1876  150.1808  711.5938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  92
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1851.7496  150.1808  710.3438  2.0000  PL
    END-POINT  1784.4381  150.1808  710.3438  2.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1784.4381  150.1808  710.3438  2.0000  PL
    END-POINT  1783.5621  150.1808  710.3438  2.0000  PL
    CENTRE-POINT  1784.0001  150.1808  710.3438
    BRANCH1-POINT  1784.0001  150.1808  711.5938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  92
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1783.5621  150.1808  710.3438  2.0000  PL
    END-POINT  1647.1566  150.1808  710.3438  2.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1647.1566  150.1808  710.3438  2.0000  PL
    END-POINT  1647.0316  150.1808  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  92
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1647.0316  150.1808  710.3438  2.0000  PL
    END-POINT  1407.7637  150.1808  710.3438  2.0000  PL
    ITEM-CODE  91
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1407.7637  150.1808  710.3438  2.0000  PL
    END-POINT  1406.3577  148.7748  710.3438  2.0000  PL
    CENTRE-POINT  1406.3577  150.1808  710.3438
    SKEY ERPL
    ITEM-CODE  93
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1406.3577  148.7748  710.3438  2.0000  PL
    END-POINT  1406.3577  55.5868  710.3438  2.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1406.3577  55.5868  710.3438  2.0000  PL
    END-POINT  1404.9517  54.1808  710.3438  2.0000  PL
    CENTRE-POINT  1406.3577  54.1808  710.3438
    SKEY ERPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1404.9517  54.1808  710.3438  2.0000  PL
    END-POINT  1359.7637  54.1808  710.3438  2.0000  PL
    ITEM-CODE  99
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1359.7637  54.1808  710.3438  2.0000  PL
    END-POINT  1358.3577  55.5868  710.3438  2.0000  PL
    CENTRE-POINT  1358.3577  54.1808  710.3438
    SKEY ERPL
    ITEM-CODE  97
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1358.3577  55.5868  710.3438  2.0000  PL
    END-POINT  1358.3577  148.7748  710.3438  2.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1358.3577  148.7748  710.3438  2.0000  PL
    END-POINT  1356.9517  150.1808  710.3438  2.0000  PL
    CENTRE-POINT  1358.3577  150.1808  710.3438
    SKEY ERPL
    ITEM-CODE  93
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1356.9517  150.1808  710.3438  2.0000  PL
    END-POINT  1104.9517  150.1808  710.3438  2.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1104.9517  150.1808  710.3438  2.0000  PL
    END-POINT  1104.8267  150.1808  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  97
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1104.8267  150.1808  710.3438  2.0000  PL
    END-POINT  986.7005  150.1808  710.3438  2.0000  PL
    ITEM-CODE  96
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  986.7005  150.1808  710.3438  2.0000  PL
    END-POINT  985.8245  150.1808  710.3438  2.0000  PL
    CENTRE-POINT  986.2625  150.1808  710.3438
    BRANCH1-POINT  986.2625  150.1808  711.5938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  98
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  985.8245  150.1808  710.3438  2.0000  PL
    END-POINT  922.7500  150.1808  710.3438  2.0000  PL
    ITEM-CODE  96
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  922.7500  150.1808  710.3438  2.0000  PL
    END-POINT  919.0310  150.1808  710.3438  1.5000  PL
    BRANCH1-POINT  920.8120  150.1808  712.2188  1.2500  PL
    SKEY CTFL
    ITEM-CODE  98
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  919.0310  150.1808  710.3438  1.5000  PL
    END-POINT  862.4066  150.1808  710.3438  1.5000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  862.4066  150.1808  710.3438  1.5000  PL
    END-POINT  861.2186  150.1808  710.3438  1.5000  PL
    CENTRE-POINT  861.8126  150.1808  710.3438
    BRANCH1-POINT  861.8126  150.1808  711.2818  0.7500  PL
    SKEY TEPL
    ITEM-CODE  102
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  861.2186  150.1808  710.3438  1.5000  PL
    END-POINT  740.6566  150.1808  710.3438  1.5000  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  740.6566  150.1808  710.3438  1.5000  PL
    END-POINT  739.4686  150.1808  710.3438  1.5000  PL
    CENTRE-POINT  740.0626  150.1808  710.3438
    BRANCH1-POINT  740.0626  150.1808  711.2818  0.7500  PL
    SKEY TEPL
    ITEM-CODE  102
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  739.4686  150.1808  710.3438  1.5000  PL
    END-POINT  704.5941  150.1808  710.3438  1.5000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  704.5941  150.1808  710.3438  1.5000  PL
    END-POINT  703.4061  150.1808  710.3438  1.5000  PL
    CENTRE-POINT  704.0001  150.1808  710.3438
    BRANCH1-POINT  704.0001  150.1808  711.2818  0.7500  PL
    SKEY TEPL
    ITEM-CODE  102
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  703.4061  150.1808  710.3438  1.5000  PL
    END-POINT  667.0310  150.1808  710.3438  1.5000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  667.0310  150.1808  710.3438  1.5000  PL
    END-POINT  666.9060  150.1808  710.3438  1.5000  PL
    SKEY COCP
    ITEM-CODE  102
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  666.9060  150.1808  710.3438  1.5000  PL
    END-POINT  513.0884  150.1808  710.3438  1.5000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  513.0884  150.1808  710.3438  1.5000  PL
    END-POINT  511.9004  150.1808  710.3438  1.5000  PL
    CENTRE-POINT  512.4944  150.1808  710.3438
    BRANCH1-POINT  512.4944  150.1808  711.2818  0.7500  PL
    SKEY TEPL
    ITEM-CODE  103
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  511.9004  150.1808  710.3438  1.5000  PL
    END-POINT  456.6566  150.1808  710.3438  1.5000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  456.6566  150.1808  710.3438  1.5000  PL
    END-POINT  455.4686  150.1808  710.3438  1.5000  PL
    CENTRE-POINT  456.0626  150.1808  710.3438
    BRANCH1-POINT  456.0626  150.1808  711.2818  0.7500  PL
    SKEY TEPL
    ITEM-CODE  103
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  455.4686  150.1808  710.3438  1.5000  PL
    END-POINT  414.9060  150.1808  710.3438  1.5000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  414.9060  150.1808  710.3438  1.5000  PL
    END-POINT  414.7810  150.1808  710.3438  1.5000  PL
    SKEY COCP
    ITEM-CODE  103
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  414.7810  150.1808  710.3438  1.5000  PL
    END-POINT  378.1518  150.1808  710.3438  1.5000  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  378.1518  150.1808  710.3438  1.5000  PL
    END-POINT  377.1208  151.2118  710.3438  1.5000  PL
    CENTRE-POINT  377.1208  150.1808  710.3438
    SKEY ERPL
    ITEM-CODE  104
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  377.1208  151.2118  710.3438  1.5000  PL
    END-POINT  377.1208  231.5944  710.3438  1.5000  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  377.1208  231.5944  710.3438  1.5000  PL
    END-POINT  377.1208  233.3754  710.3438  1.2500  PL
    BRANCH1-POINT  377.1208  232.3754  711.3748  1.0000  PL
    SKEY CTFL
    ITEM-CODE  108
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  377.1208  233.3754  710.3438  1.2500  PL
    END-POINT  377.1208  372.2832  710.3438  1.2500  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  377.1208  372.2832  710.3438  1.2500  PL
    END-POINT  377.1208  373.5952  710.3438  1.2500  PL
    CENTRE-POINT  377.1208  372.9392  710.3438
    BRANCH1-POINT  377.1208  372.9392  711.0938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  112
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  377.1208  373.5952  710.3438  1.2500  PL
    END-POINT  377.1208  388.3457  710.3438  1.2500  PL
    ITEM-CODE  114
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  377.1208  388.3457  710.3438  1.2500  PL
    END-POINT  377.1208  389.6577  710.3438  1.2500  PL
    CENTRE-POINT  377.1208  389.0017  710.3438
    BRANCH1-POINT  377.1208  389.0017  711.0938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  112
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  377.1208  389.6577  710.3438  1.2500  PL
    END-POINT  377.1208  485.3754  710.3438  1.2500  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  377.1208  485.3754  710.3438  1.2500  PL
    END-POINT  377.1208  485.5004  710.3438  1.2500  PL
    SKEY COCP
    ITEM-CODE  112
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  377.1208  485.5004  710.3438  1.2500  PL
    END-POINT  377.1208  576.4306  710.3438  1.2500  PL
    ITEM-CODE  111
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  377.1208  576.4306  710.3438  1.2500  PL
    END-POINT  376.1828  577.3686  710.3438  1.2500  PL
    CENTRE-POINT  377.1208  577.3686  710.3438
    SKEY ERPL
    ITEM-CODE  132
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  376.1828  577.3686  710.3438  1.2500  PL
    END-POINT  330.2810  577.3686  710.3438  1.2500  PL
    ITEM-CODE  123
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  330.2810  577.3686  710.3438  1.2500  PL
    END-POINT  328.9690  577.3686  710.3438  1.2500  PL
    CENTRE-POINT  329.6250  577.3686  710.3438
    BRANCH1-POINT  329.6250  577.3686  711.0938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  117
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  328.9690  577.3686  710.3438  1.2500  PL
    END-POINT  253.6560  577.3686  710.3438  1.2500  PL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  253.6560  577.3686  710.3438  1.2500  PL
    END-POINT  252.3440  577.3686  710.3438  1.2500  PL
    CENTRE-POINT  253.0000  577.3686  710.3438
    BRANCH1-POINT  253.0000  577.3686  711.0938  0.7500  PL
    SKEY TEPL
    ITEM-CODE  117
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  252.3440  577.3686  710.3438  1.2500  PL
    END-POINT  168.6251  577.3686  710.3438  1.2500  PL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  168.6251  577.3686  710.3438  1.2500  PL
    END-POINT  167.6871  578.3066  710.3438  1.2500  PL
    CENTRE-POINT  167.6871  577.3686  710.3438
    SKEY ERPL
    ITEM-CODE  117
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  167.6871  578.3066  710.3438  1.2500  PL
    END-POINT  167.6871  728.8444  710.3438  1.2500  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  920.8120  150.1808  712.2188  1.2500  PL
    END-POINT  920.8120  150.1808  716.2188  1.2500  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  920.8120  150.1808  716.2188  1.2500  PL
    END-POINT  920.8120  151.1188  717.1568  1.2500  PL
    CENTRE-POINT  920.8120  150.1808  717.1568
    SKEY ERPL
    ITEM-CODE  102
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  920.8120  151.1188  717.1568  1.2500  PL
    END-POINT  920.8120  403.1188  717.1568  1.2500  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  920.8120  403.1188  717.1568  1.2500  PL
    END-POINT  920.8120  403.2438  717.1568  1.2500  PL
    SKEY COCP
    ITEM-CODE  106
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  920.8120  403.2438  717.1568  1.2500  PL
    END-POINT  920.8120  442.9624  717.1568  1.2500  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  920.8120  442.9624  717.1568  1.2500  PL
    END-POINT  920.8120  444.4314  717.1568  1.0000  PL
    BRANCH1-POINT  920.8120  443.6184  717.9378  0.7500  PL
    SKEY CTFL
    ITEM-CODE  107
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  920.8120  444.4314  717.1568  1.0000  PL
    END-POINT  920.8120  478.7879  717.1568  1.0000  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  920.8120  478.7879  717.1568  1.0000  PL
    END-POINT  920.8120  479.9759  717.1568  1.0000  PL
    CENTRE-POINT  920.8120  479.3819  717.1568
    BRANCH1-POINT  920.8120  479.3819  717.8758  0.7500  PL
    SKEY TEPL
    ITEM-CODE  111
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  920.8120  479.9759  717.1568  1.0000  PL
    END-POINT  920.8120  490.1009  717.1568  1.0000  PL
    ITEM-CODE  123
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  920.8120  490.1009  717.1568  1.0000  PL
    END-POINT  921.4680  490.7569  717.1568  1.0000  PL
    CENTRE-POINT  920.8120  490.7569  717.1568
    SKEY ERPL
    ITEM-CODE  132
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  921.4680  490.7569  717.1568  1.0000  PL
    END-POINT  1152.0311  490.7569  717.1568  1.0000  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1152.0311  490.7569  717.1568  1.0000  PL
    END-POINT  1153.2191  490.7569  717.1568  1.0000  PL
    CENTRE-POINT  1152.6251  490.7569  717.1568
    BRANCH1-POINT  1152.6251  490.7569  717.8758  0.7500  PL
    SKEY TEPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1153.2191  490.7569  717.1568  1.0000  PL
    END-POINT  1173.4680  490.7569  717.1568  1.0000  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2656.9376  157.7055  711.5938  1.0000  PL
    END-POINT  2656.9376  157.7055  715.5938  1.0000  PL
    ITEM-CODE  83
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  2656.9376  157.7055  715.5938  1.0000  PL
    END-POINT  2657.5936  157.7055  716.2497  1.0000  PL
    CENTRE-POINT  2656.9376  157.7055  716.2497
    SKEY ERPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  2657.5936  157.7055  716.2497  1.0000  PL
    END-POINT  2787.2186  157.7055  716.2497  1.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  2787.2186  157.7055  716.2497  1.0000  PL
    END-POINT  2657.5936  157.7055  716.2497  1.0000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE GMU_03_MP_surojit-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
PIPE
    END-POINT  159.7191  723.0624  710.3437  2.0000  PL
    END-POINT  159.7191  570.8324  710.3437  2.0000  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  159.7191  570.8324  710.3437  2.0000  PL
    END-POINT  161.1251  569.4264  710.3437  2.0000  PL
    CENTRE-POINT  159.7191  569.4264  710.3437
    SKEY ERPL
    ITEM-CODE  110
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  161.1251  569.4264  710.3437  2.0000  PL
    END-POINT  246.5620  569.4264  710.3437  2.0000  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  246.5620  569.4264  710.3437  2.0000  PL
    END-POINT  247.4380  569.4264  710.3437  2.0000  PL
    CENTRE-POINT  247.0000  569.4264  710.3437
    BRANCH1-POINT  247.0000  569.4264  711.5937  0.7500  PL
    SKEY TEPL
    ITEM-CODE  114
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  247.4380  569.4264  710.3437  2.0000  PL
    END-POINT  323.1870  569.4264  710.3437  2.0000  PL
    ITEM-CODE  116
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  323.1870  569.4264  710.3437  2.0000  PL
    END-POINT  324.0630  569.4264  710.3437  2.0000  PL
    CENTRE-POINT  323.6250  569.4264  710.3437
    BRANCH1-POINT  323.6250  569.4264  711.5937  0.7500  PL
    SKEY TEPL
    ITEM-CODE  114
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  324.0630  569.4264  710.3437  2.0000  PL
    END-POINT  367.6875  569.4264  710.3437  2.0000  PL
    ITEM-CODE  128
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  367.6875  569.4264  710.3437  2.0000  PL
    END-POINT  369.0935  568.0204  710.3437  2.0000  PL
    CENTRE-POINT  369.0935  569.4264  710.3437
    SKEY ERPL
    ITEM-CODE  137
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  369.0935  568.0204  710.3437  2.0000  PL
    END-POINT  369.0935  383.4074  710.3437  2.0000  PL
    ITEM-CODE  116
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  369.0935  383.4074  710.3437  2.0000  PL
    END-POINT  369.0935  382.5314  710.3437  2.0000  PL
    CENTRE-POINT  369.0935  382.9694  710.3437
    BRANCH1-POINT  369.0935  382.9694  711.5937  0.7500  PL
    SKEY TEPL
    ITEM-CODE  118
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  369.0935  382.5314  710.3437  2.0000  PL
    END-POINT  369.0935  367.3449  710.3437  2.0000  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  369.0935  367.3449  710.3437  2.0000  PL
    END-POINT  369.0935  366.4689  710.3437  2.0000  PL
    CENTRE-POINT  369.0935  366.9069  710.3437
    BRANCH1-POINT  369.0935  366.9069  711.5937  0.7500  PL
    SKEY TEPL
    ITEM-CODE  118
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  369.0935  366.4689  710.3437  2.0000  PL
    END-POINT  369.0935  305.7824  710.3437  2.0000  PL
    ITEM-CODE  116
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  369.0935  305.7824  710.3437  2.0000  PL
    END-POINT  369.0935  305.6574  710.3437  2.0000  PL
    SKEY COCP
    ITEM-CODE  118
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  369.0935  305.6574  710.3437  2.0000  PL
    END-POINT  369.0935  226.8134  710.3437  2.0000  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  369.0935  226.8134  710.3437  2.0000  PL
    END-POINT  369.0935  225.1254  710.3437  2.0000  PL
    CENTRE-POINT  369.0935  225.9694  710.3437
    BRANCH1-POINT  369.0935  225.9694  711.5937  1.0000  PL
    SKEY TEPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  369.0935  225.1254  710.3437  2.0000  PL
    END-POINT  369.0935  143.5243  710.3437  2.0000  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  369.0935  143.5243  710.3437  2.0000  PL
    END-POINT  370.4995  142.1183  710.3437  2.0000  PL
    CENTRE-POINT  369.0935  142.1183  710.3437
    SKEY ERPL
    ITEM-CODE  119
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  370.4995  142.1183  710.3437  2.0000  PL
    END-POINT  448.8751  142.1183  710.3437  2.0000  PL
    ITEM-CODE  121
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  448.8751  142.1183  710.3437  2.0000  PL
    END-POINT  451.8441  142.1183  710.3437  1.5000  PL
    BRANCH1-POINT  450.1251  142.1183  711.0627  0.7500  PL
    SKEY CTFL
    ITEM-CODE  123
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  451.8441  142.1183  710.3437  1.5000  PL
    END-POINT  505.9004  142.1183  710.3437  1.5000  PL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  505.9004  142.1183  710.3437  1.5000  PL
    END-POINT  507.0884  142.1183  710.3437  1.5000  PL
    CENTRE-POINT  506.4944  142.1183  710.3437
    BRANCH1-POINT  506.4944  142.1183  711.2817  0.7500  PL
    SKEY TEPL
    ITEM-CODE  127
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  507.0884  142.1183  710.3437  1.5000  PL
    END-POINT  697.4061  142.1183  710.3437  1.5000  PL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  697.4061  142.1183  710.3437  1.5000  PL
    END-POINT  698.5941  142.1183  710.3437  1.5000  PL
    CENTRE-POINT  698.0001  142.1183  710.3437
    BRANCH1-POINT  698.0001  142.1183  711.2817  0.7500  PL
    SKEY TEPL
    ITEM-CODE  127
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  698.5941  142.1183  710.3437  1.5000  PL
    END-POINT  703.8441  142.1183  710.3437  1.5000  PL
    ITEM-CODE  125
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  703.8441  142.1183  710.3437  1.5000  PL
    END-POINT  703.9691  142.1183  710.3437  1.5000  PL
    SKEY COCP
    ITEM-CODE  127
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  703.9691  142.1183  710.3437  1.5000  PL
    END-POINT  733.4686  142.1183  710.3437  1.5000  PL
    ITEM-CODE  126
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  733.4686  142.1183  710.3437  1.5000  PL
    END-POINT  734.6566  142.1183  710.3437  1.5000  PL
    CENTRE-POINT  734.0626  142.1183  710.3437
    BRANCH1-POINT  734.0626  142.1183  711.2817  0.7500  PL
    SKEY TEPL
    ITEM-CODE  128
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  734.6566  142.1183  710.3437  1.5000  PL
    END-POINT  855.2186  142.1183  710.3437  1.5000  PL
    ITEM-CODE  126
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  855.2186  142.1183  710.3437  1.5000  PL
    END-POINT  856.4066  142.1183  710.3437  1.5000  PL
    CENTRE-POINT  855.8126  142.1183  710.3437
    BRANCH1-POINT  855.8126  142.1183  711.2817  0.7500  PL
    SKEY TEPL
    ITEM-CODE  128
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  856.4066  142.1183  710.3437  1.5000  PL
    END-POINT  913.8549  142.1183  710.3437  1.5000  PL
    ITEM-CODE  130
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  913.8549  142.1183  710.3437  1.5000  PL
    END-POINT  915.9179  142.1183  710.3437  1.2500  PL
    BRANCH1-POINT  914.8239  142.1183  711.3127  1.2500  PL
    SKEY CTFL
    ITEM-CODE  128
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  915.9179  142.1183  710.3437  1.2500  PL
    END-POINT  979.6065  142.1183  710.3437  1.2500  PL
    ITEM-CODE  130
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  979.6065  142.1183  710.3437  1.2500  PL
    END-POINT  980.9185  142.1183  710.3437  1.2500  PL
    CENTRE-POINT  980.2625  142.1183  710.3437
    BRANCH1-POINT  980.2625  142.1183  711.0937  0.7500  PL
    SKEY TEPL
    ITEM-CODE  132
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  980.9185  142.1183  710.3437  1.2500  PL
    END-POINT  1167.9179  142.1183  710.3437  1.2500  PL
    ITEM-CODE  130
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1167.9179  142.1183  710.3437  1.2500  PL
    END-POINT  1168.0429  142.1183  710.3437  1.2500  PL
    SKEY COCP
    ITEM-CODE  132
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1168.0429  142.1183  710.3437  1.2500  PL
    END-POINT  1349.4376  142.1183  710.3437  1.2500  PL
    ITEM-CODE  131
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1349.4376  142.1183  710.3437  1.2500  PL
    END-POINT  1350.3756  141.1803  710.3437  1.2500  PL
    CENTRE-POINT  1350.3756  142.1183  710.3437
    SKEY ERPL
    ITEM-CODE  133
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1350.3756  141.1803  710.3437  1.2500  PL
    END-POINT  1350.3756  47.0868  710.3437  1.2500  PL
    ITEM-CODE  135
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1350.3756  47.0868  710.3437  1.2500  PL
    END-POINT  1351.3136  46.1488  710.3437  1.2500  PL
    CENTRE-POINT  1350.3756  46.1488  710.3437
    SKEY ERPL
    ITEM-CODE  137
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1351.3136  46.1488  710.3437  1.2500  PL
    END-POINT  1413.3751  46.1488  710.3437  1.2500  PL
    ITEM-CODE  139
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1413.3751  46.1488  710.3437  1.2500  PL
    END-POINT  1414.3131  47.0868  710.3437  1.2500  PL
    CENTRE-POINT  1414.3131  46.1488  710.3437
    SKEY ERPL
    ITEM-CODE  141
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1414.3131  47.0868  710.3437  1.2500  PL
    END-POINT  1414.3131  141.2743  710.3437  1.2500  PL
    ITEM-CODE  143
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  1414.3131  141.2743  710.3437  1.2500  PL
    END-POINT  1415.2511  142.2123  710.3437  1.2500  PL
    CENTRE-POINT  1414.3131  142.2123  710.3437
    SKEY ERPL
    ITEM-CODE  145
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  1415.2511  142.2123  710.3437  1.2500  PL
    END-POINT  1667.2511  142.2123  710.3437  1.2500  PL
    ITEM-CODE  147
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1667.2511  142.2123  710.3437  1.2500  PL
    END-POINT  1667.3761  142.2123  710.3437  1.2500  PL
    SKEY COCP
    ITEM-CODE  149
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1667.3761  142.2123  710.3437  1.2500  PL
    END-POINT  1789.3440  142.2123  710.3437  1.2500  PL
    ITEM-CODE  148
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1789.3440  142.2123  710.3437  1.2500  PL
    END-POINT  1790.6560  142.2123  710.3437  1.2500  PL
    CENTRE-POINT  1790.0000  142.2123  710.3437
    BRANCH1-POINT  1790.0000  142.2123  711.0937  0.7500  PL
    SKEY TEPL
    ITEM-CODE  150
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1790.6560  142.2123  710.3437  1.2500  PL
    END-POINT  1857.5316  142.2123  710.3437  1.2500  PL
    ITEM-CODE  148
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1857.5316  142.2123  710.3437  1.2500  PL
    END-POINT  1858.8436  142.2123  710.3437  1.2500  PL
    CENTRE-POINT  1858.1876  142.2123  710.3437
    BRANCH1-POINT  1858.1876  142.2123  711.0937  0.7500  PL
    SKEY TEPL
    ITEM-CODE  150
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1858.8436  142.2123  710.3437  1.2500  PL
    END-POINT  1919.3761  142.2123  710.3437  1.2500  PL
    ITEM-CODE  148
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1919.3761  142.2123  710.3437  1.2500  PL
    END-POINT  1919.5011  142.2123  710.3437  1.2500  PL
    SKEY COCP
    ITEM-CODE  150
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  1919.5011  142.2123  710.3437  1.2500  PL
    END-POINT  1993.3182  142.2123  710.3437  1.2500  PL
    ITEM-CODE  149
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1993.3182  142.2123  710.3437  1.2500  PL
    END-POINT  1994.6302  142.2123  710.3437  1.2500  PL
    CENTRE-POINT  1993.9742  142.2123  710.3437
    BRANCH1-POINT  1993.9742  142.2123  711.0937  0.7500  PL
    SKEY TEPL
    ITEM-CODE  151
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1994.6302  142.2123  710.3437  1.2500  PL
    END-POINT  2171.5011  142.2123  710.3437  1.2500  PL
    ITEM-CODE  149
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2171.5011  142.2123  710.3437  1.2500  PL
    END-POINT  2171.6261  142.2123  710.3437  1.2500  PL
    SKEY COCP
    ITEM-CODE  151
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2171.6261  142.2123  710.3437  1.2500  PL
    END-POINT  2203.8751  142.2123  710.3437  1.2500  PL
    ITEM-CODE  150
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2203.8751  142.2123  710.3437  1.2500  PL
    END-POINT  2205.3441  142.2123  710.3437  1.0000  PL
    BRANCH1-POINT  2204.5311  142.2123  711.1247  0.7500  PL
    SKEY CTFL
    ITEM-CODE  152
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2205.3441  142.2123  710.3437  1.0000  PL
    END-POINT  2457.3441  142.2123  710.3437  1.0000  PL
    ITEM-CODE  154
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2457.3441  142.2123  710.3437  1.0000  PL
    END-POINT  2457.4381  142.2123  710.3437  1.0000  PL
    SKEY COCP
    ITEM-CODE  156
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2457.4381  142.2123  710.3437  1.0000  PL
    END-POINT  2709.4381  142.2123  710.3437  1.0000  PL
    ITEM-CODE  155
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2709.4381  142.2123  710.3437  1.0000  PL
    END-POINT  2709.5321  142.2123  710.3437  1.0000  PL
    SKEY COCP
    ITEM-CODE  157
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2709.5321  142.2123  710.3437  1.0000  PL
    END-POINT  2792.2345  142.2123  710.3437  1.0000  PL
    ITEM-CODE  156
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  2792.2345  142.2123  710.3437  1.0000  PL
    END-POINT  2793.5785  142.2123  710.3437  0.7500  PL
    BRANCH1-POINT  2792.7975  142.2123  711.0627  0.7500  PL
    SKEY CTFL
    ITEM-CODE  158
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2793.5785  142.2123  710.3437  0.7500  PL
    END-POINT  2970.1246  142.2123  710.3437  0.7500  PL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2970.1246  142.2123  710.3437  0.7500  PL
    END-POINT  2971.0006  142.2123  710.3437  0.7500  PL
    CENTRE-POINT  2970.5626  142.2123  710.3437
    BRANCH1-POINT  2970.5626  142.2123  710.7817  0.7500  PL
    SKEY TEPL
    ITEM-CODE  162
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2971.0006  142.2123  710.3437  0.7500  PL
    END-POINT  3045.5785  142.2123  710.3437  0.7500  PL
    ITEM-CODE  160
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3045.5785  142.2123  710.3437  0.7500  PL
    END-POINT  3045.6725  142.2123  710.3437  0.7500  PL
    SKEY COCP
    ITEM-CODE  162
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3045.6725  142.2123  710.3437  0.7500  PL
    END-POINT  3255.5881  142.2123  710.3437  0.7500  PL
    ITEM-CODE  161
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  914.8239  142.1183  711.3127  1.2500  PL
    END-POINT  914.8239  142.1183  715.3127  1.2500  PL
    ITEM-CODE  130
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  914.8239  142.1183  715.3127  1.2500  PL
    END-POINT  914.8239  143.0563  716.2507  1.2500  PL
    CENTRE-POINT  914.8239  142.1183  716.2507
    SKEY ERPL
    ITEM-CODE  132
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  914.8239  143.0563  716.2507  1.2500  PL
    END-POINT  914.8239  395.0563  716.2507  1.2500  PL
    ITEM-CODE  134
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  914.8239  395.0563  716.2507  1.2500  PL
    END-POINT  914.8239  395.1813  716.2507  1.2500  PL
    SKEY COCP
    ITEM-CODE  136
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  914.8239  395.1813  716.2507  1.2500  PL
    END-POINT  914.8239  436.8887  716.2507  1.2500  PL
    ITEM-CODE  135
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  914.8239  436.8887  716.2507  1.2500  PL
    END-POINT  914.8239  438.3577  716.2507  1.0000  PL
    BRANCH1-POINT  914.8239  437.5447  717.0317  0.7500  PL
    SKEY CTFL
    ITEM-CODE  137
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  914.8239  438.3577  716.2507  1.0000  PL
    END-POINT  914.8239  484.7819  716.2507  1.0000  PL
    ITEM-CODE  139
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  914.8239  484.7819  716.2507  1.0000  PL
    END-POINT  914.8239  485.9699  716.2507  1.0000  PL
    CENTRE-POINT  914.8239  485.3759  716.2507
    BRANCH1-POINT  914.8239  485.3759  716.9697  0.7500  PL
    SKEY TEPL
    ITEM-CODE  141
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  914.8239  485.9699  716.2507  1.0000  PL
    END-POINT  914.8239  496.0944  716.2507  1.0000  PL
    ITEM-CODE  159
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  914.8239  496.0944  716.2507  1.0000  PL
    END-POINT  915.4799  496.7504  716.2507  1.0000  PL
    CENTRE-POINT  914.8239  496.7504  716.2507
    SKEY ERPL
    ITEM-CODE  168
    ITEM-DESCRIPTION  No607 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  915.4799  496.7504  716.2507  1.0000  PL
    END-POINT  1158.0435  496.7504  716.2507  1.0000  PL
    ITEM-CODE  147
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  1158.0435  496.7504  716.2507  1.0000  PL
    END-POINT  1159.2315  496.7504  716.2507  1.0000  PL
    CENTRE-POINT  1158.6375  496.7504  716.2507
    BRANCH1-POINT  1158.6375  496.7504  716.9697  0.7500  PL
    SKEY TEPL
    ITEM-CODE  149
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  1159.2315  496.7504  716.2507  1.0000  PL
    END-POINT  1167.4799  496.7504  716.2507  1.0000  PL
    ITEM-CODE  147
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  1167.4799  496.7504  716.2507  1.0000  PL
    END-POINT  1167.5739  496.7504  716.2507  1.0000  PL
    SKEY COCP
    ITEM-CODE  149
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE GMU_03_MP_surojit-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
COUPLING
    END-POINT  2473.9284  457.5418  710.3438  2.5000  PL
    END-POINT  2474.0534  457.5418  710.3438  2.5000  PL
    SKEY COCP
    ITEM-CODE  66
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2474.0534  457.5418  710.3438  2.5000  PL
    END-POINT  2653.0626  457.5418  710.3438  2.5000  PL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Pipe-A53-CS-(A-ERW)-SCH40-BLK(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2653.1876  457.5418  710.3438  2.5000  PL
    END-POINT  2653.0626  457.5418  710.3438  2.5000  PL
    SKEY COCP
    ITEM-CODE  65
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2653.0626  457.5418  710.3438  2.5000  PL
    END-POINT  2653.1876  457.5418  710.3438  2.5000  PL
    SKEY COCP
    ITEM-CODE  71
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2653.1876  457.5418  710.3438  2.5000  PL
    END-POINT  2656.9376  453.7918  710.3438  2.5000  PL
    CENTRE-POINT  2656.9376  457.5418  710.3438
    SKEY ELPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Elbow 90 LR
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  2656.9376  453.7918  710.3438  2.5000  PL
    END-POINT  2656.9376  453.6668  710.3438  2.5000  PL
    SKEY COCP
    ITEM-CODE  72
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2656.9376  453.6668  710.3438  2.5000  PL
    END-POINT  2656.9376  422.8190  710.3438  2.5000  PL
    ITEM-CODE  69
    ITEM-DESCRIPTION  Pipe-A53-CS-(A-ERW)-SCH40-BLK(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2656.9376  422.8190  710.3438  2.5000  PL
    END-POINT  2656.9376  422.9440  710.3438  2.5000  PL
    SKEY COCP
    ITEM-CODE  70
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  2656.9376  422.8190  710.3438  2.5000  PL
    END-POINT  2656.9376  419.3190  710.3438  2.0000  PL
    SKEY RCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  Reducer Concentric
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2051]
COUPLING
    END-POINT  2656.9376  419.3190  710.3438  2.0000  PL
    END-POINT  2656.9376  419.1940  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  73
    ITEM-DESCRIPTION  Shop Weld - CS-A53
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2656.9376  419.1940  710.3438  2.0000  PL
    END-POINT  2656.9376  414.4375  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  72
    ITEM-DESCRIPTION  Nipple T.O.E. xMPT
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  2656.9376  414.4375  710.3438  2.0000  PL
    END-POINT  2656.9376  413.5340  710.3438  2.0000  PL
    SKEY COCP
    ITEM-CODE  75
    ITEM-DESCRIPTION  Dielectric Union LF 3001A
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE GMU_03_MP_surojit-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  20/04/2017
REDUCER-CONCENTRIC-TEED
    END-POINT  2787.2186  157.7055  716.2498  1.0000  PL
    END-POINT  2788.5626  157.7055  716.2498  0.7500  PL
    BRANCH1-POINT  2787.7816  157.7055  716.9688  0.7500  PL
    SKEY CTFL
    ITEM-CODE  89
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-4
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2788.5626  157.7055  716.2498  0.7500  PL
    END-POINT  2976.1246  157.7055  716.2498  0.7500  PL
    ITEM-CODE  91
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-4
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  2976.1246  157.7055  716.2498  0.7500  PL
    END-POINT  2977.0006  157.7055  716.2498  0.7500  PL
    CENTRE-POINT  2976.5626  157.7055  716.2498
    BRANCH1-POINT  2976.5626  157.7055  716.6878  0.7500  PL
    SKEY TEPL
    ITEM-CODE  93
    ITEM-DESCRIPTION  No611 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-4
    ITEM-ATTRIBUTE0 CID=[2160]
PIPE
    END-POINT  2977.0006  157.7055  716.2498  0.7500  PL
    END-POINT  3040.5626  157.7055  716.2498  0.7500  PL
    ITEM-CODE  91
    ITEM-DESCRIPTION  Pipe-B88-CU-L(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3040.5626  157.7055  716.2498  0.7500  PL
    END-POINT  3040.6566  157.7055  716.2498  0.7500  PL
    SKEY COCP
    ITEM-CODE  93
    ITEM-DESCRIPTION  No600-DS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3040.6566  157.7055  716.2498  0.7500  PL
    END-POINT  3255.5881  157.7055  716.2498  0.7500  PL
    ITEM-CODE  92
    ITEM-DESCRIPTION  Pipe-B88-CU-M(PE)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  GMU_03_MP_surojit-4
    ITEM-ATTRIBUTE0 CID=[2041]