ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Drawing1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  5770.8826  2311.0720  -30.4793
    BRANCH1-POINT  5767.0533  2311.0720  -30.4713  0.7500  PL
    SKEY TESO
    ITEM-CODE  244
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-1
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  5767.0533  2311.0720  -30.4713
    BRANCH1-POINT  5770.8826  2311.0720  -30.4793  0.7500  PL
    SKEY TESO
    ITEM-CODE  244
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-1
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5770.8826  2318.7306  -30.4727  6.0000  BW
    END-POINT  5770.8826  2318.8556  -30.4727  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8826  2318.8556  -30.4727  6.0000  BW
    END-POINT  5770.8826  2322.2956  -30.4727  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8826  2322.2956  -30.4727  6.0000  BW
    END-POINT  5770.8826  2318.8556  -30.4727  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8826  2318.8556  -30.4727  6.0000  BW
    END-POINT  5770.8826  2318.7306  -30.4727  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5770.8826  2318.7306  -30.4727  6.0000  BW
    END-POINT  5770.8826  2203.3254  -30.4727  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5770.8826  2203.3254  -30.4727  6.0000  BW
    END-POINT  5770.8826  2318.7306  -30.4727  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  5770.8637  2304.3294  -30.4859  12.0000  PL
    END-POINT  5770.8637  2304.3294  -10.6043  36.0000  PL
    SKEY NCPL
    ITEM-CODE  235
    ITEM-DESCRIPTION  181 Roller Clevis Galv 875
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  5770.8637  2304.3294  -10.6043  12.0000  PL
    END-POINT  5770.8637  2304.3294  -30.4859  36.0000  PL
    SKEY NCPL
    ITEM-CODE  235
    ITEM-DESCRIPTION  181 Roller Clevis Galv 875
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  5866.8791  2311.0720  -30.6803
    BRANCH1-POINT  5863.0498  2311.0720  -30.6723  0.7500  PL
    SKEY TESO
    ITEM-CODE  244
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-4
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  5863.0498  2311.0720  -30.6723
    BRANCH1-POINT  5866.8791  2311.0720  -30.6803  0.7500  PL
    SKEY TESO
    ITEM-CODE  244
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-4
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5866.8791  2318.7306  -30.6737  6.0000  BW
    END-POINT  5866.8791  2318.8556  -30.6737  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5866.8791  2318.8556  -30.6737  6.0000  BW
    END-POINT  5866.8791  2322.2956  -30.6737  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5866.8791  2322.2956  -30.6737  6.0000  BW
    END-POINT  5866.8791  2318.8556  -30.6737  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5866.8791  2318.8556  -30.6737  6.0000  BW
    END-POINT  5866.8791  2318.7306  -30.6737  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5866.8791  2318.7306  -30.6737  6.0000  BW
    END-POINT  5866.8791  2203.3254  -30.6737  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5866.8791  2203.3254  -30.6737  6.0000  BW
    END-POINT  5866.8791  2318.7306  -30.6737  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  5866.8602  2304.3294  -30.6869  12.0000  PL
    END-POINT  5866.8602  2304.3294  -10.8053  36.0000  PL
    SKEY NCPL
    ITEM-CODE  235
    ITEM-DESCRIPTION  181 Roller Clevis Galv 875
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-6
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  5866.8602  2304.3294  -10.8053  12.0000  PL
    END-POINT  5866.8602  2304.3294  -30.6869  36.0000  PL
    SKEY NCPL
    ITEM-CODE  235
    ITEM-DESCRIPTION  181 Roller Clevis Galv 875
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-6
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  5945.8036  2311.0720  -30.8750
    BRANCH1-POINT  5941.9743  2311.0720  -30.8670  0.7500  PL
    SKEY TESO
    ITEM-CODE  244
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-7
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  5941.9743  2311.0720  -30.8670
    BRANCH1-POINT  5945.8036  2311.0720  -30.8750  0.7500  PL
    SKEY TESO
    ITEM-CODE  244
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-7
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5945.8036  2318.7306  -30.8684  6.0000  BW
    END-POINT  5945.8036  2318.8556  -30.8684  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5945.8036  2318.8556  -30.8684  6.0000  BW
    END-POINT  5945.8036  2322.2956  -30.8684  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5945.8036  2322.2956  -30.8684  6.0000  BW
    END-POINT  5945.8036  2318.8556  -30.8684  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5945.8036  2318.8556  -30.8684  6.0000  BW
    END-POINT  5945.8036  2318.7306  -30.8684  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5945.8036  2318.7306  -30.8684  6.0000  BW
    END-POINT  5945.8036  2203.3254  -30.8684  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5945.8036  2203.3254  -30.8684  6.0000  BW
    END-POINT  5945.8036  2318.7306  -30.8684  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  3152.3337  2304.5763  -102.7359  10.0000  BW
    END-POINT  3152.3337  2304.5763  -90.3750  10.0000  BW
    ITEM-CODE  219
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  3152.3337  2304.5763  -90.3750  10.0000  BW
    END-POINT  3152.3337  2304.5763  -102.7359  10.0000  BW
    ITEM-CODE  219
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-9
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  3152.3337  2304.5763  -102.8609  10.0000  BW
    END-POINT  3152.3337  2304.5763  -102.8609  10.0000  PL
    SKEY KABW
    ITEM-CODE  221
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-9
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  3152.3337  2304.5763  -102.8609  10.0000  BW
    END-POINT  3152.3337  2304.5763  -102.8609  10.0000  PL
    SKEY KABW
    ITEM-CODE  221
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-9
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  3152.3337  2304.5763  -102.8750  10.0000  BW
    END-POINT  3152.3337  2304.5763  -102.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  222
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-9
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3152.3337  2304.5763  -102.7500  10.0000  BW
    END-POINT  3152.3337  2304.5763  -102.8750  10.0000  BW
    SKEY COCP
    ITEM-CODE  222
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  3152.3337  2304.5763  -90.2500  10.0000  BW
    END-POINT  3152.3337  2304.5763  -90.3750  10.0000  BW
    SKEY COCP
    ITEM-CODE  220
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3152.3337  2304.5763  -90.3750  10.0000  BW
    END-POINT  3152.3337  2304.5763  -90.2500  10.0000  BW
    SKEY COCP
    ITEM-CODE  220
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  3152.3337  2304.6121  -90.2500  10.0000  BW
    END-POINT  3152.3337  2304.6121  -73.2500  10.0000  BW
    CENTRE-POINT  3152.3337  2304.6121  -81.7500
    BRANCH1-POINT  3152.3337  2313.1121  -81.7500  10.0000  BW
    SKEY TEBW
    ITEM-CODE  217
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  3152.3337  2304.6121  -73.2500  10.0000  BW
    END-POINT  3152.3337  2304.6121  -73.1250  10.0000  BW
    SKEY COCP
    ITEM-CODE  220
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3152.3337  2304.6121  -73.1250  10.0000  BW
    END-POINT  3152.3337  2304.6121  0.3567  10.0000  BW
    ITEM-CODE  219
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  3152.3337  2304.6121  0.3567  10.0000  BW
    END-POINT  3152.3337  2304.6121  -73.1250  10.0000  BW
    ITEM-CODE  219
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3152.3337  2304.6121  -73.1250  10.0000  BW
    END-POINT  3152.3337  2304.6121  -73.2500  10.0000  BW
    SKEY COCP
    ITEM-CODE  220
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  3152.3337  2304.6121  -73.2500  10.0000  BW
    END-POINT  3152.3337  2304.6121  -90.2500  10.0000  BW
    CENTRE-POINT  3152.3337  2304.6121  -81.7500
    BRANCH1-POINT  3152.3337  2313.1121  -81.7500  10.0000  BW
    SKEY TEBW
    ITEM-CODE  217
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  3152.3337  2313.1121  -81.7500  10.0000  BW
    END-POINT  3152.3337  2313.2371  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  221
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3152.3337  2313.2371  -81.7500  10.0000  BW
    END-POINT  3152.3337  2358.1461  -81.7500  10.0000  BW
    ITEM-CODE  217
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  3152.3337  2358.1461  -81.7500  10.0000  BW
    END-POINT  3152.3337  2313.2371  -81.7500  10.0000  BW
    ITEM-CODE  217
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3152.3337  2313.1121  -81.7500  10.0000  BW
    END-POINT  3152.3337  2313.2371  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  221
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  3152.3337  2304.5455  -96.7500
    BRANCH1-POINT  3152.3337  2310.5502  -96.7500  1.0000  PL
    SKEY TESO
    ITEM-CODE  222
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-11
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  3152.3337  2310.5502  -96.7500
    BRANCH1-POINT  3152.3337  2304.5455  -96.7500  1.0000  PL
    SKEY TESO
    ITEM-CODE  222
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-11
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  4269.4699  2373.2711  -84.0679  10.0000  BW
    END-POINT  4263.4699  2373.2711  -84.0679  10.0000  BW
    ITEM-CODE  181
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  4360.5826  2373.2711  -84.2625  10.0000  BW
    END-POINT  4354.5826  2373.2711  -84.2625  10.0000  BW
    ITEM-CODE  181
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  4475.0826  2373.2711  -84.4787  10.0000  BW
    END-POINT  4469.0826  2373.2711  -84.4787  10.0000  BW
    ITEM-CODE  181
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  3181.0681  2373.2711  -81.7783  10.0000  BW
    END-POINT  3181.1931  2373.2711  -81.7786  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  3181.1931  2373.2711  -81.7786  10.0000  BW
    END-POINT  3198.1931  2373.2711  -81.8142  10.0000  BW
    CENTRE-POINT  3189.6931  2373.2711  -81.7964
    BRANCH1-POINT  3189.6931  2381.7711  -81.7964  10.0000  BW
    SKEY TEBW
    ITEM-CODE  225
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  3198.1931  2373.2711  -81.8142  10.0000  BW
    END-POINT  3198.3181  2373.2711  -81.8145  10.0000  BW
    SKEY COCP
    ITEM-CODE  226
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3198.3181  2373.2711  -81.8145  10.0000  BW
    END-POINT  3330.8410  2373.2711  -82.0920  10.0000  BW
    ITEM-CODE  223
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3330.8410  2373.2711  -82.0920  10.0000  BW
    END-POINT  3330.9660  2373.2711  -82.0923  10.0000  BW
    SKEY COCP
    ITEM-CODE  224
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3330.9660  2373.2711  -82.0923  10.0000  BW
    END-POINT  3570.9655  2373.2711  -82.5949  10.0000  BW
    ITEM-CODE  220
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3570.9655  2373.2711  -82.5949  10.0000  BW
    END-POINT  3571.0905  2373.2711  -82.5952  10.0000  BW
    SKEY COCP
    ITEM-CODE  221
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3571.0905  2373.2711  -82.5952  10.0000  BW
    END-POINT  3811.0900  2373.2711  -83.0978  10.0000  BW
    ITEM-CODE  217
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3811.0900  2373.2711  -83.0978  10.0000  BW
    END-POINT  3811.2150  2373.2711  -83.0981  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3811.2150  2373.2711  -83.0981  10.0000  BW
    END-POINT  4051.2145  2373.2711  -83.6008  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4051.2145  2373.2711  -83.6008  10.0000  BW
    END-POINT  4051.3395  2373.2711  -83.6010  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4051.3395  2373.2711  -83.6010  10.0000  BW
    END-POINT  4291.3389  2373.2711  -84.1037  10.0000  BW
    ITEM-CODE  211
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4291.3389  2373.2711  -84.1037  10.0000  BW
    END-POINT  4291.4639  2373.2711  -84.1039  10.0000  BW
    SKEY COCP
    ITEM-CODE  212
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4291.4639  2373.2711  -84.1039  10.0000  BW
    END-POINT  4531.4634  2373.2711  -84.6066  10.0000  BW
    ITEM-CODE  209
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4531.4634  2373.2711  -84.6066  10.0000  BW
    END-POINT  4291.4639  2373.2711  -84.1039  10.0000  BW
    ITEM-CODE  209
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4291.4639  2373.2711  -84.1039  10.0000  BW
    END-POINT  4291.3389  2373.2711  -84.1037  10.0000  BW
    SKEY COCP
    ITEM-CODE  212
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4291.3389  2373.2711  -84.1037  10.0000  BW
    END-POINT  4051.3395  2373.2711  -83.6010  10.0000  BW
    ITEM-CODE  211
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4051.3395  2373.2711  -83.6010  10.0000  BW
    END-POINT  4051.2145  2373.2711  -83.6008  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4051.2145  2373.2711  -83.6008  10.0000  BW
    END-POINT  3811.2150  2373.2711  -83.0981  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3811.2150  2373.2711  -83.0981  10.0000  BW
    END-POINT  3811.0900  2373.2711  -83.0978  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3811.0900  2373.2711  -83.0978  10.0000  BW
    END-POINT  3571.0905  2373.2711  -82.5952  10.0000  BW
    ITEM-CODE  217
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3571.0905  2373.2711  -82.5952  10.0000  BW
    END-POINT  3570.9655  2373.2711  -82.5949  10.0000  BW
    SKEY COCP
    ITEM-CODE  221
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3570.9655  2373.2711  -82.5949  10.0000  BW
    END-POINT  3330.9660  2373.2711  -82.0923  10.0000  BW
    ITEM-CODE  220
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3330.9660  2373.2711  -82.0923  10.0000  BW
    END-POINT  3330.8410  2373.2711  -82.0920  10.0000  BW
    SKEY COCP
    ITEM-CODE  224
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3330.8410  2373.2711  -82.0920  10.0000  BW
    END-POINT  3198.3181  2373.2711  -81.8145  10.0000  BW
    ITEM-CODE  223
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3198.3181  2373.2711  -81.8145  10.0000  BW
    END-POINT  3198.1931  2373.2711  -81.8142  10.0000  BW
    SKEY COCP
    ITEM-CODE  226
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  3198.1931  2373.2711  -81.8142  10.0000  BW
    END-POINT  3181.1931  2373.2711  -81.7786  10.0000  BW
    CENTRE-POINT  3189.6931  2373.2711  -81.7964
    BRANCH1-POINT  3189.6931  2381.7711  -81.7964  10.0000  BW
    SKEY TEBW
    ITEM-CODE  225
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  3181.1931  2373.2711  -81.7786  10.0000  BW
    END-POINT  3181.0681  2373.2711  -81.7783  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3181.0681  2373.2711  -81.7783  10.0000  BW
    END-POINT  3167.5256  2373.2711  -81.7500  10.0000  BW
    ITEM-CODE  228
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  3167.5256  2373.2711  -81.7500  10.0000  BW
    END-POINT  3181.0681  2373.2711  -81.7783  10.0000  BW
    ITEM-CODE  228
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3189.6931  2381.7711  -81.7964  10.0000  BW
    END-POINT  3189.6931  2381.8961  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  227
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3189.6931  2381.8961  -81.7964  10.0000  BW
    END-POINT  3189.6931  2391.7235  -81.7964  10.0000  BW
    ITEM-CODE  226
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3189.6931  2391.7235  -81.7964  10.0000  BW
    END-POINT  3189.6931  2391.8485  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2391.8485  -81.7964  10.0000  BW
    END-POINT  3189.6931  2395.7885  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  230
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2395.7885  -81.7964  10.0000  PL
    END-POINT  3189.6931  2395.8510  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  150 # Full Face Gasket
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2395.8510  -81.7964  10.0000  FL
    END-POINT  3189.6931  2395.8520  -81.7964  10.0000  PL
    SKEY COCP
    ITEM-CODE  232
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  3189.6931  2395.8520  -81.7964  10.0000  FL
    END-POINT  3189.6931  2408.8520  -81.7964  10.0000  FL
    CENTRE-POINT  3189.6931  2402.3520  -81.7964
    SKEY VVFL
    ITEM-CODE  228
    ITEM-DESCRIPTION  F-617-0 Gate Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  3189.6931  2408.8520  -81.7964  10.0000  PL
    END-POINT  3189.6931  2408.9145  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  235
    ITEM-DESCRIPTION  150 # Full Face Gasket
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2408.9145  -81.7964  10.0000  FL
    END-POINT  3189.6931  2408.9155  -81.7964  10.0000  PL
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2408.9155  -81.7964  10.0000  BW
    END-POINT  3189.6931  2412.8555  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2412.8555  -81.7964  10.0000  BW
    END-POINT  3189.6931  2412.9805  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2412.9805  -81.7964  10.0000  BW
    END-POINT  3189.6931  2412.8555  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2412.8555  -81.7964  10.0000  BW
    END-POINT  3189.6931  2408.9155  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2408.9155  -81.7964  10.0000  FL
    END-POINT  3189.6931  2408.9145  -81.7964  10.0000  PL
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2408.9145  -81.7964  10.0000  PL
    END-POINT  3189.6931  2408.8520  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  235
    ITEM-DESCRIPTION  150 # Full Face Gasket
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  3189.6931  2408.8520  -81.7964  10.0000  FL
    END-POINT  3189.6931  2395.8520  -81.7964  10.0000  FL
    CENTRE-POINT  3189.6931  2402.3520  -81.7964
    SKEY VVFL
    ITEM-CODE  228
    ITEM-DESCRIPTION  F-617-0 Gate Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  3189.6931  2395.8520  -81.7964  10.0000  FL
    END-POINT  3189.6931  2395.8510  -81.7964  10.0000  PL
    SKEY COCP
    ITEM-CODE  232
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2395.8510  -81.7964  10.0000  PL
    END-POINT  3189.6931  2395.7885  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  150 # Full Face Gasket
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2395.7885  -81.7964  10.0000  BW
    END-POINT  3189.6931  2391.8485  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  230
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2391.8485  -81.7964  10.0000  BW
    END-POINT  3189.6931  2391.7235  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3189.6931  2391.7235  -81.7964  10.0000  BW
    END-POINT  3189.6931  2381.8961  -81.7964  10.0000  BW
    ITEM-CODE  226
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3189.6931  2381.7711  -81.7964  10.0000  BW
    END-POINT  3189.6931  2381.8961  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  227
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  3152.4181  2358.2711  -81.7500  10.0000  BW
    END-POINT  3152.4181  2358.1461  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-16
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3152.4181  2358.1461  -81.7500  10.0000  BW
    END-POINT  3152.4181  2358.2711  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-16
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3152.4181  2358.2711  -81.7500  10.0000  PL
    END-POINT  3167.4181  2373.2711  -81.7500  10.0000  BW
    CENTRE-POINT  3152.4181  2373.2711  -81.7500
    SKEY ELPL
    ITEM-CODE  214
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-16
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  3167.4181  2373.2711  -81.7500  10.0000  PL
    END-POINT  3152.4181  2358.2711  -81.7500  10.0000  BW
    CENTRE-POINT  3152.4181  2373.2711  -81.7500
    SKEY ELPL
    ITEM-CODE  214
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-16
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE Drawing1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  3167.4181  2373.2711  -81.7500  10.0000  BW
    END-POINT  3167.5431  2373.2711  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-17
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3167.5431  2373.2711  -81.7500  10.0000  BW
    END-POINT  3167.4181  2373.2711  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-17
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
ELBOW
    END-POINT  3204.6931  2427.9805  -81.8278  10.0000  PL
    END-POINT  3189.6931  2412.9805  -81.7964  10.0000  BW
    CENTRE-POINT  3189.6931  2427.9805  -81.7964
    SKEY ELPL
    ITEM-CODE  239
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-18
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  3189.6931  2412.9805  -81.7964  10.0000  PL
    END-POINT  3204.6931  2427.9805  -81.8278  10.0000  BW
    CENTRE-POINT  3189.6931  2427.9805  -81.7964
    SKEY ELPL
    ITEM-CODE  239
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-18
    ITEM-ATTRIBUTE0 CID=[2523]
CAP
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  BW
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  PL
    SKEY KABW
    ITEM-CODE  242
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-18
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  BW
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  PL
    SKEY KABW
    ITEM-CODE  242
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-18
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  BW
    END-POINT  3204.6931  2427.9805  -81.8278  10.0000  BW
    SKEY COCP
    ITEM-CODE  243
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-18
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3204.6931  2427.9805  -81.8278  10.0000  BW
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  BW
    SKEY COCP
    ITEM-CODE  243
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-18
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  5377.3180  2337.1106  -32.0600  18.0000  PL
    END-POINT  5377.3180  2337.1106  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  209
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  5377.3180  2337.1106  -11.0000  18.0000  PL
    END-POINT  5377.3180  2337.1106  -32.0600  36.0000  PL
    SKEY NCPL
    ITEM-CODE  209
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  5143.3682  2337.1106  -31.5701  18.0000  PL
    END-POINT  5143.3682  2337.1106  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  206
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  5143.3682  2337.1106  -11.0000  18.0000  PL
    END-POINT  5143.3682  2337.1106  -31.5701  36.0000  PL
    SKEY NCPL
    ITEM-CODE  206
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  4567.3569  2337.1461  -84.6818  18.0000  PL
    END-POINT  4567.3569  2337.1461  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  204
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4567.3569  2337.1461  -11.0000  18.0000  PL
    END-POINT  4567.3569  2337.1461  -84.6818  36.0000  PL
    SKEY NCPL
    ITEM-CODE  204
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  4723.1750  2337.1100  -30.6856  10.0000  BW
    END-POINT  4717.1750  2337.1100  -30.6856  10.0000  BW
    ITEM-CODE  181
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-22
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  4531.4634  2373.2711  -84.6066  10.0000  BW
    END-POINT  4531.5884  2373.2711  -84.6069  10.0000  BW
    SKEY COCP
    ITEM-CODE  210
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-23
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4531.5884  2373.2711  -84.6069  10.0000  BW
    END-POINT  4531.4634  2373.2711  -84.6066  10.0000  BW
    SKEY COCP
    ITEM-CODE  210
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-23
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  5565.3302  2337.1106  -46.8093  18.0000  PL
    END-POINT  5565.3302  2337.1106  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  214
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  5565.3302  2337.1106  -11.0000  18.0000  PL
    END-POINT  5565.3302  2337.1106  -46.8093  36.0000  PL
    SKEY NCPL
    ITEM-CODE  214
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  5945.7847  2304.3294  -30.8816  12.0000  PL
    END-POINT  5945.7847  2304.3294  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  235
    ITEM-DESCRIPTION  181 Roller Clevis Galv 875
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  5945.7847  2304.3294  -11.0000  12.0000  PL
    END-POINT  5945.7847  2304.3294  -30.8816  36.0000  PL
    SKEY NCPL
    ITEM-CODE  235
    ITEM-DESCRIPTION  181 Roller Clevis Galv 875
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  5926.2528  2337.1106  -47.5858  18.0000  PL
    END-POINT  5926.2528  2337.1106  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  231
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  5926.2528  2337.1106  -11.0000  18.0000  PL
    END-POINT  5926.2528  2337.1106  -47.5858  36.0000  PL
    SKEY NCPL
    ITEM-CODE  231
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  5792.2829  2337.1106  -47.2843  18.0000  PL
    END-POINT  5792.2829  2337.1106  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  232
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  5792.2829  2337.1106  -11.0000  18.0000  PL
    END-POINT  5792.2829  2337.1106  -47.2843  36.0000  PL
    SKEY NCPL
    ITEM-CODE  232
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5525.2544  2337.1106  -46.7255  10.0000  BW
    END-POINT  5525.1294  2337.1106  -46.7252  10.0000  BW
    SKEY COCP
    ITEM-CODE  213
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-28
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5525.1294  2337.1106  -46.7252  10.0000  BW
    END-POINT  5525.2544  2337.1106  -46.7255  10.0000  BW
    SKEY COCP
    ITEM-CODE  213
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-28
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5168.4242  2337.1106  -31.6228  10.0000  BW
    END-POINT  5168.2992  2337.1106  -31.6225  10.0000  BW
    SKEY COCP
    ITEM-CODE  205
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-29
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5168.2992  2337.1106  -31.6225  10.0000  BW
    END-POINT  5168.4242  2337.1106  -31.6228  10.0000  BW
    SKEY COCP
    ITEM-CODE  205
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-29
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  4783.3701  2337.1106  -30.8253  18.0000  PL
    END-POINT  4783.3701  2337.1106  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  203
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4783.3701  2337.1106  -11.0000  18.0000  PL
    END-POINT  4783.3701  2337.1106  -30.8253  36.0000  PL
    SKEY NCPL
    ITEM-CODE  203
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
MISC_COMPONENT
    END-POINT  4903.3701  2337.1106  -31.0676  18.0000  PL
    END-POINT  4903.3701  2337.1106  -11.0000  36.0000  PL
    SKEY NCPL
    ITEM-CODE  203
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4903.3701  2337.1106  -11.0000  18.0000  PL
    END-POINT  4903.3701  2337.1106  -31.0676  36.0000  PL
    SKEY NCPL
    ITEM-CODE  203
    ITEM-DESCRIPTION  181 Roller Clevis Galv 750
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Drawing1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  4859.1745  2337.1100  -30.9625  10.0000  BW
    END-POINT  4853.1745  2337.1100  -30.9625  10.0000  BW
    ITEM-CODE  181
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-32
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  4688.3000  2337.1106  -30.7034  10.0000  BW
    END-POINT  4688.1750  2337.1106  -30.7031  10.0000  BW
    SKEY COCP
    ITEM-CODE  202
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-33
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4688.1750  2337.1106  -30.7031  10.0000  BW
    END-POINT  4688.3000  2337.1106  -30.7034  10.0000  BW
    SKEY COCP
    ITEM-CODE  202
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-33
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  4582.1988  2337.1286  -99.6875
    BRANCH1-POINT  4588.2035  2337.1286  -99.6875  1.0000  PL
    SKEY TESO
    ITEM-CODE  222
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  4588.2035  2337.1286  -99.6875
    BRANCH1-POINT  4582.1988  2337.1286  -99.6875  1.0000  PL
    SKEY TESO
    ITEM-CODE  222
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-B-LPS-1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
ELBOW
    END-POINT  4597.1988  2337.1286  -30.4267  10.0000  PL
    END-POINT  4582.1988  2337.1286  -45.4267  10.0000  BW
    CENTRE-POINT  4582.1988  2337.1286  -30.4267
    SKEY ELPL
    ITEM-CODE  211
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-2
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  4582.1988  2337.1286  -45.4267  10.0000  PL
    END-POINT  4597.1988  2337.1286  -30.4267  10.0000  BW
    CENTRE-POINT  4582.1988  2337.1286  -30.4267
    SKEY ELPL
    ITEM-CODE  211
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  4597.3238  2337.1286  -30.4267  10.0000  BW
    END-POINT  4597.1988  2337.1286  -30.4267  10.0000  BW
    SKEY COCP
    ITEM-CODE  212
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4597.1988  2337.1286  -30.4267  10.0000  BW
    END-POINT  4597.3238  2337.1286  -30.4267  10.0000  BW
    SKEY COCP
    ITEM-CODE  212
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4597.3238  2337.1106  -30.4091  10.0000  BW
    END-POINT  4651.6869  2337.1104  -30.5230  10.0000  BW
    ITEM-CODE  199
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4651.6869  2337.1104  -30.5230  10.0000  BW
    END-POINT  4597.3238  2337.1106  -30.4091  10.0000  BW
    ITEM-CODE  199
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-B-LPS-1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  4582.1958  2337.1286  -93.3125  10.0000  BW
    END-POINT  4582.1958  2337.1286  -93.1875  10.0000  BW
    SKEY COCP
    ITEM-CODE  220
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  4582.1958  2337.1286  -93.1875  10.0000  BW
    END-POINT  4582.1958  2337.1286  -76.1875  10.0000  BW
    CENTRE-POINT  4582.1958  2337.1286  -84.6875
    BRANCH1-POINT  4573.6958  2337.1286  -84.6875  10.0000  BW
    SKEY TEBW
    ITEM-CODE  217
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  4582.1958  2337.1286  -76.1875  10.0000  BW
    END-POINT  4582.1958  2337.1286  -76.0625  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4582.1958  2337.1286  -76.0625  10.0000  BW
    END-POINT  4582.1958  2337.1286  -76.1875  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  4582.1958  2337.1286  -76.1875  10.0000  BW
    END-POINT  4582.1958  2337.1286  -93.1875  10.0000  BW
    CENTRE-POINT  4582.1958  2337.1286  -84.6875
    BRANCH1-POINT  4573.6958  2337.1286  -84.6875  10.0000  BW
    SKEY TEBW
    ITEM-CODE  217
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  4582.1958  2337.1286  -93.1875  10.0000  BW
    END-POINT  4582.1958  2337.1286  -93.3125  10.0000  BW
    SKEY COCP
    ITEM-CODE  220
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4582.1958  2337.1286  -93.3125  10.0000  BW
    END-POINT  4582.1958  2337.1286  -105.6734  10.0000  BW
    ITEM-CODE  219
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4582.1958  2337.1286  -105.6734  10.0000  BW
    END-POINT  4582.1958  2337.1286  -93.3125  10.0000  BW
    ITEM-CODE  219
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4573.5888  2337.1461  -84.6948  10.0000  BW
    END-POINT  4561.7133  2337.1461  -84.6699  10.0000  BW
    ITEM-CODE  202
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4561.7133  2337.1461  -84.6699  10.0000  BW
    END-POINT  4561.5883  2337.1461  -84.6697  10.0000  BW
    SKEY COCP
    ITEM-CODE  203
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4561.5883  2337.1461  -84.6697  10.0000  BW
    END-POINT  4561.7133  2337.1461  -84.6699  10.0000  BW
    SKEY COCP
    ITEM-CODE  203
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4561.7133  2337.1461  -84.6699  10.0000  BW
    END-POINT  4573.5888  2337.1461  -84.6948  10.0000  BW
    ITEM-CODE  202
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4573.5883  2337.1461  -84.6697  10.0000  BW
    END-POINT  4573.7133  2337.1461  -84.6699  10.0000  BW
    SKEY COCP
    ITEM-CODE  202
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4573.5883  2337.1461  -84.6697  10.0000  BW
    END-POINT  4573.7133  2337.1461  -84.6699  10.0000  BW
    SKEY COCP
    ITEM-CODE  202
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  4582.1988  2337.1286  -45.5517  10.0000  BW
    END-POINT  4582.1988  2337.1286  -45.4267  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4582.1988  2337.1286  -45.4267  10.0000  BW
    END-POINT  4582.1988  2337.1286  -45.5517  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4582.1988  2337.1286  -45.5517  10.0000  BW
    END-POINT  4582.1988  2337.1286  -76.0625  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4582.1988  2337.1286  -76.0625  10.0000  BW
    END-POINT  4582.1988  2337.1286  -45.5517  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-B-LPS-1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
ELBOW
    END-POINT  4546.5884  2358.2712  -84.6069  10.0000  PL
    END-POINT  4531.5884  2373.2711  -84.6069  10.0000  BW
    CENTRE-POINT  4546.5884  2373.2711  -84.6383
    SKEY ELPL
    ITEM-CODE  206
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-5
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  4531.5884  2373.2711  -84.6069  10.0000  PL
    END-POINT  4546.5884  2358.2712  -84.6069  10.0000  BW
    CENTRE-POINT  4546.5884  2373.2711  -84.6383
    SKEY ELPL
    ITEM-CODE  206
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-5
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  4546.5884  2358.1462  -84.6506  10.0000  BW
    END-POINT  4546.5884  2358.2712  -84.6509  10.0000  BW
    SKEY COCP
    ITEM-CODE  208
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4546.5884  2358.2712  -84.6509  10.0000  BW
    END-POINT  4546.5884  2358.1462  -84.6506  10.0000  BW
    SKEY COCP
    ITEM-CODE  208
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4546.5884  2358.1462  -84.6506  10.0000  BW
    END-POINT  4546.5884  2352.2537  -84.6383  10.0000  BW
    ITEM-CODE  207
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4546.5884  2352.2537  -84.6383  10.0000  BW
    END-POINT  4546.5884  2358.1462  -84.6506  10.0000  BW
    ITEM-CODE  207
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-B-LPS-1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
CAP
    END-POINT  4582.1958  2337.1286  -105.7984  10.0000  BW
    END-POINT  4582.1958  2337.1286  -105.7984  10.0000  PL
    SKEY KABW
    ITEM-CODE  221
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-6
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  4582.1958  2337.1286  -105.7984  10.0000  BW
    END-POINT  4582.1958  2337.1286  -105.7984  10.0000  PL
    SKEY KABW
    ITEM-CODE  221
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-6
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  4582.1958  2337.1286  -105.8125  10.0000  BW
    END-POINT  4582.1958  2337.1286  -105.6875  10.0000  BW
    SKEY COCP
    ITEM-CODE  222
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4582.1958  2337.1286  -105.6875  10.0000  BW
    END-POINT  4582.1958  2337.1286  -105.8125  10.0000  BW
    SKEY COCP
    ITEM-CODE  222
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
ELBOW
    END-POINT  4546.5884  2352.1462  -84.6697  10.0000  PL
    END-POINT  4561.5883  2337.1461  -84.6697  10.0000  BW
    CENTRE-POINT  4546.5884  2337.1462  -84.6383
    SKEY ELPL
    ITEM-CODE  201
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-7
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  4561.5883  2337.1461  -84.6697  10.0000  PL
    END-POINT  4546.5884  2352.1462  -84.6697  10.0000  BW
    CENTRE-POINT  4546.5884  2337.1462  -84.6383
    SKEY ELPL
    ITEM-CODE  201
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-7
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  4546.5884  2352.2712  -84.6509  10.0000  BW
    END-POINT  4546.5884  2352.1462  -84.6506  10.0000  BW
    SKEY COCP
    ITEM-CODE  207
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-7
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  4546.5884  2352.1462  -84.6506  10.0000  BW
    END-POINT  4546.5884  2352.2712  -84.6509  10.0000  BW
    SKEY COCP
    ITEM-CODE  207
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-1-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-2-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  4688.3002  2337.1106  -30.6172  10.0000  BW
    END-POINT  5168.2992  2337.1106  -31.6225  10.0000  BW
    ITEM-CODE  201
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-2-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5168.2992  2337.1106  -31.6225  10.0000  BW
    END-POINT  4688.3002  2337.1106  -30.6172  10.0000  BW
    ITEM-CODE  201
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-2-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-B-LPS-3-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  5508.9266  2337.1106  -36.7175  10.0000  BW
    END-POINT  5514.3811  2337.1106  -42.1949  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5514.3811  2337.1106  -42.1949  10.0000  BW
    END-POINT  5508.9266  2337.1106  -36.7175  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  5508.9747  2337.1106  -36.7552  10.0000  PL
    END-POINT  5498.3146  2337.1106  -32.3134  10.0000  BW
    CENTRE-POINT  5504.5645  2337.1106  -32.3265
    SKEY ELPL
    ITEM-CODE  211
    ITEM-DESCRIPTION  45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  5498.3146  2337.1106  -32.3134  10.0000  PL
    END-POINT  5508.9747  2337.1106  -36.7552  10.0000  BW
    CENTRE-POINT  5504.5645  2337.1106  -32.3265
    SKEY ELPL
    ITEM-CODE  211
    ITEM-DESCRIPTION  45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5509.0629  2337.1106  -36.8437  10.0000  BW
    END-POINT  5508.9747  2337.1106  -36.7552  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5508.9747  2337.1106  -36.7552  10.0000  BW
    END-POINT  5509.0629  2337.1106  -36.8437  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-3-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
ELBOW
    END-POINT  5514.4693  2337.1106  -42.2834  10.0000  PL
    END-POINT  5525.1294  2337.1106  -46.7252  10.0000  BW
    CENTRE-POINT  5518.8794  2337.1106  -46.7121
    SKEY ELPL
    ITEM-CODE  217
    ITEM-DESCRIPTION  45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-2
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  5525.1294  2337.1106  -46.7252  10.0000  PL
    END-POINT  5514.4693  2337.1106  -42.2834  10.0000  BW
    CENTRE-POINT  5518.8794  2337.1106  -46.7121
    SKEY ELPL
    ITEM-CODE  217
    ITEM-DESCRIPTION  45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5514.4693  2337.1106  -42.2834  10.0000  BW
    END-POINT  5514.3811  2337.1106  -42.1949  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5514.3811  2337.1106  -42.1949  10.0000  BW
    END-POINT  5514.4693  2337.1106  -42.2834  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-3-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  5168.4242  2337.1106  -31.6228  10.0000  BW
    END-POINT  5498.1896  2337.1106  -32.3134  10.0000  BW
    ITEM-CODE  209
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5498.1896  2337.1106  -32.3134  10.0000  BW
    END-POINT  5168.4242  2337.1106  -31.6228  10.0000  BW
    ITEM-CODE  209
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Drawing1-B-LPS-3-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5498.3146  2337.1106  -32.3134  10.0000  BW
    END-POINT  5498.1896  2337.1106  -32.3131  10.0000  BW
    SKEY COCP
    ITEM-CODE  210
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5498.1896  2337.1106  -32.3131  10.0000  BW
    END-POINT  5498.3146  2337.1106  -32.3134  10.0000  BW
    SKEY COCP
    ITEM-CODE  210
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-3-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-4-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  5937.1436  2337.1106  -47.5877  10.0000  BW
    END-POINT  5875.4514  2337.1106  -47.4585  10.0000  BW
    ITEM-CODE  229
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5875.4514  2337.1106  -47.4585  10.0000  BW
    END-POINT  5937.1436  2337.1106  -47.5877  10.0000  BW
    ITEM-CODE  229
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5937.2685  2337.1106  -47.6173  10.0000  BW
    END-POINT  5937.1435  2337.1106  -47.6170  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5937.1435  2337.1106  -47.6170  10.0000  BW
    END-POINT  5937.2685  2337.1106  -47.6173  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5937.2686  2337.1106  -47.6005  10.0000  BW
    END-POINT  5937.1436  2337.1106  -47.6003  10.0000  BW
    SKEY COCP
    ITEM-CODE  232
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5937.1436  2337.1106  -47.6003  10.0000  BW
    END-POINT  5937.2686  2337.1106  -47.6005  10.0000  BW
    SKEY COCP
    ITEM-CODE  232
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  5937.2686  2337.1106  -47.6005  10.0000  BW
    END-POINT  5954.2685  2337.1106  -47.6361  10.0000  BW
    CENTRE-POINT  5945.7685  2337.1106  -47.6183
    BRANCH1-POINT  5945.7845  2337.1106  -39.9934  6.0000  BW
    SKEY TEBW
    ITEM-CODE  234
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2047]
TEE
    END-POINT  5954.2685  2337.1106  -47.6361  10.0000  BW
    END-POINT  5937.2686  2337.1106  -47.6005  10.0000  BW
    CENTRE-POINT  5945.7685  2337.1106  -47.6183
    BRANCH1-POINT  5945.7845  2337.1106  -39.9934  6.0000  BW
    SKEY TEBW
    ITEM-CODE  234
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5945.7845  2337.1106  -39.9934  6.0000  BW
    END-POINT  5945.7848  2337.1106  -39.8684  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5945.7848  2337.1106  -39.8684  6.0000  PL
    END-POINT  5945.8036  2328.1106  -30.8684  6.0000  BW
    CENTRE-POINT  5945.8036  2337.1106  -30.8684
    SKEY ELPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5945.8036  2328.1106  -30.8684  6.0000  BW
    END-POINT  5945.8036  2327.9856  -30.8684  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5945.8036  2327.9856  -30.8684  6.0000  BW
    END-POINT  5945.8036  2324.5456  -30.8684  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5945.8036  2324.5456  -30.8684  6.0000  BW
    END-POINT  5945.8036  2327.9856  -30.8684  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5945.8036  2327.9856  -30.8684  6.0000  BW
    END-POINT  5945.8036  2328.1106  -30.8684  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5945.8036  2328.1106  -30.8684  6.0000  PL
    END-POINT  5945.7848  2337.1106  -39.8684  6.0000  BW
    CENTRE-POINT  5945.8036  2337.1106  -30.8684
    SKEY ELPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5945.7848  2337.1106  -39.8684  6.0000  BW
    END-POINT  5945.7845  2337.1106  -39.9934  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-4-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  5932.1435  2337.1106  -47.6250
    BRANCH1-POINT  5932.1559  2337.1106  -41.7332  0.7500  PL
    SKEY TESO
    ITEM-CODE  231
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-2
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  5932.1559  2337.1106  -41.7332
    BRANCH1-POINT  5932.1435  2337.1106  -47.6250  0.7500  PL
    SKEY TESO
    ITEM-CODE  231
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-2
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-B-LPS-4-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  5853.2189  2337.1106  -47.4471
    BRANCH1-POINT  5853.2313  2337.1106  -41.5553  0.7500  PL
    SKEY TESO
    ITEM-CODE  231
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-3
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  5853.2313  2337.1106  -41.5553
    BRANCH1-POINT  5853.2189  2337.1106  -47.4471  0.7500  PL
    SKEY TESO
    ITEM-CODE  231
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-3
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-B-LPS-4-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  5962.8152  2337.1106  -68.2959
    BRANCH1-POINT  5956.8105  2337.1106  -68.2833  1.0000  PL
    SKEY TESO
    ITEM-CODE  240
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-4
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  5956.8105  2337.1106  -68.2833
    BRANCH1-POINT  5962.8152  2337.1106  -68.2959  1.0000  PL
    SKEY TESO
    ITEM-CODE  240
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-4
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-B-LPS-4-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5858.3440  2337.1106  -47.4227  10.0000  BW
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    SKEY COCP
    ITEM-CODE  233
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    END-POINT  5779.4725  2337.1106  -47.2575  10.0000  BW
    ITEM-CODE  230
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5779.4725  2337.1106  -47.2575  10.0000  BW
    END-POINT  5779.3475  2337.1106  -47.2572  10.0000  BW
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5779.3475  2337.1106  -47.2572  10.0000  BW
    END-POINT  5779.4725  2337.1106  -47.2575  10.0000  BW
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5779.4725  2337.1106  -47.2575  10.0000  BW
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    ITEM-CODE  230
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    END-POINT  5858.3440  2337.1106  -47.4227  10.0000  BW
    SKEY COCP
    ITEM-CODE  233
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5858.3440  2337.1106  -47.4226  10.0000  BW
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    END-POINT  5858.3440  2337.1106  -47.4226  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  5858.3440  2337.1106  -47.4059  10.0000  BW
    END-POINT  5875.3440  2337.1106  -47.4415  10.0000  BW
    CENTRE-POINT  5866.8440  2337.1106  -47.4237
    BRANCH1-POINT  5866.8600  2337.1106  -39.7987  6.0000  BW
    SKEY TEBW
    ITEM-CODE  234
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2047]
TEE
    END-POINT  5875.3440  2337.1106  -47.4415  10.0000  BW
    END-POINT  5858.3440  2337.1106  -47.4059  10.0000  BW
    CENTRE-POINT  5866.8440  2337.1106  -47.4237
    BRANCH1-POINT  5866.8600  2337.1106  -39.7987  6.0000  BW
    SKEY TEBW
    ITEM-CODE  234
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5866.8600  2337.1106  -39.7987  6.0000  BW
    END-POINT  5866.8602  2337.1106  -39.6737  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5866.8602  2337.1106  -39.6737  6.0000  PL
    END-POINT  5866.8791  2328.1106  -30.6737  6.0000  BW
    CENTRE-POINT  5866.8791  2337.1106  -30.6737
    SKEY ELPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5866.8791  2328.1106  -30.6737  6.0000  BW
    END-POINT  5866.8791  2327.9856  -30.6737  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5866.8791  2327.9856  -30.6737  6.0000  BW
    END-POINT  5866.8791  2324.5456  -30.6737  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  5866.8791  2324.5456  -30.6737  6.0000  FL
    END-POINT  5866.8791  2322.2956  -30.6737  6.0000  FL
    CENTRE-POINT  5866.8791  2323.4206  -30.6737
    SKEY VVFL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[868]
VALVE
    END-POINT  5866.8791  2322.2956  -30.6737  6.0000  FL
    END-POINT  5866.8791  2324.5456  -30.6737  6.0000  FL
    CENTRE-POINT  5866.8791  2323.4206  -30.6737
    SKEY VVFL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  5866.8791  2324.5456  -30.6737  6.0000  BW
    END-POINT  5866.8791  2327.9856  -30.6737  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5866.8791  2327.9856  -30.6737  6.0000  BW
    END-POINT  5866.8791  2328.1106  -30.6737  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5866.8791  2328.1106  -30.6737  6.0000  PL
    END-POINT  5866.8602  2337.1106  -39.6737  6.0000  BW
    CENTRE-POINT  5866.8791  2337.1106  -30.6737
    SKEY ELPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5866.8602  2337.1106  -39.6737  6.0000  BW
    END-POINT  5866.8600  2337.1106  -39.7987  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-4-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
VALVE
    END-POINT  5945.8036  2324.5456  -30.8684  6.0000  FL
    END-POINT  5945.8036  2322.2956  -30.8684  6.0000  FL
    CENTRE-POINT  5945.8036  2323.4206  -30.8684
    SKEY VVFL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-6
    ITEM-ATTRIBUTE0 CID=[868]
VALVE
    END-POINT  5945.8036  2322.2956  -30.8684  6.0000  FL
    END-POINT  5945.8036  2324.5456  -30.8684  6.0000  FL
    CENTRE-POINT  5945.8036  2323.4206  -30.8684
    SKEY VVFL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-6
    ITEM-ATTRIBUTE0 CID=[868]
PIPELINE-REFERENCE Drawing1-B-LPS-4-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
CAP
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  BW
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  PL
    SKEY KABW
    ITEM-CODE  235
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  BW
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  PL
    SKEY KABW
    ITEM-CODE  235
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  BW
    END-POINT  5971.3934  2337.1106  -47.6888  10.0000  BW
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  5971.3934  2337.1106  -47.6888  10.0000  BW
    END-POINT  5954.3935  2337.1106  -47.6532  10.0000  BW
    CENTRE-POINT  5962.8935  2337.1106  -47.6710
    BRANCH1-POINT  5962.8757  2337.1106  -56.1709  10.0000  BW
    SKEY TEBW
    ITEM-CODE  233
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5954.3935  2337.1106  -47.6532  10.0000  BW
    END-POINT  5954.2685  2337.1106  -47.6529  10.0000  BW
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5954.2685  2337.1106  -47.6529  10.0000  BW
    END-POINT  5954.3935  2337.1106  -47.6532  10.0000  BW
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  5954.3935  2337.1106  -47.6532  10.0000  BW
    END-POINT  5971.3934  2337.1106  -47.6888  10.0000  BW
    CENTRE-POINT  5962.8935  2337.1106  -47.6710
    BRANCH1-POINT  5962.8757  2337.1106  -56.1709  10.0000  BW
    SKEY TEBW
    ITEM-CODE  233
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5971.3934  2337.1106  -47.6888  10.0000  BW
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  BW
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5962.8754  2337.1106  -56.2959  10.0000  BW
    END-POINT  5962.8440  2337.1106  -71.2959  10.0000  BW
    ITEM-CODE  235
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5962.8440  2337.1106  -71.2959  10.0000  BW
    END-POINT  5962.8754  2337.1106  -56.2959  10.0000  BW
    ITEM-CODE  235
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5962.8754  2337.1106  -56.2959  10.0000  BW
    END-POINT  5962.8757  2337.1106  -56.1709  10.0000  BW
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5962.8754  2337.1106  -56.2959  10.0000  BW
    END-POINT  5962.8757  2337.1106  -56.1709  10.0000  BW
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-4-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
CAP
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  BW
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  PL
    SKEY KABW
    ITEM-CODE  237
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-8
    ITEM-ATTRIBUTE0 CID=[2060]
CAP
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  BW
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  PL
    SKEY KABW
    ITEM-CODE  237
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-8
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  BW
    END-POINT  5962.8503  2337.1106  -71.2959  10.0000  BW
    SKEY COCP
    ITEM-CODE  238
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5962.8503  2337.1106  -71.2959  10.0000  BW
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  BW
    SKEY COCP
    ITEM-CODE  238
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-4-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
PIPE
    END-POINT  5525.2544  2337.1106  -46.7250  10.0000  BW
    END-POINT  5762.2049  2337.1106  -47.2213  10.0000  BW
    ITEM-CODE  212
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  5762.2049  2337.1106  -47.2213  10.0000  BW
    END-POINT  5525.2544  2337.1106  -46.7250  10.0000  BW
    ITEM-CODE  212
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-9
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  5762.3476  2337.1106  -47.2049  10.0000  BW
    END-POINT  5779.3475  2337.1106  -47.2405  10.0000  BW
    CENTRE-POINT  5770.8476  2337.1106  -47.2227
    BRANCH1-POINT  5770.8635  2337.1106  -39.5977  6.0000  BW
    SKEY TEBW
    ITEM-CODE  234
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-10
    ITEM-ATTRIBUTE0 CID=[2047]
TEE
    END-POINT  5779.3475  2337.1106  -47.2405  10.0000  BW
    END-POINT  5762.3476  2337.1106  -47.2049  10.0000  BW
    CENTRE-POINT  5770.8476  2337.1106  -47.2227
    BRANCH1-POINT  5770.8635  2337.1106  -39.5977  6.0000  BW
    SKEY TEBW
    ITEM-CODE  234
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-10
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5762.3475  2337.1106  -47.2216  10.0000  BW
    END-POINT  5762.2225  2337.1106  -47.2214  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-10
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5762.2225  2337.1106  -47.2214  10.0000  BW
    END-POINT  5762.3475  2337.1106  -47.2216  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-10
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5770.8638  2337.1106  -39.4727  6.0000  PL
    END-POINT  5770.8826  2328.1106  -30.4727  6.0000  BW
    CENTRE-POINT  5770.8826  2337.1106  -30.4727
    SKEY ELPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-10
    ITEM-ATTRIBUTE0 CID=[2523]
ELBOW
    END-POINT  5770.8826  2328.1106  -30.4727  6.0000  PL
    END-POINT  5770.8638  2337.1106  -39.4727  6.0000  BW
    CENTRE-POINT  5770.8826  2337.1106  -30.4727
    SKEY ELPL
    ITEM-CODE  236
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-10
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5770.8638  2337.1106  -39.4727  6.0000  BW
    END-POINT  5770.8635  2337.1106  -39.5977  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-10
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8638  2337.1106  -39.4727  6.0000  BW
    END-POINT  5770.8635  2337.1106  -39.5977  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-4-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
TEE-SET-ON
    CENTRE-POINT  5757.2225  2337.1106  -47.2461
    BRANCH1-POINT  5757.2348  2337.1106  -41.3543  0.7500  PL
    SKEY TESO
    ITEM-CODE  231
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-11
    ITEM-ATTRIBUTE0 CID=[2875]
TEE-SET-ON
    CENTRE-POINT  5757.2348  2337.1106  -41.3543
    BRANCH1-POINT  5757.2225  2337.1106  -47.2461  0.7500  PL
    SKEY TESO
    ITEM-CODE  231
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-11
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE Drawing1-B-LPS-4-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5875.3439  2337.1106  -47.4582  10.0000  BW
    END-POINT  5875.4689  2337.1106  -47.4585  10.0000  BW
    SKEY COCP
    ITEM-CODE  230
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-12
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5875.4689  2337.1106  -47.4585  10.0000  BW
    END-POINT  5875.3439  2337.1106  -47.4582  10.0000  BW
    SKEY COCP
    ITEM-CODE  230
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-4-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
COUPLING
    END-POINT  5770.8826  2327.9856  -30.4727  6.0000  BW
    END-POINT  5770.8826  2328.1106  -30.4727  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-13
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8826  2328.1106  -30.4727  6.0000  BW
    END-POINT  5770.8826  2327.9856  -30.4727  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-13
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8826  2327.9856  -30.4727  6.0000  BW
    END-POINT  5770.8826  2324.5456  -30.4727  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-13
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8826  2324.5456  -30.4727  6.0000  BW
    END-POINT  5770.8826  2327.9856  -30.4727  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Drawing1-B-LPS-4-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  08/12/2016
VALVE
    END-POINT  5770.8826  2324.5456  -30.4727  6.0000  FL
    END-POINT  5770.8826  2322.2956  -30.4727  6.0000  FL
    CENTRE-POINT  5770.8826  2323.4206  -30.4727
    SKEY VVFL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-14
    ITEM-ATTRIBUTE0 CID=[868]
VALVE
    END-POINT  5770.8826  2322.2956  -30.4727  6.0000  FL
    END-POINT  5770.8826  2324.5456  -30.4727  6.0000  FL
    CENTRE-POINT  5770.8826  2323.4206  -30.4727
    SKEY VVFL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  Drawing1-B-LPS-4-14
    ITEM-ATTRIBUTE0 CID=[868]