{embed="includes/doctype"}
{embed="includes/head"}
<body>
<div id="container">
{embed="includes/header"}
    <div id="container-body">
        <div id="banner-featured-container">
        <div id="banner-featured-holder">
        	<div id="banner-featured">
           	  <div class="banner-featured-info">
            	<h1>Clients</h1>
                </div>
            </div>
          </div>
        </div>
        <div id="container-content">
        {!--
        <div id="side-col">
        &nbsp;
        </div>
        --}
      <div id="main">
       	<h2>Sub Heading</h2>
       	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend mattis orci nec bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec felis sapien, sodales sit amet sapien non, convallis pellentesque risus. Suspendisse semper elit quis pretium facilisis. Vestibulum vestibulum elit a ligula tincidunt, eu fringilla sem posuere. Vestibulum eget semper tellus. Pellentesque dapibus metus ornare viverra tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas placerat venenatis lorem ut hendrerit.</p>
      </div>
        <div id="sidebar">
        uigulg
        </div>
        </div>
    </div>
{embed="includes/footer"}
</div>
{embed="includes/pages-bottom"}
</body>
</html>
