ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
ELBOW-REDUCING
    END-POINT  -854.5701  -239.1310  1167.4794  4.0000  PL
    END-POINT  -851.9404  -236.5013  1167.4246  4.0000  PL
    CENTRE-POINT  -851.9402  -239.1311  1167.4520
    SKEY ERPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -851.9404  -236.5013  1167.4246  4.0000  PL
    END-POINT  -851.9404  -224.7423  1167.3021  4.0000  PL
    ITEM-CODE  76
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -851.9405  -224.7423  1167.3021  4.0000  PL
    END-POINT  -851.9405  -224.5324  1167.2999  4.0000  PL
    SKEY COCP
    ITEM-CODE  75
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -884.5639  -239.1309  1155.2640  3.0000  PL
    END-POINT  -884.5490  -239.1309  1177.2120  3.0000  PL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -884.5490  -239.1309  1177.2120  3.0000  PL
    END-POINT  -884.5490  -239.1309  1177.3220  3.0000  PL
    SKEY COCP
    ITEM-CODE  69
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -884.5490  -239.1309  1177.3220  3.0000  PL
    END-POINT  -884.5490  -239.1309  1200.0000  3.0000  PL
    ITEM-CODE  15
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -851.9405  -209.9438  1163.1697  4.0000  PL
    END-POINT  -851.9405  -209.9547  1158.9594  4.0000  PL
    ITEM-CODE  34
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -851.9405  -209.9547  1158.9594  4.0000  PL
    END-POINT  -851.9405  -209.9552  1158.7494  4.0000  PL
    SKEY COCP
    ITEM-CODE  33
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -285.4199  -220.5997  1144.8303  3.0000  PL
    END-POINT  -404.6865  -220.5997  1146.0622  3.0000  PL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -404.6865  -220.5997  1146.0622  3.0000  PL
    END-POINT  -404.7965  -220.5997  1146.0634  3.0000  PL
    SKEY COCP
    ITEM-CODE  51
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -404.7965  -220.5997  1146.0634  3.0000  PL
    END-POINT  -521.1683  -220.5997  1147.2654  3.0000  PL
    ITEM-CODE  8
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -524.5212  -209.9552  1146.9361  4.0000  PL
    END-POINT  -404.7398  -209.9552  1145.6883  4.0000  PL
    ITEM-CODE  44
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -404.7398  -209.9552  1145.6883  4.0000  PL
    END-POINT  -404.5298  -209.9552  1145.6861  4.0000  PL
    SKEY COCP
    ITEM-CODE  43
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -404.5298  -209.9552  1145.6861  4.0000  PL
    END-POINT  -284.3486  -209.9552  1144.4343  4.0000  PL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
COUPLING
    END-POINT  -280.3484  -209.9552  1134.3403  4.0000  PL
    END-POINT  -280.3484  -209.9552  1134.5503  4.0000  PL
    SKEY COCP
    ITEM-CODE  37
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -280.3484  -209.9552  1134.5503  4.0000  PL
    END-POINT  -280.3484  -209.9552  1140.4362  4.0000  PL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
COUPLING
    END-POINT  92.1783  -349.2409  1080.6427  4.0000  PL
    END-POINT  92.1783  -349.2409  1080.8527  4.0000  PL
    SKEY COCP
    ITEM-CODE  99
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  92.1783  -349.2409  1080.8527  4.0000  PL
    END-POINT  92.1783  -349.2409  1091.6954  4.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  92.1783  -349.2409  1091.6954  4.0000  PL
    END-POINT  92.1783  -349.2409  1095.9154  4.0000  PL
    CENTRE-POINT  92.1783  -349.2409  1093.8054
    BRANCH1-POINT  92.1783  -351.2809  1093.8054  4.0000  PL
    SKEY TEPL
    ITEM-CODE  92
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2047]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
COUPLING
    END-POINT  92.1783  -349.2409  1106.1950  4.0000  PL
    END-POINT  92.1783  -349.2413  1106.4050  4.0000  PL
    SKEY COCP
    ITEM-CODE  97
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  92.1783  -349.2413  1106.4050  4.0000  PL
    END-POINT  92.1783  -349.2558  1114.6546  4.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
COUPLING
    END-POINT  92.1783  -383.3759  1093.8054  2.0000  PL
    END-POINT  92.1783  -383.2059  1093.8054  2.0000  PL
    SKEY COCP
    ITEM-CODE  105
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  92.1783  -383.2059  1093.8054  2.0000  PL
    END-POINT  92.1783  -361.3659  1093.8054  2.0000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  92.1783  -361.3659  1093.8054  2.0000  PL
    END-POINT  92.1783  -361.1959  1093.8054  2.0000  PL
    SKEY COCP
    ITEM-CODE  110
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  92.1783  -361.1959  1093.8054  2.0000  PL
    END-POINT  92.1783  -357.3609  1093.8054  2.0000  PL
    ITEM-CODE  111
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
ELBOW-REDUCING
    END-POINT  92.1783  -401.5309  1093.8054  2.0000  PL
    END-POINT  92.1783  -402.8809  1092.4554  2.0000  PL
    CENTRE-POINT  92.1783  -402.8809  1093.8054
    SKEY ERPL
    ITEM-CODE  95
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  92.1783  -402.8809  1092.4554  2.0000  PL
    END-POINT  92.1783  -402.8809  1050.6377  2.0000  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -277.4556  -220.5997  1127.9935  3.0000  PL
    END-POINT  -246.4164  -220.5997  1127.6685  3.0000  PL
    ITEM-CODE  7
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -246.4164  -220.5997  1127.6685  3.0000  PL
    END-POINT  -246.3064  -220.5997  1127.6673  3.0000  PL
    SKEY COCP
    ITEM-CODE  49
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -246.3064  -220.5997  1127.6673  3.0000  PL
    END-POINT  -214.7573  -220.5997  1127.3369  3.0000  PL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -276.3704  -209.9552  1124.2053  4.0000  PL
    END-POINT  -245.4225  -209.9552  1123.9021  4.0000  PL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -245.4225  -209.9552  1123.9021  4.0000  PL
    END-POINT  -245.2125  -209.9552  1123.9001  4.0000  PL
    SKEY COCP
    ITEM-CODE  39
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -245.2125  -209.9552  1123.9001  4.0000  PL
    END-POINT  -125.4028  -209.9552  1122.7264  4.0000  PL
    ITEM-CODE  3
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -125.4028  -209.9552  1122.7264  4.0000  PL
    END-POINT  -125.1928  -209.9552  1122.7244  4.0000  PL
    SKEY COCP
    ITEM-CODE  90
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -125.1934  -209.9552  1122.6569  4.0000  PL
    END-POINT  -40.0245  -209.9552  1121.7747  4.0000  PL
    ITEM-CODE  23
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -40.0245  -209.9552  1121.7747  4.0000  PL
    END-POINT  -39.8145  -209.9552  1121.7725  4.0000  PL
    SKEY COCP
    ITEM-CODE  89
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -31.8150  -209.9552  1121.6842  4.0000  PL
    END-POINT  26.0643  -209.9552  1121.0813  4.0000  PL
    ITEM-CODE  88
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  26.0643  -209.9552  1121.0813  4.0000  PL
    END-POINT  26.2743  -209.9552  1121.0791  4.0000  PL
    SKEY COCP
    ITEM-CODE  87
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  26.2743  -209.9552  1121.0791  4.0000  PL
    END-POINT  89.5482  -209.9552  1120.4200  4.0000  PL
    ITEM-CODE  22
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  89.5482  -209.9550  1120.4200  4.0000  PL
    END-POINT  92.1780  -212.5849  1120.3652  4.0000  PL
    CENTRE-POINT  92.1780  -209.9550  1120.3926
    SKEY ERPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  92.1780  -212.5849  1120.3652  4.0000  PL
    END-POINT  92.1780  -279.3894  1119.6693  4.0000  PL
    ITEM-CODE  86
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  92.1780  -279.3894  1119.6693  4.0000  PL
    END-POINT  92.1780  -279.5994  1119.6671  4.0000  PL
    SKEY COCP
    ITEM-CODE  85
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  92.1780  -279.5994  1119.6671  4.0000  PL
    END-POINT  92.1780  -345.0540  1118.9853  4.0000  PL
    ITEM-CODE  20
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -872.5141  -239.1309  1200.0000  4.0000  PL
    END-POINT  -872.5141  -239.1309  1186.1273  4.0000  PL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -872.5141  -239.1309  1186.1273  4.0000  PL
    END-POINT  -872.5141  -239.1309  1185.9173  4.0000  PL
    SKEY COCP
    ITEM-CODE  83
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -868.5360  -239.1309  1167.6115  4.0000  PL
    END-POINT  -862.4480  -239.1309  1167.5610  4.0000  PL
    ITEM-CODE  80
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -862.4480  -239.1309  1167.5610  4.0000  PL
    END-POINT  -862.2380  -239.1309  1167.5592  4.0000  PL
    SKEY COCP
    ITEM-CODE  79
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -529.1677  -220.5997  1147.3658  3.0000  PL
    END-POINT  -645.4302  -220.5997  1148.5834  3.0000  PL
    ITEM-CODE  60
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -645.4302  -220.5997  1148.5834  3.0000  PL
    END-POINT  -645.5402  -220.5997  1148.5845  3.0000  PL
    SKEY COCP
    ITEM-CODE  59
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -645.5402  -220.5997  1148.5845  3.0000  PL
    END-POINT  -761.8027  -220.5997  1149.8021  3.0000  PL
    ITEM-CODE  11
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -761.8027  -220.5997  1149.8021  3.0000  PL
    END-POINT  -761.9127  -220.5997  1149.8032  3.0000  PL
    SKEY COCP
    ITEM-CODE  58
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -769.9123  -220.5997  1149.8870  3.0000  PL
    END-POINT  -801.7830  -220.5997  1150.2207  3.0000  PL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -801.7830  -220.5997  1150.2207  3.0000  PL
    END-POINT  -801.8930  -220.5997  1150.2219  3.0000  PL
    SKEY COCP
    ITEM-CODE  45
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -801.8930  -220.5997  1150.2219  3.0000  PL
    END-POINT  -838.8185  -220.5997  1150.6086  3.0000  PL
    ITEM-CODE  5
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -838.8185  -220.5995  1150.6086  3.0000  PL
    END-POINT  -840.8782  -222.6594  1150.6517  3.0000  PL
    CENTRE-POINT  -840.8784  -220.5995  1150.6302
    SKEY ERPL
    ITEM-CODE  6
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -840.8782  -222.6594  1150.6517  3.0000  PL
    END-POINT  -840.8782  -229.7553  1150.7260  3.0000  PL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -840.8782  -229.7553  1150.7260  3.0000  PL
    END-POINT  -840.8782  -229.8653  1150.7272  3.0000  PL
    SKEY COCP
    ITEM-CODE  61
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
COUPLING
    END-POINT  -862.7223  -239.1309  1151.0530  3.0000  PL
    END-POINT  -862.6123  -239.1309  1151.0518  3.0000  PL
    SKEY COCP
    ITEM-CODE  65
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -862.6123  -239.1309  1151.0518  3.0000  PL
    END-POINT  -842.9379  -239.1309  1150.8458  3.0000  PL
    ITEM-CODE  66
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -842.9379  -239.1309  1150.8458  3.0000  PL
    END-POINT  -840.8780  -237.0712  1150.8027  3.0000  PL
    CENTRE-POINT  -840.8780  -239.1311  1150.8242
    SKEY ERPL
    ITEM-CODE  13
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2097]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
COUPLING
    END-POINT  -281.4378  -220.5997  1136.4034  3.0000  PL
    END-POINT  -281.4378  -220.5997  1136.2934  3.0000  PL
    SKEY COCP
    ITEM-CODE  35
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -281.4381  -220.5997  1136.2934  3.0000  PL
    END-POINT  -281.4471  -220.5997  1132.0177  3.0000  PL
    ITEM-CODE  36
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -847.9625  -209.9552  1150.2894  4.0000  PL
    END-POINT  -806.9079  -209.9552  1149.8815  4.0000  PL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -806.9079  -209.9552  1149.8815  4.0000  PL
    END-POINT  -806.6979  -209.9552  1149.8794  4.0000  PL
    SKEY COCP
    ITEM-CODE  56
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -806.6979  -209.9552  1149.8794  4.0000  PL
    END-POINT  -769.4581  -209.9552  1149.5095  4.0000  PL
    ITEM-CODE  10
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -769.4581  -209.9552  1149.5095  4.0000  PL
    END-POINT  -769.2481  -209.9552  1149.5074  4.0000  PL
    SKEY COCP
    ITEM-CODE  55
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
MISC_COMPONENT
    END-POINT  -842.9625  -209.9552  1150.2397  4.0000  PL
    END-POINT  -842.9625  -209.9552  1167.3647  24.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  23/04/2017
PIPE
    END-POINT  -761.2488  -209.9552  1149.4060  4.0000  PL
    END-POINT  -645.0889  -209.9552  1148.1960  4.0000  PL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -645.0889  -209.9552  1148.1960  4.0000  PL
    END-POINT  -644.8789  -209.9552  1148.1938  4.0000  PL
    SKEY COCP
    ITEM-CODE  53
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -644.8789  -209.9552  1148.1938  4.0000  PL
    END-POINT  -524.8843  -209.9552  1146.9439  4.0000  PL
    ITEM-CODE  9
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2041]