ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  22/07/2016
PIPE
    END-POINT  -2402.0161  797.6978  117.5000  2.5000  PL
    END-POINT  -2642.0161  797.6978  117.5000  2.5000  PL
    ITEM-CODE  74
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2642.0161  797.6978  117.5000  2.5000  PL
    END-POINT  -2642.1961  797.6978  117.5000  2.5000  PL
    SKEY COCP
    ITEM-CODE  75
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  22/07/2016
PIPE
    END-POINT  -2318.5253  797.6978  117.5000  2.5000  PL
    END-POINT  -2394.0161  797.6978  117.5000  2.5000  PL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  22/07/2016
COUPLING
    END-POINT  -2642.5024  797.6978  117.5000  2.5000  PL
    END-POINT  -2642.6824  797.6978  117.5000  2.5000  PL
    SKEY COCP
    ITEM-CODE  9
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2642.6824  797.6978  117.5000  2.5000  PL
    END-POINT  -2682.2500  797.6978  117.5000  2.5000  PL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2682.2500  797.6978  117.5000  2.5000  PL
    END-POINT  -2682.4300  797.6978  117.5000  2.5000  PL
    SKEY COCP
    ITEM-CODE  10
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2682.4300  797.6978  117.5000  2.5000  PL
    END-POINT  -2921.8125  797.6978  117.5000  2.5000  PL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2921.8125  797.6978  117.5000  2.5000  PL
    END-POINT  -2921.9925  797.6978  117.5000  2.5000  PL
    SKEY COCP
    ITEM-CODE  11
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2921.9925  797.6978  117.5000  2.5000  PL
    END-POINT  -3059.1875  797.6978  117.5000  2.5000  PL
    ITEM-CODE  58
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -3059.1875  797.6978  117.5000  2.5000  PL
    END-POINT  -3059.3675  797.6978  117.5000  2.5000  PL
    SKEY COCP
    ITEM-CODE  12
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -3059.3675  797.6978  117.5000  2.5000  PL
    END-POINT  -3277.0000  797.6978  117.5000  2.5000  PL
    ITEM-CODE  59
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -3277.0000  797.6978  117.5000  2.5000  PL
    END-POINT  -3277.1800  797.6978  117.5000  2.5000  PL
    SKEY COCP
    ITEM-CODE  13
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -3277.1800  797.6978  117.5000  2.5000  PL
    END-POINT  -3398.0000  797.6978  117.5000  2.5000  PL
    ITEM-CODE  60
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -3398.0000  797.6978  117.5000  2.5000  PL
    END-POINT  -3398.1800  797.6978  117.5000  2.5000  PL
    SKEY COCP
    ITEM-CODE  14
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -3398.1800  797.6978  117.5000  2.5000  PL
    END-POINT  -3615.1473  797.6978  117.5000  2.5000  PL
    ITEM-CODE  61
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -3615.1473  797.6978  117.5000  2.5000  PL
    END-POINT  -3616.8673  795.9778  117.5000  2.5000  PL
    CENTRE-POINT  -3616.8673  797.6978  117.5000
    SKEY ERPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -3616.8673  795.9778  117.5000  2.5000  PL
    END-POINT  -3616.8673  723.8998  117.5000  2.5000  PL
    ITEM-CODE  71
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -3616.8673  723.8998  117.5000  2.5000  PL
    END-POINT  -3618.5873  722.1798  117.5000  2.5000  PL
    CENTRE-POINT  -3616.8673  722.1798  117.5000
    SKEY ERPL
    ITEM-CODE  24
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -3618.5873  722.1798  117.5000  2.5000  PL
    END-POINT  -3642.1875  722.1798  117.5000  2.5000  PL
    ITEM-CODE  72
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
CAP
    END-POINT  -3642.1875  722.1798  117.5000  2.5000  PL
    END-POINT  -3642.1875  722.1798  117.5000  2.5000  PL
    SKEY KAPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  22/07/2016
CAP
    END-POINT  -1990.9318  228.8691  170.7656  3.0000  PL
    END-POINT  -1990.9318  228.8691  170.7656  3.0000  PL
    SKEY KAPL
    ITEM-CODE  7
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2060]
PIPE
    END-POINT  -1990.9318  228.8691  170.7656  3.0000  PL
    END-POINT  -1990.9318  233.3939  170.7656  3.0000  PL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
VALVE
    END-POINT  -1990.9318  233.3939  170.7656  3.0000  PL
    END-POINT  -1990.9318  237.2439  170.7656  3.0000  PL
    CENTRE-POINT  -1990.9318  235.3189  170.7656
    SKEY VVPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  No9212 - Ball Valve (SLD)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[868]
PIPE
    END-POINT  -1990.9318  237.2439  170.7656  3.0000  PL
    END-POINT  -1990.9318  241.3940  170.7656  3.0000  PL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1990.9318  241.3940  170.7656  3.0000  PL
    END-POINT  -1991.6530  243.1353  170.7656  3.0000  PL
    CENTRE-POINT  -1990.9318  242.4140  170.7656
    SKEY ELPL
    ITEM-CODE  6
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1991.6530  243.1353  170.7656  3.0000  PL
    END-POINT  -1998.1090  249.5913  170.7656  3.0000  PL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -1998.1090  249.5913  170.7656  3.0000  PL
    END-POINT  -1998.8302  251.3325  170.7656  3.0000  PL
    CENTRE-POINT  -1998.8302  250.3125  170.7656
    SKEY ELPL
    ITEM-CODE  5
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -1998.8302  251.3325  170.7656  3.0000  PL
    END-POINT  -1998.8302  259.0532  170.7656  3.0000  PL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1998.8302  259.0532  170.7656  3.0000  PL
    END-POINT  -1998.8302  261.1132  168.7056  3.0000  PL
    CENTRE-POINT  -1998.8302  261.1132  170.7656
    SKEY ERPL
    ITEM-CODE  2
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1998.8302  261.1132  168.7056  3.0000  PL
    END-POINT  -1998.8302  261.1132  149.8100  3.0000  PL
    ITEM-CODE  48
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1998.8302  261.1132  149.8100  3.0000  PL
    END-POINT  -1998.8302  263.1732  147.7500  3.0000  PL
    CENTRE-POINT  -1998.8302  261.1132  147.7500
    SKEY ERPL
    ITEM-CODE  3
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1998.8302  263.1732  147.7500  3.0000  PL
    END-POINT  -1998.8302  503.1732  147.7500  3.0000  PL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1998.8302  503.1732  147.7500  3.0000  PL
    END-POINT  -1998.8302  503.2832  147.7500  3.0000  PL
    SKEY COCP
    ITEM-CODE  50
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1998.8302  503.2832  147.7500  3.0000  PL
    END-POINT  -1998.8302  507.6875  147.7500  3.0000  PL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1998.8302  507.6875  147.7500  3.0000  PL
    END-POINT  -1998.8302  507.7975  147.7500  3.0000  PL
    SKEY COCP
    ITEM-CODE  4
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1998.8302  507.7975  147.7500  3.0000  PL
    END-POINT  -1998.8302  665.1275  147.7500  3.0000  PL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1998.8302  665.1275  147.7500  3.0000  PL
    END-POINT  -1998.8302  667.1875  145.6900  3.0000  PL
    CENTRE-POINT  -1998.8302  667.1875  147.7500
    SKEY ERPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1998.8302  667.1875  145.6900  3.0000  PL
    END-POINT  -1998.8302  667.1875  137.8100  3.0000  PL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1998.8302  667.1875  137.8100  3.0000  PL
    END-POINT  -1998.8302  669.2475  135.7500  3.0000  PL
    CENTRE-POINT  -1998.8302  667.1875  135.7500
    SKEY ERPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1998.8302  669.2475  135.7500  3.0000  PL
    END-POINT  -1998.8302  682.5339  135.7500  3.0000  PL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1998.8302  682.5339  135.7500  3.0000  PL
    END-POINT  -2000.8902  684.5939  135.7500  3.0000  PL
    CENTRE-POINT  -1998.8302  684.5939  135.7500
    SKEY ERPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -2000.8902  684.5939  135.7500  3.0000  PL
    END-POINT  -2115.5238  684.5939  135.7500  3.0000  PL
    ITEM-CODE  66
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -2115.5238  684.5939  135.7500  3.0000  PL
    END-POINT  -2117.5838  684.5939  137.8100  3.0000  PL
    CENTRE-POINT  -2117.5838  684.5939  135.7500
    SKEY ERPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -2117.5838  684.5939  137.8100  3.0000  PL
    END-POINT  -2117.5838  684.5939  160.6900  3.0000  PL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -2117.5838  684.5939  160.6900  3.0000  PL
    END-POINT  -2117.5838  686.6539  162.7500  3.0000  PL
    CENTRE-POINT  -2117.5838  684.5939  162.7500
    SKEY ERPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -2117.5838  686.6539  162.7500  3.0000  PL
    END-POINT  -2117.5838  728.7525  162.7500  3.0000  PL
    ITEM-CODE  67
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -2117.5838  728.7525  162.7500  3.0000  PL
    END-POINT  -2117.5838  730.8125  160.6900  3.0000  PL
    CENTRE-POINT  -2117.5838  730.8125  162.7500
    SKEY ERPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -2117.5838  730.8125  160.6900  3.0000  PL
    END-POINT  -2117.5838  730.8125  137.8100  3.0000  PL
    ITEM-CODE  68
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -2117.5838  730.8125  137.8100  3.0000  PL
    END-POINT  -2117.5838  732.8725  135.7500  3.0000  PL
    CENTRE-POINT  -2117.5838  730.8125  135.7500
    SKEY ERPL
    ITEM-CODE  22
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -2117.5838  732.8725  135.7500  3.0000  PL
    END-POINT  -2117.5838  795.6378  135.7500  3.0000  PL
    ITEM-CODE  69
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -2117.5838  795.6378  135.7500  3.0000  PL
    END-POINT  -2119.6438  797.6978  135.7500  3.0000  PL
    CENTRE-POINT  -2117.5838  797.6978  135.7500
    SKEY ERPL
    ITEM-CODE  23
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -2119.6438  797.6978  135.7500  3.0000  PL
    END-POINT  -2201.4660  797.6978  135.7500  3.0000  PL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -2201.4660  797.6978  135.7500  3.0000  PL
    END-POINT  -2203.5260  797.6978  133.6900  3.0000  PL
    CENTRE-POINT  -2203.5260  797.6978  135.7500
    SKEY ERPL
    ITEM-CODE  1
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -2203.5260  797.6978  133.6900  3.0000  PL
    END-POINT  -2203.5260  797.6978  119.8700  3.0000  PL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -2203.5260  797.6978  119.8700  3.0000  PL
    END-POINT  -2205.5860  797.6978  117.8100  3.0000  PL
    CENTRE-POINT  -2203.5260  797.6978  117.8100
    SKEY ERPL
    ITEM-CODE  0
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -2205.5860  797.6978  117.8100  3.0000  PL
    END-POINT  -2310.5253  797.6978  117.8100  3.0000  PL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  22/07/2016
CAP
    END-POINT  -2398.0161  797.6978  120.1400  1.5000  PL
    END-POINT  -2398.0161  797.6978  120.1400  1.5000  PL
    SKEY KAPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  NoWC-415 - Cap (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2060]