ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -1379.3718  -5482.3472  154.7113  2.0000  PL
    END-POINT  -1379.3718  -5482.3462  144.1232  2.0000  PL
    ITEM-CODE  122
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1379.3718  -5482.3462  144.1232  2.0000  PL
    END-POINT  -1379.3718  -5482.3460  142.1932  2.0000  PL
    CENTRE-POINT  -1379.3718  -5482.3461  143.1632
    BRANCH1-POINT  -1380.5118  -5482.3461  143.1632  2.0000  PL
    SKEY TEPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -1380.5118  -5482.3461  143.1632  2.0000  PL
    END-POINT  -1383.0716  -5482.3461  143.1632  2.0000  PL
    ITEM-CODE  119
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1383.0716  -5482.3461  143.1632  2.0000  PL
    END-POINT  -1383.2416  -5482.3461  143.1632  2.0000  PL
    SKEY COCP
    ITEM-CODE  118
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -1383.2416  -5482.3461  143.1632  2.0000  PL
    END-POINT  -1385.4316  -5482.3461  143.1632  0.7500  PL
    SKEY RCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2051]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -1379.3718  -5482.3477  162.7113  2.0000  PL
    END-POINT  -1379.3718  -5482.3492  208.9914  2.0000  PL
    ITEM-CODE  121
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -1379.3716  -5482.3461  136.2814  2.0000  PL
    END-POINT  -1379.3716  -5482.3461  141.0432  2.0000  PL
    ITEM-CODE  120
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -730.2282  -5568.6999  159.0071  3.0000  PL
    END-POINT  -730.2282  -5632.2084  159.1848  3.0000  PL
    ITEM-CODE  90
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -730.2273  -5632.2084  159.1848  3.0000  PL
    END-POINT  -730.2273  -5635.3684  159.1936  3.0000  PL
    CENTRE-POINT  -730.2273  -5633.7884  159.1892
    BRANCH1-POINT  -730.2273  -5633.7852  160.7392  3.0000  PL
    SKEY TEPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -730.2273  -5635.3684  159.1936  3.0000  PL
    END-POINT  -730.2273  -5679.3197  159.2396  3.0000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -730.2271  -5679.3197  159.2396  3.0000  PL
    END-POINT  -732.2870  -5681.3797  159.2462  3.0000  PL
    CENTRE-POINT  -730.2270  -5681.3797  159.2419
    SKEY ERPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -732.2870  -5681.3797  159.2462  3.0000  PL
    END-POINT  -972.2865  -5681.3824  159.7505  3.0000  PL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -972.2865  -5681.3824  159.7505  3.0000  PL
    END-POINT  -972.3965  -5681.3824  159.7507  3.0000  PL
    SKEY COCP
    ITEM-CODE  85
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -972.3965  -5681.3824  159.7507  3.0000  PL
    END-POINT  -1016.9653  -5681.3829  159.8444  3.0000  PL
    ITEM-CODE  86
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -1016.9653  -5681.3829  159.8444  3.0000  PL
    END-POINT  -1020.1253  -5681.3829  159.8510  3.0000  PL
    CENTRE-POINT  -1018.5453  -5681.3829  159.8477
    BRANCH1-POINT  -1018.5453  -5679.8329  159.8448  3.0000  PL
    SKEY TEPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -1020.1253  -5681.3829  159.8510  3.0000  PL
    END-POINT  -1046.6759  -5681.3832  159.9063  3.0000  PL
    ITEM-CODE  83
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1046.6759  -5681.3832  159.9063  3.0000  PL
    END-POINT  -1048.7359  -5679.3232  159.9149  3.0000  PL
    CENTRE-POINT  -1048.7359  -5681.3832  159.9106
    SKEY ERPL
    ITEM-CODE  39
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1048.7359  -5679.3232  159.9149  3.0000  PL
    END-POINT  -1048.7359  -5667.1901  159.9340  3.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1048.7360  -5667.1901  159.9340  3.0000  PL
    END-POINT  -1048.7360  -5665.1301  157.8774  3.0000  PL
    CENTRE-POINT  -1048.7360  -5665.1301  159.9374
    SKEY ERPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1048.7360  -5665.1301  157.8774  3.0000  PL
    END-POINT  -1048.7360  -5665.1325  0.0009  3.0000  PL
    ITEM-CODE  117
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -730.2273  -5633.7852  160.7392  3.0000  PL
    END-POINT  -730.2272  -5633.7791  163.6292  3.0000  PL
    ITEM-CODE  92
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -730.2272  -5633.7792  163.6292  3.0000  PL
    END-POINT  -730.2272  -5633.7789  163.7392  3.0000  PL
    SKEY COCP
    ITEM-CODE  91
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -730.2272  -5633.7789  163.7392  3.0000  PL
    END-POINT  -730.2272  -5633.7747  165.7692  2.5000  PL
    SKEY RCPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -730.2272  -5633.7747  165.7692  2.5000  PL
    END-POINT  -730.2270  -5633.7847  171.8820  2.5000  PL
    ITEM-CODE  87
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -730.2270  -5633.7847  171.8820  2.5000  PL
    END-POINT  -730.2270  -5633.7850  172.0620  2.5000  PL
    SKEY COCP
    ITEM-CODE  88
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  179.5367  -5664.9037  0.0000  3.0000  PL
    END-POINT  179.5413  -5664.9037  164.9307  3.0000  PL
    ITEM-CODE  116
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  179.5390  -5664.9037  164.9307  3.0000  PL
    END-POINT  177.4791  -5664.9037  166.9872  3.0000  PL
    CENTRE-POINT  179.5391  -5664.9037  166.9907
    SKEY ERPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  177.4791  -5664.9037  166.9872  3.0000  PL
    END-POINT  161.2546  -5664.9037  166.9593  3.0000  PL
    ITEM-CODE  114
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  161.2546  -5664.9037  166.9593  3.0000  PL
    END-POINT  159.5133  -5664.1824  166.9551  3.0000  PL
    CENTRE-POINT  160.2346  -5664.9037  166.9576
    SKEY ELPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  159.5133  -5664.1824  166.9551  3.0000  PL
    END-POINT  133.8204  -5638.4895  166.8797  3.0000  PL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  133.8204  -5638.4895  166.8797  3.0000  PL
    END-POINT  132.0792  -5637.7683  166.8753  3.0000  PL
    CENTRE-POINT  133.0992  -5637.7683  166.8776
    SKEY ELPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  132.0792  -5637.7683  166.8753  3.0000  PL
    END-POINT  -83.7822  -5637.7683  166.3807  3.0000  PL
    ITEM-CODE  113
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -83.7822  -5637.7682  166.3807  3.0000  PL
    END-POINT  -85.8422  -5635.7082  166.3803  3.0000  PL
    CENTRE-POINT  -85.8422  -5637.7682  166.3760
    SKEY ERPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -85.8422  -5635.7082  166.3803  3.0000  PL
    END-POINT  -85.8422  -5617.5173  166.4182  3.0000  PL
    ITEM-CODE  109
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -85.8422  -5617.5173  166.4182  3.0000  PL
    END-POINT  -85.8422  -5614.3573  166.4248  3.0000  PL
    CENTRE-POINT  -85.8422  -5615.9373  166.4215
    BRANCH1-POINT  -87.3922  -5615.9373  166.4175  3.0000  PL
    SKEY TEPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -87.3922  -5615.9373  166.4175  3.0000  PL
    END-POINT  -96.5612  -5615.9373  166.3937  3.0000  PL
    ITEM-CODE  110
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -96.5612  -5615.9373  166.3937  3.0000  PL
    END-POINT  -98.6213  -5617.9972  166.3840  3.0000  PL
    CENTRE-POINT  -98.6212  -5615.9372  166.3883
    SKEY ERPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -98.6213  -5617.9972  166.3840  3.0000  PL
    END-POINT  -98.6213  -5620.2559  166.3792  3.0000  PL
    ITEM-CODE  112
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
COUPLING
    END-POINT  -98.6228  -5628.3659  166.3623  3.0000  PL
    END-POINT  -98.6228  -5628.2559  166.3625  3.0000  PL
    SKEY COCP
    ITEM-CODE  111
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -85.8401  -5609.6875  166.3549  3.0000  PL
    END-POINT  -85.8401  -5574.7808  166.2118  3.0000  PL
    ITEM-CODE  107
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -85.8212  -5574.7808  166.2118  3.0000  PL
    END-POINT  -86.5420  -5573.0396  166.2055  3.0000  PL
    CENTRE-POINT  -85.8207  -5573.7608  166.2077
    SKEY ELPL
    ITEM-CODE  48
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -86.5420  -5573.0396  166.2055  3.0000  PL
    END-POINT  -91.1794  -5568.4021  166.1915  3.0000  PL
    ITEM-CODE  108
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -98.6373  -5560.9442  170.1699  3.0000  PL
    END-POINT  -98.6373  -5560.9442  176.3558  3.0000  PL
    ITEM-CODE  104
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -98.6373  -5560.9442  176.3558  3.0000  PL
    END-POINT  -98.6373  -5560.9442  176.4658  3.0000  PL
    SKEY COCP
    ITEM-CODE  103
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -98.6373  -5560.9442  176.4658  3.0000  PL
    END-POINT  -98.6373  -5560.9442  178.4958  2.5000  PL
    SKEY RCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -98.6373  -5560.9442  178.4958  2.5000  PL
    END-POINT  -98.6373  -5560.9442  211.5000  2.5000  PL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -98.6373  -5560.9442  162.1699  3.0000  PL
    END-POINT  -98.6373  -5560.9442  142.7736  3.0000  PL
    ITEM-CODE  105
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -98.6247  -5634.3335  170.3500  3.0000  PL
    END-POINT  -98.6247  -5634.3335  179.7128  3.0000  PL
    ITEM-CODE  100
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -98.6247  -5634.3335  179.7128  3.0000  PL
    END-POINT  -98.6247  -5634.3335  179.8228  3.0000  PL
    SKEY COCP
    ITEM-CODE  99
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -98.6247  -5634.3335  179.8228  3.0000  PL
    END-POINT  -98.6247  -5634.3335  181.8528  2.5000  PL
    SKEY RCPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -98.6247  -5634.3335  181.8528  2.5000  PL
    END-POINT  -98.6247  -5634.3335  211.5000  2.5000  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -98.6247  -5634.3335  162.3500  3.0000  PL
    END-POINT  -98.6247  -5634.3335  155.8250  3.0000  PL
    ITEM-CODE  101
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -730.2269  -5560.7101  141.1485  3.0000  PL
    END-POINT  -730.2269  -5560.7101  157.3328  3.0000  PL
    ITEM-CODE  95
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -730.2269  -5560.7101  157.3328  3.0000  PL
    END-POINT  -730.2269  -5560.7101  160.4928  3.0000  PL
    CENTRE-POINT  -730.2269  -5560.7101  158.9128
    BRANCH1-POINT  -730.2273  -5562.2601  158.9128  3.0000  PL
    SKEY TEPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -730.2269  -5560.7101  160.4928  3.0000  PL
    END-POINT  -730.2269  -5560.7101  176.1731  3.0000  PL
    ITEM-CODE  94
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -730.2269  -5560.7101  176.1731  3.0000  PL
    END-POINT  -730.2269  -5560.7101  176.2831  3.0000  PL
    SKEY COCP
    ITEM-CODE  93
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -730.2269  -5560.7101  176.2831  3.0000  PL
    END-POINT  -730.2269  -5560.7101  178.3131  2.5000  PL
    SKEY RCPL
    ITEM-CODE  44
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -730.2269  -5560.7101  178.3131  2.5000  PL
    END-POINT  -730.2269  -5560.7101  218.6207  2.5000  PL
    ITEM-CODE  96
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -730.2269  -5633.7879  180.0620  2.5000  PL
    END-POINT  -730.2269  -5633.7884  218.7146  2.5000  PL
    ITEM-CODE  89
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
REDUCER-CONCENTRIC
    END-POINT  -1018.5455  -5666.4215  163.8165  3.0000  PL
    END-POINT  -1018.5455  -5664.3915  163.8127  2.5000  PL
    SKEY RCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -1018.5455  -5664.3915  163.8127  2.5000  PL
    END-POINT  -1018.5455  -5645.2830  163.7725  2.5000  PL
    ITEM-CODE  82
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1018.5457  -5645.2830  163.7725  2.5000  PL
    END-POINT  -1020.2657  -5643.5630  163.7653  2.5000  PL
    CENTRE-POINT  -1018.5457  -5643.5630  163.7689
    SKEY ERPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1020.2657  -5643.5630  163.7653  2.5000  PL
    END-POINT  -1163.1003  -5643.5645  163.4678  2.5000  PL
    ITEM-CODE  81
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -1164.3744  -5635.5842  159.4765  2.5000  PL
    END-POINT  -1164.3744  -5502.3401  159.2001  2.5000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1164.3799  -5502.3401  159.2000  2.5000  PL
    END-POINT  -1166.1000  -5500.6202  159.1929  2.5000  PL
    CENTRE-POINT  -1164.3800  -5500.6201  159.1965
    SKEY ERPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1166.1000  -5500.6202  159.1929  2.5000  PL
    END-POINT  -1377.6516  -5500.6225  158.7483  2.5000  PL
    ITEM-CODE  80
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1377.6516  -5500.6225  158.7483  2.5000  PL
    END-POINT  -1379.3716  -5498.9025  158.7411  2.5000  PL
    CENTRE-POINT  -1379.3716  -5500.6225  158.7447
    SKEY ERPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1379.3716  -5498.9025  158.7411  2.5000  PL
    END-POINT  -1379.3716  -5486.3476  158.7186  2.5000  PL
    ITEM-CODE  79
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  155.9778  -5660.6469  166.9447  3.0000  PL
    END-POINT  155.9778  -5660.6469  183.1322  24.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  172.4791  -5664.9037  166.9786  3.0000  PL
    END-POINT  172.4791  -5664.9037  183.1661  24.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  21.6485  -5637.7683  166.6223  3.0000  PL
    END-POINT  21.6485  -5637.7683  182.8098  24.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  127.0792  -5637.7683  166.8638  3.0000  PL
    END-POINT  127.0792  -5637.7683  183.0513  24.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -92.3922  -5615.9373  166.4045  3.0000  PL
    END-POINT  -92.3922  -5615.9373  182.5920  24.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -85.8422  -5630.7082  166.3907  3.0000  PL
    END-POINT  -85.8422  -5630.7082  182.5782  24.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -90.0775  -5569.5040  166.1948  3.0000  PL
    END-POINT  -90.0775  -5569.5040  182.3823  24.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -85.8401  -5604.6875  166.3344  3.0000  PL
    END-POINT  -85.8401  -5604.6875  182.5219  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1048.7359  -5674.3232  159.9228  3.0000  PL
    END-POINT  -1048.7359  -5674.3232  176.1103  24.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -730.2273  -5640.3684  159.1988  3.0000  PL
    END-POINT  -730.2273  -5640.3684  175.3863  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -730.2282  -5573.6999  159.0211  3.0000  PL
    END-POINT  -730.2282  -5573.6999  175.2086  24.0000  PL
    SKEY NCPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -937.1262  -5681.3820  159.6766  3.0000  PL
    END-POINT  -937.1262  -5681.3820  175.8641  24.0000  PL
    SKEY NCPL
    ITEM-CODE  67
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -817.1262  -5681.3807  159.4245  3.0000  PL
    END-POINT  -817.1262  -5681.3807  175.6120  24.0000  PL
    SKEY NCPL
    ITEM-CODE  66
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -737.2870  -5681.3798  159.2567  3.0000  PL
    END-POINT  -737.2870  -5681.3798  175.4442  24.0000  PL
    SKEY NCPL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1025.1253  -5681.3830  159.8614  3.0000  PL
    END-POINT  -1025.1253  -5681.3830  176.0489  24.0000  PL
    SKEY NCPL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1094.1830  -5643.5638  163.6113  2.5000  PL
    END-POINT  -1094.1830  -5643.5638  179.4863  24.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1025.2657  -5643.5630  163.7549  2.5000  PL
    END-POINT  -1025.2657  -5643.5630  179.6299  24.0000  PL
    SKEY NCPL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1274.3758  -5500.6213  158.9653  2.5000  PL
    END-POINT  -1274.3758  -5500.6213  174.8403  24.0000  PL
    SKEY NCPL
    ITEM-CODE  61
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1171.1000  -5500.6203  159.1824  2.5000  PL
    END-POINT  -1171.1000  -5500.6203  175.0574  24.0000  PL
    SKEY NCPL
    ITEM-CODE  60
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1379.3716  -5493.9025  158.7321  2.5000  PL
    END-POINT  -1379.3716  -5493.9025  174.6071  24.0000  PL
    SKEY NCPL
    ITEM-CODE  59
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1164.3744  -5566.4622  159.3331  2.5000  PL
    END-POINT  -1164.3744  -5566.4622  175.2081  24.0000  PL
    SKEY NCPL
    ITEM-CODE  58
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1164.3744  -5630.5842  159.4662  2.5000  PL
    END-POINT  -1164.3744  -5630.5842  175.3412  24.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-37
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -926.8218  -2860.6537  128.9414  3.0000  PL
    END-POINT  -926.8445  -2860.6537  150.6629  3.0000  PL
    ITEM-CODE  17
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -926.8445  -2860.6537  150.6629  3.0000  PL
    END-POINT  -926.8478  -2860.6537  153.8228  3.0000  PL
    CENTRE-POINT  -926.8461  -2860.6537  152.2428
    BRANCH1-POINT  -928.3961  -2860.6537  152.2397  3.0000  PL
    SKEY TEPL
    ITEM-CODE  2
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -926.8478  -2860.6537  153.8228  3.0000  PL
    END-POINT  -926.8584  -2860.6537  162.1852  3.0000  PL
    ITEM-CODE  19
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -926.8584  -2860.6537  162.1852  3.0000  PL
    END-POINT  -924.8010  -2860.6537  164.2495  3.0000  PL
    CENTRE-POINT  -926.8610  -2860.6537  164.2452
    SKEY ERPL
    ITEM-CODE  0
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -924.8010  -2860.6537  164.2495  3.0000  PL
    END-POINT  -732.7570  -2860.6537  164.6556  3.0000  PL
    ITEM-CODE  16
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -732.7570  -2860.6537  164.6556  3.0000  PL
    END-POINT  -730.6971  -2862.7137  164.6639  3.0000  PL
    CENTRE-POINT  -730.6970  -2860.6537  164.6600
    SKEY ERPL
    ITEM-CODE  1
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -730.6971  -2862.7137  164.6639  3.0000  PL
    END-POINT  -730.6971  -2920.4127  164.7728  3.0000  PL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  -730.6973  -2920.4127  164.7728  3.0000  PL
    END-POINT  -730.6973  -2923.5727  164.7787  3.0000  PL
    CENTRE-POINT  -730.6973  -2921.9927  164.7758
    BRANCH1-POINT  -730.6973  -2921.9894  166.3257  3.0000  PL
    SKEY TEPL
    ITEM-CODE  7
    ITEM-DESCRIPTION  NoWT-600 - Tee (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2047]
PIPE
    END-POINT  -730.6973  -2923.5727  164.7787  3.0000  PL
    END-POINT  -730.6973  -2988.7279  164.9261  3.0000  PL
    ITEM-CODE  24
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -928.3961  -2860.6537  152.2397  3.0000  PL
    END-POINT  -966.1355  -2860.6537  152.1633  3.0000  PL
    ITEM-CODE  18
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -966.1355  -2860.6537  152.1633  3.0000  PL
    END-POINT  -967.8767  -2861.3749  152.1591  3.0000  PL
    CENTRE-POINT  -967.1555  -2860.6537  152.1612
    SKEY ELPL
    ITEM-CODE  3
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -967.8767  -2861.3749  152.1591  3.0000  PL
    END-POINT  -994.4342  -2887.9324  152.0808  3.0000  PL
    ITEM-CODE  28
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  -994.4342  -2887.9324  152.0808  3.0000  PL
    END-POINT  -996.1755  -2888.6537  152.0766  3.0000  PL
    CENTRE-POINT  -995.1555  -2888.6537  152.0787
    SKEY ELPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  NoWE-504 - Elbow 45 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  -996.1755  -2888.6537  152.0766  3.0000  PL
    END-POINT  -1044.7375  -2888.6537  151.9776  3.0000  PL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -730.6973  -2921.9894  166.3257  3.0000  PL
    END-POINT  -730.6973  -2921.9828  169.5357  3.0000  PL
    ITEM-CODE  26
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -730.6973  -2921.9828  169.5357  3.0000  PL
    END-POINT  -730.6973  -2921.9825  169.6457  3.0000  PL
    SKEY COCP
    ITEM-CODE  25
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -730.6973  -2921.9825  169.6457  3.0000  PL
    END-POINT  -730.6973  -2921.9783  171.6757  2.5000  PL
    SKEY RCPL
    ITEM-CODE  6
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -730.6973  -2921.9783  171.6757  2.5000  PL
    END-POINT  -730.6973  -2921.8918  213.2033  2.5000  PL
    ITEM-CODE  22
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-38
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -1048.7380  -2888.6537  155.9694  3.0000  PL
    END-POINT  -1048.7397  -2888.6537  172.2099  3.0000  PL
    ITEM-CODE  32
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -1048.7397  -2888.6537  172.2099  3.0000  PL
    END-POINT  -1050.7999  -2888.6537  174.2699  3.0000  PL
    CENTRE-POINT  -1048.7399  -2888.6537  174.2699
    SKEY ERPL
    ITEM-CODE  9
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -1050.7999  -2888.6537  174.2699  3.0000  PL
    END-POINT  -1053.4249  -2888.6537  174.2699  3.0000  PL
    ITEM-CODE  30
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1053.4249  -2888.6537  174.2699  3.0000  PL
    END-POINT  -1053.5349  -2888.6537  174.2699  3.0000  PL
    SKEY COCP
    ITEM-CODE  29
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -1053.5349  -2888.6537  174.2699  3.0000  PL
    END-POINT  -1056.0249  -2888.6537  174.2699  2.0000  PL
    SKEY RCPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-39
    ITEM-ATTRIBUTE0 CID=[2051]
PIPELINE-REFERENCE Untitled1-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -1048.7375  -2888.6537  147.9694  3.0000  PL
    END-POINT  -1048.7329  -2888.6537  6.0000  3.0000  PL
    ITEM-CODE  31
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-40
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
PIPE
    END-POINT  -730.6976  -2992.7287  160.9352  3.0000  PL
    END-POINT  -730.6976  -2992.7326  142.5741  3.0000  PL
    ITEM-CODE  23
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-41
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
COUPLING
    END-POINT  -730.6976  -2992.7178  169.7722  3.0000  PL
    END-POINT  -730.6976  -2992.7176  169.8822  3.0000  PL
    SKEY COCP
    ITEM-CODE  20
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-CONCENTRIC
    END-POINT  -730.6976  -2992.7176  169.8822  3.0000  PL
    END-POINT  -730.6976  -2992.7134  171.9122  2.5000  PL
    SKEY RCPL
    ITEM-CODE  5
    ITEM-DESCRIPTION  NoWC-403 - Fitting Reducer 90 (FTGxC)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[2051]
PIPE
    END-POINT  -730.6976  -2992.7134  171.9122  2.5000  PL
    END-POINT  -730.6976  -2992.7160  215.5000  2.5000  PL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-42
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -1001.1755  -2888.6537  152.0664  3.0000  PL
    END-POINT  -1001.1755  -2888.6537  168.2539  24.0000  PL
    SKEY NCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-43
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -971.4123  -2864.9105  152.1487  3.0000  PL
    END-POINT  -971.4123  -2864.9105  168.3362  24.0000  PL
    SKEY NCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-44
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -730.6971  -2867.7137  164.6733  3.0000  PL
    END-POINT  -730.6971  -2867.7137  180.8608  24.0000  PL
    SKEY NCPL
    ITEM-CODE  14
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-45
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -730.6973  -2928.5727  164.7900  3.0000  PL
    END-POINT  -730.6973  -2928.5727  180.9775  24.0000  PL
    SKEY NCPL
    ITEM-CODE  13
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-46
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -933.3961  -2860.6537  152.2296  3.0000  PL
    END-POINT  -933.3961  -2860.6537  168.4171  24.0000  PL
    SKEY NCPL
    ITEM-CODE  12
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-47
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -826.2790  -2860.6537  164.4579  3.0000  PL
    END-POINT  -826.2790  -2860.6537  180.6454  24.0000  PL
    SKEY NCPL
    ITEM-CODE  11
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-48
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  02/09/2016
MISC_COMPONENT
    END-POINT  -919.8010  -2860.6537  164.2601  3.0000  PL
    END-POINT  -919.8010  -2860.6537  180.4476  24.0000  PL
    SKEY NCPL
    ITEM-CODE  10
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-49
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!