ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE Untitled1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
COUPLING
    END-POINT  -780.0920  70.7467  1999.8430  4.0000  PL
    END-POINT  -779.9435  70.7468  1999.6945  4.0000  PL
    SKEY COCP
    ITEM-CODE  68
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
ELBOW-REDUCING
    END-POINT  -845.8604  -267.0368  1946.1143  4.0000  PL
    END-POINT  -845.8604  -264.4068  1943.4843  4.0000  PL
    CENTRE-POINT  -845.8604  -267.0368  1943.4843
    SKEY ERPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -845.8604  -264.4068  1943.4843  4.0000  PL
    END-POINT  -845.8604  -253.2939  1943.4843  4.0000  PL
    ITEM-CODE  80
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -845.8604  -253.2939  1943.4843  4.0000  PL
    END-POINT  -845.8604  -253.0839  1943.4843  4.0000  PL
    SKEY COCP
    ITEM-CODE  79
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
COUPLING
    END-POINT  -854.4287  -255.6322  1973.1531  3.0000  PL
    END-POINT  -854.4287  -255.6322  1973.2631  3.0000  PL
    SKEY COCP
    ITEM-CODE  76
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -854.4287  -255.6322  1973.2631  3.0000  PL
    END-POINT  -854.4287  -255.6322  1982.0000  3.0000  PL
    ITEM-CODE  77
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-3
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -806.6256  -255.6322  1985.8465  3.0000  PL
    END-POINT  -850.4287  -255.6322  1985.9872  3.0000  PL
    ITEM-CODE  78
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-4
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
COUPLING
    END-POINT  -884.7156  -239.1320  1823.8909  3.0000  PL
    END-POINT  -884.7151  -239.1326  1824.0009  3.0000  PL
    SKEY COCP
    ITEM-CODE  95
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -884.7151  -239.1326  1824.0009  3.0000  PL
    END-POINT  -884.3828  -239.1292  1890.0790  3.0000  PL
    ITEM-CODE  24
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -884.3828  -239.1292  1890.0790  3.0000  PL
    END-POINT  -884.3823  -239.1287  1890.1890  3.0000  PL
    SKEY COCP
    ITEM-CODE  96
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -884.3825  -239.1292  1890.1890  3.0000  PL
    END-POINT  -884.2154  -239.1276  1956.6579  3.0000  PL
    ITEM-CODE  97
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-5
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -872.0992  -239.1305  1939.8217  4.0000  PL
    END-POINT  -872.3129  -239.1288  1881.1209  4.0000  PL
    ITEM-CODE  92
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -872.3121  -239.1272  1881.1208  4.0000  PL
    END-POINT  -872.3137  -239.1288  1880.9109  4.0000  PL
    SKEY COCP
    ITEM-CODE  91
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -872.3137  -239.1288  1880.9109  4.0000  PL
    END-POINT  -872.7280  -239.1254  1824.0016  4.0000  PL
    ITEM-CODE  23
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
ELBOW-REDUCING
    END-POINT  -845.8604  -241.7609  1943.4843  4.0000  PL
    END-POINT  -848.4902  -239.1309  1943.5119  4.0000  PL
    CENTRE-POINT  -845.8604  -239.1309  1943.4843
    SKEY ERPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -848.4902  -239.1309  1943.5119  4.0000  PL
    END-POINT  -858.7629  -239.1309  1943.6195  4.0000  PL
    ITEM-CODE  88
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -858.7629  -239.1309  1943.6195  4.0000  PL
    END-POINT  -858.9729  -239.1309  1943.6217  4.0000  PL
    SKEY COCP
    ITEM-CODE  87
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-7
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
ELBOW-REDUCING
    END-POINT  -854.4287  -241.1871  1960.3062  3.0000  PL
    END-POINT  -856.4885  -239.1271  1960.3306  3.0000  PL
    CENTRE-POINT  -854.4287  -239.1271  1960.3062
    SKEY ERPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -856.4885  -239.1271  1960.3306  3.0000  PL
    END-POINT  -880.2056  -239.1274  1960.6107  3.0000  PL
    ITEM-CODE  98
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -854.4287  -248.5722  1960.3062  3.0000  PL
    END-POINT  -854.4287  -248.5722  1976.4937  24.0000  PL
    SKEY NCPL
    ITEM-CODE  39
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
COUPLING
    END-POINT  -854.4287  -247.3796  1960.3062  3.0000  PL
    END-POINT  -854.4287  -247.4896  1960.3062  3.0000  PL
    SKEY COCP
    ITEM-CODE  83
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -854.4287  -247.4896  1960.3062  3.0000  PL
    END-POINT  -854.4287  -253.5722  1960.3062  3.0000  PL
    ITEM-CODE  84
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -854.4287  -253.5722  1960.3062  3.0000  PL
    END-POINT  -854.4287  -255.6322  1962.3662  3.0000  PL
    CENTRE-POINT  -854.4287  -255.6322  1960.3062
    SKEY ERPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-10
    ITEM-ATTRIBUTE0 CID=[2097]
PIPELINE-REFERENCE Untitled1-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
COUPLING
    END-POINT  -845.8604  -267.0368  1964.7422  4.0000  PL
    END-POINT  -845.8604  -267.0368  1964.9522  4.0000  PL
    SKEY COCP
    ITEM-CODE  72
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -845.8604  -267.0368  1964.9522  4.0000  PL
    END-POINT  -845.8604  -267.0368  1983.3700  4.0000  PL
    ITEM-CODE  73
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -845.8604  -267.0368  1983.3700  4.0000  PL
    END-POINT  -843.2304  -267.0368  1986.0000  4.0000  PL
    CENTRE-POINT  -845.8604  -267.0368  1986.0000
    SKEY ERPL
    ITEM-CODE  13
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -843.2304  -267.0368  1986.0000  4.0000  PL
    END-POINT  -818.4076  -267.0368  1986.0000  4.0000  PL
    ITEM-CODE  15
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -818.4076  -267.0368  1986.0000  4.0000  PL
    END-POINT  -818.1976  -267.0368  1986.0000  4.0000  PL
    SKEY COCP
    ITEM-CODE  74
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -818.1976  -267.0368  1986.0000  4.0000  PL
    END-POINT  -793.5847  -267.0368  1986.0000  4.0000  PL
    ITEM-CODE  75
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -793.5847  -267.0368  1986.0000  4.0000  PL
    END-POINT  -790.9547  -267.0368  1988.6300  4.0000  PL
    CENTRE-POINT  -790.9547  -267.0368  1986.0000
    SKEY ERPL
    ITEM-CODE  12
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2097]
PIPE
    END-POINT  -790.9547  -267.0368  1988.6300  4.0000  PL
    END-POINT  -790.9547  -267.0368  2006.0031  4.0000  PL
    ITEM-CODE  71
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -845.8604  -259.4068  1943.4843  4.0000  PL
    END-POINT  -845.8604  -259.4068  1960.6093  24.0000  PL
    SKEY NCPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-12
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -811.6256  -255.6322  1985.8625  3.0000  PL
    END-POINT  -811.6256  -255.6322  2002.0500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-13
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -802.6256  -255.6322  2005.8399  3.0000  PL
    END-POINT  -802.6256  -255.6322  1989.8336  3.0000  PL
    ITEM-CODE  70
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -798.5847  -267.0368  1986.0000  4.0000  PL
    END-POINT  -798.5847  -267.0368  2003.1250  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-15
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -861.4885  -239.1272  1960.3896  3.0000  PL
    END-POINT  -861.4885  -239.1272  1976.5771  24.0000  PL
    SKEY NCPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-16
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -853.4902  -239.1309  1943.5642  4.0000  PL
    END-POINT  -853.4902  -239.1309  1960.6892  24.0000  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-17
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
COUPLING
    END-POINT  -778.5591  88.2566  1986.4898  3.0000  PL
    END-POINT  -778.4814  88.2567  1986.4119  3.0000  PL
    SKEY COCP
    ITEM-CODE  48
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -778.4814  88.2567  1986.4119  3.0000  PL
    END-POINT  -774.4568  88.2619  1982.3787  3.0000  PL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-18
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -509.8020  88.2655  1976.8303  3.0000  PL
    END-POINT  -509.8020  88.2655  1993.0178  24.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -424.8589  88.2655  1975.9455  3.0000  PL
    END-POINT  -424.8589  88.2655  1992.1330  24.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -419.8589  88.2655  1975.8934  3.0000  PL
    END-POINT  -594.6351  88.2655  1977.7140  3.0000  PL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -594.6351  88.2655  1977.7140  3.0000  PL
    END-POINT  -594.7451  88.2655  1977.7151  3.0000  PL
    SKEY COCP
    ITEM-CODE  52
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -594.7451  88.2655  1977.7151  3.0000  PL
    END-POINT  -767.6314  88.2655  1979.5160  3.0000  PL
    ITEM-CODE  3
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-21
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -563.5249  89.5107  1959.7167  3.0000  PL
    END-POINT  -563.5249  92.6460  1959.7167  3.0000  PL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -563.5249  92.6460  1959.7167  3.0000  PL
    END-POINT  -563.5249  92.7560  1959.7167  3.0000  PL
    SKEY COCP
    ITEM-CODE  42
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-22
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
COUPLING
    END-POINT  -563.5249  99.3813  1966.8584  3.0000  PL
    END-POINT  -563.5249  99.3813  1966.7484  3.0000  PL
    SKEY COCP
    ITEM-CODE  46
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -563.5249  99.3813  1966.7484  3.0000  PL
    END-POINT  -563.5249  99.3813  1961.7767  3.0000  PL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -563.5249  99.3813  1961.7767  3.0000  PL
    END-POINT  -563.5249  97.3213  1959.7167  3.0000  PL
    CENTRE-POINT  -563.5249  99.3813  1959.7167
    SKEY ERPL
    ITEM-CODE  1
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-23
    ITEM-ATTRIBUTE0 CID=[2097]
PIPELINE-REFERENCE Untitled1-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -415.9015  99.3813  1974.0000  3.0000  PL
    END-POINT  -488.0232  99.3813  1974.0000  3.0000  PL
    ITEM-CODE  26
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -488.0232  99.3813  1974.0000  3.0000  PL
    END-POINT  -488.1332  99.3813  1974.0000  3.0000  PL
    SKEY COCP
    ITEM-CODE  101
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -488.1332  99.3813  1974.0000  3.0000  PL
    END-POINT  -561.4649  99.3813  1974.0000  3.0000  PL
    ITEM-CODE  102
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -561.4649  99.3813  1974.0000  3.0000  PL
    END-POINT  -563.5249  99.3813  1971.9400  3.0000  PL
    CENTRE-POINT  -563.5249  99.3813  1974.0000
    SKEY ERPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-24
    ITEM-ATTRIBUTE0 CID=[2097]
PIPELINE-REFERENCE Untitled1-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -556.4649  99.3813  1974.0000  3.0000  PL
    END-POINT  -556.4649  99.3813  1990.1875  24.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -420.0238  70.7561  1976.0737  4.0000  PL
    END-POINT  -588.5498  70.7561  1977.8292  4.0000  PL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -588.5498  70.7561  1977.8292  4.0000  PL
    END-POINT  -588.7598  70.7561  1977.8314  4.0000  PL
    SKEY COCP
    ITEM-CODE  61
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -588.7598  70.7561  1977.8314  4.0000  PL
    END-POINT  -755.9958  70.7561  1979.5734  4.0000  PL
    ITEM-CODE  5
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-26
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -762.8195  70.7530  1982.5589  4.0000  PL
    END-POINT  -767.4663  70.7478  1987.2170  4.0000  PL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -767.4663  70.7478  1987.2170  4.0000  PL
    END-POINT  -767.6146  70.7476  1987.3656  4.0000  PL
    SKEY COCP
    ITEM-CODE  50
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-27
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -506.8918  70.7561  1976.9786  4.0000  PL
    END-POINT  -506.8918  70.7561  1994.1036  24.0000  PL
    SKEY NCPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-28
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -425.0238  70.7561  1976.1258  4.0000  PL
    END-POINT  -425.0238  70.7561  1993.2508  24.0000  PL
    SKEY NCPL
    ITEM-CODE  32
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-29
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
COUPLING
    END-POINT  -791.7602  88.2561  1999.6909  3.0000  PL
    END-POINT  -791.6824  88.2561  1999.6131  3.0000  PL
    SKEY COCP
    ITEM-CODE  59
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-30
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE Untitled1-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -790.9550  63.1199  2010.6902  4.0000  PL
    END-POINT  -790.9550  63.1199  2027.8152  24.0000  PL
    SKEY NCPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -790.9547  -263.0368  2010.0125  4.0000  PL
    END-POINT  -790.9547  -98.1435  2010.3550  4.0000  PL
    ITEM-CODE  10
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -790.9547  -98.1435  2010.3550  4.0000  PL
    END-POINT  -790.9547  -97.9335  2010.3554  4.0000  PL
    SKEY COCP
    ITEM-CODE  63
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -790.9550  -97.9335  2010.3554  4.0000  PL
    END-POINT  -790.9550  68.1199  2010.7006  4.0000  PL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW-REDUCING
    END-POINT  -790.9550  68.1199  2010.7006  4.0000  PL
    END-POINT  -789.0948  70.7489  2008.8464  4.0000  PL
    CENTRE-POINT  -790.9547  70.7499  2010.7058
    SKEY ERPL
    ITEM-CODE  9
    ITEM-DESCRIPTION  NoWE-500 - Elbow 90 (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-32
    ITEM-ATTRIBUTE0 CID=[2097]
PIPELINE-REFERENCE Untitled1-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -802.6223  79.2608  2010.5344  3.0000  PL
    END-POINT  -802.6223  79.2608  2026.7219  24.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
PIPE
    END-POINT  -802.6223  84.2608  2010.5447  3.0000  PL
    END-POINT  -802.6223  -83.5757  2010.1983  3.0000  PL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -802.6256  -83.5757  2010.1983  3.0000  PL
    END-POINT  -802.6256  -83.6857  2010.1981  3.0000  PL
    SKEY COCP
    ITEM-CODE  54
    ITEM-DESCRIPTION  NoWC-400NS - Coupling (C)
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -802.6256  -83.6857  2010.1981  3.0000  PL
    END-POINT  -802.6256  -251.6322  2009.8514  3.0000  PL
    ITEM-CODE  7
    ITEM-DESCRIPTION  Type K-HL-20ft
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-34
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE Untitled1-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -790.9550  -17.5118  2010.5226  4.0000  PL
    END-POINT  -790.9550  -17.5118  2027.6476  24.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE Untitled1-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  General Piping
    DATE-DMY  25/04/2017
MISC_COMPONENT
    END-POINT  -802.6223  -2.2124  2010.3662  3.0000  PL
    END-POINT  -802.6223  -2.2124  2026.5537  24.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  Fig 1 EG Clevis Hgr - Insulated CU
    FABRICATION-ITEM
    PIPING-SPEC  General Piping
    SPOOL-IDENTIFIER  Untitled1-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!