ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE DAN-SM-001-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4714.0839  1967.1801  189.0000  6.0000  PL
    END-POINT  4714.0839  1950.1801  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4714.0839  1950.1801  189.0000  6.0000  PL
    END-POINT  4714.0839  1940.9301  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4714.0839  1940.9301  189.0000  6.0000  PL
    END-POINT  4714.0839  1934.9301  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4726.9253  1953.1801  189.0000  2.0000  PL
    END-POINT  4726.9253  1967.1801  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4739.6757  1987.1801  189.0000  12.0000  PL
    END-POINT  4730.4257  1987.1801  189.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  86
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4730.4257  1987.1801  189.0000  12.0000  PL
    END-POINT  4713.1445  1987.1801  189.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4713.1445  1987.1801  189.0000  12.0000  PL
    END-POINT  4704.6592  1983.6654  189.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4704.6592  1983.6654  189.0000  12.0000  PL
    END-POINT  4688.1739  1967.1801  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4478.0019  1932.5652  189.0000  6.0000  PL
    END-POINT  4461.0019  1932.5652  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4461.0019  1932.5652  189.0000  6.0000  PL
    END-POINT  4452.0019  1953.5652  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4452.0019  1953.5652  189.0000  6.0000  PL
    END-POINT  4452.0019  1967.5652  189.0000  4.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP Reducer
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4452.0019  1967.5652  189.0000  4.0000  PL
    END-POINT  4452.0019  1975.5652  189.0000  4.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4452.0019  1975.5652  189.0000  4.0000  PL
    END-POINT  4452.0019  1986.5652  183.0000  4.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4452.0019  1986.5652  183.0000  4.0000  PL
    END-POINT  4452.0019  1986.5652  135.7500  4.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4731.7526  1967.1801  188.9919  16.0000  PL
    END-POINT  4731.7526  1967.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4731.7526  1967.1801  188.9919  16.0000  PL
    END-POINT  4684.5026  1967.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4684.5026  1967.1801  188.9919  16.0000  PL
    END-POINT  4589.2526  1967.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4589.2526  1967.1801  188.9919  16.0000  PL
    END-POINT  4494.0026  1967.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4494.0026  1967.1801  188.9919  16.0000  PL
    END-POINT  4478.0026  1951.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4478.0019  1951.1801  188.9919  16.0000  PL
    END-POINT  4478.0019  1884.5557  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4478.0019  1884.5557  188.9919  16.0000  PL
    END-POINT  4470.9725  1867.5851  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4424.7299  1852.0288  224.7419  16.0000  PL
    END-POINT  4448.7299  1852.0288  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4448.7299  1852.0288  188.9919  16.0000  PL
    END-POINT  4470.9725  1836.4724  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP 90 WYE
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[100]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4470.9725  1836.4724  188.9919  16.0000  PL
    END-POINT  4478.0019  1819.5019  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4478.0019  1819.5019  188.9919  16.0000  PL
    END-POINT  4478.0019  1755.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4478.0019  1755.2206  188.9919  16.0000  PL
    END-POINT  4494.0019  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4494.0019  1739.2206  188.9919  16.0000  PL
    END-POINT  4589.2519  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4589.2519  1739.2206  188.9919  16.0000  PL
    END-POINT  4684.5019  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4684.5019  1739.2206  188.9919  16.0000  PL
    END-POINT  4731.7519  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4731.7519  1739.2206  188.9919  16.0000  PL
    END-POINT  4731.7519  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4542.2944  1992.1801  188.9919  6.0000  PL
    END-POINT  4542.2944  1984.1801  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4542.2944  1984.1801  188.9919  6.0000  PL
    END-POINT  4542.2944  1967.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4511.0400  1984.1801  188.9919  6.0000  PL
    END-POINT  4511.0400  1984.1801  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4511.0400  1984.1801  188.9919  6.0000  PL
    END-POINT  4511.0400  1967.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4528.2519  1885.8637  189.0000  10.0000  PL
    END-POINT  4504.2519  1900.8637  189.0000  10.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4504.2519  1900.8637  189.0000  10.0000  PL
    END-POINT  4495.0019  1900.8637  189.0000  10.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4495.0019  1900.8637  189.0000  10.0000  PL
    END-POINT  4478.0019  1900.8637  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4573.2944  1992.1801  188.9919  6.0000  PL
    END-POINT  4573.2944  1984.1801  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-10
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4573.2944  1984.1801  188.9919  6.0000  PL
    END-POINT  4573.2944  1967.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-10
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4604.5926  1967.1801  188.9919  6.0000  PL
    END-POINT  4604.5926  1984.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-11
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4604.5926  1984.1801  188.9919  6.0000  PL
    END-POINT  4604.5926  1992.1801  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-11
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4636.5926  1967.1801  188.9919  6.0000  PL
    END-POINT  4636.5926  1984.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-12
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4636.5926  1984.1801  188.9919  6.0000  PL
    END-POINT  4636.5926  1992.1801  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-12
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4668.5926  1967.1801  188.9919  6.0000  PL
    END-POINT  4668.5926  1984.1801  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4668.5926  1984.1801  188.9919  6.0000  PL
    END-POINT  4668.5926  1992.1801  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4478.0019  1809.4290  189.0000  8.0000  PL
    END-POINT  4461.0019  1809.4290  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4461.0019  1809.4290  189.0000  8.0000  PL
    END-POINT  4432.7532  1809.4290  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4432.7532  1809.4151  189.0000  8.0000  PL
    END-POINT  4424.7532  1809.4151  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4424.7532  1809.4151  189.0000  8.0000  PL
    END-POINT  4412.7532  1809.4151  177.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4412.7532  1809.4151  177.0000  8.0000  PL
    END-POINT  4412.7532  1809.4151  129.7500  8.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4412.6814  1781.4151  129.7500  8.0000  PL
    END-POINT  4412.6814  1781.4151  177.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4412.6814  1781.4151  177.0000  8.0000  PL
    END-POINT  4423.0737  1787.4151  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4423.0737  1787.4151  189.0000  8.0000  PL
    END-POINT  4430.0019  1791.4151  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4430.0019  1791.4151  189.0000  8.0000  PL
    END-POINT  4436.0019  1793.0228  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 30 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4436.0019  1793.0228  189.0000  8.0000  PL
    END-POINT  4461.0019  1793.0228  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4461.0019  1793.0228  189.0000  8.0000  PL
    END-POINT  4478.0019  1793.0228  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4412.7532  1757.4151  129.7500  8.0000  PL
    END-POINT  4412.7532  1757.4151  177.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4412.7532  1757.4151  177.0000  8.0000  PL
    END-POINT  4430.0737  1767.4151  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4430.0737  1767.4151  189.0000  8.0000  PL
    END-POINT  4437.0019  1771.4151  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4437.0019  1771.4151  189.0000  8.0000  PL
    END-POINT  4443.0019  1773.0228  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 30 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4442.9814  1773.0228  189.0000  8.0000  PL
    END-POINT  4461.0019  1773.0228  189.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4461.0019  1773.0228  189.0000  8.0000  PL
    END-POINT  4478.0019  1773.0228  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4453.7450  1713.2298  132.7500  6.0000  PL
    END-POINT  4453.7450  1713.2298  180.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  88
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4453.7450  1713.2298  180.0000  6.0000  PL
    END-POINT  4462.7450  1713.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  87
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4462.7450  1713.2298  189.0000  6.0000  PL
    END-POINT  4477.7450  1713.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  86
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4477.7450  1713.2298  189.0000  6.0000  PL
    END-POINT  4485.7450  1713.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4485.7450  1713.2298  189.0000  6.0000  PL
    END-POINT  4501.0262  1713.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4501.0262  1713.2298  189.0000  6.0000  PL
    END-POINT  4510.0262  1722.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4510.0262  1722.2206  188.9919  6.0000  PL
    END-POINT  4510.0262  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4604.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4604.5926  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-18
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4604.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4604.5926  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-18
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4573.2944  1722.2206  188.9919  6.0000  PL
    END-POINT  4573.2944  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-19
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4573.2944  1722.2206  188.9919  6.0000  PL
    END-POINT  4573.2944  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-19
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4542.2944  1722.2206  188.9919  6.0000  PL
    END-POINT  4542.2944  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-20
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4542.2944  1722.2206  188.9919  6.0000  PL
    END-POINT  4542.2944  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-20
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4668.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4668.5926  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-21
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4668.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4668.5926  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-21
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4636.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4636.5926  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-22
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4636.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4636.5926  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-22
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4726.9253  1753.2206  189.0000  2.0000  PL
    END-POINT  4726.9253  1739.2206  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-23
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4688.1739  1739.2206  189.0000  12.0000  PL
    END-POINT  4704.6592  1722.7354  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-24
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4704.6592  1722.7354  189.0000  12.0000  PL
    END-POINT  4713.1445  1719.2206  189.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-24
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4713.1445  1719.2206  189.0000  12.0000  PL
    END-POINT  4730.4257  1719.2206  189.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-24
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4730.4257  1719.2206  189.0000  12.0000  PL
    END-POINT  4739.6757  1719.2206  189.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  86
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-24
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4714.0839  1739.2206  189.0000  6.0000  PL
    END-POINT  4714.0839  1756.2206  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-25
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4714.0839  1756.2206  189.0000  6.0000  PL
    END-POINT  4714.0839  1765.4706  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-25
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4714.0839  1765.4706  189.0000  6.0000  PL
    END-POINT  4714.0839  1771.4706  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-25
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!