ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE DAN-SM-001-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4443.7965  2207.6058  194.0000  6.0000  PL
    END-POINT  4443.7965  2190.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4443.7965  2190.6058  194.0000  6.0000  PL
    END-POINT  4443.7965  2181.3558  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4443.7965  2181.3558  194.0000  6.0000  PL
    END-POINT  4443.7965  2175.3558  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4443.7266  2055.8657  194.0000  6.0000  PL
    END-POINT  4443.7266  2072.8657  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4443.7266  2072.8657  194.0000  6.0000  PL
    END-POINT  4443.7266  2082.1157  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4443.7266  2082.1157  194.0000  6.0000  PL
    END-POINT  4443.7266  2088.1157  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4432.8680  2243.2619  5.9375  6.0000  PL
    END-POINT  4432.8680  2243.2619  48.6563  6.0000  PL
    SKEY NCPL
    ITEM-CODE  92
    ITEM-DESCRIPTION  PSP Square Duct
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[866]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4432.8680  2243.2619  48.6563  6.0000  PL
    END-POINT  4432.8680  2243.2619  97.0313  6.0000  PL
    SKEY NCPL
    ITEM-CODE  91
    ITEM-DESCRIPTION  PSP Square Duct
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[866]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4432.8680  2243.2619  97.0313  6.0000  PL
    END-POINT  4432.8680  2243.2619  145.4063  6.0000  PL
    SKEY NCPL
    ITEM-CODE  90
    ITEM-DESCRIPTION  PSP Square Duct
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[866]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4432.8593  2243.2620  145.4063  6.0000  PL
    END-POINT  4432.8593  2240.2620  160.4688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  PSP Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4432.8593  2240.2620  160.4688  12.0000  PL
    END-POINT  4432.8593  2240.2620  172.7500  12.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4432.8593  2240.2620  172.7500  12.0000  PL
    END-POINT  4432.8593  2240.2620  182.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4432.8593  2240.2620  182.0000  12.0000  PL
    END-POINT  4432.8593  2224.6058  194.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4432.8593  2224.6058  194.0000  12.0000  PL
    END-POINT  4432.8593  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4467.9593  2190.6058  194.0000  6.0000  PL
    END-POINT  4467.9593  2190.6058  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4467.9593  2190.6058  194.0000  6.0000  PL
    END-POINT  4467.9593  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4430.4938  2193.6058  194.0000  2.0000  PL
    END-POINT  4430.4938  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4456.8502  2224.6058  194.0000  6.0000  PL
    END-POINT  4456.8502  2224.6058  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4456.8502  2224.6058  194.0000  6.0000  PL
    END-POINT  4456.8502  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4498.0495  2224.6058  194.0000  6.0000  PL
    END-POINT  4498.0495  2224.6058  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4498.0495  2224.6058  194.0000  6.0000  PL
    END-POINT  4498.0495  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4542.9738  2224.6058  194.0000  6.0000  PL
    END-POINT  4542.9738  2224.6058  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4542.9738  2224.6058  194.0000  6.0000  PL
    END-POINT  4542.9738  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4594.3621  2224.6058  194.0000  6.0000  PL
    END-POINT  4594.3621  2224.6058  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4594.3621  2224.6058  194.0000  6.0000  PL
    END-POINT  4594.3621  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4633.1815  2224.6058  194.0000  6.0000  PL
    END-POINT  4633.1815  2224.6058  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-10
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4633.1815  2224.6058  194.0000  6.0000  PL
    END-POINT  4633.1815  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-10
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4656.6815  2224.6058  194.0000  6.0000  PL
    END-POINT  4656.6815  2224.6058  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-11
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4656.6815  2224.6058  194.0000  6.0000  PL
    END-POINT  4656.6815  2207.6058  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-11
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4694.9432  2165.7845  194.0000  12.0000  PL
    END-POINT  4711.4285  2182.2698  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-12
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4711.4285  2182.2698  194.0000  12.0000  PL
    END-POINT  4716.7006  2201.9977  194.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-12
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4716.7006  2201.9977  194.0000  12.0000  PL
    END-POINT  4716.7006  2211.2477  194.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-12
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4716.7006  2211.2477  194.0000  12.0000  PL
    END-POINT  4739.7006  2229.2477  194.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-12
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4410.1632  2207.6058  194.0037  16.0000  PL
    END-POINT  4410.1632  2207.6058  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4410.1632  2207.6058  194.0037  16.0000  PL
    END-POINT  4488.4432  2207.6058  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4488.4432  2207.6058  194.0037  16.0000  PL
    END-POINT  4583.6932  2207.6058  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4583.6932  2207.6058  194.0037  16.0000  PL
    END-POINT  4678.9432  2207.6058  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4678.9432  2207.6058  194.0037  16.0000  PL
    END-POINT  4694.9432  2191.6058  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  24
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4694.9432  2191.6058  194.0037  16.0000  PL
    END-POINT  4694.9432  2158.6058  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  32
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4694.9432  2158.6058  194.0037  16.0000  PL
    END-POINT  4699.6295  2147.2921  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  23
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4699.6295  2147.2921  194.0037  16.0000  PL
    END-POINT  4721.8722  2131.7357  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  22
    ITEM-DESCRIPTION  PSP 90 WYE
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[100]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4721.8722  2131.7357  194.0037  16.0000  PL
    END-POINT  4745.8722  2131.7357  218.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  2131.7357  218.0037  16.0000  PL
    END-POINT  4745.8722  2131.7357  313.2537  16.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  2131.7357  313.2537  16.0000  PL
    END-POINT  4745.8722  2131.7357  351.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4410.1632  2055.8657  194.0037  16.0000  PL
    END-POINT  4410.1632  2055.8657  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4410.1632  2055.8657  194.0037  16.0000  PL
    END-POINT  4488.4432  2055.8657  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4488.4432  2055.8657  194.0037  16.0000  PL
    END-POINT  4583.6932  2055.8657  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4583.6932  2055.8657  194.0037  16.0000  PL
    END-POINT  4678.9432  2055.8657  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  25
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4678.9432  2055.8657  194.0037  16.0000  PL
    END-POINT  4694.9432  2088.3657  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  24
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4694.9432  2088.3657  194.0037  16.0000  PL
    END-POINT  4699.6295  2116.1794  194.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  23
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4698.2515  2017.5714  185.0000  6.0000  PL
    END-POINT  4686.1271  2024.5714  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  32
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4686.1271  2024.5714  194.0000  6.0000  PL
    END-POINT  4679.1989  2028.5714  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.1989  2028.5714  194.0000  6.0000  PL
    END-POINT  4670.3688  2038.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP 60 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4670.3688  2038.8657  194.0000  6.0000  PL
    END-POINT  4670.3688  2055.8657  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4654.4651  2017.8657  185.0000  6.0000  PL
    END-POINT  4654.4651  2030.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4654.4651  2030.8657  194.0000  6.0000  PL
    END-POINT  4654.4651  2038.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4654.4651  2038.8657  194.0000  6.0000  PL
    END-POINT  4654.4651  2055.8657  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4603.4713  2017.8657  185.0000  6.0000  PL
    END-POINT  4603.4713  2030.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4603.4713  2030.8657  194.0000  6.0000  PL
    END-POINT  4603.4713  2038.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4603.4713  2038.8657  194.0000  6.0000  PL
    END-POINT  4603.4713  2055.8657  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4551.4713  2017.8657  185.0000  6.0000  PL
    END-POINT  4551.4713  2030.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-18
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4551.4713  2030.8657  194.0000  6.0000  PL
    END-POINT  4551.4713  2038.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-18
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4551.4713  2038.8657  194.0000  6.0000  PL
    END-POINT  4551.4713  2055.8657  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-18
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4499.4713  2017.8657  185.0000  6.0000  PL
    END-POINT  4499.4713  2030.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-19
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4499.4713  2030.8657  194.0000  6.0000  PL
    END-POINT  4499.4713  2038.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-19
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4499.4713  2038.8657  194.0000  6.0000  PL
    END-POINT  4499.4713  2055.8657  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-19
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4447.4713  2017.8657  185.0000  6.0000  PL
    END-POINT  4447.4713  2030.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-20
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4447.4713  2030.8657  194.0000  6.0000  PL
    END-POINT  4447.4713  2038.8657  194.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-20
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4447.4713  2038.8657  194.0000  6.0000  PL
    END-POINT  4447.4713  2055.8657  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-20
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4430.3585  2069.8657  194.0000  2.0000  PL
    END-POINT  4430.3585  2055.8657  194.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-21
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!