ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE DAN-SM-001-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4617.9567  2553.3302  180.9688  6.0000  PL
    END-POINT  4617.9567  2553.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2526.3302  195.9688  12.0000  PL
    END-POINT  4484.9567  2526.3302  172.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Shoe Tee Cross
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[808]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2526.3302  172.9688  12.0000  PL
    END-POINT  4484.9567  2526.3302  172.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2539.3302  180.9688  12.0000  PL
    END-POINT  4484.9567  2546.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2546.3302  180.9688  12.0000  PL
    END-POINT  4502.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  48
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4502.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4521.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4521.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4533.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4533.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4566.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4566.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4578.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4578.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4590.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4590.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4611.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4611.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4623.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4623.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4630.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4630.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4642.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4642.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4656.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4656.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4668.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4668.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4684.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4684.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4694.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4694.9567  2564.3302  180.9688  12.0000  PL
    END-POINT  4704.9567  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4704.9452  2564.3302  180.9688  12.0000  PL
    END-POINT  4716.9452  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4716.9452  2564.3302  180.9688  12.0000  PL
    END-POINT  4716.9452  2564.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2513.3302  180.9688  12.0000  PL
    END-POINT  4484.9567  2483.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2483.3302  180.9688  12.0000  PL
    END-POINT  4502.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  48
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4502.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4521.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4521.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4533.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4533.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4549.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4549.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4561.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4561.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4566.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4566.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4578.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4578.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4593.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4593.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4605.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4605.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4611.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4611.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4623.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4623.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4636.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4636.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4648.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4648.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4669.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4669.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4681.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4681.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4693.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4693.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4718.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4718.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4730.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4730.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4740.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4740.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4752.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4752.9567  2465.3302  180.9688  12.0000  PL
    END-POINT  4752.9567  2465.3302  180.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4527.9567  2553.3302  180.9688  6.0000  PL
    END-POINT  4527.9567  2553.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4572.9567  2553.3302  180.9688  6.0000  PL
    END-POINT  4572.9567  2553.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4584.9567  2575.3302  180.9688  6.0000  PL
    END-POINT  4584.9567  2583.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4584.9567  2583.3302  180.9688  6.0000  PL
    END-POINT  4584.9567  2651.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4584.9567  2651.3302  180.9688  6.0000  PL
    END-POINT  4593.9567  2660.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4593.9567  2660.3302  180.9688  6.0000  PL
    END-POINT  4602.9567  2660.3302  171.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4636.9567  2575.3302  180.9688  6.0000  PL
    END-POINT  4636.9567  2583.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4636.9567  2583.3302  180.9688  6.0000  PL
    END-POINT  4636.9567  2651.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4636.9567  2651.3302  180.9688  6.0000  PL
    END-POINT  4645.9567  2660.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4645.9567  2660.3302  180.9688  6.0000  PL
    END-POINT  4667.9567  2660.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4667.9567  2660.3302  180.9688  6.0000  PL
    END-POINT  4676.9567  2660.3302  171.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4649.9567  2575.3302  180.9688  8.0000  PL
    END-POINT  4649.9567  2583.3302  180.9688  8.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4649.9567  2583.3302  180.9688  8.0000  PL
    END-POINT  4661.9567  2595.3302  180.9688  8.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4661.9567  2595.3302  180.9688  8.0000  PL
    END-POINT  4742.9567  2595.3302  180.9688  8.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4742.9567  2595.3302  180.9688  8.0000  PL
    END-POINT  4754.9567  2595.3302  168.9688  8.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4689.9567  2575.3302  180.9688  4.0000  PL
    END-POINT  4689.9567  2583.3302  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4689.9567  2583.3302  180.9688  4.0000  PL
    END-POINT  4693.9567  2587.3302  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4693.9567  2587.3302  180.9688  4.0000  PL
    END-POINT  4735.9567  2587.3302  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4735.9567  2587.3302  180.9688  4.0000  PL
    END-POINT  4740.1993  2585.5729  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4740.1993  2585.5729  180.9688  4.0000  PL
    END-POINT  4757.1699  2568.6023  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4757.1699  2568.6023  180.9688  4.0000  PL
    END-POINT  4761.4125  2564.3597  174.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4699.9567  2541.3302  180.9688  4.0000  PL
    END-POINT  4699.9567  2547.3302  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4699.9567  2547.3302  180.9688  4.0000  PL
    END-POINT  4699.9567  2553.3302  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Heavy Duty Balance Damper 4-7
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4527.9567  2476.3302  180.9688  6.0000  PL
    END-POINT  4527.9567  2476.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4555.9567  2454.3302  180.9688  6.0000  PL
    END-POINT  4555.9567  2454.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4572.9567  2476.3302  180.9688  6.0000  PL
    END-POINT  4572.9567  2476.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4599.9567  2454.3302  180.9688  6.0000  PL
    END-POINT  4599.9567  2454.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4617.9567  2476.3302  180.9688  6.0000  PL
    END-POINT  4617.9567  2476.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4642.9567  2454.3302  180.9688  6.0000  PL
    END-POINT  4642.9567  2454.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4675.9567  2476.3302  180.9688  6.0000  PL
    END-POINT  4675.9567  2476.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4687.9567  2454.3302  180.9688  6.0000  PL
    END-POINT  4687.9567  2454.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4724.9567  2454.3302  180.9688  6.0000  PL
    END-POINT  4724.9567  2454.3302  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4735.9567  2476.3302  180.9688  4.0000  PL
    END-POINT  4735.9567  2482.3302  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Heavy Duty Balance Damper 4-7
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4735.9567  2482.3302  180.9688  4.0000  PL
    END-POINT  4735.9567  2488.3302  180.9688  4.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4460.6583  2467.0048  210.0195  24.0000  PL
    END-POINT  4460.6583  2491.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2491.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2509.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  39
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2509.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2523.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2523.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2537.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2537.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2551.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2551.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2571.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2571.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2593.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2593.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2611.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  44
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2611.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2625.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2625.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2637.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2637.0048  186.0195  24.0000  PL
    END-POINT  4460.6583  2637.0048  186.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4477.6583  2618.0048  186.0195  8.0000  PL
    END-POINT  4485.6583  2618.0048  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Heavy Duty Balance Damper 8-11
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4485.6583  2618.0048  186.0195  8.0000  PL
    END-POINT  4491.6583  2618.0048  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  48
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4548.9548  2391.0545  187.4962  12.0000  PL
    END-POINT  4548.9548  2391.0545  187.4962  12.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4548.9548  2391.0545  187.4962  12.0000  PL
    END-POINT  4534.9548  2391.0545  187.4962  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4534.9548  2391.0545  187.4962  12.0000  PL
    END-POINT  4522.9548  2391.0545  187.4962  12.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4522.9548  2391.0545  187.4962  12.0000  PL
    END-POINT  4508.9548  2391.0545  187.4962  12.0000  PL
    SKEY NCPL
    ITEM-CODE  50
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4508.9548  2391.0545  187.4962  12.0000  PL
    END-POINT  4490.9548  2409.0545  187.4962  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4490.9548  2409.0545  187.4962  12.0000  PL
    END-POINT  4490.9548  2439.0545  187.4962  12.0000  PL
    SKEY NCPL
    ITEM-CODE  49
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4490.9548  2439.0545  187.4962  12.0000  PL
    END-POINT  4490.9548  2451.7824  192.7683  12.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4490.9548  2451.7824  192.7683  12.0000  PL
    END-POINT  4490.9548  2457.2769  198.2627  12.0000  PL
    SKEY NCPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4490.9548  2457.2769  198.2627  12.0000  PL
    END-POINT  4490.9548  2470.0048  203.5348  12.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4490.9692  2470.0048  203.5195  12.0000  PL
    END-POINT  4490.9692  2482.0048  203.5195  12.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4490.9692  2482.0048  203.5195  12.0000  PL
    END-POINT  4475.3807  2500.0048  194.5195  12.0000  PL
    SKEY NCPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4430.9303  2508.2474  186.0195  8.0000  PL
    END-POINT  4435.1730  2512.4901  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4435.1730  2512.4901  186.0195  8.0000  PL
    END-POINT  4443.6583  2516.0048  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4443.6583  2530.0048  186.0195  8.0000  PL
    END-POINT  4439.6583  2530.0048  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4439.6583  2530.0048  186.0195  8.0000  PL
    END-POINT  4431.1730  2526.4901  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4431.1730  2526.4901  186.0195  8.0000  PL
    END-POINT  4425.5161  2520.8332  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  44
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4425.5161  2520.8332  186.0195  8.0000  PL
    END-POINT  4421.2735  2516.5906  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4443.6583  2544.0048  186.0195  8.0000  PL
    END-POINT  4435.6583  2544.0048  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4435.6583  2544.0048  186.0195  8.0000  PL
    END-POINT  4427.1730  2540.4901  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4427.1730  2540.4901  186.0195  8.0000  PL
    END-POINT  4421.5161  2534.8332  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  44
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4421.5161  2534.8332  186.0195  8.0000  PL
    END-POINT  4413.0309  2526.3479  174.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4489.6496  2582.0048  204.9448  16.0000  PL
    END-POINT  4472.6791  2582.0048  197.9153  16.0000  PL
    SKEY NCPL
    ITEM-CODE  45
    ITEM-DESCRIPTION  45 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4425.6583  2620.0048  186.0195  12.0000  PL
    END-POINT  4443.6583  2602.0048  186.0195  12.0000  PL
    SKEY NCPL
    ITEM-CODE  46
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4541.9548  2391.0545  176.4962  8.0000  PL
    END-POINT  4541.9548  2391.0545  168.4962  8.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4515.9548  2391.0545  176.4962  8.0000  PL
    END-POINT  4515.9548  2391.0545  168.4962  8.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4752.4628  2485.2222  171.9688  6.0000  PL
    END-POINT  4746.0988  2491.5862  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4746.0988  2491.5862  180.9688  6.0000  PL
    END-POINT  4738.3207  2499.3644  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4738.3207  2499.3644  180.9688  6.0000  PL
    END-POINT  4731.9567  2502.0004  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4731.9567  2502.0004  180.9688  6.0000  PL
    END-POINT  4671.9567  2502.0004  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4671.9567  2502.0004  180.9688  6.0000  PL
    END-POINT  4662.9567  2511.0004  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  90 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4662.9567  2511.0004  180.9688  6.0000  PL
    END-POINT  4662.9567  2545.0004  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4662.9567  2545.0004  180.9688  6.0000  PL
    END-POINT  4662.9567  2553.0004  180.9688  6.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4421.2735  2498.5842  186.0195  8.0000  PL
    END-POINT  4425.5161  2502.8268  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  47
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-10
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4425.5161  2502.8268  186.0195  8.0000  PL
    END-POINT  4431.1730  2508.4837  186.0195  8.0000  PL
    SKEY NCPL
    ITEM-CODE  44
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-10
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!