ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE SM-02-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4535.8347  1815.6288  449.3560  16.0000  PL
    END-POINT  4535.8347  1815.6288  354.1060  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8347  1815.6288  354.1060  16.0000  PL
    END-POINT  4535.8347  1815.6288  258.8560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8347  1815.6288  258.8560  16.0000  PL
    END-POINT  4535.8347  1815.6288  258.8560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4535.8347  1815.6288  252.3174  2.0000  PL
    END-POINT  4535.8347  1815.6288  281.3174  46.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-2
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4535.8347  1917.9725  252.3174  2.0000  PL
    END-POINT  4535.8347  1917.9725  281.3174  46.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4499.4162  1755.4951  270.0000  16.0000  PL
    END-POINT  4483.4162  1755.4951  286.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1755.4951  286.0000  16.0000  PL
    END-POINT  4483.4162  1755.4951  332.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1755.4951  332.0000  16.0000  PL
    END-POINT  4483.4162  1771.4951  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1771.4951  348.0000  16.0000  PL
    END-POINT  4483.4162  1797.4014  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1797.4014  348.0000  16.0000  PL
    END-POINT  4478.7299  1808.7151  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4424.7299  1852.0288  224.7500  16.0000  PL
    END-POINT  4424.7299  1852.0288  320.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4424.7299  1852.0288  320.0000  16.0000  PL
    END-POINT  4424.7299  1836.0288  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4424.7299  1836.0288  348.0000  16.0000  PL
    END-POINT  4440.7299  1820.0288  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4440.7299  1820.0288  348.0000  16.0000  PL
    END-POINT  4460.7299  1820.0288  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.7299  1820.0288  348.0000  16.0000  PL
    END-POINT  4478.7299  1831.3425  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP 90 WYE
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[100]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4478.7299  1831.3425  348.0000  16.0000  PL
    END-POINT  4483.4162  1842.6562  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1842.6514  348.0000  16.0000  PL
    END-POINT  4483.4162  1858.6514  332.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1858.6514  332.0000  16.0000  PL
    END-POINT  4483.4162  1858.6514  299.7500  16.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4521.5874  1858.3660  277.5037  23.5000  PL
    END-POINT  4513.5874  1858.3660  277.5037  23.5000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Canvas Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4513.5874  1858.3701  277.5000  16.0000  PL
    END-POINT  4499.4162  1858.3701  273.7500  23.5000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Reducer Eccentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[71]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4499.4162  1858.3701  273.7500  16.0000  PL
    END-POINT  4483.4162  1858.3701  289.7500  16.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1858.3701  289.7500  16.0000  PL
    END-POINT  4483.3535  1858.3701  299.7498  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4450.7299  1820.0288  348.0000  10.0000  PL
    END-POINT  4450.7299  1837.0288  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4450.7299  1837.0288  348.0000  10.0000  PL
    END-POINT  4450.7299  1846.2788  348.0000  10.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4450.7299  1846.2788  348.0000  10.0000  PL
    END-POINT  4450.7299  1852.2788  348.0000  10.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4535.8347  1917.9725  449.3560  16.0000  PL
    END-POINT  4535.8347  1917.9725  354.1060  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8347  1917.9725  354.1060  16.0000  PL
    END-POINT  4535.8347  1917.9725  258.8560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8347  1917.9725  258.8560  16.0000  PL
    END-POINT  4535.8347  1917.9725  258.8560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4535.8347  1917.9725  449.1060  16.0000  PL
    END-POINT  4535.8347  1917.9725  496.3560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  60
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8347  1917.9725  496.3560  16.0000  PL
    END-POINT  4535.8347  1917.9725  591.6060  16.0000  PL
    SKEY NCPL
    ITEM-CODE  59
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8347  1917.9725  591.6060  16.0000  PL
    END-POINT  4535.8347  1917.9725  615.6060  6.0000  PL
    SKEY NCPL
    ITEM-CODE  58
    ITEM-DESCRIPTION  PSP Reducer
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4535.8438  1883.6672  284.5468  23.4200  PL
    END-POINT  4535.8437  1889.4124  290.2920  23.4200  PL
    SKEY NCPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Canvas (for Indoors)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[166]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8437  1889.4124  290.2920  23.4063  PL
    END-POINT  4535.8437  1900.0632  300.9428  16.0000  PL
    SKEY NCPL
    ITEM-CODE  116
    ITEM-DESCRIPTION  PSP Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8437  1900.0632  300.9428  16.0000  PL
    END-POINT  4535.8437  1917.9627  318.8423  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4535.8347  1815.6288  449.1060  16.0000  PL
    END-POINT  4535.8347  1815.6288  496.3560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  60
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8347  1815.6288  496.3560  16.0000  PL
    END-POINT  4535.8347  1815.6288  591.6060  16.0000  PL
    SKEY NCPL
    ITEM-CODE  59
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8347  1815.6288  591.6060  16.0000  PL
    END-POINT  4535.8347  1815.6288  615.6060  6.0000  PL
    SKEY NCPL
    ITEM-CODE  58
    ITEM-DESCRIPTION  PSP Reducer
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4483.4162  1844.2847  348.0000  16.0000  PL
    END-POINT  4474.4162  1844.2847  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4483.4162  1755.4951  289.7500  16.0000  PL
    END-POINT  4483.3535  1755.4951  299.7498  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4483.4162  1794.4422  348.0000  16.0000  PL
    END-POINT  4492.4162  1794.4422  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-14
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4499.4162  1755.4951  273.7500  16.0000  PL
    END-POINT  4513.5874  1755.4951  277.5000  23.5000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Reducer Eccentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-15
    ITEM-ATTRIBUTE0 CID=[71]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4513.5874  1755.4910  277.5037  23.5000  PL
    END-POINT  4521.5874  1755.4910  277.5037  23.5000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Canvas Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-15
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4535.8438  1780.7922  284.5468  23.4200  PL
    END-POINT  4535.8437  1786.5374  290.2920  23.4200  PL
    SKEY NCPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Canvas (for Indoors)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-16
    ITEM-ATTRIBUTE0 CID=[166]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8437  1786.5374  290.2920  23.4063  PL
    END-POINT  4535.8437  1797.7195  301.4740  16.0000  PL
    SKEY NCPL
    ITEM-CODE  116
    ITEM-DESCRIPTION  PSP Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-16
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4535.8437  1797.7195  301.4740  16.0000  PL
    END-POINT  4535.8437  1815.6189  319.3735  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-16
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4450.7299  1848.9690  348.0000  10.0000  PL
    END-POINT  4456.7299  1848.9690  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-17
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4458.9332  1820.0288  348.0000  16.0000  PL
    END-POINT  4458.9332  1811.0288  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!