ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE SM-02-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4679.8347  1815.6288  252.3174  2.0000  PL
    END-POINT  4679.8347  1815.6288  281.3174  46.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4679.8347  1917.9725  252.3174  2.0000  PL
    END-POINT  4679.8347  1917.9725  281.3174  46.0000  PL
    SKEY NCPL
    ITEM-CODE  51
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-2
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4679.8618  1779.0495  284.9696  23.4300  PL
    END-POINT  4679.8618  1784.7947  290.7148  23.4300  PL
    SKEY NCPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Canvas (for Indoors)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[166]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8618  1784.7947  290.7148  23.4375  PL
    END-POINT  4679.8438  1797.7293  303.6409  16.0000  PL
    SKEY NCPL
    ITEM-CODE  116
    ITEM-DESCRIPTION  PSP Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8438  1797.7293  303.6409  16.0000  PL
    END-POINT  4679.8438  1815.6288  321.5404  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4679.8347  1815.6288  449.3560  16.0000  PL
    END-POINT  4679.8347  1815.6288  354.1060  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1815.6288  354.1060  16.0000  PL
    END-POINT  4679.8347  1815.6288  258.8560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1815.6288  258.8560  16.0000  PL
    END-POINT  4679.8347  1815.6288  258.8560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4679.8347  1917.9725  449.3560  16.0000  PL
    END-POINT  4679.8347  1917.9725  354.1060  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1917.9725  354.1060  16.0000  PL
    END-POINT  4679.8347  1917.9725  258.8560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1917.9725  258.8560  16.0000  PL
    END-POINT  4679.8347  1917.9725  258.8560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4679.8347  1815.6288  449.1060  16.0000  PL
    END-POINT  4679.8347  1815.6288  496.3560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  60
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1815.6288  496.3560  16.0000  PL
    END-POINT  4679.8347  1815.6288  591.6060  16.0000  PL
    SKEY NCPL
    ITEM-CODE  59
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1815.6288  591.6060  16.0000  PL
    END-POINT  4679.8347  1815.6288  615.6060  6.0000  PL
    SKEY NCPL
    ITEM-CODE  58
    ITEM-DESCRIPTION  PSP Reducer
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4713.6222  1909.9846  367.0000  10.0000  PL
    END-POINT  4719.6222  1909.9846  367.0000  10.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4719.6222  1909.9846  367.0000  10.0000  PL
    END-POINT  4728.8722  1909.9846  367.0000  10.0000  PL
    SKEY NCPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4728.8722  1909.9846  367.0000  10.0000  PL
    END-POINT  4745.8722  1909.9846  367.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4694.9776  1755.4910  277.5037  23.5000  PL
    END-POINT  4702.9776  1755.4910  277.5037  23.5000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Canvas Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4702.9776  1755.4857  277.5037  16.0000  PL
    END-POINT  4719.8722  1755.4857  273.7537  23.5000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  PSP Reducer Eccentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[71]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4719.8722  1755.4857  273.7537  16.0000  PL
    END-POINT  4729.8722  1755.4857  273.7537  16.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4729.8722  1755.4857  273.7537  16.0000  PL
    END-POINT  4745.8722  1755.4857  289.7537  16.0000  PL
    SKEY NCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  1755.4857  289.7537  16.0000  PL
    END-POINT  4745.8722  1755.4857  351.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  1755.4857  351.0037  16.0000  PL
    END-POINT  4745.8722  1777.4857  367.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  1777.4857  367.0037  16.0000  PL
    END-POINT  4745.8722  1872.7357  367.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  1872.7357  367.0037  16.0000  PL
    END-POINT  4745.8722  1967.9857  367.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  1967.9857  367.0037  16.0000  PL
    END-POINT  4745.8722  2063.2357  367.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  2063.2357  367.0037  16.0000  PL
    END-POINT  4745.8722  2115.7357  367.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  2115.7357  367.0037  16.0000  PL
    END-POINT  4745.8722  2131.7357  351.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  19
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  2131.7357  351.0037  16.0000  PL
    END-POINT  4745.8722  2131.7357  313.2537  16.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  2131.7357  313.2537  16.0000  PL
    END-POINT  4745.8722  2131.7357  218.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4745.8722  1864.3607  289.7537  16.0000  PL
    END-POINT  4745.8722  1864.3607  313.5280  16.0000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  1864.3607  313.5280  16.0000  PL
    END-POINT  4745.8722  1871.3902  330.4986  16.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4745.8722  1871.3902  330.4986  16.0000  PL
    END-POINT  4745.8722  1889.9886  349.0970  16.0000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4679.8347  1917.9725  449.1060  16.0000  PL
    END-POINT  4679.8347  1917.9725  496.3560  16.0000  PL
    SKEY NCPL
    ITEM-CODE  60
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1917.9725  496.3560  16.0000  PL
    END-POINT  4679.8347  1917.9725  591.6060  16.0000  PL
    SKEY NCPL
    ITEM-CODE  59
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1917.9725  591.6060  16.0000  PL
    END-POINT  4679.8347  1917.9725  615.6060  6.0000  PL
    SKEY NCPL
    ITEM-CODE  58
    ITEM-DESCRIPTION  PSP Reducer
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4745.8750  1886.3564  349.1042  16.0000  PL
    END-POINT  4745.8750  1904.2559  367.0037  16.0000  PL
    SKEY NCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4694.9776  1858.3660  277.5037  23.5000  PL
    END-POINT  4702.9776  1858.3660  277.5037  23.5000  PL
    SKEY NCPL
    ITEM-CODE  56
    ITEM-DESCRIPTION  Canvas Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4702.9776  1858.3607  277.5037  16.0000  PL
    END-POINT  4719.8722  1858.3607  273.7537  23.5000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  PSP Reducer Eccentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[71]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4719.8722  1858.3607  273.7537  16.0000  PL
    END-POINT  4729.8722  1858.3607  273.7537  16.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4729.8722  1858.3607  273.7537  16.0000  PL
    END-POINT  4745.8722  1858.3607  289.7537  16.0000  PL
    SKEY NCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4679.8618  1881.9245  284.9696  23.4300  PL
    END-POINT  4679.8618  1887.6697  290.7148  23.4300  PL
    SKEY NCPL
    ITEM-CODE  115
    ITEM-DESCRIPTION  Canvas (for Indoors)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[166]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8618  1887.6697  290.7148  23.4375  PL
    END-POINT  4679.8347  1900.0730  303.1096  16.0000  PL
    SKEY NCPL
    ITEM-CODE  116
    ITEM-DESCRIPTION  PSP Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4679.8347  1900.0730  303.1096  16.0000  PL
    END-POINT  4679.8347  1917.9725  321.0091  16.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4717.1663  1909.9846  367.0000  10.0000  PL
    END-POINT  4717.1663  1915.9846  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-14
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4745.8722  1779.9093  367.0037  16.0000  PL
    END-POINT  4736.8722  1779.9093  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-15
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4745.8722  1899.9093  367.0037  16.0000  PL
    END-POINT  4736.8722  1899.9093  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-16
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4745.8722  2019.9093  367.0037  16.0000  PL
    END-POINT  4736.8722  2019.9093  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-17
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4745.8722  2112.5421  367.0037  16.0000  PL
    END-POINT  4736.8722  2112.5421  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!