ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE SM-02-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [7511 Collarmer Cross]Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  01/07/2016
MISC_COMPONENT
    END-POINT  4499.4162  1858.3701  273.7500  16.0000  PL
    END-POINT  4483.4162  1858.3701  289.7500  16.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1858.3701  289.7500  16.0000  PL
    END-POINT  4483.3535  1858.3701  299.7498  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [7511 Collarmer Cross]Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  01/07/2016
MISC_COMPONENT
    END-POINT  4450.7299  1848.9690  348.0000  10.0000  PL
    END-POINT  4456.7299  1848.9690  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-2
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  01/07/2016
MISC_COMPONENT
    END-POINT  4483.4162  1794.4422  348.0000  16.0000  PL
    END-POINT  4492.4162  1794.4422  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  18
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [7511 Collarmer Cross]Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  01/07/2016
MISC_COMPONENT
    END-POINT  4483.4162  1844.2847  348.0000  16.0000  PL
    END-POINT  4474.4162  1844.2847  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [7511 Collarmer Cross]Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  01/07/2016
MISC_COMPONENT
    END-POINT  4458.9332  1820.0288  348.0000  16.0000  PL
    END-POINT  4458.9332  1811.0288  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [7511 Collarmer Cross]Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  01/07/2016
MISC_COMPONENT
    END-POINT  4450.7299  1820.0288  348.0000  10.0000  PL
    END-POINT  4450.7299  1837.0288  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4450.7299  1837.0288  348.0000  10.0000  PL
    END-POINT  4450.7299  1846.2788  348.0000  10.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4450.7299  1846.2788  348.0000  10.0000  PL
    END-POINT  4450.7299  1852.2788  348.0000  10.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [7511 Collarmer Cross]Level-1
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  01/07/2016
MISC_COMPONENT
    END-POINT  4424.7299  1852.0288  224.7500  16.0000  PL
    END-POINT  4424.7299  1852.0288  320.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4424.7299  1852.0288  320.0000  16.0000  PL
    END-POINT  4424.7299  1836.0288  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4424.7299  1836.0288  348.0000  16.0000  PL
    END-POINT  4440.7299  1820.0288  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4440.7299  1820.0288  348.0000  16.0000  PL
    END-POINT  4460.7299  1820.0288  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.7299  1820.0288  348.0000  16.0000  PL
    END-POINT  4478.7299  1831.3425  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP 90 WYE
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[100]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4478.7299  1831.3425  348.0000  16.0000  PL
    END-POINT  4483.4162  1842.6562  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1842.6514  348.0000  16.0000  PL
    END-POINT  4483.4162  1858.6514  332.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1858.6514  332.0000  16.0000  PL
    END-POINT  4483.4162  1858.6514  299.7500  16.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4478.7299  1808.7151  348.0000  16.0000  PL
    END-POINT  4483.4162  1797.4014  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4483.4162  1797.4014  348.0000  16.0000  PL
    END-POINT  4483.4162  1771.4951  348.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
