ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE DAN-SM-001-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2465.3170  2076.2205  132.0259  24.0000  PL
    END-POINT  2370.0711  2076.2205  132.9120  24.0000  PL
    SKEY NCPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2370.0711  2076.2205  132.9120  24.0000  PL
    END-POINT  2274.8252  2076.2205  133.7981  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2274.8252  2076.2205  133.7981  24.0000  PL
    END-POINT  2179.5794  2076.2205  134.6841  24.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2179.5794  2076.2205  134.6841  24.0000  PL
    END-POINT  2084.3335  2076.2205  135.5702  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2084.3335  2076.2205  135.5702  24.0000  PL
    END-POINT  2072.3340  2076.2205  135.6819  24.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2072.3340  2076.2205  135.6819  24.0000  PL
    END-POINT  2072.3340  2076.2205  135.6819  24.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2214.7953  2091.0697  118.9633  6.0000  PL
    END-POINT  2214.7953  2091.0697  118.9633  6.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2214.7953  2091.0697  118.9633  6.0000  PL
    END-POINT  2214.7953  2076.2205  133.8125  24.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2214.7953  2076.2205  133.8125  8.0000  PL
    END-POINT  2214.7953  2061.3712  118.9633  24.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2214.7953  2061.3712  118.9633  8.0000  PL
    END-POINT  2214.7953  2061.3712  118.9633  8.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2262.7725  2091.0799  118.9590  6.0000  PL
    END-POINT  2262.7725  2091.0799  118.9590  6.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2262.7725  2091.0799  118.9590  6.0000  PL
    END-POINT  2262.7725  2076.2307  133.8083  24.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2262.7725  2076.2307  133.8083  8.0000  PL
    END-POINT  2262.7725  2061.3814  118.9590  24.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2262.7725  2061.3814  118.9590  8.0000  PL
    END-POINT  2262.7725  2061.3814  118.9590  8.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2310.6961  2091.0697  118.0570  6.0000  PL
    END-POINT  2310.6961  2091.0697  118.0570  6.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2310.6961  2091.0697  118.0570  6.0000  PL
    END-POINT  2310.6961  2076.2205  132.9063  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2310.6961  2076.2205  132.9063  8.0000  PL
    END-POINT  2310.6961  2061.3712  118.0570  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2310.6961  2061.3712  118.0570  8.0000  PL
    END-POINT  2310.6961  2061.3712  118.0570  8.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2358.6961  2091.0697  118.0570  6.0000  PL
    END-POINT  2358.6961  2091.0697  118.0570  6.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2358.6961  2091.0697  118.0570  6.0000  PL
    END-POINT  2358.6961  2076.2205  132.9063  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2358.6961  2076.2205  132.9063  8.0000  PL
    END-POINT  2358.6961  2061.3712  118.0570  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2358.6961  2061.3712  118.0570  8.0000  PL
    END-POINT  2358.6961  2061.3712  118.0570  8.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2454.7858  2091.0697  117.1820  6.0000  PL
    END-POINT  2454.7858  2091.0697  117.1820  6.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2454.7858  2091.0697  117.1820  6.0000  PL
    END-POINT  2454.7858  2076.2205  132.0313  24.0000  PL
    SKEY NCPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2454.7858  2076.2242  132.0297  8.0000  PL
    END-POINT  2454.7858  2061.3750  117.1804  24.0000  PL
    SKEY NCPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2454.7858  2061.3750  117.1804  8.0000  PL
    END-POINT  2454.7858  2061.3750  117.1804  8.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2406.7858  2091.0697  117.1820  6.0000  PL
    END-POINT  2406.7858  2091.0697  117.1820  6.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2406.7858  2091.0697  117.1820  6.0000  PL
    END-POINT  2406.7858  2076.2205  132.0313  24.0000  PL
    SKEY NCPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2406.7858  2076.2167  132.0297  8.0000  PL
    END-POINT  2406.7858  2061.3674  117.1804  24.0000  PL
    SKEY NCPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2406.7858  2061.3674  117.1804  8.0000  PL
    END-POINT  2406.7858  2061.3674  117.1804  8.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2284.8088  2076.2205  132.0259  24.0000  PL
    END-POINT  2285.8285  2063.2205  241.6408  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2380.8088  2076.2205  132.0259  24.0000  PL
    END-POINT  2381.8285  2063.2205  241.6408  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2476.8088  2076.2205  132.0259  24.0000  PL
    END-POINT  2477.8285  2063.2205  241.6408  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-10
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2499.2903  2076.2205  181.0249  24.0000  PL
    END-POINT  2475.0670  2076.2205  132.0259  24.0000  PL
    SKEY NCPL
    ITEM-CODE  67
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-11
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2475.0670  2076.2205  132.0259  24.0000  PL
    END-POINT  2465.0674  2076.2205  132.1189  24.0000  PL
    SKEY NCPL
    ITEM-CODE  68
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-11
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2459.8467  2076.2205  114.0320  2.0000  PL
    END-POINT  2460.0142  2076.2205  132.0313  24.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-12
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2118.7536  2091.0697  119.8383  6.0000  PL
    END-POINT  2118.7536  2091.0697  119.8383  6.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2118.7536  2091.0697  119.8383  6.0000  PL
    END-POINT  2118.7536  2076.2205  134.6875  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2118.7536  2076.2228  134.6865  8.0000  PL
    END-POINT  2118.7536  2061.3736  119.8373  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2118.7536  2061.3736  119.8373  8.0000  PL
    END-POINT  2118.7536  2061.3736  119.8373  8.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-13
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2166.7480  2091.0721  119.8373  6.0000  PL
    END-POINT  2166.7480  2091.0721  119.8373  6.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2166.7480  2091.0721  119.8373  6.0000  PL
    END-POINT  2166.7480  2076.2228  134.6865  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2166.7480  2076.2205  134.6875  8.0000  PL
    END-POINT  2166.7480  2061.3712  119.8383  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2166.7480  2061.3712  119.8383  8.0000  PL
    END-POINT  2166.7480  2061.3712  119.8383  8.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-14
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2088.0372  2076.2205  135.7225  24.0000  PL
    END-POINT  2089.0230  2063.2205  241.6798  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-15
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2188.8088  2076.2205  134.6130  24.0000  PL
    END-POINT  2189.8054  2063.2205  241.7394  24.0000  PL
    SKEY NCPL
    ITEM-CODE  69
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-16
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2095.6984  2076.2205  135.5625  6.0000  PL
    END-POINT  2095.6984  2097.2205  135.5625  24.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2095.6984  2097.2205  135.5625  6.0000  PL
    END-POINT  2095.6984  2106.4705  135.5625  6.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2095.6984  2106.4705  135.5625  6.0000  PL
    END-POINT  2095.6984  2112.4705  135.5625  6.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-17
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2086.5031  2367.3772  110.1250  6.0000  PL
    END-POINT  2082.5891  2367.3772  119.3833  24.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2064.0987  2394.4096  110.3425  12.0000  PL
    END-POINT  2064.2122  2401.4096  122.5424  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2160.0987  2394.4096  109.5868  12.0000  PL
    END-POINT  2160.2122  2401.4096  121.7867  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2256.0987  2394.4096  108.3329  12.0000  PL
    END-POINT  2256.2122  2401.4096  120.5328  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2352.0987  2394.4096  107.7669  12.0000  PL
    END-POINT  2352.2122  2401.4096  119.9669  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2424.0765  2394.4096  107.0194  12.0000  PL
    END-POINT  2424.1900  2401.4096  119.2193  24.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2086.5031  2394.4096  110.1250  6.0000  PL
    END-POINT  2086.5031  2379.4096  110.1250  12.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-24
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2086.5031  2379.4096  110.1250  6.0000  PL
    END-POINT  2086.5031  2370.1596  110.1250  6.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-24
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2086.5031  2370.1596  110.1250  6.0000  PL
    END-POINT  2086.5031  2364.1596  110.1250  6.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-24
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2407.8226  2394.4096  93.0197  2.0000  PL
    END-POINT  2407.9901  2394.4096  111.0189  24.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-25
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2439.5241  2394.4096  125.0186  12.0000  PL
    END-POINT  2421.3567  2394.4096  107.0194  12.0000  PL
    SKEY NCPL
    ITEM-CODE  70
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-26
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2421.3567  2394.4096  107.0194  12.0000  PL
    END-POINT  2412.1071  2394.4096  107.1054  12.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-26
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2411.9504  2394.4096  107.0194  12.0000  PL
    END-POINT  2364.7025  2394.4096  107.4589  12.0000  PL
    SKEY NCPL
    ITEM-CODE  71
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-26
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2364.7025  2394.4096  107.4589  12.0000  PL
    END-POINT  2269.4566  2394.4096  108.3450  12.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-26
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2269.4566  2394.4096  108.3450  12.0000  PL
    END-POINT  2174.2107  2394.4096  109.2311  12.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-26
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2174.2107  2394.4096  109.2311  12.0000  PL
    END-POINT  2078.9648  2394.4096  110.1171  12.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-26
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2078.9648  2394.4096  110.1171  12.0000  PL
    END-POINT  2054.9653  2394.4096  110.3404  12.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-26
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2054.9653  2394.4096  110.3404  12.0000  PL
    END-POINT  2054.9653  2394.4096  110.3404  12.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-26
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-27
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2404.0482  2379.3575  107.0533  4.0000  PL
    END-POINT  2404.0482  2379.3575  107.0533  4.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-27
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2404.0482  2379.3575  107.0533  4.0000  PL
    END-POINT  2404.1469  2394.3572  107.0530  12.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-27
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-28
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2321.9763  2379.4099  107.4691  4.0000  PL
    END-POINT  2321.9763  2379.4099  107.4691  4.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-28
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2321.9763  2379.4099  107.4691  4.0000  PL
    END-POINT  2322.0750  2394.4096  107.4688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  72
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-28
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-29
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2228.0075  2379.4099  108.3441  4.0000  PL
    END-POINT  2228.0075  2379.4099  108.3441  4.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-29
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2228.0075  2379.4099  108.3441  4.0000  PL
    END-POINT  2228.1062  2394.4096  108.3438  12.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-29
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-30
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  2144.1079  2379.4183  109.2224  4.0000  PL
    END-POINT  2144.1079  2379.4183  109.2224  4.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-30
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  2144.1079  2379.4183  109.2224  4.0000  PL
    END-POINT  2144.1079  2394.4183  109.2224  12.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-30
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-31
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1590.8493  1765.4138  103.0938  6.0000  PL
    END-POINT  1595.0080  1765.4138  120.1349  24.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-31
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-32
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1582.9362  1733.0076  102.1798  26.0000  PL
    END-POINT  1583.1032  1747.0076  120.1357  24.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-32
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-33
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1679.1054  1733.0076  102.1798  26.0000  PL
    END-POINT  1679.2712  1747.0076  119.9992  24.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-33
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-34
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1774.9400  1733.0076  101.6945  26.0000  PL
    END-POINT  1775.1115  1747.0076  120.1356  24.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-34
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-35
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1870.9400  1733.0076  100.9270  26.0000  PL
    END-POINT  1871.1174  1747.0076  120.0006  24.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-35
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-36
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1974.3478  1733.0076  99.9593  26.0000  PL
    END-POINT  1974.5339  1747.0076  119.9704  24.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-36
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-37
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1590.8493  1733.0076  103.0938  6.0000  PL
    END-POINT  1590.8493  1755.0076  103.0938  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-37
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1590.8493  1755.0076  103.0938  6.0000  PL
    END-POINT  1590.8493  1764.2576  103.0938  6.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-37
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1590.8493  1764.2576  103.0938  6.0000  PL
    END-POINT  1590.8493  1770.2576  103.0938  6.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-37
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-38
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1609.5691  1755.0130  103.0915  8.0000  PL
    END-POINT  1609.5691  1755.0130  103.0915  8.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-38
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1609.5691  1755.0130  103.0915  8.0000  PL
    END-POINT  1609.5691  1733.0130  103.0915  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-38
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-39
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1643.6060  1755.1038  102.9976  8.0000  PL
    END-POINT  1643.6060  1755.1038  102.9976  8.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-39
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1643.6060  1755.1038  102.9976  8.0000  PL
    END-POINT  1643.6060  1733.1038  102.9976  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-39
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-40
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1670.6565  1755.0130  102.6204  8.0000  PL
    END-POINT  1670.6565  1755.0130  102.6204  8.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-40
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1670.6565  1755.0130  102.6204  8.0000  PL
    END-POINT  1670.6565  1733.0130  102.6204  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-40
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-41
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1707.7054  1755.0130  102.2759  8.0000  PL
    END-POINT  1707.7054  1755.0130  102.2759  8.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-41
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1707.7054  1755.0130  102.2759  8.0000  PL
    END-POINT  1707.7054  1733.0130  102.2759  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-41
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-42
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1745.4781  1755.0130  101.8692  8.0000  PL
    END-POINT  1745.4781  1755.0130  101.8692  8.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-42
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1745.4781  1755.0130  101.8692  8.0000  PL
    END-POINT  1745.4781  1733.0130  101.8692  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-42
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-43
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1787.7244  1755.0130  101.5461  8.0000  PL
    END-POINT  1787.7244  1755.0130  101.5461  8.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-43
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1787.7244  1755.0130  101.5461  8.0000  PL
    END-POINT  1787.7244  1733.0130  101.5461  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-43
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-44
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1823.3393  1755.0002  101.2671  12.0000  PL
    END-POINT  1823.3393  1755.0002  101.2671  12.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-44
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1823.3393  1755.0002  101.2671  12.0000  PL
    END-POINT  1823.3393  1733.0002  101.2671  26.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-44
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-45
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1856.3554  1755.0002  100.9281  12.0000  PL
    END-POINT  1856.3554  1755.0002  100.9281  12.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-45
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1856.3554  1755.0002  100.9281  12.0000  PL
    END-POINT  1856.3554  1733.0002  100.9281  26.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-45
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-46
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1895.3105  1755.0002  100.4233  12.0000  PL
    END-POINT  1895.3105  1755.0002  100.4233  12.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-46
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1895.3105  1755.0002  100.4233  12.0000  PL
    END-POINT  1895.3105  1733.0002  100.4233  26.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-46
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-47
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1934.3317  1755.0002  100.2333  12.0000  PL
    END-POINT  1934.3317  1755.0002  100.2333  12.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-47
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1934.3317  1755.0002  100.2333  12.0000  PL
    END-POINT  1934.3317  1733.0002  100.2333  26.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-47
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-48
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1999.0048  1733.0076  125.8652  26.0000  PL
    END-POINT  1972.7630  1733.0076  99.8663  26.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-48
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1972.7630  1733.0076  99.8663  26.0000  PL
    END-POINT  1962.7634  1733.0076  99.9593  26.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-48
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1962.7670  1733.0076  99.9884  26.0000  PL
    END-POINT  1867.5211  1733.0076  100.8744  26.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-48
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1867.5211  1733.0076  100.8744  26.0000  PL
    END-POINT  1772.2753  1733.0076  101.7605  26.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-48
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1772.2753  1733.0076  101.7605  26.0000  PL
    END-POINT  1725.0273  1733.0076  102.2001  26.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-48
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1725.0273  1733.0076  102.2001  26.0000  PL
    END-POINT  1629.7814  1733.0076  103.0862  26.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-48
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1629.7814  1733.0076  103.0862  26.0000  PL
    END-POINT  1569.7840  1733.0076  103.6443  26.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-48
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1569.7840  1733.0076  103.6443  26.0000  PL
    END-POINT  1569.7840  1733.0076  103.6443  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-48
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-49
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1579.3430  1752.0846  103.0938  1.0000  PL
    END-POINT  1579.3430  1733.0846  103.0938  26.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-49
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-50
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1954.8078  1733.0211  80.9892  2.0000  PL
    END-POINT  1954.9846  1733.0211  99.9884  26.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-50
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-51
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1719.5628  2051.4521  101.7500  6.0000  PL
    END-POINT  1715.3931  2051.4521  119.9775  24.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-51
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-52
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1703.3265  2022.4898  102.4318  8.0000  PL
    END-POINT  1703.4900  2027.4898  120.0106  24.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-52
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-53
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1776.0750  2022.4898  101.5316  8.0000  PL
    END-POINT  1776.2466  2027.4898  119.9732  24.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-53
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-54
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1872.0750  2022.4898  100.7462  8.0000  PL
    END-POINT  1872.2529  2027.4898  119.8744  24.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-54
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-55
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1949.5562  2022.4898  99.9846  8.0000  PL
    END-POINT  1949.7422  2027.4898  119.9774  24.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  SM - Round Half Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-55
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-56
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1719.4837  2022.4898  101.7500  6.0000  PL
    END-POINT  1719.4837  2035.4898  101.7500  8.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-56
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1719.5628  2035.4898  101.7500  6.0000  PL
    END-POINT  1719.5628  2044.7398  101.7500  6.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-56
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1719.5628  2044.7398  101.7500  6.0000  PL
    END-POINT  1719.5628  2052.7398  101.7500  6.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-56
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-57
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1959.6219  2022.4898  111.9841  8.0000  PL
    END-POINT  1947.5103  2022.4898  99.9846  8.0000  PL
    SKEY NCPL
    ITEM-CODE  73
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-57
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1947.5103  2022.4898  99.9846  8.0000  PL
    END-POINT  1938.2607  2022.4898  100.0707  8.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP Isolation Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-57
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1938.2603  2022.4898  99.9846  8.0000  PL
    END-POINT  1843.0144  2022.4898  100.8707  8.0000  PL
    SKEY NCPL
    ITEM-CODE  74
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-57
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1843.0144  2022.4898  100.8707  8.0000  PL
    END-POINT  1747.7685  2022.4898  101.7568  8.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-57
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1747.7685  2022.4898  101.7568  8.0000  PL
    END-POINT  1700.5205  2022.4898  102.1963  8.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-57
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1700.5205  2022.4898  102.1963  8.0000  PL
    END-POINT  1700.5205  2022.4898  102.1963  8.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-57
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-58
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1935.7258  2022.4898  90.0004  2.0000  PL
    END-POINT  1935.8189  2022.4898  100.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP 90 Tap with No Damper
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-58
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-59
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1730.5312  2009.9387  101.7500  4.0000  PL
    END-POINT  1730.5312  2009.9387  101.7500  4.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-59
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1730.5312  2009.9387  101.7500  4.0000  PL
    END-POINT  1730.5312  2022.9387  101.7500  8.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-59
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-60
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1730.5312  2035.0410  101.7500  4.0000  PL
    END-POINT  1730.5312  2035.0410  101.7500  4.0000  PL
    SKEY NCPL
    ITEM-CODE  77
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-60
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1730.5312  2035.0410  101.7500  4.0000  PL
    END-POINT  1730.5312  2022.0410  101.7500  8.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-60
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-61
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1832.5602  2009.4850  100.8780  4.0000  PL
    END-POINT  1832.5602  2009.4850  100.8780  4.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-61
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1832.5602  2009.4850  100.8780  4.0000  PL
    END-POINT  1832.5602  2022.4850  100.8780  8.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-61
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1832.5602  2022.4911  100.8780  4.0000  PL
    END-POINT  1832.5602  2035.4911  100.8780  8.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-61
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1832.5602  2035.4911  100.8780  4.0000  PL
    END-POINT  1832.5602  2035.4911  100.8780  4.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-61
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-62
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  16/07/2016
MISC_COMPONENT
    END-POINT  1929.5698  2009.4898  100.0000  4.0000  PL
    END-POINT  1929.5698  2009.4898  100.0000  4.0000  PL
    SKEY NCPL
    ITEM-CODE  76
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-62
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1929.5698  2009.4898  100.0000  4.0000  PL
    END-POINT  1929.5698  2022.4898  100.0000  8.0000  PL
    SKEY NCPL
    ITEM-CODE  75
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-62
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!