ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE DAN-SM-001-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4510.0262  1739.2206  188.9919  6.0000  PL
    END-POINT  4510.0262  1722.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4510.0262  1722.2298  189.0000  6.0000  PL
    END-POINT  4501.0262  1713.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4501.0262  1713.2298  189.0000  6.0000  PL
    END-POINT  4485.7450  1713.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4485.7450  1713.2298  189.0000  6.0000  PL
    END-POINT  4477.7450  1713.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  PSP Blastgate
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[509]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4477.7450  1713.2298  189.0000  6.0000  PL
    END-POINT  4462.7450  1713.2298  189.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  86
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4462.7450  1713.2298  189.0000  6.0000  PL
    END-POINT  4453.7450  1713.2298  180.0000  6.0000  PL
    SKEY NCPL
    ITEM-CODE  87
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4453.7450  1713.2298  180.0000  6.0000  PL
    END-POINT  4453.7450  1713.2298  132.7500  6.0000  PL
    SKEY NCPL
    ITEM-CODE  88
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-1
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4731.7519  1739.2206  188.9919  16.0000  PL
    END-POINT  4684.5019  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP 4 to 48, L= 47.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4684.5019  1739.2206  188.9919  16.0000  PL
    END-POINT  4589.2519  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  81
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4589.2519  1739.2206  188.9919  16.0000  PL
    END-POINT  4494.0019  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  80
    ITEM-DESCRIPTION  PSP 8 to 48, L=94.25
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4494.0019  1739.2206  188.9919  16.0000  PL
    END-POINT  4478.0019  1755.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  79
    ITEM-DESCRIPTION  PSP 90 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4478.0019  1755.2206  188.9919  16.0000  PL
    END-POINT  4478.0019  1819.5019  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  78
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-2
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4542.2944  1722.2206  188.9919  6.0000  PL
    END-POINT  4542.2944  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4542.2944  1722.2206  188.9919  6.0000  PL
    END-POINT  4542.2944  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-3
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4573.2944  1722.2206  188.9919  6.0000  PL
    END-POINT  4573.2944  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4573.2944  1722.2206  188.9919  6.0000  PL
    END-POINT  4573.2944  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-4
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4604.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4604.5926  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4604.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4604.5926  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-5
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4636.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4636.5926  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4636.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4636.5926  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-6
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4668.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4668.5926  1722.2206  188.9919  6.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4668.5926  1722.2206  188.9919  6.0000  PL
    END-POINT  4668.5926  1739.2206  188.9919  16.0000  PL
    SKEY NCPL
    ITEM-CODE  82
    ITEM-DESCRIPTION  PSP Conical Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-7
    ITEM-ATTRIBUTE0 CID=[751]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE DAN-SM-001-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    DATE-DMY  13/07/2016
MISC_COMPONENT
    END-POINT  4730.4257  1719.2206  189.0000  12.0000  PL
    END-POINT  4713.1445  1719.2206  189.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  85
    ITEM-DESCRIPTION  PSP Cut to Length
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[41]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4713.1445  1719.2206  189.0000  12.0000  PL
    END-POINT  4704.6592  1722.7354  189.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  84
    ITEM-DESCRIPTION  PSP 45 Elbow
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4704.6592  1722.7354  189.0000  12.0000  PL
    END-POINT  4688.1739  1739.2206  189.0000  16.0000  PL
    SKEY NCPL
    ITEM-CODE  83
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD PSP 4' Duct - 12" W.G.
    SPOOL-IDENTIFIER  DAN-SM-001-8
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
