ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE SM-02-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4498.5119  2387.5739  258.5163  22.0000  PL
    END-POINT  4498.5119  2387.5739  258.5163  22.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4498.5119  2387.5739  258.5163  22.0000  PL
    END-POINT  4498.5119  2387.5739  377.5163  22.0000  PL
    SKEY NCPL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4498.5119  2387.5739  377.5163  22.0000  PL
    END-POINT  4498.5119  2387.5739  496.5163  22.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4498.5119  2387.5739  496.5163  22.0000  PL
    END-POINT  4498.5119  2387.5739  598.5163  22.0000  PL
    SKEY NCPL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4498.5119  2387.5739  598.5163  22.0000  PL
    END-POINT  4498.5119  2387.5739  616.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Reducer-Concentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-1
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4542.2475  2387.5590  284.5462  23.4375  PL
    END-POINT  4536.5022  2387.5590  290.2914  23.4375  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  Canvas (for Indoors)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-2
    ITEM-ATTRIBUTE0 CID=[166]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4536.5022  2387.5590  290.2914  23.4375  PL
    END-POINT  4521.5420  2387.5739  305.3297  22.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-2
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4521.5420  2387.5739  305.3297  22.0000  PL
    END-POINT  4498.5119  2387.5739  328.3598  22.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-2
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4605.7886  2329.1677  258.5163  12.0000  PL
    END-POINT  4605.7886  2329.1677  258.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4605.7886  2329.1677  258.5163  12.0000  PL
    END-POINT  4605.7886  2329.1677  377.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4605.7886  2329.1677  377.5163  12.0000  PL
    END-POINT  4605.7886  2329.1677  496.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4605.7886  2329.1677  496.5163  12.0000  PL
    END-POINT  4605.7886  2329.1677  602.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4605.7886  2329.1677  602.5163  12.0000  PL
    END-POINT  4605.7886  2329.1677  616.5163  6.0000  PL
    SKEY NCPL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Reducer-Concentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-3
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4642.5213  2387.5739  258.5163  22.0000  PL
    END-POINT  4642.5213  2387.5739  258.5163  22.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4642.5213  2387.5739  258.5163  22.0000  PL
    END-POINT  4642.5213  2387.5739  378.5163  22.0000  PL
    SKEY NCPL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4642.5213  2387.5739  378.5163  22.0000  PL
    END-POINT  4642.5213  2387.5739  498.5163  22.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4642.5213  2387.5739  498.5163  22.0000  PL
    END-POINT  4642.5213  2387.5739  598.5163  22.0000  PL
    SKEY NCPL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4642.5213  2387.5739  598.5163  22.0000  PL
    END-POINT  4642.5213  2387.5739  616.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Reducer-Concentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-4
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4687.6605  2387.5590  284.5462  23.4375  PL
    END-POINT  4681.9153  2387.5590  290.2914  23.4375  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  Canvas (for Indoors)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[166]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4681.9153  2387.5590  290.2914  23.4375  PL
    END-POINT  4665.5514  2387.5739  306.8883  22.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4665.5514  2387.5739  306.8883  22.0000  PL
    END-POINT  4642.5213  2387.5739  329.9184  22.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-5
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4455.7886  2329.1677  258.5163  12.0000  PL
    END-POINT  4455.7886  2329.1677  258.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  End Cap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[60]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4455.7886  2329.1677  258.5163  12.0000  PL
    END-POINT  4455.7886  2329.1677  377.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  62
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4455.7886  2329.1677  377.5163  12.0000  PL
    END-POINT  4455.7886  2329.1677  496.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  63
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4455.7886  2329.1677  496.5163  12.0000  PL
    END-POINT  4455.7886  2329.1677  602.5163  12.0000  PL
    SKEY NCPL
    ITEM-CODE  64
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4455.7886  2329.1677  602.5163  12.0000  PL
    END-POINT  4455.7886  2329.1677  616.5163  6.0000  PL
    SKEY NCPL
    ITEM-CODE  65
    ITEM-DESCRIPTION  Reducer-Concentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-6
    ITEM-ATTRIBUTE0 CID=[51]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4489.9496  2329.1677  271.6710  14.2500  PL
    END-POINT  4484.2044  2329.1677  277.4163  14.2500  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Canvas (for Indoors)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[166]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.2044  2329.1677  277.4163  14.2500  PL
    END-POINT  4470.2832  2329.1677  291.3374  12.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4470.2832  2329.1677  291.3374  12.0000  PL
    END-POINT  4455.7886  2329.1677  305.8320  12.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-7
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4639.7933  2329.1677  271.6710  14.2500  PL
    END-POINT  4634.0481  2329.1677  277.4163  14.2500  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  Canvas (for Indoors)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[166]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4634.0481  2329.1677  277.4163  14.2500  PL
    END-POINT  4620.2901  2329.1677  291.5006  12.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Square-Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[8]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4620.2901  2329.1677  291.5006  12.0000  PL
    END-POINT  4605.7955  2329.1677  305.9952  12.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-8
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4711.6307  2402.6727  274.0000  23.5000  PL
    END-POINT  4711.6307  2410.6727  274.0000  23.5000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Canvas Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4711.6307  2410.7040  274.0000  24.0000  PL
    END-POINT  4711.6307  2418.7040  274.2500  23.5000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  Reducer-Eccentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[71]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4711.6307  2418.7040  274.2500  24.0000  PL
    END-POINT  4711.6307  2430.7040  274.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  Nailor Heavy Duty Balance Damper 24-31
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4711.6239  2430.7040  274.2500  24.0000  PL
    END-POINT  4711.6239  2451.7040  274.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4711.6239  2451.7040  274.2500  24.0000  PL
    END-POINT  4711.6239  2487.7040  310.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4711.6239  2487.7040  310.2500  24.0000  PL
    END-POINT  4711.6239  2487.7040  357.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4711.6239  2487.7040  357.0000  24.0000  PL
    END-POINT  4675.6239  2487.7040  393.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  32
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4675.6239  2487.7040  393.0000  24.0000  PL
    END-POINT  4556.6239  2487.7040  393.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4556.6239  2487.7040  393.0000  24.0000  PL
    END-POINT  4496.6239  2487.7040  393.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4496.6239  2487.7040  393.0000  24.0000  PL
    END-POINT  4460.6239  2478.3865  358.2267  24.0000  PL
    SKEY NCPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6239  2478.3865  358.2267  24.0000  PL
    END-POINT  4460.6239  2468.2651  320.4530  24.0000  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6239  2468.2651  320.4530  24.0000  PL
    END-POINT  4460.6271  2467.0384  311.1355  24.0000  PL
    SKEY NCPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  15 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4460.6583  2467.0048  311.1445  24.0000  PL
    END-POINT  4460.6583  2467.0048  210.0195  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-9
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4566.2177  2402.6727  274.0000  23.5000  PL
    END-POINT  4566.2177  2410.6727  274.0000  23.5000  PL
    SKEY NCPL
    ITEM-CODE  27
    ITEM-DESCRIPTION  Canvas Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4566.2177  2410.7040  274.0000  24.0000  PL
    END-POINT  4566.2177  2418.7040  274.2500  23.5000  PL
    SKEY NCPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  Reducer-Eccentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[71]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4566.2177  2418.7040  274.2500  24.0000  PL
    END-POINT  4566.2177  2430.7040  274.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  28
    ITEM-DESCRIPTION  Nailor Heavy Duty Balance Damper 24-31
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4566.2177  2430.7040  274.2500  24.0000  PL
    END-POINT  4566.2177  2451.7040  274.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  26
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4566.2177  2451.7040  274.2500  24.0000  PL
    END-POINT  4566.2177  2487.7040  310.2500  24.0000  PL
    SKEY NCPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4566.2802  2487.7040  310.2500  24.0000  PL
    END-POINT  4566.2802  2487.7040  319.1847  24.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4566.2748  2487.7040  319.1847  24.0000  PL
    END-POINT  4555.7306  2487.7040  344.6405  24.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  45 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4555.7306  2487.7040  344.6405  24.0000  PL
    END-POINT  4532.1084  2487.7040  368.2628  24.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4532.1084  2487.7040  368.2628  24.0000  PL
    END-POINT  4507.3711  2487.7040  393.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-10
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4484.9567  2526.3302  195.9688  12.0000  PL
    END-POINT  4484.9567  2526.3302  314.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2526.3302  314.9688  12.0000  PL
    END-POINT  4484.9567  2526.3302  354.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2526.3302  354.9688  12.0000  PL
    END-POINT  4484.9567  2508.3302  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2508.3302  372.9688  12.0000  PL
    END-POINT  4484.9567  2432.3302  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4484.9567  2432.3302  372.9688  12.0000  PL
    END-POINT  4479.6846  2419.6023  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  39
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4479.6846  2419.6023  372.9688  12.0000  PL
    END-POINT  4466.9567  2406.8744  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4466.9567  2406.8744  372.9688  12.0000  PL
    END-POINT  4455.6430  2395.5607  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  39
    ITEM-DESCRIPTION  Conical Tee
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[75]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4455.6430  2395.5607  372.9688  12.0000  PL
    END-POINT  4442.9151  2382.8328  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4442.9151  2382.8328  372.9688  12.0000  PL
    END-POINT  4437.6430  2370.1048  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4437.6430  2370.1048  372.9688  12.0000  PL
    END-POINT  4437.6430  2296.1048  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4437.6430  2296.1048  372.9688  12.0000  PL
    END-POINT  4455.6430  2278.1048  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4455.6430  2278.1048  372.9688  12.0000  PL
    END-POINT  4519.6430  2278.1048  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4519.6430  2278.1048  372.9688  12.0000  PL
    END-POINT  4635.1117  2278.1048  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  32
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4635.1117  2278.1048  372.9688  12.0000  PL
    END-POINT  4653.1117  2278.1048  354.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  34
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4653.1117  2278.1048  354.9688  12.0000  PL
    END-POINT  4653.1117  2278.1048  284.2188  12.0000  PL
    SKEY NCPL
    ITEM-CODE  35
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4653.1117  2278.1048  284.2188  12.0000  PL
    END-POINT  4653.1117  2296.1048  266.2188  12.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4653.1117  2296.1048  266.2153  12.0000  PL
    END-POINT  4653.1117  2305.1048  266.2153  12.0000  PL
    SKEY NCPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Nailor Heavy Duty Balance Damper 12-13
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4653.1117  2305.1048  266.2153  12.0000  PL
    END-POINT  4653.1117  2313.1048  267.2778  14.1250  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Reducer-Eccentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[71]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4653.1117  2313.0111  267.2500  14.1300  PL
    END-POINT  4653.1117  2321.0111  267.2500  14.1300  PL
    SKEY NCPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  Canvas Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4453.5217  2408.9957  372.9688  10.0000  PL
    END-POINT  4447.8648  2414.6526  372.9688  10.0000  PL
    SKEY NCPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  Heavy Duty Balance Damper 8-11
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4447.8648  2414.6526  372.9688  10.0000  PL
    END-POINT  4443.6222  2418.8952  372.9688  10.0000  PL
    SKEY NCPL
    ITEM-CODE  42
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-11
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4503.2680  2321.0111  267.2500  14.1300  PL
    END-POINT  4503.2680  2313.0111  267.2500  14.1300  PL
    SKEY NCPL
    ITEM-CODE  37
    ITEM-DESCRIPTION  Canvas Round
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4503.2680  2313.1048  267.2778  12.0000  PL
    END-POINT  4503.2680  2305.1048  266.2153  14.1250  PL
    SKEY NCPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  Reducer-Eccentric
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[71]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4503.2680  2305.1048  266.2153  12.0000  PL
    END-POINT  4503.2680  2296.1048  266.2153  12.0000  PL
    SKEY NCPL
    ITEM-CODE  38
    ITEM-DESCRIPTION  Nailor Heavy Duty Balance Damper 12-13
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4503.2680  2296.1048  266.2153  12.0000  PL
    END-POINT  4503.2680  2278.1048  284.2153  12.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4503.3251  2278.1052  284.2153  12.0000  PL
    END-POINT  4503.3251  2278.1083  335.2044  12.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4503.3251  2278.1083  335.2044  12.0000  PL
    END-POINT  4498.0530  2278.1087  347.9323  12.0000  PL
    SKEY NCPL
    ITEM-CODE  53
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4498.0530  2278.1087  347.9323  12.0000  PL
    END-POINT  4487.5111  2278.1087  358.4742  12.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4487.5111  2278.1087  358.4742  12.0000  PL
    END-POINT  4473.0165  2278.1087  372.9688  12.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-12
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4522.3906  2416.4815  393.0000  12.0000  PL
    END-POINT  4522.3906  2422.4815  393.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  58
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4522.3906  2422.4815  393.0000  12.0000  PL
    END-POINT  4522.3906  2430.4815  393.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  57
    ITEM-DESCRIPTION  Heavy Duty Balance Damper 12-14
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[555]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4522.3906  2430.4815  393.0000  12.0000  PL
    END-POINT  4522.3906  2454.4815  393.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  55
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4522.3906  2454.4815  393.0000  12.0000  PL
    END-POINT  4517.1185  2467.2094  393.0000  12.0000  PL
    SKEY NCPL
    ITEM-CODE  54
    ITEM-DESCRIPTION  45 Stamped Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  4517.1185  2467.2094  393.0000  12.0000  PL
    END-POINT  4496.6239  2487.7040  393.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  52
    ITEM-DESCRIPTION  PSP Lateral Tap
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-13
    ITEM-ATTRIBUTE0 CID=[875]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4468.4808  2408.3985  372.9688  12.0000  PL
    END-POINT  4463.5311  2413.3482  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-14
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4484.9567  2505.0614  372.9688  12.0000  PL
    END-POINT  4491.9567  2505.0614  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  43
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-15
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4494.9579  2487.7040  393.0000  24.0000  PL
    END-POINT  4494.9579  2474.7040  485.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-16
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4516.9799  2278.1048  372.9688  12.0000  PL
    END-POINT  4516.9799  2271.1048  431.5340  24.0000  PL
    SKEY NCPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-17
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4630.9799  2278.1048  372.9688  12.0000  PL
    END-POINT  4630.9799  2271.1048  431.5340  24.0000  PL
    SKEY NCPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-18
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4551.3554  2487.7040  393.0000  24.0000  PL
    END-POINT  4551.3554  2474.7040  485.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-19
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-20
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4671.3554  2487.7040  393.0000  24.0000  PL
    END-POINT  4671.3554  2474.7040  485.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-20
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-21
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4437.6430  2299.2110  372.9688  12.0000  PL
    END-POINT  4430.6430  2299.2110  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-21
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-22
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4437.6430  2367.8982  372.9688  12.0000  PL
    END-POINT  4430.6430  2367.8982  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-22
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-23
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4445.7435  2416.7739  361.9688  12.0000  PL
    END-POINT  4440.7938  2411.8241  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  36
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-23
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-24
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level-1
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4457.4263  2278.1048  372.9688  12.0000  PL
    END-POINT  4457.4263  2271.1048  459.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  33
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-24
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-25
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4566.2177  2449.1023  274.2500  24.0000  PL
    END-POINT  4553.2177  2449.1023  485.3680  24.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-25
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE SM-02-26
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    DATE-DMY  26/07/2016
MISC_COMPONENT
    END-POINT  4711.6239  2449.1023  274.2500  24.0000  PL
    END-POINT  4698.6239  2449.1023  485.3680  24.0000  PL
    SKEY NCPL
    ITEM-CODE  31
    ITEM-DESCRIPTION  SM - Round Full Strap Hanger
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Companion Flg Galv - 6" W.G.
    SPOOL-IDENTIFIER  SM-02-26
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!