ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE SM-03-2 AMUA1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level 4 (T. of Walkable Ceiling Tiles)
    PIPING-SPEC  JWD Galv - 3" W.G.
    DATE-DMY  13/04/2017
MISC_COMPONENT
    END-POINT  1230.9655  7450.8948  4466.0377  18.0000  PL
    END-POINT  1230.9655  7477.6998  4439.2327  18.0000  PL
    SKEY NCPL
    ITEM-CODE  105
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1230.9655  7477.6998  4439.2327  18.0000  PL
    END-POINT  1230.9655  7488.1998  4439.2327  18.0000  PL
    SKEY NCPL
    ITEM-CODE  106
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1230.9655  7488.1998  4439.2327  18.0000  PL
    END-POINT  1230.9655  7504.2648  4439.1677  18.0000  PL
    SKEY NCPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Flex
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[873]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1230.9655  7504.2648  4439.1677  18.0000  PL
    END-POINT  1230.9655  7521.2648  4439.1677  18.0000  PL
    SKEY NCPL
    ITEM-CODE  107
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  1230.9655  7521.2648  4439.1677  18.0000  PL
    END-POINT  1230.9655  7548.0698  4412.3627  18.0000  PL
    SKEY NCPL
    ITEM-CODE  108
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!