ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE SM-03-2 AMUA1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  [9108 Global Foundries]Level 4 (T. of Walkable Ceiling Tiles)
    PIPING-SPEC  JWD Galv - 3" W.G.
    DATE-DMY  14/04/2017
MISC_COMPONENT
    END-POINT  -1943.4835  8526.9930  88.9196  18.0000  PL
    END-POINT  -1943.4835  8500.1880  62.1146  18.0000  PL
    SKEY NCPL
    ITEM-CODE  153
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1943.4835  8500.1880  62.1146  18.0000  PL
    END-POINT  -1943.4835  8500.1880  51.6146  18.0000  PL
    SKEY NCPL
    ITEM-CODE  154
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1943.4835  8500.1880  51.6146  18.0000  PL
    END-POINT  -1943.4835  8500.1230  35.5496  18.0000  PL
    SKEY NCPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Flex
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[873]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1943.4835  8500.1230  35.5496  18.0000  PL
    END-POINT  -1943.4835  8500.1230  18.5496  18.0000  PL
    SKEY NCPL
    ITEM-CODE  155
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1943.4835  8500.1230  18.5496  18.0000  PL
    END-POINT  -1943.4835  8473.3180  -8.2554  18.0000  PL
    SKEY NCPL
    ITEM-CODE  156
    ITEM-DESCRIPTION  90 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1943.4835  8473.3180  -8.2554  18.0000  PL
    END-POINT  -1943.4835  8387.3180  -8.2554  18.0000  PL
    SKEY NCPL
    ITEM-CODE  157
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1943.4835  8387.3180  -8.2554  18.0000  PL
    END-POINT  -1943.4835  8386.9430  -8.2554  18.0000  PL
    SKEY NCPL
    ITEM-CODE  158
    ITEM-DESCRIPTION  Coupling (Pipe)
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[522]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1943.4835  8386.9430  -8.2554  18.0000  PL
    END-POINT  -1943.4835  8266.9430  -8.2554  18.0000  PL
    SKEY NCPL
    ITEM-CODE  159
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1943.4835  8266.9430  -8.2554  18.0000  PL
    END-POINT  -1947.0747  8253.5405  -8.2554  18.0000  PL
    SKEY NCPL
    ITEM-CODE  160
    ITEM-DESCRIPTION  30 Gored Elbow-Full Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[61]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1947.0747  8253.5405  -8.2554  18.0000  PL
    END-POINT  -1953.7622  8241.9574  -8.2554  18.0000  PL
    SKEY NCPL
    ITEM-CODE  161
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1953.7622  8241.9574  -8.2554  18.0000  PL
    END-POINT  -1962.6972  8226.4815  -26.1254  18.0000  PL
    SKEY NCPL
    ITEM-CODE  162
    ITEM-DESCRIPTION  90 Stamped Elbow-Half Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1962.6972  8226.4815  -26.1254  18.0000  PL
    END-POINT  -1962.6972  8226.4815  -58.6254  18.0000  PL
    SKEY NCPL
    ITEM-CODE  163
    ITEM-DESCRIPTION  Spiral Pipe
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[40]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC_COMPONENT
    END-POINT  -1962.6972  8226.4815  -58.6254  18.0000  PL
    END-POINT  -1962.6972  8208.6115  -76.4954  18.0000  PL
    SKEY NCPL
    ITEM-CODE  164
    ITEM-DESCRIPTION  90 Stamped Elbow-Half Radius
    ADDITIONAL-ITEM
    PIPING-SPEC  JWD Galv - 3" W.G.
    SPOOL-IDENTIFIER  SM-03-2 AMUA1-1
    ITEM-ATTRIBUTE0 CID=[523]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!