ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-02S-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1467.5200  -5747.6211  117.7813  44.0000  PL
    END-POINT  -1476.7044  -5769.7942  190.7501  44.0000  PL
    SKEY NCPL
    ITEM-CODE  7
    ITEM-DESCRIPTION  4X.375 TRAPEZE
    ADDITIONAL-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1533.5293  -5711.6200  117.7813  18.0000  PL
    END-POINT  -1533.5293  -5711.6200  198.6251  36.0000  PL
    SKEY NCPL
    ITEM-CODE  5
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1541.9483  -5731.9453  117.7813  18.0000  PL
    END-POINT  -1541.9483  -5731.9453  198.6251  36.0000  PL
    SKEY NCPL
    ITEM-CODE  5
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1641.5013  -5718.5432  117.7963  18.0000  PL
    END-POINT  -1641.5013  -5718.5432  169.8749  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4648
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -1641.5023  -5718.5432  169.8749  1.0000  PL
    END-POINT  -1641.5023  -5718.5432  169.8749  1.0000  PL
    CENTRE-POINT  -1641.5023  -5718.5432  169.8749
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4649
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1641.5013  -5698.2111  117.7813  18.0000  PL
    END-POINT  -1641.5013  -5698.2111  169.8749  36.0000  PL
    SKEY NCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-5
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -1641.5023  -5698.2111  169.8749  1.0000  PL
    END-POINT  -1641.5023  -5698.2111  169.8749  1.0000  PL
    CENTRE-POINT  -1641.5023  -5698.2111  169.8749
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-5
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1821.4909  -5718.5432  117.7963  18.0000  PL
    END-POINT  -1821.4909  -5718.5432  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4648
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-6
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -1821.4909  -5718.5432  181.7501  1.0000  PL
    END-POINT  -1821.4909  -5718.5432  181.7501  1.0000  PL
    CENTRE-POINT  -1821.4909  -5718.5432  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4649
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-6
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1821.4909  -5698.2111  117.7813  18.0000  PL
    END-POINT  -1821.4909  -5698.2111  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  16
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-7
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -1821.4909  -5698.2111  181.7501  1.0000  PL
    END-POINT  -1821.4909  -5698.2111  181.7501  1.0000  PL
    CENTRE-POINT  -1821.4909  -5698.2111  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  17
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-7
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1854.3460  -5673.2863  133.9492  18.0000  PL
    END-POINT  -1854.3460  -5673.2863  196.5625  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4641
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-8
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  15/11/2016
MISC_COMPONENT
    END-POINT  -1877.9371  -5673.2863  133.9492  18.0000  PL
    END-POINT  -1877.9371  -5673.2863  196.5625  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4638
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/11/2016
PIPE
    END-POINT  -1877.9371  -5442.4494  133.9492  14.0000  PL
    END-POINT  -1877.9371  -5694.4494  133.9492  14.0000  PL
    ITEM-CODE  4636
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1877.9371  -5694.4494  133.9492  14.0000  PL
    END-POINT  -1877.9371  -5694.5432  133.9492  14.0000  PL
    SKEY COCP
    ITEM-CODE  4638
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1877.9371  -5694.5432  133.9492  14.0000  PL
    END-POINT  -1877.9371  -5704.4494  133.9492  14.0000  PL
    ITEM-CODE  4637
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1877.9371  -5704.4494  133.9492  14.0000  PL
    END-POINT  -1877.9371  -5704.5432  133.9492  14.0000  PL
    SKEY COCP
    ITEM-CODE  4640
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1877.9371  -5704.5432  133.9492  14.0000  PL
    END-POINT  -1868.0376  -5718.5432  124.0497  14.0000  PL
    CENTRE-POINT  -1877.9371  -5718.5432  133.9492
    SKEY ELPL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  CS 90 SR Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1868.0376  -5718.5432  124.0497  14.0000  PL
    END-POINT  -1867.9713  -5718.5432  123.9834  14.0000  PL
    SKEY COCP
    ITEM-CODE  4642
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1867.9713  -5718.5432  123.9834  14.0000  PL
    END-POINT  -1853.0342  -5718.5432  117.7963  14.0000  PL
    CENTRE-POINT  -1861.7842  -5718.5432  117.7963
    SKEY ELPL
    ITEM-CODE  4641
    ITEM-DESCRIPTION  CS 45 Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1853.0342  -5718.5432  117.7963  14.0000  PL
    END-POINT  -1852.9404  -5718.5432  117.7963  14.0000  PL
    SKEY COCP
    ITEM-CODE  4644
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1852.9404  -5718.5432  117.7963  14.0000  PL
    END-POINT  -1600.9404  -5718.5432  117.7963  14.0000  PL
    ITEM-CODE  4646
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1600.9404  -5718.5432  117.7963  14.0000  PL
    END-POINT  -1600.8467  -5718.5432  117.7963  14.0000  PL
    SKEY COCP
    ITEM-CODE  4648
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1600.8467  -5718.5432  117.7963  14.0000  PL
    END-POINT  -1578.5912  -5718.5432  117.7963  14.0000  PL
    ITEM-CODE  4647
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1578.5912  -5718.5365  117.7813  14.0000  PL
    END-POINT  -1578.4974  -5718.5365  117.7813  14.0000  PL
    SKEY COCP
    ITEM-CODE  11
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1578.4974  -5718.5365  117.7813  14.0000  PL
    END-POINT  -1570.4611  -5720.1350  117.7813  14.0000  PL
    CENTRE-POINT  -1574.3203  -5718.5365  117.7813
    SKEY ELPL
    ITEM-CODE  8
    ITEM-DESCRIPTION  CS 90 LR Trimmed Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1570.4611  -5720.1350  117.7813  14.0000  PL
    END-POINT  -1570.3745  -5720.1709  117.7813  14.0000  PL
    SKEY COCP
    ITEM-CODE  6
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1570.3745  -5720.1709  117.7813  14.0000  PL
    END-POINT  -1444.4915  -5772.3133  117.7813  14.0000  PL
    ITEM-CODE  3
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1444.4915  -5772.3133  117.7813  14.0000  PL
    END-POINT  -1444.4049  -5772.3492  117.7813  14.0000  PL
    SKEY COCP
    ITEM-CODE  5
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  15/11/2016
PIPE
    END-POINT  -1854.3460  -5480.4494  133.9492  14.0000  PL
    END-POINT  -1854.3460  -5684.1369  133.9492  14.0000  PL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1854.3460  -5684.1369  133.9492  14.0000  PL
    END-POINT  -1854.3460  -5684.2307  133.9492  14.0000  PL
    SKEY COCP
    ITEM-CODE  4642
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1854.3460  -5684.2307  133.9492  14.0000  PL
    END-POINT  -1844.4465  -5698.2307  124.0497  14.0000  PL
    CENTRE-POINT  -1854.3460  -5698.2307  133.9492
    SKEY ELPL
    ITEM-CODE  4641
    ITEM-DESCRIPTION  CS 90 SR Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1844.5403  -5698.2111  124.0347  14.0000  PL
    END-POINT  -1844.4740  -5698.2111  123.9684  14.0000  PL
    SKEY COCP
    ITEM-CODE  14
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1844.4740  -5698.2111  123.9684  14.0000  PL
    END-POINT  -1829.5368  -5698.2111  117.7813  14.0000  PL
    CENTRE-POINT  -1838.2868  -5698.2111  117.7813
    SKEY ELPL
    ITEM-CODE  11
    ITEM-DESCRIPTION  CS 45 Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1829.5368  -5698.2111  117.7813  14.0000  PL
    END-POINT  -1829.4430  -5698.2111  117.7813  14.0000  PL
    SKEY COCP
    ITEM-CODE  12
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1829.4430  -5698.2111  117.7813  14.0000  PL
    END-POINT  -1577.4430  -5698.2111  117.7813  14.0000  PL
    ITEM-CODE  14
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1577.4430  -5698.2111  117.7813  14.0000  PL
    END-POINT  -1577.3493  -5698.2111  117.7813  14.0000  PL
    SKEY COCP
    ITEM-CODE  16
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1577.3493  -5698.2111  117.7813  14.0000  PL
    END-POINT  -1570.1721  -5698.2111  117.7813  14.0000  PL
    ITEM-CODE  15
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1570.1721  -5698.2111  117.7813  14.0000  PL
    END-POINT  -1570.0784  -5698.2111  117.7813  14.0000  PL
    SKEY COCP
    ITEM-CODE  9
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1570.0784  -5698.2111  117.7813  14.0000  PL
    END-POINT  -1562.0420  -5699.8096  117.7813  14.0000  PL
    CENTRE-POINT  -1565.9012  -5698.2111  117.7813
    SKEY ELPL
    ITEM-CODE  5
    ITEM-DESCRIPTION  CS 90 LR Trimmed Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1562.0420  -5699.8096  117.7813  14.0000  PL
    END-POINT  -1561.9554  -5699.8455  117.7813  14.0000  PL
    SKEY COCP
    ITEM-CODE  6
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1561.9554  -5699.8455  117.7813  14.0000  PL
    END-POINT  -1436.0777  -5751.9858  117.7813  14.0000  PL
    ITEM-CODE  3
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1436.0777  -5751.9858  117.7813  14.0000  PL
    END-POINT  -1435.9911  -5752.0216  117.7813  14.0000  PL
    SKEY COCP
    ITEM-CODE  5
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]