ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-02S-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -2001.4423  -5155.1682  157.3867  24.0000  PL
    END-POINT  -2001.4423  -5155.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4638
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -2001.4423  -5155.1682  181.7501  1.0000  PL
    END-POINT  -2001.4423  -5155.1682  181.7501  1.0000  PL
    CENTRE-POINT  -2001.4423  -5155.1682  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -2091.6611  -5155.1682  157.3867  24.0000  PL
    END-POINT  -2091.6611  -5155.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4638
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -2091.6611  -5155.1682  181.7501  1.0000  PL
    END-POINT  -2091.6611  -5155.1682  181.7501  1.0000  PL
    CENTRE-POINT  -2091.6611  -5155.1682  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -2181.5038  -5155.1682  157.3867  24.0000  PL
    END-POINT  -2181.5038  -5155.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4638
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -2181.5038  -5155.1682  181.7501  1.0000  PL
    END-POINT  -2181.5038  -5155.1682  181.7501  1.0000  PL
    CENTRE-POINT  -2181.5038  -5155.1682  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-3
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -2271.3897  -5155.1682  157.3867  24.0000  PL
    END-POINT  -2271.3897  -5155.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4638
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -2271.3897  -5155.1682  181.7501  1.0000  PL
    END-POINT  -2271.3897  -5155.1682  181.7501  1.0000  PL
    CENTRE-POINT  -2271.3897  -5155.1682  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  4639
    ITEM-DESCRIPTION  Anvil WBA FIG-66-1_25-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -2271.3897  -5193.1682  157.3867  24.0000  PL
    END-POINT  -2271.3897  -5193.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4604
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-5
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -2181.5038  -5193.1682  157.3867  24.0000  PL
    END-POINT  -2181.5038  -5193.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4604
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-6
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -2091.9382  -5193.1682  157.3867  24.0000  PL
    END-POINT  -2091.9382  -5193.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4604
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-7
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -2001.7194  -5193.1682  157.3867  24.0000  PL
    END-POINT  -2001.7194  -5193.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4604
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-8
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -1911.5007  -5193.1682  157.3867  24.0000  PL
    END-POINT  -1911.5007  -5193.1682  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4604
    ITEM-DESCRIPTION  HR1 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -1854.3460  -5375.4986  134.8867  18.0000  PL
    END-POINT  -1854.3460  -5375.4986  211.5117  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4637
    ITEM-DESCRIPTION  HR78 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  13/11/2016
MISC_COMPONENT
    END-POINT  -1854.3460  -5255.4986  134.8867  18.0000  PL
    END-POINT  -1854.3460  -5255.4986  211.5117  36.0000  PL
    SKEY NCPL
    ITEM-CODE  4637
    ITEM-DESCRIPTION  HR78 Oversize C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  13/11/2016
PIPE
    END-POINT  -1854.3460  -5480.3557  134.8867  14.0000  PL
    END-POINT  -1854.3460  -5228.3557  134.8867  14.0000  PL
    ITEM-CODE  4635
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1854.3460  -5228.3557  134.8867  14.0000  PL
    END-POINT  -1854.3460  -5228.2619  134.8867  14.0000  PL
    SKEY COCP
    ITEM-CODE  4636
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-ECCENTRIC
    END-POINT  -1854.3460  -5228.2619  134.8867  20.0000  PL
    END-POINT  -1854.3460  -5208.2619  137.8867  14.0000  PL
    SKEY REPL
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Eccentric Reducer STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2071]
COUPLING
    END-POINT  -1854.3460  -5208.2619  137.8867  20.0000  PL
    END-POINT  -1854.3460  -5208.1682  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4636
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  -1854.3460  -5208.1682  137.8867  20.0000  PL
    END-POINT  -1854.3460  -5178.1682  137.8867  20.0000  PL
    CENTRE-POINT  -1854.3460  -5193.1682  137.8867
    BRANCH1-POINT  -1864.9526  -5193.1682  148.4933  20.0000  PL
    SKEY TEPL
    ITEM-CODE  4630
    ITEM-DESCRIPTION  CS Straight Tee STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  -1854.3460  -5178.1682  137.8867  20.0000  PL
    END-POINT  -1854.3460  -5178.0744  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4631
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1854.3460  -5178.0744  137.8867  20.0000  PL
    END-POINT  -1854.3460  -4926.0744  137.8867  20.0000  PL
    ITEM-CODE  4621
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1854.3460  -4926.0744  137.8867  20.0000  PL
    END-POINT  -1854.3460  -4925.9807  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4617
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1854.3460  -4925.9807  137.8867  20.0000  PL
    END-POINT  -1854.3460  -4673.9807  137.8867  20.0000  PL
    ITEM-CODE  4618
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1854.3460  -4673.9807  137.8867  20.0000  PL
    END-POINT  -1854.3460  -4673.8869  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4619
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1854.3460  -4673.8869  137.8867  20.0000  PL
    END-POINT  -1854.3460  -4421.8869  137.8867  20.0000  PL
    ITEM-CODE  4620
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1854.3460  -4421.8869  137.8867  20.0000  PL
    END-POINT  -1854.3460  -4421.7932  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4621
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1854.3460  -4421.7923  137.8867  20.0000  PL
    END-POINT  -1854.3460  -4247.1986  137.8867  20.0000  PL
    ITEM-CODE  4622
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1854.3434  -4247.1986  137.8867  20.0000  PL
    END-POINT  -1854.3434  -4247.1048  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  13
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1854.3434  -4247.1048  137.8867  20.0000  PL
    END-POINT  -1854.3434  -4217.1048  107.8867  20.0000  PL
    CENTRE-POINT  -1854.3434  -4217.1048  137.8867
    SKEY ELPL
    ITEM-CODE  10
    ITEM-DESCRIPTION  CS 90 LR Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1854.3434  -4217.1048  107.8867  20.0000  PL
    END-POINT  -1854.3434  -4217.1048  107.7930  20.0000  PL
    SKEY COCP
    ITEM-CODE  11
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  13/11/2016
PIPE
    END-POINT  -2373.4295  -5193.1682  157.3867  20.0000  PL
    END-POINT  -2121.4295  -5193.1682  157.3867  20.0000  PL
    ITEM-CODE  4601
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2121.4295  -5193.1682  157.3867  20.0000  PL
    END-POINT  -2121.3358  -5193.1682  157.3867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4603
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2121.3358  -5193.1682  157.3867  20.0000  PL
    END-POINT  -1886.4515  -5193.1682  157.3867  20.0000  PL
    ITEM-CODE  4602
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-13
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1886.4515  -5193.1682  157.3985  20.0000  PL
    END-POINT  -1886.3577  -5193.1682  157.3985  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-13
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1886.3577  -5193.1682  157.3985  20.0000  PL
    END-POINT  -1865.0189  -5193.1682  148.5596  20.0000  PL
    CENTRE-POINT  -1873.8577  -5193.1682  157.3985
    SKEY ELPL
    ITEM-CODE  4632
    ITEM-DESCRIPTION  CS 45 Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-13
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1865.0189  -5193.1682  148.5596  20.0000  PL
    END-POINT  -1864.9526  -5193.1682  148.4933  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-13
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  13/11/2016
PIPE
    END-POINT  -1877.9371  -5442.3557  134.8867  14.0000  PL
    END-POINT  -1877.9371  -5190.3557  134.8867  14.0000  PL
    ITEM-CODE  4635
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1877.9371  -5190.3557  134.8867  14.0000  PL
    END-POINT  -1877.9371  -5190.2619  134.8867  14.0000  PL
    SKEY COCP
    ITEM-CODE  4636
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2522]
REDUCER-ECCENTRIC
    END-POINT  -1877.9371  -5190.2619  134.8867  20.0000  PL
    END-POINT  -1877.9371  -5170.2619  137.8867  14.0000  PL
    SKEY REPL
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Eccentric Reducer STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2071]
COUPLING
    END-POINT  -1877.9371  -5170.2619  137.8867  20.0000  PL
    END-POINT  -1877.9371  -5170.1682  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4636
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  -1877.9371  -5170.1682  137.8867  20.0000  PL
    END-POINT  -1877.9371  -5140.1682  137.8867  20.0000  PL
    CENTRE-POINT  -1877.9371  -5155.1682  137.8867
    BRANCH1-POINT  -1888.5437  -5155.1682  148.4933  20.0000  PL
    SKEY TEPL
    ITEM-CODE  4630
    ITEM-DESCRIPTION  CS Straight Tee STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  -1877.9371  -5140.1682  137.8867  20.0000  PL
    END-POINT  -1877.9371  -5140.0744  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4631
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1877.9371  -5140.0744  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4888.0744  137.8867  20.0000  PL
    ITEM-CODE  4628
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1877.9371  -4888.0744  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4887.9807  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4629
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1877.9371  -4887.9807  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4635.9807  137.8867  20.0000  PL
    ITEM-CODE  4630
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1877.9371  -4635.9807  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4635.8869  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4631
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1877.9371  -4635.8869  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4383.8869  137.8867  20.0000  PL
    ITEM-CODE  4632
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1877.9371  -4383.8869  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4383.7932  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1877.9371  -4383.7932  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4247.1986  137.8867  20.0000  PL
    ITEM-CODE  4634
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1877.9371  -4247.1986  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4247.1048  137.8867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4621
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1877.9371  -4247.1048  137.8867  20.0000  PL
    END-POINT  -1877.9371  -4217.1048  107.8867  20.0000  PL
    CENTRE-POINT  -1877.9371  -4217.1048  137.8867
    SKEY ELPL
    ITEM-CODE  4618
    ITEM-DESCRIPTION  CS 90 LR Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1877.9371  -4217.1048  107.8867  20.0000  PL
    END-POINT  -1877.9371  -4217.1048  107.7930  20.0000  PL
    SKEY COCP
    ITEM-CODE  4619
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-14
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-15
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  13/11/2016
PIPE
    END-POINT  -2373.4295  -5155.1682  157.3867  20.0000  PL
    END-POINT  -2121.4295  -5155.1682  157.3867  20.0000  PL
    ITEM-CODE  4635
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -2121.4295  -5155.1682  157.3867  20.0000  PL
    END-POINT  -2121.3358  -5155.1682  157.3867  20.0000  PL
    SKEY COCP
    ITEM-CODE  4637
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -2121.3358  -5155.1682  157.3867  20.0000  PL
    END-POINT  -1910.0426  -5155.1682  157.3867  20.0000  PL
    ITEM-CODE  4636
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1910.0426  -5155.1682  157.3985  20.0000  PL
    END-POINT  -1909.9489  -5155.1682  157.3985  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1909.9489  -5155.1682  157.3985  20.0000  PL
    END-POINT  -1888.6100  -5155.1682  148.5596  20.0000  PL
    CENTRE-POINT  -1897.4489  -5155.1682  157.3985
    SKEY ELPL
    ITEM-CODE  4632
    ITEM-DESCRIPTION  CS 45 Elbow STD
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1888.6100  -5155.1682  148.5596  20.0000  PL
    END-POINT  -1888.5437  -5155.1682  148.4933  20.0000  PL
    SKEY COCP
    ITEM-CODE  4633
    ITEM-DESCRIPTION  CS Shop Weld Gap_09375
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-15
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-16
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  13/11/2016
COUPLING
    END-POINT  -5280.5934  -5246.0126  169.1875  6.0000  PL
    END-POINT  -5280.5934  -5246.0126  169.3125  6.0000  PL
    SKEY COCP
    ITEM-CODE  4678
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -5280.5934  -5246.0126  169.3125  6.0000  PL
    END-POINT  -5287.0934  -5246.0200  175.8125  6.0000  PL
    CENTRE-POINT  -5280.5934  -5246.0126  175.8125
    SKEY ELPL
    ITEM-CODE  4677
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5287.0934  -5246.0200  175.8125  6.0000  PL
    END-POINT  -5287.2184  -5246.0202  175.8125  6.0000  PL
    SKEY COCP
    ITEM-CODE  4680
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -5287.2184  -5246.0266  175.8125  6.0000  PL
    END-POINT  -5311.9723  -5246.0266  175.8125  6.0000  PL
    ITEM-CODE  2228
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-16
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-17
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  13/11/2016
COUPLING
    END-POINT  -5280.5934  -5258.0092  169.1875  6.0000  PL
    END-POINT  -5280.5934  -5258.0092  169.3125  6.0000  PL
    SKEY COCP
    ITEM-CODE  4674
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-17
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -5280.5934  -5258.0092  169.3125  6.0000  PL
    END-POINT  -5287.0934  -5258.0184  175.8125  6.0000  PL
    CENTRE-POINT  -5280.5934  -5258.0092  175.8125
    SKEY ELPL
    ITEM-CODE  4673
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-17
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5287.0934  -5258.0184  175.8125  6.0000  PL
    END-POINT  -5287.2184  -5258.0186  175.8125  6.0000  PL
    SKEY COCP
    ITEM-CODE  4676
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-17
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -5287.2184  -5258.0266  175.8125  6.0000  PL
    END-POINT  -5311.9723  -5258.0266  175.8125  6.0000  PL
    ITEM-CODE  2228
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-17
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-18
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  13/11/2016
ELBOW
    END-POINT  -5325.7918  -4798.0628  172.3309  2.5000  PL
    END-POINT  -5321.9507  -4798.0628  173.9219  2.5000  PL
    CENTRE-POINT  -5324.2008  -4798.0628  173.9219
    SKEY ELPL
    ITEM-CODE  2185
    ITEM-DESCRIPTION  VIC 11 45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-18
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5321.9507  -4798.0628  173.9219  2.5000  PL
    END-POINT  -5321.8257  -4798.0628  173.9219  2.5000  PL
    SKEY COCP
    ITEM-CODE  2186
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-18
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -5321.8257  -4798.0628  173.9219  2.5000  PL
    END-POINT  -5284.4059  -4798.0628  173.9219  2.5000  PL
    ITEM-CODE  2183
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-18
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -5284.4059  -4798.0628  173.9219  2.5000  PL
    END-POINT  -5284.2809  -4798.0628  173.9219  2.5000  PL
    SKEY COCP
    ITEM-CODE  4647
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-18
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -5284.2809  -4798.0628  173.9219  2.5000  PL
    END-POINT  -5280.5309  -4798.0628  170.1719  2.5000  PL
    CENTRE-POINT  -5280.5309  -4798.0628  173.9219
    SKEY ELPL
    ITEM-CODE  4647
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-18
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5280.5309  -4798.0628  170.1719  2.5000  PL
    END-POINT  -5280.5309  -4798.0628  170.0469  2.5000  PL
    SKEY COCP
    ITEM-CODE  4648
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-18
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE MP-02S-19
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  13/11/2016
ELBOW
    END-POINT  -5325.7918  -4790.0628  172.3309  2.5000  PL
    END-POINT  -5321.9507  -4790.0628  173.9219  2.5000  PL
    CENTRE-POINT  -5324.2008  -4790.0628  173.9219
    SKEY ELPL
    ITEM-CODE  2185
    ITEM-DESCRIPTION  VIC 11 45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-19
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5321.9507  -4790.0628  173.9219  2.5000  PL
    END-POINT  -5321.8257  -4790.0628  173.9219  2.5000  PL
    SKEY COCP
    ITEM-CODE  2186
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-19
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -5321.8257  -4790.0628  173.9219  2.5000  PL
    END-POINT  -5284.4059  -4790.0628  173.9219  2.5000  PL
    ITEM-CODE  2183
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-19
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -5284.4059  -4790.0628  173.9219  2.5000  PL
    END-POINT  -5284.2809  -4790.0628  173.9219  2.5000  PL
    SKEY COCP
    ITEM-CODE  2213
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-19
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -5284.2809  -4790.0628  173.9219  2.5000  PL
    END-POINT  -5280.5309  -4790.0628  170.1719  2.5000  PL
    CENTRE-POINT  -5280.5309  -4790.0628  173.9219
    SKEY ELPL
    ITEM-CODE  2210
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-19
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -5280.5309  -4790.0628  170.1719  2.5000  PL
    END-POINT  -5280.5309  -4790.0628  170.0469  2.5000  PL
    SKEY COCP
    ITEM-CODE  2212
    ITEM-DESCRIPTION  VIC 107H QuickVic Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-19
    ITEM-ATTRIBUTE0 CID=[2522]