ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-02S-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1479.9167  -5777.5493  115.7813  8.0000  PL
    END-POINT  -1479.9167  -5777.5493  190.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-1
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1486.0525  -5792.3625  115.7813  8.0000  PL
    END-POINT  -1486.0525  -5792.3625  190.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-2
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1548.9874  -5748.9393  115.7813  8.0000  PL
    END-POINT  -1548.9874  -5748.9393  198.6251  36.0000  PL
    SKEY NCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-3
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1555.1232  -5763.7524  115.7813  8.0000  PL
    END-POINT  -1555.1232  -5763.7524  198.6251  36.0000  PL
    SKEY NCPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-4
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1641.5013  -5737.9162  115.7813  8.0000  PL
    END-POINT  -1641.5013  -5737.9162  169.8749  36.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-5
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -1641.5023  -5737.9162  169.8749  1.0000  PL
    END-POINT  -1641.5023  -5737.9162  169.8749  1.0000  PL
    CENTRE-POINT  -1641.5023  -5737.9162  169.8749
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Anvil WBA FIG-66-7_8-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-5
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1641.5013  -5752.7293  115.7813  8.0000  PL
    END-POINT  -1641.5013  -5752.7293  169.8749  36.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-6
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -1641.5023  -5752.7293  169.8749  1.0000  PL
    END-POINT  -1641.5023  -5752.7293  169.8749  1.0000  PL
    CENTRE-POINT  -1641.5023  -5752.7293  169.8749
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Anvil WBA FIG-66-7_8-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-6
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1821.4909  -5737.9162  115.7813  8.0000  PL
    END-POINT  -1821.4909  -5737.9162  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-7
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -1821.4909  -5737.9162  181.7501  1.0000  PL
    END-POINT  -1821.4909  -5737.9162  181.7501  1.0000  PL
    CENTRE-POINT  -1821.4909  -5737.9162  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Anvil WBA FIG-66-7_8-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-7
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1821.4909  -5752.7293  115.7813  8.0000  PL
    END-POINT  -1821.4909  -5752.7293  181.7501  36.0000  PL
    SKEY NCPL
    ITEM-CODE  20
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-8
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
MISC-COMPONENT
    END-POINT  -1821.4909  -5752.7293  181.7501  1.0000  PL
    END-POINT  -1821.4909  -5752.7293  181.7501  1.0000  PL
    CENTRE-POINT  -1821.4909  -5752.7293  181.7501
    ITEM-ATTRIBUTE0  CID[928]
    SKEY CHPL
    ITEM-CODE  21
    ITEM-DESCRIPTION  Anvil WBA FIG-66-7_8-ROD-SIZE
    ERECTION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-8
    ITEM-ATTRIBUTE0 CID=[928]
PIPELINE-REFERENCE MP-02S-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1922.9996  -5673.2863  134.6162  8.0000  PL
    END-POINT  -1922.9996  -5673.2863  196.5625  36.0000  PL
    SKEY NCPL
    ITEM-CODE  140
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-9
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  Piping Materials
    DATE-DMY  14/11/2016
MISC_COMPONENT
    END-POINT  -1938.9996  -5673.2863  134.6162  8.0000  PL
    END-POINT  -1938.9996  -5673.2863  196.5625  36.0000  PL
    SKEY NCPL
    ITEM-CODE  135
    ITEM-DESCRIPTION  HR34 C&P Clevis Hangers
    FABRICATION-ITEM
    PIPING-SPEC  Piping Materials
    SPOOL-IDENTIFIER  MP-02S-10
    ITEM-ATTRIBUTE0 CID=[838]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE MP-02S-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  14/11/2016
PIPE
    END-POINT  -1444.6321  -5809.5194  115.7813  8.0000  PL
    END-POINT  -1577.8439  -5754.3412  115.7813  8.0000  PL
    ITEM-CODE  13
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1577.8404  -5754.3427  115.7813  8.0000  PL
    END-POINT  -1578.0137  -5754.2709  115.7813  8.0000  PL
    SKEY COCP
    ITEM-CODE  16
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1578.0137  -5754.2709  115.7813  8.0000  PL
    END-POINT  -1585.7637  -5752.7293  115.7813  8.0000  PL
    CENTRE-POINT  -1581.7354  -5752.7293  115.7813
    SKEY ELPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  VIC 12 22_5 GooseNeck Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1585.7637  -5752.7293  115.7813  8.0000  PL
    END-POINT  -1585.9512  -5752.7293  115.7813  8.0000  PL
    SKEY COCP
    ITEM-CODE  19
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1585.9512  -5752.7293  115.7813  8.0000  PL
    END-POINT  -1837.9512  -5752.7293  115.7813  8.0000  PL
    ITEM-CODE  18
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1837.9512  -5752.7293  115.7813  8.0000  PL
    END-POINT  -1838.1387  -5752.7293  115.7813  8.0000  PL
    SKEY COCP
    ITEM-CODE  20
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1838.1387  -5752.7293  115.7813  8.0000  PL
    END-POINT  -1915.7272  -5752.7293  115.7813  8.0000  PL
    ITEM-CODE  19
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1915.7272  -5752.7293  115.7813  8.0000  PL
    END-POINT  -1915.9147  -5752.7293  115.7813  8.0000  PL
    SKEY COCP
    ITEM-CODE  41
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1915.9147  -5752.7293  115.7813  8.0000  PL
    END-POINT  -1923.1699  -5752.7293  118.7865  8.0000  PL
    CENTRE-POINT  -1920.1647  -5752.7293  115.7813
    SKEY ELPL
    ITEM-CODE  40
    ITEM-DESCRIPTION  VIC 11 45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1923.1699  -5752.7293  118.7865  8.0000  PL
    END-POINT  -1923.3025  -5752.7293  118.9190  8.0000  PL
    SKEY COCP
    ITEM-CODE  43
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1923.3025  -5752.7293  118.9190  8.0000  PL
    END-POINT  -1933.3870  -5752.7293  129.0035  8.0000  PL
    ITEM-CODE  45
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1933.3870  -5752.7293  129.0035  8.0000  PL
    END-POINT  -1933.5195  -5752.7293  129.1361  8.0000  PL
    SKEY COCP
    ITEM-CODE  44
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1933.5195  -5752.7293  129.1361  8.0000  PL
    END-POINT  -1938.9996  -5744.9793  134.6162  8.0000  PL
    CENTRE-POINT  -1938.9996  -5752.7293  134.6162
    SKEY ELPL
    ITEM-CODE  41
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1938.9996  -5744.9793  134.6162  8.0000  PL
    END-POINT  -1938.9996  -5744.7918  134.6162  8.0000  PL
    SKEY COCP
    ITEM-CODE  48
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1938.9996  -5744.7918  134.6162  8.0000  PL
    END-POINT  -1938.9996  -5612.2766  134.6162  8.0000  PL
    ITEM-CODE  135
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-11
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE MP-02S-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  14/11/2016
PIPE
    END-POINT  -1438.4963  -5794.7062  115.7813  8.0000  PL
    END-POINT  -1571.7046  -5739.5295  115.7813  8.0000  PL
    ITEM-CODE  13
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1571.7046  -5739.5295  115.7813  8.0000  PL
    END-POINT  -1571.8779  -5739.4578  115.7813  8.0000  PL
    SKEY COCP
    ITEM-CODE  16
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1571.8779  -5739.4578  115.7813  8.0000  PL
    END-POINT  -1579.6279  -5737.9162  115.7813  8.0000  PL
    CENTRE-POINT  -1575.5996  -5737.9162  115.7813
    SKEY ELPL
    ITEM-CODE  15
    ITEM-DESCRIPTION  VIC 12 22_5 GooseNeck Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1579.6279  -5737.9162  115.7813  8.0000  PL
    END-POINT  -1579.8154  -5737.9162  115.7813  8.0000  PL
    SKEY COCP
    ITEM-CODE  19
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1579.8154  -5737.9162  115.7813  8.0000  PL
    END-POINT  -1831.8154  -5737.9162  115.7813  8.0000  PL
    ITEM-CODE  18
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1831.8154  -5737.9162  115.7813  8.0000  PL
    END-POINT  -1832.0029  -5737.9162  115.7813  8.0000  PL
    SKEY COCP
    ITEM-CODE  20
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1832.0029  -5737.9162  115.7813  8.0000  PL
    END-POINT  -1899.7272  -5737.9162  115.7813  8.0000  PL
    ITEM-CODE  19
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1899.7272  -5737.9162  115.7813  8.0000  PL
    END-POINT  -1899.9147  -5737.9162  115.7813  8.0000  PL
    SKEY COCP
    ITEM-CODE  32
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1899.9147  -5737.9162  115.7813  8.0000  PL
    END-POINT  -1907.1699  -5737.9162  118.7865  8.0000  PL
    CENTRE-POINT  -1904.1647  -5737.9162  115.7813
    SKEY ELPL
    ITEM-CODE  29
    ITEM-DESCRIPTION  VIC 11 45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1907.1699  -5737.9162  118.7865  8.0000  PL
    END-POINT  -1907.3025  -5737.9162  118.9190  8.0000  PL
    SKEY COCP
    ITEM-CODE  33
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1907.3025  -5737.9162  118.9190  8.0000  PL
    END-POINT  -1917.3870  -5737.9162  129.0035  8.0000  PL
    ITEM-CODE  35
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1917.3870  -5737.9162  129.0035  8.0000  PL
    END-POINT  -1917.5195  -5737.9162  129.1361  8.0000  PL
    SKEY COCP
    ITEM-CODE  34
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  -1917.5195  -5737.9162  129.1361  8.0000  PL
    END-POINT  -1922.9996  -5730.1662  134.6162  8.0000  PL
    CENTRE-POINT  -1922.9996  -5737.9162  134.6162
    SKEY ELPL
    ITEM-CODE  30
    ITEM-DESCRIPTION  VIC 10 90 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  -1922.9996  -5730.1662  134.6162  8.0000  PL
    END-POINT  -1922.9996  -5729.9787  134.6162  8.0000  PL
    SKEY COCP
    ITEM-CODE  36
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  -1922.9996  -5729.9787  134.6162  8.0000  PL
    END-POINT  -1922.9996  -5648.2766  134.6162  8.0000  PL
    ITEM-CODE  135
    ITEM-DESCRIPTION  A53 ERW Std Wt Blk Grv
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  -1922.9996  -5648.2766  134.6162  8.0000  PL
    END-POINT  -1922.9996  -5648.0891  134.6162  8.0000  PL
    SKEY COCP
    ITEM-CODE  136
    ITEM-DESCRIPTION  VIC 607 Rigid Copper Cplg
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-02S-12
    ITEM-ATTRIBUTE0 CID=[2522]