ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE MP-01N-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  BD-Piping
    DATE-DMY  21/11/2016
PIPE
    END-POINT  -2507.1002  -8356.9131  169.7395  0.7500  PL
    END-POINT  -2507.1002  -8356.9131  175.7395  0.7500  PL
    ITEM-CODE  19
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-01N-1
    ITEM-ATTRIBUTE0 CID=[2041]
REDUCER-CONCENTRIC-TEED
    END-POINT  -2507.1002  -8356.9131  175.7405  0.7500  PL
    END-POINT  -2506.3791  -8357.2118  177.0000  2.0000  PL
    BRANCH1-POINT  -2507.8213  -8356.6144  177.0000  2.0000  PL
    SKEY CTFL
    ITEM-CODE  17
    ITEM-DESCRIPTION  M2918 ProPress Tee PxPxP
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-01N-1
    ITEM-ATTRIBUTE0 CID=[2966]
PIPE
    END-POINT  -2506.3791  -8357.2118  177.0000  2.0000  PL
    END-POINT  -2469.6161  -8372.4396  177.0000  2.0000  PL
    ITEM-CODE  18
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-01N-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  -2507.8213  -8356.6144  177.0000  2.0000  PL
    END-POINT  -2672.2728  -8288.4964  177.0000  2.0000  PL
    ITEM-CODE  14
    ITEM-DESCRIPTION  Type L Hard Copper
    FABRICATION-ITEM
    PIPING-SPEC  BD-Piping
    SPOOL-IDENTIFIER  MP-01N-1
    ITEM-ATTRIBUTE0 CID=[2041]