ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-BOLT-LENGTH INCH
UNITS-BOLT-DIA INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE steam-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
PIPE
    END-POINT  4531.4634  2373.2711  -84.6066  10.0000  BW
    END-POINT  4291.4639  2373.2711  -84.1039  10.0000  BW
    ITEM-CODE  209
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPE
    END-POINT  4291.4639  2373.2711  -84.1039  10.0000  BW
    END-POINT  4531.4634  2373.2711  -84.6066  10.0000  BW
    ITEM-CODE  209
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4531.4634  2373.2711  -84.6066  10.0000  BW
    END-POINT  4531.5884  2373.2711  -84.6069  10.0000  BW
    SKEY COCP
    ITEM-CODE  210
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  4531.5884  2373.2711  -84.6823  10.0000  PL
    END-POINT  4546.5884  2358.2712  -84.6509  10.0000  BW
    CENTRE-POINT  4546.5884  2373.2711  -84.6823
    SKEY ELPL
    ITEM-CODE  210
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE steam-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
MISC_COMPONENT
    END-POINT  4720.1756  2337.1100  -6.0000  28.0000  PL
    END-POINT  4720.1756  2337.1100  -12.0000  28.0000  PL
    SKEY NCPL
    ITEM-CODE  EMBED-04
    ITEM-DESCRIPTION  Embed Plate
    ADDITIONAL-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-2
    ITEM-ATTRIBUTE0 CID=[972]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE steam-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Level 1
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
PIPE
    END-POINT  2792.4630  1992.1369  2432.2882  10.0000  BW
    END-POINT  2792.4630  1992.1369  2214.7726  10.0000  BW
    ITEM-CODE  271
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2792.4630  1992.1369  2214.7726  10.0000  BW
    END-POINT  2792.4630  1992.1369  2214.6476  10.0000  BW
    SKEY COCP
    ITEM-CODE  272
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2792.4630  1992.1369  2214.6476  10.0000  BW
    END-POINT  2792.4630  1992.1369  1734.6476  10.0000  BW
    ITEM-CODE  270
    ITEM-DESCRIPTION  A53 ERW Std Blk PE Double Random
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2792.4630  1992.1369  1734.6476  10.0000  BW
    END-POINT  2792.4630  1992.1369  1734.5226  10.0000  BW
    SKEY COCP
    ITEM-CODE  271
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2792.4630  1992.1369  1734.5226  10.0000  BW
    END-POINT  2792.4630  1992.1369  1254.5226  10.0000  BW
    ITEM-CODE  269
    ITEM-DESCRIPTION  A53 ERW Std Blk PE Double Random
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2792.4630  1992.1369  1254.5226  10.0000  BW
    END-POINT  2792.4630  1992.1369  1254.3976  10.0000  BW
    SKEY COCP
    ITEM-CODE  270
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2792.4630  1992.1369  1254.3976  10.0000  BW
    END-POINT  2792.4630  1992.1369  798.3976  10.0000  BW
    ITEM-CODE  268
    ITEM-DESCRIPTION  A53 ERW Std Blk PE Double Random
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2792.4630  1992.1369  798.3976  10.0000  BW
    END-POINT  2792.4630  1992.1369  798.2726  10.0000  BW
    SKEY COCP
    ITEM-CODE  270
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2792.4630  1992.1369  798.2726  10.0000  BW
    END-POINT  2792.4630  1992.1369  525.7102  10.0000  BW
    ITEM-CODE  269
    ITEM-DESCRIPTION  A53 ERW Std Blk PE Double Random
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2792.4580  1992.1367  525.7102  10.0000  BW
    END-POINT  2792.4580  1992.1367  525.5852  10.0000  BW
    SKEY COCP
    ITEM-CODE  269
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  2792.4580  1992.1367  525.5852  10.0000  BW
    END-POINT  2792.4580  1992.1367  508.5852  10.0000  BW
    CENTRE-POINT  2792.4580  1992.1367  517.0852
    BRANCH1-POINT  2792.4580  2000.6367  517.0852  10.0000  BW
    SKEY TEBW
    ITEM-CODE  265
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  2792.4630  1992.1369  508.5852  10.0000  BW
    END-POINT  2792.4630  1992.1369  508.4602  10.0000  BW
    SKEY COCP
    ITEM-CODE  270
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2792.4630  1992.1369  508.4602  10.0000  BW
    END-POINT  2792.4630  1992.1369  493.4602  10.0000  BW
    ITEM-CODE  267
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2792.4580  1992.1367  493.4602  6.0000  BW
    END-POINT  2792.4580  1992.1367  493.3352  6.0000  BW
    SKEY COCP
    ITEM-CODE  272
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2522]
CAP
    END-POINT  2792.4630  1992.1369  493.3352  10.0000  BW
    END-POINT  2792.4630  1992.1369  493.3352  10.0000  PL
    SKEY KABW
    ITEM-CODE  269
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-3
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE steam-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
CAP
    END-POINT  3152.3337  2304.5763  -102.8609  10.0000  BW
    END-POINT  3152.3337  2304.5763  -102.8609  10.0000  PL
    SKEY KABW
    ITEM-CODE  221
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  3152.3337  2304.5763  -102.8750  10.0000  BW
    END-POINT  3152.3337  2304.5763  -102.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  222
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3152.3337  2304.5763  -102.7359  10.0000  BW
    END-POINT  3152.3337  2304.5763  -90.3750  10.0000  BW
    ITEM-CODE  219
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3152.3337  2304.5763  -90.3750  10.0000  BW
    END-POINT  3152.3337  2304.5763  -90.2500  10.0000  BW
    SKEY COCP
    ITEM-CODE  220
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  3152.3337  2304.6121  -90.2500  10.0000  BW
    END-POINT  3152.3337  2304.6121  -73.2500  10.0000  BW
    CENTRE-POINT  3152.3337  2304.6121  -81.7500
    BRANCH1-POINT  3152.3337  2313.1121  -81.7500  10.0000  BW
    SKEY TEBW
    ITEM-CODE  217
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  3152.3286  2304.6121  -73.2500  10.0000  BW
    END-POINT  3152.3286  2304.6121  -73.1250  10.0000  BW
    SKEY COCP
    ITEM-CODE  222
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3152.3286  2304.6121  -73.1250  10.0000  BW
    END-POINT  3152.3286  2304.6121  240.2346  10.0000  BW
    ITEM-CODE  221
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3152.3286  2304.6121  240.2346  10.0000  BW
    END-POINT  3152.3286  2304.6121  240.3596  10.0000  BW
    SKEY COCP
    ITEM-CODE  225
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3152.3337  2304.5647  240.3596  10.0000  PL
    END-POINT  3152.3337  2319.5647  255.3596  10.0000  BW
    CENTRE-POINT  3152.3337  2304.5647  255.3596
    SKEY ELPL
    ITEM-CODE  224
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  3152.3337  2319.5647  255.3596  10.0000  BW
    END-POINT  3152.3337  2319.6897  255.3596  10.0000  BW
    SKEY COCP
    ITEM-CODE  227
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3152.3337  2319.6897  255.3596  10.0000  BW
    END-POINT  3152.3337  2353.6502  255.3596  10.0000  BW
    ITEM-CODE  232
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3152.3337  2353.6502  255.3596  10.0000  BW
    END-POINT  3152.3337  2353.7752  255.3596  10.0000  BW
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3152.3337  2353.7752  255.3596  10.0000  PL
    END-POINT  3137.3337  2368.7752  255.3596  10.0000  BW
    CENTRE-POINT  3152.3337  2368.7752  255.3596
    SKEY ELPL
    ITEM-CODE  235
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  3137.2087  2368.7752  255.3596  10.0000  BW
    END-POINT  3081.3714  2368.7752  255.3596  10.0000  BW
    ITEM-CODE  237
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
ELBOW
    END-POINT  3081.2464  2368.7752  255.3596  10.0000  PL
    END-POINT  3070.5770  2373.1946  255.3596  10.0000  BW
    CENTRE-POINT  3074.9964  2368.7752  255.3596
    SKEY ELPL
    ITEM-CODE  237
    ITEM-DESCRIPTION  45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  3070.5770  2373.1946  255.3596  10.0000  BW
    END-POINT  3070.4886  2373.2830  255.3596  10.0000  BW
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3070.4886  2373.2830  255.3596  10.0000  BW
    END-POINT  3062.5770  2381.1946  255.3596  10.0000  BW
    ITEM-CODE  240
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3062.5770  2381.1946  255.3596  10.0000  BW
    END-POINT  3062.4886  2381.2830  255.3596  10.0000  BW
    SKEY COCP
    ITEM-CODE  245
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3062.4886  2381.2830  255.3596  10.0000  PL
    END-POINT  3051.8820  2391.8896  270.3596  10.0000  BW
    CENTRE-POINT  3051.8820  2391.8896  255.3596
    SKEY ELPL
    ITEM-CODE  252
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  3051.8820  2391.8896  270.3596  10.0000  BW
    END-POINT  3051.8820  2391.8896  270.4846  10.0000  BW
    SKEY COCP
    ITEM-CODE  255
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3051.8820  2391.8896  270.4846  10.0000  BW
    END-POINT  3051.8820  2391.8896  432.0332  10.0000  BW
    ITEM-CODE  254
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3051.8830  2391.8896  432.0332  10.0000  BW
    END-POINT  3051.8830  2391.8896  432.1582  10.0000  BW
    SKEY COCP
    ITEM-CODE  243
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3051.8830  2391.8896  432.1582  10.0000  PL
    END-POINT  3036.8830  2391.8896  447.1582  10.0000  BW
    CENTRE-POINT  3051.8830  2391.8896  447.1582
    SKEY ELPL
    ITEM-CODE  242
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  3036.8830  2391.8896  447.1582  10.0000  BW
    END-POINT  3036.7580  2391.8896  447.1582  10.0000  BW
    SKEY COCP
    ITEM-CODE  244
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3036.7580  2391.8896  447.1582  10.0000  BW
    END-POINT  2731.2684  2391.8896  447.1582  10.0000  BW
    ITEM-CODE  293
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2731.2684  2391.8896  447.1582  10.0000  BW
    END-POINT  2731.1434  2391.8896  447.1582  10.0000  BW
    SKEY COCP
    ITEM-CODE  292
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2731.1434  2391.8896  447.1582  10.0000  PL
    END-POINT  2716.1434  2376.8896  447.1582  10.0000  BW
    CENTRE-POINT  2716.1434  2391.8896  447.1582
    SKEY ELPL
    ITEM-CODE  290
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  2716.1434  2376.8896  447.1582  10.0000  BW
    END-POINT  2716.1434  2376.7646  447.1582  10.0000  BW
    SKEY COCP
    ITEM-CODE  294
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2716.1434  2376.7646  447.1582  10.0000  BW
    END-POINT  2716.1434  2136.7646  447.1582  10.0000  BW
    ITEM-CODE  296
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2716.1434  2136.7646  447.1582  10.0000  BW
    END-POINT  2716.1434  2136.6396  447.1582  10.0000  BW
    SKEY COCP
    ITEM-CODE  299
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2716.1434  2136.6396  447.1582  10.0000  BW
    END-POINT  2716.1434  2106.0807  447.1582  10.0000  BW
    ITEM-CODE  298
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2716.1434  2106.0807  447.1582  10.0000  BW
    END-POINT  2716.1434  2105.9557  447.1582  10.0000  BW
    SKEY COCP
    ITEM-CODE  293
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2716.1434  2105.9557  447.1582  10.0000  PL
    END-POINT  2731.1434  2090.9557  447.1582  10.0000  BW
    CENTRE-POINT  2716.1434  2090.9557  447.1582
    SKEY ELPL
    ITEM-CODE  295
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  2731.1434  2090.9557  447.1582  10.0000  BW
    END-POINT  2731.2684  2090.9557  447.1582  10.0000  BW
    SKEY COCP
    ITEM-CODE  296
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2731.2684  2090.9557  447.1582  10.0000  BW
    END-POINT  2777.3330  2090.9557  447.1582  10.0000  BW
    ITEM-CODE  298
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2777.3330  2090.9557  447.1582  10.0000  BW
    END-POINT  2777.4580  2090.9557  447.1582  10.0000  BW
    SKEY COCP
    ITEM-CODE  297
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2777.4580  2090.9557  447.1582  10.0000  PL
    END-POINT  2792.4580  2090.9557  462.1582  10.0000  BW
    CENTRE-POINT  2792.4580  2090.9557  447.1582
    SKEY ELPL
    ITEM-CODE  295
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  2792.4580  2090.9557  462.1582  10.0000  BW
    END-POINT  2792.4580  2090.9557  462.2832  10.0000  BW
    SKEY COCP
    ITEM-CODE  299
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  2792.4580  2090.9557  462.2832  10.0000  BW
    END-POINT  2792.4580  2090.9557  501.9602  10.0000  BW
    ITEM-CODE  301
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2792.4580  2090.9557  501.9602  10.0000  BW
    END-POINT  2792.4580  2090.9557  502.0852  10.0000  BW
    SKEY COCP
    ITEM-CODE  300
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  2792.4580  2090.9557  502.0852  10.0000  PL
    END-POINT  2792.4580  2075.9557  517.0852  10.0000  BW
    CENTRE-POINT  2792.4580  2090.9557  517.0852
    SKEY ELPL
    ITEM-CODE  296
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
PIPE
    END-POINT  2792.4580  2075.8307  517.0852  10.0000  BW
    END-POINT  2792.4580  2000.7617  517.0852  10.0000  BW
    ITEM-CODE  270
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  2792.4580  2000.7617  517.0852  10.0000  BW
    END-POINT  2792.4580  2000.6367  517.0852  10.0000  BW
    SKEY COCP
    ITEM-CODE  268
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3152.3337  2313.1121  -81.7500  10.0000  BW
    END-POINT  3152.3337  2313.2371  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  221
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3152.3337  2313.2371  -81.7500  10.0000  BW
    END-POINT  3152.3337  2358.1461  -81.7500  10.0000  BW
    ITEM-CODE  217
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3152.4181  2358.1461  -81.7500  10.0000  BW
    END-POINT  3152.4181  2358.2711  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3152.4181  2358.2711  -81.7500  10.0000  PL
    END-POINT  3167.4181  2373.2711  -81.7500  10.0000  BW
    CENTRE-POINT  3152.4181  2373.2711  -81.7500
    SKEY ELPL
    ITEM-CODE  214
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  3167.4181  2373.2711  -81.7500  10.0000  BW
    END-POINT  3167.5431  2373.2711  -81.7500  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3167.5256  2373.2711  -81.7500  10.0000  BW
    END-POINT  3181.0681  2373.2711  -81.7783  10.0000  BW
    ITEM-CODE  228
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3181.0681  2373.2711  -81.7783  10.0000  BW
    END-POINT  3181.1931  2373.2711  -81.7786  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  3181.1931  2373.2711  -81.7786  10.0000  BW
    END-POINT  3198.1931  2373.2711  -81.8142  10.0000  BW
    CENTRE-POINT  3189.6931  2373.2711  -81.7964
    BRANCH1-POINT  3189.6931  2381.7711  -81.7964  10.0000  BW
    SKEY TEBW
    ITEM-CODE  225
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  3198.1931  2373.2711  -81.8142  10.0000  BW
    END-POINT  3198.3181  2373.2711  -81.8145  10.0000  BW
    SKEY COCP
    ITEM-CODE  226
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3198.3181  2373.2711  -81.8145  10.0000  BW
    END-POINT  3330.8410  2373.2711  -82.0920  10.0000  BW
    ITEM-CODE  223
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3330.8410  2373.2711  -82.0920  10.0000  BW
    END-POINT  3330.9660  2373.2711  -82.0923  10.0000  BW
    SKEY COCP
    ITEM-CODE  224
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3330.9660  2373.2711  -82.0923  10.0000  BW
    END-POINT  3570.9655  2373.2711  -82.5949  10.0000  BW
    ITEM-CODE  220
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3570.9655  2373.2711  -82.5949  10.0000  BW
    END-POINT  3571.0905  2373.2711  -82.5952  10.0000  BW
    SKEY COCP
    ITEM-CODE  221
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3571.0905  2373.2711  -82.5952  10.0000  BW
    END-POINT  3811.0900  2373.2711  -83.0978  10.0000  BW
    ITEM-CODE  217
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3811.0900  2373.2711  -83.0978  10.0000  BW
    END-POINT  3811.2150  2373.2711  -83.0981  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3811.2150  2373.2711  -83.0981  10.0000  BW
    END-POINT  4051.2145  2373.2711  -83.6008  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4051.2145  2373.2711  -83.6008  10.0000  BW
    END-POINT  4051.3395  2373.2711  -83.6010  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4051.3395  2373.2711  -83.6010  10.0000  BW
    END-POINT  4291.3389  2373.2711  -84.1037  10.0000  BW
    ITEM-CODE  211
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4291.3389  2373.2711  -84.1037  10.0000  BW
    END-POINT  4291.4639  2373.2711  -84.1039  10.0000  BW
    SKEY COCP
    ITEM-CODE  212
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2381.7711  -81.7964  10.0000  BW
    END-POINT  3189.6931  2381.8961  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  227
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  3189.6931  2381.8961  -81.7964  10.0000  BW
    END-POINT  3189.6931  2391.7235  -81.7964  10.0000  BW
    ITEM-CODE  226
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  3189.6931  2391.7235  -81.7964  10.0000  BW
    END-POINT  3189.6931  2391.8485  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2391.8485  -81.7964  10.0000  BW
    END-POINT  3189.6931  2395.7885  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  230
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2395.7885  -81.7964  10.0000  PL
    END-POINT  3189.6931  2395.8510  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  150 # Full Face Gasket
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2395.8510  -81.7964  10.0000  FL
    END-POINT  3189.6931  2395.8520  -81.7964  10.0000  PL
    SKEY COCP
    ITEM-CODE  232
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
VALVE
    END-POINT  3189.6931  2395.8520  -81.7964  10.0000  FL
    END-POINT  3189.6931  2408.8520  -81.7964  10.0000  FL
    CENTRE-POINT  3189.6931  2402.3520  -81.7964
    SKEY VVFL
    ITEM-CODE  228
    ITEM-DESCRIPTION  F-617-0 Gate Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  3189.6931  2408.8520  -81.7964  10.0000  PL
    END-POINT  3189.6931  2408.9145  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  235
    ITEM-DESCRIPTION  150 # Full Face Gasket
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2408.9145  -81.7964  10.0000  FL
    END-POINT  3189.6931  2408.9155  -81.7964  10.0000  PL
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  150 # Bolt Set
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2408.9155  -81.7964  10.0000  BW
    END-POINT  3189.6931  2412.8555  -81.7964  10.0000  FL
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  3189.6931  2412.8555  -81.7964  10.0000  BW
    END-POINT  3189.6931  2412.9805  -81.7964  10.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  3189.6931  2412.9805  -81.7964  10.0000  PL
    END-POINT  3204.6931  2427.9805  -81.8278  10.0000  BW
    CENTRE-POINT  3189.6931  2427.9805  -81.7964
    SKEY ELPL
    ITEM-CODE  239
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  3204.6931  2427.9805  -81.8278  10.0000  BW
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  BW
    SKEY COCP
    ITEM-CODE  243
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2522]
CAP
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  BW
    END-POINT  3204.8181  2427.9805  -81.8281  10.0000  PL
    SKEY KABW
    ITEM-CODE  242
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-4
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE steam-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
MISC_COMPONENT
    END-POINT  4669.9244  2337.1106  -6.0000  24.0000  PL
    END-POINT  4669.9244  2337.1106  -12.0000  24.0000  PL
    SKEY NCPL
    ITEM-CODE  204
    ITEM-DESCRIPTION  Embed Plate
    ADDITIONAL-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-5
    ITEM-ATTRIBUTE0 CID=[972]
    ITEM-ATTRIBUTE1 !!! UNDEFINED-COMPONENT !!!
PIPELINE-REFERENCE steam-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
COUPLING
    END-POINT  5770.8826  2322.2956  -30.4727  6.0000  BW
    END-POINT  5770.8826  2318.8556  -30.4727  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-6
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8826  2318.8556  -30.4727  6.0000  BW
    END-POINT  5770.8826  2318.7306  -30.4727  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5770.8826  2318.7306  -30.4727  6.0000  BW
    END-POINT  5770.8826  2203.3254  -30.4727  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-6
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
TEE-SET-ON
    CENTRE-POINT  5866.8791  2311.0720  -30.6803
    BRANCH1-POINT  5863.0498  2311.0720  -30.6723  0.7500  PL
    SKEY TESO
    ITEM-CODE  244
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-7
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE steam-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
COUPLING
    END-POINT  5866.8791  2322.2956  -30.6737  6.0000  BW
    END-POINT  5866.8791  2318.8556  -30.6737  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-8
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5866.8791  2318.8556  -30.6737  6.0000  BW
    END-POINT  5866.8791  2318.7306  -30.6737  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-8
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5866.8791  2318.7306  -30.6737  6.0000  BW
    END-POINT  5866.8791  2203.3254  -30.6737  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-8
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-9
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
TEE-SET-ON
    CENTRE-POINT  5945.8036  2311.0720  -30.8750
    BRANCH1-POINT  5941.9743  2311.0720  -30.8670  0.7500  PL
    SKEY TESO
    ITEM-CODE  244
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-9
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE steam-10
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
COUPLING
    END-POINT  5945.8036  2322.2956  -30.8684  6.0000  BW
    END-POINT  5945.8036  2318.8556  -30.8684  6.0000  FL
    SKEY COCP
    ITEM-CODE  239
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-10
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5945.8036  2318.8556  -30.8684  6.0000  BW
    END-POINT  5945.8036  2318.7306  -30.8684  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-10
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5945.8036  2318.7306  -30.8684  6.0000  BW
    END-POINT  5945.8036  2203.3254  -30.8684  6.0000  BW
    ITEM-CODE  242
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-10
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-11
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
COUPLING
    END-POINT  4573.5883  2337.1461  -84.6697  10.0000  BW
    END-POINT  4573.7133  2337.1461  -84.6699  10.0000  BW
    SKEY COCP
    ITEM-CODE  202
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-11
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE steam-12
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
PIPE
    END-POINT  4269.4699  2373.2711  -84.0679  10.0000  BW
    END-POINT  4263.4699  2373.2711  -84.0679  10.0000  BW
    ITEM-CODE  181
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-12
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-13
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
PIPE
    END-POINT  4360.5826  2373.2711  -84.2625  10.0000  BW
    END-POINT  4354.5826  2373.2711  -84.2625  10.0000  BW
    ITEM-CODE  181
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-13
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-14
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
PIPE
    END-POINT  4475.0826  2373.2711  -84.4787  10.0000  BW
    END-POINT  4469.0826  2373.2711  -84.4787  10.0000  BW
    ITEM-CODE  181
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-14
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-B-LPS-1-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
CAP
    END-POINT  4582.1958  2337.1286  -105.7984  10.0000  BW
    END-POINT  4582.1958  2337.1286  -105.7984  10.0000  PL
    SKEY KABW
    ITEM-CODE  221
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  4582.1958  2337.1286  -105.8125  10.0000  BW
    END-POINT  4582.1958  2337.1286  -105.6875  10.0000  BW
    SKEY COCP
    ITEM-CODE  222
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4582.1958  2337.1286  -105.6734  10.0000  BW
    END-POINT  4582.1958  2337.1286  -93.3125  10.0000  BW
    ITEM-CODE  219
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4582.1958  2337.1286  -93.3125  10.0000  BW
    END-POINT  4582.1958  2337.1286  -93.1875  10.0000  BW
    SKEY COCP
    ITEM-CODE  220
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  4582.1958  2337.1286  -93.1875  10.0000  BW
    END-POINT  4582.1958  2337.1286  -76.1875  10.0000  BW
    CENTRE-POINT  4582.1958  2337.1286  -84.6875
    BRANCH1-POINT  4573.6958  2337.1286  -84.6875  10.0000  BW
    SKEY TEBW
    ITEM-CODE  217
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  4582.1958  2337.1286  -76.1875  10.0000  BW
    END-POINT  4582.1958  2337.1286  -76.0625  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4582.1988  2337.1286  -76.0625  10.0000  BW
    END-POINT  4582.1988  2337.1286  -45.5517  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4582.1988  2337.1286  -45.5517  10.0000  BW
    END-POINT  4582.1988  2337.1286  -45.4267  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  4582.1988  2337.1286  -45.4267  10.0000  PL
    END-POINT  4597.1988  2337.1286  -30.4267  10.0000  BW
    CENTRE-POINT  4582.1988  2337.1286  -30.4267
    SKEY ELPL
    ITEM-CODE  211
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  4597.1988  2337.1286  -30.4267  10.0000  BW
    END-POINT  4597.3238  2337.1286  -30.4267  10.0000  BW
    SKEY COCP
    ITEM-CODE  212
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4597.3242  2337.1106  -30.4267  10.0000  BW
    END-POINT  4688.3002  2337.1106  -30.6172  10.0000  BW
    ITEM-CODE  202
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-B-LPS-1-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
TEE-SET-ON
    CENTRE-POINT  4582.1988  2337.1286  -99.6875
    BRANCH1-POINT  4588.2035  2337.1286  -99.6875  1.0000  PL
    SKEY TESO
    ITEM-CODE  222
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1-2
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE steam-B-LPS-1A-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
COUPLING
    END-POINT  4546.5884  2358.2712  -84.6509  10.0000  BW
    END-POINT  4546.5884  2358.1462  -84.6506  10.0000  BW
    SKEY COCP
    ITEM-CODE  208
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1A-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4546.5884  2358.1462  -84.6506  10.0000  BW
    END-POINT  4546.5884  2352.2537  -84.6383  10.0000  BW
    ITEM-CODE  207
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1A-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  4546.5884  2352.2712  -84.6509  10.0000  BW
    END-POINT  4546.5884  2352.1462  -84.6506  10.0000  BW
    SKEY COCP
    ITEM-CODE  207
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1A-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  4546.5884  2352.1462  -84.6697  10.0000  PL
    END-POINT  4561.5883  2337.1461  -84.6697  10.0000  BW
    CENTRE-POINT  4546.5884  2337.1462  -84.6383
    SKEY ELPL
    ITEM-CODE  201
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1A-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  4561.5883  2337.1461  -84.6697  10.0000  BW
    END-POINT  4561.7133  2337.1461  -84.6699  10.0000  BW
    SKEY COCP
    ITEM-CODE  203
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1A-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  4561.7133  2337.1461  -84.6699  10.0000  BW
    END-POINT  4573.5888  2337.1461  -84.6948  10.0000  BW
    ITEM-CODE  202
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-1A-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-B-LPS-2-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
PIPE
    END-POINT  4688.3002  2337.1106  -30.6172  10.0000  BW
    END-POINT  5168.2992  2337.1106  -31.6225  10.0000  BW
    ITEM-CODE  201
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-2-1
    ITEM-ATTRIBUTE0 CID=[2041]
PIPELINE-REFERENCE steam-B-LPS-3-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
PIPE
    END-POINT  5168.4242  2337.1106  -31.6228  10.0000  BW
    END-POINT  5498.1896  2337.1106  -32.3134  10.0000  BW
    ITEM-CODE  209
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5498.1896  2337.1106  -32.3131  10.0000  BW
    END-POINT  5498.3146  2337.1106  -32.3134  10.0000  BW
    SKEY COCP
    ITEM-CODE  210
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5498.3146  2337.1106  -32.3134  10.0000  PL
    END-POINT  5508.9747  2337.1106  -36.7552  10.0000  BW
    CENTRE-POINT  5504.5645  2337.1106  -32.3265
    SKEY ELPL
    ITEM-CODE  211
    ITEM-DESCRIPTION  45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5508.9747  2337.1106  -36.7552  10.0000  BW
    END-POINT  5509.0629  2337.1106  -36.8437  10.0000  BW
    SKEY COCP
    ITEM-CODE  215
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5509.0576  2337.1106  -36.8490  10.0000  BW
    END-POINT  5514.3811  2337.1106  -42.1949  10.0000  BW
    ITEM-CODE  214
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5514.3811  2337.1106  -42.1949  10.0000  BW
    END-POINT  5514.4693  2337.1106  -42.2834  10.0000  BW
    SKEY COCP
    ITEM-CODE  218
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5514.4693  2337.1106  -42.2834  10.0000  PL
    END-POINT  5525.1294  2337.1106  -46.7252  10.0000  BW
    CENTRE-POINT  5518.8794  2337.1106  -46.7121
    SKEY ELPL
    ITEM-CODE  217
    ITEM-DESCRIPTION  45 Elbow
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-3-1
    ITEM-ATTRIBUTE0 CID=[2523]
PIPELINE-REFERENCE steam-B-LPS-4-1
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
PIPE
    END-POINT  5525.2544  2337.1106  -46.7250  10.0000  BW
    END-POINT  5762.2049  2337.1106  -47.2213  10.0000  BW
    ITEM-CODE  1
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2041]
TEE
    END-POINT  5762.3476  2337.1106  -47.2049  10.0000  BW
    END-POINT  5779.3475  2337.1106  -47.2405  10.0000  BW
    CENTRE-POINT  5770.8476  2337.1106  -47.2227
    BRANCH1-POINT  5770.8635  2337.1106  -39.5977  6.0000  BW
    SKEY TEBW
    ITEM-CODE  3
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5779.3475  2337.1106  -47.2572  10.0000  BW
    END-POINT  5779.4725  2337.1106  -47.2575  10.0000  BW
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5779.4725  2337.1106  -47.2575  10.0000  BW
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    ITEM-CODE  7
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    END-POINT  5858.3440  2337.1106  -47.4227  10.0000  BW
    SKEY COCP
    ITEM-CODE  233
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5858.3440  2337.1106  -47.4226  10.0000  BW
    END-POINT  5858.2190  2337.1106  -47.4224  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  5858.3440  2337.1106  -47.4059  10.0000  BW
    END-POINT  5875.3440  2337.1106  -47.4415  10.0000  BW
    CENTRE-POINT  5866.8440  2337.1106  -47.4237
    BRANCH1-POINT  5866.8600  2337.1106  -39.7987  6.0000  BW
    SKEY TEBW
    ITEM-CODE  3
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5875.3439  2337.1106  -47.4582  10.0000  BW
    END-POINT  5875.4689  2337.1106  -47.4585  10.0000  BW
    SKEY COCP
    ITEM-CODE  230
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5875.4514  2337.1106  -47.4585  10.0000  BW
    END-POINT  5937.1436  2337.1106  -47.5877  10.0000  BW
    ITEM-CODE  8
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5937.1436  2337.1106  -47.6003  10.0000  BW
    END-POINT  5937.2686  2337.1106  -47.6005  10.0000  BW
    SKEY COCP
    ITEM-CODE  232
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  5937.2686  2337.1106  -47.6005  10.0000  BW
    END-POINT  5954.2685  2337.1106  -47.6361  10.0000  BW
    CENTRE-POINT  5945.7685  2337.1106  -47.6183
    BRANCH1-POINT  5945.7845  2337.1106  -39.9934  6.0000  BW
    SKEY TEBW
    ITEM-CODE  3
    ITEM-DESCRIPTION  Reducing Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5954.2685  2337.1106  -47.6529  10.0000  BW
    END-POINT  5954.3935  2337.1106  -47.6532  10.0000  BW
    SKEY COCP
    ITEM-CODE  231
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
TEE
    END-POINT  5954.3935  2337.1106  -47.6532  10.0000  BW
    END-POINT  5971.3934  2337.1106  -47.6888  10.0000  BW
    CENTRE-POINT  5962.8935  2337.1106  -47.6710
    BRANCH1-POINT  5962.8757  2337.1106  -56.1709  10.0000  BW
    SKEY TEBW
    ITEM-CODE  9
    ITEM-DESCRIPTION  Straight Tee
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2047]
COUPLING
    END-POINT  5971.3934  2337.1106  -47.6888  10.0000  BW
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  BW
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2522]
CAP
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  BW
    END-POINT  5971.5184  2337.1106  -47.6890  10.0000  PL
    SKEY KABW
    ITEM-CODE  12
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-1
    ITEM-ATTRIBUTE0 CID=[2060]
PIPELINE-REFERENCE steam-B-LPS-4-2
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
VALVE
    END-POINT  5770.8826  2322.2956  -30.4727  6.0000  FL
    END-POINT  5770.8826  2324.5456  -30.4727  6.0000  FL
    CENTRE-POINT  5770.8826  2323.4206  -30.4727
    SKEY VVFL
    ITEM-CODE  6
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-2
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  5770.8826  2324.5456  -30.4727  6.0000  BW
    END-POINT  5770.8826  2327.9856  -30.4727  6.0000  FL
    SKEY COCP
    ITEM-CODE  5
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-2
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5770.8826  2327.9856  -30.4727  6.0000  BW
    END-POINT  5770.8826  2328.1106  -30.4727  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-2
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5770.8826  2328.1106  -30.4727  6.0000  PL
    END-POINT  5770.8638  2337.1106  -39.4727  6.0000  BW
    CENTRE-POINT  5770.8826  2337.1106  -30.4727
    SKEY ELPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-2
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5770.8638  2337.1106  -39.4727  6.0000  BW
    END-POINT  5770.8635  2337.1106  -39.5977  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-2
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE steam-B-LPS-4-3
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
VALVE
    END-POINT  5866.8791  2322.2956  -30.6737  6.0000  FL
    END-POINT  5866.8791  2324.5456  -30.6737  6.0000  FL
    CENTRE-POINT  5866.8791  2323.4206  -30.6737
    SKEY VVFL
    ITEM-CODE  6
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-3
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  5866.8791  2324.5456  -30.6737  6.0000  BW
    END-POINT  5866.8791  2327.9856  -30.6737  6.0000  FL
    SKEY COCP
    ITEM-CODE  5
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-3
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5866.8791  2327.9856  -30.6737  6.0000  BW
    END-POINT  5866.8791  2328.1106  -30.6737  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-3
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5866.8791  2328.1106  -30.6737  6.0000  PL
    END-POINT  5866.8602  2337.1106  -39.6737  6.0000  BW
    CENTRE-POINT  5866.8791  2337.1106  -30.6737
    SKEY ELPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-3
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5866.8602  2337.1106  -39.6737  6.0000  BW
    END-POINT  5866.8600  2337.1106  -39.7987  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-3
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE steam-B-LPS-4-4
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
VALVE
    END-POINT  5945.8036  2322.2956  -30.8684  6.0000  FL
    END-POINT  5945.8036  2324.5456  -30.8684  6.0000  FL
    CENTRE-POINT  5945.8036  2323.4206  -30.8684
    SKEY VVFL
    ITEM-CODE  6
    ITEM-DESCRIPTION  Jamesbury CS Series 815L Gear Operated Butterfly Valve
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-4
    ITEM-ATTRIBUTE0 CID=[868]
COUPLING
    END-POINT  5945.8036  2324.5456  -30.8684  6.0000  BW
    END-POINT  5945.8036  2327.9856  -30.8684  6.0000  FL
    SKEY COCP
    ITEM-CODE  5
    ITEM-DESCRIPTION  150# Raised Face Weld Neck Flange
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-4
    ITEM-ATTRIBUTE0 CID=[2522]
COUPLING
    END-POINT  5945.8036  2327.9856  -30.8684  6.0000  BW
    END-POINT  5945.8036  2328.1106  -30.8684  6.0000  BW
    SKEY COCP
    ITEM-CODE  240
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-4
    ITEM-ATTRIBUTE0 CID=[2522]
ELBOW
    END-POINT  5945.8036  2328.1106  -30.8684  6.0000  PL
    END-POINT  5945.7848  2337.1106  -39.8684  6.0000  BW
    CENTRE-POINT  5945.8036  2337.1106  -30.8684
    SKEY ELPL
    ITEM-CODE  4
    ITEM-DESCRIPTION  Long Radius 90
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-4
    ITEM-ATTRIBUTE0 CID=[2523]
COUPLING
    END-POINT  5945.7848  2337.1106  -39.8684  6.0000  BW
    END-POINT  5945.7845  2337.1106  -39.9934  6.0000  BW
    SKEY COCP
    ITEM-CODE  237
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-4
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE steam-B-LPS-4-5
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
CAP
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  BW
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  PL
    SKEY KABW
    ITEM-CODE  12
    ITEM-DESCRIPTION  Standard Cap
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2060]
COUPLING
    END-POINT  5962.8500  2337.1106  -71.4209  10.0000  BW
    END-POINT  5962.8503  2337.1106  -71.2959  10.0000  BW
    SKEY COCP
    ITEM-CODE  238
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPE
    END-POINT  5962.8440  2337.1106  -71.2959  10.0000  BW
    END-POINT  5962.8754  2337.1106  -56.2959  10.0000  BW
    ITEM-CODE  11
    ITEM-DESCRIPTION  A53 ERW Std Blk PE
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2041]
COUPLING
    END-POINT  5962.8754  2337.1106  -56.2959  10.0000  BW
    END-POINT  5962.8757  2337.1106  -56.1709  10.0000  BW
    SKEY COCP
    ITEM-CODE  236
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-5
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE steam-B-LPS-4-6
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
COUPLING
    END-POINT  5937.2685  2337.1106  -47.6173  10.0000  BW
    END-POINT  5937.1435  2337.1106  -47.6170  10.0000  BW
    SKEY COCP
    ITEM-CODE  229
    ITEM-DESCRIPTION  Shop Weld
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-6
    ITEM-ATTRIBUTE0 CID=[2522]
PIPELINE-REFERENCE steam-B-LPS-4-7
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
TEE-SET-ON
    CENTRE-POINT  5757.2225  2337.1106  -47.2109
    BRANCH1-POINT  5757.2348  2337.1106  -41.3191  0.7500  PL
    SKEY TESO
    ITEM-CODE  2
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-7
    ITEM-ATTRIBUTE0 CID=[2875]
PIPELINE-REFERENCE steam-B-LPS-4-8
    REVISION  
    PROJECT-IDENTIFIER  
    AREA  Basement
    PIPING-SPEC  No Hangers
    DATE-DMY  21/05/2017
TEE-SET-ON
    CENTRE-POINT  5962.8503  2337.1106  -68.2959
    BRANCH1-POINT  5956.8456  2337.1106  -68.2833  1.0000  PL
    SKEY TESO
    ITEM-CODE  10
    ITEM-DESCRIPTION  Figure Full Anvilet (Thread O Let)
    FABRICATION-ITEM
    PIPING-SPEC  No Hangers
    SPOOL-IDENTIFIER  steam-B-LPS-4-8
    ITEM-ATTRIBUTE0 CID=[2875]